---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 3765f059-839c-42c5-6e70-40f8dd5b0409
      X-Vcap-Request-Id:
      - e2f9254b-1071-4feb-4d8a-8ef5c7052657::6e7845ae-3465-43a5-bc50-14d3491fe2d3
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Thu, 19 Mar 2015 16:33:33 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - 5f796ecd-3acb-40dd-4a2d-b64ff96e5f2f, 870459df-4d97-4269-5cac-52ab773089a3
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"a3d819dd-9bb1-483e-8a65-060f836584e5"}'
  recorded_at: Thu, 19 Mar 2015 16:33:33 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 36fbde24-43f4-4d9e-7648-152b979b4ad8
      X-Vcap-Request-Id:
      - ea9d336e-07c1-4891-7564-1b3e715b9d7e::f2a62798-b162-497e-bcf7-94f69fb4b949
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "2f12c8fe-19b7-4bc2-aeba-062177502ce3",
                "url": "/v2/apps/2f12c8fe-19b7-4bc2-aeba-062177502ce3",
                "created_at": "2015-03-19T16:33:05+00:00",
                "updated_at": "2015-03-19T16:33:33+00:00"
              },
              "entity": {
                "name": "paasal-test-app-all-updated",
                "production": false,
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
                "buildpack": "nodejs_buildpack",
                "detected_buildpack": null,
                "environment_json": {
                  "our_test_var_key": "our_updated_test_var_value",
                  "our_test_var_key2": "our_test_var_value2"
                },
                "memory": 256,
                "instances": 1,
                "disk_quota": 1024,
                "state": "STOPPED",
                "version": "f9ade1bd-5f6c-4cbb-8c96-a6c36a64518a",
                "command": null,
                "console": false,
                "debug": null,
                "staging_task_id": null,
                "package_state": "PENDING",
                "health_check_timeout": null,
                "staging_failed_reason": null,
                "docker_image": null,
                "package_updated_at": null,
                "detected_start_command": "",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
                "events_url": "/v2/apps/2f12c8fe-19b7-4bc2-aeba-062177502ce3/events",
                "service_bindings_url": "/v2/apps/2f12c8fe-19b7-4bc2-aeba-062177502ce3/service_bindings",
                "routes_url": "/v2/apps/2f12c8fe-19b7-4bc2-aeba-062177502ce3/routes"
              }
            }
          ]
        }
  recorded_at: Thu, 19 Mar 2015 16:33:33 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/2f12c8fe-19b7-4bc2-aeba-062177502ce3/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 9ef726d5-4986-48eb-5dcd-6bf3429f34d0
      X-Vcap-Request-Id:
      - da71db8d-def1-4703-54e5-203f6f8c622b::2f04006a-68f0-4037-bd6e-5f26f04bc132
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 2,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "f054f24d-1eb1-40c6-ada4-71f373f401c1",
                "url": "/v2/routes/f054f24d-1eb1-40c6-ada4-71f373f401c1",
                "created_at": "2015-03-19T16:33:06+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "2f12c8fe-19b7-4bc2-aeba-062177502ce3",
                "domain_guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "domain_url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "apps_url": "/v2/routes/f054f24d-1eb1-40c6-ada4-71f373f401c1/apps"
              }
            },
            {
              "metadata": {
                "guid": "8c3c1459-3ee2-4c61-a969-d389af4cd042",
                "url": "/v2/routes/8c3c1459-3ee2-4c61-a969-d389af4cd042",
                "created_at": "2015-03-19T16:33:33+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "cf-bosh-local",
                "domain_guid": "49388e38-4f2e-427a-ab22-bb9f2c249e7b",
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "domain_url": "/v2/domains/49388e38-4f2e-427a-ab22-bb9f2c249e7b",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "apps_url": "/v2/routes/8c3c1459-3ee2-4c61-a969-d389af4cd042/apps"
              }
            }
          ]
        }
  recorded_at: Thu, 19 Mar 2015 16:33:33 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 6ba8d12d-5169-479a-5b1d-203b42160157
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - 44813c4e-3b6c-4ebc-65b2-eafa0b59368f::c9d43fce-e6b7-4a5a-a238-1cd2d42dbb66
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Thu, 19 Mar 2015 16:33:33 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/49388e38-4f2e-427a-ab22-bb9f2c249e7b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 0e23e57b-ff78-4993-6f6e-d3bb83573a8c
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - 741e1f38-14d5-4777-4249-bfc657cc3c2b::3aa75c40-2824-4562-b534-8d064241d9f7
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "49388e38-4f2e-427a-ab22-bb9f2c249e7b",
            "url": "/v2/domains/49388e38-4f2e-427a-ab22-bb9f2c249e7b",
            "created_at": "2015-03-19T16:29:36+00:00",
            "updated_at": null
          },
          "entity": {
            "name": "adomainthatishopefullynotusedontheplatform.de",
            "owning_organization_guid": "d94caddf-45be-4c92-bb2d-62d3a65cbec0",
            "owning_organization_url": "/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0",
            "spaces_url": "/v2/domains/49388e38-4f2e-427a-ab22-bb9f2c249e7b/spaces"
          }
        }
  recorded_at: Thu, 19 Mar 2015 16:33:33 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - b5021643-c7b3-4530-5b78-0631d8ca1085
      X-Vcap-Request-Id:
      - d3b1937c-4f6a-4179-4b0b-7e42e97c155a::7a298744-3145-45d4-a27e-798780e0f17c
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "2f12c8fe-19b7-4bc2-aeba-062177502ce3",
                "url": "/v2/apps/2f12c8fe-19b7-4bc2-aeba-062177502ce3",
                "created_at": "2015-03-19T16:33:05+00:00",
                "updated_at[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/private_domains
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 3adb1f53-badd-43a7-768b-24d92be747d6
      X-Vcap-Request-Id:
      - 2fb7c58d-5288-4126-58ca-507322548ec7::f4a800f8-fd88-4048-b513-a915ad13f7d4
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "49388e38-4f2e-427a-ab22-bb9f2c249e7b",
                "url": "/v2/private_domains/49388e38-4f2e-427a-ab22-bb9f2c249e7b",
                "created_at": "2015-03-19T16:29:36+00:00",
                "updated_at": null
              },
              "entity": {
                "name": "adomainthatishopefullynotusedontheplatform.de",
                "owning_organization_guid": "d94caddf-45be-4c92-bb2d-62d3a65cbec0",
                "owning_organization_url": "/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0"
              }
            }
          ]
        }
  recorded_at: Thu, 19 Mar 2015 16:33:33 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - abb0911c-5190-4ac3-52ff-f4a5e56377a4
      X-Vcap-Request-Id:
      - fa8c89e6-ff30-4f08-55ca-d9eccd43935a::b2bb0b2a-dd60-4046-af20-c1e1abaff73a
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 40,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "334a825b-979e-4a2e-a76b-20c4d9c5867a",
                "url": "/v2/routes/334a825b-979e-4a2e-a76b-20c4d9c5867a",
                "created_at": "2015-03-19T08:21:46+00:00",
                "updated[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/spaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 5cd7fe01-1b03-4b75-5690-c909685077f4
      X-Vcap-Request-Id:
      - 407d89ab-a406-49b8-61b7-49432cbbe296::f7361238-c806-4bfa-886a-f84952d067a8
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "created_at": "2015-03-19T07:21:47+00:00",
                "updated_at": null
              },
              "entity": {
                "name": "development",
                "organization_guid": "d94caddf-45be-4c92-bb2d-62d3a65cbec0",
                "space_quota_definition_guid": null,
                "organization_url": "/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0",
                "developers_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/developers",
                "managers_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/managers",
                "auditors_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/auditors",
                "apps_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/apps",
                "routes_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/routes",
                "domains_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/domains",
                "service_instances_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/service_instances",
                "app_events_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/app_events",
                "events_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/events",
                "security_groups_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/security_groups"
              }
            }
          ]
        }
  recorded_at: Thu, 19 Mar 2015 16:33:33 GMT
- request:
    method: post
    uri: https://api.10.244.0.34.xip.io/v2/routes
    body:
      encoding: UTF-8
      string: '{"domain_guid":"49388e38-4f2e-427a-ab22-bb9f2c249e7b","host":"","space_guid":"d3483f4f-6706-4fe1-ad90-1bd45d50e940"}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - "/v2/routes/5e1e0393-628b-4a1b-916f-6fa2f832f431"
      X-Cf-Requestid:
      - 2e24c13b-5428-467b-456b-b7f2b4f1ca1b
      X-Vcap-Request-Id:
      - e5696cd1-2ab4-4142-580c-dd59bf80b78d::7e650688-0ff9-41fc-a831-764686732a0a
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "5e1e0393-628b-4a1b-916f-6fa2f832f431",
            "url": "/v2/routes/5e1e0393-628b-4a1b-916f-6fa2f832f431",
            "created_at": "2015-03-19T16:33:34+00:00",
            "updated_at": null
          },
          "entity": {
            "host": "",
            "domain_guid": "49388e38-4f2e-427a-ab22-bb9f2c249e7b",
            "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
            "domain_url": "/v2/domains/49388e38-4f2e-427a-ab22-bb9f2c249e7b",
            "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
            "apps_url": "/v2/routes/5e1e0393-628b-4a1b-916f-6fa2f832f431/apps"
          }
        }
  recorded_at: Thu, 19 Mar 2015 16:33:33 GMT
- request:
    method: put
    uri: https://api.10.244.0.34.xip.io/v2/apps/2f12c8fe-19b7-4bc2-aeba-062177502ce3/routes/5e1e0393-628b-4a1b-916f-6fa2f832f431
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 2f4[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/49388e38-4f2e-427a-ab22-bb9f2c249e7b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 5253ceff-05b0-485a-6d1b-8f3a745cd44b
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - 8443ff00-fea4-42bb-6c9a-38711b636bef::b7b255ff-3dfb-4e1f-aa4b-38f8db80d6de
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "49388e38-4f2e-427a-ab22-bb9f2c249e7b",
            "url": "/v2/domains/49388e38-4f2e-427a-ab22-bb9f2c249e7b",
            "created_at": "2015-03-19T16:29:36+00:00",
            "updated_at": null
          },
          "entity": {
            "name": "adomainthatishopefullynotusedontheplatform.de",
            "owning_organization_guid": "d94caddf-45be-4c92-bb2d-62d3a65cbec0",
            "owning_organization_url": "/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0",
            "spaces_url": "/v2/domains/49388e38-4f2e-427a-ab22-bb9f2c249e7b/spaces"
          }
        }
  recorded_at: Thu, 19 Mar 2015 16:33:34 GMT
recorded_with: VCR 2.9.3
