{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["bb89c96c-7d2e-4d92-4535-3ad1e294406e"], "X-Vcap-Request-Id":["6ee0ecd1-3eac-4109-65d2-0b7d3bf8dfb8::d05a0ec6-b42e-48c5-8ffd-e271037eba2d"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:19:30 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["42aae08c-d848-46d8-6f37-c6673078ef95, d787a3f2-e6f5-4821-7cc8-2ec338f282bd"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"651e1a13-14cf-4916-b9f6-f77ed4598894\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:19:30 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["a7c0c680-957d-493f-6bfa-4258d407ce33"], "X-Vcap-Request-Id":["2d822ba4-aa06-45b8-6561-33a289e75745::24d73a4b-51b0-4b4a-8136-ab4f653c1032"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"6a953469-659c-47e2-8419-e496be82866f\",\n        \"url\": \"/v2/apps/6a953469-659c-47e2-8419-e496be82866f\",\n        \"created_at\": \"2015-06-27T12:13:24+00:00\",\n        \"updated_at\": \"2015-06-27T12:13:35+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_test_var_value\",\n          \"our_test_var_key2\": \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"a091206b-1b4e-40cf-99e7-820c9df81a02\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": null,\n        \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/6a953469-659c-47e2-8419-e496be82866f/events\",\n        \"service_bindings_url\": \"/v2/apps/6a953469-659c-47e2-8419-e496be82866f/service_bindings\",\n        \"routes_url\": \"/v2/apps/6a953469-659c-47e2-8419-e496be82866f/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:19:30 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/6a953469-659c-47e2-8419-e496be82866f/env","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["0a1af445-329d-45c3-66f8-1fef8958a949"], "X-Vcap-Request-Id":["f9e1017d-7a5c-4c70-4db8-f733e5f2c654::faabd577-3e24-4e37-85d2-000eaa5e3774"]},"body":{"encoding":"UTF-8","string":"{\n  \"staging_env_json\": {\n\n  },\n  \"running_env_json\": {\n\n  },\n  \"environment_json\": {\n    \"our_test_var_key\": \"our_test_var_value\",\n    \"our_test_var_key2\": \"our_test_var_value2\"\n  },\n  \"system_env_json\": {\n    \"VCAP_SERVICES\": {\n\n    }\n  },\n  \"application_env_json\": {\n    \"VCAP_APPLICATION\": {\n      \"limits\": {\n        \"mem\": 256,\n        \"disk\": 1024,\n        \"fds\": 16384\n      },\n      \"application_version\": \"a091206b-1b4e-40cf-99e7-820c9df81a02\",\n      \"application_name\": \"paasal-test-app-all-updated\",\n      \"application_uris\": [\n        \"6a953469-659c-47e2-8419-e496be82866f.10.244.0.34.xip.io\"\n      ],\n      \"version\": \"a091206b-1b4e-40cf-99e7-820c9df81a02\",\n      \"name\": \"paasal-test-app-all-updated\",\n      \"space_name\": \"development\",\n      \"space_id\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n      \"uris\": [\n        \"6a953469-659c-47e2-8419-e496be82866f.10.244.0.34.xip.io\"\n      ],\n      \"users\": null\n    }\n  }\n}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:19:30 GMT"},[...]
{"request":{"method":"put","uri":"https://api.10.244.0.34.xip.io/v2/apps/6a953469-659c-47e2-8419-e496be82866f","body":{"encoding":"UTF-8","string":"{\"environment_json\":{\"our_test_var_key\":\"our_updated_test_var_value\",\"our_test_var_key2\":\"our_test_var_value2\"}}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requ[...]
