{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["9443bf24-c625-4fca-6541-204b1f25d749"], "X-Vcap-Request-Id":["8378a668-696d-4934-6e95-aec337a10e88::264cda45-afc1-4041-85ab-4a11d8c26606"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"https://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"min_cli_version\":null,\"min_recommended_cli_version\":null,\"api_version\":\"2.40.0\",\"app_ssh_endpoint\":\"ssh.10.244.0.34.xip.io:2222\",\"app_ssh_host_key_fingerprint\":\"e7:13:4e:32:ee:39:62:df:54:41:d7:f7:8b:b2:a7:6b\",\"app_ssh_oauth_client\":\"ssh-proxy\",\"routing_endpoint\":\"https://api.10.244.0.34.xip.io/routing\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\",\"doppler_logging_endpoint\":\"wss://doppler.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Thu, 15 Oct 2015 10:08:49 GMT"},{"request":{"method":"post","uri":"https://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__heroku:password__&username=__pivotal:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["201274a4-1a8b-4d9b-7a72-c964e9c8d276"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"cloud_controller.read password.write cloud_controller.write openid uaa.user\",\"jti\":\"019ed8b1-fd7c-4275-af8e-cb9311fd8c47\"}"},"http_version":null},"recorded_at":"Thu, 15 Oct 2015 10:08:51 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Aapp_never_exists_0123456789","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["35c56969-08d5-412b-6eb4-3cbd38971121"], "X-Vcap-Request-Id":["e551082a-0f4c-4c8b-77fa-94032c66d870::0a4d1f72-ccd2-465a-aeb2-d68fb1c70346"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 0,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n\n  ]\n}"},"http_version":null},"recorded_at":"Thu, 15 Oct 2015 10:08:51 GMT"}],"recorded_with":"VCR 2.9.3"}