{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["927e5ab0-35bd-4fcd-6305-3d0fd37ee64e"], "X-Vcap-Request-Id":["102c4690-9f94-440f-402e-7489ec335bfd::0e03574f-2aec-41a6-83b5-58617fb21f2a"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:22:12 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["5043e9be-d594-4bd0-559f-8068f2e48da2, 0fbff209-f2cc-4ff1-6450-7031005b2a9d"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"4cbbb0a7-1cb9-4c9d-97d5-d0122ea9fd28\"}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:22:12 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["db6a596c-e49f-4753-5300-e29e8c5bfc1e"], "X-Vcap-Request-Id":["c5e5c29d-6560-4315-5735-ce50719f9368::c7a1a9a4-a4cb-477c-8c52-fc41b0bee313"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"d62578b0-14cb-41dc-bb83-b42ddee55282\",\n        \"url\": \"/v2/apps/d62578b0-14cb-41dc-bb83-b42ddee55282\",\n        \"created_at\": \"2015-04-29T07:21:06+00:00\",\n        \"updated_at\": \"2015-04-29T07:21:56+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_updated_test_var_value\",\n          \"our_test_var_key2\": \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STARTED\",\n        \"version\": \"f34e9504-2b09-40ba-bac5-df6b363633ce\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": \"fcf97c202fab48eebf5a7ea4dc93a6d2\",\n        \"package_state\": \"STAGED\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-04-29T07:21:37+00:00\",\n        \"detected_start_command\": \"node server.js\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/d62578b0-14cb-41dc-bb83-b42ddee55282/events\",\n        \"service_bindings_url\": \"/v2/apps/d62578b0-14cb-41dc-bb83-b42ddee55282/service_bindings\",\n        \"routes_url\": \"/v2/apps/d62578b0-14cb-41dc-bb83-b42ddee55282/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:22:12 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/d62578b0-14cb-41dc-bb83-b42ddee55282","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["5f4366e6-fe9c-480f-6044-6eaefb59f74b"], "X-Vcap-Request-Id":["ffdef8c7-5fe2-4296-6d0c-30bb930e5459::e1745275-8[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/d62578b0-14cb-41dc-bb83-b42ddee55282/instances/0/files/logs","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":302,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Location":["https://6d1af9602073498d9dc8150f076df6f3.10.244.0.34.xip.io/instance_paths/fe5bdb0e76654551a5b7a3b91a1459e8?hmac=c5f2d4621c94e9cdd0ef1286468d8ce28f336a5e2c348c45411a69dad5cafc93151a8b23eddae2d0658b2621c719c521891a4a572149ce0a3c1a6b0ed0fd7f1d&path=logs&timestamp=1430292132"], "X-Cf-Requestid":["b8ee3d25-f485-4042-4e3f-da252ffa27d6"], "X-Vcap-Request-Id":["10eabb59-1855-4479-6a1f-a60830bdaefe::e38186d7-c242-4075-b2fb-d187af42b834"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:22:12 GMT"},{"request":{"method":"get","uri":"https://6d1af9602073498d9dc8150f076df6f3.10.244.0.34.xip.io/instance_paths/fe5bdb0e76654551a5b7a3b91a1459e8?hmac=c5f2d4621c94e9cdd0ef1286468d8ce28f336a5e2c348c45411a69dad5cafc93151a8b23eddae2d0658b2621c719c521891a4a572149ce0a3c1a6b0ed0fd7f1d&path=logs&timestamp=1430292132","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["text/plain"], "X-Cf-Requestid":["06b97fe4-229b-4570-4df2-57636029ff1a"]},"body":{"encoding":"UTF-8","string":"staging_task.log                          1.3K\n"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:22:13 GMT"}],"recorded_with":"VCR 2.9.3"}