{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["2d498ec5-9645-475e-5119-4b9ef9791e37"], "X-Vcap-Request-Id":["ec78ae45-497a-41d6-5d1d-5f66edb9e169::81361173-0416-4bcc-867f-7e34e131e796"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"https://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"min_cli_version\":null,\"min_recommended_cli_version\":null,\"api_version\":\"2.40.0\",\"app_ssh_endpoint\":\"ssh.10.244.0.34.xip.io:2222\",\"app_ssh_host_key_fingerprint\":\"e7:13:4e:32:ee:39:62:df:54:41:d7:f7:8b:b2:a7:6b\",\"app_ssh_oauth_client\":\"ssh-proxy\",\"routing_endpoint\":\"https://api.10.244.0.34.xip.io/routing\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\",\"doppler_logging_endpoint\":\"wss://doppler.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Thu, 15 Oct 2015 10:08:45 GMT"},{"request":{"method":"post","uri":"https://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__heroku:password__&username=__pivotal:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["01f5dacc-768c-4b92-6a92-65665a672de5"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"cloud_controller.read password.write cloud_controller.write openid uaa.user\",\"jti\":\"933d7ab1-baab-4f9d-b66a-53a64b215ff4\"}"},"http_version":null},"recorded_at":"Thu, 15 Oct 2015 10:08:47 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["0f9796c6-e35e-4818-5750-5c319b623bb3"], "X-Vcap-Request-Id":["4e9056fc-a369-4d85-4bc1-c16f9f67aa9b::66170679-1b11-4eca-9ab2-32cfea465dac"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"a9f0d33c-5d1e-480a-82fa-57c793a7b6a3\",\n        \"url\": \"/v2/apps/a9f0d33c-5d1e-480a-82fa-57c793a7b6a3\",\n        \"created_at\": \"2015-10-15T10:01:17Z\",\n        \"updated_at\": \"2015-10-15T10:07:19Z\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"f0cf573e-1f0b-49e1-adb5-8192e5647c0a\",\n        \"stack_guid\": \"86205f38-84fc-4bc2-b2b8-af7f55669f04\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_updated_test_var_value\",\n          \"our_test_var_key2\": \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STARTED\",\n        \"version\": \"e5606b99-6222-40ad-bbda-89ce68ebe022\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": \"ba31a6cde49843b9ada8b8e01bdec95c\",\n        \"package_state\": \"STAGED\",\n        \"health_check_type\": \"port\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"staging_failed_description\": null,\n        \"diego\": false,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-10-15T10:05:57Z\",\n        \"detected_start_command\": \"node server.js\",\n        \"enable_ssh\": true,\n        \"docker_credentials_json\": {\n          \"redacted_message\": \"[PRIVATE DATA HIDDEN]\"\n        },\n        \"space_url\": \"/v2/spaces/f0cf573e-1f0b-49e1-adb5-8192e5647c0a\",\n        \"stack_url\": \"/v2/stacks/86205f38-84fc-4bc2-b2b8-af7f55669f04\",\n        \"events_url\": \"/v2/apps/a9f0d33c-5d1e-480a-82fa-57c793a7b6a3/events\",\n        \"service_bindings_url\": \"/v2/apps/a9f0d33c-5d1e-480a-82fa-57c793a7b6a3/service_bindings\",\n        \"routes_url\": \"/v2/apps/a9f0d33c-5d1e-480a-82fa-57c793a7b6a3/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Thu, 15 Oct 2015 10:08:47 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/a9f0d33c-5d1e-480a-82fa-57c793a7b6a3","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["9b1ccafe-2d5d-4849-4812-36ce211cb74a"], "X-Vcap-Request-Id":["c8fa621e-4fd6-45d5-4bc2-366120f5d84a::b7d3f8c7-6[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/a9f0d33c-5d1e-480a-82fa-57c793a7b6a3/instances/0/files/logs","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":302,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Location":["https://132f527e432147279c94f72e7d392fdb.10.244.0.34.xip.io/instance_paths/3f17dfe5c26e46aca91f484ea2498303?hmac=a6504de397bbfe44fff4dc20275f3c58f00c6752fd5bc0a3f05da6ca0d52dc4cb41e191c2fa6f4021c751b44e9a1782c07b4e00cd5ac85cb2bacd1647e318016&path=logs&timestamp=1444903721"], "X-Cf-Requestid":["7545893d-9f2d-46e2-6446-fbe92133a8f2"], "X-Vcap-Request-Id":["edfe0df5-3f45-42e7-6d62-edcd7631e925::a9eef7d9-d10f-4737-aab6-1f3e0048867e"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Thu, 15 Oct 2015 10:08:48 GMT"},{"request":{"method":"get","uri":"https://132f527e432147279c94f72e7d392fdb.10.244.0.34.xip.io/instance_paths/3f17dfe5c26e46aca91f484ea2498303?hmac=a6504de397bbfe44fff4dc20275f3c58f00c6752fd5bc0a3f05da6ca0d52dc4cb41e191c2fa6f4021c751b44e9a1782c07b4e00cd5ac85cb2bacd1647e318016&path=logs&timestamp=1444903721","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["text/plain"], "X-Cf-Requestid":["a6a7fd43-322a-4742-4342-d07e8e0b5bcc"]},"body":{"encoding":"UTF-8","string":"staging_task.log                          1.8K\n"},"http_version":null},"recorded_at":"Thu, 15 Oct 2015 10:08:49 GMT"}],"recorded_with":"VCR 2.9.3"}