{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-04-28T15:55:31.241786\"}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 15:40:31 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties40/deployment/paasal/addon","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties40/deployment/paasal/addon"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[{\"addon_option\": {\"name\": \"alias.free\"}, \"settings\": {}}, {\"addon_option\": {\"name\": \"mysqls.free\"}, \"settings\": {\"MYSQLS_DATABASE\": \"depyv5wqzzv\", \"MYSQLS_PASSWORD\": \"lS_pAScH6UWB\", \"MYSQLS_USERNAME\": \"depyv5wqzzv\", \"MYSQLS_PORT\": 3306, \"MYSQLS_HOSTNAME\": \"mysqlsdb.co8hm2var4k9.eu-west-1.rds.amazonaws.com\"}}, {\"addon_option\": {\"name\": \"config.free\"}, \"settings\": {\"CONFIG_VARS\": {\"our_test_var_key2\": \"our_test_var_value2\", \"our_test_var_key\": \"our_updated_test_var_value\"}}}]"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 15:40:31 GMT"},{"request":{"method":"put","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties40/deployment/paasal/addon/mysqls.free","body":{"encoding":"UTF-8","string":"{\"addon\":\"an_invalid_service\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":400,"message":null},"headers":{"Allow":["GET, POST, PUT, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties40/deployment/paasal/addon/mysqls.free"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"Bad Request {\"addon\": \"This is not a valid addon option string. Try something like \\\"mysql.free\\\".\"}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 15:40:32 GMT"}],"recorded_with":"VCR 2.9.3"}