{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-06-27T09:57:23.632170\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:43:04 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties70/deployment/paasal/addon","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties70/deployment/paasal/addon"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[{\"addon_option\": {\"name\": \"alias.free\"}, \"settings\": {}}, {\"addon_option\": {\"name\": \"mysqls.free\"}, \"settings\": {\"MYSQLS_HOSTNAME\": \"mysqlsdb.co8hm2var4k9.eu-west-1.rds.amazonaws.com\", \"MYSQLS_USERNAME\": \"depw4abttwv\", \"MYSQLS_PORT\": 3306, \"MYSQLS_DATABASE\": \"depw4abttwv\", \"MYSQLS_PASSWORD\": \"2no0xFoSCx8R\"}}, {\"addon_option\": {\"name\": \"config.free\"}, \"settings\": {\"CONFIG_VARS\": {\"our_test_var_key\": \"our_updated_test_var_value\", \"our_test_var_key2\": \"our_test_var_value2\"}}}]"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:43:05 GMT"},{"request":{"method":"put","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties70/deployment/paasal/addon/mysqls.free","body":{"encoding":"UTF-8","string":"{\"addon\":\"an_invalid_service\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":400,"message":null},"headers":{"Allow":["GET, POST, PUT, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties70/deployment/paasal/addon/mysqls.free"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"Bad Request {\"addon\": \"This is not a valid addon option string. Try something like \\\"mysql.free\\\".\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:43:05 GMT"}],"recorded_with":"VCR 2.9.3"}