{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-05-14T06:39:39.279557\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:24:39 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties62/deployment/paasal/addon","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties62/deployment/paasal/addon"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[{\"addon_option\": {\"name\": \"alias.free\"}, \"settings\": {}}, {\"addon_option\": {\"name\": \"mysqls.free\"}, \"settings\": {\"MYSQLS_HOSTNAME\": \"mysqlsdb.co8hm2var4k9.eu-west-1.rds.amazonaws.com\", \"MYSQLS_PASSWORD\": \"yUiRqRJ_jGBt\", \"MYSQLS_USERNAME\": \"depfc24r2a6\", \"MYSQLS_PORT\": 3306, \"MYSQLS_DATABASE\": \"depfc24r2a6\"}}, {\"addon_option\": {\"name\": \"config.free\"}, \"settings\": {\"CONFIG_VARS\": {\"our_test_var_key2\": \"our_test_var_value2\", \"our_test_var_key\": \"our_updated_test_var_value\"}}}]"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:24:39 GMT"}],"recorded_with":"VCR 2.9.3"}