{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["355bffce-2e65-4d6f-5a3d-aa42feb8cc59"], "X-Vcap-Request-Id":["82d68e8e-581b-49bc-7e9a-bc19e247bc5e::a9926d21-fb69-44d4-9546-26867b828821"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:20 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=an_invalid_password&username=an_invalid_username","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":401,"message":null},"headers":{"Content-Type":["application/json"], "Www-Authenticate":["Bearer realm=\"oauth\", error=\"unauthorized\", error_description=\"Authentication failed\""], "X-Cf-Requestid":["8ff1c785-b923-45a5-5050-989d88e144b6"]},"body":{"encoding":"UTF-8","string":"{\"error\":\"unauthorized\",\"error_description\":\"Authentication failed\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:20 GMT"}],"recorded_with":"VCR 2.9.3"}