{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["6f7db701-af56-4d42-4e92-e9dd4b7a6be4"], "X-Vcap-Request-Id":["3ef7b9c6-0d12-4589-6b7c-9f80ff210ced::ea2d7e62-87a8-45a1-b477-979d1f132831"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:29:22 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=an_invalid_password&username=an_invalid_username","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":401,"message":null},"headers":{"Content-Type":["application/json"], "Www-Authenticate":["Bearer realm=\"oauth\", error=\"unauthorized\", error_description=\"Authentication failed\""], "X-Cf-Requestid":["e2d1b1e1-cd88-44de-756a-bf57ae72497b"]},"body":{"encoding":"UTF-8","string":"{\"error\":\"unauthorized\",\"error_description\":\"Authentication failed\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:29:22 GMT"}],"recorded_with":"VCR 2.9.3"}