---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - ba06bf84-6662-4e9f-7d10-9548cae94bf3
      X-Vcap-Request-Id:
      - 3682ba4a-6875-4aa5-790e-ace36421ae75::6f410c79-58e2-4847-884f-067a372a880c
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Wed, 08 Apr 2015 15:38:43 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - 4c43b218-d60c-4df2-4ab6-22d5e9ef9c43, 13121256-07ba-49d7-629a-861f139cd571
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"2df104a5-d3eb-4004-9901-2d8ec74bc88d"}'
  recorded_at: Wed, 08 Apr 2015 15:38:43 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 97abbb11-d9ac-443d-4479-8166dce17115
      X-Vcap-Request-Id:
      - 2102c039-3bde-4050-6866-f9901c770642::a175dedf-3398-41a5-b097-c39850b6750c
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "277a3488-6b05-4331-83ff-45f182929977",
                "url": "/v2/apps/277a3488-6b05-4331-83ff-45f182929977",
                "created_at": "2015-04-08T15:37:26+00:00",
                "updated_at": "2015-04-08T15:38:13+00:00"
              },
              "entity": {
                "name": "paasal-test-app-all-updated",
                "production": false,
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
                "buildpack": "nodejs_buildpack",
                "detected_buildpack": null,
                "environment_json": {
                  "our_test_var_key": "our_updated_test_var_value",
                  "our_test_var_key2": "our_test_var_value2"
                },
                "memory": 256,
                "instances": 1,
                "disk_quota": 1024,
                "state": "STARTED",
                "version": "fa02549f-637e-4ba2-8e80-7adb077f6088",
                "command": null,
                "console": false,
                "debug": null,
                "staging_task_id": "2337cd1c6bd04422b2ad55911e008d55",
                "package_state": "STAGED",
                "health_check_timeout": null,
                "staging_failed_reason": null,
                "docker_image": null,
                "package_updated_at": "2015-04-08T15:37:53+00:00",
                "detected_start_command": "node server.js",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
                "events_url": "/v2/apps/277a3488-6b05-4331-83ff-45f182929977/events",
                "service_bindings_url": "/v2/apps/277a3488-6b05-4331-83ff-45f182929977/service_bindings",
                "routes_url": "/v2/apps/277a3488-6b05-4331-83ff-45f182929977/routes"
              }
            }
          ]
        }
  recorded_at: Wed, 08 Apr 2015 15:38:43 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/277a3488-6b05-4331-83ff-45f182929977
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - fe2e36b5-958f-44df-420c-46e0ce376f17
      X-Vc[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/277a3488-6b05-4331-83ff-45f182929977/instances/0/files/logs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 302
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://6d1af9602073498d9dc8150f076df6f3.10.244.0.34.xip.io/instance_paths/98108b5cc8e04d4c955ced39eeeb7c6d?hmac=470ed795377a814fb327c11db52f10a812a79a699dec42f6f15e2426851c4ad68517a0043be3b4be95043bb81a2eb72255fc9016ff0ec5740cce2b7369093399&path=logs&timestamp=1428507523
      X-Cf-Requestid:
      - 97a7a845-be43-4f8c-77f2-75bf20dfbc59
      X-Vcap-Request-Id:
      - 0f9bb5f7-9396-44f7-580f-3761f783b941::080c85c2-625b-4f6b-9777-6b75de8644fb
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 08 Apr 2015 15:38:43 GMT
- request:
    method: get
    uri: https://6d1af9602073498d9dc8150f076df6f3.10.244.0.34.xip.io/instance_paths/98108b5cc8e04d4c955ced39eeeb7c6d?hmac=470ed795377a814fb327c11db52f10a812a79a699dec42f6f15e2426851c4ad68517a0043be3b4be95043bb81a2eb72255fc9016ff0ec5740cce2b7369093399&path=logs&timestamp=1428507523
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - text/plain
      X-Cf-Requestid:
      - 0b8d47c3-cc3b-451d-777a-4e53d692e79c
    body:
      encoding: UTF-8
      string: |
        staging_task.log                          1.3K
  recorded_at: Wed, 08 Apr 2015 15:38:43 GMT
recorded_with: VCR 2.9.3
