{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["74587a4f-8459-4f3a-5923-b9f32abfbbee"], "X-Vcap-Request-Id":["2635fb13-0914-438a-77c7-5556efa6e0b7::2c4476ef-d62b-4d32-93e3-7e9ae0b46f16"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:29:54 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["e67a0add-8c0e-448d-712a-e2f7c4933382, b311860a-59b5-496a-4e04-e251e52458f3"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"fa7977dd-d850-4c74-8378-cd96644a240f\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:29:54 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["347ff0f3-a85f-44fd-487b-50fb90d32794"], "X-Vcap-Request-Id":["22269790-1027-42f8-5a4e-d792963c4fcb::49faceb4-df03-4f48-9aa3-3d0b0e8681f9"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"b45e0373-49a8-4e70-b38f-76aeae572a16\",\n        \"url\": \"/v2/apps/b45e0373-49a8-4e70-b38f-76aeae572a16\",\n        \"created_at\": \"2015-04-24T08:29:25+00:00\",\n        \"updated_at\": \"2015-04-24T08:29:43+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_updated_test_var_value\",\n          \"our_test_var_key2\": \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"a59f1dfe-5f85-4b79-b618-18585cbdecfa\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": null,\n        \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/b45e0373-49a8-4e70-b38f-76aeae572a16/events\",\n        \"service_bindings_url\": \"/v2/apps/b45e0373-49a8-4e70-b38f-76aeae572a16/service_bindings\",\n        \"routes_url\": \"/v2/apps/b45e0373-49a8-4e70-b38f-76aeae572a16/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:29:54 GMT"}],"recorded_with":"VCR 2.9.3"}