{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["52284514-505c-4942-6fd0-5946d47ba37c"], "X-Vcap-Request-Id":["f2901f71-fa71-47a2-7bd0-1dd49d848ccb::5abd19c1-cb69-472d-90df-101eeed2eb08"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:44:02 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["6c0739c1-4095-4dc0-78f2-8f3c111c2e89, e0907939-27a3-444f-5554-77b5a2e61a8a"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"752c9197-730a-453f-b6ba-f0b64bba61be\"}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:44:02 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["583ef4bb-0fc9-47c1-67c9-8c2cf022b126"], "X-Vcap-Request-Id":["f19f2092-68f5-456d-6c81-04e6c3209abe::3a0e1913-29a1-4100-bbc3-244db8f329ac"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"9522777b-2037-49ff-841e-63f0f187c6ab\",\n        \"url\": \"/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab\",\n        \"created_at\": \"2015-07-28T12:43:53+00:00\",\n        \"updated_at\": \"2015-07-28T12:43:59+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"52555387-5fbf-4b1a-b2ae-79e31721375a\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": null,\n        \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab/events\",\n        \"service_bindings_url\": \"/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab/service_bindings\",\n        \"routes_url\": \"/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:44:02 GMT"},{"request":{"method":"head","uri":"https://api.10.244.0.34.xip.io/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab/download","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["e143cbcd-d823-4915-5618-64b9348dc546"], "X-Vcap-Request-Id":["aab6d20a-9598-4e6b-6a21-eddda76893ed::1487f920-d593-438b-a321-13ed46e69ee2"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:44:02 GMT"}],"recorded_with":"VCR 2.9.3"}