{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["cb742501-e981-419c-4bad-ecd4310f7d74"], "X-Vcap-Request-Id":["19bfd866-58fe-4ddc-4faa-3723d44676b4::90323642-81f2-48ff-8eb2-4a950e624266"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:24 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["0306e8cc-11e9-41a5-61a3-2ff9f9de511d, 3f888a48-9a3c-413a-5daf-cfba04195007"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"3f18bb3a-c137-48b7-aa7b-95482983192d\"}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:24 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["b60c93d8-aad4-4c34-78af-611779540dcf"], "X-Vcap-Request-Id":["f0793797-9027-4a9e-4231-6426fe675f47::719d800e-b1d2-43dc-9cd2-c60bfe66f7f4"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"d62578b0-14cb-41dc-bb83-b42ddee55282\",\n        \"url\": \"/v2/apps/d62578b0-14cb-41dc-bb83-b42ddee55282\",\n        \"created_at\": \"2015-04-29T07:21:06+00:00\",\n        \"updated_at\": \"2015-04-29T07:21:24+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_updated_test_var_value\",\n          \"our_test_var_key2\": \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"615252af-e21b-43ad-ae0a-cc75d0e42179\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": null,\n        \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/d62578b0-14cb-41dc-bb83-b42ddee55282/events\",\n        \"service_bindings_url\": \"/v2/apps/d62578b0-14cb-41dc-bb83-b42ddee55282/service_bindings\",\n        \"routes_url\": \"/v2/apps/d62578b0-14cb-41dc-bb83-b42ddee55282/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:24 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/d62578b0-14cb-41dc-bb83-b42ddee55282/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["2e98fc8a-a9f0-4981-4bbf-66caea0b9110"], "X-Vcap-Request-Id":["1e34ebdd-705f-4955-45c2-b83872123255::86d14bad-d481-415c-98f6-9cda2c5054cc"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 3,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"db02488f-9b09-443a-a3e7-4d0ae17521a7\",\n        \"url\": \"/v2/routes/db02488f-9b09-443a-a3e7-4d0ae17521a7\",\n        \"created_at\": \"2015-04-29T07:21:06+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"d62578b0-14cb-41dc-bb83-b42ddee55282\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/db02488f-9b09-443a-a3e7-4d0ae17521a7/apps\"\n      }\n    },\n    {\n      \"metadata\": {\n        \"guid\": \"d0a900b6-06ad-4f6c-a3f3-e00800d31bea\",\n        \"url\": \"/v2/routes/d0a900b6-06ad-4f6c-a3f3-e00800d31bea\",\n        \"created_at\": \"2015-04-29T07:21:23+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"cf-bosh-local\",\n        \"domain_guid\": \"37076f61-480e-4dc3-b301-5b8c8934ce4d\",\n        \"space_guid\": \"d3483f4f-6706[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["ebecc1d9-b8ca-4983-5f4c-4e55a6036c09"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["537f8753-19f3-4a72-6136-a0871c7c15a3::e3b203b0-096a-489f-ad75-070b55ed69e8"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:24 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/37076f61-480e-4dc3-b301-5b8c8934ce4d","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["b359cb99-35b1-4fe8-6f87-4f6bb4269a4a"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["5e2deddc-9ffa-4ca4-52f8-1d52cb111baf::5dabe48e-696d-4a89-81a6-e77f3266a914"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"37076f61-480e-4dc3-b301-5b8c8934ce4d\",\n    \"url\": \"/v2/domains/37076f61-480e-4dc3-b301-5b8c8934ce4d\",\n    \"created_at\": \"2015-04-20T09:21:15+00:00\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"name\": \"adomainthatishopefullynotusedontheplatform.de\",\n    \"owning_organization_guid\": \"d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n    \"owning_organization_url\": \"/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n    \"spaces_url\": \"/v2/domains/37076f61-480e-4dc3-b301-5b8c8934ce4d/spaces\"\n  }\n}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:24 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/37076f61-480e-4dc3-b301-5b8c8934ce4d","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["f4a7baa7-bdc5-4487-7ca6-f42582c57c23"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["1728f7ee-8e46-4183-7dc3-11e269126ab8::b1939100-47ef-4067-b26a-a0db384be007"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"37076f61-480e-4dc3-b301-5b8c8934ce4d\",\n    \"url\": \"/v2/domains/37076f61-480e-4dc3-b301-5b8c8934ce4d\",\n    \"created_at\": \"2015-04-20T09:21:15+00:00\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"name\": \"adomainthatishopefullynotusedontheplatform.de\",\n    \"owning_organization_guid\": \"d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n    \"owning_organization_url\": \"/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n    \"spaces_url\": \"/v2/domains/37076f61-480e-4dc3-b301-5b8c8934ce4d/spaces\"\n  }\n}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:24 GMT"}],"recorded_with":"VCR 2.9.3"}