---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - b7b9b996-4523-4165-6b9e-7af93e3a0a92
      X-Vcap-Request-Id:
      - 3ad47fac-a905-4dcf-7796-e4170dda00ed::ff6350e9-1c2b-48a4-96f3-fad7d57fc6d0
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Wed, 08 Apr 2015 15:40:25 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - b23e82a5-6aac-43eb-5b3f-57cdb2c7bbcb, 2789c7d1-56b3-4dea-65c7-e53c6d83333b
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"c7b26ad6-2d84-48f2-93f8-b646368e7bf4"}'
  recorded_at: Wed, 08 Apr 2015 15:40:26 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 78050d2e-fe38-4ff7-4e12-c6825e82a132
      X-Vcap-Request-Id:
      - 773457df-a2e4-4cad-544d-438eebfe5b61::fff0c1fd-bb97-435f-80c1-798b1e51bc4d
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "277a3488-6b05-4331-83ff-45f182929977",
                "url": "/v2/apps/277a3488-6b05-4331-83ff-45f182929977",
                "created_at": "2015-04-08T15:37:26+00:00",
                "updated_at": "2015-04-08T15:40:25+00:00"
              },
              "entity": {
                "name": "paasal-test-app-all-updated",
                "production": false,
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
                "buildpack": "nodejs_buildpack",
                "detected_buildpack": null,
                "environment_json": {
                  "our_test_var_key": "our_updated_test_var_value",
                  "our_test_var_key2": "our_test_var_value2"
                },
                "memory": 256,
                "instances": 1,
                "disk_quota": 1024,
                "state": "STARTED",
                "version": "e491914d-d91a-4b97-9c7f-d839de6a2fa9",
                "command": null,
                "console": false,
                "debug": null,
                "staging_task_id": "ec5e59b56c3d43dcbbab5f447d7f6422",
                "package_state": "PENDING",
                "health_check_timeout": null,
                "staging_failed_reason": null,
                "docker_image": null,
                "package_updated_at": "2015-04-08T15:37:53+00:00",
                "detected_start_command": "node server.js",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
                "events_url": "/v2/apps/277a3488-6b05-4331-83ff-45f182929977/events",
                "service_bindings_url": "/v2/apps/277a3488-6b05-4331-83ff-45f182929977/service_bindings",
                "routes_url": "/v2/apps/277a3488-6b05-4331-83ff-45f182929977/routes"
              }
            }
          ]
        }
  recorded_at: Wed, 08 Apr 2015 15:40:26 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/277a3488-6b05-4331-83ff-45f182929977/env
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 8ba5ccf9-4883-4c5a-4358-c6460a6085c6
      X-Vcap-Request-Id:
      - cfbabbb2-753f-43d0-727c-29ef504f74bb::64555223-722f-42cb-8e10-93944e98a8da
    body:
      encoding: UTF-8
      string: |-
        {
          "staging_env_json": {

          },
          "running_env_json": {

          },
          "environment_json": {
            "our_test_var_key": "our_updated_test_var_value",
            "our_test_var_key2": "our_test_var_value2"
          },
          "system_env_json": {
            "VCAP_SERVICES": {

            }
          },
          "application_env_json": {
            "VCAP_APPLICATION": {
              "limits": {
                "mem": 256,
                "disk": 1024,
                "fds": 16384
              },
              "application_version": "e491914d-d91a-4b97-9c7f-d839de6a2fa9",
              "application_name": "paasal-test-app-all-updated",
              "application_uris": [
                "277a3488-6b05-4331-83ff-45f182929977.10.244.0.34.xip.io"
              ],
              "version": "e491914d-d91a-4b97-9c7f-d839de6a2fa9",
              "name": "paasal-test-app-all-updated",
              "space_name": "development",
              "space_id": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
              "uris": [
                "277a3488-6b05-4331-83ff-45f182929977.10.244.0.34.xip.io"
              ],
              "users": null
            }
          }
        }
  recorded_at: Wed, 08 Apr 2015 15:40:26 GMT
[...]
- request:
    method: put
    uri: https://api.10.244.0.34.xip.io/v2/apps/277a3488-6b05-4331-83ff-45f182929977
    body:
      encoding: UTF-8
      string: '{"environment_json":{"our_test_var_key2":"our_test_var_value2"}}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Reque[...]
