{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-06-20T10:22:28.218504\"}"},"http_version":null},"recorded_at":"Sat, 20 Jun 2015 10:07:36 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties69/deployment","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties69/deployment"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[{\"name\": \"paasaltestappallproperties69/paasal\", \"dep_id\": \"depundfuet4\"}]"},"http_version":null},"recorded_at":"Sat, 20 Jun 2015 10:07:37 GMT"},{"request":{"method":"delete","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties69/deployment/paasal","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":204,"message":null},"headers":{"Allow":["GET, POST, PUT, DELETE, HEAD, OPTIONS"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties69/deployment/paasal"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Sat, 20 Jun 2015 10:07:38 GMT"},{"request":{"method":"delete","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties69","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":204,"message":null},"headers":{"Allow":["GET, POST, DELETE, HEAD, OPTIONS"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties69"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Sat, 20 Jun 2015 10:07:39 GMT"}],"recorded_with":"VCR 2.9.3"}