{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/04/23 23:26:34 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 07:37:41 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated/addons","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Expansion":["addon_service, plan"], "Content-Range":["name mongolab..mongolab"], "Content-Type":["application/json"], "ETag":["\"74d3e4c70b36b9be16bcd1a1f8441150\""], "Last-Modified":["Fri, 24 Apr 2015 07:36:15 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2397"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"config_vars\":[\"MONGOLAB_URI\"],\"created_at\":\"2015-04-24T07:36:15Z\",\"id\":\"17e83ec3-f000-4d39-bb2f-0fa5c34660e0\",\"name\":\"mongolab\",\"addon_service\":{\"id\":\"3dfb031f-23f4-4123-856f-5cb95ecdadc9\",\"name\":\"mongolab\"},\"plan\":{\"id\":\"8e6163ec-a935-4738-a0f4-60867f4f86cb\",\"name\":\"mongolab:sandbox\"},\"app\":{\"id\":\"d449a2b1-4b0a-4d78-a1d9-0eb08e7ae8d6\",\"name\":\"paasal-test-app-all-updated\"},\"provider_id\":\"resource9864674@heroku.com\",\"updated_at\":\"2015-04-24T07:36:15Z\",\"web_url\":\"https://addons-sso.heroku.com/apps/paasal-test-app-all-updated/addons/9d9dd5fb-134b-4415-92a0-50d3646ee24b\"}]"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 07:37:47 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/addon-services/3dfb031f-23f4-4123-856f-5cb95ecdadc9","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"fde0806e2d728c89afdbf37b8582e5fd\""], "Last-Modified":["Fri, 24 Apr 2015 07:37:27 GMT"], "RateLimit-Remaining":["2396"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"created_at\":\"2011-04-01T06:41:39Z\",\"human_name\":\"MongoLab\",\"id\":\"3dfb031f-23f4-4123-856f-5cb95ecdadc9\",\"name\":\"mongolab\",\"state\":\"ga\",\"updated_at\":\"2015-04-24T07:37:27Z\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 07:37:49 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/addon-services/3dfb031f-23f4-4123-856f-5cb95ecdadc9/plans","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["name dedicated-cluster-m1..shared-single-small"], "Content-Type":["application/json"], "ETag":["\"b1c7aef3681db1fb4d1e0641d12c852c\""], "Last-Modified":["Fri, 05 Dec 2014 21:29:58 GMT"], "RateLimit-Remaining":["2395"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"created_at\":\"2014-12-05T19:44:24Z\",\"default\":false,\"description\":\"MongoLab Dedicated Cluster M1\",\"human_name\":\"Dedicated Cluster M1\",\"id\":\"643a604c-868a-4bf1-8119-5dd9a4a92b51\",\"name\":\"mongolab:dedicated-cluster-m1\",\"price\":{\"cents\":24000,\"unit\":\"month\"},\"state\":\"ga\",\"updated_at\":\"2014-12-05T21:29:58Z\"},{\"created_at\":\"2014-12-05T19:48:46Z\",\"default\":false,\"description\":\"MongoLab Dedicated Cluster M2\",\"human_name\":\"Dedicated Cluster M2\",\"id\":\"bad337f7-dfba-43d8-ab65-04ee6cc82a65\",\"name\":\"mongolab:dedicated-cluster-m2\",\"price\":{\"cents\":48000,\"unit\":\"month\"},\"state\":\"ga\",\"updated_at\":\"2014-12-05T21:29:58Z\"},{\"created_at\":\"2014-12-05T19:49:51Z\",\"default\":false,\"description\":\"MongoLab [...]
{"request":{"method":"get","uri":"https://api.heroku.com/apps/d449a2b1-4b0a-4d78-a1d9-0eb08e7ae8d6/config-vars","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"d9ffca07d43140c5771b314f3e0b8dd6\""], "Last-Modified":["Fri, 24 Apr 2015 07:36:15 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read-protected write-protected"], "RateLimit-Remaining":["2394"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"our_test_var_key\":\"our_updated_test_var_value\",\"our_test_var_key2\":\"our_test_var_value2\",\"MONGOLAB_URI\":\"mongodb://heroku_app36187642:gftut4e2d8d8sh2nt89hbp0ulc@ds031531.mongolab.com:31531/heroku_app36187642\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 07:37:53 GMT"}],"recorded_with":"VCR 2.9.3"}