---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 9789b853-c479-49b3-7183-9889c08c6789
      X-Vcap-Request-Id:
      - 597d5481-908a-4a85-61ca-ede8e6a90079::9fcf666b-1d87-4004-baf1-212204a0c015
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Thu, 19 Mar 2015 16:33:26 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - 413e5671-556a-4365-6727-4b42d80a9b2a, 427095cf-7995-4d7c-6f04-bdc1f950039e
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"f5becd8e-2ac9-41fd-987d-00fd3c6e37d7"}'
  recorded_at: Thu, 19 Mar 2015 16:33:26 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - ad3de3d0-b3c9-43b6-7646-7e67d4da0360
      X-Vcap-Request-Id:
      - 1a745a01-1d2f-4feb-4522-019d6667d6cf::7454e09b-8bc5-4496-bf47-2a6b9e5db7c5
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "2f12c8fe-19b7-4bc2-aeba-062177502ce3",
                "url": "/v2/apps/2f12c8fe-19b7-4bc2-aeba-062177502ce3",
                "created_at": "2015-03-19T16:33:05+00:00",
                "updated_at": "2015-03-19T16:33:23+00:00"
              },
              "entity": {
                "name": "paasal-test-app-all-updated",
                "production": false,
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
                "buildpack": "nodejs_buildpack",
                "detected_buildpack": null,
                "environment_json": {
                  "our_test_var_key": "our_test_var_value",
                  "our_test_var_key2": "our_test_var_value2"
                },
                "memory": 256,
                "instances": 1,
                "disk_quota": 1024,
                "state": "STOPPED",
                "version": "e2fe3400-b4cc-4913-9fca-5eadb6e76892",
                "command": null,
                "console": false,
                "debug": null,
                "staging_task_id": null,
                "package_state": "PENDING",
                "health_check_timeout": null,
                "staging_failed_reason": null,
                "docker_image": null,
                "package_updated_at": null,
                "detected_start_command": "",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
                "events_url": "/v2/apps/2f12c8fe-19b7-4bc2-aeba-062177502ce3/events",
                "service_bindings_url": "/v2/apps/2f12c8fe-19b7-4bc2-aeba-062177502ce3/service_bindings",
                "routes_url": "/v2/apps/2f12c8fe-19b7-4bc2-aeba-062177502ce3/routes"
              }
            }
          ]
        }
  recorded_at: Thu, 19 Mar 2015 16:33:26 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/2f12c8fe-19b7-4bc2-aeba-062177502ce3/env
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 4ee744c5-fed5-49e5-7f2a-8f5d72be354c
      X-Vcap-Request-Id:
      - 0c8b26e4-2ac8-4e09-7ead-7f12ca6a9235::8f6aba04-704e-4ce9-be7b-95ea3bd57152
    body:
      encoding: UTF-8
      string: |-
        {
          "staging_env_json": {

          },
          "running_env_json": {

          },
          "environment_json": {
            "our_test_var_key": "our_test_var_value",
            "our_test_var_key2": "our_test_var_value2"
          },
          "system_env_json": {
            "VCAP_SERVICES": {

            }
          },
          "application_env_json": {
            "VCAP_APPLICATION": {
              "limits": {
                "mem": 256,
                "disk": 1024,
                "fds": 16384
              },
              "application_version": "e2fe3400-b4cc-4913-9fca-5eadb6e76892",
              "application_name": "paasal-test-app-all-updated",
              "application_uris": [
                "2f12c8fe-19b7-4bc2-aeba-062177502ce3.10.244.0.34.xip.io"
              ],
              "version": "e2fe3400-b4cc-4913-9fca-5eadb6e76892",
              "name": "paasal-test-app-all-updated",
              "space_name": "development",
              "space_id": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
              "uris": [
                "2f12c8fe-19b7-4bc2-aeba-062177502ce3.10.244.0.34.xip.io"
              ],
              "users": null
            }
          }
        }
  recorded_at: Thu, 19 Mar 2015 16:33:26 GMT
[...]
- request:
    method: put
    uri: https://api.10.244.0.34.xip.io/v2/apps/2f12c8fe-19b7-4bc2-aeba-062177502ce3
    body:
      encoding: UTF-8
      string: '{"environment_json":{"our_test_var_key":"our_updated_test_var_value","our_test_var_key2":"our_test_var_value2"}}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 21495b10-e1b4-4df0-4d1d-8b6a2e094029
      X-Vcap-Request-Id:
      - ff2ed954-8a91-436a-677d-1e398a0ea6c2::191ba4a2-8982-4737-ae5a-21b08752e5af
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "2f12c8fe-19b7-4bc2-aeba-062177502ce3",
            "url": "/v2/apps/2f12c8fe-19b7-4bc2-aeba-062177502ce3",
            "created_at": "2015-03-19T16:33:05+00:00",
            "updated_at": "2015-03-19T16:33:26+00:00"
          },
          "entity": {
            "name": "paasal-test-app-all-updated",
            "production": false,
            "space_guid[...]
