{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-05-18T19:37:37.766045\"}"},"http_version":null},"recorded_at":"Mon, 18 May 2015 19:22:37 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/addon","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/addon"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[{\"name\": \"alias\", \"stage\": \"public\", \"options\": [{\"name\": \"alias.free\", \"thirty_days_price\": \"0.00\", \"price_is_per_box\": false}, {\"name\": \"alias.wildcard\", \"thirty_days_price\": \"3.90\", \"price_is_per_box\": false}]}, {\"name\": \"blitz\", \"stage\": \"public\", \"options\": [{\"name\": \"blitz.250\", \"thirty_days_price\": \"0.00\", \"price_is_per_box\": false}, {\"name\": \"blitz.1000\", \"thirty_days_price\": \"669.90\", \"price_is_per_box\": false}, {\"name\": \"blitz.5000\", \"thirty_days_price\": \"1099.90\", \"price_is_per_box\": false}]}, {\"name\": \"cloudamqp\", \"stage\": \"public\", \"options\"[...]
