{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/05/13 23:58:10 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:58:20 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/paasal-test-app-min-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"c9c85b168963c27ee0f30e552ce865dc\""], "Last-Modified":["Thu, 14 May 2015 06:58:11 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2380"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"archived_at\":null,\"buildpack_provided_description\":\"Node.js\",\"build_stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"created_at\":\"2015-05-14T06:44:19Z\",\"id\":\"b081fb34-82db-48a5-a995-523e6b975e8e\",\"git_url\":\"git@heroku.com:paasal-test-app-min-updated.git\",\"maintenance\":false,\"name\":\"paasal-test-app-min-updated\",\"owner\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"region\":{\"id\":\"59accabd-516d-4f0e-83e6-6e3757701145\",\"name\":\"us\"},\"released_at\":\"2015-05-14T06:58:09Z\",\"repo_size\":null,\"slug_size\":12589587,\"stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"updated_at\":\"2015-05-14T06:58:11Z\",\"web_url\":\"https://paasal-test-app-min-updated.herokuapp.com/\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:58:20 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/b081fb34-82db-48a5-a995-523e6b975e8e/dynos","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"ec5c5ae13434766108b9afb9a42e6364\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2379"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:58:21 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/b081fb34-82db-48a5-a995-523e6b975e8e/formation","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"c9c85b168963c27ee0f30e552ce865dc\""], "Last-Modified":["Thu, 14 May 2015 06:58:11 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2378"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"command\":\"node server.js\",\"created_at\":\"2015-05-14T06:58:09Z\",\"id\":\"6a58f887-d2f8-4716-ac89-3e4e75c711f0\",\"type\":\"web\",\"quantity\":0,\"size\":\"1X\",\"updated_at\":\"2015-05-14T06:58:11Z\"}]"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:58:21 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/b081fb34-82db-48a5-a995-523e6b975e8e/buildpack-installations","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["ordinal 0..0"], "Content-Type":["application/json"], "ETag":["\"87d7b85882f94ae872184eafce30ccd8\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2377"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"buildpack\":{\"url\":\"https://github.com/heroku/heroku-buildpack-nodejs\"},\"ordinal\":0}]"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:58:22 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/b081fb34-82db-48a5-a995-523e6b975e8e/releases","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["version 1..4"], "Content-Type":["application/json"], "ETag":["\"f1b1b5aef76add5b74d6bba6411da3ed\""], "Last-Modified":["Thu, 14 May 2015 06:58:09 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read-protected write-protected"], "RateLimit-Remaining":["2376"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"app\":{\"id\":\"b081fb34-82db-48a5-a995-523e6b975e8e\",\"name\":\"paasal-test-app-min-updated\"},\"created_at\":\"2015-05-14T06:44:19Z\",\"description\":\"Initial release\",\"id\":\"123f1c25-a270-459c-9c43-d97ebd38c805\",\"slug\":null,\"updated_at\":\"2015-05-14T06:44:19Z\",\"user\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"version\":1},{\"app\":{\"id\":\"b081fb34-82db-48a5-a995-523e6b975e8e\",\"name\":\"paasal-test-app-min-updated\"},\"created_at\":\"2015-05-14T06:44:19Z\",\"description\":\"Enable Logplex\",\"id\":\"18c4f8b2-fc0f-42ab-9737-a951dbd3b115\",\"slug\":null,\"updated_at\":\"2015-05-14T06:44:19Z\",\"user\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"version\":2},{\"app\":{\"id\":\"b081fb34-82db-48a5-a995-523e6b975e8e\",\"name\":\"paasal-test-app-min-updated\"},\"created_at\":\"2015-05-14T06:49:42Z\",\"description\":\"Set our_test_var_key config vars\",\"id\":\"c2ff131b-68a5-4782-bd19-87e7577bfbd9\",\"slug\":null,\"updated_at\":\"2015-05-14T06:49:42Z\",\"user\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"version\":3},{\"app\":{\"id\":\"b081fb34-82db-48a5-a995-523e6b975e8e\",\"name\":\"paasal-test-app-min-updated\"},\"created_at\":\"2015-05-14T06:58:09Z\",\"description\":\"Deploy 7f07882\",\"id\":\"8d46e52e-cda7-4978-867d-604e642e878a\",\"slug\":{\"id\":\"ab17c08c-9a0d-4201-8d20-a1de4b7d6bc2\"},\"updated_at\":\"2015-05-14T06:58:09Z\",\"user\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"version\":4}]"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:58:23 GMT"}],"recorded_with":"VCR 2.9.3"}