{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/04/28 12:38:50 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:38:59 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"549f6e40ab48bfa434151ef58e290a26\""], "Last-Modified":["Tue, 28 Apr 2015 19:38:51 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2337"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"archived_at\":null,\"buildpack_provided_description\":\"Node.js\",\"build_stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"created_at\":\"2015-04-28T19:26:42Z\",\"id\":\"6fdf309b-980d-44fa-a4d0-8661e416ea14\",\"git_url\":\"git@heroku.com:paasal-test-app-all-updated.git\",\"maintenance\":false,\"name\":\"paasal-test-app-all-updated\",\"owner\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"region\":{\"id\":\"59accabd-516d-4f0e-83e6-6e3757701145\",\"name\":\"us\"},\"released_at\":\"2015-04-28T19:38:48Z\",\"repo_size\":2703001,\"slug_size\":12554072,\"stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"updated_at\":\"2015-04-28T19:39:00Z\",\"web_url\":\"https://paasal-test-app-all-updated.herokuapp.com/\"}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:39:00 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/6fdf309b-980d-44fa-a4d0-8661e416ea14/dynos","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"ec5c5ae13434766108b9afb9a42e6364\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2336"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:39:00 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/6fdf309b-980d-44fa-a4d0-8661e416ea14/formation","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"4b4455cde51fb43c22529ca429df9916\""], "Last-Modified":["Tue, 28 Apr 2015 19:39:00 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2335"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"command\":\"node server.js\",\"created_at\":\"2015-04-28T19:38:48Z\",\"id\":\"c6397259-1765-49d7-b25d-aed562a4bc3f\",\"type\":\"web\",\"quantity\":0,\"size\":\"1X\",\"updated_at\":\"2015-04-28T19:38:51Z\"}]"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:39:01 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/6fdf309b-980d-44fa-a4d0-8661e416ea14/buildpack-installations","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["ordinal 0..0"], "Content-Type":["application/json"], "ETag":["\"87d7b85882f94ae872184eafce30ccd8\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2334"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"buildpack\":{\"url\":\"https://github.com/heroku/heroku-buildpack-nodejs\"},\"ordinal\":0}]"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:39:01 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/6fdf309b-980d-44fa-a4d0-8661e416ea14/releases","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["version 1..7"], "Content-Type":["application/json"], "ETag":["\"a3cf1ae3e90db774f24ad543f7d0918d\""], "Last-Modified":["Tue, 28 Apr 2015 19:38:48 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read-protected write-protected"], "RateLimit-Remaining":["2333"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"app\":{\"id\":\"6fdf309b-980d-44fa-a4d0-8661e416ea14\",\"name\":\"paasal-test-app-all-updated\"},\"created_at\":\"2015-04-28T19:26:42Z\",\"description\":\"Initial release\",\"id\":\"e21af3c6-9c90-4ea5-a82b-884103c31907\",\"slug\":null,\"updated_at\":\"2015-04-28T19:26:42Z\",\"user\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"version\":1},{\"app\":{\"id\":\"6fdf309b-980d-44fa-a4d0-8661e416ea14\",\"name\":\"paasal-test-app-all-updated\"},\"created_at\":\"2015-04-28T19:26:42Z\",\"description\":\"Enable Logplex\",\"id\":\"d2b39e6f-4d2b-48c4-a67e-8e6368644ad6\",\"slug\":null,\"updated_at\":\"2015-04-28T19:26:42Z\",\"user\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"version\":2},{\"app\":{\"id\":\"6fdf309b-980d-44fa-a4d0-8661e416ea14\",\"name\":\"paasal-test-app-all-updated\"},\"created_at\":\"2015-04-28T19:31:28Z\"[...]
