{"http_interactions":[{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/user","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"3378689cf18b9b6ee3f87699a72c89b1\""], "ProxyTime":["D=829321"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["547c8e445973ca306e0000ad"]},"body":{"encoding":"UTF-8","string":"{\"api_version\":1.7,\"data\":{\"capabilities\":{\"subaccounts\":false,\"gear_sizes\":[\"small\",\"small.highcpu\",\"medium\",\"large\"],\"plan_upgrade_enabled\":true,\"private_ssl_certificates\":true,\"view_global_teams\":false,\"max_storage_per_gear\":30},\"consumed_gears\":3,\"created_at\":\"2014-12-01T15:50:28Z\",\"currency_cd\":\"eur\",\"email\":\"__openshift-online:user__\",\"id\":\"547c8e445973ca306e0000ad\",\"links\":{\"ADD_KEY\":{\"href\":\"https://openshift.redhat.com/broker/rest/user/keys\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Add new SSH key\",\"required_params\":[{\"description\":\"Name of the key\",\"invalid_options\":[],\"name\":\"name\",\"type\":\"string\",\"valid_options\":[]},{\"description\":\"Type of Key\",\"invalid_options\":[],\"name\":\"type\",\"type\":\"string\",\"valid_options\":[\"ssh-rsa\",\"ssh-dss\",\"ssh-rsa-cert-v01@openssh.com\",\"ssh-dss-cert-v01@openssh.com\",\"ssh-rsa-cert-v00@openssh.com\",\"ssh-dss-cert-v00@openssh.com\"]},{\"description\":\"The key portion of an ssh key (excluding key type and comment)\",\"invalid_options\":[],\"name\":\"content\",\"type\":\"string\",\"valid_options\":[]}]},\"LIST_KEYS\":{\"href\":\"https://openshift.redhat.com/broker/rest/user/keys\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"List SSH keys\",\"required_params\":[]}},\"login\":\"__openshift-online:user__\",\"max_domains\":3,\"max_gears\":16,\"max_teams\":15,\"plan_expiration_date\":null,\"plan_id\":\"bronze\",\"plan_quantity\":1,\"plan_state\":\"ACTIVE\",\"usage_account_id\":\"32488930\",\"usage_rates\":{\"prepaid\":false,\"storage\":{\"gigabyte\":[{\"min\":0,\"max\":30,\"usd\":1.0,\"cad\":1.0,\"eur\":1.0,\"duration\":\"month\"}]}}},\"messages\":[],\"status\":\"ok\",\"supported_api_versions\":[1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7],\"type\":\"user\",\"version\":\"1.7\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 07:56:37 GMT"}],"recorded_with":"VCR 2.9.3"}