{"http_interactions":[{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["847e78d5-f7f4-4202-7b9c-5de2eecb7905"], "X-Vcap-Request-Id":["9e0d8e7b-b938-4c6a-7dc1-7db8ed5628b5::806502e0-d28d-4386-9c0a-c9610d979559"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"https://login.run.pivotal.io\",\"token_endpoint\":\"https://uaa.run.pivotal.io\",\"min_cli_version\":null,\"min_recommended_cli_version\":null,\"api_version\":\"2.41.0\",\"app_ssh_endpoint\":\"ssh.run.pivotal.io:2222\",\"app_ssh_host_key_fingerprint\":\"e7:13:4e:32:ee:39:62:df:54:41:d7:f7:8b:b2:a7:6b\",\"app_ssh_oauth_client\":\"ssh-proxy\",\"routing_endpoint\":\"https://api.run.pivotal.io/routing\",\"logging_endpoint\":\"wss://loggregator.run.pivotal.io:443\",\"doppler_logging_endpoint\":\"wss://doppler.run.pivotal.io:443\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 01:22:23 GMT"},{"request":{"method":"post","uri":"https://login.run.pivotal.io/oauth/token?grant_type=password&password=__pivotal:password__&username=__pivotal:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["56368395-6a93-4a77-5de7-299acb1ebcde"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"cloud_controller.read password.write cloud_controller.write openid uaa.user\",\"jti\":\"433e4cfb-3d23-4548-887f-fed2ec00b723\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 01:22:24 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/apps?q=name%3Anucleus-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["e869fb04-4da7-4110-70cd-534390436747"], "X-Vcap-Request-Id":["8e545152-09ad-4968-712d-53d595ba8e20::ad702ce5-6ab4-483c-b51f-0ea1a6c3dd96"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"ab451001-c9b9-466f-bdb3-5d548aa168a5\",\n        \"url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5\",\n        \"created_at\": \"2015-10-23T00:00:21Z\",\n        \"updated_at\": \"2015-10-23T01:22:04Z\"\n      },\n      \"entity\": {\n        \"name\": \"nucleus-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"stack_guid\": \"86205f38-84fc-4bc2-b2b8-af7f55669f04\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": \"\",\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_updated_test_var_value\",\n          \"our_test_var_key2\": \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STARTED\",\n        \"version\": \"0f635d91-29b4-4d86-a86d-9e717172450f\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": \"c9fe2fbfe92f4231a0fd932e2c27efea\",\n        \"package_state\": \"STAGED\",\n        \"health_check_type\": \"port\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"staging_failed_description\": null,\n        \"diego\": true,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-10-23T01:20:56Z\",\n        \"detected_start_command\": \"node server.js\",\n        \"enable_ssh\": true,\n        \"docker_credentials_json\": {\n          \"redacted_message\": \"[PRIVATE DATA HIDDEN]\"\n        },\n        \"space_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"stack_url\": \"/v2/stacks/86205f38-84fc-4bc2-b2b8-af7f55669f04\",\n        \"events_url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/events\",\n        \"service_bindings_url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/service_bindings\",\n        \"routes_url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 01:22:25 GMT"},{"request":{"method":"head","uri":"https://api.run.pivotal.io/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/download","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":302,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Location":["https://go-cloudfoundry-com-cc-packages.s3.amazonaws.com/ab/45/ab451001-c9b9-466f-bdb3-5d548aa168a5?X-Amz-Expires=3600&X-Amz-Date=20151023T012210Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIE6ZRHCA76CZLWGQ/20151023/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=76844f4b06ecb4aceb456a1b3ceb46efa42116cebaf6552885ae19957b99b1a4"], "X-Cf-Requestid":["3842163b-39b1-4079-4964-4e9887041a6c"], "X-Vcap-Request-Id":["909fc368-6e2a-42da-6950-151a28047a45::7998145f-b125-44b3-9e91-fb5c4e3aa251"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 01:22:26 GMT"},{"request":{"method":"put","uri":"https://api.run.pivotal.io/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5","body":{"encoding":"UTF-8","string":"{\"state\":\"STARTED\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["8e668155-5cc2-4174-6ffc-b4e34a1bcb10"], "X-Vcap-Request-Id":["a8beba76-c734-443e-4040-d24e7bad[...]
{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["415779db-f0e1-4ee3-41d4-ae0eff4251d4"], "X-Vcap-Request-Id":["650f4bb4-0f46-40ca-7f6e-108217d1b288::e9e3fef9-6255-4d82-920c-9ed44a9e1166"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 3,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"d683a967-34fa-4691-843e-d6cb5c7e76e3\",\n        \"url\": \"/v2/routes/d683a967-34fa-4691-843e-d6cb5c7e76e3\",\n        \"created_at\": \"2015-10-23T00:00:31Z\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"ab451001-c9b9-466f-bdb3-5d548aa168a5\",\n        \"path\": \"\",\n        \"domain_guid\": \"fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n        \"space_guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"service_instance_guid\": null,\n        \"port\": 0,\n        \"domain_url\": \"/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n        \"space_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"apps_url\": \"/v2/routes/d683a967-34fa-4691-843e-d6cb5c7e76e3/apps\"\n      }\n    },\n    {\n      \"metadata\": {\n        \"guid\": \"64c53b75-d1ee-48af-bcbe-57b240518632\",\n        \"url\": \"/v2/routes/64c53b75-d1ee-48af-bcbe-57b240518632\",\n        \"created_at\": \"2015-10-23T00:06:07Z\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"pivotal\",\n        \"path\": \"\",\n        \"domain_guid\": \"941a6da5-a872-4440-8e90-2f9b96efc500\",\n        \"space_guid\": \[...]
{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["f11ac5e2-8dc6-403c-52b9-2a2b8ae03ab4"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["6796fea9-6154-432d-459e-cfb72779e32d::e73bcd08-edd4-4e82-a271-a8529061c7c7"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n    \"url\": \"/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n    \"created_at\": \"2013-05-04T00:29:46Z\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"name\": \"cfapps.io\",\n    \"router_group_guid\": null\n  }\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 01:22:27 GMT"},[...]
{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["c8ebe9b2-cc84-4a21-4b61-f29928a6f533"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["404a675d-6c9e-43d0-7f1d-7d2bd80fe03a::bdedc87d-3da2-49db-b088-356326f6baa0"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n    \"url\": \"/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n    \"created_at\": \"2013-05-04T00:29:46Z\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"name\": \"cfapps.io\",\n    \"router_group_guid\": null\n  }\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 01:22:30 GMT"}],"recorded_with":"VCR 2.9.3"}