{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["edcc8d6c-0b5d-4408-54e2-5b5d6d20078c"], "X-Vcap-Request-Id":["19c18d52-fc18-4e0f-4a27-5461fafdfd08::722ba0de-c009-43ca-b0c0-b91479af55cc"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:19:52 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["71ae1874-2dd6-43b1-4320-33a983a66cd0, 0aac4e0e-4002-41e6-74ef-74c0c9d96626"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"16bc3feb-f9d6-4f72-b726-bcc80083e19a\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:19:52 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["1cdda438-bc71-4f22-407c-b81c57b81001"], "X-Vcap-Request-Id":["94948f67-7783-4aca-7513-66145d52cff4::374c0af1-abbb-4251-9949-d942fe8b2fbb"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"6a953469-659c-47e2-8419-e496be82866f\",\n        \"url\": \"/v2/apps/6a953469-659c-47e2-8419-e496be82866f\",\n        \"created_at\": \"2015-06-27T12:13:24+00:00\",\n        \"updated_at\": \"2015-06-27T12:13:55+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_updated_test_var_value\",\n          \"our_test_var_key2\": \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"5f57d86e-5292-43c5-8e70-cce52d52c7d1\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-06-27T12:13:55+00:00\",\n        \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/6a953469-659c-47e2-8419-e496be82866f/events\",\n        \"service_bindings_url\": \"/v2/apps/6a953469-659c-47e2-8419-e496be82866f/service_bindings\",\n        \"routes_url\": \"/v2/apps/6a953469-659c-47e2-8419-e496be82866f/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:19:52 GMT"},{"request":{"method":"head","uri":"https://api.10.244.0.34.xip.io/v2/apps/6a953469-659c-47e2-8419-e496be82866f/download","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Etag":["\"558e9383-20e7d0\""], "Last-Modified":["Sat, 27 Jun 2015 12:13:55 GMT"], "X-Cf-Requestid":["78bb769e-a667-4fb3-6d82-d001140688f3"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:19:52 GMT"},{"request":{"method":"put","uri":"https://api.10.244.0.34.xip.io/v2/apps/6a953469-659c-47e2-8419-e496be82866f","body":{"encoding":"UTF-8","string":"{\"state\":\"STARTED\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-App-Staging-Log":["https://6d1af9602073498d9dc8150f076df6f3.10.244.0.34.xip.io/staging_tasks/a0226b884c2b47e88ee06f04e6353bf7/file_path?hmac=14624bf1261a7a1768503d2d408f73811807ac88e372a9c80faafe64292d59c7cdd57f23eb78c97ed67e6d3f5e7d7855e73cc4625be75df1eaffc3732e12efd1&path=%2Ftmp%2Fstaged%2Flogs%2Fstaging_task.log&timestamp=1435407239"], "X-Cf-Requestid":["b552a888-0098-47e5-56cd-1b508399a40c"], "X-Vcap-Request-Id":["40d0f4e6-15f7-445c-7987-925429a5273e::3f7ce546-6145-44c4-a98f-8cc34d809b49"]},"body":{"encoding[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/6a953469-659c-47e2-8419-e496be82866f/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["0eb6b273-1fda-4d67-7be6-0b62e338ee66"], "X-Vcap-Request-Id":["4adacb65-fce3-4b0d-64e4-cf82fb7a58a9::41cc358a-7dd1-4170-bd07-70e56244b1ed"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 3,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"add422b5-7a21-415e-91a4-b8319c6c0a1f\",\n        \"url\": \"/v2/routes/add422b5-7a21-415e-91a4-b8319c6c0a1f\",\n        \"created_at\": \"2015-06-27T12:13:24+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"6a953469-659c-47e2-8419-e496be82866f\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/add422b5-7a21-415e-91a4-b8319c6c0a1f/apps\"\n      }\n    },\n    {\n      \"metadata\": {\n        \"guid\": \"3c29d461-c993-4900-9b72-4cc840cc5b89\",\n        \"url\": \"/v2/routes/3c29d461-c993-4900-9b72-4cc840cc5b89\",\n        \"created_at\": \"2015-06-27T12:13:42+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"cf-bosh-local\",\n        \"domain_guid\": \"37076f61-480e-4dc3-b301-5b8c8934ce4d\",\n        \"space_guid\": \"d3483f4f-6706[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["19358fa9-ab4c-4895-5f2c-bce81dddeece"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["c76f0dc8-3bec-469c-70e7-2e9843aaa4ce::628fbca7-a911-4b4f-8561-fe6f9cfc4008"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:19:53 GMT"},[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["137ee301-c542-4689-423e-60d8d20d87a9"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["b177d2e2-9f3c-4ae9-5cb3-ca4e8608da04::183c87a0-d5d1-470e-9d95-b1e03b8ffccd"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:20:08 GMT"}],"recorded_with":"VCR 2.9.3"}