{"http_interactions":[{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["cfa0ca8c-36fe-43ac-437e-57cd06fa5ff9"], "X-Vcap-Request-Id":["f8dfbb34-fc8c-409b-78ef-62c512aaf89f::aaf59d7a-8c20-40aa-9800-f1d297b6b033"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"https://login.run.pivotal.io\",\"token_endpoint\":\"https://uaa.run.pivotal.io\",\"min_cli_version\":null,\"min_recommended_cli_version\":null,\"api_version\":\"2.41.0\",\"app_ssh_endpoint\":\"ssh.run.pivotal.io:2222\",\"app_ssh_host_key_fingerprint\":\"e7:13:4e:32:ee:39:62:df:54:41:d7:f7:8b:b2:a7:6b\",\"app_ssh_oauth_client\":\"ssh-proxy\",\"routing_endpoint\":\"https://api.run.pivotal.io/routing\",\"logging_endpoint\":\"wss://loggregator.run.pivotal.io:443\",\"doppler_logging_endpoint\":\"wss://doppler.run.pivotal.io:443\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 01:23:09 GMT"},{"request":{"method":"post","uri":"https://login.run.pivotal.io/oauth/token?grant_type=password&password=__pivotal:password__&username=__pivotal:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["64406f18-39a5-4d42-6d34-347cb03bd1d9"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"cloud_controller.read password.write cloud_controller.write openid uaa.user\",\"jti\":\"86fb20f3-5f8f-436d-81ea-2a86da7f36e6\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 01:23:11 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/apps?q=name%3Anucleus-test-app-min-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["a57186cd-f052-4db7-7456-219ec7c29f8c"], "X-Vcap-Request-Id":["7450823b-8cd6-4659-681a-be693538d60b::86f1f2fb-5c73-4188-94b5-de63ea7acc60"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"1291fd16-6280-4eb3-8e14-9e61fe71bec3\",\n        \"url\": \"/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3\",\n        \"created_at\": \"2015-10-23T00:00:45Z\",\n        \"updated_at\": \"2015-10-23T01:21:26Z\"\n      },\n      \"entity\": {\n        \"name\": \"nucleus-test-app-min-updated\",\n        \"production\": false,\n        \"space_guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"stack_guid\": \"86205f38-84fc-4bc2-b2b8-af7f55669f04\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_test_var_value\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"d97952cb-2510-4775-9d29-b4591d08247f\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n        \"health_check_type\": \"port\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"staging_failed_description\": null,\n        \"diego\": true,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-10-23T01:21:26Z\",\n        \"detected_start_command\": \"\",\n        \"enable_ssh\": true,\n        \"docker_credentials_json\": {\n          \"redacted_message\": \"[PRIVATE DATA HIDDEN]\"\n        },\n        \"space_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"stack_url\": \"/v2/stacks/86205f38-84fc-4bc2-b2b8-af7f55669f04\",\n        \"events_url\": \"/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3/events\",\n        \"service_bindings_url\": \"/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3/service_bindings\",\n        \"routes_url\": \"/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 01:23:11 GMT"},{"request":{"method":"head","uri":"https://api.run.pivotal.io/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3/download","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":302,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Location":["https://go-cloudfoundry-com-cc-packages.s3.amazonaws.com/12/91/1291fd16-6280-4eb3-8e14-9e61fe71bec3?X-Amz-Expires=3600&X-Amz-Date=20151023T012257Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIE6ZRHCA76CZLWGQ/20151023/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=4f9ea82e18a973d6ec1adb61d33304dd645d8da62bb01ef1f84029528aa5885a"], "X-Cf-Requestid":["e0a9a85a-a999-414c-7790-4202205be434"], "X-Vcap-Request-Id":["46486a6b-cd99-417a-5676-02edf4c0b926::e2982c63-4436-4bbb-b7f2-94d88cf54640"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 01:23:12 GMT"},{"request":{"method":"put","uri":"https://api.run.pivotal.io/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3","body":{"encoding":"UTF-8","string":"{\"state\":\"STARTED\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["b2cb87ad-d237-4c59-6989-fc05520ee6c0"], "X-Vcap-Request-Id":["ec8eeaca-4a30-451b-533e-dfa8a3f0[...]
{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["1261363b-a631-443b-5006-c867814ef064"], "X-Vcap-Request-Id":["a81dfddc-561b-4cf0-747f-db3d1a90cd04::695039cc-bf5e-486f-a4f3-db8582a5861e"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"e962b67c-23ef-46a2-8dde-f6e25598c359\",\n        \"url\": \"/v2/routes/e962b67c-23ef-46a2-8dde-f6e25598c359\",\n        \"created_at\": \"2015-10-23T00:00:53Z\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"1291fd16-6280-4eb3-8e14-9e61fe71bec3\",\n        \"path\": \"\",\n        \"domain_guid\": \"fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n        \"space_guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"service_instance_guid\": null,\n        \"port\": 0,\n        \"domain_url\": \"/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n        \"space_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"apps_url\": \"/v2/routes/e962b67c-23ef-46a2-8dde-f6e25598c359/apps\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 01:23:14 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["ff07c168-626d-45af-6990-48ad95c57511"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["fe12e33e-1d0f-4f94-527f-145f714ca2d6::87de334a-7b9b-4bf7-8bda-df59ebcc1b75"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n    \"url\": \"/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n    \"created_at\": \"2013-05-04T00:29:46Z\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"name\": \"cfapps.io\",\n    \"router_group_guid\": null\n  }\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 01:23:15 GMT"},[...]
{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["23c8ce61-0ee5-4aaa-4f12-d7915061cac2"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["c8a3b323-707e-407d-769d-da0bd25258bc::2aeccc3f-36e9-4ef4-b75e-566386240fff"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n    \"url\": \"/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n    \"created_at\": \"2013-05-04T00:29:46Z\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"name\": \"cfapps.io\",\n    \"router_group_guid\": null\n  }\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 01:23:55 GMT"}],"recorded_with":"VCR 2.9.3"}