{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["626efb3a-75e1-413f-41ba-70aa3d3ed3c2"], "X-Vcap-Request-Id":["d12e48c9-5f21-4631-595b-5a901aeaa037::86473d93-3e1f-4e5e-879e-6a099cc57e96"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:40:15 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["7e25a506-d40e-45ca-62b2-40040acc20d5, 6727c94f-95a3-4fb7-5460-f7f7da0d81a8"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"c3ef6e99-7ad3-4d57-a809-31d6dfb712e0\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:40:15 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["f872a574-d116-48da-5d7d-3f2e13ef7b35"], "X-Vcap-Request-Id":["fbec3736-46b6-486c-78bc-1de269fc853f::7035bae8-80c5-41b8-b709-11a5e4bda79a"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"562765db-8c59-4c06-aae7-10076d378aee\",\n        \"url\": \"/v2/apps/562765db-8c59-4c06-aae7-10076d378aee\",\n        \"created_at\": \"2015-05-14T06:39:24+00:00\",\n        \"updated_at\": \"2015-05-14T06:39:58+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-min-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_test_var_value\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"785bda93-c608-4305-b6c4-d036669859a2\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-05-14T06:39:58+00:00\",\n        \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/562765db-8c59-4c06-aae7-10076d378aee/events\",\n        \"service_bindings_url\": \"/v2/apps/562765db-8c59-4c06-aae7-10076d378aee/service_bindings\",\n        \"routes_url\": \"/v2/apps/562765db-8c59-4c06-aae7-10076d378aee/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:40:15 GMT"},{"request":{"method":"head","uri":"https://api.10.244.0.34.xip.io/v2/apps/562765db-8c59-4c06-aae7-10076d378aee/download","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Etag":["\"5554433e-20e7d0\""], "Last-Modified":["Thu, 14 May 2015 06:39:58 GMT"], "X-Cf-Requestid":["fb328836-7b49-4206-70bb-32b730c01753"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:40:15 GMT"},{"request":{"method":"put","uri":"https://api.10.244.0.34.xip.io/v2/apps/562765db-8c59-4c06-aae7-10076d378aee","body":{"encoding":"UTF-8","string":"{\"state\":\"STARTED\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-App-Staging-Log":["https://6d1af9602073498d9dc8150f076df6f3.10.244.0.34.xip.io/staging_tasks/36cae2b4b5254c99800e03861af0da6e/file_path?hmac=492b67cd0b32ae45d56f1cbf4690be48eb7f65b8deae2e8bf1883533a476ce8206ee3e721a526413e3884ae9e59e75d7a08055f2d8bc9b55c58d0ef2a49e1c26&path=%2Ftmp%2Fstaged%2Flogs%2Fstaging_task.log&timestamp=1431585617"], "X-Cf-Requestid":["08f26f37-be9e-4ea9-4220-a4a29d6038f1"], "X-Vcap-Request-Id":["49cd290d-2527-4666-437c-f59136681ed4::abeb0363-51c7-4375-aaac-de9f1c26af1d"]},"body":{"encoding[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/562765db-8c59-4c06-aae7-10076d378aee/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["5fec7a36-9c57-405d-62d5-43fc9259fd82"], "X-Vcap-Request-Id":["704da3e4-8fde-4166-73b7-c86abdc0e71d::cdf1fe11-3ee9-453c-94ed-d9854d96a9f3"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"e00b6d16-4b94-418d-96eb-667e4f8d1c43\",\n        \"url\": \"/v2/routes/e00b6d16-4b94-418d-96eb-667e4f8d1c43\",\n        \"created_at\": \"2015-05-14T06:39:24+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"562765db-8c59-4c06-aae7-10076d378aee\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/e00b6d16-4b94-418d-96eb-667e4f8d1c43/apps\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:40:17 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["6d7339e8-b202-4c40-5153-72b4496d7fef"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["4ed0c716-4eea-4fdb-5211-a1503b4e5f69::594ed099-6d0d-4ad4-b584-4b219c073213"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:40:17 GMT"},[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["5dadf19e-4064-4128-5b2a-3a0e692b01ad"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["2f7d1cc4-7f03-4784-56bf-b32f3987b19d::1048b7be-be0e-4c6d-b6bb-bb1f4ed16288"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:40:27 GMT"}],"recorded_with":"VCR 2.9.3"}