{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["90bf4633-b954-4f8c-432d-63923d0b2a71"], "X-Vcap-Request-Id":["e6c2c19f-2c41-4398-7193-a81dc40dc5dc::199a7abb-46fe-4d69-8eb4-990cafbe9a64"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:22:07 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["5942f5fc-0567-4c67-6385-a27c5c0bc5ea, e04aad6b-e7e6-4257-582e-308aa0a8309c"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"08f50c93-e5d4-47f0-8707-2c6e9fc9a56a\"}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:22:08 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["b6c0fc7a-36cc-429c-4b7b-8e1553149957"], "X-Vcap-Request-Id":["c4e9eeb3-a359-4901-56ac-95ac2982b9bb::672f47ca-4e76-4720-ac99-137abc7eb515"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"a90a8849-f060-4927-8ddf-7596489393bb\",\n        \"url\": \"/v2/apps/a90a8849-f060-4927-8ddf-7596489393bb\",\n        \"created_at\": \"2015-04-29T07:21:07+00:00\",\n        \"updated_at\": \"2015-04-29T07:22:07+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-min-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_test_var_value\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STARTED\",\n        \"version\": \"9050f38e-eaa1-43a7-bd3b-fa9c7ed61511\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": \"80338a08e1984e49af1db9691b889eae\",\n        \"package_state\": \"STAGED\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-04-29T07:21:40+00:00\",\n        \"detected_start_command\": \"node server.js\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/a90a8849-f060-4927-8ddf-7596489393bb/events\",\n        \"service_bindings_url\": \"/v2/apps/a90a8849-f060-4927-8ddf-7596489393bb/service_bindings\",\n        \"routes_url\": \"/v2/apps/a90a8849-f060-4927-8ddf-7596489393bb/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:22:08 GMT"},{"request":{"method":"head","uri":"https://api.10.244.0.34.xip.io/v2/apps/a90a8849-f060-4927-8ddf-7596489393bb/download","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Etag":["\"55408684-20e7d0\""], "Last-Modified":["Wed, 29 Apr 2015 07:21:40 GMT"], "X-Cf-Requestid":["caac1c1a-d68b-4ec4-6caa-b84478f79089"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:22:08 GMT"},{"request":{"method":"put","uri":"https://api.10.244.0.34.xip.io/v2/apps/a90a8849-f060-4927-8ddf-7596489393bb","body":{"encoding":"UTF-8","string":"{\"state\":\"STARTED\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["5eb0066f-ff5d-4ef2-50d0-7189693ac51d"], "X-Vcap-Request-Id":["66e1dabc-8d48-4c91-78c0-4297[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/a90a8849-f060-4927-8ddf-7596489393bb/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["7635e954-2b95-4557-56e1-1b18ed75f435"], "X-Vcap-Request-Id":["e7d2edcf-10e0-4895-509d-4e4b0983704b::5bede707-c745-4724-8eb6-56bc81d601eb"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"23a9c5b5-4b9d-4581-87e8-3e9e4fcf30d8\",\n        \"url\": \"/v2/routes/23a9c5b5-4b9d-4581-87e8-3e9e4fcf30d8\",\n        \"created_at\": \"2015-04-29T07:21:07+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"a90a8849-f060-4927-8ddf-7596489393bb\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/23a9c5b5-4b9d-4581-87e8-3e9e4fcf30d8/apps\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:22:08 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["bb5c46f3-7be1-4606-69e9-acc347d45dcf"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["8fa42413-da8f-4d09-4d85-b5a668a9fb11::7c9880cb-c04b-4f79-919c-9157d0c367df"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:22:08 GMT"},[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["4bc7bf55-9dd8-4a92-491e-791a279c3bb0"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["a6ffd33a-ecb0-4c77-61d2-897b43b349f0::2abf55ac-fd6a-46da-b400-b23941d427e4"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:22:08 GMT"}],"recorded_with":"VCR 2.9.3"}