---
http_interactions:
- request:
    method: post
    uri: https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"allow_tracking":true,"api_key":"__API_KEY__","beta":null,"confirmed":true,"confirmed_at":"2014/11/18
        01:37:21 -0800","created_at":"2014/11/18 01:37:21 -0800","id":"__USER_ID__@users.heroku.com","email":"__heroku:user__","last_login":"2015/04/08
        09:21:45 -0700","name":" ","updated_at":"2015/04/08 09:52:47 -0700","verified":false,"verified_at":null}'
  recorded_at: Wed, 08 Apr 2015 16:54:24 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/paasal-test-app-min-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"fd497999075064a7bcd06c2cb14b4833"'
      Last-Modified:
      - Wed, 08 Apr 2015 16:52:51 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2261'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"archived_at":null,"buildpack_provided_description":"Node.js","build_stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"created_at":"2015-04-08T16:47:56Z","id":"6fa4386d-4c59-43b3-9c2d-22cfe53c24a1","git_url":"git@heroku.com:paasal-test-app-min-updated.git","maintenance":false,"name":"paasal-test-app-min-updated","owner":{"email":"__heroku:user__","id":"__heroku:id__"},"region":{"id":"59accabd-516d-4f0e-83e6-6e3757701145","name":"us"},"released_at":"2015-04-08T16:52:47Z","repo_size":2703817,"slug_size":12556350,"stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"updated_at":"2015-04-08T16:52:51Z","web_url":"https://paasal-test-app-min-updated.herokuapp.com/"}'
  recorded_at: Wed, 08 Apr 2015 16:54:25 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/6fa4386d-4c59-43b3-9c2d-22cfe53c24a1/dynos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"ec5c5ae13434766108b9afb9a42e6364"'
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2260'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 08 Apr 2015 16:54:26 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/6fa4386d-4c59-43b3-9c2d-22cfe53c24a1/formation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"fd497999075064a7bcd06c2cb14b4833"'
      Last-Modified:
      - Wed, 08 Apr 2015 16:52:51 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2259'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"command":"node server.js","created_at":"2015-04-08T16:52:47Z","id":"bb6904b4-7225-424c-a3f0-c417a47dc601","type":"web","quantity":0,"size":"1X","updated_at":"2015-04-08T16:52:49Z"}]'
  recorded_at: Wed, 08 Apr 2015 16:54:26 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/6fa4386d-4c59-43b3-9c2d-22cfe53c24a1/buildpack-installations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - ordinal 0..0
      Content-Type:
      - application/json
      ETag:
      - '"87d7b85882f94ae872184eafce30ccd8"'
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2258'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"buildpack":{"url":"https://github.com/heroku/heroku-buildpack-nodejs"},"ordinal":0}]'
  recorded_at: Wed, 08 Apr 2015 16:54:27 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/6fa4386d-4c59-43b3-9c2d-22cfe53c24a1/releases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - version 1..4
      Content-Type:
      - application/json
      ETag:
      - '"5ba3a57111dce263b665db6a33c161db"'
      Last-Modified:
      - Wed, 08 Apr 2015 09:52:47 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read-protected write-protected
      RateLimit-Remaining:
      - '2257'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"app":{"id":"6fa4386d-4c59-43b3-9c2d-22cfe53c24a1","name":"paasal-test-app-min-updated"},"created_at":"2015-04-08T16:47:56Z","description":"Initial
        release","id":"52413af1-c140-448e-a23e-9c158eeab765","slug":null,"updated_at":"2015-04-08T16:47:56Z","user":{"email":"__heroku:user__","id":"__heroku:id__"},"version":1},{"app":{"id":"6fa4386d-4c59-43b3-9c2d-22cfe53c24a1","name":"paasal-test-app-min-updated"},"created_at":"2015-04-08T16:47:57Z","description":"Enable
        Logplex","id":"13a74839-3539-48f0-b473-5b395c39ddb7","slug":null,"updated_at":"2015-04-08T16:47:57Z","user":{"email":"__heroku:user__","id":"__heroku:id__"},"version":2},{"app":{"id":"6fa4386d-4c59-43b3-9c2d-22cfe53c24a1","name":"paasal-test-app-min-updated"},"created_at":"2015-04-08T16:49:55Z","description":"Set
        our_test_var_key config vars","id":"43ca545b-8941-4e3e-b83e-eab064730a8c","slug":null,"updated_at":"2015-04-08T16:49:55Z","user":{"email":"__heroku:user__","id":"__heroku:id__"},"version":3},{"app":{"id":"6fa4386d-4c59-43b3-9c2d-22cfe53c24a1","name":"paasal-test-app-min-updated"},"created_at":"2015-04-08T16:52:47Z","description":"Deploy
        7cbb80d","id":"902b4fa4-b0aa-45ab-866f-33357245b86e","slug":{"id":"b3868874-de61-42ec-9bb1-9a4be130c6c1"},"updated_at":"2015-04-08T16:52:47Z","user":{"email":"__heroku:user__","id":"__heroku:id__"},"version":4}]'
  recorded_at: Wed, 08 Apr 2015 16:54:28 GMT
- request:
    method: patch
    uri: https://api.heroku.com/apps/paasal-test-app-min-updated/formation
    body:
      encoding: UTF-8
      string: '{"updates":[{"process":"web","quantity":1}]}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global write write-protected
      RateLimit-Remaining:
      - '2256'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"command":"node server.js","created_at":"2015-04-08T16:52:47Z","id":"bb6904b4-7225-424c-a3f0-c417a47dc601","type":"web","quantity":1,"size":"1X","updated_at":"2015-04-08T16:54:29Z"}]'
  recorded_at: Wed, 08 Apr 2015 16:54:29 GMT
- request:
    method: patch
    uri: https://api.heroku.com/apps/paasal-test-app-min-updated/formation
    body:
      encoding: UTF-8
      string: '{"updates":[{"process":"worker","quantity":1}]}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - application/json
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global write write-protected
      RateLimit-Remaining:
      - '2255'
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"resource":"dyno_type","id":"not_found","message":"No such process
        type worker defined in Procfile."}'
  recorded_at: Wed, 08 Apr 2015 16:54:30 GMT
[...]
- request:
    method: get
    uri: https://api.heroku.com/apps/6fa4386d-4c59-43b3-9c2d-22cfe53c24a1/dynos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"5747f2d99a2043cf5f72387a0d45bcfe"'
      Last-Modified:
      - Wed, 08 Apr 2015 16:54:29 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2253'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"attach_url":null,"command":"node server.js","created_at":"2015-04-08T16:54:29Z","id":"94c1752a-c7f6-479b-9e7f-d5b6622151a6","name":"web.1","release":{"id":"902b4fa4-b0aa-45ab-866f-33357245b86e","version":4},"size":"1X","state":"starting","type":"web","updated_at":"2015-04-08T16:54:29Z"}]'
  recorded_at: Wed, 08 Apr 2015 16:54:31 GMT
[...]
- request:
    method: get
    uri: https://api.heroku.com/apps/6fa4386d-4c59-43b3-9c2d-22cfe53c24a1/buildpack-installations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - ordinal 0..0
      Content-Type:
      - application/json
      ETag:
      - '"87d7b85882f94ae872184eafce30ccd8"'
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2247'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"buildpack":{"url":"https://github.com/heroku/heroku-buildpack-nodejs"},"ordinal":0}]'
  recorded_at: Wed, 08 Apr 2015 16:54:35 GMT
recorded_with: VCR 2.9.3
