{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["15edffdd-1a33-43c1-4b29-70474c699de8"], "X-Vcap-Request-Id":["5314b51c-22cc-4393-5f90-baa8547047d1::32bdddad-4178-4344-90bc-945f211c2098"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:29:50 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["e1153a35-aaef-4163-541e-57c0833a3b4e, 32adf65f-5414-4a5e-6b5d-414addccd5ec"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"3cf93306-f610-41a1-800f-25e9f72262f1\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:29:50 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["ee309868-21a4-4555-7477-5d6ff06a1d7d"], "X-Vcap-Request-Id":["8946683d-c4ed-4741-49ee-7f3b027298ba::87888fb0-7676-4657-bed5-526d366bdd2f"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"b45e0373-49a8-4e70-b38f-76aeae572a16\",\n        \"url\": \"/v2/apps/b45e0373-49a8-4e70-b38f-76aeae572a16\",\n        \"created_at\": \"2015-04-24T08:29:25+00:00\",\n        \"updated_at\": \"2015-04-24T08:29:43+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_updated_test_var_value\",\n          \"our_test_var_key2\": \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"a59f1dfe-5f85-4b79-b618-18585cbdecfa\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": null,\n        \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/b45e0373-49a8-4e70-b38f-76aeae572a16/events\",\n        \"service_bindings_url\": \"/v2/apps/b45e0373-49a8-4e70-b38f-76aeae572a16/service_bindings\",\n        \"routes_url\": \"/v2/apps/b45e0373-49a8-4e70-b38f-76aeae572a16/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:29:50 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/b45e0373-49a8-4e70-b38f-76aeae572a16/service_bindings?inline-relations-depth=1","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["fe64992d-4e4d-442c-4f48-7c310ebc9942"], "X-Vcap-Request-Id":["7644793b-92c4-4929-469b-015861801007::5240a483-662a-44c6-afe5-cf381cc6d3a1"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"b84b8483-a8fd-4f0b-9e96-79701df213b6\",\n        \"url\": \"/v2/service_bindings/b84b8483-a8fd-4f0b-9e96-79701df213b6\",\n        \"created_at\": \"2015-04-24T08:29:48+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"app_guid\": \"b45e0373-49a8-4e70-b38f-76aeae572a16\",\n        \"service_instance_guid\": \"278c8fdf-536f-4745-bdd0-f08d2f4816d9\",\n        \"credentials\": {\n          \"hostname\": \"10.244.1.82\",\n          \"host\": \"10.244.1.82\",\n          \"port\": 10034,\n          \"username\": \"afda9d4a-7dda-4cd1-82b1-52438b092ad3\",\n          \"password\": \"37638d69-596a-4240-ae23-e08743cb0c3d\",\n          \"name\": \"4e3973db-aecd-45b9-9e2e-91a50097a0b5\",\n          \"db\": \"db\",\n          \"url\": \"mongodb://afda9d4a-7dda-4cd1-82b1-52438b092ad3:37638d69-596a-4240-ae23-e08743cb0c3d@10.244.1.82:10034/db\"\n        },\n        \"binding_options\": {\n\n        },\n        \"gateway_data\": {\n          \"plan\": \"default\",\n          \"version\": \"2.2\",\n          \"data\": {\n            \"binding_options\": {\n\n            }\n          }\n        },\n        \"gateway_name\": \"932d3428-b4ad-45e0-b7bf-eb2938679fdb\",\n        \"syslog_drain_url\": null,\n        \"app_url\": \"/v2/apps/b45e0373-49a8-4e70-b38f-76aeae572a16\",\n        \"app\": {\n          \"metadata\": {\n            \"guid\": \"b45e0373-49a8-4e70-b38f-76aeae572a16\",\n            \"url\": \"/v2/apps/b45e0373-49a8-4e70-b38f-76aeae572a16\",\n            \"created_at\": \"2015-04-24T08:29:25+00:00\",\n            \"updated_at\": \"2015-04-24T08:29:43+00:00\"\n          },\n          \"entity\": {\n            \"name\": \"paasal-test-app-all-updated\",\n            \"production\": false,\n            \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n          [...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/service_plans/11e51876-0b64-4018-b797-16633d00e471?inline-relations-depth=1","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["7298ccfd-1cf4-4cc5-58e1-86953bbf9626"], "X-Vcap-Request-Id":["4fb6f094-08a0-449b-5c41-36f7529bd86b::765ffc8d-0945-44ff-9ac4-280d677c7655"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"11e51876-0b64-4018-b797-16633d00e471\",\n    \"url\": \"/v2/service_plans/11e51876-0b64-4018-b797-16633d00e471\",\n    \"created_at\": \"2015-04-14T18:37:41+00:00\",\n    \"updated_at\": \"2015-04-24T08:29:11+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"default\",\n    \"free\": true,\n    \"description\": \"Developer, shared VM, 250MB storage, 10 connections\",\n    \"service_guid\": \"5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n    \"extra\": \"\",\n    \"unique_id\": \"default-8f4af9f9-0f29-4957-87a3-1039ce983ede\",\n    \"public\": true,\n    \"active\": true,\n    \"service_url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n    \"service\": {\n      \"metadata\": {\n        \"guid\": \"5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"created_at\": \"2015-04-14T18:37:40+00:00\",\n        \"updated_at\": \"2015-04-24T08:29:11+00:00\"\n      },\n      \"entity\": {\n        \"label\": \"mongodb\",\n        \"provider\": \"core\",\n        \"url\": \"http://10.244.1.2:44138\",\n        \"description\": \"MongoDB NoSQL database\",\n        \"long_description\": null,\n        \"version\": \"2.2\",\n        \"info_url\": null,\n        \"active\": true,\n        \"bindable\": true,\n        \"unique_id\": \"8f4af9f9-0f29-4957-87a3-1039ce983ede\",\n        \"extra\": \"{\\\"listing\\\":{\\\"imageUrl\\\":null,\\\"blurb\\\":null},\\\"provider\\\":{\\\"name\\\":\\\"Core\\\"}}\",\n        \"tags\": [\n          \"nosql\",\n          \"document\",\n          \"mongodb\"\n        ],\n        \"requires\": [\n\n        ],\n        \"documentation_url\": null,\n        \"service_broker_guid\": null,\n        \"plan_updateable\": false,\n        \"service_plans_url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c/service_plans\"\n      }\n    },\n    \"service_instances_url\": \"/v2/service_plans/11e51876-0b64-4018-b797-16633d00e471/service_instances\",\n    \"service_instances\": [\n      {\n        \"metadata\": {\n          \"guid\": \"0065a8bd-2edb-4e1d-9243-113fd6416b9a\",\n          \"url\": \"/v2/service_instances/0065a8bd-2edb-4e1d-9243-113fd6416b9a\",\n          \"created_at\": \"2015-04-14T18:47:29+00:00\",\n          \"updated_at\": null\n        },\n        \"entity\": {\n          \"name\": \"mongodb\",\n          \"credentials\": {\n            \"hostname\": \"10.244.1.82\",\n            \"host\": \"10.244.1.82\",\n            \"port\": 10003,\n            \"name\": \"2c86272d-8c71-467c-8088-0072c1739ca2\",\n            \"db\": \"db\",\n            \"username\": \"b9d41a61-4bad-4081-894a-e9e2b4699c3d\",\n            \"password\": \"f3c53b08-189e-486a-b54f-3547946f0d0f\",\n            \"node_id\": \"mongodb_node_default_0\"\n          },\n          \"service_plan_guid\": \"11e51876-0b64-4018-b797-16633d00e471\",\n          \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n          \"gateway_data\": {\n            \"plan\": \"default\",\n            \"version\": \"2.2\"\n          },\n          \"dashboard_url\": null,\n          \"type\": \"managed_service_instance\",\n          \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n          \"service_plan_url\": \"/v2/service_plans/11e51876-0b64-4018-b797-16633d00e471\",\n          \"service_bindings_url\": \"/v2/service_instances/0065a8bd-2edb-4e1d-9243-113fd6416b9a/service_bindings\"\n        }\n      },\n      {\n        \"metadata\": {\n          \"guid\": \"278c8fdf-536f-4745-bdd0-f08d2f4816d9\",\n          \"url\": \"/v2/service_instances/278c8fdf-536f-4745-bdd0-f08d2f4816d9\",\n          \"created_at\": \"2015-04-24T08:29:48+00:00\",\n          \"updated_at\": null\n        },\n        \"entity\[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c/service_plans","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["4cc9976e-596f-4efb-5a70-e4a2704eabc6"], "X-Vcap-Request-Id":["221cf37d-0523-4e01-63cc-31d6ec[...]
