{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["a4698370-7ec9-42d8-6b69-fead0efb7d11"], "X-Vcap-Request-Id":["e8e18631-c7a2-43a2-57f7-9b3ea83cedcf::3c0f366a-dd18-4ea9-af73-4ebf2790824b"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:58 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["b2037b80-7ac8-43aa-4948-9af8c4d3aa07, e521e0ad-5a8d-427e-6983-f2b7581b2500"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"061d7ab6-0c77-4c23-b9a3-7ddce0336ed6\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:58 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["1fc543fe-d23f-4136-4de8-0bfc998194d7"], "X-Vcap-Request-Id":["d258e3e9-39b5-4252-7dfd-5e83311835e5::c7a13e41-5ccb-4012-8dec-f58440957a20"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"562765db-8c59-4c06-aae7-10076d378aee\",\n        \"url\": \"/v2/apps/562765db-8c59-4c06-aae7-10076d378aee\",\n        \"created_at\": \"2015-05-14T06:39:24+00:00\",\n        \"updated_at\": \"2015-05-14T06:39:58+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-min-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_test_var_value\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"785bda93-c608-4305-b6c4-d036669859a2\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-05-14T06:39:58+00:00\",\n        \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/562765db-8c59-4c06-aae7-10076d378aee/events\",\n        \"service_bindings_url\": \"/v2/apps/562765db-8c59-4c06-aae7-10076d378aee/service_bindings\",\n        \"routes_url\": \"/v2/apps/562765db-8c59-4c06-aae7-10076d378aee/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:58 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/562765db-8c59-4c06-aae7-10076d378aee","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["04165c30-c4e3-43a2-6bd3-79e9ff6ef59e"], "X-Vcap-Request-Id":["16011e86-8da0-4486-4717-4999a797ff08::eef421a0-6[...]
{"request":{"method":"head","uri":"https://api.10.244.0.34.xip.io/v2/apps/562765db-8c59-4c06-aae7-10076d378aee/download","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Etag":["\"5554433e-20e7d0\""], "Last-Modified":["Thu, 14 May 2015 06:39:58 GMT"], "X-Cf-Requestid":["95509c87-fd5b-4c95-6e26-5e5985e0f786"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:58 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/562765db-8c59-4c06-aae7-10076d378aee/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["05388019-9cf5-421a-5129-d6467544cb76"], "X-Vcap-Request-Id":["dac499fb-fbef-4c40-54f4-6f94f53fc1a4::1249f65b-1ab0-44d0-bb5e-0c6703ed8ac6"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"e00b6d16-4b94-418d-96eb-667e4f8d1c43\",\n        \"url\": \"/v2/routes/e00b6d16-4b94-418d-96eb-667e4f8d1c43\",\n        \"created_at\": \"2015-05-14T06:39:24+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"562765db-8c59-4c06-aae7-10076d378aee\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/e00b6d16-4b94-418d-96eb-667e4f8d1c43/apps\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:58 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["ecea1f27-1ecd-4144-4716-7419833c7ad2"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["976eae9b-d7c9-441e-58ec-cacc62ab700a::3a33b3ae-0450-48ba-9c78-44a16a84c138"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:58 GMT"}],"recorded_with":"VCR 2.9.3"}