---
http_interactions:
- request:
    method: post
    uri: https://api.cloudcontrol.com/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - POST, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/token"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"token": "__TOKEN__", "expires": "2015-04-08T18:19:18.309369"}'
  recorded_at: Wed, 08 Apr 2015 18:04:18 GMT
- request:
    method: get
    uri: https://api.cloudcontrol.com/app/paasaltestappallproperties13/deployment/paasal/addon/config.free
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - GET, POST, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/app/paasaltestappallproperties13/deployment/paasal/addon/config.free"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"addon_option": {"name": "config.free"}, "settings": {"CONFIG_VARS":
        {"our_test_var_key2": "our_test_var_value2", "our_test_var_key": "our_updated_test_var_value"}}}'
  recorded_at: Wed, 08 Apr 2015 18:04:18 GMT
- request:
    method: put
    uri: https://api.cloudcontrol.com/app/paasaltestappallproperties13/deployment/paasal/addon/config.free
    body:
      encoding: UTF-8
      string: '{"addon":"config.free","settings":"{\"our_test_var_key\":null}","force":true}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - GET, POST, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/app/paasaltestappallproperties13/deployment/paasal/addon/config.free"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"addon_option": {"name": "config.free"}, "settings": {"CONFIG_VARS":
        {"our_test_var_key2": "our_test_var_value2"}}}'
  recorded_at: Wed, 08 Apr 2015 18:04:20 GMT
recorded_with: VCR 2.9.3
