{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["dd5e55cb-753d-4ecd-7f9e-c257674e95f4"], "X-Vcap-Request-Id":["a969b1d4-3c7c-47cc-7f00-085240ef1134::135fb45c-b72e-4c0c-bccc-4da75f0fd7cf"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:29:30 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["65468445-9601-4580-6ac2-5b75808e5578, a54cd0c9-492f-4017-461b-4986ef70709d"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"b720e0f0-0297-4540-acd3-45b95ca73f9c\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:29:30 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["e16db50e-c931-4c17-5a7e-0e37aceb93e1"], "X-Vcap-Request-Id":["493a0bd4-ddb9-4ddd-54c6-87cde85fe3c6::3ee0cf1a-6dc0-4b3c-9440-ec38af56f7c5"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"36352def-b71b-4673-8cde-0a738525b63c\",\n        \"url\": \"/v2/apps/36352def-b71b-4673-8cde-0a738525b63c\",\n        \"created_at\": \"2015-04-24T08:29:26+00:00\",\n        \"updated_at\": \"2015-04-24T08:29:30+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-min-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"java_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"221ea7b0-31bb-4d3c-ba41-5ee7e1244814\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": null,\n        \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/36352def-b71b-4673-8cde-0a738525b63c/events\",\n        \"service_bindings_url\": \"/v2/apps/36352def-b71b-4673-8cde-0a738525b63c/service_bindings\",\n        \"routes_url\": \"/v2/apps/36352def-b71b-4673-8cde-0a738525b63c/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:29:30 GMT"},{"request":{"method":"put","uri":"https://api.10.244.0.34.xip.io/v2/apps/36352def-b71b-4673-8cde-0a738525b63c","body":{"encoding":"UTF-8","string":"{\"buildpack\":\"nodejs_buildpack\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["8294ddd4-31b0-4a4c-695b-064234a55092"], "X-Vcap-Request-Id":["3cd9d378-ecc6-4[...]
{"request":{"method":"head","uri":"https://api.10.244.0.34.xip.io/v2/apps/36352def-b71b-4673-8cde-0a738525b63c/download","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["c0007878-3101-482a-4eb4-b0e415c77e66"], "X-Vcap-Request-Id":["bfd236fd-8ee2-4a98-6ee4-75d579b0e9c8::5a7ff846-39c4-4c9a-92c6-85ca1eb25d37"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:29:31 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/36352def-b71b-4673-8cde-0a738525b63c/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["09eaa2e4-f854-47c1-7bbf-57c93aa4b4e1"], "X-Vcap-Request-Id":["37845618-9535-4120-6f79-3af47c2a8959::f97329fa-614d-40d0-9336-dcedac07b078"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"d52b5bc1-ccde-4d17-85fb-b81c4afb5ec0\",\n        \"url\": \"/v2/routes/d52b5bc1-ccde-4d17-85fb-b81c4afb5ec0\",\n        \"created_at\": \"2015-04-24T08:29:26+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"36352def-b71b-4673-8cde-0a738525b63c\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/d52b5bc1-ccde-4d17-85fb-b81c4afb5ec0/apps\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:29:31 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["315bd3ce-bd7e-449a-7bc6-aceaf0971163"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["c95c9384-8989-41a0-5103-08b0e29ec756::f9711c19-ec31-4c70-9caa-157c85632605"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:29:31 GMT"}],"recorded_with":"VCR 2.9.3"}