{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/04/28 12:22:32 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:34:20 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/addon-services/mongolab/plans/sandbox","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"67aee523fe5ac79b80151d37253b73c8\""], "Last-Modified":["Wed, 18 Jun 2014 17:13:26 GMT"], "RateLimit-Remaining":["2300"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"created_at\":\"2013-08-05T20:50:25Z\",\"default\":true,\"description\":\"MongoLab Sandbox\",\"human_name\":\"Sandbox\",\"id\":\"8e6163ec-a935-4738-a0f4-60867f4f86cb\",\"name\":\"mongolab:sandbox\",\"price\":{\"cents\":0,\"unit\":\"month\"},\"state\":\"ga\",\"updated_at\":\"2014-06-18T17:13:26Z\"}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:34:21 GMT"},{"request":{"method":"post","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated/addons","body":{"encoding":"UTF-8","string":"{\"plan\":\"mongolab:sandbox\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":422,"message":null},"headers":{"Content-Type":["application/json"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global write write-protected"], "RateLimit-Remaining":["2299"], "Status":["422 Unprocessable Entity"]},"body":{"encoding":"UTF-8","string":"{\"id\":\"invalid_params\",\"message\":\"That type of add-on can only exist once per app and it already exists for paasal-test-app-all-updated. \"}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:34:22 GMT"}],"recorded_with":"VCR 2.9.3"}