{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/04/23 23:26:34 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 07:26:11 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/paasal-test-app-min-properties","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"4726a76ccaee495cb4643757f7d9100d\""], "Last-Modified":["Fri, 24 Apr 2015 07:25:19 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2343"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"archived_at\":null,\"buildpack_provided_description\":null,\"build_stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"created_at\":\"2015-04-24T07:25:18Z\",\"id\":\"6d2bd8b3-7f67-4892-bcad-ccfb6da4f947\",\"git_url\":\"git@heroku.com:paasal-test-app-min-properties.git\",\"maintenance\":false,\"name\":\"paasal-test-app-min-properties\",\"owner\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"region\":{\"id\":\"59accabd-516d-4f0e-83e6-6e3757701145\",\"name\":\"us\"},\"released_at\":\"2015-04-24T07:25:18Z\",\"repo_size\":null,\"slug_size\":null,\"stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"updated_at\":\"2015-04-24T07:25:19Z\",\"web_url\":\"https://paasal-test-app-min-properties.herokuapp.com/\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 07:26:11 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/6d2bd8b3-7f67-4892-bcad-ccfb6da4f947/dynos","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"ec5c5ae13434766108b9afb9a42e6364\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2342"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 07:26:12 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/6d2bd8b3-7f67-4892-bcad-ccfb6da4f947/formation","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"4726a76ccaee495cb4643757f7d9100d\""], "Last-Modified":["Fri, 24 Apr 2015 07:25:19 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2341"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 07:26:13 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/6d2bd8b3-7f67-4892-bcad-ccfb6da4f947/buildpack-installations","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["ordinal 0..0"], "Content-Type":["application/json"], "ETag":["\"87d7b85882f94ae872184eafce30ccd8\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2340"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"buildpack\":{\"url\":\"https://github.com/heroku/heroku-buildpack-nodejs\"},\"ordinal\":0}]"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 07:26:14 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/6d2bd8b3-7f67-4892-bcad-ccfb6da4f947/releases","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["version 1..2"], "Content-Type":["application/json"], "ETag":["\"9c91fc4283a91a43f36e9bba217a3047\""], "Last-Modified":["Fri, 24 Apr 2015 07:25:18 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read-protected write-protected"], "RateLimit-Remaining":["2339"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"app\":{\"id\":\"6d2bd8b3-7f67-4892-bcad-ccfb6da4f947\",\"name\":\"paasal-test-app-min-properties\"},\"created_at\":\"2015-04-24T07:25:18Z\",\"description\":\"Initial release\",\"id\":\"ae13dd4f-d7af-447b-9a4d-531c432374de\",\"slug\":null,\"updated_at\":\"2015-04-24T07:25:18Z\",\"user\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"version\":1},{\"app\":{\"id\":\"6d2bd8b3-7f67-4892-bcad-ccfb6da4f947\",\"name\":\"paasal-test-app-min-properties\"},\"created_at\":\"2015-04-24T07:25:18Z\",\"description\":\"Enable Logplex\",\"id\":\"7f0a0b91-c86a-4f5b-bf85-4a7a1d942263\",\"slug\":null,\"updated_at\":\"2015-04-24T07:25:18Z\",\"user\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"version\":2}]"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 07:26:15 GMT"}],"recorded_with":"VCR 2.9.3"}