{"http_interactions":[{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/user","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"f2af1a9d6c19cdd6d336c94a84ec3295\""], "ProxyTime":["D=579880"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["547c8e445973ca306e0000ad"]},"body":{"encoding":"UTF-8","string":"{\"api_version\":1.7,\"data\":{\"capabilities\":{\"subaccounts\":false,\"gear_sizes\":[\"small\",\"small.highcpu\",\"medium\",\"large\"],\"plan_upgrade_enabled\":true,\"private_ssl_certificates\":true,\"view_global_teams\":false,\"max_storage_per_gear\":30},\"consumed_gears\":2,\"created_at\":\"2014-12-01T15:50:28Z\",\"currency_cd\":\"eur\",\"email\":\"__openshift-online:user__\",\"id\":\"547c8e445973ca306e0000ad\",\"links\":{\"ADD_KEY\":{\"href\":\"https://openshift.redhat.com/broker/rest/user/keys\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Add new SSH key\",\"required_params\":[{\"description\":\"Name of the key\",\"invalid_options\":[],\"name\":\"name\",\"type\":\"string\",\"valid_options\":[]},{\"description\":\"Type of Key\",\"invalid_options\":[],\"name\":\"type\",\"type\":\"string\",\"valid_options\":[\"ssh-rsa\",\"ssh-dss\",\"ssh-rsa-cert-v01@openssh.com\",\"ssh-dss-cert-v01@openssh.com\",\"ssh-rsa-cert-v00@openssh.com\",\"ssh-dss-cert-v00@openssh.com\"]},{\"description\":\"The key portion of an ssh key (excluding key type and comment)\",\"invalid_options\":[],\"name\":\"content\",\"type\":\"string\",\"valid_options\":[]}]},\"LIST_KEYS\":{\"href\":\"https://openshift.redhat.com/broker/rest/user/keys\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"List SSH keys\",\"required_params\":[]}},\"login\":\"__openshift-online:user__\",\"max_domains\":3,\"max_gears\":16,\"max_teams\":15,\"plan_expiration_date\":null,\"plan_id\":\"bronze\",\"plan_quantity\":1,\"plan_state\":\"ACTIVE\",\"usage_account_id\":\"32488930\",\"usage_rates\":{\"prepaid\":false,\"storage\":{\"gigabyte\":[{\"min\":0,\"max\":30,\"usd\":1.0,\"cad\":1.0,\"eur\":1.0,\"duration\":\"month\"}]}}},\"messages\":[],\"status\":\"ok\",\"supported_api_versions\":[1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7],\"type\":\"user\",\"version\":\"1.7\"}"},"http_version":null},"recorded_at":"Thu, 22 Oct 2015 23:53:41 GMT"},{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/domains","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"40068135d7866f03d15335c2b8f3ed6a\""], "ProxyTime":["D=53803005"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["547c8e445973ca306e0000ad"]},"body":{"encoding":"CP850","string":"{\"api_version\":1.7,\"data\":[{\"allowed_gear_sizes\":[\"small\",\"small.highcpu\",\"medium\",\"large\"],\"available_gears\":14,\"creation_time\":\"2015-02-17T10:02:00Z\",\"id\":\"54e31198e0b8cdc8760001cc\",\"links\":{\"GET\":{\"href\":\"https://openshift.redhat.com/broker/rest/domain/unibadsg\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"Get domain\",\"required_params\":[]},\"ADD_APPLICATION\":{\"href\":\"https://openshift.redhat.com/broker/rest/domain/unibadsg/applications\",\"method\":\"POST\",\"optional_params\":[{\"default_value\":null,\"description\":\"Array of one or more cartridge names\",\"name\":\"cartridges\",\"type\":\"array\",\"valid_options\":[]},{\"default_value\":false,\"description\":\"Mark application as scalable\",\"name\":\"scale\",\"type\":\"boolean\",\"valid_options\":[true,false]},{\"default_value\":\"small\",\"description\":\"The size of the gear\",\"name\":\"gear_size\",\"type\":\"string\",\"valid_options\":[\"small\",\"small.highcpu\",\"medium\",\"large\"]},{\"default_value\":null,\"description\":\"A [...]
{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/domains/unibadsg/applications/nucleustestappallproperties","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"6c1fff9b28ffd0a3ca86add5d5079038\""], "ProxyTime":["D=622532"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["547c8e445973ca306e0000ad"]},"body":{"encoding":"CP850","string":"{\"api_version\":1.7,\"data\":{\"aliases\":[],\"app_url\":\"http://nucleustestappallproperties-unibadsg.rhcloud.com/\",\"auto_deploy\":false,\"build_job_url\":null,\"building_app\":null,\"building_with\":null,\"creation_time\":\"2015-10-22T23:43:45Z\",\"deployment_branch\":\"master\",\"deployment_type\":\"git\",\"domain_id\":\"unibadsg\",\"embedded\":{\"haproxy-1.4\":{}},\"framework\":\"nodejs-0.10\",\"gear_count\":1,\"gear_profile\":\"small\",\"git_url\":\"ssh://562974b10c1e663e6f000173@nucleustestappallproperties-unibadsg.rhcloud.com/~/git/nucleustestappallproperties.git/\",\"ha\":false,\"health_check_path\":\"health\",\"id\":\"562974b10c1e663e6f000173\",\"initial_git_url\":null,\"keep_deployments\":2,\"links\":{\"GET\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"Get application\",\"required_params\":[]},\"GET_DESCRIPTOR\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/descriptor\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"Get application descriptor\",\"required_params\":[]},\"GET_GEAR_GROUPS\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/gear_groups\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"Get application gear groups\",\"required_params\":[]},\"START\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Start application\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"start\"]}]},\"STOP\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Stop application\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"stop\"]}]},\"FORCE_STOP\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Force stop application\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"force-stop\"]}]},\"RESTART\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Restart application\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"restart\"]}]},\"SCALE_UP\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Scale up application\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"scale-up\"]}]},\"SCALE_DOWN\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Scale down application\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"scale-down\"]}]},\"TIDY\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Tidy the application framework\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"tidy\"]}]},\"RELOAD\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Reload the application\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"reload\"]}]},\"THREAD_DUMP\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Trigger thread dump\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"thread-dump\"]}]},\"ADD_CARTRIDGE\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/cartridges\",\"method\":\"POST\",\"optional_params\":[{\"default_value\":null,\"description\":\"The component to colocate with\",\"name\":\"colocate_with\",\"type\":\"string\",\"valid_options\":[\"haproxy-1.4\",\"nodejs-0.10\"]},{\"default_value\":null,\"description\":\"Minimum number of gears to run the component on.\",\"name\":\"scales_from\",\"type\":\"integer\",\"valid_options\":[]},{\"default_value\":n[...]
{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"6c1fff9b28ffd0a3ca86add5d5079038\""], "ProxyTime":["D=745610"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity[...]
{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/gear_groups","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"f0563b3f2232e3e89d2b0686d8d5838c\""], "ProxyTime":["D=788815"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["547c8e445973ca306e0000ad"]},"body":{"encoding":"CP850","string":"{\"api_version\":1.7,\"data\":[{\"additional_gear_storage\":0,\"base_gear_storage\":1,\"cartridges\":[{\"name\":\"haproxy-1.4\",\"display_name\":\"Web Load Balancer\",\"tags\":[\"web_proxy\",\"scales\",\"embedded\"]},{\"name\":\"nodejs-0.10\",\"display_name\":\"Node.js 0.10\",\"tags\":[\"service\",\"javascript\",\"nodejs\",\"web_framework\"]}],\"gear_profile\":\"small\",\"gears\":[{\"id\":\"562974b10c1e663e6f000173\",\"state\":\"started\",\"ssh_url\":\"ssh://562974b10c1e663e6f000173@nucleustestappallproperties-unibadsg.rhcloud.com\",\"region\":\"aws-us-east-1\",\"zone\":\"aws-us-east-1b\"}],\"id\":\"562974b10c1e663e6f000175\",\"name\":\"562974b10c1e663e6f000175\",\"scales_from\":1,\"scales_to\":-1}],\"messages\":[{\"exit_code\":0,\"field\":null,\"index\":null,\"severity\":\"info\",\"text\":\"Showing gear groups for application 'nucleustestappallproperties' with domain 'unibadsg'\"},{\"exit_code\":0,\"field\":null,\"index\":null,\"severity\":\"result\",\"text\":\"started\\n\"}],\"status\":\"ok\",\"supported_api_versions\":[1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7],\"type\":\"gear_groups\",\"version\":\"1.7\"}"},"http_version":null},"recorded_at":"Thu, 22 Oct 2015 23:54:40 GMT"},{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/deployments","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"6c8b0b896c12fbf51f911d03ac5addd2\""], "ProxyTime":["D=891501"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["547c8e445973ca306e0000ad"]},"body":{"encoding":"CP850","string":"{\"api_version\":1.7,\"data\":[{\"activations\":[\"2015-10-22T23:46:51Z\"],\"created_at\":\"2015-10-22T23:43:53Z\",\"force_clean_build\":false,\"hot_deploy\":false,\"id\":\"ab99123a\",\"ref\":\"master\",\"sha1\":\"527b841\"}],\"messages\":[{\"exit_code\":0,\"field\":null,\"index\":null,\"severity\":\"info\",\"text\":\"Listing deployments for application nucleustestappallproperties under domain unibadsg\"}],\"status\":\"ok\",\"supported_api_versions\":[1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7],\"type\":\"deployments\",\"version\":\"1.7\"}"},"http_version":null},"recorded_at":"Thu, 22 Oct 2015 23:54:42 GMT"}],"recorded_with":"VCR 2.9.3"}