{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/04/23 23:26:34 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 07:24:39 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/addon-services/mongolab/plans/sandbox","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"67aee523fe5ac79b80151d37253b73c8\""], "Last-Modified":["Wed, 18 Jun 2014 17:13:26 GMT"], "RateLimit-Remaining":["2322"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"created_at\":\"2013-08-05T20:50:25Z\",\"default\":true,\"description\":\"MongoLab Sandbox\",\"human_name\":\"Sandbox\",\"id\":\"8e6163ec-a935-4738-a0f4-60867f4f86cb\",\"name\":\"mongolab:sandbox\",\"price\":{\"cents\":0,\"unit\":\"month\"},\"state\":\"ga\",\"updated_at\":\"2014-06-18T17:13:26Z\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 07:24:40 GMT"}],"recorded_with":"VCR 2.9.3"}