---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 66ab1d43-38ae-4a74-679a-e0b188156767
      X-Vcap-Request-Id:
      - 8294ac42-7eb9-443a-4cdc-dc2e9252a041::371cf2c4-7172-4bc8-be01-481a1cc0cdad
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Thu, 02 Apr 2015 12:43:05 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - ed72c6db-b11e-4b49-6576-df263f466cbf, 33f24e97-0402-48ff-636c-56d24a5ef91b
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"e4dc1261-5327-47cb-8e45-5087591c1840"}'
  recorded_at: Thu, 02 Apr 2015 12:43:05 GMT
- request:
    method: delete
    uri: https://api.10.244.0.34.xip.io/v2/apps/paasal-test-app-min-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - d268c62f-41c4-4695-58c5-76931e643eea
      X-Vcap-Request-Id:
      - ddfc25f0-d704-432d-70dd-6e60a6d5a567::21005589-8d4e-4707-9e6d-380549889749
    body:
      encoding: UTF-8
      string: |
        {
          "code": 100004,
          "description": "The app name could not be found: paasal-test-app-min-updated",
          "error_code": "CF-AppNotFound"
        }
  recorded_at: Thu, 02 Apr 2015 12:43:05 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 14cef24a-fcb5-4d9f-6317-b6563b3037c3
      X-Vcap-Request-Id:
      - 841ab1d8-79fa-4ee2-485d-0793b846c376::52fbd422-ed37-47dd-872e-48b999dc8fe4
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "3397450b-e73a-48cb-a94d-4e7cc4341763",
                "url": "/v2/apps/3397450b-e73a-48cb-a94d-4e7cc4341763",
                "created_at": "2015-04-02T12:32:49+00:00",
                "updated_at": "2015-04-02T12:35:07+00:00"
              },
              "entity": {
                "name": "paasal-test-app-min-updated",
                "production": false,
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
                "buildpack": "nodejs_buildpack",
                "detected_buildpack": null,
                "environment_json": {
                  "our_test_var_key": "our_test_var_value"
                },
                "memory": 256,
                "instances": 1,
                "disk_quota": 1024,
                "state": "STARTED",
                "version": "8584070e-b84b-433a-8523-649222976428",
                "command": null,
                "console": false,
                "debug": null,
                "staging_task_id": "9c7631f6589f474688389ed9dc4d0d2d",
                "package_state": "PENDING",
                "health_check_timeout": null,
                "staging_failed_reason": null,
                "docker_image": null,
                "package_updated_at": "2015-04-02T12:33:18+00:00",
                "detected_start_command": "node server.js",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
                "events_url": "/v2/apps/3397450b-e73a-48cb-a94d-4e7cc4341763/events",
                "service_bindings_url": "/v2/apps/3397450b-e73a-48cb-a94d-4e7cc4341763/service_bindings",
                "routes_url": "/v2/apps/3397450b-e73a-48cb-a94d-4e7cc4341763/routes"
              }
            }
          ]
        }
  recorded_at: Thu, 02 Apr 2015 12:43:05 GMT
- request:
    method: delete
    uri: https://api.10.244.0.34.xip.io/v2/apps/3397450b-e73a-48cb-a94d-4e7cc4341763
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: 
    headers:
      X-Cf-Requestid:
      - f948b384-4c31-43e0-45a4-d3add30953b0
      X-Vcap-Request-Id:
      - a592fe4b-af6e-46ed-6034-2243bb3097a9::aa5843b5-70cf-414a-864d-8d7f1f798a6f
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 02 Apr 2015 12:43:05 GMT
recorded_with: VCR 2.9.3
