{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/05/20 00:02:10 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:11:27 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/nucleus-test-app-all-updated/addons/invalid_service","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":null},"headers":{"Content-Type":["application/json"], "RateLimit-Remaining":["2391"], "Status":["404 Not Found"]},"body":{"encoding":"UTF-8","string":"{\"resource\":\"addon\",\"id\":\"not_found\",\"message\":\"Couldn't find that add-on.\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:11:28 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/nucleus-test-app-all-updated/addons","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Expansion":["addon_service, plan"], "Content-Range":["name waking-nobly-4659..waking-nobly-4659"], "Content-Type":["application/json"], "ETag":["\"731c255335c37bb50dbfb2022f743abe\""], "Last-Modified":["Sat, 27 Jun 2015 09:09:38 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2390"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"config_vars\":[\"MONGOLAB_URI\"],\"created_at\":\"2015-06-27T09:09:36Z\",\"id\":\"89983c37-371f-476f-a187-88538c92ee93\",\"name\":\"waking-nobly-4659\",\"addon_service\":{\"id\":\"3dfb031f-23f4-4123-856f-5cb95ecdadc9\",\"name\":\"mongolab\"},\"plan\":{\"id\":\"8e6163ec-a935-4738-a0f4-60867f4f86cb\",\"name\":\"mongolab:sandbox\"},\"app\":{\"id\":\"eabf58cb-478b-4eda-8349-4f98f56625f0\",\"name\":\"nucleus-test-app-all-updated\"},\"provider_id\":\"heroku_q9j55dj5\",\"updated_at\":\"2015-06-27T09:09:38Z\",\"web_url\":\"https://addons-sso.heroku.com/apps/nucleus-test-app-all-updated/addons/89983c37-371f-476f-a187-88538c92ee93\"}]"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:11:29 GMT"}],"recorded_with":"VCR 2.9.3"}