{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/04/28 12:39:46 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:48:39 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"941a5f5a0410e124059b6ceee502690e\""], "Last-Modified":["Tue, 28 Apr 2015 19:42:12 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2226"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"archived_at\":null,\"buildpack_provided_description\":\"Node.js\",\"build_stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"created_at\":\"2015-04-28T19:26:42Z\",\"id\":\"6fdf309b-980d-44fa-a4d0-8661e416ea14\",\"git_url\":\"git@heroku.com:paasal-test-app-all-updated.git\",\"maintenance\":false,\"name\":\"paasal-test-app-all-updated\",\"owner\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"region\":{\"id\":\"59accabd-516d-4f0e-83e6-6e3757701145\",\"name\":\"us\"},\"released_at\":\"2015-04-28T19:38:48Z\",\"repo_size\":2703001,\"slug_size\":12554072,\"stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"updated_at\":\"2015-04-28T19:42:12Z\",\"web_url\":\"https://paasal-test-app-all-updated.herokuapp.com/\"}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:48:40 GMT"},[...]
{"request":{"method":"post","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated/log-sessions","body":{"encoding":"UTF-8","string":"{\"source\":\"heroku\",\"dyno\":\"api\",\"tail\":false}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2224"], "Status":["201 Created"]},"body":{"encoding":"UTF-8","string":"{\"created_at\":\"2015-04-28T19:47:01Z\",\"id\":\"b8bd4280-1365-4c99-96ed-b928b8c4c8ad\",\"logplex_url\":\"https://logplex.heroku.com/sessions/f3333787-0f39-410b-81d7-dd530fb268ab?srv=1430250421\",\"updated_at\":\"2015-04-28T19:47:01Z\"}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:48:41 GMT"},{"request":{"method":"get","uri":"https://logplex.heroku.com/sessions/f3333787-0f39-410b-81d7-dd530fb268ab?srv=1430250421","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["text/html"]},"body":{"encoding":"UTF-8","string":"2015-04-28T19:40:50.348957+00:00 heroku[api]: Set maintenance mode off by __heroku:user__\n2015-04-28T19:41:06.907811+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-04-28T19:41:23.131077+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-04-28T19:41:39.743388+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-04-28T19:41:45.376217+00:00 heroku[api]: Set maintenance mode off by __heroku:user__\n2015-04-28T19:42:06.422379+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-04-28T19:42:12.076441+00:00 heroku[api]: Set maintenance mode off by __heroku:user__\n"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:48:42 GMT"},[...]
{"request":{"method":"get","uri":"https://logplex.heroku.com/sessions/b238d2be-78f2-4d29-9462-6dd0ac7bf9c9?srv=1430250426","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["text/html"]},"body":{"encoding":"UTF-8","string":"2015-04-28T19:40:18.156726+00:00 heroku[web.1]: State changed from starting to up\n2015-04-28T19:40:50.348957+00:00 heroku[api]: Set maintenance mode off by __heroku:user__\n2015-04-28T19:41:06.907811+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-04-28T19:41:23.131077+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-04-28T19:41:39.743388+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-04-28T19:41:45.376217+00:00 heroku[api]: Set maintenance mode off by __heroku:user__\n2015-04-28T19:42:06.422379+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-04-28T19:42:12.076441+00:00 heroku[api]: Set maintenance mode off by __heroku:user__\n2015-04-28T19:44:42.125073+00:00 heroku[router]: at=info method=GET path=\"/\" host=paasal-test-app-all-updated.herokuapp.com request_id=69f7140a-ec96-45b3-ac4d-27bc5190f839 fwd=\"188.193.127.6\" dyno=web.1 connect=3ms service=78ms status=200 bytes=3471\n"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:48:56 GMT"}],"recorded_with":"VCR 2.9.3"}