{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/06/27 02:15:08 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:24:30 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"86678f2d4b68abb07c10156562106ffe\""], "Last-Modified":["Sat, 27 Jun 2015 09:17:07 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2303"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"archived_at\":null,\"buildpack_provided_description\":\"Node.js\",\"build_stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"created_at\":\"2015-06-27T09:00:57Z\",\"id\":\"eabf58cb-478b-4eda-8349-4f98f56625f0\",\"git_url\":\"git@heroku.com:paasal-test-app-all-updated.git\",\"maintenance\":false,\"name\":\"paasal-test-app-all-updated\",\"owner\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"region\":{\"id\":\"59accabd-516d-4f0e-83e6-6e3757701145\",\"name\":\"us\"},\"released_at\":\"2015-06-27T09:14:02Z\",\"repo_size\":2703009,\"slug_size\":12853333,\"stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"updated_at\":\"2015-06-27T09:17:07Z\",\"web_url\":\"https://paasal-test-app-all-updated.herokuapp.com/\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:24:31 GMT"},[...]
{"request":{"method":"post","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated/log-sessions","body":{"encoding":"UTF-8","string":"{\"source\":\"heroku\",\"dyno\":\"api\",\"tail\":false}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2301"], "Status":["201 Created"]},"body":{"encoding":"UTF-8","string":"{\"created_at\":\"2015-06-27T09:22:08Z\",\"id\":\"a1e60336-d334-4de4-9075-612262e6d58d\",\"logplex_url\":\"https://logplex.heroku.com/sessions/3a5d4c3f-a5cb-4aad-9bc2-5f9e20196717?srv=1435396928\",\"updated_at\":\"2015-06-27T09:22:08Z\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:24:32 GMT"},{"request":{"method":"get","uri":"https://logplex.heroku.com/sessions/3a5d4c3f-a5cb-4aad-9bc2-5f9e20196717?srv=1435396928","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["text/html"]},"body":{"encoding":"UTF-8","string":"2015-06-27T09:15:46.383422+00:00 heroku[api]: Set maintenance mode off by __heroku:user__\n2015-06-27T09:16:02.465281+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-06-27T09:16:18.510148+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-06-27T09:16:34.681765+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-06-27T09:16:40.046104+00:00 heroku[api]: Set maintenance mode off by __heroku:user__\n2015-06-27T09:17:01.962135+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-06-27T09:17:07.424760+00:00 heroku[api]: Set maintenance mode off by __heroku:user__\n"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:24:33 GMT"},[...]
{"request":{"method":"get","uri":"https://logplex.heroku.com/sessions/9d45f962-3269-4fd7-b735-b75903013c04?srv=1435396934","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["text/html"]},"body":{"encoding":"UTF-8","string":"2015-06-27T09:15:31.200033+00:00 heroku[web.1]: State changed from starting to up\n2015-06-27T09:15:46.383422+00:00 heroku[api]: Set maintenance mode off by __heroku:user__\n2015-06-27T09:16:02.465281+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-06-27T09:16:18.510148+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-06-27T09:16:34.681765+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-06-27T09:16:40.046104+00:00 heroku[api]: Set maintenance mode off by __heroku:user__\n2015-06-27T09:17:01.962135+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-06-27T09:17:07.424760+00:00 heroku[api]: Set maintenance mode off by __heroku:user__\n2015-06-27T09:19:40.907612+00:00 heroku[router]: at=info method=GET path=\"/\" host=paasal-test-app-all-updated.herokuapp.com request_id=fc6cb40e-bc38-46f5-9aa0-49daa7ab8144 fwd=\"88.128.80.114\" dyno=web.1 connect=1ms service=46ms status=200 bytes=3471\n"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:24:49 GMT"}],"recorded_with":"VCR 2.9.3"}