{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/05/13 23:58:10 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 07:05:46 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"35833cacd2532a53f82d46f096a43dfe\""], "Last-Modified":["Thu, 14 May 2015 07:00:25 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2267"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"archived_at\":null,\"buildpack_provided_description\":\"Node.js\",\"build_stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"created_at\":\"2015-05-14T06:43:58Z\",\"id\":\"1f35201d-1363-4ac1-9b8a-db35bf92e698\",\"git_url\":\"git@heroku.com:paasal-test-app-all-updated.git\",\"maintenance\":false,\"name\":\"paasal-test-app-all-updated\",\"owner\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"region\":{\"id\":\"59accabd-516d-4f0e-83e6-6e3757701145\",\"name\":\"us\"},\"released_at\":\"2015-05-14T06:57:00Z\",\"repo_size\":2703079,\"slug_size\":12590393,\"stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"updated_at\":\"2015-05-14T07:00:25Z\",\"web_url\":\"https://paasal-test-app-all-updated.herokuapp.com/\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 07:05:47 GMT"},[...]
{"request":{"method":"post","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated/log-sessions","body":{"encoding":"UTF-8","string":"{\"source\":\"heroku\",\"dyno\":\"api\",\"tail\":false}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2265"], "Status":["201 Created"]},"body":{"encoding":"UTF-8","string":"{\"created_at\":\"2015-05-14T07:05:48Z\",\"id\":\"a051768e-0598-4969-87ba-ef3616ca65fd\",\"logplex_url\":\"https://logplex.heroku.com/sessions/28e7ed11-a57c-4c3a-8931-fec362ccaa25?srv=1431587148\",\"updated_at\":\"2015-05-14T07:05:48Z\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 07:05:48 GMT"},{"request":{"method":"get","uri":"https://logplex.heroku.com/sessions/28e7ed11-a57c-4c3a-8931-fec362ccaa25?srv=1431587148","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["text/html"]},"body":{"encoding":"UTF-8","string":"2015-05-14T06:59:00.884169+00:00 heroku[api]: Set maintenance mode off by __heroku:user__\n2015-05-14T06:59:17.880715+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-05-14T06:59:34.934122+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-05-14T06:59:52.057107+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-05-14T06:59:57.477261+00:00 heroku[api]: Set maintenance mode off by __heroku:user__\n2015-05-14T07:00:20.081563+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-05-14T07:00:25.632366+00:00 heroku[api]: Set maintenance mode off by __heroku:user__\n"},"http_version":null},"recorded_at":"Thu, 14 May 2015 07:05:49 GMT"},[...]
{"request":{"method":"get","uri":"https://logplex.heroku.com/sessions/1e99f6ee-cf00-4031-b172-112d88495fe8?srv=1431587154","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["text/html"]},"body":{"encoding":"UTF-8","string":"2015-05-14T06:58:38.663720+00:00 heroku[web.1]: State changed from starting to up\n2015-05-14T06:59:00.884169+00:00 heroku[api]: Set maintenance mode off by __heroku:user__\n2015-05-14T06:59:17.880715+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-05-14T06:59:34.934122+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-05-14T06:59:52.057107+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-05-14T06:59:57.477261+00:00 heroku[api]: Set maintenance mode off by __heroku:user__\n2015-05-14T07:00:20.081563+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-05-14T07:00:25.632366+00:00 heroku[api]: Set maintenance mode off by __heroku:user__\n2015-05-14T07:03:15.900981+00:00 heroku[router]: at=info method=GET path=\"/\" host=paasal-test-app-all-updated.herokuapp.com request_id=eec8d7c3-5e6d-4237-8cef-139d5c4d8fe5 fwd=\"188.193.128.68\" dyno=web.1 connect=1ms service=93ms status=200 bytes=3471\n"},"http_version":null},"recorded_at":"Thu, 14 May 2015 07:06:03 GMT"}],"recorded_with":"VCR 2.9.3"}