{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-04-24T08:52:52.035713\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:37:52 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties35/deployment/paasal/alias","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties35/deployment/paasal/alias"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[{\"name\": \"paasal.paasaltestappallproperties35.cloudcontrolapp.com\", \"is_default\": true, \"is_verified\": true}, {\"name\": \"paasal-paasaltestappallproperties35.cloudcontrolapp.com\", \"is_default\": true, \"is_verified\": true}, {\"name\": \"paasal.paasaltestappallproperties35.cloudcontrolled.com\", \"is_default\": true, \"is_verified\": true}, {\"name\": \"paasal-paasaltestappallproperties35.cloudcontrolled.com\", \"is_default\": true, \"is_verified\": true}, {\"name\": \"adomainthatishopefullynotusedontheplatform.de\", \"is_default\": false, \"is_verified\": false}]"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:37:52 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties35/deployment/paasal/alias/adomainthatishopefullynotusedontheplatform.de","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties35/deployment/paasal/alias/adomainthatishopefullynotusedontheplatform.de"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"name\": \"adomainthatishopefullynotusedontheplatform.de\", \"is_default\": false, \"is_verified\": false, \"verification_code\": \"cloudControl-verification: 946604eeb07559edca236dee8a89a5ce2b2257c95a5d4fb96735142523bb2bd5\", \"verification_errors\": 0, \"date_created\": \"2015-04-24T08:28:55\", \"date_modified\": \"2015-04-24T08:28:55\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:37:53 GMT"},{"request":{"method":"delete","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties35/deployment/paasal/alias/adomainthatishopefullynotusedontheplatform.de","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":204,"message":null},"headers":{"Allow":["GET, POST, DELETE, HEAD, OPTIONS"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties35/deployment/paasal/alias/adomainthatishopefullynotusedontheplatform.de"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:37:53 GMT"}],"recorded_with":"VCR 2.9.3"}