---
http_interactions:
- request:
    method: post
    uri: https://api.cloudcontrol.com/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - POST, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/token"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"token": "__TOKEN__", "expires": "2015-04-02T17:19:43.180151"}'
  recorded_at: Thu, 02 Apr 2015 17:04:43 GMT
- request:
    method: get
    uri: https://api.cloudcontrol.com/app
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/app"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: '[{"name": "dummyapplication11426762425", "buildpack_url": null, "repository":
        "ssh://dummyapplication11426762425@cloudcontrolled.com/repository.git", "type":
        {"name": "nodejs"}, "owner": {"username": "__cloudcontrol:username__", "first_name":
        "", "last_name": "", "email": "__cloudcontrol:user__", "is_active": true,
        "billing_without_payment_info": false}, "users": [{"username": "__cloudcontrol:username__",
        "email": "__cloudcontrol:user__", "role": ""}], "invitations": [], "date_created":
        "2015-03-19T10:53:46", "date_modified": "2015-03-19T10:53:46", "deployments":
        [{"name": "dummyapplication11426762425/paasal", "dep_id": "dep33barw4d"}]},
        {"name": "pawapp1424349681", "buildpack_url": null, "repository": "ssh://pawapp1424349681@cloudcontrolled.com/repository.git",
        "type": {"name": "nodejs"}, "owner": {"username": "__cloudcontrol:username__",
        "first_name": "", "last_name": "", "email": "__cloudcontrol:user__", "is_active":
        true, "billing_without_payment_info": false}, "users": [{"username": "__cloudcontrol:username__",
        "email": "__cloudcontrol:user__", "role": ""}], "invita[...]
- request:
    method: get
    uri: https://api.cloudcontrol.com/app/dummyapplication11426762425/deployment/paasal
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - GET, POST, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/app/dummyapplication11426762425/deployment/paasal"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"name": "dummyapplication11426762425/paasal", "stack": {"name": "pinky"},
        "dep_id": "dep33barw4d", "branch": "ssh://dummyapplication11426762425@cloudcontrolled.com/repository.git",
        "users": [], "static_files": "(removed)", "billing_account": null, "version":
        "-1", "state": "not deployed", "date_created": "2015-03-19T10:53:47", "date_modified":
        "2015-03-19T10:53:47", "is_default": false, "default_subdomain": "paasal-dummyapplication11426762425.cloudcontrolled.com",
        "min_boxes": 1, "max_boxes": 1, "billed_boxes": {"costs": 0.0, "boxes": 0.0,
        "until": 1427932800, "free_boxes": 24.0}, "billed_addons": [{"costs": 0.0,
        "addon": "alias.free", "until": 1427932800, "hours": 24.0}]}'
  recorded_at: Thu, 02 Apr 2015 17:04:44 GMT
- request:
    method: get
    uri: https://api.cloudcontrol.com/app/pawapp1424349681/deployment/paasal
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 410
      message: 
    headers:
      Allow:
      - GET, POST, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/app/pawapp1424349681/deployment/paasal"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: Gone
  recorded_at: Thu, 02 Apr 2015 17:04:44 GMT
recorded_with: VCR 2.9.3
