---
http_interactions:
- request:
    method: post
    uri: https://api.cloudcontrol.com/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - POST, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/token"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"token": "__TOKEN__", "expires": "2015-04-08T18:09:30.220448"}'
  recorded_at: Wed, 08 Apr 2015 17:54:30 GMT
- request:
    method: get
    uri: https://api.cloudcontrol.com/app
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/app"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: '[{"name": "dummyapplication11428511876", "buildpack_url": null, "repository":
        "ssh://dummyapplication11428511876@cloudcontrolled.com/repository.git", "type":
        {"name": "nodejs"}, "owner": {"username": "__cloudcontrol:username__", "first_name":
        "", "last_name": "", "email": "__cloudcontrol:user__", "is_active": true,
        "billing_without_payment_info": false}, "users": [{"username": "__cloudcontrol:username__",
        "email": "__cloudcontrol:user__", "role": ""}], "invitations": [], "date_created":
        "2015-04-08T16:51:17", "date_modified": "2015-04-08T16:51:17", "deployments":
        [{"name": "dummyapplication11428511876/paasal", "dep_id": "depds8py4gs"}]},
        {"name": "paasaltestappallproperties13", "buildpack_url": null, "repository":
        "ssh://paasaltestappallproperties13@cloudcontrolled.com/repository.git", "type":
        {"name": "nodejs"}, "owner": {"username": "__cloudcontrol:username__", "first_name":
        "", "last_name": "", "email": "__cloudcontrol:user__", "is_active": true,
        "billing_without_payment_info": false}, "users": [{"username": "__cloudcontrol:username__",
        "email": "__cloudcontrol:user__", "role": ""}], "invitations": [], "date_created":
        "2015-04-08T17:54:17", "date_modified": "2015-04-08T17:54:17", "deployments":
        [{"name": "paasaltestappallproperties13/paasal", "dep_id": "dep5r8zdn7j"}]},
        {"name": "paasaltestappminproperties13", "buildpack_url": null, "repository":
        "ssh://paasaltestappminproperties13@cloudcontrolled.com/repository.git", "type":
        {"name": "nodejs"}, "owner": {"username": "__cloudcontrol:username__", "first_name":
        "", "last_name": "", "email": "__cloudcontrol:user__", "is_active": true,
        "billing_without_payment_info": false}, "users": [{"username": "__cloudcontrol:username__",
        "email": "__cloudcontrol:user__", "role": ""}], "invitations": [], "date_created":
        "2015-04-08T17:54:22", "date_modified": "2015-04-08T17:54:22", "deployments":
        [{"name": "paasaltestappminproperties13/paasal", "dep_id": "deph9tffrvp"}]}]'
  recorded_at: Wed, 08 Apr 2015 17:54:30 GMT
- request:
    method: get
    uri: https://api.cloudcontrol.com/app/dummyapplication11428511876/deployment/paasal
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - GET, POST, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/app/dummyapplication11428511876/deployment/paasal"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"name": "dummyapplication11428511876/paasal", "stack": {"name": "pinky"},
        "dep_id": "depds8py4gs", "branch": "ssh://dummyapplication11428511876@cloudcontrolled.com/repository.git",
        "users": [], "static_files": "(removed)", "billing_account": null, "version":
        "4fb3e6ff724aed57f9408aa4b5e8b86171e020d1", "state": "deployed", "date_created":
        "2015-04-08T16:51:18", "date_modified": "2015-04-08T16:52:21", "is_default":
        false, "default_subdomain": "paasal-dummyapplication11428511876.cloudcontrolled.com",
        "min_boxes": 1, "max_boxes": 1, "billed_boxes": {"boxes": 0.0, "free_boxes":
        0.0, "until": 1428515671, "costs": 0.0}, "billed_addons": []}'
  recorded_at: Wed, 08 Apr 2015 17:54:31 GMT
- request:
    method: get
    uri: https://api.cloudcontrol.com/app/paasaltestappallproperties13/deployment/paasal
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - GET, POST, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/app/paasaltestappallproperties13/deployment/paasal"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"name": "paasaltestappallproperties13/paasal", "stack": {"name": "pinky"},
        "dep_id": "dep5r8zdn7j", "branch": "ssh://paasaltestappallproperties13@cloudcontrolled.com/repository.git",
        "users": [], "static_files": "(removed)", "billing_account": null, "version":
        "-1", "state": "not deployed", "date_created": "2015-04-08T17:54:18", "date_modified":
        "2015-04-08T17:54:18", "is_default": false, "default_subdomain": "paasal-paasaltestappallproperties13.cloudcontrolled.com",
        "min_boxes": 1, "max_boxes": 1, "billed_boxes": {"boxes": 0.0, "until": 1428515672,
        "free_boxes": 0.0, "costs": 0.0}, "billed_addons": []}'
  recorded_at: Wed, 08 Apr 2015 17:54:32 GMT
- request:
    method: get
    uri: https://api.cloudcontrol.com/app/paasaltestappminproperties13/deployment/paasal
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - GET, POST, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/app/paasaltestappminproperties13/deployment/paasal"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"name": "paasaltestappminproperties13/paasal", "stack": {"name": "pinky"},
        "dep_id": "deph9tffrvp", "branch": "ssh://paasaltestappminproperties13@cloudcontrolled.com/repository.git",
        "users": [], "static_files": "(removed)", "billing_account": null, "version":
        "-1", "state": "not deployed", "date_created": "2015-04-08T17:54:23", "date_modified":
        "2015-04-08T17:54:23", "is_default": false, "default_subdomain": "paasal-paasaltestappminproperties13.cloudcontrolled.com",
        "min_boxes": 1, "max_boxes": 1, "billed_boxes": {"boxes": 0.0, "until": 1428515672,
        "free_boxes": 0.0, "costs": 0.0}, "billed_addons": []}'
  recorded_at: Wed, 08 Apr 2015 17:54:32 GMT
recorded_with: VCR 2.9.3
