{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?password=__heroku:password__&username=__heroku:user__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":false,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/10/08 04:22:08 -0700\",\"created_at\":\"2014/10/08 04:22:08 -0700\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/10/14 09:08:29 -0700\",\"name\":\"stfnklb\",\"updated_at\":\"2015/10/14 15:14:37 -0700\",\"verified\":false,\"verified_at\":null}"},"http_version":null},"recorded_at":"Wed, 14 Oct 2015 22:21:16 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/app_never_exists_0__heroku:password__9","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":null},"headers":{"Content-Type":["application/json"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4493"], "Status":["404 Not Found"]},"body":{"encoding":"CP850","string":"{\"resource\":\"app\",\"id\":\"not_found\",\"message\":\"Couldn't find that app.\"}"},"http_version":null},"recorded_at":"Wed, 14 Oct 2015 22:21:17 GMT"}],"recorded_with":"VCR 2.9.3"}