{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["e19c58b4-c180-41ba-6607-ca4be2c319e8"], "X-Vcap-Request-Id":["b912bd7e-20ef-45fa-6a27-e066618715d4::7beffc2e-e210-48e9-87df-24bf4f2029e9"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:30:39 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["c96365ca-a34f-4f20-4fbf-b5161e223ab3, 5083e68a-2e0e-42ff-5748-d89eeaa9aa7b"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"f94d52c0-d4ff-4af1-aa04-1e5fdddee4c5\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:30:39 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["f7f7b959-1206-41cb-4fee-4890d97849e2"], "X-Vcap-Request-Id":["55310b0c-33cb-417f-7909-99cf7b2caade::b8e53a2d-3f3c-44a8-af16-c700b9cf35c3"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"36352def-b71b-4673-8cde-0a738525b63c\",\n        \"url\": \"/v2/apps/36352def-b71b-4673-8cde-0a738525b63c\",\n        \"created_at\": \"2015-04-24T08:29:26+00:00\",\n        \"updated_at\": \"2015-04-24T08:30:39+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-min-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_test_var_value\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STARTED\",\n        \"version\": \"efeb9f74-cc7a-4b6b-8fa1-3ad4268854e2\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": \"3f3137ce35ec4c5f9581d715c0c0b3e6\",\n        \"package_state\": \"STAGED\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-04-24T08:29:59+00:00\",\n        \"detected_start_command\": \"node server.js\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/36352def-b71b-4673-8cde-0a738525b63c/events\",\n        \"service_bindings_url\": \"/v2/apps/36352def-b71b-4673-8cde-0a738525b63c/service_bindings\",\n        \"routes_url\": \"/v2/apps/36352def-b71b-4673-8cde-0a738525b63c/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:30:39 GMT"},{"request":{"method":"head","uri":"https://api.10.244.0.34.xip.io/v2/apps/36352def-b71b-4673-8cde-0a738525b63c/download","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Etag":["\"5539ff07-20e7d0\""], "Last-Modified":["Fri, 24 Apr 2015 08:29:59 GMT"], "X-Cf-Requestid":["0ac4911e-e8fc-40da-46f4-939c31e757b6"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:30:39 GMT"},{"request":{"method":"put","uri":"https://api.10.244.0.34.xip.io/v2/apps/36352def-b71b-4673-8cde-0a738525b63c","body":{"encoding":"UTF-8","string":"{\"state\":\"STOPPED\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["940162ef-a88c-4b32-6b6e-d310a14436fd"], "X-Vcap-Request-Id":["9e34c9ba-a84f-400f-727c-4bb0[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/36352def-b71b-4673-8cde-0a738525b63c/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["b109aef7-ec5f-4e95-61f5-db13e1f8e83e"], "X-Vcap-Request-Id":["08b286f4-75dd-449c-77e3-c7dae13e1968::f8952a6e-2b1e-4a2c-9cd1-6440e2284e48"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"d52b5bc1-ccde-4d17-85fb-b81c4afb5ec0\",\n        \"url\": \"/v2/routes/d52b5bc1-ccde-4d17-85fb-b81c4afb5ec0\",\n        \"created_at\": \"2015-04-24T08:29:26+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"36352def-b71b-4673-8cde-0a738525b63c\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/d52b5bc1-ccde-4d17-85fb-b81c4afb5ec0/apps\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:30:39 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["154ac5f6-06e3-4ce9-7ddb-e2d989148010"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["4e739be5-e82d-47ce-6ecf-d13f0f699f74::ca0e815e-66a1-4f37-a026-1bba6589825d"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:30:39 GMT"},[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["122f376a-c933-4880-6c78-72e3d7cfd486"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["39d4b116-55b1-4de5-5c8c-e830fee61014::ecd7f76e-4c3e-4901-b376-4a7e731371ef"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:30:39 GMT"}],"recorded_with":"VCR 2.9.3"}