{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["d827b65e-25ae-423b-78ac-16a90b1f024a"], "X-Vcap-Request-Id":["5970176d-b1fa-4304-4f74-66c499b884cd::fe80a230-1fef-47db-aed7-df970eba55dd"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:30:19 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["65bfbcff-4aae-4219-56ca-1016c238d451, b46a55e0-b9c1-4fb7-567b-aa26925480c4"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"6a0c799e-3eae-4250-8c03-5b363a457fa2\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:30:19 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["e1d3b9e5-81b3-4811-58f8-7757b8887e4d"], "X-Vcap-Request-Id":["9adad27e-9645-4ba7-4a4a-622e07e593d7::8a0e9bac-6209-415a-9a50-f5d8d1083247"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"b45e0373-49a8-4e70-b38f-76aeae572a16\",\n        \"url\": \"/v2/apps/b45e0373-49a8-4e70-b38f-76aeae572a16\",\n        \"created_at\": \"2015-04-24T08:29:25+00:00\",\n        \"updated_at\": \"2015-04-24T08:30:19+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_updated_test_var_value\",\n          \"our_test_var_key2\": \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STARTED\",\n        \"version\": \"a5f29b11-5ecd-4282-8484-11e34998c623\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": \"d8c71ecfe56e44369c4f66614f36f515\",\n        \"package_state\": \"STAGED\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-04-24T08:29:57+00:00\",\n        \"detected_start_command\": \"node server.js\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/b45e0373-49a8-4e70-b38f-76aeae572a16/events\",\n        \"service_bindings_url\": \"/v2/apps/b45e0373-49a8-4e70-b38f-76aeae572a16/service_bindings\",\n        \"routes_url\": \"/v2/apps/b45e0373-49a8-4e70-b38f-76aeae572a16/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:30:19 GMT"},{"request":{"method":"head","uri":"https://api.10.244.0.34.xip.io/v2/apps/b45e0373-49a8-4e70-b38f-76aeae572a16/download","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Etag":["\"5539ff05-20e7d0\""], "Last-Modified":["Fri, 24 Apr 2015 08:29:57 GMT"], "X-Cf-Requestid":["760a715a-d729-4da0-7481-0c0ae25d0865"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:30:19 GMT"},{"request":{"method":"put","uri":"https://api.10.244.0.34.xip.io/v2/apps/b45e0373-49a8-4e70-b38f-76aeae572a16","body":{"encoding":"UTF-8","string":"{\"state\":\"STOPPED\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["d75cf757-4aaf-4336-7b49-a181018fa2c4"], "X-Vcap-Request-Id":["46cbb61e-962d-4997-4567-4ecc[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/b45e0373-49a8-4e70-b38f-76aeae572a16/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["66ebecdc-67e4-47b4-6a2f-f42a39dfc6d3"], "X-Vcap-Request-Id":["5aaaa653-f451-4316-7d1b-5ba34d1710c8::3257e261-d82e-4ef5-9965-c88923602de8"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 3,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"f7cfe393-0283-43eb-999e-3cfd1ee94446\",\n        \"url\": \"/v2/routes/f7cfe393-0283-43eb-999e-3cfd1ee94446\",\n        \"created_at\": \"2015-04-24T08:29:25+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"b45e0373-49a8-4e70-b38f-76aeae572a16\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/f7cfe393-0283-43eb-999e-3cfd1ee94446/apps\"\n      }\n    },\n    {\n      \"metadata\": {\n        \"guid\": \"6688cd4b-4594-482c-98e0-93a555931379\",\n        \"url\": \"/v2/routes/6688cd4b-4594-482c-98e0-93a555931379\",\n        \"created_at\": \"2015-04-24T08:29:42+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"cf-bosh-local\",\n        \"domain_guid\": \"37076f61-480e-4dc3-b301-5b8c8934ce4d\",\n        \"space_guid\": \"d3483f4f-6706[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["f302e2a8-22a5-4c73-7ee3-9ec99d1948ac"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["ce28ad59-d4e4-47d5-4740-98ccda709f24::f0cba08a-61d2-44f5-b20a-a5b6224322b4"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:30:19 GMT"},[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["e51cd49b-eb8a-4c80-72a3-93e95e0e7c55"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["dc2c335e-8b34-48ac-5891-f664968c959a::c7b9afbb-a708-4427-a90a-600fbc0cdb7b"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:30:19 GMT"}],"recorded_with":"VCR 2.9.3"}