{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["bd833ae1-f021-4b8f-7734-f444a9e38d6b"], "X-Vcap-Request-Id":["5dcf7f12-9157-40f3-635f-f251c9449f4d::a2cb0e4c-8d0c-4a25-891f-076855f37a60"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:22:01 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["d03a9ab1-1d3d-4f64-53a8-cfc1bc910704, 166f99da-29bb-432e-5ddb-2ab36d956b75"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"c23f09ef-f2fd-43d1-afce-3fc4d3fa97a6\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:22:02 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/buildpacks","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["d31845dc-31e1-49b5-70a3-3ad1d891c00b"], "X-Vcap-Request-Id":["2a43c355-78c7-4cf8-62d1-b3d9e8314328::3e82ab37-ac09-4e91-9048-241caa2c491a"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 6,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"111634ab-d511-4746-a252-b5fdb15bb51c\",\n        \"url\": \"/v2/buildpacks/111634ab-d511-4746-a252-b5fdb15bb51c\",\n        \"created_at\": \"2014-12-05T16:23:50+00:00\",\n        \"updated_at\": \"2014-12-05T16:23:50+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"java_buildpack\",\n        \"position\": 1,\n        \"enabled\": true,\n        \"locked\": false,\n        \"filename\": \"java-buildpack-v2.5.zip\"\n      }\n    },\n    {\n      \"metadata\": {\n        \"guid\": \"5da6e1e2-8134-41cc-9b20-96f40fd6259d\",\n        \"url\": \"/v2/buildpacks/5da6e1e2-8134-41cc-9b20-96f40fd6259d\",\n        \"created_at\": \"2014-12-05T16:23:50+00:00\",\n        \"updated_at\": \"2014-12-05T16:25:05+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"ruby_buildpack\",\n        \"position\": 2,\n        \"enabled\": true,\n        \"locked\": false,\n        \"filename\": \"[...]
