---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 895e057a-c5d7-4841-573f-ae19772b7cd4
      X-Vcap-Request-Id:
      - 2e15d1a3-ce40-492b-7cbf-ba88cdb25871::d13a0aaa-41a9-4178-8fe6-1bc3e657f8b7
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Mon, 06 Apr 2015 20:12:55 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - b24127a3-37b9-4868-5ffb-3ac3e1546270, 3d2dd242-b5e2-4bb8-6489-4b6daf3d5d05
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"d7148aee-f3f4-44da-a8d8-159c4d9936fa"}'
  recorded_at: Mon, 06 Apr 2015 20:12:55 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/buildpacks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 973532ea-16a8-4906-70b1-e74130a317c6
      X-Vcap-Request-Id:
      - b2be4529-cad3-41e1-5c54-08ade6af4f02::45b0d6d6-34ff-4f2f-aee1-ec58aa4c4ac1
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 6,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "111634ab-d511-4746-a252-b5fdb15bb51c",
                "url": "/v2/buildpacks/111634ab-d511-4746-a252-b5fdb15bb51c",
                "created_at": "2014-12-05T16:23:50+00:00",
                "updated_at": "2014-12-05T16:23:50+00:00"
              },
              "entity": {
                "name": "java_buildpack",
                "position": 1,
                "enabled": true,
                "locked": false,
                "filename": "java-buildpack-v2.5.zip"
              }
            },
            {
              "metadata": {
                "guid": "5da6e1e2-8134-41cc-9b20-96f40fd6259d",
                "url": "/v2/buildpacks/5da6e1e2-8134-41cc-9b20-96f40fd6259d",
                "created_at": "2014-12-05T16:23:50+00:00",
                "updated_at": "2014-12-05T16:25:05+00:00"
              },
              "entity": {
                "name": "ruby_buildpack",
                "position": 2,
                "enabled"[...]
