---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - b14ecc36-c6e9-464b-4c52-74ee0ca42835
      X-Vcap-Request-Id:
      - 53b6c06b-fa30-44af-7009-ce50ed5be0d2::b65acdc4-f40e-49f6-8383-67829d35e7b1
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Sat, 04 Apr 2015 12:53:53 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - 7401c6a7-ab8a-426a-46f0-4fc3730c1d95, 6ee4ade9-8092-4907-5533-22d176b69a7b
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"23194c63-1a14-4dee-afb0-bea020364381"}'
  recorded_at: Sat, 04 Apr 2015 12:53:54 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/buildpacks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - f3e512d3-6eba-4905-4307-6ed36025d778
      X-Vcap-Request-Id:
      - fdec5707-0275-44c8-5a12-319659dd56b1::81b28c3e-8e1c-47d0-ba7b-a025d47f6205
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 6,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "111634ab-d511-4746-a252-b5fdb15bb51c",
                "url": "/v2/buildpacks/111634ab-d511-4746-a252-b5fdb15bb51c",
                "created_at": "2014-12-05T16:23:50+00:00",
                "updated_at": "2014-12-05T16:23:50+00:00"
              },
              "entity": {
                "name": "java_buildpack",
                "position": 1,
                "enabled": true,
                "locked": false,
                "filename": "java-buildpack-v2.5.zip"
              }
            },
            {
              "metadata": {
                "guid": "5da6e1e2-8134-41cc-9b20-96f40fd6259d",
                "url": "/v2/buildpacks/5da6e1e2-8134-41cc-9b20-96f40fd6259d",
                "created_at": "2014-12-05T16:23:50+00:00",
                "updated_at": "2014-12-05T16:25:05+00:00"
              },
              "entity": {
                "name": "ruby_buildpack",
                "position": 2,
                "enabled"[...]
