---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 1a383229-9ec1-43a6-5505-ce14c319469b
      X-Vcap-Request-Id:
      - 97c41afa-a09d-48b8-606a-55a3faf3cd1e::f9814428-4db9-4eb2-8d47-da575d203941
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Wed, 08 Apr 2015 15:40:28 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - b47d18ff-fb5a-4a32-5412-d7e5f4894464, 49b06d8b-9492-42d1-52ec-53fd0a189ebf
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"2d886ba9-0b6f-4dc5-b4e0-4d7dd565439c"}'
  recorded_at: Wed, 08 Apr 2015 15:40:29 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/buildpacks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 152c31bf-c7e0-405a-4a79-f9a35b5cd744
      X-Vcap-Request-Id:
      - 0f2d8a2e-12e8-471d-61ff-f083819c67bd::c4e894c3-5c6a-41ab-a0c3-c8022185eb97
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 6,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "111634ab-d511-4746-a252-b5fdb15bb51c",
                "url": "/v2/buildpacks/111634ab-d511-4746-a252-b5fdb15bb51c",
                "created_at": "2014-12-05T16:23:50+00:00",
                "updated_at": "2014-12-05T16:23:50+00:00"
              },
              "entity": {
                "name": "java_buildpack",
                "position": 1,
                "enabled": true,
                "locked": false,
                "filename": "java-buildpack-v2.5.zip"
              }
            },
            {
              "metadata": {
                "guid": "5da6e1e2-8134-41cc-9b20-96f40fd6259d",
                "url": "/v2/buildpacks/5da6e1e2-8134-41cc-9b20-96f40fd6259d",
                "created_at": "2014-12-05T16:23:50+00:00",
                "updated_at": "2014-12-05T16:25:05+00:00"
              },
              "entity": {
                "name": "ruby_buildpack",
                "position": 2,
                "enabled"[...]
