{"http_interactions":[{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["54773bbd-0fe9-4c03-46a7-6b5cb73b80dc"], "X-Vcap-Request-Id":["da07355a-3860-4c80-4290-2e8562b38975::aa8ed1e4-7b6d-48ab-af9d-f993bfe73bf8"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"https://login.run.pivotal.io\",\"token_endpoint\":\"https://uaa.run.pivotal.io\",\"min_cli_version\":null,\"min_recommended_cli_version\":null,\"api_version\":\"2.41.0\",\"app_ssh_endpoint\":\"ssh.run.pivotal.io:2222\",\"app_ssh_host_key_fingerprint\":\"e7:13:4e:32:ee:39:62:df:54:41:d7:f7:8b:b2:a7:6b\",\"app_ssh_oauth_client\":\"ssh-proxy\",\"routing_endpoint\":\"https://api.run.pivotal.io/routing\",\"logging_endpoint\":\"wss://loggregator.run.pivotal.io:443\",\"doppler_logging_endpoint\":\"wss://doppler.run.pivotal.io:443\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:47:42 GMT"},{"request":{"method":"post","uri":"https://login.run.pivotal.io/oauth/token?grant_type=password&password=__pivotal:password__&username=__pivotal:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["98be8cf7-7b4f-4282-535c-71cf1840f4f0"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"cloud_controller.read password.write cloud_controller.write openid uaa.user\",\"jti\":\"231ea82e-2b2d-455d-b9c7-90902f40a6cb\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:47:44 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/buildpacks","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["0f4b8264-a12b-479b-5172-836873cd4ad8"], "X-Vcap-Request-Id":["4c8b52ed-35c8-4ad7-6e2d-c2e0e2b95a7f::f2778919-2ae0-45d3-859c-e5d2b6fc5752"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 9,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"955d2f3d-5da9-4a16-a594-db1ba27b9113\",\n        \"url\": \"/v2/buildpacks/955d2f3d-5da9-4a16-a594-db1ba27b9113\",\n        \"created_at\": \"2014-04-08T21:59:31Z\",\n        \"updated_at\": \"2015-09-21T20:30:55Z\"\n      },\n      \"entity\": {\n        \"name\": \"ruby_buildpack\",\n        \"position\": 1,\n        \"enabled\": true,\n        \"locked\": false,\n        \"filename\": \"ruby_buildpack-cached-v1.6.7.zip\"\n      }\n    },\n    {\n      \"metadata\": {\n        \"guid\": \"6ce24da3-9ad2-49c5-ade4-08d765a01a0e\",\n        \"url\": \"/v2/buildpacks/6ce24da3-9ad2-49c5-ade4-08d765a01a0e\",\n        \"created_at\": \"2014-04-08T21:59:32Z\",\n        \"updated_at\": \"2015-07-29T19:17:11Z\"\n      },\n      \"entity\": {\n        \"name\": \"nodejs_buildpack\",\n        \"position\": 2,\n        \"enabled\": true,\n        \"locked\": false,\n        \"filename\": \[...]
