{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["ed1a432e-4754-4653-4971-26783f592fb2"], "X-Vcap-Request-Id":["e2ccaa17-23ba-4870-52a4-c75fd9e4e1a5::1523aa4a-b859-4c4a-9b93-ac6b554cf5e0"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:31:28 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["04230e16-b668-4dbe-6379-881031fd6fce, 5aed073c-536e-40a7-4732-622b3c83d9ac"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"80acfb8d-9405-45a4-860d-b3d4e8c9fd2f\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:31:28 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/buildpacks","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["b8b367ca-e729-4a1b-4672-6d69115864c5"], "X-Vcap-Request-Id":["1dc8635d-6d1d-44a6-49e5-9a24cb50b3c5::ba613768-9043-4eb7-aa0f-717c01ab281d"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 6,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"111634ab-d511-4746-a252-b5fdb15bb51c\",\n        \"url\": \"/v2/buildpacks/111634ab-d511-4746-a252-b5fdb15bb51c\",\n        \"created_at\": \"2014-12-05T16:23:50+00:00\",\n        \"updated_at\": \"2014-12-05T16:23:50+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"java_buildpack\",\n        \"position\": 1,\n        \"enabled\": true,\n        \"locked\": false,\n        \"filename\": \"java-buildpack-v2.5.zip\"\n      }\n    },\n    {\n      \"metadata\": {\n        \"guid\": \"5da6e1e2-8134-41cc-9b20-96f40fd6259d\",\n        \"url\": \"/v2/buildpacks/5da6e1e2-8134-41cc-9b20-96f40fd6259d\",\n        \"created_at\": \"2014-12-05T16:23:50+00:00\",\n        \"updated_at\": \"2014-12-05T16:25:05+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"ruby_buildpack\",\n        \"position\": 2,\n        \"enabled\": true,\n        \"locked\": false,\n        \"filename\": \"[...]
