---
http_interactions:
- request:
    method: post
    uri: https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"allow_tracking":true,"api_key":"__API_KEY__","beta":null,"confirmed":true,"confirmed_at":"2014/11/18
        01:37:21 -0800","created_at":"2014/11/18 01:37:21 -0800","id":"__USER_ID__@users.heroku.com","email":"__heroku:user__","last_login":"2014/11/25
        00:52:59 -0800","name":" ","updated_at":"2015/03/25 09:38:03 -0700","verified":false,"verified_at":null}'
  recorded_at: Wed, 25 Mar 2015 16:51:21 GMT
- request:
    method: post
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated/domains
    body:
      encoding: UTF-8
      string: ! '{"hostname":"heroku.adomainthatishopefullynotusedontheplatform.de"}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global write write-protected
      RateLimit-Remaining:
      - '2306'
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: ! '{"app":{"id":"0bb04d40-51d7-4907-97ed-0fc2b317371b","name":"paasal-test-app-all-updated"},"created_at":"2015-03-25T16:51:22Z","hostname":"heroku.adomainthatishopefullynotusedontheplatform.de","id":"ac98fe89-13f7-4e0d-b4ab-eb2e2e49374d","updated_at":"2015-03-25T16:51:22Z"}'
  recorded_at: Wed, 25 Mar 2015 16:51:22 GMT
recorded_with: VCR 2.9.3
