---
http_interactions:
- request:
    method: post
    uri: https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"allow_tracking":true,"api_key":"__API_KEY__","beta":null,"confirmed":true,"confirmed_at":"2014/11/18
        01:37:21 -0800","created_at":"2014/11/18 01:37:21 -0800","id":"__USER_ID__@users.heroku.com","email":"__heroku:user__","last_login":"2014/11/25
        00:52:59 -0800","name":" ","updated_at":"2015/03/19 09:27:04 -0700","verified":false,"verified_at":null}'
  recorded_at: Thu, 19 Mar 2015 16:30:04 GMT
- request:
    method: post
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated/domains
    body:
      encoding: UTF-8
      string: '{"hostname":"adomainthatishopefullynotusedontheplatform.de"}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global write write-protected
      RateLimit-Remaining:
      - '1982'
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"app":{"id":"2b04388f-0b2a-48e1-b7d6-3301afb77c4d","name":"paasal-test-app-all-updated"},"created_at":"2015-03-19T16:30:05Z","hostname":"adomainthatishopefullynotusedontheplatform.de","id":"596e9243-f870-4f74-bff8-fc7f1c37088b","updated_at":"2015-03-19T16:30:05Z"}'
  recorded_at: Thu, 19 Mar 2015 16:30:05 GMT
recorded_with: VCR 2.9.3
