---
http_interactions:
- request:
    method: post
    uri: https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"allow_tracking":true,"api_key":"__API_KEY__","beta":null,"confirmed":true,"confirmed_at":"2014/11/18
        01:37:21 -0800","created_at":"2014/11/18 01:37:21 -0800","id":"__USER_ID__@users.heroku.com","email":"__heroku:user__","last_login":"2015/04/08
        09:21:45 -0700","name":" ","updated_at":"2015/04/08 09:41:08 -0700","verified":false,"verified_at":null}'
  recorded_at: Wed, 08 Apr 2015 16:50:25 GMT
- request:
    method: post
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated/domains
    body:
      encoding: UTF-8
      string: '{"hostname":"heroku.adomainthatishopefullynotusedontheplatform.de"}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global write write-protected
      RateLimit-Remaining:
      - '2316'
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"app":{"id":"1aeedf64-e713-40fc-bc75-c745db7c05cd","name":"paasal-test-app-all-updated"},"created_at":"2015-04-08T16:50:26Z","hostname":"heroku.adomainthatishopefullynotusedontheplatform.de","id":"b28be67f-80c4-4742-acf3-9a0a89b7ebf4","updated_at":"2015-04-08T16:50:26Z"}'
  recorded_at: Wed, 08 Apr 2015 16:50:26 GMT
recorded_with: VCR 2.9.3
