---
http_interactions:
- request:
    method: post
    uri: https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"allow_tracking":true,"api_key":"__API_KEY__","beta":null,"confirmed":true,"confirmed_at":"2014/11/18
        01:37:21 -0800","created_at":"2014/11/18 01:37:21 -0800","id":"__USER_ID__@users.heroku.com","email":"__heroku:user__","last_login":"2014/11/25
        00:52:59 -0800","name":" ","updated_at":"2015/04/06 13:31:08 -0700","verified":false,"verified_at":null}'
  recorded_at: Mon, 06 Apr 2015 20:36:50 GMT
- request:
    method: post
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated/domains
    body:
      encoding: UTF-8
      string: '{"hostname":"heroku.adomainthatishopefullynotusedontheplatform.de"}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global write write-protected
      RateLimit-Remaining:
      - '2141'
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"app":{"id":"5b811f57-85dd-40bc-b95c-cb80903f88ee","name":"paasal-test-app-all-updated"},"created_at":"2015-04-06T20:36:50Z","hostname":"heroku.adomainthatishopefullynotusedontheplatform.de","id":"9eba0b79-217b-46ee-850a-a56157b7bed0","updated_at":"2015-04-06T20:36:50Z"}'
  recorded_at: Mon, 06 Apr 2015 20:36:51 GMT
recorded_with: VCR 2.9.3
