{"http_interactions":[{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/user","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"5d381671f0ee882d7f9737019380fc61\""], "ProxyTime":["D=682640"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["547c8e445973ca306e0000ad"]},"body":{"encoding":"UTF-8","string":"{\"api_version\":1.7,\"data\":{\"capabilities\":{\"subaccounts\":false,\"gear_sizes\":[\"small\",\"small.highcpu\",\"medium\",\"large\"],\"plan_upgrade_enabled\":true,\"private_ssl_certificates\":true,\"view_global_teams\":false,\"max_storage_per_gear\":30},\"consumed_gears\":0,\"created_at\":\"2014-12-01T15:50:28Z\",\"currency_cd\":\"eur\",\"email\":\"__openshift-online:user__\",\"id\":\"547c8e445973ca306e0000ad\",\"links\":{\"ADD_KEY\":{\"href\":\"https://openshift.redhat.com/broker/rest/user/keys\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Add new SSH key\",\"required_params\":[{\"description\":\"Name of the key\",\"invalid_options\":[],\"name\":\"name\",\"type\":\"string\",\"valid_options\":[]},{\"description\":\"Type of Key\",\"invalid_options\":[],\"name\":\"type\",\"type\":\"string\",\"valid_options\":[\"ssh-rsa\",\"ssh-dss\",\"ssh-rsa-cert-v01@openssh.com\",\"ssh-dss-cert-v01@openssh.com\",\"ssh-rsa-cert-v00@openssh.com\",\"ssh-dss-cert-v00@openssh.com\"]},{\"description\":\"The key portion of an ssh key (excluding key type and comment)\",\"invalid_options\":[],\"name\":\"content\",\"type\":\"string\",\"valid_options\":[]}]},\"LIST_KEYS\":{\"href\":\"https://openshift.redhat.com/broker/rest/user/keys\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"List SSH keys\",\"required_params\":[]}},\"login\":\"__openshift-online:user__\",\"max_domains\":3,\"max_gears\":16,\"max_teams\":15,\"plan_expiration_date\":null,\"plan_id\":\"bronze\",\"plan_quantity\":1,\"plan_state\":\"ACTIVE\",\"usage_account_id\":\"32488930\",\"usage_rates\":{\"prepaid\":false,\"storage\":{\"gigabyte\":[{\"min\":0,\"max\":30,\"usd\":1.0,\"cad\":1.0,\"eur\":1.0,\"duration\":\"month\"}]}}},\"messages\":[],\"status\":\"ok\",\"supported_api_versions\":[1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7],\"type\":\"user\",\"version\":\"1.7\"}"},"http_version":null},"recorded_at":"Thu, 22 Oct 2015 23:43:28 GMT"},{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/regions","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"deddc35657a169bea667b923a1d977ef\""], "ProxyTime":["D=16970"], "Status":["200"]},"body":{"encoding":"CP850","string":"{\"api_version\":1.7,\"data\":[{\"allow_selection\":true,\"default\":true,\"description\":\"All gear sizes can be deployed to the US Region.\",\"id\":\"54104999e0b8cd5ee5000001\",\"name\":\"aws-us-east-1\",\"zones\":[{\"_id\":\"54104acae0b8cd9948000001\",\"_type\":null,\"created_at\":\"2014-09-10T12:57:46Z\",\"name\":\"aws-us-east-1a\",\"updated_at\":\"2014-09-10T12:57:46Z\"},{\"_id\":\"54104ad4e0b8cd486b000001\",\"_type\":null,\"created_at\":\"2014-09-10T12:57:56Z\",\"name\":\"aws-us-east-1b\",\"updated_at\":\"2014-09-10T12:57:56Z\"},{\"_id\":\"54104adfe0b8cd4301000001\",\"_type\":null,\"created_at\":\"2014-09-10T12:58:07Z\",\"name\":\"aws-us-east-1c\",\"updated_at\":\"2014-09-10T12:58:07Z\"},{\"_id\":\"54104af4e0b8cde47b000001\",\"_type\":null,\"created_at\":\"2014-09-10T12:58:28Z\",\"name\":\"aws-us-east-1e\",\"updated_at\":\"2014-09-10T1[...]
