{"http_interactions":[{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/user","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"3378689cf18b9b6ee3f87699a72c89b1\""], "ProxyTime":["D=664833"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["547c8e445973ca306e0000ad"]},"body":{"encoding":"UTF-8","string":"{\"api_version\":1.7,\"data\":{\"capabilities\":{\"subaccounts\":false,\"gear_sizes\":[\"small\",\"small.highcpu\",\"medium\",\"large\"],\"plan_upgrade_enabled\":true,\"private_ssl_certificates\":true,\"view_global_teams\":false,\"max_storage_per_gear\":30},\"consumed_gears\":3,\"created_at\":\"2014-12-01T15:50:28Z\",\"currency_cd\":\"eur\",\"email\":\"__openshift-online:user__\",\"id\":\"547c8e445973ca306e0000ad\",\"links\":{\"ADD_KEY\":{\"href\":\"https://openshift.redhat.com/broker/rest/user/keys\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Add new SSH key\",\"required_params\":[{\"description\":\"Name of the key\",\"invalid_options\":[],\"name\":\"name\",\"type\":\"string\",\"valid_options\":[]},{\"description\":\"Type of Key\",\"invalid_options\":[],\"name\":\"type\",\"type\":\"string\",\"valid_options\":[\"ssh-rsa\",\"ssh-dss\",\"ssh-rsa-cert-v01@openssh.com\",\"ssh-dss-cert-v01@openssh.com\",\"ssh-rsa-cert-v00@openssh.com\",\"ssh-dss-cert-v00@openssh.com\"]},{\"description\":\"The key portion of an ssh key (excluding key type and comment)\",\"invalid_options\":[],\"name\":\"content\",\"type\":\"string\",\"valid_options\":[]}]},\"LIST_KEYS\":{\"href\":\"https://openshift.redhat.com/broker/rest/user/keys\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"List SSH keys\",\"required_params\":[]}},\"login\":\"__openshift-online:user__\",\"max_domains\":3,\"max_gears\":16,\"max_teams\":15,\"plan_expiration_date\":null,\"plan_id\":\"bronze\",\"plan_quantity\":1,\"plan_state\":\"ACTIVE\",\"usage_account_id\":\"32488930\",\"usage_rates\":{\"prepaid\":false,\"storage\":{\"gigabyte\":[{\"min\":0,\"max\":30,\"usd\":1.0,\"cad\":1.0,\"eur\":1.0,\"duration\":\"month\"}]}}},\"messages\":[],\"status\":\"ok\",\"supported_api_versions\":[1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7],\"type\":\"user\",\"version\":\"1.7\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 01:23:27 GMT"},{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/domains","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"b9bb9f98b90570a38433f879df1cf7b4\""], "ProxyTime":["D=636949"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["547c8e445973ca306e0000ad"]},"body":{"encoding":"CP850","string":"{\"api_version\":1.7,\"data\":[{\"allowed_gear_sizes\":[\"small\",\"small.highcpu\",\"medium\",\"large\"],\"available_gears\":13,\"creation_time\":\"2015-02-17T10:02:00Z\",\"id\":\"54e31198e0b8cdc8760001cc\",\"links\":{\"GET\":{\"href\":\"https://openshift.redhat.com/broker/rest/domain/unibadsg\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"Get domain\",\"required_params\":[]},\"ADD_APPLICATION\":{\"href\":\"https://openshift.redhat.com/broker/rest/domain/unibadsg/applications\",\"method\":\"POST\",\"optional_params\":[{\"default_value\":null,\"description\":\"Array of one or more cartridge names\",\"name\":\"cartridges\",\"type\":\"array\",\"valid_options\":[]},{\"default_value\":false,\"description\":\"Mark application as scalable\",\"name\":\"scale\",\"type\":\"boolean\",\"valid_options\":[true,false]},{\"default_value\":\"small\",\"description\":\"The size of the gear\",\"name\":\"gear_size\",\"type\":\"string\",\"valid_options\":[\"small\",\"small.highcpu\",\"medium\",\"large\"]},{\"default_value\":null,\"description\":\"A [...]
{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/domains/unibadsg/applications/nucleustestappallproperties","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"a1a29a47ff12efb93f9397fb5f1e21e6\""], "ProxyTime":["D=713716"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["547c8e445973ca306e0000ad"]},"body":{"encoding":"CP850","string":"{\"api_version\":1.7,\"data\":{\"aliases\":[{\"certificate_added_at\":null,\"has_private_ssl_certificate\":false,\"id\":\"openshift-online.adomainthatishopefullynotusedontheplatform.de\",\"links\":{\"GET\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/alias/openshift-online.adomainthatishopefullynotusedontheplatform.de\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"Get alias\",\"required_params\":[]},\"UPDATE\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/alias/openshift-online.adomainthatishopefullynotusedontheplatform.de\",\"method\":\"PUT\",\"optional_params\":[{\"default_value\":null,\"description\":\"Optional passphrase for the private key\",\"name\":\"pass_phrase\",\"type\":\"string\",\"valid_options\":[]}],\"rel\":\"Update alias\",\"required_params\":[{\"description\":\"Content of SSL Certificate\",\"invalid_options\":[],\"name\":\"ssl_certificate\",\"type\":\"string\",\"valid_options\":[]},{\"description\":\"Private key for the certificate.  Required if adding a certificate\",\"invalid_options\":[],\"name\":\"private_key\",\"type\":\"string\",\"valid_options\":[]}]},\"DELETE\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/alias/openshift-online.adomainthatishopefullynotusedontheplatform.de\",\"method\":\"DELETE\",\"optional_params\":[],\"rel\":\"Delete alias\",\"required_params\":[]}}},{\"certificate_added_at\":null,\"has_private_ssl_certificate\":false,\"id\":\"adomainthatishopefullynotusedontheplatform.de\",\"links\":{\"GET\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/alias/ad[...]
{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"a1a29a47ff12efb93f9397fb5f1e21e6\""], "ProxyTime":["D=610097"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity[...]
{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/deployments","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"6c8b0b896c12fbf51f911d03ac5addd2\""], "ProxyTime":["D=584471"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["547c8e445973ca306e0000ad"]},"body":{"encoding":"CP850","string":"{\"api_version\":1.7,\"data\":[{\"activations\":[\"2015-10-22T23:46:51Z\"],\"created_at\":\"2015-10-22T23:43:53Z\",\"force_clean_build\":false,\"hot_deploy\":false,\"id\":\"ab99123a\",\"ref\":\"master\",\"sha1\":\"527b841\"}],\"messages\":[{\"exit_code\":0,\"field\":null,\"index\":null,\"severity\":\"info\",\"text\":\"Listing deployments for application nucleustestappallproperties under domain unibadsg\"}],\"status\":\"ok\",\"supported_api_versions\":[1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7],\"type\":\"deployments\",\"version\":\"1.7\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 01:23:32 GMT"},{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/gear_groups","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"dee05d681f6743391775294d7bb91ba3\""], "ProxyTime":["D=719745"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["547c8e445973ca306e0000ad"]},"body":{"encoding":"CP850","string":"{\"api_version\":1.7,\"data\":[{\"additional_gear_storage\":0,\"base_gear_storage\":1,\"cartridges\":[{\"name\":\"haproxy-1.4\",\"display_name\":\"Web Load Balancer\",\"tags\":[\"web_proxy\",\"scales\",\"embedded\"]},{\"name\":\"nodejs-0.10\",\"display_name\":\"Node.js 0.10\",\"tags\":[\"service\",\"javascript\",\"nodejs\",\"web_framework\"]}],\"gear_profile\":\"small\",\"gears\":[{\"id\":\"562974b10c1e663e6f000173\",\"state\":\"started\",\"ssh_url\":\"ssh://562974b10c1e663e6f000173@nucleustestappallproperties-unibadsg.rhcloud.com\",\"region\":\"aws-us-east-1\",\"zone\":\"aws-us-east-1b\"}],\"id\":\"562974b10c1e663e6f000175\",\"name\":\"562974b10c1e663e6f000175\",\"scales_from\":1,\"scales_to\":-1},{\"additional_gear_storage\":0,\"base_gear_storage\":1,\"cartridges\":[{\"connection_url\":\"mongodb://$OPENSHIFT_MONGODB_DB_HOST:$OPENSHIFT_MONGODB_DB_PORT/\",\"username\":\"admin\",\"password\":\"vaFdqBhSuqTB\",\"database_name\":\"nucleustestappallproperties\",\"name\":\"mongodb-2.4\",\"display_name\":\"MongoDB 2.4\",\"tags\":[\"service\",\"database\",\"nosql\",\"embedded\"]}],\"gear_profile\":\"small\",\"gears\":[{\"id\":\"562978670c1e6642530000ee\",\"state\":\"started\",\"ssh_url\":\"ssh://562978670c1e6642530000ee@562978670c1e6642530000ee-unibadsg.rhcloud.com\",\"region\":\"aws-us-east-1\",\"zone\":\"aws-us-east-1e\"}],\"id\":\"562978670c1e6642530000ef\",\"name\":\"562978670c1e6642530000ef\",\"scales_from\":1,\"scales_to\":1}],\"messages\":[{\"exit_code\":0,\"field\":null,\"index\":null,\"severity\":\"info\",\"text\":\"Showing gear groups for application 'nucleustestappallproperties' with domain 'unibadsg'\"},{\"exit_code\":0,\"field\":null,\"index\":null,\"severity\":\"result\",\"text\":\"started\\nstarted\\n\"}],\"status\":\"ok\",\"supported_api_versions\":[1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7],\"type\":\"gear_groups\",\"version\":\"1.7\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 01:23:33 GMT"},[...]
{"request":{"method":"post","uri":"https://openshift.redhat.com/broker/rest/user/keys","body":{"encoding":"UTF-8","string":"{\"name\":\"nucleus-2d931510-d99f-494a-8c67-000000000003\",\"type\":\"ssh-rsa\",\"content\":\"AAAAB3NzaC1yc2EAAAADAQABAAACAQDCHgNc4jRSbs6NRwAe4B+uWdmbVVOfOpaQqyq0Xkz28FUr+wg49f3iaUKWSnxJD+rMDdiKTjrM3NyXzW8WFDIT6c/g1Wk1/QOgIL1oly26IR4p0TBJRJrTZj3mrftfeTjln8AB71IcxupsLBGIy6oeWuoEK77WvuHuBKxsacpmfPCXheBKKe1Q354jgoR+P9r16iAOFzGNzfsz95D2dshTB1Pgq8r9KLH0HUWjemi0BqeMjHKtJTpVCw8wPBYlYLtBlg8to/KyiBC0vjNXTkvPZALW+FhHOzgX8QyjVlA7Y5RpHqmWc2lqs34KExr6ykoxY54dL2yvYWH50xF8dpyZF57udWdpknRGNSZfOKz0wRZ2oqR6p/TrkjVXFSjENy0LF7ni8Y6v2BXZ2YPhKRr8aDMaZVtzhbH7yeLSDoPnzptpJXXFyB9FZJodDopMQ7vB1sIM0X/RSgObdbxSJ3[...]
{"request":{"method":"delete","uri":"https://openshift.redhat.com/broker/rest/user/keys/nucleus-2d931510-d99f-494a-8c67-000000000003","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"db22fb650d0aaf70f9e4a6c842c4ea33\""], "ProxyTime":["D=1139966"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["547c8e445973ca306e0000ad"]},"body":{"encoding":"CP850","string":"{\"api_version\":1.7,\"data\":null,\"messages\":[{\"exit_code\":0,\"field\":null,\"index\":null,\"severity\":\"info\",\"text\":\"Removed SSH key nucleus-2d931510-d99f-494a-8c67-000000000003\"}],\"status\":\"ok\",\"supported_api_versions\":[1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7],\"type\":null,\"version\":\"1.7\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 01:23:40 GMT"}],"recorded_with":"VCR 2.9.3"}