{"http_interactions":[{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/user","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"9cce4cd6d7387a6cf19e8684074bfc6b\""], "ProxyTime":["D=1031667"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["__openshift-online:id__"]},"body":{"encoding":"UTF-8","string":"{\"api_version\":1.7,\"data\":{\"capabilities\":{\"subaccounts\":false,\"gear_sizes\":[\"small\"],\"plan_upgrade_enabled\":true,\"view_global_teams\":false},\"consumed_gears\":3,\"created_at\":\"2014-10-09T06:16:06Z\",\"currency_cd\":null,\"email\":\"__openshift-online:user__\",\"id\":\"__openshift-online:id__\",\"links\":{\"ADD_KEY\":{\"href\":\"https://openshift.redhat.com/broker/rest/user/keys\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Add new SSH key\",\"required_params\":[{\"description\":\"Name of the key\",\"invalid_options\":[],\"name\":\"name\",\"type\":\"string\",\"valid_options\":[]},{\"description\":\"Type of Key\",\"invalid_options\":[],\"name\":\"type\",\"type\":\"string\",\"valid_options\":[\"ssh-rsa\",\"ssh-dss\",\"ssh-rsa-cert-v01@openssh.com\",\"ssh-dss-cert-v01@openssh.com\",\"ssh-rsa-cert-v00@openssh.com\",\"ssh-dss-cert-v00@openssh.com\"]},{\"description\":\"The key portion of an ssh key (excluding key type and comment)\",\"invalid_options\":[],\"name\":\"content\",\"type\":\"string\",\"valid_options\":[]}]},\"LIST_KEYS\":{\"href\":\"https://openshift.redhat.com/broker/rest/user/keys\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"List SSH keys\",\"required_params\":[]}},\"login\":\"__openshift-online:user__\",\"max_domains\":1,\"max_gears\":3,\"max_teams\":0,\"plan_expiration_date\":null,\"plan_id\":\"free\",\"plan_quantity\":1,\"plan_state\":\"ACTIVE\",\"usage_account_id\":null,\"usage_rates\":{\"prepaid\":false}},\"messages\":[],\"status\":\"ok\",\"supported_api_versions\":[1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7],\"type\":\"user\",\"version\":\"1.7\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 11:11:30 GMT"},{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/domains","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"78ee1f4b4be431697d6b73a099782421\""], "ProxyTime":["D=2681142"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["__openshift-online:id__"]},"body":{"encoding":"UTF-8","string":"{\"api_version\":1.7,\"data\":[{\"allowed_gear_sizes\":[\"small\"],\"available_gears\":0,\"creation_time\":\"2014-10-09T06:18:53Z\",\"id\":\"543628cd4382ecf496000284\",\"links\":{\"GET\":{\"href\":\"https://openshift.redhat.com/broker/rest/domain/roecky\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"Get domain\",\"required_params\":[]},\"ADD_APPLICATION\":{\"href\":\"https://openshift.redhat.com/broker/rest/domain/roecky/applications\",\"method\":\"POST\",\"optional_params\":[{\"default_value\":null,\"description\":\"Array of one or more cartridge names\",\"name\":\"cartridges\",\"type\":\"array\",\"valid_options\":[]},{\"default_value\":false,\"description\":\"Mark application as scalable\",\"name\":\"scale\",\"type\":\"boolean\",\"valid_options\":[true,false]},{\"default_value\":\"small\",\"description\":\"The size of the gear\",\"name\":\"gear_size\",\"type\":\"string\",\"valid_options\":[\"small\"]},{\"default_value\":null,\"description\":\"A URL to a Git source code repository tha[...]
{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/domains/roecky/applications/paasaltestappallproperties","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"e37dd8486756c527a9b11f4ac67aeafb\""], "ProxyTime":["D=728948"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["__openshift-online:id__"]},"body":{"encoding":"UTF-8","string":"{\"api_version\":1.7,\"data\":{\"aliases\":[{\"certificate_added_at\":null,\"has_private_ssl_certificate\":false,\"id\":\"openshift-online.adomainthatishopefullynotusedontheplatform.de\",\"links\":{\"GET\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/558e80864382ec47f1000138/alias/openshift-online.adomainthatishopefullynotusedontheplatform.de\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"Get alias\",\"required_params\":[]},\"UPDATE\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/558e80864382ec47f1000138/alias/openshift-online.adomainthatishopefullynotusedontheplatform.de\",\"method\":\"PUT\",\"optional_params\":[{\"default_value\":null,\"description\":\"Optional passphrase for the private key\",\"name\":\"pass_phrase\",\"type\":\"string\",\"valid_options\":[]}],\"rel\":\"Update alias\",\"required_params\":[{\"description\":\"Content of SSL Certificate\",\"invalid_options\":[],\"name\":\"ssl_certificate\",\"type\":\"string\",\"valid_options\":[]},{\"description\":\"Private key for the certificate.  Required if adding a certificate\",\"invalid_options\":[],\"name\":\"private_key\",\"type\":\"string\",\"valid_options\":[]}]},\"DELETE\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/558e80864382ec47f1000138/alias/openshift-online.adomainthatishopefullynotusedontheplatform.de\",\"method\":\"DELETE\",\"optional_params\":[],\"rel\":\"Delete alias\",\"required_params\":[]}}},{\"certificate_added_at\":null,\"has_private_ssl_certificate\":false,\"id\":\"adomainthatishopefullynotusedontheplatform.de\",\"links\":{\"GET\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/558e80864382ec47f1000138/alias/ad[...]
{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/application/558e80864382ec47f1000138","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"e37dd8486756c527a9b11f4ac67aeafb\""], "ProxyTime":["D=650227"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity[...]
{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/application/558e80864382ec47f1000138/deployments","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"0154dc0bb0ce4ddc10fae75c6a647cd7\""], "ProxyTime":["D=928037"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["__openshift-online:id__"]},"body":{"encoding":"UTF-8","string":"{\"api_version\":1.7,\"data\":[{\"activations\":[\"2015-06-27T10:56:43Z\"],\"created_at\":\"2015-06-27T10:53:10Z\",\"force_clean_build\":false,\"hot_deploy\":false,\"id\":\"a1b1f3fb\",\"ref\":\"master\",\"sha1\":\"bb912dd\"}],\"messages\":[{\"exit_code\":0,\"field\":null,\"index\":null,\"severity\":\"info\",\"text\":\"Listing deployments for application paasaltestappallproperties under domain roecky\"}],\"status\":\"ok\",\"supported_api_versions\":[1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7],\"type\":\"deployments\",\"version\":\"1.7\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 11:11:39 GMT"},{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/application/558e80864382ec47f1000138/gear_groups","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"5d42eae0ff5c0f660f1309b90fe9cba8\""], "ProxyTime":["D=1023735"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["__openshift-online:id__"]},"body":{"encoding":"UTF-8","string":"{\"api_version\":1.7,\"data\":[{\"additional_gear_storage\":0,\"base_gear_storage\":1,\"cartridges\":[{\"name\":\"haproxy-1.4\",\"display_name\":\"Web Load Balancer\",\"tags\":[\"web_proxy\",\"scales\",\"embedded\"]},{\"name\":\"nodejs-0.10\",\"display_name\":\"Node.js 0.10\",\"tags\":[\"service\",\"javascript\",\"nodejs\",\"web_framework\"]}],\"gear_profile\":\"small\",\"gears\":[{\"id\":\"558e80864382ec47f1000138\",\"state\":\"started\",\"ssh_url\":\"ssh://558e80864382ec47f1000138@paasaltestappallproperties-roecky.rhcloud.com\",\"region\":\"aws-us-east-1\",\"zone\":\"aws-us-east-1b\"}],\"id\":\"558e80864382ec47f100013a\",\"name\":\"558e80864382ec47f100013a\",\"scales_from\":1,\"scales_to\":-1},{\"additional_gear_storage\":0,\"base_gear_storage\":1,\"cartridges\":[{\"connection_url\":\"mongodb://$OPENSHIFT_MONGODB_DB_HOST:$OPENSHIFT_MONGODB_DB_PORT/\",\"username\":\"admin\",\"password\":\"AHaEUm1iAhQi\",\"database_name\":\"paasaltestappallproperties\",\"name\":\"mongodb-2.4\",\"display_name\":\"MongoDB 2.4\",\"tags\":[\"service\",\"database\",\"nosql\",\"embedded\"]}],\"gear_profile\":\"small\",\"gears\":[{\"id\":\"558e83eb5004464795000044\",\"state\":\"started\",\"ssh_url\":\"ssh://558e83eb5004464795000044@558e83eb5004464795000044-roecky.rhcloud.com\",\"region\":\"aws-us-east-1\",\"zone\":\"aws-us-east-1e\"}],\"id\":\"558e83eb5004464795000045\",\"name\":\"558e83eb5004464795000045\",\"scales_from\":1,\"scales_to\":1}],\"messages\":[{\"exit_code\":0,\"field\":null,\"index\":null,\"severity\":\"info\",\"text\":\"Showing gear groups for application 'paasaltestappallproperties' with domain 'roecky'\"},{\"exit_code\":0,\"field\":null,\"index\":null,\"severity\":\"result\",\"text\":\"started\\nstarted\\n\"}],\"status\":\"ok\",\"supported_api_versions\":[1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7],\"type\":\"gear_groups\",\"version\":\"1.7\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 11:11:40 GMT"},[...]
{"request":{"method":"post","uri":"https://openshift.redhat.com/broker/rest/user/keys","body":{"encoding":"UTF-8","string":"{\"name\":\"paasal-2d931510-d99f-494a-8c67-000000000003\",\"type\":\"ssh-rsa\",\"content\":\"AAAAB3NzaC1yc2EAAAADAQABAAACAQDCHgNc4jRSbs6NRwAe4B+uWdmbVVOfOpaQqyq0Xkz28FUr+wg49f3iaUKWSnxJD+rMDdiKTjrM3NyXzW8WFDIT6c/g1Wk1/QOgIL1oly26IR4p0TBJRJrTZj3mrftfeTjln8AB71IcxupsLBGIy6oeWuoEK77WvuHuBKxsacpmfPCXheBKKe1Q354jgoR+P9r16iAOFzGNzfsz95D2dshTB1Pgq8r9KLH0HUWjemi0BqeMjHKtJTpVCw8wPBYlYLtBlg8to/KyiBC0vjNXTkvPZALW+FhHOzgX8QyjVlA7Y5RpHqmWc2lqs34KExr6ykoxY54dL2yvYWH50xF8dpyZF57udWdpknRGNSZfOKz0wRZ2oqR6p/TrkjVXFSjENy0LF7ni8Y6v2BXZ2YPhKRr8aDMaZVtzhbH7yeLSDoPnzptpJXXFyB9FZJodDopMQ7vB1sIM0X/RSgObdbxSJ3[...]
{"request":{"method":"delete","uri":"https://openshift.redhat.com/broker/rest/user/keys/paasal-2d931510-d99f-494a-8c67-000000000003","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ProxyTime":["D=814925"], "Status":["404"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["__openshift-online:id__"]},"body":{"encoding":"UTF-8","string":"{\"api_version\":1.7,\"data\":null,\"messages\":[{\"exit_code\":118,\"field\":null,\"index\":null,\"severity\":\"error\",\"text\":\"User ssh key 'paasal-2d931510-d99f-494a-8c67-000000000003' not found.\"}],\"status\":\"not_found\",\"supported_api_versions\":[1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7],\"type\":null,\"version\":\"1.7\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 11:13:32 GMT"}],"recorded_with":"VCR 2.9.3"}