{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-04-28T16:04:24.073753\"}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 15:49:24 GMT"}],"recorded_with":"VCR 2.9.3"}