{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["7572cf94-7d07-4e2b-5afb-d29b4c4a2f8b"], "X-Vcap-Request-Id":["3a62e0e5-aa25-4dd2-6697-744f8cb9552d::1e7460b9-1d12-4a82-af57-d477c9588cde"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:16 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["c3f95a18-6c32-4cd9-6ee8-ce886410e28d, 14443d87-b2db-4ca5-701b-a30c6b1e5945"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"3e22a423-e64e-4296-ac05-af7239fd0de4\"}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:17 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["f240eb7d-0436-4c99-5de1-c5f10639f32e"], "X-Vcap-Request-Id":["95a014cc-96d4-4939-62cb-d5f7684b2a43::0b287924-402c-4b5e-9d69-922c8766968c"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"d62578b0-14cb-41dc-bb83-b42ddee55282\",\n        \"url\": \"/v2/apps/d62578b0-14cb-41dc-bb83-b42ddee55282\",\n        \"created_at\": \"2015-04-29T07:21:06+00:00\",\n        \"updated_at\": \"2015-04-29T07:21:16+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_test_var_value\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"e3f643e4-c636-4fb7-b04e-ff26294a41cc\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": null,\n        \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/d62578b0-14cb-41dc-bb83-b42ddee55282/events\",\n        \"service_bindings_url\": \"/v2/apps/d62578b0-14cb-41dc-bb83-b42ddee55282/service_bindings\",\n        \"routes_url\": \"/v2/apps/d62578b0-14cb-41dc-bb83-b42ddee55282/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:17 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/d62578b0-14cb-41dc-bb83-b42ddee55282/env","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["c51d03ad-95a8-4e39-7ec4-a8546c82d814"], "X-Vcap-Request-Id":["0d21a491-c40e-415a-7405-902e6bd4354e::c9aa337b-ad3e-49ef-a5c7-d675e0c09837"]},"body":{"encoding":"UTF-8","string":"{\n  \"staging_env_json\": {\n\n  },\n  \"running_env_json\": {\n\n  },\n  \"environment_json\": {\n    \"our_test_var_key\": \"our_test_var_value\"\n  },\n  \"system_env_json\": {\n    \"VCAP_SERVICES\": {\n\n    }\n  },\n  \"application_env_json\": {\n    \"VCAP_APPLICATION\": {\n      \"limits\": {\n        \"mem\": 256,\n        \"disk\": 1024,\n        \"fds\": 16384\n      },\n      \"application_version\": \"e3f643e4-c636-4fb7-b04e-ff26294a41cc\",\n      \"application_name\": \"paasal-test-app-all-updated\",\n      \"application_uris\": [\n        \"d62578b0-14cb-41dc-bb83-b42ddee55282.10.244.0.34.xip.io\"\n      ],\n      \"version\": \"e3f643e4-c636-4fb7-b04e-ff26294a41cc\",\n      \"name\": \"paasal-test-app-all-updated\",\n      \"space_name\": \"development\",\n      \"space_id\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n      \"uris\": [\n        \"d62578b0-14cb-41dc-bb83-b42ddee55282.10.244.0.34.xip.io\"\n      ],\n      \"users\": null\n    }\n  }\n}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:17 GMT"},[...]
{"request":{"method":"put","uri":"https://api.10.244.0.34.xip.io/v2/apps/d62578b0-14cb-41dc-bb83-b42ddee55282","body":{"encoding":"UTF-8","string":"{\"environment_json\":{\"our_test_var_key\":\"our_test_var_value\",\"our_test_var_key2\":\"our_test_var_value2\"}}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["78bc1e5e-9483-40a8-4947-2357d4cd386d"], "X-Vcap-Request-Id":["393b84fb-be35-4f4e-4e06-d7a2792c3ea1::e71b4e17-a76e-4592-a453-649b4724e896"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"d62578b0-14cb-41dc-bb[...]
