{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/04/28 12:55:45 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:50:51 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated/domains","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["hostname paasal-test-app-all-updated.herokuapp.com..paasal-test-app-all-updated.herokuapp.com"], "Content-Type":["application/json"], "ETag":["\"0a2f80e5586bac50f9579de18c133b03\""], "Last-Modified":["Thu, 14 May 2015 06:45:49 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2344"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"app\":{\"id\":\"1f35201d-1363-4ac1-9b8a-db35bf92e698\",\"name\":\"paasal-test-app-all-updated\"},\"created_at\":\"2015-05-14T06:43:58Z\",\"hostname\":\"paasal-test-app-all-updated.herokuapp.com\",\"id\":\"83aa6eb7-411b-4bf2-b3e5-a20be6f55897\",\"updated_at\":\"2015-05-14T06:45:49Z\"}]"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:50:51 GMT"}],"recorded_with":"VCR 2.9.3"}