---
http_interactions:
- request:
    method: post
    uri: https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"allow_tracking":true,"api_key":"__API_KEY__","beta":null,"confirmed":true,"confirmed_at":"2014/11/18
        01:37:21 -0800","created_at":"2014/11/18 01:37:21 -0800","id":"__USER_ID__@users.heroku.com","email":"__heroku:user__","last_login":"2014/11/25
        00:52:59 -0800","name":" ","updated_at":"2015/04/06 13:38:50 -0700","verified":false,"verified_at":null}'
  recorded_at: Mon, 06 Apr 2015 20:41:02 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/paasal-test-app-min-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"32eed100f70a00d6809e9bea7570c79e"'
      Last-Modified:
      - Mon, 06 Apr 2015 20:40:45 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2027'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"archived_at":null,"buildpack_provided_description":"Node.js","build_stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"created_at":"2015-04-06T20:34:51Z","id":"787598df-fb3a-44aa-abb2-2326ecbbda1d","git_url":"git@heroku.com:paasal-test-app-min-updated.git","maintenance":true,"name":"paasal-test-app-min-updated","owner":{"email":"__heroku:user__","id":"__heroku:id__"},"region":{"id":"59accabd-516d-4f0e-83e6-6e3757701145","name":"us"},"released_at":"2015-04-06T20:38:50Z","repo_size":2703609,"slug_size":12552228,"stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"updated_at":"2015-04-06T20:40:45Z","web_url":"https://paasal-test-app-min-updated.herokuapp.com/"}'
  recorded_at: Mon, 06 Apr 2015 20:41:03 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/787598df-fb3a-44aa-abb2-2326ecbbda1d/dynos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"fa9bca71ff9ef402d02b5efcbb8589ef"'
      Last-Modified:
      - Mon, 06 Apr 2015 20:40:25 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2026'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"attach_url":null,"command":"node server.js","created_at":"2015-04-06T20:40:25Z","id":"87e3666d-82f9-4900-bd39-4fdbe5266c5a","name":"web.1","release":{"id":"cc850018-49bd-43c6-a9aa-061ec987bcac","version":4},"size":"1X","state":"up","type":"web","updated_at":"2015-04-06T20:40:25Z"}]'
  recorded_at: Mon, 06 Apr 2015 20:41:04 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/787598df-fb3a-44aa-abb2-2326ecbbda1d/formation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"32eed100f70a00d6809e9bea7570c79e"'
      Last-Modified:
      - Mon, 06 Apr 2015 20:40:45 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2025'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"command":"node server.js","created_at":"2015-04-06T20:38:50Z","id":"e3ab7b8c-c48e-4e69-9de1-bf7fa9ac3eb2","type":"web","quantity":1,"size":"1X","updated_at":"2015-04-06T20:40:20Z"}]'
  recorded_at: Mon, 06 Apr 2015 20:41:04 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/787598df-fb3a-44aa-abb2-2326ecbbda1d/buildpack-installations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - ordinal 0..0
      Content-Type:
      - application/json
      ETag:
      - '"87d7b85882f94ae872184eafce30ccd8"'
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2024'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"buildpack":{"url":"https://github.com/heroku/heroku-buildpack-nodejs"},"ordinal":0}]'
  recorded_at: Mon, 06 Apr 2015 20:41:05 GMT
- request:
    method: patch
    uri: https://api.heroku.com/apps/paasal-test-app-min-updated/formation
    body:
      encoding: UTF-8
      string: '{"updates":[{"process":"worker","quantity":0}]}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - application/json
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global write write-protected
      RateLimit-Remaining:
      - '2023'
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"resource":"dyno_type","id":"not_found","message":"No such process
        type worker defined in Procfile."}'
  recorded_at: Mon, 06 Apr 2015 20:41:06 GMT
[...]
- request:
    method: get
    uri: https://api.heroku.com/apps/787598df-fb3a-44aa-abb2-2326ecbbda1d/buildpack-installations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - ordinal 0..0
      Content-Type:
      - application/json
      ETag:
      - '"87d7b85882f94ae872184eafce30ccd8"'
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2006'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"buildpack":{"url":"https://github.com/heroku/heroku-buildpack-nodejs"},"ordinal":0}]'
  recorded_at: Mon, 06 Apr 2015 20:41:18 GMT
recorded_with: VCR 2.9.3
