---
http_interactions:
- request:
    method: post
    uri: https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"allow_tracking":true,"api_key":"__API_KEY__","beta":null,"confirmed":true,"confirmed_at":"2014/11/18
        01:37:21 -0800","created_at":"2014/11/18 01:37:21 -0800","id":"__USER_ID__@users.heroku.com","email":"__heroku:user__","last_login":"2014/11/25
        00:52:59 -0800","name":" ","updated_at":"2015/03/25 09:53:28 -0700","verified":false,"verified_at":null}'
  recorded_at: Wed, 25 Mar 2015 16:54:58 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/paasal-test-app-min-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - ! '"ff1b041bcadb33e1acc854ac0f3740f8"'
      Last-Modified:
      - Wed, 25 Mar 2015 16:53:30 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2237'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: ! '{"archived_at":null,"buildpack_provided_description":"Node.js","build_stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"created_at":"2015-03-25T16:49:08Z","id":"c928079a-b6fc-4f04-83fc-b6629db14f84","git_url":"git@heroku.com:paasal-test-app-min-updated.git","maintenance":false,"name":"paasal-test-app-min-updated","owner":{"email":"__heroku:user__","id":"__heroku:id__"},"region":{"id":"59accabd-516d-4f0e-83e6-6e3757701145","name":"us"},"released_at":"2015-03-25T16:53:28Z","repo_size":2703525,"slug_size":12384674,"stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"updated_at":"2015-03-25T16:55:00Z","web_url":"https://paasal-test-app-min-updated.herokuapp.com/"}'
  recorded_at: Wed, 25 Mar 2015 16:55:00 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/c928079a-b6fc-4f04-83fc-b6629db14f84/dynos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - ! '"ec5c5ae13434766108b9afb9a42e6364"'
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2236'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: ! '[]'
  recorded_at: Wed, 25 Mar 2015 16:55:02 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/c928079a-b6fc-4f04-83fc-b6629db14f84/formation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - ! '"a636c9eec3424b06767842289da920a3"'
      Last-Modified:
      - Wed, 25 Mar 2015 16:55:00 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2235'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: ! '[{"command":"node server.js","created_at":"2015-03-25T16:53:28Z","id":"76571622-bed2-45b7-809e-e7e4100bb3e7","type":"web","quantity":0,"size":"1X","updated_at":"2015-03-25T16:53:30Z"}]'
  recorded_at: Wed, 25 Mar 2015 16:55:03 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/c928079a-b6fc-4f04-83fc-b6629db14f84/buildpack-installations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - ordinal 0..0
      Content-Type:
      - application/json
      ETag:
      - ! '"87d7b85882f94ae872184eafce30ccd8"'
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2234'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: ! '[{"buildpack":{"url":"https://github.com/heroku/heroku-buildpack-nodejs"},"ordinal":0}]'
  recorded_at: Wed, 25 Mar 2015 16:55:03 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/c928079a-b6fc-4f04-83fc-b6629db14f84/releases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - version 1..4
      Content-Type:
      - application/json
      ETag:
      - ! '"5ba3a57111dce263b665db6a33c161db"'
      Last-Modified:
      - Wed, 25 Mar 2015 09:53:28 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read-protected write-protected
      RateLimit-Remaining:
      - '2233'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: ! '[{"app":{"id":"c928079a-b6fc-4f04-83fc-b6629db14f84","name":"paasal-test-app-min-updated"},"created_at":"2015-03-25T16:49:08Z","description":"Initial
        release","id":"b6761103-2253-40b5-b26e-4ffc183b6073","slug":null,"updated_at":"2015-03-25T16:49:08Z","user":{"email":"__heroku:user__","id":"__heroku:id__"},"version":1},{"app":{"id":"c928079a-b6fc-4f04-83fc-b6629db14f84","name":"paasal-test-app-min-updated"},"created_at":"2015-03-25T16:49:09Z","description":"Enable
        Logplex","id":"8c2f5838-849f-445d-944b-61bf0b84c407","slug":null,"updated_at":"2015-03-25T16:49:09Z","user":{"email":"__heroku:user__","id":"__heroku:id__"},"version":2},{"app":{"id":"c928079a-b6fc-4f04-83fc-b6629db14f84","name":"paasal-test-app-min-updated"},"created_at":"2015-03-25T16:50:50Z","description":"Set
        our_test_var_key config vars","id":"814b71b9-cbd0-4088-bd82-c7a84dffbbdd","slug":null,"updated_at":"2015-03-25T16:50:50Z","user":{"email":"__heroku:user__","id":"__heroku:id__"},"version":3},{"app":{"id":"c928079a-b6fc-4f04-83fc-b6629db14f84","name":"paasal-test-app-min-updated"},"created_at":"2015-03-25T16:53:28Z","description":"Deploy
        ef33758","id":"01ccd2f4-b3b6-4ab7-8f94-157da8769f03","slug":{"id":"dbd94e44-e75b-43b1-941c-2f69edc67b8e"},"updated_at":"2015-03-25T16:53:28Z","user":{"email":"__heroku:user__","id":"__heroku:id__"},"version":4}]'
  recorded_at: Wed, 25 Mar 2015 16:55:04 GMT
- request:
    method: patch
    uri: https://api.heroku.com/apps/paasal-test-app-min-updated/formation
    body:
      encoding: UTF-8
      string: ! '{"updates":[{"process":"web","quantity":1}]}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global write write-protected
      RateLimit-Remaining:
      - '2232'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: ! '[{"command":"node server.js","created_at":"2015-03-25T16:53:28Z","id":"76571622-bed2-45b7-809e-e7e4100bb3e7","type":"web","quantity":1,"size":"1X","updated_at":"2015-03-25T16:55:05Z"}]'
  recorded_at: Wed, 25 Mar 2015 16:55:05 GMT
- request:
    method: patch
    uri: https://api.heroku.com/apps/paasal-test-app-min-updated/formation
    body:
      encoding: UTF-8
      string: ! '{"updates":[{"process":"worker","quantity":1}]}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - application/json
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global write write-protected
      RateLimit-Remaining:
      - '2231'
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: ! '{"resource":"dyno_type","id":"not_found","message":"No such process
        type worker defined in Procfile."}'
  recorded_at: Wed, 25 Mar 2015 16:55:06 GMT
[...]
- request:
    method: get
    uri: https://api.heroku.com/apps/c928079a-b6fc-4f04-83fc-b6629db14f84/dynos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - ! '"f7fd3a5de91ae7f5af220b0fed1e7f77"'
      Last-Modified:
      - Wed, 25 Mar 2015 16:55:05 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2229'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: ! '[{"attach_url":null,"command":"node server.js","created_at":"2015-03-25T16:55:05Z","id":"d6acf3fb-7d4c-4c4f-85e1-4d5651114225","name":"web.1","release":{"id":"01ccd2f4-b3b6-4ab7-8f94-157da8769f03","version":4},"size":"1X","state":"starting","type":"web","updated_at":"2015-03-25T16:55:05Z"}]'
  recorded_at: Wed, 25 Mar 2015 16:55:07 GMT
[...]
- request:
    method: get
    uri: https://api.heroku.com/apps/c928079a-b6fc-4f04-83fc-b6629db14f84/buildpack-installations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - ordinal 0..0
      Content-Type:
      - application/json
      ETag:
      - ! '"87d7b85882f94ae872184eafce30ccd8"'
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2223'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: ! '[{"buildpack":{"url":"https://github.com/heroku/heroku-buildpack-nodejs"},"ordinal":0}]'
  recorded_at: Wed, 25 Mar 2015 16:55:11 GMT
recorded_with: VCR 2.9.3
