---
http_interactions:
- request:
    method: post
    uri: https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"allow_tracking":true,"api_key":"__API_KEY__","beta":null,"confirmed":true,"confirmed_at":"2014/11/18
        01:37:21 -0800","created_at":"2014/11/18 01:37:21 -0800","id":"__USER_ID__@users.heroku.com","email":"__heroku:user__","last_login":"2014/11/25
        00:52:59 -0800","name":" ","updated_at":"2015/03/25 09:53:28 -0700","verified":false,"verified_at":null}'
  recorded_at: Wed, 25 Mar 2015 16:53:36 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - ! '"5f60002449a9e757da67574e2e64f9cb"'
      Last-Modified:
      - Wed, 25 Mar 2015 16:52:35 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2315'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: ! '{"archived_at":null,"buildpack_provided_description":"Node.js","build_stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"created_at":"2015-03-25T16:49:03Z","id":"0bb04d40-51d7-4907-97ed-0fc2b317371b","git_url":"git@heroku.com:paasal-test-app-all-updated.git","maintenance":false,"name":"paasal-test-app-all-updated","owner":{"email":"__heroku:user__","id":"__heroku:id__"},"region":{"id":"59accabd-516d-4f0e-83e6-6e3757701145","name":"us"},"released_at":"2015-03-25T16:52:32Z","repo_size":2703602,"slug_size":12402829,"stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"updated_at":"2015-03-25T16:52:35Z","web_url":"https://paasal-test-app-all-updated.herokuapp.com/"}'
  recorded_at: Wed, 25 Mar 2015 16:53:36 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/0bb04d40-51d7-4907-97ed-0fc2b317371b/dynos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - ! '"ec5c5ae13434766108b9afb9a42e6364"'
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2314'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: ! '[]'
  recorded_at: Wed, 25 Mar 2015 16:53:37 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/0bb04d40-51d7-4907-97ed-0fc2b317371b/formation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - ! '"5f60002449a9e757da67574e2e64f9cb"'
      Last-Modified:
      - Wed, 25 Mar 2015 16:52:35 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2313'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: ! '[{"command":"node server.js","created_at":"2015-03-25T16:52:32Z","id":"41ca9a8d-ba47-41f8-b973-79acc2552b09","type":"web","quantity":0,"size":"1X","updated_at":"2015-03-25T16:52:33Z"}]'
  recorded_at: Wed, 25 Mar 2015 16:53:38 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/0bb04d40-51d7-4907-97ed-0fc2b317371b/buildpack-installations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - ordinal 0..0
      Content-Type:
      - application/json
      ETag:
      - ! '"87d7b85882f94ae872184eafce30ccd8"'
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2312'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: ! '[{"buildpack":{"url":"https://github.com/heroku/heroku-buildpack-nodejs"},"ordinal":0}]'
  recorded_at: Wed, 25 Mar 2015 16:53:38 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/0bb04d40-51d7-4907-97ed-0fc2b317371b/releases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - version 1..6
      Content-Type:
      - application/json
      ETag:
      - ! '"0248173443b6c6e8455c4a73c615628a"'
      Last-Modified:
      - Wed, 25 Mar 2015 09:52:32 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read-protected write-protected
      RateLimit-Remaining:
      - '2311'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: ! '[{"app":{"id":"0bb04d40-51d7-4907-97ed-0fc2b317371b","name":"paasal-test-app-all-updated"},"created_at":"2015-03-25T16:49:03Z","description":"Initial
        release","id":"9f13865e-1b28-4a16-b551-d49caf056dbf","slug":null,"updated_at":"2015-03-25T16:49:03Z","user":{"email":"__heroku:user__","id":"__heroku:id__"},"version":1},{"app":{"id":"0bb04d40-51d7-4907-97ed-0fc2b317371b","name":"paasal-test-app-all-updated"},"created_at":"2015-03-25T16:49:03Z","description":"Enable
        Logplex","id":"5e12048c-b176-4cfe-8bd0-2b6a641e14bc","slug":null,"updated_at":"2015-03-25T16:49:03Z","user":{"email":"__heroku:user__","id":"__heroku:id__"},"version":2},{"app":{"id":"0bb04d40-51d7-4907-97ed-0fc2b317371b","name":"paasal-test-app-all-updated"},"created_at":"2015-03-25T16:50:41Z","description":"Set
        our_test_var_key c[...]
- request:
    method: patch
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated/formation
    body:
      encoding: UTF-8
      string: ! '{"updates":[{"process":"web","quantity":1}]}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global write write-protected
      RateLimit-Remaining:
      - '2310'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: ! '[{"command":"node server.js","created_at":"2015-03-25T16:52:32Z","id":"41ca9a8d-ba47-41f8-b973-79acc2552b09","type":"web","quantity":1,"size":"1X","updated_at":"2015-03-25T16:53:40Z"}]'
  recorded_at: Wed, 25 Mar 2015 16:53:40 GMT
- request:
    method: patch
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated/formation
    body:
      encoding: UTF-8
      string: ! '{"updates":[{"process":"worker","quantity":1}]}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - application/json
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global write write-protected
      RateLimit-Remaining:
      - '2309'
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: ! '{"resource":"dyno_type","id":"not_found","message":"No such process
        type worker defined in Procfile."}'
  recorded_at: Wed, 25 Mar 2015 16:53:40 GMT
[...]
- request:
    method: get
    uri: https://api.heroku.com/apps/0bb04d40-51d7-4907-97ed-0fc2b317371b/dynos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - ! '"56664fea351f8b9f64216e2af7d6a316"'
      Last-Modified:
      - Wed, 25 Mar 2015 16:53:40 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2307'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: ! '[{"attach_url":null,"command":"node server.js","created_at":"2015-03-25T16:53:40Z","id":"7017e1ae-bc81-4529-b405-6d06279ecfa6","name":"web.1","release":{"id":"ed532a0b-91b3-4b9d-bfb9-9074a8f49a74","version":6},"size":"1X","state":"starting","type":"web","updated_at":"2015-03-25T16:53:40Z"}]'
  recorded_at: Wed, 25 Mar 2015 16:53:42 GMT
[...]
- request:
    method: get
    uri: https://api.heroku.com/apps/0bb04d40-51d7-4907-97ed-0fc2b317371b/buildpack-installations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - ordinal 0..0
      Content-Type:
      - application/json
      ETag:
      - ! '"87d7b85882f94ae872184eafce30ccd8"'
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2301'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: ! '[{"buildpack":{"url":"https://github.com/heroku/heroku-buildpack-nodejs"},"ordinal":0}]'
  recorded_at: Wed, 25 Mar 2015 16:53:46 GMT
recorded_with: VCR 2.9.3
