---
http_interactions:
- request:
    method: post
    uri: https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"allow_tracking":true,"api_key":"__API_KEY__","beta":null,"confirmed":true,"confirmed_at":"2014/11/18
        01:37:21 -0800","created_at":"2014/11/18 01:37:21 -0800","id":"__USER_ID__@users.heroku.com","email":"__heroku:user__","last_login":"2014/11/25
        00:52:59 -0800","name":" ","updated_at":"2015/04/06 13:38:50 -0700","verified":false,"verified_at":null}'
  recorded_at: Mon, 06 Apr 2015 20:39:01 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"5cfb3e0f315af8f6fa77ed9a327747aa"'
      Last-Modified:
      - Mon, 06 Apr 2015 20:38:04 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2147'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"archived_at":null,"buildpack_provided_description":"Node.js","build_stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"created_at":"2015-04-06T20:34:46Z","id":"5b811f57-85dd-40bc-b95c-cb80903f88ee","git_url":"git@heroku.com:paasal-test-app-all-updated.git","maintenance":false,"name":"paasal-test-app-all-updated","owner":{"email":"__heroku:user__","id":"__heroku:id__"},"region":{"id":"59accabd-516d-4f0e-83e6-6e3757701145","name":"us"},"released_at":"2015-04-06T20:38:00Z","repo_size":2703855,"slug_size":12565235,"stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"updated_at":"2015-04-06T20:38:04Z","web_url":"https://paasal-test-app-all-updated.herokuapp.com/"}'
  recorded_at: Mon, 06 Apr 2015 20:39:02 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/5b811f57-85dd-40bc-b95c-cb80903f88ee/dynos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"ec5c5ae13434766108b9afb9a42e6364"'
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2146'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 06 Apr 2015 20:39:02 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/5b811f57-85dd-40bc-b95c-cb80903f88ee/formation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"5cfb3e0f315af8f6fa77ed9a327747aa"'
      Last-Modified:
      - Mon, 06 Apr 2015 20:38:04 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2145'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"command":"node server.js","created_at":"2015-04-06T20:38:00Z","id":"11f8b3ac-ea32-4af4-8d8e-da2c7234dc05","type":"web","quantity":0,"size":"1X","updated_at":"2015-04-06T20:38:02Z"}]'
  recorded_at: Mon, 06 Apr 2015 20:39:03 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/5b811f57-85dd-40bc-b95c-cb80903f88ee/buildpack-installations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - ordinal 0..0
      Content-Type:
      - application/json
      ETag:
      - '"87d7b85882f94ae872184eafce30ccd8"'
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2144'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"buildpack":{"url":"https://github.com/heroku/heroku-buildpack-nodejs"},"ordinal":0}]'
  recorded_at: Mon, 06 Apr 2015 20:39:03 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/5b811f57-85dd-40bc-b95c-cb80903f88ee/releases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - version 1..6
      Content-Type:
      - application/json
      ETag:
      - '"0248173443b6c6e8455c4a73c615628a"'
      Last-Modified:
      - Mon, 06 Apr 2015 13:38:00 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read-protected write-protected
      RateLimit-Remaining:
      - '2143'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"app":{"id":"5b811f57-85dd-40bc-b95c-cb80903f88ee","name":"paasal-test-app-all-updated"},"created_at":"2015-04-06T20:34:46Z","description":"Initial
        release","id":"d07fe512-f94b-46e8-948e-bec155745725","slug":null,"updated_at":"2015-04-06T20:34:46Z","user":{"email":"__heroku:user__","id":"__heroku:id__"},"version":1},{"app":{"id":"5b811f57-85dd-40bc-b95c-cb80903f88ee","name":"paasal-test-app-all-updated"},"created_at":"2015-04-06T20:34:47Z","description":"Enable
        Logplex","id":"dff6c310-5c2f-45b2-856c-ffef987ae966","slug":null,"updated_at":"2015-04-06T20:34:47Z","user":{"email":"__heroku:user__","id":"__heroku:id__"},"version":2},{"app":{"id":"5b811f57-85dd-40bc-b95c-cb80903f88ee","name":"paasal-test-app-all-updated"},"created_at":"2015-04-06T20:36:16Z","description":"Set
        our_test_var_key c[...]
- request:
    method: patch
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated/formation
    body:
      encoding: UTF-8
      string: '{"updates":[{"process":"web","quantity":1}]}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global write write-protected
      RateLimit-Remaining:
      - '2142'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"command":"node server.js","created_at":"2015-04-06T20:38:00Z","id":"11f8b3ac-ea32-4af4-8d8e-da2c7234dc05","type":"web","quantity":1,"size":"1X","updated_at":"2015-04-06T20:39:04Z"}]'
  recorded_at: Mon, 06 Apr 2015 20:39:05 GMT
- request:
    method: patch
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated/formation
    body:
      encoding: UTF-8
      string: '{"updates":[{"process":"worker","quantity":1}]}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - application/json
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global write write-protected
      RateLimit-Remaining:
      - '2141'
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"resource":"dyno_type","id":"not_found","message":"No such process
        type worker defined in Procfile."}'
  recorded_at: Mon, 06 Apr 2015 20:39:05 GMT
[...]
- request:
    method: get
    uri: https://api.heroku.com/apps/5b811f57-85dd-40bc-b95c-cb80903f88ee/dynos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"bbe7899f685ca480d9c95a17f597eea4"'
      Last-Modified:
      - Mon, 06 Apr 2015 20:39:04 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2139'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"attach_url":null,"command":"node server.js","created_at":"2015-04-06T20:39:04Z","id":"eb7a6aa8-c2a7-441c-a7b9-6f4cefa511a8","name":"web.1","release":{"id":"91159089-bd0e-48d5-940b-c59437f3c25a","version":6},"size":"1X","state":"starting","type":"web","updated_at":"2015-04-06T20:39:04Z"}]'
  recorded_at: Mon, 06 Apr 2015 20:39:07 GMT
[...]
- request:
    method: get
    uri: https://api.heroku.com/apps/5b811f57-85dd-40bc-b95c-cb80903f88ee/buildpack-installations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - ordinal 0..0
      Content-Type:
      - application/json
      ETag:
      - '"87d7b85882f94ae872184eafce30ccd8"'
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2129'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"buildpack":{"url":"https://github.com/heroku/heroku-buildpack-nodejs"},"ordinal":0}]'
  recorded_at: Mon, 06 Apr 2015 20:39:13 GMT
recorded_with: VCR 2.9.3
