---
http_interactions:
- request:
    method: post
    uri: https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"allow_tracking":true,"api_key":"__API_KEY__","beta":null,"confirmed":true,"confirmed_at":"2014/11/18
        01:37:21 -0800","created_at":"2014/11/18 01:37:21 -0800","id":"__USER_ID__@users.heroku.com","email":"__heroku:user__","last_login":"2014/11/25
        00:52:59 -0800","name":" ","updated_at":"2015/04/02 06:39:42 -0700","verified":false,"verified_at":null}'
  recorded_at: Thu, 02 Apr 2015 13:41:13 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/paasal-test-app-min-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"b5f34083884c5524c732b441e91548a3"'
      Last-Modified:
      - Thu, 02 Apr 2015 13:39:46 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2274'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"archived_at":null,"buildpack_provided_description":"Node.js","build_stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"created_at":"2015-04-02T13:34:54Z","id":"cba033bc-7ca1-4e30-a1ca-4921fd3c59e1","git_url":"git@heroku.com:paasal-test-app-min-updated.git","maintenance":false,"name":"paasal-test-app-min-updated","owner":{"email":"__heroku:user__","id":"__heroku:id__"},"region":{"id":"59accabd-516d-4f0e-83e6-6e3757701145","name":"us"},"released_at":"2015-04-02T13:39:42Z","repo_size":2703856,"slug_size":12381427,"stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"updated_at":"2015-04-02T13:39:46Z","web_url":"https://paasal-test-app-min-updated.herokuapp.com/"}'
  recorded_at: Thu, 02 Apr 2015 13:41:14 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/cba033bc-7ca1-4e30-a1ca-4921fd3c59e1/dynos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"ec5c5ae13434766108b9afb9a42e6364"'
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2273'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 02 Apr 2015 13:41:15 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/cba033bc-7ca1-4e30-a1ca-4921fd3c59e1/formation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"b5f34083884c5524c732b441e91548a3"'
      Last-Modified:
      - Thu, 02 Apr 2015 13:39:46 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2272'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"command":"node server.js","created_at":"2015-04-02T13:39:42Z","id":"ca6212c1-981e-4c37-a073-15e324332d98","type":"web","quantity":0,"size":"1X","updated_at":"2015-04-02T13:39:44Z"}]'
  recorded_at: Thu, 02 Apr 2015 13:41:15 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/cba033bc-7ca1-4e30-a1ca-4921fd3c59e1/buildpack-installations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - ordinal 0..0
      Content-Type:
      - application/json
      ETag:
      - '"87d7b85882f94ae872184eafce30ccd8"'
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2271'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"buildpack":{"url":"https://github.com/heroku/heroku-buildpack-nodejs"},"ordinal":0}]'
  recorded_at: Thu, 02 Apr 2015 13:41:16 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/cba033bc-7ca1-4e30-a1ca-4921fd3c59e1/releases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - version 1..4
      Content-Type:
      - application/json
      ETag:
      - '"5ba3a57111dce263b665db6a33c161db"'
      Last-Modified:
      - Thu, 02 Apr 2015 06:39:42 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read-protected write-protected
      RateLimit-Remaining:
      - '2270'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"app":{"id":"cba033bc-7ca1-4e30-a1ca-4921fd3c59e1","name":"paasal-test-app-min-updated"},"created_at":"2015-04-02T13:34:54Z","description":"Initial
        release","id":"f43168b8-207f-4aeb-bfe6-8baee2f8b718","slug":null,"updated_at":"2015-04-02T13:34:54Z","user":{"email":"__heroku:user__","id":"__heroku:id__"},"version":1},{"app":{"id":"cba033bc-7ca1-4e30-a1ca-4921fd3c59e1","name":"paasal-test-app-min-updated"},"created_at":"2015-04-02T13:34:55Z","description":"Enable
        Logplex","id":"cea7c428-a221-4a1a-b783-f822cebf2b28","slug":null,"updated_at":"2015-04-02T13:34:55Z","user":{"email":"__heroku:user__","id":"__heroku:id__"},"version":2},{"app":{"id":"cba033bc-7ca1-4e30-a1ca-4921fd3c59e1","name":"paasal-test-app-min-updated"},"created_at":"2015-04-02T13:36:33Z","description":"Set
        our_test_var_key config vars","id":"c210fb8e-2178-4cad-ab8d-e2a25fa56dc8","slug":null,"updated_at":"2015-04-02T13:36:33Z","user":{"email":"__heroku:user__","id":"__heroku:id__"},"version":3},{"app":{"id":"cba033bc-7ca1-4e30-a1ca-4921fd3c59e1","name":"paasal-test-app-min-updated"},"created_at":"2015-04-02T13:39:42Z","description":"Deploy
        00e728b","id":"a47f2da1-237f-483d-92f1-ef1683b26cd6","slug":{"id":"61586d23-5a7d-4b5d-a5f1-e04e4961db72"},"updated_at":"2015-04-02T13:39:42Z","user":{"email":"__heroku:user__","id":"__heroku:id__"},"version":4}]'
  recorded_at: Thu, 02 Apr 2015 13:41:17 GMT
- request:
    method: patch
    uri: https://api.heroku.com/apps/paasal-test-app-min-updated/formation
    body:
      encoding: UTF-8
      string: '{"updates":[{"process":"web","quantity":1}]}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global write write-protected
      RateLimit-Remaining:
      - '2269'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"command":"node server.js","created_at":"2015-04-02T13:39:42Z","id":"ca6212c1-981e-4c37-a073-15e324332d98","type":"web","quantity":1,"size":"1X","updated_at":"2015-04-02T13:41:18Z"}]'
  recorded_at: Thu, 02 Apr 2015 13:41:18 GMT
- request:
    method: patch
    uri: https://api.heroku.com/apps/paasal-test-app-min-updated/formation
    body:
      encoding: UTF-8
      string: '{"updates":[{"process":"worker","quantity":1}]}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - application/json
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global write write-protected
      RateLimit-Remaining:
      - '2268'
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"resource":"dyno_type","id":"not_found","message":"No such process
        type worker defined in Procfile."}'
  recorded_at: Thu, 02 Apr 2015 13:41:18 GMT
[...]
- request:
    method: get
    uri: https://api.heroku.com/apps/cba033bc-7ca1-4e30-a1ca-4921fd3c59e1/dynos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"0e5f893c45e5dc6bad513e5f65fb1e13"'
      Last-Modified:
      - Thu, 02 Apr 2015 13:41:18 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2266'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"attach_url":null,"command":"node server.js","created_at":"2015-04-02T13:41:18Z","id":"9194e6ca-d1e4-4969-8a5a-f4bfbe6b03f0","name":"web.1","release":{"id":"a47f2da1-237f-483d-92f1-ef1683b26cd6","version":4},"size":"1X","state":"starting","type":"web","updated_at":"2015-04-02T13:41:18Z"}]'
  recorded_at: Thu, 02 Apr 2015 13:41:20 GMT
[...]
- request:
    method: get
    uri: https://api.heroku.com/apps/cba033bc-7ca1-4e30-a1ca-4921fd3c59e1/buildpack-installations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - ordinal 0..0
      Content-Type:
      - application/json
      ETag:
      - '"87d7b85882f94ae872184eafce30ccd8"'
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2256'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"buildpack":{"url":"https://github.com/heroku/heroku-buildpack-nodejs"},"ordinal":0}]'
  recorded_at: Thu, 02 Apr 2015 13:41:27 GMT
recorded_with: VCR 2.9.3
