{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["c9f02589-3fc3-494f-7a42-f885302342d7"], "X-Vcap-Request-Id":["ea9a1e6e-67de-4843-7806-6cab00fa74ce::6adf1516-340a-45db-b25e-e3c3e6248aea"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:31:21 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["02767cb2-e85e-4f5e-4601-df73552395a6, b4b5501f-26a8-465b-7121-26eaa2a816be"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"6957cae3-69ec-44f2-b496-c4567ad92a3a\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:31:21 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["2ae4ac6c-2e7e-4320-6e71-89915361b801"], "X-Vcap-Request-Id":["b276e3c6-ff74-4d95-6066-c33c243f0532::d0b6f838-13a1-44c5-b7f6-dc80e0d4a4b6"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"36352def-b71b-4673-8cde-0a738525b63c\",\n        \"url\": \"/v2/apps/36352def-b71b-4673-8cde-0a738525b63c\",\n        \"created_at\": \"2015-04-24T08:29:26+00:00\",\n        \"updated_at\": \"2015-04-24T08:31:21+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-min-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_test_var_value\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STARTED\",\n        \"version\": \"f600cc52-ea1e-43fc-8686-b4537a49f334\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": \"19accd14348a435fbf5c8edf1cfa6731\",\n        \"package_state\": \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-04-24T08:29:59+00:00\",\n        \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/36352def-b71b-4673-8cde-0a738525b63c/events\",\n        \"service_bindings_url\": \"/v2/apps/36352def-b71b-4673-8cde-0a738525b63c/service_bindings\",\n        \"routes_url\": \"/v2/apps/36352def-b71b-4673-8cde-0a738525b63c/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:31:21 GMT"},{"request":{"method":"put","uri":"https://api.10.244.0.34.xip.io/v2/apps/36352def-b71b-4673-8cde-0a738525b63c","body":{"encoding":"UTF-8","string":"{\"instances\":2}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["e0478815-1083-42e2-5e99-c7d1bec6e0fa"], "X-Vcap-Request-Id":["33d96655-d6bf-4b25-5491-d6b29ab8cc[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/36352def-b71b-4673-8cde-0a738525b63c/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["248dc270-440c-4e38-7764-f50cc0044ca7"], "X-Vcap-Request-Id":["e932dd3f-61a8-4b31-40fb-e165758066f5::b3570523-39c7-4773-91fe-57e22b77b1ee"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"d52b5bc1-ccde-4d17-85fb-b81c4afb5ec0\",\n        \"url\": \"/v2/routes/d52b5bc1-ccde-4d17-85fb-b81c4afb5ec0\",\n        \"created_at\": \"2015-04-24T08:29:26+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"36352def-b71b-4673-8cde-0a738525b63c\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/d52b5bc1-ccde-4d17-85fb-b81c4afb5ec0/apps\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:31:21 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["1c132bba-9ed3-4d76-7f29-43aadf5f443a"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["1c70d1ed-56d1-45cd-522a-4c0af8b92f5b::12528d2d-68ab-4af0-8ed5-507dc6a1c7c1"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:31:21 GMT"}],"recorded_with":"VCR 2.9.3"}