{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-05-14T06:38:14.464770\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:23:14 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappminproperties62/deployment/paasal/addon/config.free","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, PUT, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappminproperties62/deployment/paasal/addon/config.free"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"addon_option\": {\"name\": \"config.free\"}, \"settings\": {\"CONFIG_VARS\": {}}}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:23:15 GMT"},{"request":{"method":"put","uri":"https://api.cloudcontrol.com/app/paasaltestappminproperties62/deployment/paasal/addon/config.free","body":{"encoding":"UTF-8","string":"{\"addon\":\"config.free\",\"settings\":\"{\\\"our_test_var_key\\\":\\\"our_test_var_value\\\"}\",\"force\":true}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, PUT, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappminproperties62/deployment/paasal/addon/config.free"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"addon_option\": {\"name\": \"config.free\"}, \"settings\": {\"CONFIG_VARS\": {\"our_test_var_key\": \"our_test_var_value\"}}}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:23:16 GMT"}],"recorded_with":"VCR 2.9.3"}