{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["243f7963-59e8-4080-7b2f-913402963c09"], "X-Vcap-Request-Id":["0dd20e2e-e3c8-4e58-4316-2c0aa6eec878::15e7aa1a-046f-47a4-adab-acdc13ba84d9"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:21:59 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["47660515-1958-41a8-56d8-796b76863563, 2be65538-e82c-468c-7131-ab95dc2bcaab"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"6b4a6e88-5859-4d4b-9ccb-983f09cb1781\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:22:00 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["bd4b4d20-7d5d-43cc-5ae3-4b22d568636a"], "X-Vcap-Request-Id":["30b6232a-7499-47e6-7f48-0b48e946953a::d89d1e15-386f-46e1-b229-eaff8e131f29"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"279b8ee3-07c2-4bef-b47c-992e10e91629\",\n        \"url\": \"/v2/apps/279b8ee3-07c2-4bef-b47c-992e10e91629\",\n        \"created_at\": \"2015-06-27T12:13:25+00:00\",\n        \"updated_at\": \"2015-06-27T12:16:05+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-min-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_test_var_value\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STARTED\",\n        \"version\": \"5acb3a9e-1291-4071-81b2-cfe39c5548ca\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": \"20cf57751f9040ae8e961da30c372ddd\",\n        \"package_state\": \"STAGED\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-06-27T12:13:58+00:00\",\n        \"detected_start_command\": \"node server.js\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/279b8ee3-07c2-4bef-b47c-992e10e91629/events\",\n        \"service_bindings_url\": \"/v2/apps/279b8ee3-07c2-4bef-b47c-992e10e91629/service_bindings\",\n        \"routes_url\": \"/v2/apps/279b8ee3-07c2-4bef-b47c-992e10e91629/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:22:00 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/279b8ee3-07c2-4bef-b47c-992e10e91629/service_bindings","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["c4c95213-abef-4f97-551d-5e16c6a708b7"], "X-Vcap-Request-Id":["b70de6e5-2cb8-4991-42ec-1f49503b90c1::0088dae6-fa32-4fdf-86af-c7df84458872"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 0,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n\n  ]\n}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:22:00 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/279b8ee3-07c2-4bef-b47c-992e10e91629/routes?q=host:279b8ee3-07c2-4bef-b47c-992e10e91629&inline-relations-depth=1","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["413e8b05-da70-47c4-74e4-025d25e186a2"], "X-Vcap-Request-Id":["25b80b6c-f2b8-4f6d-46f7-b8fc9b3fe2ca::0b5f8741-487d-4661-92cc-d760892db113"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"f95f35b0-e06a-4338-8286-42d3bf81fb51\",\n        \"url\": \"/v2/routes/f95f35b0-e06a-4338-8286-42d3bf81fb51\",\n        \"created_at\": \"2015-06-27T12:13:25+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"279b8ee3-07c2-4bef-b47c-992e10e91629\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"domain\": {\n          \"metadata\": {\n            \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n            \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n            \"created_at\": \"2014-12-05T16:23:46+00:00\",\n            \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n          },\n          \"entity\": {\n            \"name\": \"10.244.0.34.xip.io\"\n          }\n        },\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"space\": {\n          \"metadata\": {\n            \"guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n            \"url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n            \"created_at\": \"2015-03-19T07:21:47+00:00\",\n            \"updated_at\": null\n          },\n          \"entity\": {\n            \"name\": \"development\",\n            \"organization_guid\": \"d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n            \"space_quota_definition_guid\": null,\n            \"organization_url\": \"/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n            \"developers_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/developers\",\n            \"managers_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/managers\",\n            \"auditors_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/auditors\",\n            \"apps_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/apps\",\n            \"routes_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/routes\",\n            \"domains_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/domains\",\n            \"service_instances_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/service_instances\",\n            \"app_events_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/app_events\",\n            \"events_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/events\",\n            \"security_groups_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/security_groups\"\n          }\n        },\n        \"apps_url\": \"/v2/routes/f95f35b0-e06a-4338-8286-42d3bf81fb51/apps\",\n        \"apps\": [\n          {\n            \"metadata\": {\n              \"guid\": \"279b8ee3-07c2-4bef-b47c-992e10e91629\",\n              \"url\": \"/v2/apps/279b8ee3-07c2-4bef-b47c-992e10e91629\",\n              \"created_at\": \"2015-06-27T12:13:25+00:00\",\n              \"updated_at\": \"2015-06-27T12:16:05+00:00\"\n            },\n            \"entity\": {\n              \"name\": \"paasal-test-app-min-updated\",\n              \"production\": false,\n              \"space_guid\": \"d3483f4f-6706-4fe1[...]
{"request":{"method":"delete","uri":"https://api.10.244.0.34.xip.io/v2/routes/f95f35b0-e06a-4338-8286-42d3bf81fb51","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":204,"message":null},"headers":{"X-Cf-Requestid":["725e9c9b-bc03-4072-6f51-f8145a78293e"], "X-Vcap-Request-Id":["99dcc6a9-d60c-4195-74d5-1e54916e31d0::ef0b3ea7-97b4-497b-b8a2-8c0dd0f2c3ff"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:22:00 GMT"},{"request":{"method":"delete","uri":"https://api.10.244.0.34.xip.io/v2/apps/279b8ee3-07c2-4bef-b47c-992e10e91629","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":204,"message":null},"headers":{"X-Cf-Requestid":["5487690c-f464-41f4-58a4-375bdb7afdc0"], "X-Vcap-Request-Id":["43971ef6-2d84-42f7-7720-18d71a789270::c454827d-bf90-4c86-8c46-dfcc2ddcd6c4"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:22:00 GMT"}],"recorded_with":"VCR 2.9.3"}