---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - d6a298f6-a67b-4f41-694f-e097e009cead
      X-Vcap-Request-Id:
      - 14d4df67-6103-4485-48ab-d96c5ad03e85::5732810f-98f7-49fb-8d3f-9f89f932c093
    body:
      encoding: US-ASCII
      string: ! '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Wed, 25 Mar 2015 16:22:58 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - 59f2998e-898c-4259-7296-bff3e31a655c, 1bbbfa8c-7626-475b-545c-a1901af8150b
    body:
      encoding: US-ASCII
      string: ! '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"e922e6fa-1fd1-4312-9923-85ed0bc6b56b"}'
  recorded_at: Wed, 25 Mar 2015 16:22:58 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - bcb55a06-44d5-4011-421e-8c62ab0ac55a
      X-Vcap-Request-Id:
      - beb79b36-bd59-4ada-7d41-76e507b39c1f::a2501e9c-8ac2-414d-819b-73f32704fe63
    body:
      encoding: US-ASCII
      string: ! "{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\":
        null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\":
        {\n        \"guid\": \"eb5c7fd1-4985-4065-be56-f5d1cc398dad\",\n        \"url\":
        \"/v2/apps/eb5c7fd1-4985-4065-be56-f5d1cc398dad\",\n        \"created_at\":
        \"2015-03-25T16:22:35+00:00\",\n        \"updated_at\": \"2015-03-25T16:22:57+00:00\"\n
        \     },\n      \"entity\": {\n        \"name\": \"paasal-test-app-all-updated\",\n
        \       \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n
        \       \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\":
        \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\":
        {\n          \"our_test_var_key\": \"our_updated_test_var_value\",\n          \"our_test_var_key2\":
        \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\":
        1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\":
        \"6bcfba1f-41a8-49b2-bab3-30aa533d234a\",\n        \"command\": null,\n        \"console\":
        false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\":
        \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\":
        null,\n        \"docker_image\": null,\n        \"package_updated_at\": null,\n
        \       \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n
        \       \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n
        \       \"events_url\": \"/v2/apps/eb5c7fd1-4985-4065-be56-f5d1cc398dad/events\",\n
        \       \"service_bindings_url\": \"/v2/apps/eb5c7fd1-4985-4065-be56-f5d1cc398dad/service_bindings\",\n
        \       \"routes_url\": \"/v2/apps/eb5c7fd1-4985-4065-be56-f5d1cc398dad/routes\"\n
        \     }\n    }\n  ]\n}"
  recorded_at: Wed, 25 Mar 2015 16:22:58 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/eb5c7fd1-4985-4065-be56-f5d1cc398dad/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - aed82f52-c18b-41c3-4bdb-2bbb927a1b1a
      X-Vcap-Request-Id:
      - 82df1dcb-d962-4476-4f0f-e086e79fc22c::281f3742-a207-4ae7-adb7-0ab5bb3b4372
    body:
      encoding: US-ASCII
      string: ! "{\n  \"total_results\": 2,\n  \"total_pages\": 1,\n  \"prev_url\":
        null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\":
        {\n        \"guid\": \"df0374e4-94c8-4f00-aa0f-3a9d8126cc86\",\n        \"url\":
        \"/v2/routes/df0374e4-94c8-4f00-aa0f-3a9d8126cc86\",\n        \"created_at\":
        \"2015-03-25T16:22:35+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\":
        {\n        \"host\": \"eb5c7fd1-4985-4065-be56-f5d1cc398dad\",\n        \"domain_guid\":
        \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n
        \       \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n
        \       \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n
        \       \"apps_url\": \"/v2/routes/df0374e4-94c8-4f00-aa0f-3a9d8126cc86/apps\"\n
        \     }\n    },\n    {\n      \"metadata\": {\n        \"guid\": \"45e03631-b162-44ed-b766-1d7e73d39f60\",\n
        \       \"url\": \"/v2/routes/45e03631-b162-44ed-b766-1d7e73d39f60\",\n        \"created_at\":
        \"2015-03-25T16:22:57+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\":
        {\n        \"host\": \"cf-bosh-local\",\n        \"domain_guid\": \"a055ee95-7d64-4352-9e5e-7eea55ecf706\",\n
        \       \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\":
        \"/v2/domains/a055ee95-7d64-4352-9e5e-7eea55ecf706\",\n        \"space_url\":
        \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\":
        \"/v2/routes/45e03631-b162-44ed-b766-1d7e73d39f60/apps\"\n      }\n    }\n
        \ ]\n}"
  recorded_at: Wed, 25 Mar 2015 16:22:58 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 8ff4f5ed-4014-41f4-42d3-614a760b1e28
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - 0a80fadf-4c21-4964-6a98-51b751adebc0::7a41f1ef-e6f8-4fe7-ab6d-3ca4381c1499
    body:
      encoding: US-ASCII
      string: ! "{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n
        \   \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\":
        \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n
        \ },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"
  recorded_at: Wed, 25 Mar 2015 16:22:58 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/a055ee95-7d64-4352-9e5e-7eea55ecf706
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - de989b7f-9150-4d2f-5756-b2941ab8ba65
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - 77bc50b5-41a0-41eb-7715-0a986d79f179::97ad29bc-ba87-49c7-9204-007bca7e9baf
    body:
      encoding: US-ASCII
      string: ! "{\n  \"metadata\": {\n    \"guid\": \"a055ee95-7d64-4352-9e5e-7eea55ecf706\",\n
        \   \"url\": \"/v2/domains/a055ee95-7d64-4352-9e5e-7eea55ecf706\",\n    \"created_at\":
        \"2015-03-25T16:22:57+00:00\",\n    \"updated_at\": null\n  },\n  \"entity\":
        {\n    \"name\": \"adomainthatishopefullynotusedontheplatform.de\",\n    \"owning_organization_guid\":
        \"d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n    \"owning_organization_url\":
        \"/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n    \"spaces_url\":
        \"/v2/domains/a055ee95-7d64-4352-9e5e-7eea55ecf706/spaces\"\n  }\n}"
  recorded_at: Wed, 25 Mar 2015 16:22:58 GMT
[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/private_domains
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - fb41546e-a397-4265-4cb9-e5a204cc5d1e
      X-Vcap-Request-Id:
      - 4b1c8ab2-4a0d-4dce-65e5-53bd4fee25aa::98c506b8-5369-4ac0-8bc0-9175b604b5a6
    body:
      encoding: US-ASCII
      string: ! "{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\":
        null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\":
        {\n        \"guid\": \"a055ee95-7d64-4352-9e5e-7eea55ecf706\",\n        \"url\":
        \"/v2/private_domains/a055ee95-7d64-4352-9e5e-7eea55ecf706\",\n        \"created_at\":
        \"2015-03-25T16:22:57+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\":
        {\n        \"name\": \"adomainthatishopefullynotusedontheplatform.de\",\n
        \       \"owning_organization_guid\": \"d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n
        \       \"owning_organization_url\": \"/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0\"\n
        \     }\n    }\n  ]\n}"
  recorded_at: Wed, 25 Mar 2015 16:22:58 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - edccb26d-9939-4cce-5c41-0a409abec796
      X-Vcap-Request-Id:
      - 8e94fc4a-812[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/spaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 7ca6245b-d879-4914-5472-b617757c2ade
      X-Vcap-Request-Id:
      - 6f0e8d73-f881-4a1f-5583-ebd2823d4476::f009777a-7f9e-4e04-9bce-a5617afec64b
    body:
      encoding: US-ASCII
      string: ! "{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\":
        null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\":
        {\n        \"guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"url\":
        \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"created_at\":
        \"2015-03-19T07:21:47+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\":
        {\n        \"name\": \"development\",\n        \"organization_guid\": \"d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n
        \       \"space_quota_definition_guid\": null,\n        \"organization_url\":
        \"/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n        \"developers_url\":
        \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/developers\",\n        \"managers_url\":
        \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/managers\",\n        \"auditors_url\":
        \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/auditors\",\n        \"apps_url\":
        \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/apps\",\n        \"routes_url\":
        \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/routes\",\n        \"domains_url\":
        \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/domains\",\n        \"service_instances_url\":
        \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/service_instances\",\n        \"app_events_url\":
        \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/app_events\",\n        \"events_url\":
        \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/events\",\n        \"security_groups_url\":
        \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/security_groups\"\n      }\n
        \   }\n  ]\n}"
  recorded_at: Wed, 25 Mar 2015 16:22:58 GMT
- request:
    method: post
    uri: https://api.10.244.0.34.xip.io/v2/routes
    body:
      encoding: UTF-8
      string: ! '{"domain_guid":"a055ee95-7d64-4352-9e5e-7eea55ecf706","host":"","space_guid":"d3483f4f-6706-4fe1-ad90-1bd45d50e940"}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - /v2/routes/c59165ff-57c1-4187-b8cf-2b00e7f36ec7
      X-Cf-Requestid:
      - c87b7f4f-9540-40a8-75bf-09546a5c62a1
      X-Vcap-Request-Id:
      - ae2dc879-3d9d-4d75-5efc-f9f6275fb534::31d7ea06-c56d-464b-9594-e42daf0d0d22
    body:
      encoding: US-ASCII
      string: ! "{\n  \"metadata\": {\n    \"guid\": \"c59165ff-57c1-4187-b8cf-2b00e7f36ec7\",\n
        \   \"url\": \"/v2/routes/c59165ff-57c1-4187-b8cf-2b00e7f36ec7\",\n    \"created_at\":
        \"2015-03-25T16:22:58+00:00\",\n    \"updated_at\": null\n  },\n  \"entity\":
        {\n    \"host\": \"\",\n    \"domain_guid\": \"a055ee95-7d64-4352-9e5e-7eea55ecf706\",\n
        \   \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n    \"domain_url\":
        \"/v2/domains/a055ee95-7d64-4352-9e5e-7eea55ecf706\",\n    \"space_url\":
        \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n    \"apps_url\": \"/v2/routes/c59165ff-57c1-4187-b8cf-2b00e7f36ec7/apps\"\n
        \ }\n}"
  recorded_at: Wed, 25 Mar 2015 16:22:58 GMT
- request:
    method: put
    uri: https://api.10.244.0.34.xip.io/v2/apps/eb5c7fd1-4985-4065-be56-f5d1cc398dad/routes/c59165ff-57c1-4187-b8cf-2b00e7f36ec7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - f75e5bb5-ea39-4f77-7033-cce8afe2bba7
      X-Vcap-Request-Id:
      - bbff9848-c09b-4adb-6cb0-75fa9f48c5d4::31349620-2ddc-4d57-81a8-fb0c6a4cf8a2
    body:
      encoding: US-ASCII
      string: ! "{\n  \"metadata\": {\n    \"guid\": \"eb5c7fd1-4985-4065-be56-f5d1cc398dad\",\n
        \   \"url\": \"/v2/apps/eb5c7fd1-4985-4065-be56-f5d1cc398dad\",\n    \"created_at\":
        \"2015-03-25T16:22:35+00:00\",\n    \"updated_at\": \"2015-03-25T16:22:58+00:00\"\n
        \ },\n  \"entity\": {\n    \"name\": \"paasal-test-app-all-updated\",\n    \"production\":
        false,\n    \"space_guid\": \"d3483f4f[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/a055ee95-7d64-4352-9e5e-7eea55ecf706
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - bc062f43-4a42-41df-7c4b-998df1e1c9ab
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - 4a90c9fe-8edc-4086-6d8f-2ab286f995ba::2217fbc7-073c-435f-92e5-ac375cae25d6
    body:
      encoding: US-ASCII
      string: ! "{\n  \"metadata\": {\n    \"guid\": \"a055ee95-7d64-4352-9e5e-7eea55ecf706\",\n
        \   \"url\": \"/v2/domains/a055ee95-7d64-4352-9e5e-7eea55ecf706\",\n    \"created_at\":
        \"2015-03-25T16:22:57+00:00\",\n    \"updated_at\": null\n  },\n  \"entity\":
        {\n    \"name\": \"adomainthatishopefullynotusedontheplatform.de\",\n    \"owning_organization_guid\":
        \"d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n    \"owning_organization_url\":
        \"/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n    \"spaces_url\":
        \"/v2/domains/a055ee95-7d64-4352-9e5e-7eea55ecf706/spaces\"\n  }\n}"
  recorded_at: Wed, 25 Mar 2015 16:22:58 GMT
recorded_with: VCR 2.9.3
