{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["0410fd91-3b80-4477-6bf3-c03278713546"], "X-Vcap-Request-Id":["e744d88a-bbae-451f-7878-6093093440a5::ae35d5b0-1cff-4365-b316-18a96fbcfe7d"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:45:36 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["9ba92053-22b3-45c3-57ec-6100013cafd6, 3b5e0e55-b79b-47d0-4935-09390e3aa426"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"26ba09d9-97b6-4567-88a8-6b693fd6a36c\"}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:45:36 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Anucleus-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["b070d8da-137e-48d1-615f-37111d90a398"], "X-Vcap-Request-Id":["11fa9fe0-2fe6-464b-707e-9708165edb8b::cbfb0bac-97c5-468f-835b-aa6064631d58"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"9522777b-2037-49ff-841e-63f0f187c6ab\",\n        \"url\": \"/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab\",\n        \"created_at\": \"2015-07-28T12:43:53+00:00\",\n        \"updated_at\": \"2015-07-28T12:45:35+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"nucleus-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_updated_test_var_value\",\n          \"our_test_var_key2\": \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STARTED\",\n        \"version\": \"5cfa8429-78a7-4f88-979b-b91f5d8b7451\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": \"0b6682c340294bc1962f931747db0933\",\n        \"package_state\": \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-07-28T12:44:25+00:00\",\n        \"detected_start_command\": \"node server.js\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab/events\",\n        \"service_bindings_url\": \"/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab/service_bindings\",\n        \"routes_url\": \"/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:45:37 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/services","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["b52130c9-7167-4804-6f7d-a36e617759f3"], "X-Vcap-Request-Id":["bbaf4f42-3d69-418a-67f5-b8c810c4935e::d3b40f6c-61c0-4b66-bf1c-c04f8b9f2b0d"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 4,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"created_at\": \"2015-04-14T18:37:40+00:00\",\n        \"updated_at\": \"2015-07-28T12:45:16+00:00\"\n      },\n      \"entity\": {\n        \"label\": \"mongodb\",\n        \"provider\": \"core\",\n        \"url\": \"http://10.244.1.2:44138\",\n        \"description\": \"MongoDB NoSQL database\",\n        \"long_description\": null,\n        \"version\": \"2.2\",\n        \"info_url\": null,\n        \"active\": true,\n        \"bindable\": true,\n        \"unique_id\": \"8f4af9f9-0f29-4957-87a3-1039ce983ede\",\n        \"extra\": \"{\\\"listing\\\":{\\\"imageUrl\\\":null,\\\"blurb\\\":null},\\\"provider\\\":{\\\"name\\\":\\\"Core\\\"}}\",\n        \"tags\": [\n          \"nosql\",\n          \"document\",\n          \"mongodb\"\n        ],\n        \"requires\": [\n\n        ],\n        \"documentation_url\": null,\n        \"service_broker_guid\": null,\n        \"plan_updateable\": false,\n        \"service_plans_url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c/service_plans\"\n      }\n    },\n    {\n      \"metadata\": {\n        \"guid\": \"f1ba64a4-f431-4ebe-8b02-4702e643a36d\",\n        \"url\": \"/v2/services/f1ba64a4-f431-4ebe-8b02-4702e643a36d\",\n        \"created_at\": \"2015-04-14T18:37:41+00:00\",\n        \"updated_at\": \"2015-07-28T12:45:16+00:00\"\n      },\n      \"entity\": {\n        \"label\": \"redis\",\n        \"provider\": \"core\",\n        \"url\": \"http://10.244.1.14:59752[...]
