---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 5d751941-b456-48da-7dde-4fef5a724b2e
      X-Vcap-Request-Id:
      - 519388c0-f3f8-46b2-6f7b-20f055da7a3b::1e52e3d2-a08e-49b4-9931-c9570ce16582
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Mon, 06 Apr 2015 20:11:10 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - b6ef1e83-3822-42cf-631f-9b85105800f1, 812191d1-d3ac-45af-4543-79f4c3b7f25b
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"87ab44da-b6f6-4d29-85dc-eda903b9fd42"}'
  recorded_at: Mon, 06 Apr 2015 20:11:10 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - e36f46b3-9bd1-4b93-76f2-13287aff3338
      X-Vcap-Request-Id:
      - 2eef5ced-ca07-4668-4446-5d6502912bac::f30d5b4b-9223-4034-ad76-1749c85daf1d
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "4260186e-9e44-413e-994e-1897e6d28513",
                "url": "/v2/apps/4260186e-9e44-413e-994e-1897e6d28513",
                "created_at": "2015-04-06T20:10:26+00:00",
                "updated_at": "2015-04-06T20:11:10+00:00"
              },
              "entity": {
                "name": "paasal-test-app-all-updated",
                "production": false,
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
                "buildpack": "nodejs_buildpack",
                "detected_buildpack": null,
                "environment_json": {
                  "our_test_var_key": "our_updated_test_var_value",
                  "our_test_var_key2": "our_test_var_value2"
                },
                "memory": 256,
                "instances": 1,
                "disk_quota": 1024,
                "state": "STARTED",
                "version": "645f5051-2462-469a-b9fa-a630ef22e88f",
                "command": null,
                "console": false,
                "debug": null,
                "staging_task_id": "9bfd2faca6f948fd8ce149c4a8433ec5",
                "package_state": "STAGED",
                "health_check_timeout": null,
                "staging_failed_reason": null,
                "docker_image": null,
                "package_updated_at": "2015-04-06T20:10:49+00:00",
                "detected_start_command": "node server.js",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
                "events_url": "/v2/apps/4260186e-9e44-413e-994e-1897e6d28513/events",
                "service_bindings_url": "/v2/apps/4260186e-9e44-413e-994e-1897e6d28513/service_bindings",
                "routes_url": "/v2/apps/4260186e-9e44-413e-994e-1897e6d28513/routes"
              }
            }
          ]
        }
  recorded_at: Mon, 06 Apr 2015 20:11:10 GMT
- request:
    method: head
    uri: https://api.10.244.0.34.xip.io/v2/apps/4260186e-9e44-413e-994e-1897e6d28513/download
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"5522e849-20e7a0"'
      Last-Modified:
      - Mon, 06 Apr 2015 20:10:49 GMT
      X-Cf-Requestid:
      - 1412233c-50d9-4973-6b65-b9ae3c056294
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 06 Apr 2015 20:11:10 GMT
- request:
    method: put
    uri: https://api.10.244.0.34.xip.io/v2/apps/4260186e-9e44-413e-994e-1897e6d28513
    body:
      encoding: UTF-8
      string: '{"state":"STOPPED"}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 10d655f3-577b-4c9d-7122-c76e3af[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/4260186e-9e44-413e-994e-1897e6d28513/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - a76e514c-da0a-4ba0-6e47-66861d32bdb4
      X-Vcap-Request-Id:
      - 2830c057-e0f5-4baa-4684-62da2215b923::bcbe3b7e-1a22-4bcd-9396-521921c5656f
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 3,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "88627a1c-38e9-4304-8198-653c45230d00",
                "url": "/v2/routes/88627a1c-38e9-4304-8198-653c45230d00",
                "created_at": "2015-04-06T20:10:26+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "4260186e-9e44-413e-994e-1897e6d28513",
                "domain_guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "domain_url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "apps_url": "/v2/routes/88627a1c-38e9-4304-8198-653c45230d00/apps"
              }
            },
            {
              "metadata": {
                "guid": "3454cd3d-280b-436a-ab5b-6e0b773c3817",
                "url": "/v2/routes/3454cd3d-280b-436a-ab5b-6e0b773c3817",
                "created_at": "2015-04-06T20:10:42+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "cf-bosh-local",
                "domain_guid": "a055ee95-7d64-4352-9e5e[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 2123d705-83e6-4942-7b0e-6539d6dec0f8
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - dfb7a2b1-f01c-4e13-5969-448d5586307c::3dc0088d-0991-41d7-93db-2014e96eda61
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Mon, 06 Apr 2015 20:11:10 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 026ed996-28ac-4e77-45f4-143b58011e49
      X-Vcap-Request-Id:
      - e920c6fe-02e6-4414-5d51-cee74f79a835::53b440a1-f1a8-4f41-afd2-5e21f9d1089d
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "4260186e-9e44-413e-994e-1897e6d28513",
                "url": "/v2/apps/4260186e-9e44-413e-994e-1897e6d28513",
                "created_at": "2015-04-06T20:10:26+00:00",
                "updated_at[...]
[...]
- request:
    method: put
    uri: https://api.10.244.0.34.xip.io/v2/apps/4260186e-9e44-413e-994e-1897e6d28513
    body:
      encoding: UTF-8
      string: '{"state":"STARTED"}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 993a90ab-677b-4f2f-6efc-d7e104fc590a
      X-Vcap-Request-Id:
      - d45d7247-3b75-4ea3-5063-de594c406f77::d5de96b8-eff0-4c55-9d81-2870544d008f
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "4260186e-9e44-413e-994e-1897e6d28513",
            "url": "/v2/apps/4260186e-9e44-413e-994e-1897e6d28513",
            "created_at": "2015-04-06T20:10:26+00:00",
            "updated_at": "2015-04-06T20:11:10+00:00"
          },
          "entity": {
            "name": "paasal-test-app-all-updated",
            "production": false,
            "space_guid[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/4260186e-9e44-413e-994e-1897e6d28513/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 5fcddadb-d345-49c9-797d-16862b5e90b4
      X-Vcap-Request-Id:
      - e368f46e-1d38-499f-57d6-542cae802350::9684b0c9-9d07-4c57-a04e-21cbfd8a6190
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 3,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "88627a1c-38e9-4304-8198-653c45230d00",
                "url": "/v2/routes/88627a1c-38e9-4304-8198-653c45230d00",
                "created_at": "2015-04-06T20:10:26+00:00",
                "updated_[...]
[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/4260186e-9e44-413e-994e-1897e6d28513
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 66de1319-bf1b-40a6-669b-91e9a3590738
      X-Vcap-Request-Id:
      - fe427116-f31b-4bac-4f3f-bebf9795e943::f0f314dd-1c90-4cf6-9a4a-7e97cff0de1f
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "4260186e-9e44-413e-994e-1897e6d28513",
            "url": "/v2/apps/4260186e-9e44-413e-994e-1897e6d28513",
            "created_at": "2015-04-06T20:10:26+00:00",
            "updated_at": "2015-04-06T20:11:10+00:00"
          },
          "entity": {
            "name": "paasal-test-app-all-updated",
            "production": false,
            "space_guid[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/4260186e-9e44-413e-994e-1897e6d28513/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 865d6158-b6c7-417e-668e-d0e787f6df69
      X-Vcap-Request-Id:
      - f1a76ee8-e20a-42e5-4aaf-549152b840a5::509ac386-e5a7-4010-b471-0c63163a474a
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 3,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "88627a1c-38e9-4304-8198-653c45230d00",
                "url": "/v2/routes/88627a1c-38e9-4304-8198-653c45230d00",
                "created_at": "2015-04-06T20:10:26+00:00",
                "updated_[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 59afd1cb-31b2-4e58-6dbe-15e513688170
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - d9075446-b22b-4bd2-7238-5f7b21b099e7::2b794a6d-3263-43e8-98c1-5b3021ac4dc7
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Mon, 06 Apr 2015 20:11:10 GMT
recorded_with: VCR 2.9.3
