---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - e7c74e29-c8e4-42de-58ac-5a509274e8dc
      X-Vcap-Request-Id:
      - a85374f1-a121-46a1-41f3-d7adc03da086::e6ced743-8ff6-4bf3-ba48-f8687e4ca8de
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Sat, 04 Apr 2015 12:52:37 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - 43d556eb-9935-4be6-7019-e7a4ec8e111a, bcef2d69-033c-438f-7375-115cf11c1d69
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"7de208ea-86dd-4cde-9ecb-4c6780fcab0a"}'
  recorded_at: Sat, 04 Apr 2015 12:52:37 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 21e53ac6-051a-4bb5-6e7d-3ede0b5d14a8
      X-Vcap-Request-Id:
      - 258d4875-3f7b-413f-637e-cc54560011bc::2ba4e95c-27c1-49aa-9f0f-c4e44ee1c409
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "a5ee1cf3-57ee-457c-87e5-27f479359b36",
                "url": "/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36",
                "created_at": "2015-04-04T12:51:35+00:00",
                "updated_at": "2015-04-04T12:52:37+00:00"
              },
              "entity": {
                "name": "paasal-test-app-min-updated",
                "production": false,
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
                "buildpack": "nodejs_buildpack",
                "detected_buildpack": null,
                "environment_json": {
                  "our_test_var_key": "our_test_var_value"
                },
                "memory": 256,
                "instances": 1,
                "disk_quota": 1024,
                "state": "STOPPED",
                "version": "70636ebd-6a4d-4c85-a728-1fd1e27f486a",
                "command": null,
                "console": false,
                "debug": null,
                "staging_task_id": "de5a19632617427c8e7c3ecf4ee87132",
                "package_state": "STAGED",
                "health_check_timeout": null,
                "staging_failed_reason": null,
                "docker_image": null,
                "package_updated_at": "2015-04-04T12:52:01+00:00",
                "detected_start_command": "node server.js",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
                "events_url": "/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36/events",
                "service_bindings_url": "/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36/service_bindings",
                "routes_url": "/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36/routes"
              }
            }
          ]
        }
  recorded_at: Sat, 04 Apr 2015 12:52:37 GMT
- request:
    method: head
    uri: https://api.10.244.0.34.xip.io/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36/download
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"551fde71-20e7a0"'
      Last-Modified:
      - Sat, 04 Apr 2015 12:52:01 GMT
      X-Cf-Requestid:
      - 5798aeab-860c-40b9-485c-3ceb6e7bac7d
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 04 Apr 2015 12:52:37 GMT
- request:
    method: put
    uri: https://api.10.244.0.34.xip.io/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36
    body:
      encoding: UTF-8
      string: '{"state":"STOPPED"}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - fbe22f7b-ce93-4539-7998-9c59d9dcf34c
      X-Vcap-Request-Id:
      - e56843a9-40fe-4dc0-7b9b-d6cf2f288190::1fbbcc19-1173-47e9-a558-9cf9b30a0a40
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "a5ee1cf3-57ee-457c-87e5-27f479359b36",
            "url": "/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36",
            "created_at": "2015-04-04T12:51:35+00:00",
            "updated_at": "2015-04-04T12:52:38+00:00"
          },
          "entity": {
            "name": "paasal-test-app-min-updated",
            "production": false,
            "space_guid[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - b0053308-ab3b-4be7-617f-7b9b79eab21a
      X-Vcap-Request-Id:
      - c1a1fb18-e336-4f1e-5b0b-e9656d1b4ab1::9a0b30fd-eafa-4d14-9da7-5eb5f05c6bb4
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "9a49f0c8-0854-4caa-8db7-750f0eec90f6",
                "url": "/v2/routes/9a49f0c8-0854-4caa-8db7-750f0eec90f6",
                "created_at": "2015-04-04T12:51:35+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "a5ee1cf3-57ee-457c-87e5-27f479359b36",
                "domain_guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "domain_url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "apps_url": "/v2/routes/9a49f0c8-0854-4caa-8db7-750f0eec90f6/apps"
              }
            }
          ]
        }
  recorded_at: Sat, 04 Apr 2015 12:52:38 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - f9d3c75d-266b-48e1-6b01-7793e4603242
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - 895aea66-c319-42c1-5563-512beba4665c::0fa7628e-411b-4fe7-9d80-ba83807d1865
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Sat, 04 Apr 2015 12:52:38 GMT
[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - e93c12e2-f981-4b0b-5040-538553cce4ae
      X-Vcap-Request-Id:
      - f70a2db6-0972-4303-4c79-d96568a15975::ff231f98-8aab-4fa2-a3e7-918984f859f2
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "9a49f0c8-0854-4caa-8db7-750f0eec90f6",
                "url": "/v2/routes/9a49f0c8-0854-4caa-8db7-750f0eec90f6",
                "created_at": "2015-04-04T12:51:35+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "a5ee1cf3-57ee-457c-87e5-27f479359b36",
                "domain_guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "domain_url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "apps_url": "/v2/routes/9a49f0c8-0854-4caa-8db7-750f0eec90f6/apps"
              }
            }
          ]
        }
  recorded_at: Sat, 04 Apr 2015 12:52:38 GMT
[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 035e7a2e-3f82-4118-795d-c2f5d7c6d90b
      X-Vcap-Request-Id:
      - fd343e3a-1a83-4da6-43b6-532542816173::4ceae6b4-5af6-4e24-96e8-93a60f2b5720
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "9a49f0c8-0854-4caa-8db7-750f0eec90f6",
                "url": "/v2/routes/9a49f0c8-0854-4caa-8db7-750f0eec90f6",
                "created_at": "2015-04-04T12:51:35+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "a5ee1cf3-57ee-457c-87e5-27f479359b36",
                "domain_guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "domain_url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "apps_url": "/v2/routes/9a49f0c8-0854-4caa-8db7-750f0eec90f6/apps"
              }
            }
          ]
        }
  recorded_at: Sat, 04 Apr 2015 12:52:38 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - d2914bf3-3491-41a2-619c-b324a61d737e
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - 9692fbb8-c038-46b3-72f0-d3864b0202fb::dd3942ba-439c-43d2-b8fe-42bc04b437ee
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Sat, 04 Apr 2015 12:52:38 GMT
recorded_with: VCR 2.9.3
