---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - d92e7162-4c9c-4b5a-59a4-5dec0539e084
      X-Vcap-Request-Id:
      - d0c0dc24-63cd-4ce6-5253-53c242af502f::adb30599-5f6b-4fe0-bb38-c003e295a45e
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Thu, 02 Apr 2015 12:41:48 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - c4774c75-cfe3-4666-7c3c-4475bf7bf28c, e505dc47-0018-4143-7795-3fb825981c5c
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"ad4bcf09-cd93-4118-ba44-f11dd2bbfa04"}'
  recorded_at: Thu, 02 Apr 2015 12:41:48 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - ec9be5f9-b945-4c69-5f48-2e70078947ca
      X-Vcap-Request-Id:
      - ad57094a-2964-415d-69bd-e330c3028b67::4c1a2a28-88d0-4401-870b-fdc31793c707
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "3397450b-e73a-48cb-a94d-4e7cc4341763",
                "url": "/v2/apps/3397450b-e73a-48cb-a94d-4e7cc4341763",
                "created_at": "2015-04-02T12:32:49+00:00",
                "updated_at": "2015-04-02T12:33:56+00:00"
              },
              "entity": {
                "name": "paasal-test-app-min-updated",
                "production": false,
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
                "buildpack": "nodejs_buildpack",
                "detected_buildpack": null,
                "environment_json": {
                  "our_test_var_key": "our_test_var_value"
                },
                "memory": 256,
                "instances": 1,
                "disk_quota": 1024,
                "state": "STOPPED",
                "version": "96f12add-6cad-4a6a-94b2-9abb32fc3201",
                "command": null,
                "console": false,
                "debug": null,
                "staging_task_id": "1f0189ef90fd4312b1b5c01bdfd6108a",
                "package_state": "STAGED",
                "health_check_timeout": null,
                "staging_failed_reason": null,
                "docker_image": null,
                "package_updated_at": "2015-04-02T12:33:18+00:00",
                "detected_start_command": "node server.js",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
                "events_url": "/v2/apps/3397450b-e73a-48cb-a94d-4e7cc4341763/events",
                "service_bindings_url": "/v2/apps/3397450b-e73a-48cb-a94d-4e7cc4341763/service_bindings",
                "routes_url": "/v2/apps/3397450b-e73a-48cb-a94d-4e7cc4341763/routes"
              }
            }
          ]
        }
  recorded_at: Thu, 02 Apr 2015 12:41:48 GMT
- request:
    method: head
    uri: https://api.10.244.0.34.xip.io/v2/apps/3397450b-e73a-48cb-a94d-4e7cc4341763/download
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"551d370e-20e7a0"'
      Last-Modified:
      - Thu, 02 Apr 2015 12:33:18 GMT
      X-Cf-Requestid:
      - 627d4c64-177d-4fc6-5ead-d847699cc061
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 02 Apr 2015 12:41:48 GMT
- request:
    method: put
    uri: https://api.10.244.0.34.xip.io/v2/apps/3397450b-e73a-48cb-a94d-4e7cc4341763
    body:
      encoding: UTF-8
      string: '{"state":"STOPPED"}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 83efcf94-383f-4c82-6e30-cf081c4[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/3397450b-e73a-48cb-a94d-4e7cc4341763/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 53f8e48f-cc14-41e3-65e0-78b964364f07
      X-Vcap-Request-Id:
      - 528c4829-315e-4985-630f-c264190e3c17::8140deab-3477-4b3a-8e0c-7ec9182631a2
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "19808d13-e553-4a36-b050-e8d554848350",
                "url": "/v2/routes/19808d13-e553-4a36-b050-e8d554848350",
                "created_at": "2015-04-02T12:32:50+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "3397450b-e73a-48cb-a94d-4e7cc4341763",
                "domain_guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "domain_url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "apps_url": "/v2/routes/19808d13-e553-4a36-b050-e8d554848350/apps"
              }
            }
          ]
        }
  recorded_at: Thu, 02 Apr 2015 12:41:48 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 276f8300-5416-4c6d-53e1-c481196709d0
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - 6831967c-f466-4197-7012-70e57c419f01::302dc56a-433f-45e6-b40f-f66a550ba39e
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Thu, 02 Apr 2015 12:41:48 GMT
[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - f8d0c2e4-adcb-4bcb-4e23-c3f1bcc7b85f
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - c88f49ed-843d-4100-75cd-7965feaaabfc::f7a53017-2d3b-495a-ab3a-bc58056f5506
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Thu, 02 Apr 2015 12:41:48 GMT
[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/3397450b-e73a-48cb-a94d-4e7cc4341763
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 327d0a4c-825b-4bab-4ae8-965fef125b8e
      X-Vcap-Request-Id:
      - d34c56cc-c1eb-49bf-6207-c29f85e954ff::b4db9f0b-9459-447d-8ee9-541b61c05e4c
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "3397450b-e73a-48cb-a94d-4e7cc4341763",
            "url": "/v2/apps/3397450b-e73a-48cb-a94d-4e7cc4341763",
            "created_at": "2015-04-02T12:32:49+00:00",
            "updated_at": "2015-04-02T12:33:56+00:00"
          },
          "entity": {
            "name": "paasal-test-app-min-updated",
            "production": false,
            "space_guid[...]
[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 346a0995-6bb2-4d47-6cfb-7c4200d7104e
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - 7927940e-a702-4f91-76af-d13401170209::8cf520aa-c5a0-4653-9fa8-88843f31ec73
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Thu, 02 Apr 2015 12:41:48 GMT
recorded_with: VCR 2.9.3
