---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 313b5387-2648-4a68-7bb9-d8b02bb9e824
      X-Vcap-Request-Id:
      - ae659b21-dc74-4d52-62b7-0c8805729e14::45b30425-2868-4d33-8e8c-1330587d8a9d
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Sat, 04 Apr 2015 12:52:02 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - 8ae798a2-5545-4262-601b-28234b553a2c, 3c464ccd-4dc7-4333-4eb5-a9f3486c567f
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"ee547ebd-d50f-4e7f-99fe-b0ffb5a414cf"}'
  recorded_at: Sat, 04 Apr 2015 12:52:02 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 4efcb6c1-eef8-4f87-769f-61bacb54cef0
      X-Vcap-Request-Id:
      - 2f5aeb3e-df85-4498-5a86-061d4977916e::8d8c5b5c-00ed-4256-a76d-6783c45c725f
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "b81d8252-71f0-474c-a005-632338336c01",
                "url": "/v2/apps/b81d8252-71f0-474c-a005-632338336c01",
                "created_at": "2015-04-04T12:51:35+00:00",
                "updated_at": "2015-04-04T12:51:58+00:00"
              },
              "entity": {
                "name": "paasal-test-app-all-updated",
                "production": false,
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
                "buildpack": "nodejs_buildpack",
                "detected_buildpack": null,
                "environment_json": {
                  "our_test_var_key": "our_updated_test_var_value",
                  "our_test_var_key2": "our_test_var_value2"
                },
                "memory": 256,
                "instances": 1,
                "disk_quota": 1024,
                "state": "STOPPED",
                "version": "9772cb7e-1bbc-4ab6-a4da-c2b7c6f00e9f",
                "command": null,
                "console": false,
                "debug": null,
                "staging_task_id": null,
                "package_state": "PENDING",
                "health_check_timeout": null,
                "staging_failed_reason": null,
                "docker_image": null,
                "package_updated_at": "2015-04-04T12:51:58+00:00",
                "detected_start_command": "",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
                "events_url": "/v2/apps/b81d8252-71f0-474c-a005-632338336c01/events",
                "service_bindings_url": "/v2/apps/b81d8252-71f0-474c-a005-632338336c01/service_bindings",
                "routes_url": "/v2/apps/b81d8252-71f0-474c-a005-632338336c01/routes"
              }
            }
          ]
        }
  recorded_at: Sat, 04 Apr 2015 12:52:02 GMT
- request:
    method: head
    uri: https://api.10.244.0.34.xip.io/v2/apps/b81d8252-71f0-474c-a005-632338336c01/download
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"551fde6e-20e7a0"'
      Last-Modified:
      - Sat, 04 Apr 2015 12:51:58 GMT
      X-Cf-Requestid:
      - 32d7bce1-d0c2-4537-598b-31f71b67b909
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 04 Apr 2015 12:52:02 GMT
- request:
    method: put
    uri: https://api.10.244.0.34.xip.io/v2/apps/b81d8252-71f0-474c-a005-632338336c01
    body:
      encoding: UTF-8
      string: '{"state":"STARTED"}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Staging-Log:
      - https://6d1af9602073498d9dc8150f076df6f3.10.244.0.34.xip.io/staging_tasks/7fe53ab07760457688d010a0b5521060/file_path?hmac=9c2da77ab91418085f1aabd5063058741945242bf68442b098c61ebc43d2e0f8c031e4ce796de68d1ac320141d867ced556314c471aecc32883c40c654c28f8e&path=%2Ftmp%2Fstaged%2Flogs%2Fstaging_task.log&timestamp=1428151923
      X-Cf-Requestid:
      - 81c2c795-e844-4fb2-7425-6dccdd72d0b0
      X-Vcap-Request-Id:
      - e7a71ff8-8e69-4b04-535d-1ebee323963c::321a254c-e911-4dce-90d5-d9e940f7b053
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "b81d8252-71f0-474c-a005-632338336c01",
            "url": "/v2/apps/b81d8252-71f0-474c-a005-632338336c01",
            "created_at": "2015-04-04T12:51:35+00:00",
            "updated_at": "2015-04-04T12:52:02+00:00"
          },
          "entity": {
            "name": "paasal-test-app-all-updated",
            "production": false,
            "space_guid[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/b81d8252-71f0-474c-a005-632338336c01/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - efb8c461-ced6-4d7b-74c4-a8e1164624d6
      X-Vcap-Request-Id:
      - 30e355b0-949b-430b-5179-2af33def6c2d::2d980483-e291-4069-9fe2-4aa7318c4d08
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 3,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "17e45bd4-5255-47b8-94a8-c7d7fc247c5d",
                "url": "/v2/routes/17e45bd4-5255-47b8-94a8-c7d7fc247c5d",
                "created_at": "2015-04-04T12:51:35+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "b81d8252-71f0-474c-a005-632338336c01",
                "domain_guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "domain_url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "apps_url": "/v2/routes/17e45bd4-5255-47b8-94a8-c7d7fc247c5d/apps"
              }
            },
            {
              "metadata": {
                "guid": "df3c1312-cb7e-4714-8c7a-926af45b82b3",
                "url": "/v2/routes/df3c1312-cb7e-4714-8c7a-926af45b82b3",
                "created_at": "2015-04-04T12:51:51+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "cf-bosh-local",
                "domain_guid": "a055ee95-7d64-4352-9e5e[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 68947997-442f-410a-6aa9-b0eb1d9f2853
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - 8ec50762-4123-4c10-57d4-c2e746e98763::f55beee8-1533-4b26-8655-f34301d58c3c
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Sat, 04 Apr 2015 12:52:03 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 2b673b52-e9c2-45e9-5799-390f891e738f
      X-Vcap-Request-Id:
      - bf15b9f9-7716-492e-4a3e-6e0acbd31032::3b135763-c138-480d-bca7-a56fbbef5b39
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "b81d8252-71f0-474c-a005-632338336c01",
                "url": "/v2/apps/b81d8252-71f0-474c-a005-632338336c01",
                "created_at": "2015-04-04T12:51:35+00:00",
                "updated_at[...]
[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/b81d8252-71f0-474c-a005-632338336c01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - a5e0c19f-1db6-4390-5266-7032c3ca864a
      X-Vcap-Request-Id:
      - d0409278-159e-4941-62de-572e406c48d7::adde93f7-a4f3-4619-b078-21c2f7a6b2ff
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "b81d8252-71f0-474c-a005-632338336c01",
            "url": "/v2/apps/b81d8252-71f0-474c-a005-632338336c01",
            "created_at": "2015-04-04T12:51:35+00:00",
            "updated_at": "2015-04-04T12:52:02+00:00"
          },
          "entity": {
            "name": "paasal-test-app-all-updated",
            "production": false,
            "space_guid[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/b81d8252-71f0-474c-a005-632338336c01/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - f424c031-f2fb-4d4a-6ba7-e5a4b906cf41
      X-Vcap-Request-Id:
      - f0e3d959-fb8b-4163-64c0-b4ec2190cbdb::6a862a35-d137-4d9d-be17-8dc95099ea3d
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 3,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "17e45bd4-5255-47b8-94a8-c7d7fc247c5d",
                "url": "/v2/routes/17e45bd4-5255-47b8-94a8-c7d7fc247c5d",
                "created_at": "2015-04-04T12:51:35+00:00",
                "updated_[...]
[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/b81d8252-71f0-474c-a005-632338336c01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - cf0cc355-d981-4d9a-5fdb-c0ce3378ccbd
      X-Vcap-Request-Id:
      - dc176e1e-a2ac-4b2c-482b-0c9b8243b5fd::45ac80fe-0cef-4740-a357-25e792269fd9
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "b81d8252-71f0-474c-a005-632338336c01",
            "url": "/v2/apps/b81d8252-71f0-474c-a005-632338336c01",
            "created_at": "2015-04-04T12:51:35+00:00",
            "updated_at": "2015-04-04T12:52:02+00:00"
          },
          "entity": {
            "name": "paasal-test-app-all-updated",
            "production": false,
            "space_guid[...]
[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 9d522af7-6960-4c6f-7b10-6616c36c5441
      X-Vcap-Request-Id:
      - bd31b4e6-8457-4d75-5f5a-31c1c801c068::4f1119d9-ed1a-4cc1-852b-95a44b20544e
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "b81d8252-71f0-474c-a005-632338336c01",
                "url": "/v2/apps/b81d8252-71f0-474c-a005-632338336c01",
                "created_at": "2015-04-04T12:51:35+00:00",
                "updated_at[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/b81d8252-71f0-474c-a005-632338336c01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - a4367489-9dc1-4eb5-4d6e-1eecf04f94e7
      X-Vcap-Request-Id:
      - bd0d3f22-68ef-4745-7482-e1879b340b3c::28e37125-f552-401e-a320-9b91dafead36
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "b81d8252-71f0-474c-a005-632338336c01",
            "url": "/v2/apps/b81d8252-71f0-474c-a005-632338336c01",
            "created_at": "2015-04-04T12:51:35+00:00",
            "updated_at": "2015-04-04T12:52:02+00:00"
          },
          "entity": {
            "name": "paasal-test-app-all-updated",
            "production": false,
            "space_guid[...]
[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - eb1f064b-afc5-4d71-7e4a-42559c7d9bd4
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - efc46a52-92fe-4d26-6ca3-16b33109dbd5::4c32cba5-4d23-4a20-80c6-191ca0aaaf07
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Sat, 04 Apr 2015 12:52:04 GMT
[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/b81d8252-71f0-474c-a005-632338336c01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 77e12ef9-0f50-4868-4a1b-fce62702f5fa
      X-Vcap-Request-Id:
      - aec0239e-6acd-4508-763f-549e30f8851a::862d06a0-2bcf-4851-94f7-3569710368ad
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "b81d8252-71f0-474c-a005-632338336c01",
            "url": "/v2/apps/b81d8252-71f0-474c-a005-632338336c01",
            "created_at": "2015-04-04T12:51:35+00:00",
            "updated_at": "2015-04-04T12:52:02+00:00"
          },
          "entity": {
            "name": "paasal-test-app-all-updated",
            "production": false,
            "space_guid[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/b81d8252-71f0-474c-a005-632338336c01/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 027a405b-a248-4088-5ceb-9194d0406a69
      X-Vcap-Request-Id:
      - c1fe98fd-b7e3-43d0-7d07-e66466c1d883::9187cb16-7b32-4818-b23c-0b8c8207dc07
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 3,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "17e45bd4-5255-47b8-94a8-c7d7fc247c5d",
                "url": "/v2/routes/17e45bd4-5255-47b8-94a8-c7d7fc247c5d",
                "created_at": "2015-04-04T12:51:35+00:00",
                "updated_[...]
[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/b81d8252-71f0-474c-a005-632338336c01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 15256668-dd65-42e9-5003-fe5fa9dbdf8d
      X-Vcap-Request-Id:
      - fcf67bf1-b951-4a54-7833-e7ad4485cbe9::6586c529-5962-4402-b7e5-1ed43ec4ef23
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "b81d8252-71f0-474c-a005-632338336c01",
            "url": "/v2/apps/b81d8252-71f0-474c-a005-632338336c01",
            "created_at": "2015-04-04T12:51:35+00:00",
            "updated_at": "2015-04-04T12:52:02+00:00"
          },
          "entity": {
            "name": "paasal-test-app-all-updated",
            "production": false,
            "space_guid[...]
[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 9355a6a4-9fc9-46e8-5275-5fd9e236c3e9
      X-Vcap-Request-Id:
      - cc4ad098-e6b9-4a44-4385-50f4c9097e6d::2abdee30-c3ca-4e8a-bf70-54572fbe4770
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "b81d8252-71f0-474c-a005-632338336c01",
                "url": "/v2/apps/b81d8252-71f0-474c-a005-632338336c01",
                "created_at": "2015-04-04T12:51:35+00:00",
                "updated_at[...]
[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 0d73cc7a-b242-42ff-576b-0f399b516dda
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - effba51d-64bc-4bec-5778-c9e5994c32c0::16cb0319-d6ab-4c57-b863-e0c62a0cc2c9
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Sat, 04 Apr 2015 12:52:05 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - c40f36c0-406d-496c-516f-be9c7f2fb4e8
      X-Vcap-Request-Id:
      - bab0ce4c-b97b-4bb1-4ced-348c5b82edd7::3b6590b2-a326-4f4f-8a30-36da9250fc9a
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "b81d8252-71f0-474c-a005-632338336c01",
                "url": "/v2/apps/b81d8252-71f0-474c-a005-632338336c01",
                "created_at": "2015-04-04T12:51:35+00:00",
                "updated_at[...]
[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/b81d8252-71f0-474c-a005-632338336c01/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 82cf7a95-d17d-47b1-5a50-e766d3ca997c
      X-Vcap-Request-Id:
      - eff15b0a-0cda-4545-66d9-0a5834deb04d::4f62a8e8-908b-46a1-8dcf-94b0e9902eb7
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 3,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "17e45bd4-5255-47b8-94a8-c7d7fc247c5d",
                "url": "/v2/routes/17e45bd4-5255-47b8-94a8-c7d7fc247c5d",
                "created_at": "2015-04-04T12:51:35+00:00",
                "updated_[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 00cb5f99-55d1-4e08-6665-64437981610d
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - dc03f1b9-fdc8-4375-7b24-930906d291b6::4f8fcf95-f9ef-48b3-88b8-e16f64ade733
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Sat, 04 Apr 2015 12:52:05 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 9ffc9952-3071-4e94-6577-fa9211376de0
      X-Vcap-Request-Id:
      - a2540e41-ba80-44b9-79b7-5c55af464a24::f51de71f-c88c-4974-96db-154ceac7fc55
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "b81d8252-71f0-474c-a005-632338336c01",
                "url": "/v2/apps/b81d8252-71f0-474c-a005-632338336c01",
                "created_at": "2015-04-04T12:51:35+00:00",
                "updated_at[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/b81d8252-71f0-474c-a005-632338336c01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 2e9dd30c-812b-4c8a-6a21-04e9732dba79
      X-Vcap-Request-Id:
      - bb76dfbe-7fc3-40bc-6b2a-79163e415168::36378e3b-22a0-4665-b7fd-e0877166cf39
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "b81d8252-71f0-474c-a005-632338336c01",
            "url": "/v2/apps/b81d8252-71f0-474c-a005-632338336c01",
            "created_at": "2015-04-04T12:51:35+00:00",
            "updated_at": "2015-04-04T12:52:02+00:00"
          },
          "entity": {
            "name": "paasal-test-app-all-updated",
            "production": false,
            "space_guid[...]
[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 4d2d6f91-acc4-4e7b-76ee-37a3931ce198
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - e7b00f8c-a997-4574-6449-b79aa421e2a7::d867518f-3242-4236-a7b8-46ce1784c1d9
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Sat, 04 Apr 2015 12:52:06 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 52356759-4e29-42d1-52bf-8b279d6aea77
      X-Vcap-Request-Id:
      - af0f36af-4a67-407c-6fc9-b7a517f6ef62::98f2e229-f58c-45f2-98cc-448e7ad6b432
    body:
      encoding: UTF-8
[...]
