---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - f7094897-99d6-4e8c-54a6-726b0429d381
      X-Vcap-Request-Id:
      - 4de4c578-2b63-449f-75ec-f913ae261b94::643646ad-c5bd-43c7-8e70-b275cca57a70
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Thu, 02 Apr 2015 12:41:46 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - 12a28ebd-db41-40b4-6ded-dfa7eb8ef4ba, b64a3f2c-43dc-46ab-4a57-15810431f9e2
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"2a8f780f-1488-4376-ae25-10bbaa57d328"}'
  recorded_at: Thu, 02 Apr 2015 12:41:46 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 221c4abc-a266-4319-455f-81b4f5ba2648
      X-Vcap-Request-Id:
      - 0e5acc62-f8b5-4a9b-78fd-ff348a4350cb::4033f197-e61b-4464-8593-3fbb6fb905ef
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "3397450b-e73a-48cb-a94d-4e7cc4341763",
                "url": "/v2/apps/3397450b-e73a-48cb-a94d-4e7cc4341763",
                "created_at": "2015-04-02T12:32:49+00:00",
                "updated_at": "2015-04-02T12:33:53+00:00"
              },
              "entity": {
                "name": "paasal-test-app-min-updated",
                "production": false,
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
                "buildpack": "nodejs_buildpack",
                "detected_buildpack": null,
                "environment_json": {
                  "our_test_var_key": "our_test_var_value"
                },
                "memory": 256,
                "instances": 1,
                "disk_quota": 1024,
                "state": "STARTED",
                "version": "96f12add-6cad-4a6a-94b2-9abb32fc3201",
                "command": null,
                "console": false,
                "debug": null,
                "staging_task_id": "1f0189ef90fd4312b1b5c01bdfd6108a",
                "package_state": "STAGED",
                "health_check_timeout": null,
                "staging_failed_reason": null,
                "docker_image": null,
                "package_updated_at": "2015-04-02T12:33:18+00:00",
                "detected_start_command": "node server.js",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
                "events_url": "/v2/apps/3397450b-e73a-48cb-a94d-4e7cc4341763/events",
                "service_bindings_url": "/v2/apps/3397450b-e73a-48cb-a94d-4e7cc4341763/service_bindings",
                "routes_url": "/v2/apps/3397450b-e73a-48cb-a94d-4e7cc4341763/routes"
              }
            }
          ]
        }
  recorded_at: Thu, 02 Apr 2015 12:41:46 GMT
- request:
    method: head
    uri: https://api.10.244.0.34.xip.io/v2/apps/3397450b-e73a-48cb-a94d-4e7cc4341763/download
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"551d370e-20e7a0"'
      Last-Modified:
      - Thu, 02 Apr 2015 12:33:18 GMT
      X-Cf-Requestid:
      - 4845ee6a-6ee4-4b89-7467-25a1878964b0
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 02 Apr 2015 12:41:46 GMT
- request:
    method: put
    uri: https://api.10.244.0.34.xip.io/v2/apps/3397450b-e73a-48cb-a94d-4e7cc4341763
    body:
      encoding: UTF-8
      string: '{"state":"STARTED"}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - b70720d6-28d2-4489-45be-2ca1893[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/3397450b-e73a-48cb-a94d-4e7cc4341763/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 7ecb3793-e8a3-40d5-767b-f3746d2b80eb
      X-Vcap-Request-Id:
      - d1c7e1b4-9816-4617-77a0-96ed49ca5f07::6cbc4ca1-db90-427d-9010-151f907f7117
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "19808d13-e553-4a36-b050-e8d554848350",
                "url": "/v2/routes/19808d13-e553-4a36-b050-e8d554848350",
                "created_at": "2015-04-02T12:32:50+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "3397450b-e73a-48cb-a94d-4e7cc4341763",
                "domain_guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "domain_url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "apps_url": "/v2/routes/19808d13-e553-4a36-b050-e8d554848350/apps"
              }
            }
          ]
        }
  recorded_at: Thu, 02 Apr 2015 12:41:46 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 34799a71-4d10-407c-4338-f1c4164bf95f
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - e794d945-7cd9-4f7c-4dd6-2ec493228331::b8bb0764-b172-49c7-acc7-07ef8b2bbe34
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Thu, 02 Apr 2015 12:41:46 GMT
[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - c07a1c84-2eb0-4fb4-7c6a-267eb1e09e27
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - 6964b3f5-de54-442d-7f70-adf1919d2852::752598ff-1cf2-4265-88b3-fb75fa921100
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Thu, 02 Apr 2015 12:41:46 GMT
recorded_with: VCR 2.9.3
