---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 08778fa5-ab4f-4810-4b44-c9124b4ccc02
      X-Vcap-Request-Id:
      - 0a81f2e4-5676-4ec1-7a9f-d28823740471::d1f30723-8582-4c67-a711-ef1a094f9e95
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Sat, 04 Apr 2015 12:52:37 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - ecaad783-7abe-4ccc-58ab-53f5b308b9ff, 1787bd01-475d-4129-529c-dc937b859402
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"e29c6f4e-464c-4649-8ce3-b46c4b05635a"}'
  recorded_at: Sat, 04 Apr 2015 12:52:37 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 36acecec-27a2-4106-501c-9ad4a304454d
      X-Vcap-Request-Id:
      - 58ac417c-ab78-446e-445d-d9745f5da971::df4b58af-c8de-4366-8fb6-565a147ca5dd
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "a5ee1cf3-57ee-457c-87e5-27f479359b36",
                "url": "/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36",
                "created_at": "2015-04-04T12:51:35+00:00",
                "updated_at": "2015-04-04T12:52:36+00:00"
              },
              "entity": {
                "name": "paasal-test-app-min-updated",
                "production": false,
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
                "buildpack": "nodejs_buildpack",
                "detected_buildpack": null,
                "environment_json": {
                  "our_test_var_key": "our_test_var_value"
                },
                "memory": 256,
                "instances": 1,
                "disk_quota": 1024,
                "state": "STOPPED",
                "version": "70636ebd-6a4d-4c85-a728-1fd1e27f486a",
                "command": null,
                "console": false,
                "debug": null,
                "staging_task_id": "de5a19632617427c8e7c3ecf4ee87132",
                "package_state": "STAGED",
                "health_check_timeout": null,
                "staging_failed_reason": null,
                "docker_image": null,
                "package_updated_at": "2015-04-04T12:52:01+00:00",
                "detected_start_command": "node server.js",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
                "events_url": "/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36/events",
                "service_bindings_url": "/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36/service_bindings",
                "routes_url": "/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36/routes"
              }
            }
          ]
        }
  recorded_at: Sat, 04 Apr 2015 12:52:37 GMT
- request:
    method: head
    uri: https://api.10.244.0.34.xip.io/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36/download
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"551fde71-20e7a0"'
      Last-Modified:
      - Sat, 04 Apr 2015 12:52:01 GMT
      X-Cf-Requestid:
      - 092e1c31-8392-4706-5b3f-81ebf16eb6a6
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 04 Apr 2015 12:52:37 GMT
- request:
    method: put
    uri: https://api.10.244.0.34.xip.io/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36
    body:
      encoding: UTF-8
      string: '{"state":"STOPPED"}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - b35148b3-38ef-40a7-72f3-1c138eb32a27
      X-Vcap-Request-Id:
      - a28bfe02-94af-4739-43e1-68faf4d559e5::8e3109fa-b0c3-445a-a482-000fe1b091f8
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "a5ee1cf3-57ee-457c-87e5-27f479359b36",
            "url": "/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36",
            "created_at": "2015-04-04T12:51:35+00:00",
            "updated_at": "2015-04-04T12:52:37+00:00"
          },
          "entity": {
            "name": "paasal-test-app-min-updated",
            "production": false,
            "space_guid[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 371da525-2538-4ad3-52a1-f00ce27e5962
      X-Vcap-Request-Id:
      - b05d9177-bb5d-477f-7281-6881ae0fc4cb::146626ff-8c96-4a80-87f3-439ad306a43f
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "9a49f0c8-0854-4caa-8db7-750f0eec90f6",
                "url": "/v2/routes/9a49f0c8-0854-4caa-8db7-750f0eec90f6",
                "created_at": "2015-04-04T12:51:35+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "a5ee1cf3-57ee-457c-87e5-27f479359b36",
                "domain_guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "domain_url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "apps_url": "/v2/routes/9a49f0c8-0854-4caa-8db7-750f0eec90f6/apps"
              }
            }
          ]
        }
  recorded_at: Sat, 04 Apr 2015 12:52:37 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 12f2537b-678e-407b-79d7-7af979540e39
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - a9bd3233-109d-406b-7f52-52432f4df9d6::1b05cbe0-0f2b-4c2e-8c54-2db78eb3b12a
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Sat, 04 Apr 2015 12:52:37 GMT
[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 29b19066-b174-4cfe-4e4a-fa0bd602faaa
      X-Vcap-Request-Id:
      - be64aba4-2dae-49b7-6031-3e23a13bb18c::2003ca06-2d50-4d98-900e-649b8091f6a6
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "a5ee1cf3-57ee-457c-87e5-27f479359b36",
            "url": "/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36",
            "created_at": "2015-04-04T12:51:35+00:00",
            "updated_at": "2015-04-04T12:52:37+00:00"
          },
          "entity": {
            "name": "paasal-test-app-min-updated",
            "production": false,
            "space_guid[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 508fb480-6ab5-47a5-4088-6b4123428728
      X-Vcap-Request-Id:
      - a45cfd93-5e0b-4bf8-54b8-04f2400d1df0::97ba5f93-a8c5-49df-b9de-ab38cb18f1ed
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "9a49f0c8-0854-4caa-8db7-750f0eec90f6",
                "url": "/v2/routes/9a49f0c8-0854-4caa-8db7-750f0eec90f6",
                "created_at": "2015-04-04T12:51:35+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "a5ee1cf3-57ee-457c-87e5-27f479359b36",
                "domain_guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "domain_url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "apps_url": "/v2/routes/9a49f0c8-0854-4caa-8db7-750f0eec90f6/apps"
              }
            }
          ]
        }
  recorded_at: Sat, 04 Apr 2015 12:52:37 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - c077712b-3271-4748-7d7f-a8c7dddce074
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - 33223ef5-65f4-4ff6-4488-8222442cfdc6::725ac9f4-aa35-4004-b80c-79dc169b4756
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Sat, 04 Apr 2015 12:52:37 GMT
recorded_with: VCR 2.9.3
