{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/05/20 00:02:10 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:02:33 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/regions","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["name eu..us"], "Content-Type":["application/json"], "ETag":["\"2ec0b8af8efc327bfd1883a15aa73f08\""], "Last-Modified":["Thu, 19 Sep 2013 01:29:12 GMT"], "RateLimit-Remaining":["2337"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"created_at\":\"2013-09-19T01:29:12Z\",\"description\":\"Europe\",\"id\":\"ed30241c-ed8c-4bb6-9714-61953675d0b4\",\"name\":\"eu\",\"updated_at\":\"2013-09-19T01:29:12Z\"},{\"created_at\":\"2012-11-21T21:44:16Z\",\"description\":\"United States\",\"id\":\"59accabd-516d-4f0e-83e6-6e3757701145\",\"name\":\"us\",\"updated_at\":\"2013-04-05T10:13:06Z\"}]"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:02:34 GMT"}],"recorded_with":"VCR 2.9.3"}