{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["5a41c31b-ecae-4078-4d2a-81fce062983e"], "X-Vcap-Request-Id":["a61a7274-f43c-404a-6914-ad167a9c292f::7642d7ce-708e-480e-80f6-890894fa9278"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:31 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["c94440ea-12af-4a17-5319-5b281ae98214, 6ae6d0e3-f9aa-4c8b-4bff-5a4845f4485d"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"036f9dec-f3ff-4ac9-aac3-caaeae8d5681\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:31 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["24a6ac24-9131-48b9-4744-a706065726e3"], "X-Vcap-Request-Id":["b756be09-b19f-4e42-5d63-5b387731880f::52412fed-c81a-4e10-8267-959c54d1c2fb"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"03a567ca-5b77-4b7c-a73a-a008ca5dad17\",\n        \"url\": \"/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17\",\n        \"created_at\": \"2015-05-14T06:39:23+00:00\",\n        \"updated_at\": \"2015-05-14T06:39:29+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"f226d139-20d4-45b1-b7fe-4f0078977a13\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": null,\n        \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17/events\",\n        \"service_bindings_url\": \"/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17/service_bindings\",\n        \"routes_url\": \"/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:31 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["7f4ab047-869f-41e9-5a09-fff29ae7333c"], "X-Vcap-Request-Id":["4583c51a-998f-4710-4f90-0a14290296f3::547e98f8-f[...]
{"request":{"method":"head","uri":"https://api.10.244.0.34.xip.io/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17/download","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["de0106bb-2012-4361-40b5-4e179a764555"], "X-Vcap-Request-Id":["36779427-72e6-46f2-41df-0f746f670ed2::dfc74663-3b92-4587-b972-f4dbdbd4fd8c"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:31 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["9833c7f6-33e1-4569-5b81-824d9b85c8e7"], "X-Vcap-Request-Id":["b28c5908-6f52-495e-4436-fa402cc0b9d6::50869298-af18-4b2c-b8fa-293708623d16"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"ae10e852-60a4-4ad2-b452-82beb14b6f03\",\n        \"url\": \"/v2/routes/ae10e852-60a4-4ad2-b452-82beb14b6f03\",\n        \"created_at\": \"2015-05-14T06:39:23+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"03a567ca-5b77-4b7c-a73a-a008ca5dad17\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/ae10e852-60a4-4ad2-b452-82beb14b6f03/apps\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:31 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["9211693c-71d8-426d-7a86-dfe9a191ee8f"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["8db44338-f054-4b42-72fe-78641837393e::a77fdf58-a549-4ba1-a27f-7044f488f626"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:31 GMT"}],"recorded_with":"VCR 2.9.3"}