{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["69b3ed9b-bcfc-4e58-6e85-a8e30d7874b6"], "X-Vcap-Request-Id":["004f315b-aa9a-4005-4d77-edef356292bf::9cb364c9-6a55-4a86-bd8c-60b4531969cf"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:43:59 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["00cb106c-c61b-497a-7f8e-e24b72692c62, fad1aec4-f472-4b45-4b35-f0579797d021"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"cc540040-cd61-4cdf-858f-06bbab78c5ad\"}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:43:59 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["3af05265-b4b2-4803-613d-3cff11072736"], "X-Vcap-Request-Id":["849cf78c-d4cf-43fe-640a-81fe3c42986a::5c3edcb0-5f97-458a-bbca-dc7834a72cf4"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"9522777b-2037-49ff-841e-63f0f187c6ab\",\n        \"url\": \"/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab\",\n        \"created_at\": \"2015-07-28T12:43:53+00:00\",\n        \"updated_at\": \"2015-07-28T12:43:59+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"52555387-5fbf-4b1a-b2ae-79e31721375a\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": null,\n        \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab/events\",\n        \"service_bindings_url\": \"/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab/service_bindings\",\n        \"routes_url\": \"/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:43:59 GMT"},{"request":{"method":"head","uri":"https://api.10.244.0.34.xip.io/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab/download","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["2456e5ba-5fb7-4439-78f4-55450233e8a9"], "X-Vcap-Request-Id":["8f6f09b4-fb11-4156-745a-564a50aedea8::3a91e56c-4417-42cc-a983-94c77c148e6a"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:43:59 GMT"}],"recorded_with":"VCR 2.9.3"}