{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-06-20T10:11:23.766569\"}"},"http_version":null},"recorded_at":"Sat, 20 Jun 2015 09:56:32 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties69/deployment/paasal/alias","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties69/deployment/paasal/alias"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[{\"name\": \"paasal.paasaltestappallproperties69.cloudcontrolapp.com\", \"is_default\": true, \"is_verified\": true}, {\"name\": \"paasal-paasaltestappallproperties69.cloudcontrolapp.com\", \"is_default\": true, \"is_verified\": true}, {\"name\": \"paasal.paasaltestappallproperties69.cloudcontrolled.com\", \"is_default\": true, \"is_verified\": true}, {\"name\": \"paasal-paasaltestappallproperties69.cloudcontrolled.com\", \"is_default\": true, \"is_verified\": true}]"},"http_version":null},"recorded_at":"Sat, 20 Jun 2015 09:56:32 GMT"}],"recorded_with":"VCR 2.9.3"}