{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-07-28T11:29:29.835893\"}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 11:14:29 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/nucleustestappallproperties87/deployment/nucleus/alias","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/nucleustestappallproperties87/deployment/nucleus/alias"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[{\"name\": \"nucleus.nucleustestappallproperties87.cloudcontrolapp.com\", \"is_default\": true, \"is_verified\": true}, {\"name\": \"nucleus-nucleustestappallproperties87.cloudcontrolapp.com\", \"is_default\": true, \"is_verified\": true}, {\"name\": \"nucleus.nucleustestappallproperties87.cloudcontrolled.com\", \"is_default\": true, \"is_verified\": true}, {\"name\": \"nucleus-nucleustestappallproperties87.cloudcontrolled.com\", \"is_default\": true, \"is_verified\": true}]"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 11:14:30 GMT"}],"recorded_with":"VCR 2.9.3"}