{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-04-28T15:54:47.546445\"}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 15:39:47 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties40/deployment/paasal/alias","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties40/deployment/paasal/alias"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[{\"name\": \"paasal.paasaltestappallproperties40.cloudcontrolapp.com\", \"is_default\": true, \"is_verified\": true}, {\"name\": \"paasal-paasaltestappallproperties40.cloudcontrolapp.com\", \"is_default\": true, \"is_verified\": true}, {\"name\": \"paasal.paasaltestappallproperties40.cloudcontrolled.com\", \"is_default\": true, \"is_verified\": true}, {\"name\": \"paasal-paasaltestappallproperties40.cloudcontrolled.com\", \"is_default\": true, \"is_verified\": true}]"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 15:39:48 GMT"}],"recorded_with":"VCR 2.9.3"}