{"http_interactions":[{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["73737536-d11b-4ffc-42a6-7544e408a139"], "X-Vcap-Request-Id":["40716c33-2499-44ee-7398-993678b157e1::3586f589-4227-4d65-b527-98e541bf61d2"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"https://login.run.pivotal.io\",\"token_endpoint\":\"https://uaa.run.pivotal.io\",\"min_cli_version\":null,\"min_recommended_cli_version\":null,\"api_version\":\"2.41.0\",\"app_ssh_endpoint\":\"ssh.run.pivotal.io:2222\",\"app_ssh_host_key_fingerprint\":\"e7:13:4e:32:ee:39:62:df:54:41:d7:f7:8b:b2:a7:6b\",\"app_ssh_oauth_client\":\"ssh-proxy\",\"routing_endpoint\":\"https://api.run.pivotal.io/routing\",\"logging_endpoint\":\"wss://loggregator.run.pivotal.io:443\",\"doppler_logging_endpoint\":\"wss://doppler.run.pivotal.io:443\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:01:35 GMT"},{"request":{"method":"post","uri":"https://login.run.pivotal.io/oauth/token?grant_type=password&password=__pivotal:password__&username=__pivotal:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["dae59c63-d60d-47ed-41ba-bfe3f7bdfaa5"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"cloud_controller.read password.write cloud_controller.write openid uaa.user\",\"jti\":\"c9a27042-d4cf-4099-838b-72a0bf9bbe2c\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:01:37 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/spaces","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["4798b764-e138-40ec-5166-35056cd2a154"], "X-Vcap-Request-Id":["a358c872-5710-4385-6889-31eb45337169::697dd2a9-a734-4623-8171-c592cf59ebdf"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"created_at\": \"2015-10-22T22:41:00Z\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"name\": \"nucleus\",\n        \"organization_guid\": \"9928cdf8-bf76-4b42-bda4-6b6787883b2e\",\n        \"space_quota_definition_guid\": null,\n        \"allow_ssh\": true,\n        \"organization_url\": \"/v2/organizations/9928cdf8-bf76-4b42-bda4-6b6787883b2e\",\n        \"developers_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/developers\",\n        \"managers_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/managers\",\n        \"auditors_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/auditors\",\n        \"apps_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/apps\",\n        \"routes_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/routes\",\n        \"domains_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/domains\",\n        \"service_instances_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/service_instances\",\n        \"app_events_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/app_events\",\n        \"events_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/events\",\n        \"security_groups_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/security_groups\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:01:38 GMT"},{"request":{"method":"post","uri":"https://api.run.pivotal.io/v2/apps","body":{"encoding":"UTF-8","string":"{\"space_guid\":\"1a13ea3e-d947-4887-8481-e8174f0ed011\",\"name\":\"nucleustestcreatebadruntimename\",\"buildpack\":\"youdontknowmert\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":400,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["cdc267c9-2972-465d-629b-f1980d90038b"], "X-Vcap-Request-Id":["a9c91781-3d00-4c36-532d-85655f62979c::49cfb03f-1fb8-4244-844a-dd6b5185e922"]},"body":{"encoding":"UTF-8","string":"{\n  \"code\": 100001,\n  \"description\": \"The app is invalid: buildpack youdontknowmert is not valid public url or a known buildpack name\",\n  \"error_code\": \"CF-AppInvalid\"\n}\n"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:01:39 GMT"}],"recorded_with":"VCR 2.9.3"}