{"http_interactions":[{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["dd0feaba-9b2c-4874-746a-e5aec14974df"], "X-Vcap-Request-Id":["f9a8f005-31b4-4ef1-754a-93a60d99224b::a095b82f-6b2d-44a0-a72f-39a277b8276f"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"https://login.run.pivotal.io\",\"token_endpoint\":\"https://uaa.run.pivotal.io\",\"min_cli_version\":null,\"min_recommended_cli_version\":null,\"api_version\":\"2.41.0\",\"app_ssh_endpoint\":\"ssh.run.pivotal.io:2222\",\"app_ssh_host_key_fingerprint\":\"e7:13:4e:32:ee:39:62:df:54:41:d7:f7:8b:b2:a7:6b\",\"app_ssh_oauth_client\":\"ssh-proxy\",\"routing_endpoint\":\"https://api.run.pivotal.io/routing\",\"logging_endpoint\":\"wss://loggregator.run.pivotal.io:443\",\"doppler_logging_endpoint\":\"wss://doppler.run.pivotal.io:443\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:45:57 GMT"},{"request":{"method":"post","uri":"https://login.run.pivotal.io/oauth/token?grant_type=password&password=__pivotal:password__&username=__pivotal:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["b013b4e4-5df7-4046-6ba0-a5d2c3f6a75b"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"cloud_controller.read password.write cloud_controller.write openid uaa.user\",\"jti\":\"a9aab802-fa68-4928-8867-6b99db9715ca\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:45:59 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/apps?q=name%3Anucleus-test-app-min-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["72b134b0-7bc9-46fa-5dec-844f0d1f0aa6"], "X-Vcap-Request-Id":["a55b6bc6-4c30-4a41-6a45-9d07e2ef60dd::58d47a9e-b941-4409-9fa4-6b84a1d2233d"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"1291fd16-6280-4eb3-8e14-9e61fe71bec3\",\n        \"url\": \"/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3\",\n        \"created_at\": \"2015-10-23T00:00:45Z\",\n        \"updated_at\": \"2015-10-23T10:45:39Z\"\n      },\n      \"entity\": {\n        \"name\": \"nucleus-test-app-min-updated\",\n        \"production\": false,\n        \"space_guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"stack_guid\": \"86205f38-84fc-4bc2-b2b8-af7f55669f04\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": \"\",\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_test_var_value\"\n        },\n        \"memory\": 256,\n        \"instances\": 2,\n        \"disk_quota\": 1024,\n        \"state\": \"STARTED\",\n        \"version\": \"ae35b62f-b468-4648-8a8b-8ba63025da59\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": \"8ea4e5a23a91479aabea01cd1f29f5e1\",\n        \"package_state\": \"STAGED\",\n        \"health_check_type\": \"port\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"staging_failed_description\": null,\n        \"diego\": true,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-10-23T01:21:26Z\",\n        \"detected_start_command\": \"node server.js\",\n        \"enable_ssh\": true,\n        \"docker_credentials_json\": {\n          \"redacted_message\": \"[PRIVATE DATA HIDDEN]\"\n        },\n        \"space_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"stack_url\": \"/v2/stacks/86205f38-84fc-4bc2-b2b8-af7f55669f04\",\n        \"events_url\": \"/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3/events\",\n        \"service_bindings_url\": \"/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3/service_bindings\",\n        \"routes_url\": \"/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:46:00 GMT"},{"request":{"method":"put","uri":"https://api.run.pivotal.io/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3","body":{"encoding":"UTF-8","string":"{\"instances\":1}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["8e9e0146-3f7e-461c-5789-31ce198b7467"], "X-Vcap-Request-Id":["8901961a-f49d-4b80-5d7f-9518a446dfa4::[...]
{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["9c55d86d-5683-463e-6c65-0a9bf4378353"], "X-Vcap-Request-Id":["b63e1631-1508-4ba0-5a1a-644792eff3f0::08665176-ce0e-4c1e-9178-f17c84a82c4a"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"e962b67c-23ef-46a2-8dde-f6e25598c359\",\n        \"url\": \"/v2/routes/e962b67c-23ef-46a2-8dde-f6e25598c359\",\n        \"created_at\": \"2015-10-23T00:00:53Z\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"1291fd16-6280-4eb3-8e14-9e61fe71bec3\",\n        \"path\": \"\",\n        \"domain_guid\": \"fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n        \"space_guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"service_instance_guid\": null,\n        \"port\": 0,\n        \"domain_url\": \"/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n        \"space_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"apps_url\": \"/v2/routes/e962b67c-23ef-46a2-8dde-f6e25598c359/apps\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:46:02 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["68b96187-68c5-48cf-5438-dd92753419cc"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["7736fd50-348a-4e66-622c-729a96e8d562::db392672-757a-47f1-abec-f6b9d1ba55b5"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n    \"url\": \"/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n    \"created_at\": \"2013-05-04T00:29:46Z\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"name\": \"cfapps.io\",\n    \"router_group_guid\": null\n  }\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:46:03 GMT"}],"recorded_with":"VCR 2.9.3"}