{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["b8564a08-8b1c-47d4-6bf9-bb691449fa72"], "X-Vcap-Request-Id":["29ea4e90-f2d9-4fc0-4957-34f2ea18102a::efac3d8a-fef9-4a4f-9578-c727e926707e"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:21:53 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["5d9dbaa6-2882-49bd-57de-b683284b1233, 6baa5fc7-522a-45ff-686f-cf8b32ce4e46"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"debdf199-863a-4aae-b10b-26027dfba433\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:21:54 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["d88bfed4-b818-4129-448b-2d806283bebb"], "X-Vcap-Request-Id":["37128df2-4f99-4a38-7cdc-806d6bf1ebbe::b61a0251-3432-4087-a4bc-637a0cfd6849"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"279b8ee3-07c2-4bef-b47c-992e10e91629\",\n        \"url\": \"/v2/apps/279b8ee3-07c2-4bef-b47c-992e10e91629\",\n        \"created_at\": \"2015-06-27T12:13:25+00:00\",\n        \"updated_at\": \"2015-06-27T12:15:57+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-min-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_test_var_value\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STARTED\",\n        \"version\": \"5acb3a9e-1291-4071-81b2-cfe39c5548ca\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": \"20cf57751f9040ae8e961da30c372ddd\",\n        \"package_state\": \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-06-27T12:13:58+00:00\",\n        \"detected_start_command\": \"node server.js\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/279b8ee3-07c2-4bef-b47c-992e10e91629/events\",\n        \"service_bindings_url\": \"/v2/apps/279b8ee3-07c2-4bef-b47c-992e10e91629/service_bindings\",\n        \"routes_url\": \"/v2/apps/279b8ee3-07c2-4bef-b47c-992e10e91629/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:21:54 GMT"},{"request":{"method":"put","uri":"https://api.10.244.0.34.xip.io/v2/apps/279b8ee3-07c2-4bef-b47c-992e10e91629","body":{"encoding":"UTF-8","string":"{\"instances\":2}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["d2fec0db-3c3f-49ed-58e2-5a94f5377720"], "X-Vcap-Request-Id":["231711ab-b826-4249-5c4d-182fee791a[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/279b8ee3-07c2-4bef-b47c-992e10e91629/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["885832e0-0c5a-4afd-4ea9-21ef1051c37c"], "X-Vcap-Request-Id":["63da8b31-57eb-436d-515d-54f6d15f8ddc::36bf4290-0b07-47d0-895c-ce38c6b7c676"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"f95f35b0-e06a-4338-8286-42d3bf81fb51\",\n        \"url\": \"/v2/routes/f95f35b0-e06a-4338-8286-42d3bf81fb51\",\n        \"created_at\": \"2015-06-27T12:13:25+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"279b8ee3-07c2-4bef-b47c-992e10e91629\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/f95f35b0-e06a-4338-8286-42d3bf81fb51/apps\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:21:54 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["206ece75-45c4-4661-49e1-4c8bdb982144"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["f9bd2fe0-0f16-454b-4981-c7e4d4f11ed3::e3b156f9-b4fd-46e5-932c-42e8dcf86bc2"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:21:54 GMT"}],"recorded_with":"VCR 2.9.3"}