{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["5c3dccdf-eac0-4a4f-4fdf-d32fb0b2c222"], "X-Vcap-Request-Id":["c9ba7706-06e0-4dda-5b50-882f978206fd::c6275406-8018-4e71-b746-277f0b7c6c86"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:41:13 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["a31838de-b849-4269-5f13-0f7b88bc8b7e, 5e4e793c-2e3e-4843-5d22-cb2f4689b64e"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"8109c5b9-a431-4b6c-b0e3-fdc692f92bd1\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:41:13 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["d7aa2981-c1f6-4e99-7834-b819f82d9baf"], "X-Vcap-Request-Id":["04af13ab-c9b1-4dc5-4695-73afd9543431::8d414760-6316-4466-8278-119ac187587f"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"562765db-8c59-4c06-aae7-10076d378aee\",\n        \"url\": \"/v2/apps/562765db-8c59-4c06-aae7-10076d378aee\",\n        \"created_at\": \"2015-05-14T06:39:24+00:00\",\n        \"updated_at\": \"2015-05-14T06:41:09+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-min-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_test_var_value\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STARTED\",\n        \"version\": \"6122063c-1779-4cb8-81e8-355d1bf63869\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": \"f75e774cb7e844709df0fdcc2e3845dc\",\n        \"package_state\": \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-05-14T06:39:58+00:00\",\n        \"detected_start_command\": \"node server.js\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/562765db-8c59-4c06-aae7-10076d378aee/events\",\n        \"service_bindings_url\": \"/v2/apps/562765db-8c59-4c06-aae7-10076d378aee/service_bindings\",\n        \"routes_url\": \"/v2/apps/562765db-8c59-4c06-aae7-10076d378aee/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:41:14 GMT"},{"request":{"method":"put","uri":"https://api.10.244.0.34.xip.io/v2/apps/562765db-8c59-4c06-aae7-10076d378aee","body":{"encoding":"UTF-8","string":"{\"instances\":2}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["410e6e21-319f-4c31-5805-12c60f85fa4e"], "X-Vcap-Request-Id":["283cc2e2-1602-4530-624d-44ee118089[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/562765db-8c59-4c06-aae7-10076d378aee/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["984a5669-2347-4f78-7de0-7f345da96d01"], "X-Vcap-Request-Id":["73b6958f-2df3-440b-42a3-2ec9d2c347bd::b39ea14c-a88c-4052-9100-d09c06dcbf4c"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"e00b6d16-4b94-418d-96eb-667e4f8d1c43\",\n        \"url\": \"/v2/routes/e00b6d16-4b94-418d-96eb-667e4f8d1c43\",\n        \"created_at\": \"2015-05-14T06:39:24+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"562765db-8c59-4c06-aae7-10076d378aee\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/e00b6d16-4b94-418d-96eb-667e4f8d1c43/apps\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:41:14 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["ac68d40a-40f0-49de-7f43-3cd611b6f04c"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["a6420b71-3d5a-4319-42cd-adb91ec5a29e::59cbf693-d442-4164-934b-7bb1974b15e3"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:41:14 GMT"}],"recorded_with":"VCR 2.9.3"}