{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["1a603259-89c6-4c7f-465e-12c4691e5b44"], "X-Vcap-Request-Id":["c2181d4e-87e2-42e8-479d-54d35f1326af::fab76809-a046-4e80-8182-18de5ab244fa"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:45:38 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["5ad7fe7e-7966-4b13-5367-646276e0a35a, 5d197f97-8ca3-4c8d-7b4a-33d55632ca40"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"1e8193f9-3186-4b01-be93-09235aaf2533\"}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:45:38 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["0e937797-6f22-419b-6a1d-f5307f94db86"], "X-Vcap-Request-Id":["dddf59c6-7504-4e63-509f-c5f10c8c546c::5b5a0560-d817-41f2-bbbe-d7af1ed6ea01"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"8eb3af60-b711-46e3-958f-2688f74c01d6\",\n        \"url\": \"/v2/apps/8eb3af60-b711-46e3-958f-2688f74c01d6\",\n        \"created_at\": \"2015-07-28T12:43:54+00:00\",\n        \"updated_at\": \"2015-07-28T12:45:38+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-min-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_test_var_value\"\n        },\n        \"memory\": 256,\n        \"instances\": 2,\n        \"disk_quota\": 1024,\n        \"state\": \"STARTED\",\n        \"version\": \"76a064d8-c04f-4e8b-a044-0757ea02d226\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": \"707a5b383f224a5dbedd103f28c1373c\",\n        \"package_state\": \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-07-28T12:44:27+00:00\",\n        \"detected_start_command\": \"node server.js\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/8eb3af60-b711-46e3-958f-2688f74c01d6/events\",\n        \"service_bindings_url\": \"/v2/apps/8eb3af60-b711-46e3-958f-2688f74c01d6/service_bindings\",\n        \"routes_url\": \"/v2/apps/8eb3af60-b711-46e3-958f-2688f74c01d6/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:45:38 GMT"},{"request":{"method":"put","uri":"https://api.10.244.0.34.xip.io/v2/apps/8eb3af60-b711-46e3-958f-2688f74c01d6","body":{"encoding":"UTF-8","string":"{\"instances\":1}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["a4e5b351-72dd-420b-4d8b-66c2112592d0"], "X-Vcap-Request-Id":["de3fd329-c047-4e9b-6924-7bbc073745[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/8eb3af60-b711-46e3-958f-2688f74c01d6/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["48997a04-1c38-48d2-72a3-4c7c14d09734"], "X-Vcap-Request-Id":["020a9c16-d0c8-4e02-7400-1fc6f866a28e::d2673626-f119-4c15-89de-5068934e9f32"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"d26f9ff4-2b52-4809-ac3c-8a7a8e247e5d\",\n        \"url\": \"/v2/routes/d26f9ff4-2b52-4809-ac3c-8a7a8e247e5d\",\n        \"created_at\": \"2015-07-28T12:43:54+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"8eb3af60-b711-46e3-958f-2688f74c01d6\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/d26f9ff4-2b52-4809-ac3c-8a7a8e247e5d/apps\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:45:39 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["b6c1f3d7-5484-4915-5cbb-f56d8b59f8be"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["b41b1c0e-a644-48a4-4ee8-44f29425b289::7dd8bcd0-2753-4f83-ab62-02db5481f69e"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:45:39 GMT"}],"recorded_with":"VCR 2.9.3"}