{"http_interactions":[{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/user","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"f2af1a9d6c19cdd6d336c94a84ec3295\""], "ProxyTime":["D=583178"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["547c8e445973ca306e0000ad"]},"body":{"encoding":"UTF-8","string":"{\"api_version\":1.7,\"data\":{\"capabilities\":{\"subaccounts\":false,\"gear_sizes\":[\"small\",\"small.highcpu\",\"medium\",\"large\"],\"plan_upgrade_enabled\":true,\"private_ssl_certificates\":true,\"view_global_teams\":false,\"max_storage_per_gear\":30},\"consumed_gears\":2,\"created_at\":\"2014-12-01T15:50:28Z\",\"currency_cd\":\"eur\",\"email\":\"__openshift-online:user__\",\"id\":\"547c8e445973ca306e0000ad\",\"links\":{\"ADD_KEY\":{\"href\":\"https://openshift.redhat.com/broker/rest/user/keys\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Add new SSH key\",\"required_params\":[{\"description\":\"Name of the key\",\"invalid_options\":[],\"name\":\"name\",\"type\":\"string\",\"valid_options\":[]},{\"description\":\"Type of Key\",\"invalid_options\":[],\"name\":\"type\",\"type\":\"string\",\"valid_options\":[\"ssh-rsa\",\"ssh-dss\",\"ssh-rsa-cert-v01@openssh.com\",\"ssh-dss-cert-v01@openssh.com\",\"ssh-rsa-cert-v00@openssh.com\",\"ssh-dss-cert-v00@openssh.com\"]},{\"description\":\"The key portion of an ssh key (excluding key type and comment)\",\"invalid_options\":[],\"name\":\"content\",\"type\":\"string\",\"valid_options\":[]}]},\"LIST_KEYS\":{\"href\":\"https://openshift.redhat.com/broker/rest/user/keys\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"List SSH keys\",\"required_params\":[]}},\"login\":\"__openshift-online:user__\",\"max_domains\":3,\"max_gears\":16,\"max_teams\":15,\"plan_expiration_date\":null,\"plan_id\":\"bronze\",\"plan_quantity\":1,\"plan_state\":\"ACTIVE\",\"usage_account_id\":\"32488930\",\"usage_rates\":{\"prepaid\":false,\"storage\":{\"gigabyte\":[{\"min\":0,\"max\":30,\"usd\":1.0,\"cad\":1.0,\"eur\":1.0,\"duration\":\"month\"}]}}},\"messages\":[],\"status\":\"ok\",\"supported_api_versions\":[1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7],\"type\":\"user\",\"version\":\"1.7\"}"},"http_version":null},"recorded_at":"Thu, 22 Oct 2015 23:52:58 GMT"},{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/applications","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"615d8b278752d2f8ef93848375e50341\""], "ProxyTime":["D=884301"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["547c8e445973ca306e0000ad"]},"body":{"encoding":"CP850","string":"{\"api_version\":1.7,\"data\":[{\"aliases\":[],\"app_url\":\"http://nucleustestappallproperties-unibadsg.rhcloud.com/\",\"auto_deploy\":false,\"build_job_url\":null,\"building_app\":null,\"building_with\":null,\"creation_time\":\"2015-10-22T23:43:45Z\",\"deployment_branch\":\"master\",\"deployment_type\":\"git\",\"domain_id\":\"unibadsg\",\"embedded\":{\"haproxy-1.4\":{}},\"framework\":\"nodejs-0.10\",\"gear_count\":1,\"gear_profile\":\"small\",\"git_url\":\"ssh://562974b10c1e663e6f000173@nucleustestappallproperties-unibadsg.rhcloud.com/~/git/nucleustestappallproperties.git/\",\"ha\":false,\"health_check_path\":\"health\",\"id\":\"562974b10c1e663e6f000173\",\"initial_git_url\":null,\"keep_deployments\":2,\"links\":{\"GET\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"Get application\",\"required_params\":[]},\"GET_DESCRIPTOR\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/descriptor\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"Get application descriptor\",\"required_params\":[]},\"GET_GEAR_GROUPS\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/gear_groups\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"Get application gear groups\",\"required_params\":[]},\"START\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Start application\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"start\"]}]},\"STOP\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Stop application\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"stop\"]}]},\"FORCE_STOP\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Force stop application\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"force-stop\"]}]},\"RESTART\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Restart application\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"restart\"]}]},\"SCALE_UP\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Scale up application\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"scale-up\"]}]},\"SCALE_DOWN\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Scale down application\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"scale-down\"]}]},\"TIDY\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Tidy the application framework\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"tidy\"]}]},\"RELOAD\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Reload the application\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"reload\"]}]},\"THREAD_DUMP\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Trigger thread dump\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"thread-dump\"]}]},\"ADD_CARTRIDGE\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/cartridges\",\"method\":\"POST\",\"optional_params\":[{\"default_value\":null,\"description\":\"The component to colocate with\",\"name\":\"colocate_with\",\"type\":\"string\",\"valid_options\":[\"haproxy-1.4\",\"nodejs-0.10\"]},{\"default_value\":null,\"description\":\"Minimum number of gears to run the component on.\",\"name\":\"scales_from\",\"type\":\"integer\",\"valid_options\":[]},{\"default_value\":null,\"description\":\"Maximum number of gears to run the component on.\",\"name\":\"scales_to\",\"type\":\"integer\",\"valid_options\":[]},{\"default_value\":null,\"description\":\"Additional GB of space to request on all gears running this component.\",\"name\":\"additional_gear_storage\",\"type\":\"integer\",\"valid_options\":[]},{\"default_value\":\"small\",\"description\":\"Gear size for the cartridge.\",\"name\":\"gear_size\",\"type\":\"string\",\"valid_options\":[\"small\",\"small.highcpu\",\"medium\",\"large\"]},{\"default_value\":null,\"description\":\"A URL to a downloadable cartridge.\",\"name\":\"url\",\"type\":\"string\",\"valid_options\":[]},{\"default_value\":null,\"description\":\"Add or Update application environment variables, e.g.:[{'name':'FOO', 'value':'123'}, {'name':'BAR', 'value':'abc'}]\",\"name\":\"environment_variables\",\"type\":\"array\",\"valid_options\":[]}],\"rel\":\"Add embedded cartridge\",\"required_params\":[{\"description\":\"Name of a cartridge.\",\"invalid_options\":[],\"name\":\"name\",\"type\":\"string\",\"valid_options\":[]}]},\"LIST_CARTRIDGES\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/cartridges\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"List embedded cartridges\",\"required_params\":[]},\"DNS_RESOLVABLE\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/dns_resolvable\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"Resolve DNS\",\"required_params\":[]},\"ADD_ALIAS\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/aliases\",\"method\":\"POST\",\"optional_params\":[{\"default_value\":null,\"description\":\"Content of SSL Certificate\",\"name\":\"ssl_certificate\",\"type\":\"string\",\"valid_options\":[]},{\"default_value\":null,\"description\":\"Private key for the certificate.  Required if adding a certificate\",\"name\":\"private_key\",\"type\":\"string\",\"valid_options\":[]},{\"default_value\":null,\"description\":\"Optional passphrase for the private key\",\"name\":\"pass_phrase\",\"type\":\"string\",\"valid_options\":[]}],\"rel\":\"Create new alias\",\"required_params\":[{\"description\":\"Alias for application\",\"invalid_options\":[],\"name\":\"id\",\"type\":\"string\",\"valid_options\":[]}]},\"LIST_ALIASES\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/aliases\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"List application aliases\",\"required_params\":[]},\"LIST_MEMBERS\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/members\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"List members of this application\",\"required_params\":[]},\"ADD_ENVIRONMENT_VARIABLE\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/environment-variables\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Add an environment variable\",\"required_params\":[{\"description\":\"Name of the environment variable\",\"invalid_options\":[],\"name\":\"name\",\"type\":\"string\",\"valid_options\":[]},{\"description\":\"Value of the environment variable\",\"invalid_options\":[],\"name\":\"value\",\"type\":\"string\",\"valid_options\":[]}]},\"SET_UNSET_ENVIRONMENT_VARIABLES\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/environment-variables\",\"method\":\"PATCH\",\"optional_params\":[{\"default_value\":null,\"description\":\"Name of the environment variable to add/update\",\"name\":\"name\",\"type\":\"string\",\"valid_options\":[]},{\"default_value\":null,\"description\":\"Value of the environment variable\",\"name\":\"value\",\"type\":\"string\",\"valid_options\":[]},{\"default_value\":null,\"description\":\"Add/Update/Delete application environment variables, e.g. Add/Update: [{'name':'FOO', 'value':'123'}, {'name':'BAR', 'value':'abc'}], {Delete: [{'name':'FOO'}, {'name':'BAR'}]}\",\"name\":\"environment_variables\",\"type\":\"array\",\"valid_options\":[]}],\"rel\":\"Add/Update/Delete one or more environment variables\",\"required_params\":[]},\"LIST_ENVIRONMENT_VARIABLES\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/environment-variables\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"List all environment variables\",\"required_params\":[]},\"DEPLOY\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/deployments\",\"method\":\"POST\",\"optional_params\":[{\"default_value\":\"master\",\"description\":\"Git ref (tag, branch, commit id)\",\"name\":\"ref\",\"type\":\"string\",\"valid_options\":[]},{\"default_value\":null,\"description\":\"URL where the deployment artifact can be downloaded from\",\"name\":\"artifact_url\",\"type\":\"string\",\"valid_options\":[]},{\"default_value\":false,\"description\":\"Indicates whether this is a hot deployment\",\"name\":\"hot_deploy\",\"type\":\"boolean\",\"valid_options\":[\"true or false\"]},{\"default_value\":false,\"description\":\"Indicates whether a clean build should be performed\",\"name\":\"force_clean_build\",\"type\":\"string\",\"valid_options\":[\"true or false\"]}],\"rel\":\"Deploy the application\",\"required_params\":[]},\"UPDATE_DEPLOYMENTS\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/deployments\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Update deployments (Special permissions is required to update deployments)\",\"required_params\":[{\"description\":\"An array of deployments\",\"invalid_options\":[],\"name\":\"deployments\",\"type\":\"array\",\"valid_options\":[]}]},\"ACTIVATE\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Activate a specific deployment of the application\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"activate\"]},{\"description\":\"The deployment ID to activate the application\",\"invalid_options\":[],\"name\":\"deployment_id\",\"type\":\"string\",\"valid_options\":[]}]},\"LIST_DEPLOYMENTS\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/deployments\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"List all deployments\",\"required_params\":[]},\"UPDATE\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173\",\"method\":\"PUT\",\"optional_params\":[{\"default_value\":null,\"description\":\"Indicates if OpenShift should build and deploy automatically whenever the user executes git push\",\"name\":\"auto_deploy\",\"type\":\"boolean\",\"valid_options\":[true,false]},{\"default_value\":null,\"description\":\"Indicates whether the app is setup for binary or git based deployments\",\"name\":\"deployment_type\",\"type\":\"string\",\"valid_options\":[\"git\",\"binary\"]},{\"default_value\":null,\"description\":\"Indicates which branch should trigger an automatic deployment, if automatic deployment is enabled.\",\"name\":\"deployment_branch\",\"type\":\"string\",\"valid_options\":[]},{\"default_value\":null,\"description\":\"Indicates how many total deployments to preserve. Must be greater than 0\",\"name\":\"keep_deployments\",\"type\":\"integer\",\"valid_options\":[]}],\"rel\":\"Update application\",\"required_params\":[]},\"MAKE_HA\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Make the application Highly Available (HA)\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"make-ha\"]}]},\"DISABLE_HA\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Disable Highly Available (HA) on the application\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"disable-ha\"]}]},\"DELETE\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173\",\"method\":\"DELETE\",\"optional_params\":[],\"rel\":\"Delete application\",\"required_params\":[]}},\"members\":[{\"explicit_role\":null,\"from\":[{\"type\":\"domain\",\"role\":\"admin\"}],\"id\":\"547c8e445973ca306e0000ad\",\"links\":{\"GET\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/member/547c8e445973ca306e0000ad\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"Get member\",\"required_params\":[]},\"UPDATE\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/member/547c8e445973ca306e0000ad\",\"method\":\"PUT\",\"optional_params\":[],\"rel\":\"Update member\",\"required_params\":[{\"description\":\"New role for member\",\"invalid_options\":[],\"name\":\"role\",\"type\":\"string\",\"valid_options\":[]}]},\"DELETE\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/member/547c8e445973ca306e0000ad\",\"method\":\"DELETE\",\"optional_params\":[],\"rel\":\"Delete member\",\"required_params\":[]}},\"login\":\"__openshift-online:user__\",\"owner\":true,\"role\":\"admin\",\"type\":\"user\"}],\"name\":\"nucleustestappallproperties\",\"scalable\":true,\"ssh_url\":\"ssh://562974b10c1e663e6f000173@nucleustestappallproperties-unibadsg.rhcloud.com\"},{\"aliases\":[],\"app_url\":\"http://nucleustestappminproperties-unibadsg.rhcloud.com/\",\"auto_deploy\":false,\"build_job_url\":null,\"building_app\":null,\"building_with\":null,\"creation_time\":\"2015-10-22T23:47:58Z\",\"deployment_branch\":\"master\",\"deployment_type\":\"git\",\"domain_id\":\"unibadsg\",\"embedded\":{\"haproxy-1.4\":{}},\"framework\":\"nodejs-0.10\",\"gear_count\":1,\"gear_profile\":\"small[...]
{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/gear_groups","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"f0563b3f2232e3e89d2b0686d8d5838c\""], "ProxyTime":["D=753362"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["547c8e445973ca306e0000ad"]},"body":{"encoding":"CP850","string":"{\"api_version\":1.7,\"data\":[{\"additional_gear_storage\":0,\"base_gear_storage\":1,\"cartridges\":[{\"name\":\"haproxy-1.4\",\"display_name\":\"Web Load Balancer\",\"tags\":[\"web_proxy\",\"scales\",\"embedded\"]},{\"name\":\"nodejs-0.10\",\"display_name\":\"Node.js 0.10\",\"tags\":[\"service\",\"javascript\",\"nodejs\",\"web_framework\"]}],\"gear_profile\":\"small\",\"gears\":[{\"id\":\"562974b10c1e663e6f000173\",\"state\":\"started\",\"ssh_url\":\"ssh://562974b10c1e663e6f000173@nucleustestappallproperties-unibadsg.rhcloud.com\",\"region\":\"aws-us-east-1\",\"zone\":\"aws-us-east-1b\"}],\"id\":\"562974b10c1e663e6f000175\",\"name\":\"562974b10c1e663e6f000175\",\"scales_from\":1,\"scales_to\":-1}],\"messages\":[{\"exit_code\":0,\"field\":null,\"index\":null,\"severity\":\"info\",\"text\":\"Showing gear groups for application 'nucleustestappallproperties' with domain 'unibadsg'\"},{\"exit_code\":0,\"field\":null,\"index\":null,\"severity\":\"result\",\"text\":\"started\\n\"}],\"status\":\"ok\",\"supported_api_versions\":[1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7],\"type\":\"gear_groups\",\"version\":\"1.7\"}"},"http_version":null},"recorded_at":"Thu, 22 Oct 2015 23:53:02 GMT"},{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/application/562974b10c1e663e6f000173/deployments","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"6c8b0b896c12fbf51f911d03ac5addd2\""], "ProxyTime":["D=642344"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["547c8e445973ca306e0000ad"]},"body":{"encoding":"CP850","string":"{\"api_version\":1.7,\"data\":[{\"activations\":[\"2015-10-22T23:46:51Z\"],\"created_at\":\"2015-10-22T23:43:53Z\",\"force_clean_build\":false,\"hot_deploy\":false,\"id\":\"ab99123a\",\"ref\":\"master\",\"sha1\":\"527b841\"}],\"messages\":[{\"exit_code\":0,\"field\":null,\"index\":null,\"severity\":\"info\",\"text\":\"Listing deployments for application nucleustestappallproperties under domain unibadsg\"}],\"status\":\"ok\",\"supported_api_versions\":[1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7],\"type\":\"deployments\",\"version\":\"1.7\"}"},"http_version":null},"recorded_at":"Thu, 22 Oct 2015 23:53:04 GMT"},[...]
{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/application/562975ae2d5271cba7000089/deployments","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"2d3da523029d7bb72e6f4dd0b576689e\""], "ProxyTime":["D=638950"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["547c8e445973ca306e0000ad"]},"body":{"encoding":"CP850","string":"{\"api_version\":1.7,\"data\":[{\"activations\":[\"2015-10-22T23:51:15Z\"],\"created_at\":\"2015-10-22T23:48:11Z\",\"force_clean_build\":false,\"hot_deploy\":false,\"id\":\"8a8801f7\",\"ref\":\"master\",\"sha1\":\"b6d16de\"}],\"messages\":[{\"exit_code\":0,\"field\":null,\"index\":null,\"severity\":\"info\",\"text\":\"Listing deployments for application nucleustestappminproperties under domain unibadsg\"}],\"status\":\"ok\",\"supported_api_versions\":[1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7],\"type\":\"deployments\",\"version\":\"1.7\"}"},"http_version":null},"recorded_at":"Thu, 22 Oct 2015 23:53:07 GMT"}],"recorded_with":"VCR 2.9.3"}