{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/06/27 02:29:50 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:31:49 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/nucleus-test-app-all-updated/domains","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["hostname adomainthatishopefullynotusedontheplatform.de..nucleus-test-app-all-updated.herokuapp.com"], "Content-Type":["application/json"], "ETag":["\"fd137ccae375c737d4e5743579efc52f\""], "Last-Modified":["Sat, 27 Jun 2015 09:08:49 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2337"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"app\":{\"id\":\"eabf58cb-478b-4eda-8349-4f98f56625f0\",\"name\":\"nucleus-test-app-all-updated\"},\"created_at\":\"2015-06-27T09:08:49Z\",\"hostname\":\"adomainthatishopefullynotusedontheplatform.de\",\"id\":\"e09855af-5ce3-480b-84d4-af117ac6f917\",\"updated_at\":\"2015-06-27T09:08:49Z\"},{\"app\":{\"id\":\"eabf58cb-478b-4eda-8349-4f98f56625f0\",\"name\":\"nucleus-test-app-all-updated\"},\"created_at\":\"2015-06-27T09:00:57Z\",\"hostname\":\"nucleus-test-app-all-updated.herokuapp.com\",\"id\":\"4b167679-e686-4275-b3ae-7f9203c5ce88\",\"updated_at\":\"2015-06-27T09:02:58Z\"}]"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:31:50 GMT"},{"request":{"method":"delete","uri":"https://api.heroku.com/apps/nucleus-test-app-all-updated/domains/e09855af-5ce3-480b-84d4-af117ac6f917","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"3d96481b7310b808dce4447d90540b24\""], "Last-Modified":["Sat, 27 Jun 2015 09:08:49 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global write write-protected"], "RateLimit-Remaining":["2336"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"app\":{\"id\":\"eabf58cb-478b-4eda-8349-4f98f56625f0\",\"name\":\"nucleus-test-app-all-updated\"},\"created_at\":\"2015-06-27T09:08:49Z\",\"hostname\":\"adomainthatishopefullynotusedontheplatform.de\",\"id\":\"e09855af-5ce3-480b-84d4-af117ac6f917\",\"updated_at\":\"2015-06-27T09:08:49Z\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:31:50 GMT"}],"recorded_with":"VCR 2.9.3"}