{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/05/14 00:13:39 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 07:15:50 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated/domains","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["hostname adomainthatishopefullynotusedontheplatform.de..paasal-test-app-all-updated.herokuapp.com"], "Content-Type":["application/json"], "ETag":["\"3507e6ddec368e867977c9cdc88c0340\""], "Last-Modified":["Thu, 14 May 2015 06:51:32 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2339"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"app\":{\"id\":\"1f35201d-1363-4ac1-9b8a-db35bf92e698\",\"name\":\"paasal-test-app-all-updated\"},\"created_at\":\"2015-05-14T06:51:32Z\",\"hostname\":\"adomainthatishopefullynotusedontheplatform.de\",\"id\":\"39ea8fd0-cf6e-4ffc-be61-007e1645a7bb\",\"updated_at\":\"2015-05-14T06:51:32Z\"},{\"app\":{\"id\":\"1f35201d-1363-4ac1-9b8a-db35bf92e698\",\"name\":\"paasal-test-app-all-updated\"},\"created_at\":\"2015-05-14T06:43:58Z\",\"hostname\":\"paasal-test-app-all-updated.herokuapp.com\",\"id\":\"83aa6eb7-411b-4bf2-b3e5-a20be6f55897\",\"updated_at\":\"2015-05-14T06:45:49Z\"}]"},"http_version":null},"recorded_at":"Thu, 14 May 2015 07:15:50 GMT"},{"request":{"method":"delete","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated/domains/39ea8fd0-cf6e-4ffc-be61-007e1645a7bb","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"72a59e226ce43f4eff7527fc55dfa04d\""], "Last-Modified":["Thu, 14 May 2015 06:51:32 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global write write-protected"], "RateLimit-Remaining":["2338"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"app\":{\"id\":\"1f35201d-1363-4ac1-9b8a-db35bf92e698\",\"name\":\"paasal-test-app-all-updated\"},\"created_at\":\"2015-05-14T06:51:32Z\",\"hostname\":\"adomainthatishopefullynotusedontheplatform.de\",\"id\":\"39ea8fd0-cf6e-4ffc-be61-007e1645a7bb\",\"updated_at\":\"2015-05-14T06:51:32Z\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 07:15:51 GMT"}],"recorded_with":"VCR 2.9.3"}