{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/04/28 12:53:42 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:55:02 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated/domains","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["hostname adomainthatishopefullynotusedontheplatform.de..paasal-test-app-all-updated.herokuapp.com"], "Content-Type":["application/json"], "ETag":["\"bf6807c48155c495ded04a5b85311c70\""], "Last-Modified":["Tue, 28 Apr 2015 19:33:18 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2258"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"app\":{\"id\":\"6fdf309b-980d-44fa-a4d0-8661e416ea14\",\"name\":\"paasal-test-app-all-updated\"},\"created_at\":\"2015-04-28T19:33:18Z\",\"hostname\":\"adomainthatishopefullynotusedontheplatform.de\",\"id\":\"be950202-2f4c-4b6d-9414-f46747b47709\",\"updated_at\":\"2015-04-28T19:33:18Z\"},{\"app\":{\"id\":\"6fdf309b-980d-44fa-a4d0-8661e416ea14\",\"name\":\"paasal-test-app-all-updated\"},\"created_at\":\"2015-04-28T19:33:14Z\",\"hostname\":\"heroku.adomainthatishopefullynotusedontheplatform.de\",\"id\":\"92fad1c3-eab3-41f4-9ee6-b6272e10997d\",\"updated_at\":\"2015-04-28T19:33:14Z\"},{\"app\":{\"id\":\"6fdf309b-980d-44fa-a4d0-8661e416ea14\",\"name\":\"paasal-test-app-all-updated\"},\"created_at\":\"2015-04-28T19:26:42Z\",\"hostname\":\"paasal-test-app-all-updated.herokuapp.com\",\"id\":\"c7e1f197-8b0a-4ad6-b1b8-331a2cdbec8d\",\"updated_at\":\"2015-04-28T19:28:25Z\"}]"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:55:03 GMT"},{"request":{"method":"delete","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated/domains/92fad1c3-eab3-41f4-9ee6-b6272e10997d","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"bee44eac024172c3cbfe5ba1d3c56857\""], "Last-Modified":["Tue, 28 Apr 2015 19:33:14 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global write write-protected"], "RateLimit-Remaining":["2257"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"app\":{\"id\":\"6fdf309b-980d-44fa-a4d0-8661e416ea14\",\"name\":\"paasal-test-app-all-updated\"},\"created_at\":\"2015-04-28T19:33:14Z\",\"hostname\":\"heroku.adomainthatishopefullynotusedontheplatform.de\",\"id\":\"92fad1c3-eab3-41f4-9ee6-b6272e10997d\",\"updated_at\":\"2015-04-28T19:33:14Z\"}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:55:03 GMT"}],"recorded_with":"VCR 2.9.3"}