---
http_interactions:
- request:
    method: post
    uri: https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"allow_tracking":true,"api_key":"__API_KEY__","beta":null,"confirmed":true,"confirmed_at":"2014/11/18
        01:37:21 -0800","created_at":"2014/11/18 01:37:21 -0800","id":"__USER_ID__@users.heroku.com","email":"__heroku:user__","last_login":"2014/11/25
        00:52:59 -0800","name":" ","updated_at":"2015/03/19 09:27:04 -0700","verified":false,"verified_at":null}'
  recorded_at: Thu, 19 Mar 2015 16:30:06 GMT
- request:
    method: post
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated/domains
    body:
      encoding: UTF-8
      string: '{"hostname":"heroku.adomainthatishopefullynotusedontheplatform.de"}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 422
      message: 
    headers:
      Content-Type:
      - application/json
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global write write-protected
      RateLimit-Remaining:
      - '1981'
      Status:
      - 422 Unprocessable Entity
    body:
      encoding: UTF-8
      string: '{"id":"invalid_params","message":"Domain already added to this app."}'
  recorded_at: Thu, 19 Mar 2015 16:30:07 GMT
recorded_with: VCR 2.9.3
