{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-06-20T10:16:18.465952\"}"},"http_version":null},"recorded_at":"Sat, 20 Jun 2015 10:01:26 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties69","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties69"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"name\": \"paasaltestappallproperties69\", \"buildpack_url\": null, \"repository\": \"ssh://paasaltestappallproperties69@cloudcontrolled.com/repository.git\", \"type\": {\"name\": \"nodejs\"}, \"owner\": {\"username\": \"__cloudcontrol:username__\", \"first_name\": \"\", \"last_name\": \"\", \"email\": \"__cloudcontrol:user__\", \"is_active\": true, \"billing_without_payment_info\": false}, \"users\": [{\"username\": \"__cloudcontrol:username__\", \"email\": \"__cloudcontrol:user__\", \"role\": \"\"}], \"invitations\": [], \"date_created\": \"2015-06-20T09:53:26\", \"date_modified\": \"2015-06-20T09:53:26\", \"deployments\": [{\"name\": \"paasaltestappallproperties69/paasal\", \"dep_id\": \"depundfuet4\"}]}"},"http_version":null},"recorded_at":"Sat, 20 Jun 2015 10:01:27 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties69/deployment/paasal/log/access","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties69/deployment/paasal/log/access"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Sat, 20 Jun 2015 10:01:27 GMT"},[...]
{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties69/deployment/paasal/log/access","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties69/deployment/paasal/log/access"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Sat, 20 Jun 2015 10:01:28 GMT"}],"recorded_with":"VCR 2.9.3"}