{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-10-14T09:44:35.963657\"}"},"http_version":null},"recorded_at":"Wed, 14 Oct 2015 09:29:41 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/nucleustestappallproperties87","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/nucleustestappallproperties87"], "X-varnish-cache":["MISS"]},"body":{"encoding":"CP850","string":"{\"name\": \"nucleustestappallproperties87\", \"buildpack_url\": null, \"repository\": \"ssh://nucleustestappallproperties87@cloudcontrolled.com/repository.git\", \"type\": {\"name\": \"nodejs\"}, \"owner\": {\"username\": \"uniba\", \"first_name\": \"\", \"last_name\": \"\", \"email\": \"__cloudcontrol:user__\", \"is_active\": true, \"billing_without_payment_info\": false}, \"users\": [{\"username\": \"uniba\", \"email\": \"__cloudcontrol:user__\", \"role\": \"\"}], \"invitations\": [], \"date_created\": \"2015-10-14T09:04:53\", \"date_modified\": \"2015-10-14T09:04:53\", \"deployments\": [{\"name\": \"nucleustestappallproperties87/nucleus\", \"dep_id\": \"depzt4qqf3u\"}]}"},"http_version":null},"recorded_at":"Wed, 14 Oct 2015 09:29:42 GMT"},[...]
{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/nucleustestappallproperties87/deployment/nucleus/log/access","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/nucleustestappallproperties87/deployment/nucleus/log/access"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Wed, 14 Oct 2015 09:29:42 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/nucleustestappallproperties87/deployment/nucleus/log/error","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/nucleustestappallproperties87/deployment/nucleus/log/error"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Wed, 14 Oct 2015 09:29:42 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/nucleustestappallproperties87/deployment/nucleus/log/deploy","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/nucleustestappallproperties87/deployment/nucleus/log/deploy"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[{\"message\": \"Initialized deployment depzt4qqf3u\", \"depl_id\": \"depzt4qqf3u\", \"hostname\": \"repo-live-f6nde9\", \"time\": 1444813501.048754, \"level\": \"INFO\"}]"},"http_version":null},"recorded_at":"Wed, 14 Oct 2015 09:29:42 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/nucleustestappallproperties87/deployment/nucleus/log/worker","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/nucleustestappallproperties87/deployment/nucleus/log/worker"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Wed, 14 Oct 2015 09:29:43 GMT"},[...]
{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/nucleustestappallproperties87/deployment/nucleus/log/worker","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/nucleustestappallproperties87/deployment/nucleus/log/worker"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Wed, 14 Oct 2015 09:29:44 GMT"}],"recorded_with":"VCR 2.9.3"}