---
http_interactions:
- request:
    method: post
    uri: https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"allow_tracking":true,"api_key":"__API_KEY__","beta":null,"confirmed":true,"confirmed_at":"2014/11/18
        01:37:21 -0800","created_at":"2014/11/18 01:37:21 -0800","id":"__USER_ID__@users.heroku.com","email":"__heroku:user__","last_login":"2014/11/25
        00:52:59 -0800","name":" ","updated_at":"2015/04/06 13:31:08 -0700","verified":false,"verified_at":null}'
  recorded_at: Mon, 06 Apr 2015 20:36:33 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated/config-vars
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"e7df025591792adcd716cee92607b409"'
      Last-Modified:
      - Mon, 06 Apr 2015 20:36:30 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read-protected write-protected
      RateLimit-Remaining:
      - '2149'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"our_test_var_key":"our_updated_test_var_value","our_test_var_key2":"our_test_var_value2"}'
  recorded_at: Mon, 06 Apr 2015 20:36:33 GMT
recorded_with: VCR 2.9.3
