{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/04/23 23:26:34 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 07:24:31 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/addon-services/mongolab/plans","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["name dedicated-cluster-m1..shared-single-small"], "Content-Type":["application/json"], "ETag":["\"b1c7aef3681db1fb4d1e0641d12c852c\""], "Last-Modified":["Fri, 05 Dec 2014 21:29:58 GMT"], "RateLimit-Remaining":["2324"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"created_at\":\"2014-12-05T19:44:24Z\",\"default\":false,\"description\":\"MongoLab Dedicated Cluster M1\",\"human_name\":\"Dedicated Cluster M1\",\"id\":\"643a604c-868a-4bf1-8119-5dd9a4a92b51\",\"name\":\"mongolab:dedicated-cluster-m1\",\"price\":{\"cents\":24000,\"unit\":\"month\"},\"state\":\"ga\",\"updated_at\":\"2014-12-05T21:29:58Z\"},{\"created_at\":\"2014-12-05T19:48:46Z\",\"default\":false,\"description\":\"MongoLab Dedicated Cluster M2\",\"human_name\":\"Dedicated Cluster M2\",\"id\":\"bad337f7-dfba-43d8-ab65-04ee6cc82a65\",\"name\":\"mongolab:dedicated-cluster-m2\",\"price\":{\"cents\":48000,\"unit\":\"month\"},\"state\":\"ga\",\"updated_at\":\"2014-12-05T21:29:58Z\"},{\"created_at\":\"2014-12-05T19:49:51Z\",\"default\":false,\"description\":\"MongoLab Dedicated Cluster M3\[...]
