{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/05/20 00:02:10 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:10:16 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/addon-services/mongolab/plans/sandbox","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"67aee523fe5ac79b80151d37253b73c8\""], "Last-Modified":["Wed, 18 Jun 2014 17:13:26 GMT"], "RateLimit-Remaining":["2385"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"created_at\":\"2013-08-05T20:50:25Z\",\"default\":true,\"description\":\"MongoLab Sandbox\",\"human_name\":\"Sandbox\",\"id\":\"8e6163ec-a935-4738-a0f4-60867f4f86cb\",\"name\":\"mongolab:sandbox\",\"price\":{\"cents\":0,\"unit\":\"month\"},\"state\":\"ga\",\"updated_at\":\"2014-06-18T17:13:26Z\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:10:16 GMT"},{"request":{"method":"post","uri":"https://api.heroku.com/apps/nucleus-test-app-all-updated/addons","body":{"encoding":"UTF-8","string":"{\"plan\":\"mongolab:sandbox\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Expansion":["addon_service, plan"], "Content-Type":["application/json"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global write write-protected"], "RateLimit-Remaining":["2384"], "Status":["201 Created"]},"body":{"encoding":"UTF-8","string":"{\"config_vars\":[\"MONGOLAB_URI\"],\"created_at\":\"2015-06-27T09:09:36Z\",\"id\":\"89983c37-371f-476f-a187-88538c92ee93\",\"name\":\"waking-nobly-4659\",\"addon_service\":{\"id\":\"3dfb031f-23f4-4123-856f-5cb95ecdadc9\",\"name\":\"mongolab\"},\"plan\":{\"id\":\"8e6163ec-a935-4738-a0f4-60867f4f86cb\",\"name\":\"mongolab:sandbox\"},\"app\":{\"id\":\"eabf58cb-478b-4eda-8349-4f98f56625f0\",\"name\":\"nucleus-test-app-all-updated\"},\"provider_id\":\"heroku_q9j55dj5\",\"updated_at\":\"2015-06-27T09:09:38Z\",\"web_url\":\"https://addons-sso.heroku.com/apps/nucleus-test-app-all-updated/addons/89983c37-371f-476f-a187-88538c92ee93\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:10:19 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/addon-services/3dfb031f-23f4-4123-856f-5cb95ecdadc9","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"285f3e7d1f4a9d2de4a9792a80aee007\""], "Last-Modified":["Sat, 27 Jun 2015 09:09:38 GMT"], "RateLimit-Remaining":["2383"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"cli_plugin_name\":null,\"created_at\":\"2011-04-01T06:41:39Z\",\"human_name\":\"MongoLab\",\"id\":\"3dfb031f-23f4-4123-856f-5cb95ecdadc9\",\"name\":\"mongolab\",\"state\":\"ga\",\"updated_at\":\"2015-06-27T09:09:38Z\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:10:20 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/addon-services/3dfb031f-23f4-4123-856f-5cb95ecdadc9/plans","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["name dedicated-cluster-m1..shared-single-small"], "Content-Type":["application/json"], "ETag":["\"b1c7aef3681db1fb4d1e0641d12c852c\""], "Last-Modified":["Fri, 05 Dec 2014 21:29:58 GMT"], "RateLimit-Remaining":["2382"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"created_at\":\"2014-12-05T19:44:24Z\",\"default\":false,\"description\":\"MongoLab Dedicated Cluster M1\",\"human_name\":\"Dedicated Cluster M1\",\"id\":\"643a604c-868a-4bf1-8119-5dd9a4a92b51\",\"name\":\"mongolab:ded[...]
{"request":{"method":"get","uri":"https://api.heroku.com/apps/eabf58cb-478b-4eda-8349-4f98f56625f0/config-vars","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"899caf119d1d18e37f824d0e8e4c6cbe\""], "Last-Modified":["Sat, 27 Jun 2015 09:09:38 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read-protected write-protected"], "RateLimit-Remaining":["2381"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"our_test_var_key\":\"our_updated_test_var_value\",\"our_test_var_key2\":\"our_test_var_value2\",\"MONGOLAB_URI\":\"mongodb://heroku_q9j55dj5:d8rtltoe2ovd9e5qhothh4ojns@ds031922.mongolab.com:31922/heroku_q9j55dj5\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:10:21 GMT"}],"recorded_with":"VCR 2.9.3"}