{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/04/28 12:22:32 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:34:02 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/addon-services/mongolab/plans/sandbox","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"67aee523fe5ac79b80151d37253b73c8\""], "Last-Modified":["Wed, 18 Jun 2014 17:13:26 GMT"], "RateLimit-Remaining":["2305"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"created_at\":\"2013-08-05T20:50:25Z\",\"default\":true,\"description\":\"MongoLab Sandbox\",\"human_name\":\"Sandbox\",\"id\":\"8e6163ec-a935-4738-a0f4-60867f4f86cb\",\"name\":\"mongolab:sandbox\",\"price\":{\"cents\":0,\"unit\":\"month\"},\"state\":\"ga\",\"updated_at\":\"2014-06-18T17:13:26Z\"}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:34:02 GMT"},{"request":{"method":"post","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated/addons","body":{"encoding":"UTF-8","string":"{\"plan\":\"mongolab:sandbox\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global write write-protected"], "RateLimit-Remaining":["2304"], "Status":["201 Created"]},"body":{"encoding":"UTF-8","string":"{\"config_vars\":[\"MONGOLAB_URI\"],\"created_at\":\"2015-04-28T19:34:03Z\",\"id\":\"ba80111e-2e9d-445e-ae17-ee8537700e97\",\"name\":\"smiling-gently-3961\",\"addon_service\":{\"id\":\"3dfb031f-23f4-4123-856f-5cb95ecdadc9\",\"name\":\"mongolab\"},\"plan\":{\"id\":\"8e6163ec-a935-4738-a0f4-60867f4f86cb\",\"name\":\"mongolab:sandbox\"},\"app\":{\"id\":\"6fdf309b-980d-44fa-a4d0-8661e416ea14\",\"name\":\"paasal-test-app-all-updated\"},\"provider_id\":\"heroku_app36336871\",\"updated_at\":\"2015-04-28T19:34:06Z\",\"web_url\":\"https://addons-sso.heroku.com/apps/paasal-test-app-all-updated/addons/ba80111e-2e9d-445e-ae17-ee8537700e97\"}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:34:06 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/addon-services/3dfb031f-23f4-4123-856f-5cb95ecdadc9","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"22228882a80071d355f3e4cb18d22bd9\""], "Last-Modified":["Tue, 28 Apr 2015 19:34:06 GMT"], "RateLimit-Remaining":["2303"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"created_at\":\"2011-04-01T06:41:39Z\",\"human_name\":\"MongoLab\",\"id\":\"3dfb031f-23f4-4123-856f-5cb95ecdadc9\",\"name\":\"mongolab\",\"state\":\"ga\",\"updated_at\":\"2015-04-28T19:34:06Z\"}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:34:07 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/addon-services/3dfb031f-23f4-4123-856f-5cb95ecdadc9/plans","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["name dedicated-cluster-m1..shared-single-small"], "Content-Type":["application/json"], "ETag":["\"b1c7aef3681db1fb4d1e0641d12c852c\""], "Last-Modified":["Fri, 05 Dec 2014 21:29:58 GMT"], "RateLimit-Remaining":["2302"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"created_at\":\"2014-12-05T19:44:24Z\",\"default\":false,\"description\":\"MongoLab Dedicated Cluster M1\",\"human_name\":\"Dedicated Cluster M1\",\"id\":\"643a604c-868a-4bf1-8119-5dd9a4a92b51\",\"name\":\"mongolab:ded[...]
{"request":{"method":"get","uri":"https://api.heroku.com/apps/6fdf309b-980d-44fa-a4d0-8661e416ea14/config-vars","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"128b79508faf07485da501a0f5d02b37\""], "Last-Modified":["Tue, 28 Apr 2015 19:34:06 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read-protected write-protected"], "RateLimit-Remaining":["2301"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"our_test_var_key\":\"our_updated_test_var_value\",\"our_test_var_key2\":\"our_test_var_value2\",\"MONGOLAB_URI\":\"mongodb://heroku_app36336871:2ao860usl2rml1hh0983hsmcf0@ds031832.mongolab.com:31832/heroku_app36336871\"}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:34:08 GMT"}],"recorded_with":"VCR 2.9.3"}