{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?password=__heroku:password__&username=__heroku:user__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":false,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/10/08 04:22:08 -0700\",\"created_at\":\"2014/10/08 04:22:08 -0700\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/10/23 02:44:13 -0700\",\"name\":\"stfnklb\",\"updated_at\":\"2015/10/23 02:49:43 -0700\",\"verified\":true,\"verified_at\":\"2015/10/23 02:45:30 -0700\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 09:52:06 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/addon-services/mongolab/plans","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["name dedicated-cluster-m1..shared-cluster-8"], "Content-Type":["application/json"], "ETag":["\"dbca2dac76892336956f5f141f3d6b4c\""], "Last-Modified":["Wed, 08 Jul 2015 22:05:28 GMT"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4496"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"[{\"created_at\":\"2014-12-05T19:44:24Z\",\"default\":false,\"description\":\"MongoLab Dedicated Cluster M1\",\"human_name\":\"Dedicated Cluster M1\",\"id\":\"643a604c-868a-4bf1-8119-5dd9a4a92b51\",\"name\":\"mongolab:dedicated-cluster-m1\",\"price\":{\"cents\":24000,\"unit\":\"month\"},\"state\":\"ga\",\"updated_at\":\"2014-12-05T21:29:58Z\"},{\"created_at\":\"2014-12-05T19:48:46Z\",\"default\":false,\"description\":\"MongoLab Dedicated Cluster M2\",\"human_name\":\"Dedicated Cluster M2\",\"id\":\"bad337f7-dfba-43d8-ab65-04ee6cc82a65\",\"name\":\"mongolab:dedicated-cluster-m2\",\"price\":{\"cents\":48000,\"unit\":\"month\"},\"state\":\"ga\",\"updated_at\":\"2014-12-05T21:29:58Z\"},{\"created_at\":\"2014-12-05T19:49:51Z\",\"default\":false,\"description\":\"MongoLab Dedicated Cluster M3\[...]
