---
http_interactions:
- request:
    method: post
    uri: https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"allow_tracking":true,"api_key":"__API_KEY__","beta":null,"confirmed":true,"confirmed_at":"2014/11/18
        01:37:21 -0800","created_at":"2014/11/18 01:37:21 -0800","id":"__USER_ID__@users.heroku.com","email":"__heroku:user__","last_login":"2014/11/25
        00:52:59 -0800","name":" ","updated_at":"2015/03/25 09:58:03 -0700","verified":false,"verified_at":null}'
  recorded_at: Wed, 25 Mar 2015 16:58:11 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - ! '"dcbd2c5e2cba73ac890c640ddcdd9445"'
      Last-Modified:
      - Wed, 25 Mar 2015 16:58:04 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2172'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: ! '{"archived_at":null,"buildpack_provided_description":"Node.js","build_stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"created_at":"2015-03-25T16:49:03Z","id":"0bb04d40-51d7-4907-97ed-0fc2b317371b","git_url":"git@heroku.com:paasal-test-app-all-updated.git","maintenance":false,"name":"paasal-test-app-all-updated","owner":{"email":"__heroku:user__","id":"__heroku:id__"},"region":{"id":"59accabd-516d-4f0e-83e6-6e3757701145","name":"us"},"released_at":"2015-03-25T16:58:03Z","repo_size":2703602,"slug_size":12403812,"stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"updated_at":"2015-03-25T16:58:04Z","web_url":"https://paasal-test-app-all-updated.herokuapp.com/"}'
  recorded_at: Wed, 25 Mar 2015 16:58:12 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/0bb04d40-51d7-4907-97ed-0fc2b317371b/dynos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - ! '"074a9f1106323786e92055baf188385e"'
      Last-Modified:
      - Wed, 25 Mar 2015 16:58:07 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2171'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: ! '[{"attach_url":null,"command":"node server.js","created_at":"2015-03-25T16:58:07Z","id":"7017e1ae-bc81-4529-b405-6d06279ecfa6","name":"web.1","release":{"id":"85308cbd-f46b-44a1-9cdd-b5f41e2acf9c","version":7},"size":"1X","state":"up","type":"web","updated_at":"2015-03-25T16:58:07Z"}]'
  recorded_at: Wed, 25 Mar 2015 16:58:13 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/0bb04d40-51d7-4907-97ed-0fc2b317371b/formation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - ! '"dcbd2c5e2cba73ac890c640ddcdd9445"'
      Last-Modified:
      - Wed, 25 Mar 2015 16:58:04 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2170'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: ! '[{"command":"node server.js","created_at":"2015-03-25T16:52:32Z","id":"41ca9a8d-ba47-41f8-b973-79acc2552b09","type":"web","quantity":1,"size":"1X","updated_at":"2015-03-25T16:53:40Z"}]'
  recorded_at: Wed, 25 Mar 2015 16:58:13 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/0bb04d40-51d7-4907-97ed-0fc2b317371b/buildpack-installations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - ordinal 0..0
      Content-Type:
      - application/json
      ETag:
      - ! '"87d7b85882f94ae872184eafce30ccd8"'
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2169'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: ! '[{"buildpack":{"url":"https://github.com/heroku/heroku-buildpack-nodejs"},"ordinal":0}]'
  recorded_at: Wed, 25 Mar 2015 16:58:14 GMT
- request:
    method: get
    uri: https://paasal-test-app-all-updated.herokuapp.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - ! '"300543841"'
    body:
      encoding: US-ASCII
      string: ! "<!DOCTYPE html>\n<html>\n  <head>\n    <title>Word Finder</title>\n
        \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n
        \   <script src=\"/public/jquery-1.8.0.js\"></script>\n    <script src=\"/socket.io/socket.io.js\"></script>\n
        \   <script src=\"/public/hollywood.js\"></script>\n    <link rel=\"stylesheet\"
        href=\"/public/bootstrap.css\" />\n    <script src=\"/public/bootstrap.js\"></script>\n
        \   <link rel=\"stylesheet\" href=\"/public/app.css\" />\n  </head>\n  <body>\n
        \   <div class=\"navbar navbar-inverse navbar-fixed-top\">\n      <div class=\"container\">\n
        \       <div class=\"navbar-header\">\n          <button type=\"button\" class=\"navbar-toggle\"
        data-toggle=\"collapse\" data-target=\".navbar-collapse\">\n            <span
        class=\"icon-bar\"></span>\n            <span class=\"icon-bar\"></span>\n
        \           <span class=\"icon-bar\"></span>\n          </button>\n          <a
        class=\"navbar-brand\" href=\"/\">Word Finder</a>\n        </div>\n        <div
        class=\"collapse navbar-collapse\">\n          <ul class=\"nav navbar-nav\">\n
        \         </ul>\n        </div><!--/.nav-collapse -->\n      </div>\n    </div>\n\n
        \   <div class=\"container\">\n      <div id=\"dashboard\">\n        <div
        class=\"row\">\n          <h3>Word Finder</h3>\n\n          <p>\n          I
        took every english word (over 200k words) and built a little app that will
        help you find words that contain specific characters.\n          </p>\n          <hr/>\n
        \       </div>\n\n\n        <div class=\"row\">\n            <p>Enter a word,
        use _ and ? as needed (see instructions below)</p>\n          <form method=\"post\"
        action=\"search\">\n            \n              <input type=\"text\"\n                     class=\"col-md-12\"\n
        \                    name=\"pattern\"\n                     placeholder=\"enter
        pattern and press\" />\n           \n          </form>\n        </div>\n        <hr/>\n\n\n\n\n
        \         <div class=\"row\">\n            <h3>The underscore</h3>\n\n            <p>\n
        \           Type a word into the text box with the following pattern:\n            </p>\n\n
        \           <pre>\nhe__o\n            </pre>\n\n            <p>\n            And
        you'll get words such as:\n            </p>\n\n            <pre>\nhello\nhelio\n
        \           </pre>\n          </div>\n\n          <div class=\"row\">\n            <h3>The
        question mark</h3>\n\n            <p>\n            This character is great
        for games like What's the Phrase (a knock off of Wheel of Fortune)\n            </p>\n\n
        \           <p>\n            Type a word into the text box with the following
        pattern:\n            </p>\n\n            <pre>\nst???\n            </pre>\n\n
        \           <p>\n            and you'll get words such as:\n            </p>\n\n
        \           <pre>\nstack\nstade\nstaff\nstage\nstagy\n            </pre>\n\n
        \           <p>\n            but you wont get words like\n            </p>\n\n
        \           <pre>\nstart\n            </pre>\n\n            <p>\n            because
        the `t` would already be visible (in What's the Phrase), and you would have
        typed:\n            </p>\n\n            <pre>\nst??t\n            </pre>\n\n
        \         </div>\n          <div class=\"row\">\n            <h3>I know regex</h3>\n\n
        \           <p>\n                The behaviors above will be overriden if
        you prefix and suffix your phrase with <code>/</code>, example:\n            </p>\n\n
        \           <pre>/boo/</pre>\n\n            <p>\n                Will give
        you all words that contain <code>boo</code>.\n            </p>\n          </div>\n
        \       </div>\n      </div>\n    </body>\n</html>\n\n"
  recorded_at: Wed, 25 Mar 2015 16:58:14 GMT
recorded_with: VCR 2.9.3
