{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["c246a2e5-25fe-4289-61f6-7fb2f3e37005"], "X-Vcap-Request-Id":["1c910aa0-9d35-4aae-46f6-d37b9fb61bdf::e4b5a815-8fd0-4a0e-82a7-4166b3696095"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:42 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["3e29f90d-3679-4a44-75ae-8955791a5cda, 6a71c945-36ae-452f-6657-e6dfdb67183c"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"afe76785-9f6b-459f-adad-b9f40cb8d076\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:43 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Aapp_never_exists_0123456789","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["0e6a589d-6405-4c63-6fa5-b9be46150ccc"], "X-Vcap-Request-Id":["212c0e32-c64b-4522-71d8-49eebf73dc62::c9026e90-5f05-4df4-a631-642dd6fa0206"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 0,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n\n  ]\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:43 GMT"}],"recorded_with":"VCR 2.9.3"}