{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?password=__heroku:password__&username=__heroku:user__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":false,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/10/08 04:22:08 -0700\",\"created_at\":\"2014/10/08 04:22:08 -0700\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/10/14 09:08:29 -0700\",\"name\":\"stfnklb\",\"updated_at\":\"2015/10/14 15:14:37 -0700\",\"verified\":false,\"verified_at\":null}"},"http_version":null},"recorded_at":"Wed, 14 Oct 2015 22:21:45 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"61cf8db6b7789a9da09ef33bb56bf6e4\""], "Last-Modified":["Wed, 14 Oct 2015 22:17:10 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4496"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"{\"archived_at\":null,\"buildpack_provided_description\":\"Node.js\",\"build_stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"created_at\":\"2015-10-14T21:59:09Z\",\"id\":\"1611fc68-7d76-495e-a289-dcfcbb351aa4\",\"git_url\":\"git@heroku.com:paasal-test-app-all-updated.git\",\"maintenance\":false,\"name\":\"paasal-test-app-all-updated\",\"owner\":{\"email\":\"__heroku:user__\",\"id\":\"6118a9d1-36ba-482e-8299-449000a2d46d\"},\"region\":{\"id\":\"59accabd-516d-4f0e-83e6-6e3757701145\",\"name\":\"us\"},\"released_at\":\"2015-10-14T22:13:50Z\",\"repo_size\":2703023,\"slug_size\":14794366,\"stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"updated_at\":\"2015-10-14T22:17:10Z\",\"web_url\":\"https://paasal-test-app-all-updated.herokuapp.com/\",\"process_tier\":\"free\"}"},"http_version":null},"recorded_at":"Wed, 14 Oct 2015 22:21:45 GMT"},[...]
{"request":{"method":"post","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated/log-sessions","body":{"encoding":"UTF-8","string":"{\"source\":\"heroku\",\"dyno\":\"api\",\"tail\":false}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4494"], "Status":["201 Created"]},"body":{"encoding":"CP850","string":"{\"created_at\":\"2015-10-14T22:21:40Z\",\"id\":\"edb1f3cc-e5bd-497d-8670-3ddff3fe365e\",\"logplex_url\":\"https://logs-api.heroku.com/sessions/0f24b7d1-6cd9-4040-bfae-d63868ef5946?srv=1444861300\",\"updated_at\":\"2015-10-14T22:21:40Z\"}"},"http_version":null},"recorded_at":"Wed, 14 Oct 2015 22:21:47 GMT"},{"request":{"method":"get","uri":"https://logs-api.heroku.com/sessions/0f24b7d1-6cd9-4040-bfae-d63868ef5946?srv=1444861300","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["text/html"]},"body":{"encoding":"UTF-8","string":"2015-10-14T22:15:25.000706+00:00 heroku[api]: Set maintenance mode off by __heroku:user__\n2015-10-14T22:15:45.494016+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-10-14T22:16:06.584946+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-10-14T22:16:27.368645+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-10-14T22:16:33.126856+00:00 heroku[api]: Set maintenance mode off by __heroku:user__\n2015-10-14T22:17:04.512794+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-10-14T22:17:10.212640+00:00 heroku[api]: Set maintenance mode off by __heroku:user__\n"},"http_version":null},"recorded_at":"Wed, 14 Oct 2015 22:21:47 GMT"},[...]
{"request":{"method":"get","uri":"https://logs-api.heroku.com/sessions/0f24b7d1-6cd9-4040-bfae-d63868ef5946?srv=1444861300","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["text/html"]},"body":{"encoding":"UTF-8","string":"2015-10-14T22:15:25.000706+00:00 heroku[api]: Set maintenance mode off by __heroku:user__\n2015-10-14T22:15:45.494016+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-10-14T22:16:06.584946+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-10-14T22:16:27.368645+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-10-14T22:16:33.126856+00:00 heroku[api]: Set maintenance mode off by __heroku:user__\n2015-10-14T22:17:04.512794+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-10-14T22:17:10.212640+00:00 heroku[api]: Set maintenance mode off by __heroku:user__\n"},"http_version":null},"recorded_at":"Wed, 14 Oct 2015 22:21:49 GMT"}],"recorded_with":"VCR 2.9.3"}