{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?password=__heroku:password__&username=__heroku:user__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":false,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/10/08 04:22:08 -0700\",\"created_at\":\"2014/10/08 04:22:08 -0700\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/10/23 02:44:13 -0700\",\"name\":\"stfnklb\",\"updated_at\":\"2015/10/23 03:11:14 -0700\",\"verified\":true,\"verified_at\":\"2015/10/23 02:45:30 -0700\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:21:28 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/nucleus-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"1aab278d687946e04d4aeea42e1c2a18\""], "Last-Modified":["Fri, 23 Oct 2015 10:14:33 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4499"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"{\"archived_at\":null,\"buildpack_provided_description\":\"Node.js\",\"build_stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"created_at\":\"2015-10-23T09:52:31Z\",\"id\":\"11e97ded-c274-4bc9-aa9e-e95cf479e46d\",\"git_url\":\"git@heroku.com:nucleus-app-all-updated.git\",\"maintenance\":false,\"name\":\"nucleus-app-all-updated\",\"owner\":{\"email\":\"__heroku:user__\",\"id\":\"6118a9d1-36ba-482e-8299-449000a2d46d\"},\"region\":{\"id\":\"59accabd-516d-4f0e-83e6-6e3757701145\",\"name\":\"us\"},\"released_at\":\"2015-10-23T10:10:16Z\",\"repo_size\":2703137,\"slug_size\":14794221,\"stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"updated_at\":\"2015-10-23T10:14:33Z\",\"web_url\":\"https://nucleus-app-all-updated.herokuapp.com/\",\"process_tier\":\"free\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:21:29 GMT"},[...]
{"request":{"method":"post","uri":"https://api.heroku.com/apps/nucleus-app-all-updated/log-sessions","body":{"encoding":"UTF-8","string":"{\"source\":\"heroku\",\"dyno\":\"api\",\"tail\":false}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4497"], "Status":["201 Created"]},"body":{"encoding":"CP850","string":"{\"created_at\":\"2015-10-23T10:19:46Z\",\"id\":\"3612c7e3-624a-478b-b1e9-fc0939607001\",\"logplex_url\":\"https://logs-api.heroku.com/sessions/4fdd8690-0e88-4a5f-a50f-7174271480c0?srv=1445595586\",\"updated_at\":\"2015-10-23T10:19:46Z\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:21:31 GMT"},{"request":{"method":"get","uri":"https://logs-api.heroku.com/sessions/4fdd8690-0e88-4a5f-a50f-7174271480c0?srv=1445595586","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["text/html"]},"body":{"encoding":"UTF-8","string":"2015-10-23T10:12:21.880437+00:00 heroku[api]: Set maintenance mode off by __heroku:user__\n2015-10-23T10:12:48.258907+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-10-23T10:13:14.380932+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-10-23T10:13:40.468644+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-10-23T10:13:49.944761+00:00 heroku[api]: Set maintenance mode off by __heroku:user__\n2015-10-23T10:14:23.719438+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-10-23T10:14:33.292740+00:00 heroku[api]: Set maintenance mode off by __heroku:user__\n"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:21:32 GMT"},[...]
{"request":{"method":"get","uri":"https://logs-api.heroku.com/sessions/4fdd8690-0e88-4a5f-a50f-7174271480c0?srv=1445595586","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["text/html"]},"body":{"encoding":"UTF-8","string":"2015-10-23T10:12:21.880437+00:00 heroku[api]: Set maintenance mode off by __heroku:user__\n2015-10-23T10:12:48.258907+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-10-23T10:13:14.380932+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-10-23T10:13:40.468644+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-10-23T10:13:49.944761+00:00 heroku[api]: Set maintenance mode off by __heroku:user__\n2015-10-23T10:14:23.719438+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-10-23T10:14:33.292740+00:00 heroku[api]: Set maintenance mode off by __heroku:user__\n"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:21:35 GMT"}],"recorded_with":"VCR 2.9.3"}