---
http_interactions:
- request:
    method: post
    uri: https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"allow_tracking":true,"api_key":"__API_KEY__","beta":null,"confirmed":true,"confirmed_at":"2014/11/18
        01:37:21 -0800","created_at":"2014/11/18 01:37:21 -0800","id":"__USER_ID__@users.heroku.com","email":"__heroku:user__","last_login":"2014/11/25
        00:52:59 -0800","name":" ","updated_at":"2015/02/04 01:53:05 -0800","verified":false,"verified_at":null}'
  recorded_at: Sun, 15 Feb 2015 10:11:53 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - name croeck-cloud9..dummyapplication2
      Content-Type:
      - application/json
      ETag:
      - '"cf46d2a7a09f1824e5871684777cead0"'
      Last-Modified:
      - Wed, 04 Feb 2015 10:13:37 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2398'
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '[{"archived_at":null,"buildpack_provided_description":"Node.js","build_stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"created_at":"2014-11-18T10:32:51Z","id":"341b122d-31e9-4949-900e-f3de57b27d6f","git_url":"git@heroku.com:croeck-cloud9.git","maintenance":false,"name":"croeck-cloud9","owner":{"email":"__heroku:user__","id":"__heroku:id__"},"region":{"id":"59accabd-516d-4f0e-83e6-6e3757701145","name":"us"},"released_at":"2014-11-18T12:08:31Z","repo_size":120172544,"slug_size":21859142,"stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"updated_at":"2014-11-18T12:08:31Z","web_url":"https://croeck-cloud9.herokuapp.com/"},{"archived_at":null,"buildpack_provided_description":"Node.js","build_stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"created_at":"2014-11-18T10:24:18Z","id":"ae39c3fd-40e7-434b-a352-b1a8d40e7ba0","git_url":"git@heroku.com:croeck-nodekick.git","maintenance":false,"name":"croeck-nodekick","owner":{"email":"__heroku:user__","id":"__heroku:id__"},"region":{"id":"59accabd-516d-4f0e-83e6-6e3757701145","name":"us"},"released_at":"2014-11-[...]
