{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-07-28T11:29:52.780627\"}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 11:14:52 GMT"},{"request":{"method":"post","uri":"https://api.cloudcontrol.com/app/nucleustestappallproperties87/deployment/nucleus/addon","body":{"encoding":"UTF-8","string":"{\"addon\":\"mysqls.free\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/nucleustestappallproperties87/deployment/nucleus/addon"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"addon_option\": {\"name\": \"mysqls.free\"}, \"settings\": {\"MYSQLS_PORT\": 3306, \"MYSQLS_USERNAME\": \"dep9498wapb\", \"MYSQLS_HOSTNAME\": \"mysqlsdb.co8hm2var4k9.eu-west-1.rds.amazonaws.com\", \"MYSQLS_DATABASE\": \"dep9498wapb\", \"MYSQLS_PASSWORD\": \"Qkd_EVe5w5AY\"}}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 11:14:53 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/addon/mysqls","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/addon/mysqls"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"name\": \"mysqls\", \"stage\": \"public\", \"options\": [{\"name\": \"mysqls.free\", \"thirty_days_price\": \"0.00\", \"price_is_per_box\": false}, {\"name\": \"mysqls.512mb\", \"thirty_days_price\": \"3.90\", \"price_is_per_box\": false}, {\"name\": \"mysqls.20gb\", \"thirty_days_price\": \"12.90\", \"price_is_per_box\": false}]}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 11:14:54 GMT"}],"recorded_with":"VCR 2.9.3"}