{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["367c9c29-5487-44f8-48ec-68853de570d1"], "X-Vcap-Request-Id":["84facedd-f8dc-4a6b-69ef-fca329b23f78::6ef00090-64fe-4f21-83c6-38fefbde12db"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:20 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["c9c40553-a64a-4cb0-7de5-e12e8b43818e, db6cf242-f772-4347-4aee-fae5ea2e21d5"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"174cf4de-6169-45b2-b2e8-558a2b9d0a18\"}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:20 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["7d4b96a6-5cee-4b3b-72d5-6ea66f0c2de8"], "X-Vcap-Request-Id":["194e5453-6b86-4d27-58b9-e154a76698ad::398bef5b-b668-4373-858e-d9e7abe185ab"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"d62578b0-14cb-41dc-bb83-b42ddee55282\",\n        \"url\": \"/v2/apps/d62578b0-14cb-41dc-bb83-b42ddee55282\",\n        \"created_at\": \"2015-04-29T07:21:06+00:00\",\n        \"updated_at\": \"2015-04-29T07:21:19+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_updated_test_var_value\",\n          \"our_test_var_key2\": \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"e3f643e4-c636-4fb7-b04e-ff26294a41cc\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": null,\n        \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/d62578b0-14cb-41dc-bb83-b42ddee55282/events\",\n        \"service_bindings_url\": \"/v2/apps/d62578b0-14cb-41dc-bb83-b42ddee55282/service_bindings\",\n        \"routes_url\": \"/v2/apps/d62578b0-14cb-41dc-bb83-b42ddee55282/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:21 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/d62578b0-14cb-41dc-bb83-b42ddee55282/env","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["d7578c3a-3303-45bd-6e2e-c66e48b00a8d"], "X-Vcap-Request-Id":["83aa1bd1-0e6a-4c28-6349-6645e1d2d88f::a960484c-da3c-4626-a634-e6eddc27c43a"]},"body":{"encoding":"UTF-8","string":"{\n  \"staging_env_json\": {\n\n  },\n  \"running_env_json\": {\n\n  },\n  \"environment_json\": {\n    \"our_test_var_key\": \"our_updated_test_var_value\",\n    \"our_test_var_key2\": \"our_test_var_value2\"\n  },\n  \"system_env_json\": {\n    \"VCAP_SERVICES\": {\n\n    }\n  },\n  \"application_env_json\": {\n    \"VCAP_APPLICATION\": {\n      \"limits\": {\n        \"mem\": 256,\n        \"disk\": 1024,\n        \"fds\": 16384\n      },\n      \"application_version\": \"e3f643e4-c636-4fb7-b04e-ff26294a41cc\",\n      \"application_name\": \"paasal-test-app-all-updated\",\n      \"application_uris\": [\n        \"d62578b0-14cb-41dc-bb83-b42ddee55282.10.244.0.34.xip.io\"\n      ],\n      \"version\": \"e3f643e4-c636-4fb7-b04e-ff26294a41cc\",\n      \"name\": \"paasal-test-app-all-updated\",\n      \"space_name\": \"development\",\n      \"space_id\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n      \"uris\": [\n        \"d62578b0-14cb-41dc-bb83-b42ddee55282.10.244.0.34.xip.io\"\n      ],\n      \"users\": null\n    }\n  }\n}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:21 GMT"}],"recorded_with":"VCR 2.9.3"}