---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 4aec86dd-364d-45c5-6574-f2db6e395c23
      X-Vcap-Request-Id:
      - f89b5b48-6535-43db-62a9-ee637228f52b::e4d2b648-9a72-4b17-bf70-94b742f09c9c
    body:
      encoding: US-ASCII
      string: ! '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Wed, 25 Mar 2015 16:22:50 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - f23656c0-2c49-4f1d-50f2-75e8764169d3, d1860f3b-7751-46a9-4ae5-e3c390fa4690
    body:
      encoding: US-ASCII
      string: ! '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"ec14f659-c588-45e6-9634-930b3381ceec"}'
  recorded_at: Wed, 25 Mar 2015 16:22:50 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 4c89545f-3874-4f71-5d1a-f6e842d0d417
      X-Vcap-Request-Id:
      - 082379fb-e0d7-402f-7955-56b8e4c6084a::08d46423-9e91-469c-b8ab-ca25e0ce4b0f
    body:
      encoding: US-ASCII
      string: ! "{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\":
        null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\":
        {\n        \"guid\": \"f377c6ab-239f-4290-a478-10e97fc601b7\",\n        \"url\":
        \"/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7\",\n        \"created_at\":
        \"2015-03-25T16:22:36+00:00\",\n        \"updated_at\": \"2015-03-25T16:22:41+00:00\"\n
        \     },\n      \"entity\": {\n        \"name\": \"paasal-test-app-min-updated\",\n
        \       \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n
        \       \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\":
        \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\":
        {\n\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\":
        1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"3bac1ce9-50f1-4706-a220-807a3a8a5251\",\n
        \       \"command\": null,\n        \"console\": false,\n        \"debug\":
        null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n
        \       \"health_check_timeout\": null,\n        \"staging_failed_reason\":
        null,\n        \"docker_image\": null,\n        \"package_updated_at\": null,\n
        \       \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n
        \       \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n
        \       \"events_url\": \"/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7/events\",\n
        \       \"service_bindings_url\": \"/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7/service_bindings\",\n
        \       \"routes_url\": \"/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7/routes\"\n
        \     }\n    }\n  ]\n}"
  recorded_at: Wed, 25 Mar 2015 16:22:50 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7/env
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 363cfff0-6ac5-4013-70cb-103624d5d04d
      X-Vcap-Request-Id:
      - c1f883ba-5e9b-47f4-53c6-a288211c22e8::aac90dfc-bbb7-49ca-b4ff-66cb34454d0d
    body:
      encoding: US-ASCII
      string: ! "{\n  \"staging_env_json\": {\n\n  },\n  \"running_env_json\": {\n\n
        \ },\n  \"environment_json\": {\n\n  },\n  \"system_env_json\": {\n    \"VCAP_SERVICES\":
        {\n\n    }\n  },\n  \"application_env_json\": {\n    \"VCAP_APPLICATION\":
        {\n      \"limits\": {\n        \"mem\": 256,\n        \"disk\": 1024,\n        \"fds\":
        16384\n      },\n      \"application_version\": \"3bac1ce9-50f1-4706-a220-807a3a8a5251\",\n
        \     \"application_name\": \"paasal-test-app-min-updated\",\n      \"application_uris\":
        [\n        \"f377c6ab-239f-4290-a478-10e97fc601b7.10.244.0.34.xip.io\"\n      ],\n
        \     \"version\": \"3bac1ce9-50f1-4706-a220-807a3a8a5251\",\n      \"name\":
        \"paasal-test-app-min-updated\",\n      \"space_name\": \"development\",\n
        \     \"space_id\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n      \"uris\":
        [\n        \"f377c6ab-239f-4290-a478-10e97fc601b7.10.244.0.34.xip.io\"\n      ],\n
        \     \"users\": null\n    }\n  }\n}"
  recorded_at: Wed, 25 Mar 2015 16:22:50 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7/env
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 5defb4d2-ebd0-4e30-519f-b4ef6dc1c4b3
      X-Vcap-Request-Id:
      - c7898aa2-18e4-4aac-4d42-94cc2aaecac9::e43ed705-a232-42f4-870c-edac12413c6c
    body:
      encoding: US-ASCII
      string: ! "{\n  \"staging_env_json\": {\n\n  },\n  \"running_env_json\": {\n\n
        \ },\n  \"environment_json\": {\n\n  },\n  \"system_env_json\": {\n    \"VCAP_SERVICES\":
        {\n\n    }\n  },\n  \"application_env_json\": {\n    \"VCAP_APPLICATION\":
        {\n      \"limits\": {\n        \"mem\": 256,\n        \"disk\": 1024,\n        \"fds\":
        16384\n      },\n      \"application_version\": \"3bac1ce9-50f1-4706-a220-807a3a8a5251\",\n
        \     \"application_name\": \"paasal-test-app-min-updated\",\n      \"application_uris\":
        [\n        \"f377c6ab-239f-4290-a478-10e97fc601b7.10.244.0.34.xip.io\"\n      ],\n
        \     \"version\": \"3bac1ce9-50f1-4706-a220-807a3a8a5251\",\n      \"name\":
        \"paasal-test-app-min-updated\",\n      \"space_name\": \"development\",\n
        \     \"space_id\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n      \"uris\":
        [\n        \"f377c6ab-239f-4290-a478-10e97fc601b7.10.244.0.34.xip.io\"\n      ],\n
        \     \"users\": null\n    }\n  }\n}"
  recorded_at: Wed, 25 Mar 2015 16:22:50 GMT
- request:
    method: put
    uri: https://api.10.244.0.34.xip.io/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7
    body:
      encoding: UTF-8
      string: ! '{"environment_json":{"our_test_var_key":"our_test_var_value"}}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 3593414b-9fe3-4164-7a8c-d9f1a156e80c
      X-Vcap-Request-Id:
      - 01f7c533-26cd-4af1-5cd5-8bf241db5f24::57b87842-0f7c-4a20-ae21-96d08fff7cd1
    body:
      encoding: US-ASCII
      s[...]
