---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - a6d1ed03-34d8-4784-4863-ed6004b83b6d
      X-Vcap-Request-Id:
      - 09d09e74-9987-45de-5b62-1b7dd1c79d58::9e803acb-d185-49c2-afc1-c3bb387521f1
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Thu, 02 Apr 2015 12:43:02 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - 31eeb1a9-89bd-4623-54cd-46be414ff4e0, 74f861b1-0fd5-47fc-5725-6340bf792d67
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"41ceaa86-36ea-4acc-ac03-7d582819206b"}'
  recorded_at: Thu, 02 Apr 2015 12:43:02 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - c71be879-d0e2-42a2-5189-b329e45f4a11
      X-Vcap-Request-Id:
      - 32fd8dd8-65f0-4c72-7ab6-af0b4d25fa9c::06a7fd97-ac6c-4513-97d4-fd9a6e5ac5d4
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "f0295428-234e-4eb6-9d42-a4167c9f990c",
                "url": "/v2/apps/f0295428-234e-4eb6-9d42-a4167c9f990c",
                "created_at": "2015-04-02T12:32:48+00:00",
                "updated_at": "2015-04-02T12:35:08+00:00"
              },
              "entity": {
                "name": "paasal-test-app-all-updated",
                "production": false,
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
                "buildpack": "nodejs_buildpack",
                "detected_buildpack": null,
                "environment_json": {
                  "our_test_var_key": "our_updated_test_var_value",
                  "our_test_var_key2": "our_test_var_value2"
                },
                "memory": 256,
                "instances": 1,
                "disk_quota": 1024,
                "state": "STARTED",
                "version": "b16239e1-12e3-413e-99fa-99defaacf98e",
                "command": null,
                "console": false,
                "debug": null,
                "staging_task_id": "12e80993eba2431891a574f6f66360e5",
                "package_state": "PENDING",
                "health_check_timeout": null,
                "staging_failed_reason": null,
                "docker_image": null,
                "package_updated_at": "2015-04-02T12:33:15+00:00",
                "detected_start_command": "node server.js",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
                "events_url": "/v2/apps/f0295428-234e-4eb6-9d42-a4167c9f990c/events",
                "service_bindings_url": "/v2/apps/f0295428-234e-4eb6-9d42-a4167c9f990c/service_bindings",
                "routes_url": "/v2/apps/f0295428-234e-4eb6-9d42-a4167c9f990c/routes"
              }
            }
          ]
        }
  recorded_at: Thu, 02 Apr 2015 12:43:02 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/f0295428-234e-4eb6-9d42-a4167c9f990c/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - d418666d-5476-4768-59eb-b1c32fd14648
      X-Vcap-Request-Id:
      - e9830c82-2f24-4fa4-7015-721af3e1286d::d4eb81da-76f9-4189-89bc-e638d9eafeb1
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 3,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "579461f3-b818-412c-9bab-03793203f64f",
                "url": "/v2/routes/579461f3-b818-412c-9bab-03793203f64f",
                "created_at": "2015-04-02T12:32:49+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "f0295428-234e-4eb6-9d42-a4167c9f990c",
                "domain_guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "domain_url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "apps_url": "/v2/routes/579461f3-b818-412c-9bab-03793203f64f/apps"
              }
            },
            {
              "metadata": {
                "guid": "1514ad6f-a35c-4fd9-8c9b-b7eb0e8ce3a1",
                "url": "/v2/routes/1514ad6f-a35c-4fd9-8c9b-b7eb0e8ce3a1",
                "created_at": "2015-04-02T12:33:06+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "cf-bosh-local",
                "domain_guid": "a055ee95-7d64-4352-9e5e[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 392816dd-25bc-4b26-6a2d-40b523fa7734
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - 8c565029-ad31-4dcb-773f-a394cef8db05::9ddc0037-e748-426c-aae1-d2ab57bc3200
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Thu, 02 Apr 2015 12:43:02 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/a055ee95-7d64-4352-9e5e-7eea55ecf706
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 5a3f910c-d62f-4b94-5180-493d72532b05
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - 59129e12-3362-4486-73f0-b828d795f9c5::f5176063-7017-404b-87b2-0cf20a848858
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "a055ee95-7d64-4352-9e5e-7eea55ecf706",
            "url": "/v2/domains/a055ee95-7d64-4352-9e5e-7eea55ecf706",
            "created_at": "2015-03-25T16:22:57+00:00",
            "updated_at": null
          },
          "entity": {
            "name": "adomainthatishopefullynotusedontheplatform.de",
            "owning_organization_guid": "d94caddf-45be-4c92-bb2d-62d3a65cbec0",
            "owning_organization_url": "/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0",
            "spaces_url": "/v2/domains/a055ee95-7d64-4352-9e5e-7eea55ecf706/spaces"
          }
        }
  recorded_at: Thu, 02 Apr 2015 12:43:02 GMT
[...]
- request:
    method: delete
    uri: https://api.10.244.0.34.xip.io/v2/apps/f0295428-234e-4eb6-9d42-a4167c9f990c/routes/1514ad6f-a35c-4fd9-8c9b-b7eb0e8ce3a1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - ab71048b-0d45-4bba-545b-21d774df5832
      X-Vcap-Request-Id:
      - a3ce2155-98c9-45e8-7ae5-470c139078bc::21281678-0a70-4433-9476-2b79dc6d5616
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "f0295428-234e-4eb6-9d42-a4167c9f990c",
            "url": "/v2/apps/f0295428-234e-4eb6-9d42-a4167c9f990c",
            "created_at": "2015-04-02T12:32:48+00:00",
            "updated_at": "2015-04-02T12:35:10+00:00"
          },
          "entity": {
            "name": "paasal-test-app-all-updated",
            "production": false,
            "space_guid[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/routes/1514ad6f-a35c-4fd9-8c9b-b7eb0e8ce3a1/apps
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - f204f80c-5b83-4c91-602a-09bea4311b19
      X-Vcap-Request-Id:
      - 5dd33867-6baa-4b93-594e-40c0e9224b1f::4142be35-8e10-40b3-a01e-1474467ab16f
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 0,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [

          ]
        }
  recorded_at: Thu, 02 Apr 2015 12:43:02 GMT
- request:
    method: delete
    uri: https://api.10.244.0.34.xip.io/v2/routes/1514ad6f-a35c-4fd9-8c9b-b7eb0e8ce3a1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: 
    headers:
      X-Cf-Requestid:
      - adb3cca5-fcf9-4fc7-640f-cfad6e1ec529
      X-Vcap-Request-Id:
      - 6c48d2f4-8a5f-42d1-69d9-becf1bb2514a::ff2ae3b8-9063-4edd-8785-58ed1e1e48dd
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 02 Apr 2015 12:43:02 GMT
recorded_with: VCR 2.9.3
