---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - d2b83a5c-3c96-4033-6a91-9ab2f08e376c
      X-Vcap-Request-Id:
      - 5f22f35d-12b2-4adf-5465-efae0cada2a2::ab4cc706-f2a3-4165-83aa-aa5ce5f39ddc
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Thu, 02 Apr 2015 12:42:52 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - 46c52abd-2ee5-41d1-4539-b6041ebf57bc, 019f40c5-faa8-4fab-576d-09e2b7cbba53
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"32599043-365f-432a-91a1-962e0a0ea538"}'
  recorded_at: Thu, 02 Apr 2015 12:42:52 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 1a35f0b1-6675-4444-7ffa-d98e896ac2f0
      X-Vcap-Request-Id:
      - 9f8d1af3-eb54-40d4-4bb0-47817dc07e15::c71d8557-70de-487d-8c6a-a28a59c8189e
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "f0295428-234e-4eb6-9d42-a4167c9f990c",
                "url": "/v2/apps/f0295428-234e-4eb6-9d42-a4167c9f990c",
                "created_at": "2015-04-02T12:32:48+00:00",
                "updated_at": "2015-04-02T12:35:00+00:00"
              },
              "entity": {
                "name": "paasal-test-app-all-updated",
                "production": false,
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
                "buildpack": "nodejs_buildpack",
                "detected_buildpack": null,
                "environment_json": {
                  "our_test_var_key": "our_updated_test_var_value",
                  "our_test_var_key2": "our_test_var_value2"
                },
                "memory": 256,
                "instances": 2,
                "disk_quota": 1024,
                "state": "STARTED",
                "version": "d8e6dc87-126b-42f5-a741-9bd1943838f4",
                "command": null,
                "console": false,
                "debug": null,
                "staging_task_id": "e143565f94694f03a29bfe2d052ce0c8",
                "package_state": "STAGED",
                "health_check_timeout": null,
                "staging_failed_reason": null,
                "docker_image": null,
                "package_updated_at": "2015-04-02T12:33:15+00:00",
                "detected_start_command": "node server.js",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
                "events_url": "/v2/apps/f0295428-234e-4eb6-9d42-a4167c9f990c/events",
                "service_bindings_url": "/v2/apps/f0295428-234e-4eb6-9d42-a4167c9f990c/service_bindings",
                "routes_url": "/v2/apps/f0295428-234e-4eb6-9d42-a4167c9f990c/routes"
              }
            }
          ]
        }
  recorded_at: Thu, 02 Apr 2015 12:42:52 GMT
- request:
    method: put
    uri: https://api.10.244.0.34.xip.io/v2/apps/f0295428-234e-4eb6-9d42-a4167c9f990c
    body:
      encoding: UTF-8
      string: '{"instances":1}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - fecae034-89ee-4b6d-7da4-4b8e4ffabfb[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/f0295428-234e-4eb6-9d42-a4167c9f990c/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - f2046d41-0a16-4549-750f-281205e8c183
      X-Vcap-Request-Id:
      - 3709b344-3bb9-4ce7-73c3-6546ba05bc36::71ce9a73-50f3-4643-adf3-550272368b9c
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 3,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "579461f3-b818-412c-9bab-03793203f64f",
                "url": "/v2/routes/579461f3-b818-412c-9bab-03793203f64f",
                "created_at": "2015-04-02T12:32:49+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "f0295428-234e-4eb6-9d42-a4167c9f990c",
                "domain_guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "domain_url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "apps_url": "/v2/routes/579461f3-b818-412c-9bab-03793203f64f/apps"
              }
            },
            {
              "metadata": {
                "guid": "1514ad6f-a35c-4fd9-8c9b-b7eb0e8ce3a1",
                "url": "/v2/routes/1514ad6f-a35c-4fd9-8c9b-b7eb0e8ce3a1",
                "created_at": "2015-04-02T12:33:06+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "cf-bosh-local",
                "domain_guid": "a055ee95-7d64-4352-9e5e[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - afc38163-608c-45fa-5cd4-2773915a8298
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - 8e0f9634-1efd-4d2a-7d49-1bc1b97e5d92::bf0f6284-d0ca-4c6a-9d41-be12a28ac4de
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Thu, 02 Apr 2015 12:42:52 GMT
recorded_with: VCR 2.9.3
