{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["0f6c7839-cfa4-480d-5b9c-b5417d4677fe"], "X-Vcap-Request-Id":["69d5abd9-c202-4aff-6d66-e695f46d01c5::0984529d-cd36-4be6-ad0f-d5175f140250"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:43:53 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["1d529874-65b7-45d3-6842-bc05c1bd09f8, 4411ccb6-e9bf-4c44-6c59-0b36499ed1c0"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"c610ba4f-401f-4da5-948f-aebf29e3140e\"}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:43:53 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/spaces","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["852cec1c-99a9-4ec3-6e9c-2484238977f0"], "X-Vcap-Request-Id":["5507276a-026c-49d3-6945-49dd859c4c0f::baa6b958-021e-46d4-a8dd-a50d9dbec7c7"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"created_at\": \"2015-03-19T07:21:47+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"name\": \"development\",\n        \"organization_guid\": \"d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n        \"space_quota_definition_guid\": null,\n        \"organization_url\": \"/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n        \"developers_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/developers\",\n        \"managers_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/managers\",\n        \"auditors_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/auditors\",\n        \"apps_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/apps\",\n        \"routes_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/routes\",\n        \"domains_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/domains\",\n        \"service_instances_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/service_instances\",\n        \"app_events_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/app_events\",\n        \"events_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/events\",\n        \"security_groups_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/security_groups\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:43:53 GMT"},{"request":{"method":"post","uri":"https://api.10.244.0.34.xip.io/v2/apps","body":{"encoding":"UTF-8","string":"{\"space_guid\":\"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\"name\":\"nucleus-test-app-all-properties\",\"autoscaled\":false,\"memory\":256,\"buildpack\":\"nodejs_buildpack\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Location":["/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab"], "X-Cf-Requestid":["f4add232-c84d-4aa7-6d4c-00c5056e3857"], "X-Vcap-Request-Id":["fe9e3a27-c228-402d-7926-89fb7ed60876::a7589b5b-f77e-4650-bcaa-19a705550a58"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"9522777b-2037-49ff-841e-63f0f187c6ab\",\n    \"url\": \"/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab\",\n    \"created_at\": \"2015-07-28T12:43:53+00:00\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"name\": \"nucleus-test-app-all-properties\",\n    \"production\": false,\n    \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n    \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n    \"buildpack\": \"nodejs_buildpack\",\n    \"detected_buildpack\": null,\n    \"environment_json\": {\n\n    },\n    \"memory\": 256,\n    \"instances\": 1,\n    \"disk_quota\": 1024,\n    \"state\": \"STOPPED\",\n    \"version\": \"9ee25c70-f156-4878-95df-e608b4b94bfc\",\n    \"command\": null,\n    \"console\": false,\n    \"debug\": null,\n    \"staging_task_id\": null,\n    \"package_state\": \"PENDING\",\n    \"health_check_timeout\": null,\n    \"staging_failed_reason\": null,\n    \"docker_image\": null,\n    \"package_updated_at\": null,\n    \"detected_start_command\": \"\",\n    \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n    \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n    \"events_url\": \"/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab/events\",\n    \"service_bindings_url\": \"/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab/service_bindings\",\n    \"routes_url\": \"/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab/routes\"\n  }\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:43:53 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/private_domains","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["51f2449b-5dc0-4f62-762b-e4adc579c581"], "X-Vcap-Request-Id":["7c71f015-885e-4a4b-4ec8-8479e95c1764::090484ee-731f-4759-a981-5fd5c0afe0d2"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 2,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"37076f61-480e-4dc3-b301-5b8c8934ce4d\",\n        \"url\": \"/v2/private_domains/37076f61-480e-4dc3-b301-5b8c8934ce4d\",\n        \"created_at\": \"2015-04-20T09:21:15+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"name\": \"adomainthatishopefullynotusedontheplatform.de\",\n        \"owning_organization_guid\": \"d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n        \"owning_organization_url\": \"/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0\"\n      }\n    },\n    {\n      \"metadata\": {\n        \"guid\": \"c317851b-c5dc-4a2b-ba3f-24cd80ac5382\",\n        \"url\": \"/v2/private_domains/c317851b-c5dc-4a2b-ba3f-24cd80ac5382\",\n        \"created_at\": \"2015-05-31T07:49:34+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"name\": \"aadomainthatishopefullynotusedontheplatform.de\",\n        \"owning_organization_guid\": \"d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n        \"owning_organization_url\": \"/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:43:53 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/shared_domains","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["538c148e-ecca-4535-5f75-082ed140f3ad"], "X-Vcap-Request-Id":["3940f908-da25-4b1e-4bfc-2f338c4f4c1c::a6d8529d-7608-4efe-8481-16bf17d47803"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"url\": \"/v2/shared_domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"created_at\": \"2014-12-05T16:23:46+00:00\",\n        \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"10.244.0.34.xip.io\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:43:53 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["f1a7bde5-e48f-4659-58a7-319dc10402dc"], "X-Vcap-Request-Id":["9a95ab23-f936-486a-5aa3-012ee4c1e313::2debe8de-18c6-4432-b4ed-46d532a0730b"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"e4e85bf9-bd4e-4af9-9a13-d7b395d9d566\",\n        \"url\": \"/v2/routes/e4e85bf9-bd4e-4af9-9a13-d7b395d9d566\",\n        \"created_at\": \"2015-07-28T12:39:19+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"59cc1d25-7dfa-4644-bc66-3fa03c73d492\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/e4e85bf9-bd4e-4af9-9a13-d7b395d9d566/apps\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:43:53 GMT"},[...]
{"request":{"method":"put","uri":"https://api.10.244.0.34.xip.io/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab/routes/f0b2b33a-7206-48fb-9c9e-01a9bb261c85","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["9acfb8cd-18f6-43ba-6928-73d73078fda4"], "X-Vcap-Request-Id":["ca7c[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["4bf60f1e-b8ec-4ab8-52a4-0935ee681210"], "X-Vcap-Request-Id":["b8e62cc2-168b-417e-477a-76fb59e1ebf0::f810c570-7[...]
{"request":{"method":"head","uri":"https://api.10.244.0.34.xip.io/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab/download","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["8bd4e9b1-dc96-4992-7075-5db2540b1854"], "X-Vcap-Request-Id":["4ac68f2d-a194-451d-7384-3370faff2b4e::2d66347e-091b-4faf-984d-bdb71647ad19"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:43:53 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["444438d2-30bf-486e-7eef-e210591c4303"], "X-Vcap-Request-Id":["62da9b07-a23a-4d1b-674d-8a8bbdefbed9::2867f7d9-a028-4538-bdd2-4c429969f653"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"f0b2b33a-7206-48fb-9c9e-01a9bb261c85\",\n        \"url\": \"/v2/routes/f0b2b33a-7206-48fb-9c9e-01a9bb261c85\",\n        \"created_at\": \"2015-07-28T12:43:53+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"9522777b-2037-49ff-841e-63f0f187c6ab\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/f0b2b33a-7206-48fb-9c9e-01a9bb261c85/apps\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:43:53 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["3329b7ea-101c-4c01-52c0-bb12b79f1ce5"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["ac34ff96-f3d6-4f94-4540-80bb164a093b::2fe896b3-6c56-43de-a590-e75378ed2a06"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:43:53 GMT"}],"recorded_with":"VCR 2.9.3"}