{"http_interactions":[{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["3b3b17c3-dd15-4b77-6bca-864cff32544a"], "X-Vcap-Request-Id":["13b41b41-13f6-4264-6a29-42611b1022c2::e87798ac-0620-478c-bef8-1b11b6847c26"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"https://login.run.pivotal.io\",\"token_endpoint\":\"https://uaa.run.pivotal.io\",\"min_cli_version\":null,\"min_recommended_cli_version\":null,\"api_version\":\"2.41.0\",\"app_ssh_endpoint\":\"ssh.run.pivotal.io:2222\",\"app_ssh_host_key_fingerprint\":\"e7:13:4e:32:ee:39:62:df:54:41:d7:f7:8b:b2:a7:6b\",\"app_ssh_oauth_client\":\"ssh-proxy\",\"routing_endpoint\":\"https://api.run.pivotal.io/routing\",\"logging_endpoint\":\"wss://loggregator.run.pivotal.io:443\",\"doppler_logging_endpoint\":\"wss://doppler.run.pivotal.io:443\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:00:54 GMT"},{"request":{"method":"post","uri":"https://login.run.pivotal.io/oauth/token?grant_type=password&password=__pivotal:password__&username=__pivotal:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["d2d40b09-1ed9-43ca-6849-fa942f274b40"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"cloud_controller.read password.write cloud_controller.write openid uaa.user\",\"jti\":\"9b03b2e3-bdd8-4caf-93f2-dec5f0bff683\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:00:55 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/spaces","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["a60e552a-620c-4675-4d7c-19f079675a65"], "X-Vcap-Request-Id":["e2c1394f-afee-46bc-6277-cea3819433f3::b62aec52-5e2d-46e4-be76-f18c88c9bcaa"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 2,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"created_at\": \"2015-10-22T22:41:00Z\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"name\": \"nucleus\",\n        \"organization_guid\": \"9928cdf8-bf76-4b42-bda4-6b6787883b2e\",\n        \"space_quota_definition_guid\": null,\n        \"allow_ssh\": true,\n        \"organization_url\": \"/v2/organizations/9928cdf8-bf76-4b42-bda4-6b6787883b2e\",\n        \"developers_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/developers\",\n        \"managers_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/managers\",\n        \"auditors_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/auditors\",\n        \"apps_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/apps\",\n        \"routes_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/routes\",\n        \"domains_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/domains\",\n        \"service_instances_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/service_instances\",\n        \"app_events_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/app_events\",\n        \"events_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/events\",\n        \"security_groups_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/security_groups\"\n      }\n    },\n    {\n      \"metadata\": {\n        \"guid\": \"d3c655ac-6913-4079-b885-ef9940e0e1f8\",\n        \"url\": \"/v2/spaces/d3c655ac-6913-4079-b885-ef9940e0e1f8\",\n        \"created_at\": \"2015-10-22T22:42:27Z\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"name\": \"paasal\",\n        \"organization_guid\": \"9928cdf8-bf76-4b42-bda4-6b6787883b2e\",\n        \"space_quota_definition_g[...]
[...]
{"request":{"method":"get","uri":"https://login.run.pivotal.io/userinfo","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["de195672-7269-4e30-65b4-441e51be5acc"]},"body":{"encoding":"UTF-8","string":"{\"user_id\":\"acab1c89-6ec7-47eb-a17c-08cf95049414\",\"user_name\":\"__pivotal:user__\",\"email\":\"__pivotal:user__\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:00:58 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/users/acab1c89-6ec7-47eb-a17c-08cf95049414","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["4fa9e9e9-108d-4b70-6aa1-8b12d5f689e1"], "X-Vcap-Request-Id":["b5a3b95b-63fc-4f4e-75c8-44cdf059fce2::d4741309-e81b-4a34-9d40-49d39878ea61"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"acab1c89-6ec7-47eb-a17c-08cf95049414\",\n    \"url\": \"/v2/users/acab1c89-6ec7-47eb-a17c-08cf95049414\",\n    \"created_at\": \"2015-10-13T16:35:29Z\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"admin\": false,\n    \"active\": false,\n    \"default_space_guid\": null,\n    \"spaces_url\": \"/v2/users/acab1c89-6ec7-47eb-a17c-08cf95049414/spaces\",\n    \"organizations_url\": \"/v2/users/acab1c89-6ec7-47eb-a17c-08cf95049414/organizations\",\n    \"managed_organizations_url\": \"/v2/users/acab1c89-6ec7-47eb-a17c-08cf95049414/managed_organizations\",\n    \"billing_managed_organizations_url\": \"/v2/users/acab1c89-6ec7-47eb-a17c-08cf95049414/billing_managed_organizations\",\n    \"audited_organizations_url\": \"/v2/users/acab1c89-6ec7-47eb-a17c-08cf95049414/audited_organizations\",\n    \"managed_spaces_url\": \"/v2/users/acab1c89-6ec7-47eb-a17c-08cf95049414/managed_spaces\",\n    \"audited_spaces_url\": \"/v2/users/acab1c89-6ec7-47eb-a17c-08cf95049414/audited_spaces\"\n  }\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:00:59 GMT"},{"request":{"method":"post","uri":"https://api.run.pivotal.io/v2/apps","body":{"encoding":"UTF-8","string":"{\"space_guid\":\"1a13ea3e-d947-4887-8481-e8174f0ed011\",\"name\":\"nucleus-test-app-min-properties\",\"memory\":256,\"buildpack\":\"nodejs_buildpack\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Location":["/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3"], "X-Cf-Requestid":["ac1564a0-7700-4c52-4d61-999ec8316de3"], "X-Vcap-Request-Id":["0a6aedd7-d7be-4ded-6617-55fb91629d34::12a56067-faf2-4d19-a710-aacd0eaedb15"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"1291fd16-6280-4eb3-8e14-9e61fe71bec3\",\n    \"url\": \"/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3\",\n    \"created_at\": \"2015-10-23T00:00:45Z\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"name\": \"nucleus-test-app-min-properties\",\n    \"production\": false,\n    \"space_guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n    \"stack_guid\": \"86205f38-84fc-4bc2-b2b8-af7f55669f04\",\n    \"buildpack\": \"nodejs_buildpack\",\n    \"detected_buildpack\": null,\n    \"environment_json\": {\n\n    },\n    \"memory\": 256,\n    \"instances\": 1,\n    \"disk_quota\": 1024,\n    \"state\": \"STOPPED\",\n    \"version\": \"d97952cb-2510-4775-9d29-b4591d08247f\",\n    \"command\": null,\n    \"console\": false,\n    \"debug\": null,\n    \"staging_task_id\": null,\n    \"package_state\": \"PENDING\",\n    \"health_check_type\": \"port\",\n    \"health_check_timeout\": null,\n    \"staging_failed_reason\": null,\n    \"staging_failed_description\": null,\n    \"diego\": true,\n    \"docker_image\": null,\n    \"package_updated_at\": null,\n    \"detected_start_command\": \"\",\n    \"enable_ssh\": true,\n    \"docker_credentials_json\": {\n      \"redacted_message\": \"[PRIVATE DATA HIDDEN]\"\n    },\n    \"space_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011\",\n    \"stack_url\": \"/v2/stacks/86205f38-84fc-4bc2-b2b8-af7f55669f04\",\n    \"events_url\": \"/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3/events\",\n    \"service_bindings_url\": \"/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3/service_bindings\",\n    \"routes_url\": \"/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3/routes\"\n  }\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:01:01 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/private_domains","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["07af472f-7e67-4652-47f8-bf18606ff0c1"], "X-Vcap-Request-Id":["0212830e-eadf-408e-4b28-1f35c3ba2982::7e9483fd-73e4-4462-b865-c4077c084bd9"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 0,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:01:02 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/shared_domains","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["cb63f668-413d-47e3-5068-2a66ff0c839b"], "X-Vcap-Request-Id":["309531f6-c21d-4ef0-622e-2e8115af0f7b::809d52cb-2212-4b9c-8d1d-a40b2f7fd2ea"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n        \"url\": \"/v2/shared_domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n        \"created_at\": \"2013-05-04T00:29:46Z\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"name\": \"cfapps.io\",\n        \"router_group_guid\": null\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:01:02 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["fb0d7303-36bb-42ce-45c1-a3a5b46ec833"], "X-Vcap-Request-Id":["f337b0ac-cb65-49ef-5a61-9c62bb4732ed::193a06ac-94c9-412e-aa52-c2e2d7ab10d4"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"d683a967-34fa-4691-843e-d6cb5c7e76e3\",\n        \"url\": \"/v2/routes/d683a967-34fa-4691-843e-d6cb5c7e76e3\",\n        \"created_at\": \"2015-10-23T00:00:31Z\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"ab451001-c9b9-466f-bdb3-5d548aa168a5\",\n        \"path\": \"\",\n        \"domain_guid\": \"fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n        \"space_guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"service_instance_guid\": null,\n        \"port\": 0,\n        \"domain_url\": \"/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n        \"space_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"apps_url\": \"/v2/routes/d683a967-34fa-4691-843e-d6cb5c7e76e3/apps\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:01:04 GMT"},[...]
{"request":{"method":"put","uri":"https://api.run.pivotal.io/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3/routes/e962b67c-23ef-46a2-8dde-f6e25598c359","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["2b756bfd-530d-4f2d-75ed-4db97ef9fe9f"], "X-Vcap-Request-Id":["c05ef2ff[...]
{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["e1c2006a-c095-4b28-6202-a5c01b291c8b"], "X-Vcap-Request-Id":["bc29b03f-cd23-403e-5c09-c484db24f631::623638c5-010c-[...]
{"request":{"method":"head","uri":"https://api.run.pivotal.io/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3/download","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["275868e0-ca41-4d08-798e-66217d7a2be4"], "X-Vcap-Request-Id":["a05f381c-3cdf-4ec0-58dc-ab7430411be4::3554446e-317f-4a69-8d92-d161a0f7fdd2"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:01:12 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["03cc5233-1245-49e2-6695-b69643609432"], "X-Vcap-Request-Id":["a2e668c6-de9c-4e3c-5c39-96aee15dc2cd::539727c[...]
{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["26e9017c-76c7-4552-440b-7d4ae98e219a"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["82b0554a-aea6-4989-60cf-e20864b46160::ef9c9ab4-34d2-4858-86b0-7f9d0fd7d970"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n    \"url\": \"/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n    \"created_at\": \"2013-05-04T00:29:46Z\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"name\": \"cfapps.io\",\n    \"router_group_guid\": null\n  }\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:01:14 GMT"}],"recorded_with":"VCR 2.9.3"}