{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["528b007c-ccae-411a-6e7b-ef328056a7a7"], "X-Vcap-Request-Id":["c9c563b7-8dea-416d-5e80-49286a6a9611::831c5f42-f6b8-41a0-8115-e90d5f977f93"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:07 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["bc025b82-e3fd-4d2e-7834-9984b58d2e36, 18baea32-876a-4b7d-4e83-bea6ff35094e"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"15b8ac89-8973-40ac-966f-a19bc496a0c1\"}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:07 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/spaces","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["263b600c-1fd8-4889-4bfb-af55b49d2fc4"], "X-Vcap-Request-Id":["b8b383f0-4c3f-47ab-6bd1-f1cadc9fde31::4f62c460-cc77-4f2c-80f9-387f2ebf1d5b"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"created_at\": \"2015-03-19T07:21:47+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"name\": \"development\",\n        \"organization_guid\": \"d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n        \"space_quota_definition_guid\": null,\n        \"organization_url\": \"/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n        \"developers_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/developers\",\n        \"managers_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/managers\",\n        \"auditors_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/auditors\",\n        \"apps_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/apps\",\n        \"routes_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/routes\",\n        \"domains_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/domains\",\n        \"service_instances_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/service_instances\",\n        \"app_events_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/app_events\",\n        \"events_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/events\",\n        \"security_groups_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/security_groups\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:07 GMT"},{"request":{"method":"post","uri":"https://api.10.244.0.34.xip.io/v2/apps","body":{"encoding":"UTF-8","string":"{\"space_guid\":\"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\"name\":\"paasal-test-app-min-properties\",\"memory\":256,\"buildpack\":\"nodejs_buildpack\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Location":["/v2/apps/a90a8849-f060-4927-8ddf-7596489393bb"], "X-Cf-Requestid":["a3603d1c-5c1d-4de5-47c8-c1a74f3861b4"], "X-Vcap-Request-Id":["a213a3c6-deef-4c15-79bc-95705d638597::08ec9603-de9f-45d0-952a-e89193b014f1"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"a90a8849-f060-4927-8ddf-7596489393bb\",\n    \"url\": \"/v2/apps/a90a8849-f060-4927-8ddf-7596489393bb\",\n    \"created_at\": \"2015-04-29T07:21:07+00:00\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"name\": \"paasal-test-app-min-properties\",\n    \"production\": false,\n    \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n    \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n    \"buildpack\": \"nodejs_buildpack\",\n    \"detected_buildpack\": null,\n    \"environment_json\": {\n\n    },\n    \"memory\": 256,\n    \"instances\": 1,\n    \"disk_quota\": 1024,\n    \"state\": \"STOPPED\",\n    \"version\": \"66bd94f5-14aa-4b6b-a8f1-6f38a10d45cc\",\n    \"command\": null,\n    \"console\": false,\n    \"debug\": null,\n    \"staging_task_id\": null,\n    \"package_state\": \"PENDING\",\n    \"health_check_timeout\": null,\n    \"staging_failed_reason\": null,\n    \"docker_image\": null,\n    \"package_updated_at\": null,\n    \"detected_start_command\": \"\",\n    \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n    \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n    \"events_url\": \"/v2/apps/a90a8849-f060-4927-8ddf-7596489393bb/events\",\n    \"service_bindings_url\": \"/v2/apps/a90a8849-f060-4927-8ddf-7596489393bb/service_bindings\",\n    \"routes_url\": \"/v2/apps/a90a8849-f060-4927-8ddf-7596489393bb/routes\"\n  }\n}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:07 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/private_domains","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["f91b9b03-d19d-4d68-44f2-54dfc8d63ab3"], "X-Vcap-Request-Id":["25339ba3-02f8-437f-6461-d4eaede2802f::78df460a-0015-42d7-9cd3-b51399d96d33"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"37076f61-480e-4dc3-b301-5b8c8934ce4d\",\n        \"url\": \"/v2/private_domains/37076f61-480e-4dc3-b301-5b8c8934ce4d\",\n        \"created_at\": \"2015-04-20T09:21:15+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"name\": \"adomainthatishopefullynotusedontheplatform.de\",\n        \"owning_organization_guid\": \"d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n        \"owning_organization_url\": \"/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:07 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/shared_domains","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["685e25da-dc56-4ea1-79f3-248518c2b381"], "X-Vcap-Request-Id":["36682e23-2faa-40af-6e0b-b20d28d2901f::98c51bd4-7eba-4c17-937e-0e7744878400"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"url\": \"/v2/shared_domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"created_at\": \"2014-12-05T16:23:46+00:00\",\n        \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"10.244.0.34.xip.io\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:07 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["c01b6c73-fe01-4774-4f55-f7c8cc68c9f6"], "X-Vcap-Request-Id":["1e87bddb-f430-43a9-6d9f-54b2a25cf425::fd08dad1-aa07-43f3-82d0-34ea57214d38"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"db02488f-9b09-443a-a3e7-4d0ae17521a7\",\n        \"url\": \"/v2/routes/db02488f-9b09-443a-a3e7-4d0ae17521a7\",\n        \"created_at\": \"2015-04-29T07:21:06+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"d62578b0-14cb-41dc-bb83-b42ddee55282\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/db02488f-9b09-443a-a3e7-4d0ae17521a7/apps\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:07 GMT"},[...]
{"request":{"method":"put","uri":"https://api.10.244.0.34.xip.io/v2/apps/a90a8849-f060-4927-8ddf-7596489393bb/routes/23a9c5b5-4b9d-4581-87e8-3e9e4fcf30d8","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["94a607dc-abbb-4ce4-5510-1ca3d54f55df"], "X-Vcap-Request-Id":["18c9[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/a90a8849-f060-4927-8ddf-7596489393bb","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["22aca919-1ecd-42a2-6ef6-cdac2d6307ff"], "X-Vcap-Request-Id":["593461b4-267b-4a1f-69f6-56b43314a276::c3ae6d03-9[...]
{"request":{"method":"head","uri":"https://api.10.244.0.34.xip.io/v2/apps/a90a8849-f060-4927-8ddf-7596489393bb/download","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["a0566790-9efb-4d04-502f-f8a02c9b6459"], "X-Vcap-Request-Id":["8e4a9b6e-d2c9-44f2-4f45-5d5a48d05a2e::939a7e5b-b91f-46ce-9204-32334d4346ec"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:07 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/a90a8849-f060-4927-8ddf-7596489393bb/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["4110b25c-ef42-499d-5e80-b7ba6dfb0dd0"], "X-Vcap-Request-Id":["9c2185bd-9cb1-44ca-4e03-c22f5de1baec::446bfa22-4476-4238-853e-12c0aa9c1d81"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"23a9c5b5-4b9d-4581-87e8-3e9e4fcf30d8\",\n        \"url\": \"/v2/routes/23a9c5b5-4b9d-4581-87e8-3e9e4fcf30d8\",\n        \"created_at\": \"2015-04-29T07:21:07+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"a90a8849-f060-4927-8ddf-7596489393bb\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/23a9c5b5-4b9d-4581-87e8-3e9e4fcf30d8/apps\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:07 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["088a510e-6326-40b8-6f87-8f4c379e946b"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["5250ab40-db00-4651-686b-39b9a3a58c46::0b877651-c584-4bfe-bf65-4407aeb2d7f4"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:07 GMT"}],"recorded_with":"VCR 2.9.3"}