{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["b2f38ff2-1d75-43a1-53ac-82bf951a3f5d"], "X-Vcap-Request-Id":["7f403312-a554-4ec0-52cc-d1afa420f42b::6b7a1390-fc2e-4f4e-b747-607f2ea82de7"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:43:53 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["48a36732-786d-47a3-4ee6-1d637ca1a892, 461db543-e1aa-41fe-7c98-945426fe2f99"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"4a376996-6655-4cea-8c0d-191dc5ae9fdd\"}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:43:54 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/spaces","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["edc0f391-bef8-4095-58b0-0210eb6c8cec"], "X-Vcap-Request-Id":["f7053cc0-28b0-4cb9-4aee-7361747b6973::2f056f2f-8a39-4743-9247-4478ebc0dc3e"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"created_at\": \"2015-03-19T07:21:47+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"name\": \"development\",\n        \"organization_guid\": \"d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n        \"space_quota_definition_guid\": null,\n        \"organization_url\": \"/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n        \"developers_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/developers\",\n        \"managers_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/managers\",\n        \"auditors_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/auditors\",\n        \"apps_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/apps\",\n        \"routes_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/routes\",\n        \"domains_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/domains\",\n        \"service_instances_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/service_instances\",\n        \"app_events_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/app_events\",\n        \"events_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/events\",\n        \"security_groups_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/security_groups\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:43:54 GMT"},{"request":{"method":"post","uri":"https://api.10.244.0.34.xip.io/v2/apps","body":{"encoding":"UTF-8","string":"{\"space_guid\":\"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\"name\":\"nucleus-test-app-min-properties\",\"memory\":256,\"buildpack\":\"nodejs_buildpack\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Location":["/v2/apps/8eb3af60-b711-46e3-958f-2688f74c01d6"], "X-Cf-Requestid":["6fea999a-0496-4c4a-5ee0-62ba1b426356"], "X-Vcap-Request-Id":["4ea16b7e-0bb3-4c40-43b1-b3e73a7eb3fc::ff07e0bc-c86a-4631-9569-527e1285caae"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"8eb3af60-b711-46e3-958f-2688f74c01d6\",\n    \"url\": \"/v2/apps/8eb3af60-b711-46e3-958f-2688f74c01d6\",\n    \"created_at\": \"2015-07-28T12:43:54+00:00\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"name\": \"nucleus-test-app-min-properties\",\n    \"production\": false,\n    \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n    \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n    \"buildpack\": \"nodejs_buildpack\",\n    \"detected_buildpack\": null,\n    \"environment_json\": {\n\n    },\n    \"memory\": 256,\n    \"instances\": 1,\n    \"disk_quota\": 1024,\n    \"state\": \"STOPPED\",\n    \"version\": \"a0878cea-f3f1-4886-9888-96073e7c354a\",\n    \"command\": null,\n    \"console\": false,\n    \"debug\": null,\n    \"staging_task_id\": null,\n    \"package_state\": \"PENDING\",\n    \"health_check_timeout\": null,\n    \"staging_failed_reason\": null,\n    \"docker_image\": null,\n    \"package_updated_at\": null,\n    \"detected_start_command\": \"\",\n    \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n    \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n    \"events_url\": \"/v2/apps/8eb3af60-b711-46e3-958f-2688f74c01d6/events\",\n    \"service_bindings_url\": \"/v2/apps/8eb3af60-b711-46e3-958f-2688f74c01d6/service_bindings\",\n    \"routes_url\": \"/v2/apps/8eb3af60-b711-46e3-958f-2688f74c01d6/routes\"\n  }\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:43:54 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/private_domains","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["0687e56a-5867-4496-6a44-c080996093b5"], "X-Vcap-Request-Id":["a4fd88d8-bdd1-42e1-5a74-2b0a6a983646::e7ee410f-b484-4c28-981d-d73b9437f4b2"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 2,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"37076f61-480e-4dc3-b301-5b8c8934ce4d\",\n        \"url\": \"/v2/private_domains/37076f61-480e-4dc3-b301-5b8c8934ce4d\",\n        \"created_at\": \"2015-04-20T09:21:15+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"name\": \"adomainthatishopefullynotusedontheplatform.de\",\n        \"owning_organization_guid\": \"d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n        \"owning_organization_url\": \"/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0\"\n      }\n    },\n    {\n      \"metadata\": {\n        \"guid\": \"c317851b-c5dc-4a2b-ba3f-24cd80ac5382\",\n        \"url\": \"/v2/private_domains/c317851b-c5dc-4a2b-ba3f-24cd80ac5382\",\n        \"created_at\": \"2015-05-31T07:49:34+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"name\": \"aadomainthatishopefullynotusedontheplatform.de\",\n        \"owning_organization_guid\": \"d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n        \"owning_organization_url\": \"/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:43:54 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/shared_domains","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["72183522-7fe9-443b-4c05-2231fb1670c1"], "X-Vcap-Request-Id":["ca28d717-4eee-4d3a-5a7e-c067b7573569::c9dd8c97-ffbd-4e91-8be9-7a0d1bfd2067"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"url\": \"/v2/shared_domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"created_at\": \"2014-12-05T16:23:46+00:00\",\n        \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"10.244.0.34.xip.io\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:43:54 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["3de41ed8-2790-4209-441b-510d36f71ba2"], "X-Vcap-Request-Id":["f1ed7ecb-ff36-444c-57d1-ab4f0166e1a8::7f8062d1-822a-4f4a-a530-287555c0fa2c"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 2,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"e4e85bf9-bd4e-4af9-9a13-d7b395d9d566\",\n        \"url\": \"/v2/routes/e4e85bf9-bd4e-4af9-9a13-d7b395d9d566\",\n        \"created_at\": \"2015-07-28T12:39:19+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"59cc1d25-7dfa-4644-bc66-3fa03c73d492\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/e4e85bf9-bd4e-4af9-9a13-d7b395d9d566/apps\"\n      }\n    },\n    {\n      \"metadata\": {\n        \"guid\": \"f0b2b33a-7206-48fb-9c9e-01a9bb261c85\",\n        \"url\": \"/v2/routes/f0b2b33a-7206-48fb-9c9e-01a9bb261c85\",\n        \"created_at\": \"2015-07-28T12:43:53+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"9522777b-2037-49ff-841e-63f0f187c6ab\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/f0b2b33a-7206-48fb-9c9e-01a9bb261c85/apps\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:43:54 GMT"},[...]
{"request":{"method":"put","uri":"https://api.10.244.0.34.xip.io/v2/apps/8eb3af60-b711-46e3-958f-2688f74c01d6/routes/d26f9ff4-2b52-4809-ac3c-8a7a8e247e5d","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["0d0423c6-e86c-499a-5d40-31aa23e47b45"], "X-Vcap-Request-Id":["33dc[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/8eb3af60-b711-46e3-958f-2688f74c01d6","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["a8e9c407-ca22-4706-671a-b4030c100499"], "X-Vcap-Request-Id":["5e7b3910-2d87-404c-733c-7fcbc52e25dd::babaff41-1[...]
{"request":{"method":"head","uri":"https://api.10.244.0.34.xip.io/v2/apps/8eb3af60-b711-46e3-958f-2688f74c01d6/download","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["a3dfab78-8f28-4766-70a2-0de7ebf8aa72"], "X-Vcap-Request-Id":["e8259257-59ff-4ec8-45e6-bb04e3fe5455::40303512-947c-4926-8c97-d61472f3e7ad"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:43:54 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/8eb3af60-b711-46e3-958f-2688f74c01d6/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["02ea505e-40b2-4ed0-638b-d4e3a11a421c"], "X-Vcap-Request-Id":["959737c7-7581-4915-5b69-fec0373ccc2e::0adf7951-dda5-42c5-a275-94cc6622f3f6"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"d26f9ff4-2b52-4809-ac3c-8a7a8e247e5d\",\n        \"url\": \"/v2/routes/d26f9ff4-2b52-4809-ac3c-8a7a8e247e5d\",\n        \"created_at\": \"2015-07-28T12:43:54+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"8eb3af60-b711-46e3-958f-2688f74c01d6\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/d26f9ff4-2b52-4809-ac3c-8a7a8e247e5d/apps\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:43:54 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["8b837bd0-fc80-410c-48cb-d6596f894ac1"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["016c2ca0-5aa4-4d54-6d3b-ec2c91f57fdc::f8e4f1a2-c1f2-458d-a434-2e400809561e"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:43:54 GMT"}],"recorded_with":"VCR 2.9.3"}