{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["35862122-0fbc-4d32-611b-dc04b1d0f4ed"], "X-Vcap-Request-Id":["687390da-ef08-40f7-7800-076f51063e03::a197602f-e1ad-429a-b583-ccfe4b27474a"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:23 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["07aa9d16-4d66-4349-52c3-de8ba5a156f1, 183c487a-ae3b-4c62-52dd-9eb9cacbecad"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"a81bd096-cdac-48ff-9daf-5ce65b621467\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:23 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/spaces","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["90741cf4-02ce-453a-5939-8de226547274"], "X-Vcap-Request-Id":["a59fb81d-6877-4215-7b67-aadeccd75896::959b67da-73db-4110-a6f8-6e7bc9603ad1"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"created_at\": \"2015-03-19T07:21:47+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"name\": \"development\",\n        \"organization_guid\": \"d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n        \"space_quota_definition_guid\": null,\n        \"organization_url\": \"/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n        \"developers_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/developers\",\n        \"managers_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/managers\",\n        \"auditors_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/auditors\",\n        \"apps_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/apps\",\n        \"routes_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/routes\",\n        \"domains_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/domains\",\n        \"service_instances_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/service_instances\",\n        \"app_events_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/app_events\",\n        \"events_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/events\",\n        \"security_groups_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/security_groups\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:23 GMT"},{"request":{"method":"post","uri":"https://api.10.244.0.34.xip.io/v2/apps","body":{"encoding":"UTF-8","string":"{\"space_guid\":\"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\"name\":\"paasal-test-app-all-properties\",\"autoscaled\":false,\"memory\":256,\"buildpack\":\"nodejs_buildpack\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Location":["/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17"], "X-Cf-Requestid":["07d232bd-337b-4868-5663-6675ef3cd5cc"], "X-Vcap-Request-Id":["9f67c236-9387-496c-6d52-9cba60a808c7::b40ce422-f5e9-45db-9d44-424d91c831b8"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"03a567ca-5b77-4b7c-a73a-a008ca5dad17\",\n    \"url\": \"/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17\",\n    \"created_at\": \"2015-05-14T06:39:23+00:00\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"name\": \"paasal-test-app-all-properties\",\n    \"production\": false,\n    \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n    \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n    \"buildpack\": \"nodejs_buildpack\",\n    \"detected_buildpack\": null,\n    \"environment_json\": {\n\n    },\n    \"memory\": 256,\n    \"instances\": 1,\n    \"disk_quota\": 1024,\n    \"state\": \"STOPPED\",\n    \"version\": \"0a567def-6104-4638-bea1-6f2bab282fe4\",\n    \"command\": null,\n    \"console\": false,\n    \"debug\": null,\n    \"staging_task_id\": null,\n    \"package_state\": \"PENDING\",\n    \"health_check_timeout\": null,\n    \"staging_failed_reason\": null,\n    \"docker_image\": null,\n    \"package_updated_at\": null,\n    \"detected_start_command\": \"\",\n    \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n    \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n    \"events_url\": \"/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17/events\",\n    \"service_bindings_url\": \"/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17/service_bindings\",\n    \"routes_url\": \"/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17/routes\"\n  }\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:23 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/private_domains","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["e82e154c-1c95-4ea6-78e8-058700c02c2a"], "X-Vcap-Request-Id":["fd7a0db9-39cb-4e20-5b2a-c69db74c79b5::2940c58b-976b-40d7-a744-81aa179ceaaa"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"37076f61-480e-4dc3-b301-5b8c8934ce4d\",\n        \"url\": \"/v2/private_domains/37076f61-480e-4dc3-b301-5b8c8934ce4d\",\n        \"created_at\": \"2015-04-20T09:21:15+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"name\": \"adomainthatishopefullynotusedontheplatform.de\",\n        \"owning_organization_guid\": \"d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n        \"owning_organization_url\": \"/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:23 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/shared_domains","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["267cd734-2289-48ba-7738-5aa1fb4d40c7"], "X-Vcap-Request-Id":["c1400b21-8b5c-440d-4ed4-b4255f254dfd::21c0fcb6-5fd0-4cc3-af1d-576f319804b8"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"url\": \"/v2/shared_domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"created_at\": \"2014-12-05T16:23:46+00:00\",\n        \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"10.244.0.34.xip.io\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:23 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["f162fca9-0eeb-4a47-419b-5d7efdb64f0e"], "X-Vcap-Request-Id":["7e93b761-ad50-46bd-4d09-82731aae8885::e1f1b5a0-52de-4b69-b97e-03dec4b47280"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 0,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n\n  ]\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:23 GMT"},[...]
{"request":{"method":"post","uri":"https://api.10.244.0.34.xip.io/v2/routes","body":{"encoding":"UTF-8","string":"{\"domain_guid\":\"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\"host\":\"03a567ca-5b77-4b7c-a73a-a008ca5dad17\",\"space_guid\":\"d3483f4f-6706-4fe1-ad90-1bd45d50e940\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Location":["/v2/routes/ae10e852-60a4-4ad2-b452-82beb14b6f03"], "X-Cf-Requestid":["5381fa0a-3831-4f3c-5d32-c9f1ec74c384"], "X-Vcap-Request-Id":["214abe91-abd6-4d08-7edd-df25b98dad72::09a3d34d-3ed9-48dc-8449-2b4894a0aab6"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"ae10e852-60a4-4ad2-b452-82beb14b6f03\",\n    \"url\": \"/v2/routes/ae10e852-60a4-4ad2-b452-82beb14b6f03\",\n    \"created_at\": \"2015-05-14T06:39:23+00:00\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"host\": \"03a567ca-5b77-4b7c-a73a-a008ca5dad17\",\n    \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n    \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n    \"apps_url\": \"/v2/routes/ae10e852-60a4-4ad2-b452-82beb14b6f03/apps\"\n  }\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:23 GMT"},{"request":{"method":"put","uri":"https://api.10.244.0.34.xip.io/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17/routes/ae10e852-60a4-4ad2-b452-82beb14b6f03","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["6ed6bdab-34eb-47cc-402c-6248daf2f8d4"], "X-Vcap-Request-Id":["54e8[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["02695711-4aa7-46fa-5a50-ffb1ef5fb786"], "X-Vcap-Request-Id":["86d02368-d840-4cc2-5b42-b99bac923150::c7e0950e-8[...]
{"request":{"method":"head","uri":"https://api.10.244.0.34.xip.io/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17/download","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["0f22b273-d04d-40f7-7398-3adc264c69e0"], "X-Vcap-Request-Id":["fd617f24-6c6d-498b-5d56-8d2737678a03::36700dd7-3342-4901-bc45-c9dd3199a489"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:23 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["077e5173-97a5-4ae3-620a-742eb7378bfa"], "X-Vcap-Request-Id":["444dde8f-27ac-404d-747c-1feb550539e2::6e68dc70-934c-4f34-8eae-14e26eb04175"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"ae10e852-60a4-4ad2-b452-82beb14b6f03\",\n        \"url\": \"/v2/routes/ae10e852-60a4-4ad2-b452-82beb14b6f03\",\n        \"created_at\": \"2015-05-14T06:39:23+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"03a567ca-5b77-4b7c-a73a-a008ca5dad17\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/ae10e852-60a4-4ad2-b452-82beb14b6f03/apps\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:23 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["3a6d1c25-c90f-481c-5018-084bbc1c7969"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["2662e494-6c69-4c35-769b-14834e8f336e::00507684-cd70-412f-ba7d-95798223b900"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:23 GMT"}],"recorded_with":"VCR 2.9.3"}