{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["b8bce163-ea43-447a-760d-88e6f97c78a1"], "X-Vcap-Request-Id":["82667610-1545-4acc-58ef-b59d935af2b2::582ffc84-acb0-4da1-a9ca-a1bbb4dcae70"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:19:18 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["adc21859-0bf9-43fb-604c-fc4034bb7d04, 5e5ff74e-5005-4d88-6f94-1073eef6aa33"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"a13fbc41-735d-4534-9f7e-ffb048e32904\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:19:18 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/spaces","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["ee569b66-f015-4dc8-6f59-df348e7e986e"], "X-Vcap-Request-Id":["17c83347-a773-4be7-6f49-317867c5ede8::c8931b92-85d8-4cb8-a05b-901f4e0495c1"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"created_at\": \"2015-03-19T07:21:47+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"name\": \"development\",\n        \"organization_guid\": \"d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n        \"space_quota_definition_guid\": null,\n        \"organization_url\": \"/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n        \"developers_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/developers\",\n        \"managers_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/managers\",\n        \"auditors_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/auditors\",\n        \"apps_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/apps\",\n        \"routes_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/routes\",\n        \"domains_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/domains\",\n        \"service_instances_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/service_instances\",\n        \"app_events_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/app_events\",\n        \"events_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/events\",\n        \"security_groups_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/security_groups\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:19:18 GMT"},{"request":{"method":"post","uri":"https://api.10.244.0.34.xip.io/v2/apps","body":{"encoding":"UTF-8","string":"{\"space_guid\":\"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\"name\":\"paasal-test-app-min-properties\",\"memory\":256,\"buildpack\":\"nodejs_buildpack\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Location":["/v2/apps/279b8ee3-07c2-4bef-b47c-992e10e91629"], "X-Cf-Requestid":["87d9e367-a3b3-4e6e-5380-c97b6fdd26df"], "X-Vcap-Request-Id":["2e2506e1-a849-4856-44c4-2ed4f2cbbd0e::80bb0602-cde1-4a3f-a2cb-51cb43e5f43a"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"279b8ee3-07c2-4bef-b47c-992e10e91629\",\n    \"url\": \"/v2/apps/279b8ee3-07c2-4bef-b47c-992e10e91629\",\n    \"created_at\": \"2015-06-27T12:13:25+00:00\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"name\": \"paasal-test-app-min-properties\",\n    \"production\": false,\n    \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n    \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n    \"buildpack\": \"nodejs_buildpack\",\n    \"detected_buildpack\": null,\n    \"environment_json\": {\n\n    },\n    \"memory\": 256,\n    \"instances\": 1,\n    \"disk_quota\": 1024,\n    \"state\": \"STOPPED\",\n    \"version\": \"2c07aa0d-9114-4526-a59d-f69e7a8cd2cb\",\n    \"command\": null,\n    \"console\": false,\n    \"debug\": null,\n    \"staging_task_id\": null,\n    \"package_state\": \"PENDING\",\n    \"health_check_timeout\": null,\n    \"staging_failed_reason\": null,\n    \"docker_image\": null,\n    \"package_updated_at\": null,\n    \"detected_start_command\": \"\",\n    \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n    \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n    \"events_url\": \"/v2/apps/279b8ee3-07c2-4bef-b47c-992e10e91629/events\",\n    \"service_bindings_url\": \"/v2/apps/279b8ee3-07c2-4bef-b47c-992e10e91629/service_bindings\",\n    \"routes_url\": \"/v2/apps/279b8ee3-07c2-4bef-b47c-992e10e91629/routes\"\n  }\n}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:19:18 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/private_domains","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["186b576f-e00e-4b14-6f0d-62e57ca8b281"], "X-Vcap-Request-Id":["051198f4-8e4b-4348-69b8-eeb730cf75ea::515c33b4-eba7-4415-8926-e023bce5e81e"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 2,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"37076f61-480e-4dc3-b301-5b8c8934ce4d\",\n        \"url\": \"/v2/private_domains/37076f61-480e-4dc3-b301-5b8c8934ce4d\",\n        \"created_at\": \"2015-04-20T09:21:15+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"name\": \"adomainthatishopefullynotusedontheplatform.de\",\n        \"owning_organization_guid\": \"d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n        \"owning_organization_url\": \"/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0\"\n      }\n    },\n    {\n      \"metadata\": {\n        \"guid\": \"c317851b-c5dc-4a2b-ba3f-24cd80ac5382\",\n        \"url\": \"/v2/private_domains/c317851b-c5dc-4a2b-ba3f-24cd80ac5382\",\n        \"created_at\": \"2015-05-31T07:49:34+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"name\": \"aadomainthatishopefullynotusedontheplatform.de\",\n        \"owning_organization_guid\": \"d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n        \"owning_organization_url\": \"/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:19:18 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/shared_domains","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["3f8f2a6d-2195-40c1-5a6e-609b63bd1ce7"], "X-Vcap-Request-Id":["4168c968-d06d-4e42-7ec0-59641c3f177a::1cac9241-4e76-4c6b-93bd-f22662cf886c"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"url\": \"/v2/shared_domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"created_at\": \"2014-12-05T16:23:46+00:00\",\n        \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"10.244.0.34.xip.io\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:19:18 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["89238e65-a283-4980-4b45-32e2f84e4fa7"], "X-Vcap-Request-Id":["f6919242-ec69-4145-74fc-b4f870ca0536::acb83135-c259-4a80-8c7a-ddebb2ace733"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"add422b5-7a21-415e-91a4-b8319c6c0a1f\",\n        \"url\": \"/v2/routes/add422b5-7a21-415e-91a4-b8319c6c0a1f\",\n        \"created_at\": \"2015-06-27T12:13:24+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"6a953469-659c-47e2-8419-e496be82866f\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/add422b5-7a21-415e-91a4-b8319c6c0a1f/apps\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:19:18 GMT"},[...]
{"request":{"method":"put","uri":"https://api.10.244.0.34.xip.io/v2/apps/279b8ee3-07c2-4bef-b47c-992e10e91629/routes/f95f35b0-e06a-4338-8286-42d3bf81fb51","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["de7518a5-895b-4a5d-6a19-98837adedd7a"], "X-Vcap-Request-Id":["00c5[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/279b8ee3-07c2-4bef-b47c-992e10e91629","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["043b1276-f533-4ee1-4fab-58c31fc34388"], "X-Vcap-Request-Id":["828b4da3-1c2b-419c-6173-7ab554de7c8f::f8876927-1[...]
{"request":{"method":"head","uri":"https://api.10.244.0.34.xip.io/v2/apps/279b8ee3-07c2-4bef-b47c-992e10e91629/download","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["e334b904-2c85-49a9-48c3-f279c4179706"], "X-Vcap-Request-Id":["14ed7dec-0060-4651-5b35-8a66f9a24d0c::50587113-86ea-424a-bb3d-af6c4f931212"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:19:18 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/279b8ee3-07c2-4bef-b47c-992e10e91629/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["b0eb3800-dd09-4402-6da7-ece16613bbd0"], "X-Vcap-Request-Id":["ae7ea8aa-b164-440e-7e3e-64567e83423e::b3638233-8cbf-4a33-bb49-b960a683bf13"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"f95f35b0-e06a-4338-8286-42d3bf81fb51\",\n        \"url\": \"/v2/routes/f95f35b0-e06a-4338-8286-42d3bf81fb51\",\n        \"created_at\": \"2015-06-27T12:13:25+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"279b8ee3-07c2-4bef-b47c-992e10e91629\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/f95f35b0-e06a-4338-8286-42d3bf81fb51/apps\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:19:18 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["3b77d622-3967-47c8-4cd5-0871952afb8d"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["f9633467-159f-43b0-4b7e-6a183f19bb67::0c1f5f92-ebb8-499b-823d-23484e7c9230"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:19:18 GMT"}],"recorded_with":"VCR 2.9.3"}