{"http_interactions":[{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["c487a96b-8913-4592-53ea-9a832205bece"], "X-Vcap-Request-Id":["50c7eb99-c8d3-4df7-46e0-2b765864c7dc::9dedbd2a-7706-4595-9fba-4bb809c5d246"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"https://login.run.pivotal.io\",\"token_endpoint\":\"https://uaa.run.pivotal.io\",\"min_cli_version\":null,\"min_recommended_cli_version\":null,\"api_version\":\"2.41.0\",\"app_ssh_endpoint\":\"ssh.run.pivotal.io:2222\",\"app_ssh_host_key_fingerprint\":\"e7:13:4e:32:ee:39:62:df:54:41:d7:f7:8b:b2:a7:6b\",\"app_ssh_oauth_client\":\"ssh-proxy\",\"routing_endpoint\":\"https://api.run.pivotal.io/routing\",\"logging_endpoint\":\"wss://loggregator.run.pivotal.io:443\",\"doppler_logging_endpoint\":\"wss://doppler.run.pivotal.io:443\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:00:30 GMT"},{"request":{"method":"post","uri":"https://login.run.pivotal.io/oauth/token?grant_type=password&password=__pivotal:password__&username=__pivotal:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["f2cf0b46-57cd-47d8-6adb-c4bb75dd3713"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"cloud_controller.read password.write cloud_controller.write openid uaa.user\",\"jti\":\"b3dcaaf7-be8b-43ea-b3c6-6858abc2ef46\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:00:32 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/spaces","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["71573c6b-0d13-45b0-70cc-3762ed6daade"], "X-Vcap-Request-Id":["544620b0-d62d-40c0-6f60-257b53483479::22063214-ac2e-4edc-bbac-bdffe2a35288"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 2,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"created_at\": \"2015-10-22T22:41:00Z\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"name\": \"nucleus\",\n        \"organization_guid\": \"9928cdf8-bf76-4b42-bda4-6b6787883b2e\",\n        \"space_quota_definition_guid\": null,\n        \"allow_ssh\": true,\n        \"organization_url\": \"/v2/organizations/9928cdf8-bf76-4b42-bda4-6b6787883b2e\",\n        \"developers_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/developers\",\n        \"managers_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/managers\",\n        \"auditors_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/auditors\",\n        \"apps_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/apps\",\n        \"routes_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/routes\",\n        \"domains_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/domains\",\n        \"service_instances_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/service_instances\",\n        \"app_events_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/app_events\",\n        \"events_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/events\",\n        \"security_groups_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/security_groups\"\n      }\n    },\n    {\n      \"metadata\": {\n        \"guid\": \"d3c655ac-6913-4079-b885-ef9940e0e1f8\",\n        \"url\": \"/v2/spaces/d3c655ac-6913-4079-b885-ef9940e0e1f8\",\n        \"created_at\": \"2015-10-22T22:42:27Z\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"name\": \"paasal\",\n        \"organization_guid\": \"9928cdf8-bf76-4b42-bda4-6b6787883b2e\",\n        \"space_quota_definition_g[...]
[...]
{"request":{"method":"get","uri":"https://login.run.pivotal.io/userinfo","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["2a2fb4dd-9069-41bd-573f-1ec85ed9c857"]},"body":{"encoding":"UTF-8","string":"{\"user_id\":\"acab1c89-6ec7-47eb-a17c-08cf95049414\",\"user_name\":\"__pivotal:user__\",\"email\":\"__pivotal:user__\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:00:35 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/users/acab1c89-6ec7-47eb-a17c-08cf95049414","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["4ad4dbdc-44fb-4b6f-62a6-23ae77032c49"], "X-Vcap-Request-Id":["406ee9c4-79df-4755-6a78-cd827b38d782::47df382d-8269-4bc9-a3bb-d1be37b7c0c9"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"acab1c89-6ec7-47eb-a17c-08cf95049414\",\n    \"url\": \"/v2/users/acab1c89-6ec7-47eb-a17c-08cf95049414\",\n    \"created_at\": \"2015-10-13T16:35:29Z\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"admin\": false,\n    \"active\": false,\n    \"default_space_guid\": null,\n    \"spaces_url\": \"/v2/users/acab1c89-6ec7-47eb-a17c-08cf95049414/spaces\",\n    \"organizations_url\": \"/v2/users/acab1c89-6ec7-47eb-a17c-08cf95049414/organizations\",\n    \"managed_organizations_url\": \"/v2/users/acab1c89-6ec7-47eb-a17c-08cf95049414/managed_organizations\",\n    \"billing_managed_organizations_url\": \"/v2/users/acab1c89-6ec7-47eb-a17c-08cf95049414/billing_managed_organizations\",\n    \"audited_organizations_url\": \"/v2/users/acab1c89-6ec7-47eb-a17c-08cf95049414/audited_organizations\",\n    \"managed_spaces_url\": \"/v2/users/acab1c89-6ec7-47eb-a17c-08cf95049414/managed_spaces\",\n    \"audited_spaces_url\": \"/v2/users/acab1c89-6ec7-47eb-a17c-08cf95049414/audited_spaces\"\n  }\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:00:36 GMT"},{"request":{"method":"post","uri":"https://api.run.pivotal.io/v2/apps","body":{"encoding":"UTF-8","string":"{\"space_guid\":\"1a13ea3e-d947-4887-8481-e8174f0ed011\",\"name\":\"nucleus-test-app-all-properties\",\"autoscaled\":false,\"memory\":256,\"buildpack\":\"nodejs_buildpack\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Location":["/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5"], "X-Cf-Requestid":["4fd8db0d-eb93-4d2c-532d-483d75850153"], "X-Vcap-Request-Id":["6a32b3a7-4ab0-4145-7528-e9cf06d27a45::6d31d600-d458-4cf5-99d2-0906017ade81"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"ab451001-c9b9-466f-bdb3-5d548aa168a5\",\n    \"url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5\",\n    \"created_at\": \"2015-10-23T00:00:21Z\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"name\": \"nucleus-test-app-all-properties\",\n    \"production\": false,\n    \"space_guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n    \"stack_guid\": \"86205f38-84fc-4bc2-b2b8-af7f55669f04\",\n    \"buildpack\": \"nodejs_buildpack\",\n    \"detected_buildpack\": null,\n    \"environment_json\": {\n\n    },\n    \"memory\": 256,\n    \"instances\": 1,\n    \"disk_quota\": 1024,\n    \"state\": \"STOPPED\",\n    \"version\": \"4ff4bb5f-4e85-4300-aed9-9be7ea84f7a5\",\n    \"command\": null,\n    \"console\": false,\n    \"debug\": null,\n    \"staging_task_id\": null,\n    \"package_state\": \"PENDING\",\n    \"health_check_type\": \"port\",\n    \"health_check_timeout\": null,\n    \"staging_failed_reason\": null,\n    \"staging_failed_description\": null,\n    \"diego\": true,\n    \"docker_image\": null,\n    \"package_updated_at\": null,\n    \"detected_start_command\": \"\",\n    \"enable_ssh\": true,\n    \"docker_credentials_json\": {\n      \"redacted_message\": \"[PRIVATE DATA HIDDEN]\"\n    },\n    \"space_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011\",\n    \"stack_url\": \"/v2/stacks/86205f38-84fc-4bc2-b2b8-af7f55669f04\",\n    \"events_url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/events\",\n    \"service_bindings_url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/service_bindings\",\n    \"routes_url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/routes\"\n  }\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:00:37 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/private_domains","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["8b8478fb-9f70-4ae9-746e-178ac834cfbd"], "X-Vcap-Request-Id":["be17cc14-2364-4544-5662-b65a6638bb97::53680a78-041a-4d87-a3d1-29d594dca309"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 0,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:00:38 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/shared_domains","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["46915a4d-4724-4549-414b-21259e62ed31"], "X-Vcap-Request-Id":["0b48dc5c-87c2-4a54-70a1-327d120f4c84::d9a825f3-d607-4243-b587-dbd38da48d2d"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n        \"url\": \"/v2/shared_domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n        \"created_at\": \"2013-05-04T00:29:46Z\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"name\": \"cfapps.io\",\n        \"router_group_guid\": null\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:00:39 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["249b71ee-2532-49b1-5cdd-046bb5355e77"], "X-Vcap-Request-Id":["ee2620f6-0c9c-4bdc-55f1-11bf20e488a2::1b6bb821-c718-4fb6-9b31-93707b143ed1"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 0,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:00:41 GMT"},[...]
{"request":{"method":"post","uri":"https://api.run.pivotal.io/v2/routes","body":{"encoding":"UTF-8","string":"{\"domain_guid\":\"fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\"host\":\"ab451001-c9b9-466f-bdb3-5d548aa168a5\",\"space_guid\":\"1a13ea3e-d947-4887-8481-e8174f0ed011\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Location":["/v2/routes/d683a967-34fa-4691-843e-d6cb5c7e76e3"], "X-Cf-Requestid":["1377e689-1d1c-4e0b-6ab8-64930d7506e9"], "X-Vcap-Request-Id":["67a31dae-2fe1-4758-4268-828783883122::bb1d81fa-7686-48b1-bd1f-fa4cf9e78118"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"d683a967-34fa-4691-843e-d6cb5c7e76e3\",\n    \"url\": \"/v2/routes/d683a967-34fa-4691-843e-d6cb5c7e76e3\",\n    \"created_at\": \"2015-10-23T00:00:31Z\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"host\": \"ab451001-c9b9-466f-bdb3-5d548aa168a5\",\n    \"path\": \"\",\n    \"domain_guid\": \"fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n    \"space_guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n    \"service_instance_guid\": null,\n    \"port\": 0,\n    \"domain_url\": \"/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n    \"space_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011\",\n    \"apps_url\": \"/v2/routes/d683a967-34fa-4691-843e-d6cb5c7e76e3/apps\"\n  }\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:00:46 GMT"},{"request":{"method":"put","uri":"https://api.run.pivotal.io/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/routes/d683a967-34fa-4691-843e-d6cb5c7e76e3","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["a768a719-6502-43b5-43a2-81bdcd0a541b"], "X-Vcap-Request-Id":["d2eeac99[...]
{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["5c800fa3-d579-4be8-41f1-4450a7dc16d8"], "X-Vcap-Request-Id":["9ed6a662-68f8-4ccc-5d9b-033d7ce4dcd9::b921ca4e-9269-[...]
{"request":{"method":"head","uri":"https://api.run.pivotal.io/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/download","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["a2a57b78-bd75-4f69-6cfd-71d484f90660"], "X-Vcap-Request-Id":["c82f6027-5b91-4463-6c67-d9a6bac040dc::06666bd4-879e-469b-9142-714edd857349"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:00:50 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["fd0fa436-9222-4dd7-6afa-57b6468aa862"], "X-Vcap-Request-Id":["1933d47c-900f-47a6-73a0-12c414d6d1c6::17eaa5f[...]
{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["fbec3d2d-a910-4f90-4861-3bb0aef50ff2"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["095008d4-32a8-4540-77bc-43fc71366b72::771b7dec-3f36-414f-b584-6f634c25362d"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n    \"url\": \"/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n    \"created_at\": \"2013-05-04T00:29:46Z\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"name\": \"cfapps.io\",\n    \"router_group_guid\": null\n  }\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:00:52 GMT"}],"recorded_with":"VCR 2.9.3"}