---
http_interactions:
- request:
    method: post
    uri: https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"allow_tracking":true,"api_key":"__API_KEY__","beta":null,"confirmed":true,"confirmed_at":"2014/11/18
        01:37:21 -0800","created_at":"2014/11/18 01:37:21 -0800","id":"__USER_ID__@users.heroku.com","email":"__heroku:user__","last_login":"2014/11/25
        00:52:59 -0800","name":" ","updated_at":"2015/03/25 09:57:27 -0700","verified":false,"verified_at":null}'
  recorded_at: Wed, 25 Mar 2015 16:57:35 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - ! '"c88dabbde0900d8ff0c9b83b63124ad7"'
      Last-Modified:
      - Wed, 25 Mar 2015 16:54:49 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2187'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: ! '{"archived_at":null,"buildpack_provided_description":"Node.js","build_stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"created_at":"2015-03-25T16:49:03Z","id":"0bb04d40-51d7-4907-97ed-0fc2b317371b","git_url":"git@heroku.com:paasal-test-app-all-updated.git","maintenance":false,"name":"paasal-test-app-all-updated","owner":{"email":"__heroku:user__","id":"__heroku:id__"},"region":{"id":"59accabd-516d-4f0e-83e6-6e3757701145","name":"us"},"released_at":"2015-03-25T16:52:32Z","repo_size":2703602,"slug_size":12402829,"stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"updated_at":"2015-03-25T16:54:49Z","web_url":"https://paasal-test-app-all-updated.herokuapp.com/"}'
  recorded_at: Wed, 25 Mar 2015 16:57:35 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/0bb04d40-51d7-4907-97ed-0fc2b317371b/dynos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - ! '"404b7e86c3bf55e316e5e8f489c03064"'
      Last-Modified:
      - Wed, 25 Mar 2015 16:53:44 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2186'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: ! '[{"attach_url":null,"command":"node server.js","created_at":"2015-03-25T16:53:44Z","id":"7017e1ae-bc81-4529-b405-6d06279ecfa6","name":"web.1","release":{"id":"ed532a0b-91b3-4b9d-bfb9-9074a8f49a74","version":6},"size":"1X","state":"up","type":"web","updated_at":"2015-03-25T16:53:44Z"}]'
  recorded_at: Wed, 25 Mar 2015 16:57:36 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/0bb04d40-51d7-4907-97ed-0fc2b317371b/formation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - ! '"c88dabbde0900d8ff0c9b83b63124ad7"'
      Last-Modified:
      - Wed, 25 Mar 2015 16:54:49 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2185'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: ! '[{"command":"node server.js","created_at":"2015-03-25T16:52:32Z","id":"41ca9a8d-ba47-41f8-b973-79acc2552b09","type":"web","quantity":1,"size":"1X","updated_at":"2015-03-25T16:53:40Z"}]'
  recorded_at: Wed, 25 Mar 2015 16:57:37 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/0bb04d40-51d7-4907-97ed-0fc2b317371b/buildpack-installations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - ordinal 0..0
      Content-Type:
      - application/json
      ETag:
      - ! '"87d7b85882f94ae872184eafce30ccd8"'
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2184'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: ! '[{"buildpack":{"url":"https://github.com/heroku/heroku-buildpack-nodejs"},"ordinal":0}]'
  recorded_at: Wed, 25 Mar 2015 16:57:37 GMT
[...]
- request:
    method: get
    uri: https://api.heroku.com/account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - ! '"7f89f371fb79f86cd822ac46ace6d43c"'
      Last-Modified:
      - Wed, 25 Mar 2015 16:57:27 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global identity
      RateLimit-Remaining:
      - '2181'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: ! '{"allow_tracking":true,"beta":false,"email":"__heroku:user__","id":"__heroku:id__","last_login":"2014-11-25T08:52:59Z","name":"
        ","two_factor_authentication":false,"verified":false,"created_at":"2014-11-18T09:37:21Z","updated_at":"2015-03-25T16:57:27Z","default_organization":null}'
  recorded_at: Wed, 25 Mar 2015 16:57:39 GMT
[...]
- request:
    method: get
    uri: https://api.heroku.com/apps/0bb04d40-51d7-4907-97ed-0fc2b317371b/buildpack-installations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - ordinal 0..0
      Content-Type:
      - application/json
      ETag:
      - ! '"87d7b85882f94ae872184eafce30ccd8"'
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2173'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: ! '[{"buildpack":{"url":"https://github.com/heroku/heroku-buildpack-nodejs"},"ordinal":0}]'
  recorded_at: Wed, 25 Mar 2015 16:58:08 GMT
recorded_with: VCR 2.9.3
