---
http_interactions:
- request:
    method: post
    uri: https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"allow_tracking":true,"api_key":"__API_KEY__","beta":null,"confirmed":true,"confirmed_at":"2014/11/18
        01:37:21 -0800","created_at":"2014/11/18 01:37:21 -0800","id":"__USER_ID__@users.heroku.com","email":"__heroku:user__","last_login":"2014/11/25
        00:52:59 -0800","name":" ","updated_at":"2015/04/06 13:38:50 -0700","verified":false,"verified_at":null}'
  recorded_at: Mon, 06 Apr 2015 20:45:23 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/paasal-test-app-min-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"c6a0b8a1930191b9a01f6683c46809a7"'
      Last-Modified:
      - Mon, 06 Apr 2015 20:44:48 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '1956'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"archived_at":null,"buildpack_provided_description":"Node.js","build_stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"created_at":"2015-04-06T20:34:51Z","id":"787598df-fb3a-44aa-abb2-2326ecbbda1d","git_url":"git@heroku.com:paasal-test-app-min-updated.git","maintenance":false,"name":"paasal-test-app-min-updated","owner":{"email":"__heroku:user__","id":"__heroku:id__"},"region":{"id":"59accabd-516d-4f0e-83e6-6e3757701145","name":"us"},"released_at":"2015-04-06T20:38:50Z","repo_size":2703609,"slug_size":12552228,"stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"updated_at":"2015-04-06T20:44:48Z","web_url":"https://paasal-test-app-min-updated.herokuapp.com/"}'
  recorded_at: Mon, 06 Apr 2015 20:45:24 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/787598df-fb3a-44aa-abb2-2326ecbbda1d/dynos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"fa9bca71ff9ef402d02b5efcbb8589ef"'
      Last-Modified:
      - Mon, 06 Apr 2015 20:40:25 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '1955'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"attach_url":null,"command":"node server.js","created_at":"2015-04-06T20:40:25Z","id":"87e3666d-82f9-4900-bd39-4fdbe5266c5a","name":"web.1","release":{"id":"cc850018-49bd-43c6-a9aa-061ec987bcac","version":4},"size":"1X","state":"up","type":"web","updated_at":"2015-04-06T20:40:25Z"}]'
  recorded_at: Mon, 06 Apr 2015 20:45:24 GMT
- request:
    method: get
    uri: https://api.heroku.com/account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"72824816286cf66b5f3b0c069c0f38a5"'
      Last-Modified:
      - Mon, 06 Apr 2015 20:38:50 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global identity
      RateLimit-Remaining:
      - '1954'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"allow_tracking":true,"beta":false,"email":"__heroku:user__","id":"__heroku:id__","last_login":"2014-11-25T08:52:59Z","name":"
        ","two_factor_authentication":false,"verified":false,"created_at":"2014-11-18T09:37:21Z","updated_at":"2015-04-06T20:38:50Z","default_organization":null}'
  recorded_at: Mon, 06 Apr 2015 20:45:25 GMT
[...]
- request:
    method: get
    uri: https://api.heroku.com/apps/787598df-fb3a-44aa-abb2-2326ecbbda1d/formation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"5fdec8095d830454df9011cc7cc239c6"'
      Last-Modified:
      - Mon, 06 Apr 2015 20:45:51 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '1971'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"command":"node server.js","created_at":"2015-04-06T20:38:50Z","id":"e3ab7b8c-c48e-4e69-9de1-bf7fa9ac3eb2","type":"web","quantity":1,"size":"1X","updated_at":"2015-04-06T20:44:48Z"}]'
  recorded_at: Mon, 06 Apr 2015 20:45:54 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/787598df-fb3a-44aa-abb2-2326ecbbda1d/buildpack-installations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - ordinal 0..0
      Content-Type:
      - application/json
      ETag:
      - '"87d7b85882f94ae872184eafce30ccd8"'
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '1970'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"buildpack":{"url":"https://github.com/heroku/heroku-buildpack-nodejs"},"ordinal":0}]'
  recorded_at: Mon, 06 Apr 2015 20:45:54 GMT
recorded_with: VCR 2.9.3
