{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["2cc3fca0-eee1-4938-427e-6f1a5f9ef343"], "X-Vcap-Request-Id":["7520a542-3347-487c-61f3-2e65cbc805b5::ebf845e5-daa0-4f5c-b00a-fc649d6e873c"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:21 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["0453e0bb-7602-4414-5d00-ddc291c3a1c0, 6f53008a-94b2-464e-7946-22d6b05688fa"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"3576fa98-3c5d-460c-8743-844b68af455f\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:21 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/services","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["c9c1aed4-f183-41c5-58a4-4a4edd47b6a6"], "X-Vcap-Request-Id":["9e696d9d-f9b8-4b90-58f9-c533926dbbc0::77b638c4-a91d-4e63-bcd3-6e64f816dccd"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 4,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"created_at\": \"2015-04-14T18:37:40+00:00\",\n        \"updated_at\": \"2015-05-14T06:39:08+00:00\"\n      },\n      \"entity\": {\n        \"label\": \"mongodb\",\n        \"provider\": \"core\",\n        \"url\": \"http://10.244.1.2:44138\",\n        \"description\": \"MongoDB NoSQL database\",\n        \"long_description\": null,\n        \"version\": \"2.2\",\n        \"info_url\": null,\n        \"active\": true,\n        \"bindable\": true,\n        \"unique_id\": \"8f4af9f9-0f29-4957-87a3-1039ce983ede\",\n        \"extra\": \"{\\\"listing\\\":{\\\"imageUrl\\\":null,\\\"blurb\\\":null},\\\"provider\\\":{\\\"name\\\":\\\"Core\\\"}}\",\n        \"tags\": [\n          \"nosql\",\n          \"document\",\n          \"mongodb\"\n        ],\n        \"requires\": [\n\n        ],\n        \"documentation_url\": null,\n        \"service_broker_guid\": null,\n        \"plan_updateable\": false,\n        \"service_plans_url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c/service_plans\"\n      }\n    },\n    {\n      \"metadata\": {\n        \"guid\": \"f1ba64a4-f431-4ebe-8b02-4702e643a36d\",\n        \"url\": \"/v2/services/f1ba64a4-f431-4ebe-8b02-4702e643a36d\",\n        \"created_at\": \"2015-04-14T18:37:41+00:00\",\n        \"updated_at\": \"2015-05-14T06:39:08+00:00\"\n      },\n      \"entity\": {\n        \"label\": \"redis\",\n        \"provider\": \"core\",\n        \"url\": \"http://10.244.1.14:59752[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c?inline-relations-depth=1","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["09c1dccf-1881-41fb-76fc-57a3f49e40e7"], "X-Vcap-Request-Id":["5d5b1dcf-1558-4ae1-[...]
