---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - ca1240bb-3d7f-4bdb-4880-519bf25c2b20
      X-Vcap-Request-Id:
      - 3ad46cd7-1d95-4a5c-76b4-c189d1860697::a24e0667-feed-4fc6-8755-76ee96524b2f
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Sat, 04 Apr 2015 12:51:38 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - 348d624c-2c87-40a8-5da0-3d9d02a9c3bd, 43e648c0-7013-47c1-4d96-4f65bd163ddc
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"45004edf-ae23-4375-a0d0-e03ae23fdf7d"}'
  recorded_at: Sat, 04 Apr 2015 12:51:38 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-properties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 4a174706-4584-4126-4c13-d064a4362268
      X-Vcap-Request-Id:
      - c2c366c2-a733-4993-73c2-5f6cec91d89d::f8234bd4-f14a-4bed-aad1-858f88ff87e3
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "a5ee1cf3-57ee-457c-87e5-27f479359b36",
                "url": "/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36",
                "created_at": "2015-04-04T12:51:35+00:00",
                "updated_at": "2015-04-04T12:51:36+00:00"
              },
              "entity": {
                "name": "paasal-test-app-min-properties",
                "production": false,
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
                "buildpack": "java_buildpack",
                "detected_buildpack": null,
                "environment_json": {

                },
                "memory": 256,
                "instances": 1,
                "disk_quota": 1024,
                "state": "STOPPED",
                "version": "85a1c6d8-856a-4864-8642-9bc90e80f678",
                "command": null,
                "console": false,
                "debug": null,
                "staging_task_id": null,
                "package_state": "PENDING",
                "health_check_timeout": null,
                "staging_failed_reason": null,
                "docker_image": null,
                "package_updated_at": null,
                "detected_start_command": "",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
                "events_url": "/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36/events",
                "service_bindings_url": "/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36/service_bindings",
                "routes_url": "/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36/routes"
              }
            }
          ]
        }
  recorded_at: Sat, 04 Apr 2015 12:51:38 GMT
- request:
    method: put
    uri: https://api.10.244.0.34.xip.io/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36
    body:
      encoding: UTF-8
      string: '{"name":"paasal-test-app-min-updated","buildpack":"nodejs_buildpack"}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 9a955561-0eb9-48ca-7764-44d2e356b656
      X-Vcap-Request-Id:
      - d97e9cca-008e-4c65-5564-10d2bbf4649d::58d3452c-ec73-4ecd-8edf-a719a88cd2f7
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "a5ee1cf3-57ee-457c-87e5-27f479359b36",
            "url": "/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36",
            "created_at": "2015-04-04T12:51:35+00:00",
            "updated_at": "2015-04-04T12:51:38+00:00"
          },
          "entity": {
            "name": "paasal-test-app-min-updated",
            "production": false,
            "space_guid[...]
- request:
    method: head
    uri: https://api.10.244.0.34.xip.io/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36/download
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - f892163f-2d97-4910-44e9-7d970d3a89b6
      X-Vcap-Request-Id:
      - ae9df610-c975-4f05-4189-8ff80122c818::934a491e-ae60-4be2-895f-1eabd53f3fcf
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 04 Apr 2015 12:51:38 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 2f963a04-157e-4dca-6e51-4288ee315f5f
      X-Vcap-Request-Id:
      - ad9f8803-d74c-4070-5246-de4f1561e2ce::6be6a055-448d-48a3-9c55-07d851227c87
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "9a49f0c8-0854-4caa-8db7-750f0eec90f6",
                "url": "/v2/routes/9a49f0c8-0854-4caa-8db7-750f0eec90f6",
                "created_at": "2015-04-04T12:51:35+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "a5ee1cf3-57ee-457c-87e5-27f479359b36",
                "domain_guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "domain_url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "apps_url": "/v2/routes/9a49f0c8-0854-4caa-8db7-750f0eec90f6/apps"
              }
            }
          ]
        }
  recorded_at: Sat, 04 Apr 2015 12:51:38 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 5570a3f6-e34a-48d5-4bb0-25be70b7f7ed
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - 7e0f25dc-6b34-427c-6565-a82ad71a3e7f::57705330-e0f5-412f-a0e2-1079c7d42513
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Sat, 04 Apr 2015 12:51:38 GMT
recorded_with: VCR 2.9.3
