---
http_interactions:
- request:
    method: post
    uri: https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"allow_tracking":true,"api_key":"__API_KEY__","beta":null,"confirmed":true,"confirmed_at":"2014/11/18
        01:37:21 -0800","created_at":"2014/11/18 01:37:21 -0800","id":"__USER_ID__@users.heroku.com","email":"__heroku:user__","last_login":"2014/11/25
        00:52:59 -0800","name":" ","updated_at":"2015/04/02 06:48:04 -0700","verified":false,"verified_at":null}'
  recorded_at: Thu, 02 Apr 2015 13:48:18 GMT
- request:
    method: delete
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated/domains/unknown_domain
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - application/json
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global write write-protected
      RateLimit-Remaining:
      - '2179'
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"resource":"domain_name","id":"not_found","message":"Couldn''t find
        that domain name."}'
  recorded_at: Thu, 02 Apr 2015 13:48:19 GMT
recorded_with: VCR 2.9.3
