{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-10-22T21:10:39.203467\"}"},"http_version":null},"recorded_at":"Thu, 22 Oct 2015 20:55:54 GMT"},{"request":{"method":"post","uri":"https://api.cloudcontrol.com/app","body":{"encoding":"UTF-8","string":"{\"repository_type\":\"git\",\"name\":\"nucleustestappminproperties87\",\"type\":\"nodejs\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":400,"message":null},"headers":{"Allow":["GET, POST, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"Bad Request {\"name\": \"App with this Name already exists.\"}"},"http_version":null},"recorded_at":"Thu, 22 Oct 2015 20:55:54 GMT"}],"recorded_with":"VCR 2.9.3"}