{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-06-20T10:09:04.258557\"}"},"http_version":null},"recorded_at":"Sat, 20 Jun 2015 09:54:12 GMT"},{"request":{"method":"post","uri":"https://api.cloudcontrol.com/app","body":{"encoding":"UTF-8","string":"{\"repository_type\":\"git\",\"name\":\"paasaltestappminproperties69\",\"type\":\"nodejs\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":400,"message":null},"headers":{"Allow":["GET, POST, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"Bad Request {\"name\": \"App with this Name already exists.\"}"},"http_version":null},"recorded_at":"Sat, 20 Jun 2015 09:54:13 GMT"}],"recorded_with":"VCR 2.9.3"}