{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["3ef358ad-790f-4ccb-7944-7aff01e69a7e"], "X-Vcap-Request-Id":["adad68a3-722d-44b4-57e8-696bf5152984::7213916b-f383-4ce5-8478-fe2be21e8e15"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:29:37 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["b7602758-c905-46ca-772b-48cb694471e4, 4e762650-fc05-43b7-4885-76d2dc55b73e"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"411198bd-00cd-40bb-b29c-d1b0f385c172\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:29:37 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["43ff0283-eed7-42c8-518a-6c3f38d6b1a3"], "X-Vcap-Request-Id":["ae75e2ee-76dd-4001-431d-8d2c03ec84ab::3f51a23b-a890-43a7-a370-2bdc91be8380"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"b45e0373-49a8-4e70-b38f-76aeae572a16\",\n        \"url\": \"/v2/apps/b45e0373-49a8-4e70-b38f-76aeae572a16\",\n        \"created_at\": \"2015-04-24T08:29:25+00:00\",\n        \"updated_at\": \"2015-04-24T08:29:35+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_test_var_value\",\n          \"our_test_var_key2\": \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"26d90eb4-b422-4040-bce5-d7f20178deb4\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": null,\n        \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/b45e0373-49a8-4e70-b38f-76aeae572a16/events\",\n        \"service_bindings_url\": \"/v2/apps/b45e0373-49a8-4e70-b38f-76aeae572a16/service_bindings\",\n        \"routes_url\": \"/v2/apps/b45e0373-49a8-4e70-b38f-76aeae572a16/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:29:37 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/b45e0373-49a8-4e70-b38f-76aeae572a16/env","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["877dae6b-a7e6-4ee9-41fb-ffd2476ba64e"], "X-Vcap-Request-Id":["01736070-039a-49f0-48b1-b4ccd32064ba::f432c728-cef3-475d-89ae-ba3134260cbc"]},"body":{"encoding":"UTF-8","string":"{\n  \"staging_env_json\": {\n\n  },\n  \"running_env_json\": {\n\n  },\n  \"environment_json\": {\n    \"our_test_var_key\": \"our_test_var_value\",\n    \"our_test_var_key2\": \"our_test_var_value2\"\n  },\n  \"system_env_json\": {\n    \"VCAP_SERVICES\": {\n\n    }\n  },\n  \"application_env_json\": {\n    \"VCAP_APPLICATION\": {\n      \"limits\": {\n        \"mem\": 256,\n        \"disk\": 1024,\n        \"fds\": 16384\n      },\n      \"application_version\": \"26d90eb4-b422-4040-bce5-d7f20178deb4\",\n      \"application_name\": \"paasal-test-app-all-updated\",\n      \"application_uris\": [\n        \"b45e0373-49a8-4e70-b38f-76aeae572a16.10.244.0.34.xip.io\"\n      ],\n      \"version\": \"26d90eb4-b422-4040-bce5-d7f20178deb4\",\n      \"name\": \"paasal-test-app-all-updated\",\n      \"space_name\": \"development\",\n      \"space_id\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n      \"uris\": [\n        \"b45e0373-49a8-4e70-b38f-76aeae572a16.10.244.0.34.xip.io\"\n      ],\n      \"users\": null\n    }\n  }\n}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:29:37 GMT"},[...]
{"request":{"method":"put","uri":"https://api.10.244.0.34.xip.io/v2/apps/b45e0373-49a8-4e70-b38f-76aeae572a16","body":{"encoding":"UTF-8","string":"{\"environment_json\":{\"our_test_var_key\":\"our_updated_test_var_value\",\"our_test_var_key2\":\"our_test_var_value2\"}}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requ[...]
