---
http_interactions:
- request:
    method: post
    uri: https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"allow_tracking":true,"api_key":"__API_KEY__","beta":null,"confirmed":true,"confirmed_at":"2014/11/18
        01:37:21 -0800","created_at":"2014/11/18 01:37:21 -0800","id":"__USER_ID__@users.heroku.com","email":"__heroku:user__","last_login":"2014/11/25
        00:52:59 -0800","name":" ","updated_at":"2015/03/19 09:37:05 -0700","verified":false,"verified_at":null}'
  recorded_at: Thu, 19 Mar 2015 16:37:41 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated/domains
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - hostname adomainthatishopefullynotusedontheplatform.de..paasal-test-app-all-updated.herokuapp.com
      Content-Type:
      - application/json
      ETag:
      - '"ec79c55255ca74c1db1d1f0c0315783a"'
      Last-Modified:
      - Thu, 19 Mar 2015 16:30:05 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '1790'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"app":{"id":"2b04388f-0b2a-48e1-b7d6-3301afb77c4d","name":"paasal-test-app-all-updated"},"created_at":"2015-03-19T16:30:05Z","hostname":"adomainthatishopefullynotusedontheplatform.de","id":"596e9243-f870-4f74-bff8-fc7f1c37088b","updated_at":"2015-03-19T16:30:05Z"},{"app":{"id":"2b04388f-0b2a-48e1-b7d6-3301afb77c4d","name":"paasal-test-app-all-updated"},"created_at":"2015-03-19T16:28:10Z","hostname":"paasal-test-app-all-updated.herokuapp.com","id":"31b7403a-83ab-4be2-9c26-176361a67165","updated_at":"2015-03-19T16:28:37Z"}]'
  recorded_at: Thu, 19 Mar 2015 16:37:42 GMT
- request:
    method: delete
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated/domains/596e9243-f870-4f74-bff8-fc7f1c37088b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"af5065af5791e012d527eebf493eee03"'
      Last-Modified:
      - Thu, 19 Mar 2015 16:30:05 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global write write-protected
      RateLimit-Remaining:
      - '1789'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"app":{"id":"2b04388f-0b2a-48e1-b7d6-3301afb77c4d","name":"paasal-test-app-all-updated"},"created_at":"2015-03-19T16:30:05Z","hostname":"adomainthatishopefullynotusedontheplatform.de","id":"596e9243-f870-4f74-bff8-fc7f1c37088b","updated_at":"2015-03-19T16:30:05Z"}'
  recorded_at: Thu, 19 Mar 2015 16:37:43 GMT
recorded_with: VCR 2.9.3
