---
http_interactions:
- request:
    method: post
    uri: https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"allow_tracking":true,"api_key":"__API_KEY__","beta":null,"confirmed":true,"confirmed_at":"2014/11/18
        01:37:21 -0800","created_at":"2014/11/18 01:37:21 -0800","id":"__USER_ID__@users.heroku.com","email":"__heroku:user__","last_login":"2014/11/25
        00:52:59 -0800","name":" ","updated_at":"2015/04/06 13:46:28 -0700","verified":false,"verified_at":null}'
  recorded_at: Mon, 06 Apr 2015 20:46:37 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated/domains
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - hostname adomainthatishopefullynotusedontheplatform.de..paasal-test-app-all-updated.herokuapp.com
      Content-Type:
      - application/json
      ETag:
      - '"ffdcb3806fb159804042e4c43ef0b16c"'
      Last-Modified:
      - Mon, 06 Apr 2015 20:36:52 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '1974'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"app":{"id":"5b811f57-85dd-40bc-b95c-cb80903f88ee","name":"paasal-test-app-all-updated"},"created_at":"2015-04-06T20:36:52Z","hostname":"adomainthatishopefullynotusedontheplatform.de","id":"928850f8-8112-4a75-a978-4007a447cad0","updated_at":"2015-04-06T20:36:52Z"},{"app":{"id":"5b811f57-85dd-40bc-b95c-cb80903f88ee","name":"paasal-test-app-all-updated"},"created_at":"2015-04-06T20:36:50Z","hostname":"heroku.adomainthatishopefullynotusedontheplatform.de","id":"9eba0b79-217b-46ee-850a-a56157b7bed0","updated_at":"2015-04-06T20:36:50Z"},{"app":{"id":"5b811f57-85dd-40bc-b95c-cb80903f88ee","name":"paasal-test-app-all-updated"},"created_at":"2015-04-06T20:34:46Z","hostname":"paasal-test-app-all-updated.herokuapp.com","id":"c8d457e5-b5ca-40bc-a941-a01171ee13f4","updated_at":"2015-04-06T20:35:16Z"}]'
  recorded_at: Mon, 06 Apr 2015 20:46:38 GMT
- request:
    method: delete
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated/domains/9eba0b79-217b-46ee-850a-a56157b7bed0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"5a1d725b8dc9ec9b52894e07e53c76f8"'
      Last-Modified:
      - Mon, 06 Apr 2015 20:36:50 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global write write-protected
      RateLimit-Remaining:
      - '1973'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"app":{"id":"5b811f57-85dd-40bc-b95c-cb80903f88ee","name":"paasal-test-app-all-updated"},"created_at":"2015-04-06T20:36:50Z","hostname":"heroku.adomainthatishopefullynotusedontheplatform.de","id":"9eba0b79-217b-46ee-850a-a56157b7bed0","updated_at":"2015-04-06T20:36:50Z"}'
  recorded_at: Mon, 06 Apr 2015 20:46:38 GMT
recorded_with: VCR 2.9.3
