---
http_interactions:
- request:
    method: post
    uri: https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"allow_tracking":true,"api_key":"__API_KEY__","beta":null,"confirmed":true,"confirmed_at":"2014/11/18
        01:37:21 -0800","created_at":"2014/11/18 01:37:21 -0800","id":"__USER_ID__@users.heroku.com","email":"__heroku:user__","last_login":"2014/11/25
        00:52:59 -0800","name":" ","updated_at":"2015/04/06 13:38:50 -0700","verified":false,"verified_at":null}'
  recorded_at: Mon, 06 Apr 2015 20:43:05 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"b2ea66d4005998e9760524e60fd305fd"'
      Last-Modified:
      - Mon, 06 Apr 2015 20:40:10 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '1956'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"archived_at":null,"buildpack_provided_description":"Node.js","build_stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"created_at":"2015-04-06T20:34:46Z","id":"5b811f57-85dd-40bc-b95c-cb80903f88ee","git_url":"git@heroku.com:paasal-test-app-all-updated.git","maintenance":false,"name":"paasal-test-app-all-updated","owner":{"email":"__heroku:user__","id":"__heroku:id__"},"region":{"id":"59accabd-516d-4f0e-83e6-6e3757701145","name":"us"},"released_at":"2015-04-06T20:38:00Z","repo_size":2703855,"slug_size":12565235,"stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"updated_at":"2015-04-06T20:40:10Z","web_url":"https://paasal-test-app-all-updated.herokuapp.com/"}'
  recorded_at: Mon, 06 Apr 2015 20:43:05 GMT
[...]
- request:
    method: post
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated/log-sessions
    body:
      encoding: UTF-8
      string: '{"source":"heroku","dyno":"api","tail":false}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '1954'
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"created_at":"2015-04-06T20:42:33Z","id":"c6bd82ed-1023-4fc3-ae23-7e8daf597dd9","logplex_url":"https://logplex.heroku.com/sessions/69bf107a-edc3-4674-ae27-8c32d1f82613?srv=1428352953","updated_at":"2015-04-06T20:42:33Z"}'
  recorded_at: Mon, 06 Apr 2015 20:43:07 GMT
- request:
    method: get
    uri: https://logplex.heroku.com/sessions/69bf107a-edc3-4674-ae27-8c32d1f82613?srv=1428352953
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: |
        2015-04-06T20:39:18.131888+00:00 heroku[api]: Set maintenance mode off by __heroku:user__
        2015-04-06T20:39:28.163294+00:00 heroku[api]: Set maintenance mode on by __heroku:user__
        2015-04-06T20:39:37.868982+00:00 heroku[api]: Set maintenance mode on by __heroku:user__
        2015-04-06T20:39:47.788662+00:00 heroku[api]: Set maintenance mode on by __heroku:user__
        2015-04-06T20:39:53.466409+00:00 heroku[api]: Set maintenance mode off by __heroku:user__
        2015-04-06T20:40:04.252523+00:00 heroku[api]: Set maintenance mode on by __heroku:user__
        2015-04-06T20:40:10.020055+00:00 heroku[api]: Set maintenance mode off by __heroku:user__
  recorded_at: Mon, 06 Apr 2015 20:43:07 GMT
[...]
- request:
    method: get
    uri: https://logplex.heroku.com/sessions/26fc3ede-d3e3-4576-bcc1-c05120015b11?srv=1428352959
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: |
        2015-04-06T20:39:18.131888+00:00 heroku[api]: Set maintenance mode off by __heroku:user__
        2015-04-06T20:39:10.546014+00:00 heroku[web.1]: State changed from starting to up
        2015-04-06T20:39:28.163294+00:00 heroku[api]: Set maintenance mode on by __heroku:user__
        2015-04-06T20:39:37.868982+00:00 heroku[api]: Set maintenance mode on by __heroku:user__
        2015-04-06T20:39:47.788662+00:00 heroku[api]: Set maintenance mode on by __heroku:user__
        2015-04-06T20:39:53.466409+00:00 heroku[api]: Set maintenance mode off by __heroku:user__
        2015-04-06T20:40:04.252523+00:00 heroku[api]: Set maintenance mode on by __heroku:user__
        2015-04-06T20:40:10.020055+00:00 heroku[api]: Set maintenance mode off by __heroku:user__
        2015-04-06T20:41:39.929914+00:00 heroku[router]: at=info method=GET path="/" host=paasal-test-app-all-updated.herokuapp.com request_id=4ebed5c8-7f1f-49a0-8573-8e0b89be72af fwd="188.193.127.6" dyno=web.1 connect=1ms service=116ms status=200 bytes=3570
  recorded_at: Mon, 06 Apr 2015 20:43:21 GMT
recorded_with: VCR 2.9.3
