---
http_interactions:
- request:
    method: post
    uri: https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"allow_tracking":true,"api_key":"__API_KEY__","beta":null,"confirmed":true,"confirmed_at":"2014/11/18
        01:37:21 -0800","created_at":"2014/11/18 01:37:21 -0800","id":"__USER_ID__@users.heroku.com","email":"__heroku:user__","last_login":"2014/11/25
        00:52:59 -0800","name":" ","updated_at":"2015/04/02 06:39:42 -0700","verified":false,"verified_at":null}'
  recorded_at: Thu, 02 Apr 2015 13:43:38 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"d791b6b47e65d2caf8043a8d8d98cc56"'
      Last-Modified:
      - Thu, 02 Apr 2015 13:41:06 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2163'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"archived_at":null,"buildpack_provided_description":"Node.js","build_stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"created_at":"2015-04-02T13:34:48Z","id":"d6f1e01d-e744-4d61-9efc-7f37fbbd58e7","git_url":"git@heroku.com:paasal-test-app-all-updated.git","maintenance":false,"name":"paasal-test-app-all-updated","owner":{"email":"__heroku:user__","id":"__heroku:id__"},"region":{"id":"59accabd-516d-4f0e-83e6-6e3757701145","name":"us"},"released_at":"2015-04-02T13:38:29Z","repo_size":2703627,"slug_size":12374023,"stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"updated_at":"2015-04-02T13:41:06Z","web_url":"https://paasal-test-app-all-updated.herokuapp.com/"}'
  recorded_at: Thu, 02 Apr 2015 13:43:39 GMT
[...]
- request:
    method: post
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated/log-sessions
    body:
      encoding: UTF-8
      string: '{"source":"heroku","dyno":"api","tail":false}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2161'
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"created_at":"2015-04-02T13:43:40Z","id":"c22dd924-f54a-418b-9fe5-cb73745f0d54","logplex_url":"https://logplex.heroku.com/sessions/d5b55f00-3d2a-4fa9-a763-f59de66a49e0?srv=1427982220","updated_at":"2015-04-02T13:43:40Z"}'
  recorded_at: Thu, 02 Apr 2015 13:43:41 GMT
- request:
    method: get
    uri: https://logplex.heroku.com/sessions/d5b55f00-3d2a-4fa9-a763-f59de66a49e0?srv=1427982220
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: |
        2015-04-02T13:40:07.544869+00:00 heroku[api]: Set maintenance mode off by __heroku:user__
        2015-04-02T13:40:18.383750+00:00 heroku[api]: Set maintenance mode on by __heroku:user__
        2015-04-02T13:40:29.324761+00:00 heroku[api]: Set maintenance mode on by __heroku:user__
        2015-04-02T13:40:47.201117+00:00 heroku[api]: Set maintenance mode off by __heroku:user__
        2015-04-02T13:40:40.452031+00:00 heroku[api]: Set maintenance mode on by __heroku:user__
        2015-04-02T13:40:59.950090+00:00 heroku[api]: Set maintenance mode on by __heroku:user__
        2015-04-02T13:41:06.433434+00:00 heroku[api]: Set maintenance mode off by __heroku:user__
  recorded_at: Thu, 02 Apr 2015 13:43:41 GMT
[...]
