---
http_interactions:
- request:
    method: post
    uri: https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"allow_tracking":true,"api_key":"__API_KEY__","beta":null,"confirmed":true,"confirmed_at":"2014/11/18
        01:37:21 -0800","created_at":"2014/11/18 01:37:21 -0800","id":"__USER_ID__@users.heroku.com","email":"__heroku:user__","last_login":"2014/11/25
        00:52:59 -0800","name":" ","updated_at":"2015/04/06 13:38:50 -0700","verified":false,"verified_at":null}'
  recorded_at: Mon, 06 Apr 2015 20:42:18 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"b2ea66d4005998e9760524e60fd305fd"'
      Last-Modified:
      - Mon, 06 Apr 2015 20:40:10 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '1966'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"archived_at":null,"buildpack_provided_description":"Node.js","build_stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"created_at":"2015-04-06T20:34:46Z","id":"5b811f57-85dd-40bc-b95c-cb80903f88ee","git_url":"git@heroku.com:paasal-test-app-all-updated.git","maintenance":false,"name":"paasal-test-app-all-updated","owner":{"email":"__heroku:user__","id":"__heroku:id__"},"region":{"id":"59accabd-516d-4f0e-83e6-6e3757701145","name":"us"},"released_at":"2015-04-06T20:38:00Z","repo_size":2703855,"slug_size":12565235,"stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"updated_at":"2015-04-06T20:40:10Z","web_url":"https://paasal-test-app-all-updated.herokuapp.com/"}'
  recorded_at: Mon, 06 Apr 2015 20:42:19 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated/builds
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - created_at 2015-04-06T20:37:35.198150+00:00..2015-04-06T20:37:35.198150+00:00
      Content-Type:
      - application/json
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '1965'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "created_at": "2015-04-06T20:37:35+00:00",
            "id": "74ae766e-a16b-4ee1-bac6-0853fdc93c14",
            "slug": {
              "id": "a335a53a-804e-4cee-a58f-39c53360aab8"
            },
            "source_blob": {
              "url": null,
              "version": null,
              "version_description": null
            },
            "status": "succeeded",
            "updated_at": "2015-04-06T20:38:01+00:00",
            "user": {
              "email": "__heroku:user__",
              "id": "__heroku:id__"
            }
          }
        ]
  recorded_at: Mon, 06 Apr 2015 20:42:20 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated/builds/74ae766e-a16b-4ee1-bac6-0853fdc93c14/result
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '1963'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |-
        {
          "build": {
            "id": "74ae766e-a16b-4ee1-bac6-0853fdc93c14",
            "status": "succeeded"
          },
          "exit_code": null,
          "lines": [
            {
              "stream": "STDOUT",
              "line": "\n"
            },
            {
              "stream": "STDOUT",
              "line": "-----> Fetching custom git buildpack... done\n"
            },
            {
              "stream": "STDOUT",
              "line": "-----> Node.js app detected\n"
            },
            {
              "stream": "STDOUT",
              "line": "\n"
            },
            {
              "stream": "STDOUT",
              "line": "-----> Reading application state\n"
            },
            {
  [...]
[...]
