---
http_interactions:
- request:
    method: post
    uri: https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"allow_tracking":true,"api_key":"__API_KEY__","beta":null,"confirmed":true,"confirmed_at":"2014/11/18
        01:37:21 -0800","created_at":"2014/11/18 01:37:21 -0800","id":"__USER_ID__@users.heroku.com","email":"__heroku:user__","last_login":"2015/04/08
        09:21:45 -0700","name":" ","updated_at":"2015/04/08 09:41:08 -0700","verified":false,"verified_at":null}'
  recorded_at: Wed, 08 Apr 2015 16:50:37 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated/domains
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - hostname adomainthatishopefullynotusedontheplatform.de..paasal-test-app-all-updated.herokuapp.com
      Content-Type:
      - application/json
      ETag:
      - '"0cfce5b377cf57ee60fe61724d461f75"'
      Last-Modified:
      - Wed, 08 Apr 2015 16:50:28 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2311'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"app":{"id":"1aeedf64-e713-40fc-bc75-c745db7c05cd","name":"paasal-test-app-all-updated"},"created_at":"2015-04-08T16:50:28Z","hostname":"adomainthatishopefullynotusedontheplatform.de","id":"bede3350-8a4c-4746-8c69-158b33cdb9c2","updated_at":"2015-04-08T16:50:28Z"},{"app":{"id":"1aeedf64-e713-40fc-bc75-c745db7c05cd","name":"paasal-test-app-all-updated"},"created_at":"2015-04-08T16:50:26Z","hostname":"heroku.adomainthatishopefullynotusedontheplatform.de","id":"b28be67f-80c4-4742-acf3-9a0a89b7ebf4","updated_at":"2015-04-08T16:50:26Z"},{"app":{"id":"1aeedf64-e713-40fc-bc75-c745db7c05cd","name":"paasal-test-app-all-updated"},"created_at":"2015-04-08T16:47:50Z","hostname":"paasal-test-app-all-updated.herokuapp.com","id":"803aa22b-5823-4f09-b607-84da0cc3ad53","updated_at":"2015-04-08T16:48:24Z"}]'
  recorded_at: Wed, 08 Apr 2015 16:50:37 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated/domains/bede3350-8a4c-4746-8c69-158b33cdb9c2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"613bfeca93855091dcf20d8e29662c24"'
      Last-Modified:
      - Wed, 08 Apr 2015 16:50:28 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2310'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"app":{"id":"1aeedf64-e713-40fc-bc75-c745db7c05cd","name":"paasal-test-app-all-updated"},"created_at":"2015-04-08T16:50:28Z","hostname":"adomainthatishopefullynotusedontheplatform.de","id":"bede3350-8a4c-4746-8c69-158b33cdb9c2","updated_at":"2015-04-08T16:50:28Z"}'
  recorded_at: Wed, 08 Apr 2015 16:50:38 GMT
recorded_with: VCR 2.9.3
