---
http_interactions:
- request:
    method: post
    uri: https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"allow_tracking":true,"api_key":"__API_KEY__","beta":null,"confirmed":true,"confirmed_at":"2014/11/18
        01:37:21 -0800","created_at":"2014/11/18 01:37:21 -0800","id":"__USER_ID__@users.heroku.com","email":"__heroku:user__","last_login":"2014/11/25
        00:52:59 -0800","name":" ","updated_at":"2015/04/02 06:39:42 -0700","verified":false,"verified_at":null}'
  recorded_at: Thu, 02 Apr 2015 13:42:55 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"d791b6b47e65d2caf8043a8d8d98cc56"'
      Last-Modified:
      - Thu, 02 Apr 2015 13:41:06 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2182'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"archived_at":null,"buildpack_provided_description":"Node.js","build_stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"created_at":"2015-04-02T13:34:48Z","id":"d6f1e01d-e744-4d61-9efc-7f37fbbd58e7","git_url":"git@heroku.com:paasal-test-app-all-updated.git","maintenance":false,"name":"paasal-test-app-all-updated","owner":{"email":"__heroku:user__","id":"__heroku:id__"},"region":{"id":"59accabd-516d-4f0e-83e6-6e3757701145","name":"us"},"released_at":"2015-04-02T13:38:29Z","repo_size":2703627,"slug_size":12374023,"stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"updated_at":"2015-04-02T13:41:06Z","web_url":"https://paasal-test-app-all-updated.herokuapp.com/"}'
  recorded_at: Thu, 02 Apr 2015 13:42:56 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated/builds
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - created_at 2015-04-02T13:37:50.458978+00:00..2015-04-02T13:37:50.458978+00:00
      Content-Type:
      - application/json
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2181'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "created_at": "2015-04-02T13:37:50+00:00",
            "id": "644c81cb-d0ac-482d-a302-b845232cf664",
            "slug": {
              "id": "28ae8aec-8824-4cd7-a2c5-589628c11ebf"
            },
            "source_blob": {
              "url": null,
              "version": null,
              "version_description": null
            },
            "status": "succeeded",
            "updated_at": "2015-04-02T13:38:29+00:00",
            "user": {
              "email": "__heroku:user__",
              "id": "__heroku:id__"
            }
          }
        ]
  recorded_at: Thu, 02 Apr 2015 13:42:57 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated/builds/644c81cb-d0ac-482d-a302-b845232cf664/result
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2179'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |-
        {
          "build": {
            "id": "644c81cb-d0ac-482d-a302-b845232cf664",
            "status": "succeeded"
          },
          "exit_code": null,
          "lines": [
            {
              "stream": "STDOUT",
              "line": "\n"
            },
            {
              "stream": "STDOUT",
              "line": "-----> Fetching custom git buildpack... done\n"
            },
            {
              "stream": "STDOUT",
              "line": "-----> Node.js app detected\n"
            },
            {
              "stream": "STDOUT",
              "line": "\n"
            },
            {
              "stream": "STDOUT",
              "line": "-----> Reading application state\n"
            },
            {
  [...]
