---
http_interactions:
- request:
    method: post
    uri: https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"allow_tracking":true,"api_key":"__API_KEY__","beta":null,"confirmed":true,"confirmed_at":"2014/11/18
        01:37:21 -0800","created_at":"2014/11/18 01:37:21 -0800","id":"__USER_ID__@users.heroku.com","email":"__heroku:user__","last_login":"2014/11/25
        00:52:59 -0800","name":" ","updated_at":"2015/04/02 05:56:32 -0700","verified":false,"verified_at":null}'
  recorded_at: Thu, 02 Apr 2015 13:35:00 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/paasal-test-app-min-properties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"124bdef32bc1ddcbc7a33982ff3174a6"'
      Last-Modified:
      - Thu, 02 Apr 2015 13:34:55 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2399'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"archived_at":null,"buildpack_provided_description":null,"build_stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"created_at":"2015-04-02T13:34:54Z","id":"cba033bc-7ca1-4e30-a1ca-4921fd3c59e1","git_url":"git@heroku.com:paasal-test-app-min-properties.git","maintenance":false,"name":"paasal-test-app-min-properties","owner":{"email":"__heroku:user__","id":"__heroku:id__"},"region":{"id":"59accabd-516d-4f0e-83e6-6e3757701145","name":"us"},"released_at":"2015-04-02T13:34:55Z","repo_size":null,"slug_size":null,"stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"updated_at":"2015-04-02T13:34:55Z","web_url":"https://paasal-test-app-min-properties.herokuapp.com/"}'
  recorded_at: Thu, 02 Apr 2015 13:35:01 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/cba033bc-7ca1-4e30-a1ca-4921fd3c59e1/dynos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"ec5c5ae13434766108b9afb9a42e6364"'
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2398'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 02 Apr 2015 13:35:02 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/cba033bc-7ca1-4e30-a1ca-4921fd3c59e1/formation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"124bdef32bc1ddcbc7a33982ff3174a6"'
      Last-Modified:
      - Thu, 02 Apr 2015 13:34:55 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2397'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 02 Apr 2015 13:35:03 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/cba033bc-7ca1-4e30-a1ca-4921fd3c59e1/buildpack-installations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - ordinal 0..0
      Content-Type:
      - application/json
      ETag:
      - '"87d7b85882f94ae872184eafce30ccd8"'
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2396'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"buildpack":{"url":"https://github.com/heroku/heroku-buildpack-java"},"ordinal":0}]'
  recorded_at: Thu, 02 Apr 2015 13:35:03 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/cba033bc-7ca1-4e30-a1ca-4921fd3c59e1/releases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - version 1..2
      Content-Type:
      - application/json
      ETag:
      - '"5eb4aaa8dbc07ba312b4759bd4e70931"'
      Last-Modified:
      - Thu, 02 Apr 2015 06:34:55 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read-protected write-protected
      RateLimit-Remaining:
      - '2395'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"app":{"id":"cba033bc-7ca1-4e30-a1ca-4921fd3c59e1","name":"paasal-test-app-min-properties"},"created_at":"2015-04-02T13:34:54Z","description":"Initial
        release","id":"f43168b8-207f-4aeb-bfe6-8baee2f8b718","slug":null,"updated_at":"2015-04-02T13:34:54Z","user":{"email":"__heroku:user__","id":"__heroku:id__"},"version":1},{"app":{"id":"cba033bc-7ca1-4e30-a1ca-4921fd3c59e1","name":"paasal-test-app-min-properties"},"created_at":"2015-04-02T13:34:55Z","description":"Enable
        Logplex","id":"cea7c428-a221-4a1a-b783-f822cebf2b28","slug":null,"updated_at":"2015-04-02T13:34:55Z","user":{"email":"__heroku:user__","id":"__heroku:id__"},"version":2}]'
  recorded_at: Thu, 02 Apr 2015 13:35:04 GMT
recorded_with: VCR 2.9.3
