---
http_interactions:
- request:
    method: post
    uri: https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"allow_tracking":true,"api_key":"__API_KEY__","beta":null,"confirmed":true,"confirmed_at":"2014/11/18
        01:37:21 -0800","created_at":"2014/11/18 01:37:21 -0800","id":"__USER_ID__@users.heroku.com","email":"__heroku:user__","last_login":"2015/04/08
        09:21:45 -0700","name":" ","updated_at":"2015/04/08 09:41:08 -0700","verified":false,"verified_at":null}'
  recorded_at: Wed, 08 Apr 2015 16:48:03 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/paasal-test-app-min-properties
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"dca42fc752cde9ebcad2c2cc2bfb6fdc"'
      Last-Modified:
      - Wed, 08 Apr 2015 16:47:57 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2381'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"archived_at":null,"buildpack_provided_description":null,"build_stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"created_at":"2015-04-08T16:47:56Z","id":"6fa4386d-4c59-43b3-9c2d-22cfe53c24a1","git_url":"git@heroku.com:paasal-test-app-min-properties.git","maintenance":false,"name":"paasal-test-app-min-properties","owner":{"email":"__heroku:user__","id":"__heroku:id__"},"region":{"id":"59accabd-516d-4f0e-83e6-6e3757701145","name":"us"},"released_at":"2015-04-08T16:47:57Z","repo_size":null,"slug_size":null,"stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"updated_at":"2015-04-08T16:47:57Z","web_url":"https://paasal-test-app-min-properties.herokuapp.com/"}'
  recorded_at: Wed, 08 Apr 2015 16:48:04 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/6fa4386d-4c59-43b3-9c2d-22cfe53c24a1/dynos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"ec5c5ae13434766108b9afb9a42e6364"'
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2380'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 08 Apr 2015 16:48:05 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/6fa4386d-4c59-43b3-9c2d-22cfe53c24a1/formation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"dca42fc752cde9ebcad2c2cc2bfb6fdc"'
      Last-Modified:
      - Wed, 08 Apr 2015 16:47:57 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2379'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 08 Apr 2015 16:48:05 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/6fa4386d-4c59-43b3-9c2d-22cfe53c24a1/buildpack-installations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - ordinal 0..0
      Content-Type:
      - application/json
      ETag:
      - '"87d7b85882f94ae872184eafce30ccd8"'
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2378'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"buildpack":{"url":"https://github.com/heroku/heroku-buildpack-nodejs"},"ordinal":0}]'
  recorded_at: Wed, 08 Apr 2015 16:48:06 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/6fa4386d-4c59-43b3-9c2d-22cfe53c24a1/releases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - version 1..2
      Content-Type:
      - application/json
      ETag:
      - '"5eb4aaa8dbc07ba312b4759bd4e70931"'
      Last-Modified:
      - Wed, 08 Apr 2015 09:47:57 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read-protected write-protected
      RateLimit-Remaining:
      - '2377'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"app":{"id":"6fa4386d-4c59-43b3-9c2d-22cfe53c24a1","name":"paasal-test-app-min-properties"},"created_at":"2015-04-08T16:47:56Z","description":"Initial
        release","id":"52413af1-c140-448e-a23e-9c158eeab765","slug":null,"updated_at":"2015-04-08T16:47:56Z","user":{"email":"__heroku:user__","id":"__heroku:id__"},"version":1},{"app":{"id":"6fa4386d-4c59-43b3-9c2d-22cfe53c24a1","name":"paasal-test-app-min-properties"},"created_at":"2015-04-08T16:47:57Z","description":"Enable
        Logplex","id":"13a74839-3539-48f0-b473-5b395c39ddb7","slug":null,"updated_at":"2015-04-08T16:47:57Z","user":{"email":"__heroku:user__","id":"__heroku:id__"},"version":2}]'
  recorded_at: Wed, 08 Apr 2015 16:48:07 GMT
recorded_with: VCR 2.9.3
