---
http_interactions:
- request:
    method: post
    uri: https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"allow_tracking":true,"api_key":"__API_KEY__","beta":null,"confirmed":true,"confirmed_at":"2014/11/18
        01:37:21 -0800","created_at":"2014/11/18 01:37:21 -0800","id":"__USER_ID__@users.heroku.com","email":"__heroku:user__","last_login":"2014/11/25
        00:52:59 -0800","name":" ","updated_at":"2015/03/25 09:38:03 -0700","verified":false,"verified_at":null}'
  recorded_at: Wed, 25 Mar 2015 16:51:32 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated/domains
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - hostname adomainthatishopefullynotusedontheplatform.de..paasal-test-app-all-updated.herokuapp.com
      Content-Type:
      - application/json
      ETag:
      - ! '"12dd61173da1dc81be347950a9ffe694"'
      Last-Modified:
      - Wed, 25 Mar 2015 16:51:24 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2301'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: ! '[{"app":{"id":"0bb04d40-51d7-4907-97ed-0fc2b317371b","name":"paasal-test-app-all-updated"},"created_at":"2015-03-25T16:51:24Z","hostname":"adomainthatishopefullynotusedontheplatform.de","id":"ae2fbda1-2100-4d9a-9ee6-8af2412f86ff","updated_at":"2015-03-25T16:51:24Z"},{"app":{"id":"0bb04d40-51d7-4907-97ed-0fc2b317371b","name":"paasal-test-app-all-updated"},"created_at":"2015-03-25T16:51:22Z","hostname":"heroku.adomainthatishopefullynotusedontheplatform.de","id":"ac98fe89-13f7-4e0d-b4ab-eb2e2e49374d","updated_at":"2015-03-25T16:51:22Z"},{"app":{"id":"0bb04d40-51d7-4907-97ed-0fc2b317371b","name":"paasal-test-app-all-updated"},"created_at":"2015-03-25T16:49:03Z","hostname":"paasal-test-app-all-updated.herokuapp.com","id":"77e5ecb1-f714-48bc-ae6c-ba8cbd237688","updated_at":"2015-03-25T16:49:34Z"}]'
  recorded_at: Wed, 25 Mar 2015 16:51:32 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated/domains/ae2fbda1-2100-4d9a-9ee6-8af2412f86ff
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - ! '"232e1bbcd46342267beb4f70244e0f36"'
      Last-Modified:
      - Wed, 25 Mar 2015 16:51:24 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2300'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: ! '{"app":{"id":"0bb04d40-51d7-4907-97ed-0fc2b317371b","name":"paasal-test-app-all-updated"},"created_at":"2015-03-25T16:51:24Z","hostname":"adomainthatishopefullynotusedontheplatform.de","id":"ae2fbda1-2100-4d9a-9ee6-8af2412f86ff","updated_at":"2015-03-25T16:51:24Z"}'
  recorded_at: Wed, 25 Mar 2015 16:51:33 GMT
recorded_with: VCR 2.9.3
