---
http_interactions:
- request:
    method: post
    uri: https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"allow_tracking":true,"api_key":"__API_KEY__","beta":null,"confirmed":true,"confirmed_at":"2014/11/18
        01:37:21 -0800","created_at":"2014/11/18 01:37:21 -0800","id":"__USER_ID__@users.heroku.com","email":"__heroku:user__","last_login":"2014/11/25
        00:52:59 -0800","name":" ","updated_at":"2015/04/02 05:56:32 -0700","verified":false,"verified_at":null}'
  recorded_at: Thu, 02 Apr 2015 13:37:12 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated/domains
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - hostname adomainthatishopefullynotusedontheplatform.de..paasal-test-app-all-updated.herokuapp.com
      Content-Type:
      - application/json
      ETag:
      - '"1f52fd743e819f310fe4c54421f9abd7"'
      Last-Modified:
      - Thu, 02 Apr 2015 13:37:03 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2319'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"app":{"id":"d6f1e01d-e744-4d61-9efc-7f37fbbd58e7","name":"paasal-test-app-all-updated"},"created_at":"2015-04-02T13:37:03Z","hostname":"adomainthatishopefullynotusedontheplatform.de","id":"e9f6d546-f382-4467-943c-abb8a0934cec","updated_at":"2015-04-02T13:37:03Z"},{"app":{"id":"d6f1e01d-e744-4d61-9efc-7f37fbbd58e7","name":"paasal-test-app-all-updated"},"created_at":"2015-04-02T13:37:01Z","hostname":"heroku.adomainthatishopefullynotusedontheplatform.de","id":"30fe173c-b6af-4316-93a0-6c7135df6dec","updated_at":"2015-04-02T13:37:01Z"},{"app":{"id":"d6f1e01d-e744-4d61-9efc-7f37fbbd58e7","name":"paasal-test-app-all-updated"},"created_at":"2015-04-02T13:34:48Z","hostname":"paasal-test-app-all-updated.herokuapp.com","id":"694a0c6e-76fc-43f1-b979-3d06c4bf2446","updated_at":"2015-04-02T13:35:20Z"}]'
  recorded_at: Thu, 02 Apr 2015 13:37:13 GMT
recorded_with: VCR 2.9.3
