---
http_interactions:
- request:
    method: post
    uri: https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"allow_tracking":true,"api_key":"__API_KEY__","beta":null,"confirmed":true,"confirmed_at":"2014/11/18
        01:37:21 -0800","created_at":"2014/11/18 01:37:21 -0800","id":"__USER_ID__@users.heroku.com","email":"__heroku:user__","last_login":"2014/11/25
        00:52:59 -0800","name":" ","updated_at":"2015/04/06 13:31:08 -0700","verified":false,"verified_at":null}'
  recorded_at: Mon, 06 Apr 2015 20:36:41 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated/domains
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - hostname paasal-test-app-all-updated.herokuapp.com..paasal-test-app-all-updated.herokuapp.com
      Content-Type:
      - application/json
      ETag:
      - '"66003b94a9a84669b7c85a7e7fff8381"'
      Last-Modified:
      - Mon, 06 Apr 2015 20:35:16 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2144'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"app":{"id":"5b811f57-85dd-40bc-b95c-cb80903f88ee","name":"paasal-test-app-all-updated"},"created_at":"2015-04-06T20:34:46Z","hostname":"paasal-test-app-all-updated.herokuapp.com","id":"c8d457e5-b5ca-40bc-a941-a01171ee13f4","updated_at":"2015-04-06T20:35:16Z"}]'
  recorded_at: Mon, 06 Apr 2015 20:36:41 GMT
recorded_with: VCR 2.9.3
