---
http_interactions:
- request:
    method: post
    uri: https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"allow_tracking":true,"api_key":"__API_KEY__","beta":null,"confirmed":true,"confirmed_at":"2014/11/18
        01:37:21 -0800","created_at":"2014/11/18 01:37:21 -0800","id":"__USER_ID__@users.heroku.com","email":"__heroku:user__","last_login":"2014/11/25
        00:52:59 -0800","name":" ","updated_at":"2015/03/25 09:38:03 -0700","verified":false,"verified_at":null}'
  recorded_at: Wed, 25 Mar 2015 16:49:20 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - name croeck-wordfinder..paasal-test-app-min-properties
      Content-Type:
      - application/json
      ETag:
      - ! '"3aa5c79682622f23403781116f76d92e"'
      Last-Modified:
      - Wed, 25 Mar 2015 16:49:09 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2354'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: ! '[{"archived_at":null,"buildpack_provided_description":"Node.js","build_stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"created_at":"2014-11-18T09:49:10Z","id":"689a5a2c-c5de-4969-a058-f4daad7e4f51","git_url":"git@heroku.com:croeck-wordfinder.git","maintenance":false,"name":"croeck-wordfinder","owner":{"email":"__heroku:user__","id":"__heroku:id__"},"region":{"id":"59accabd-516d-4f0e-83e6-6e3757701145","name":"us"},"released_at":"2014-11-18T09:51:02Z","repo_size":2148941,"slug_size":null,"stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"updated_at":"2014-12-05T15:37:46Z","web_url":"https://croeck-wordfinder.herokuapp.com/"},{"archived_at":null,"buildpack_provided_description":"Ruby","build_stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"created_at":"2015-03-19T18:11:52Z","id":"e0946358-8ab4-45c5-ab5a-9ee67e937318","git_url":"git@heroku.com:paasal.git","maintenance":false,"name":"paasal","owner":{"email":"__heroku:user__","id":"__heroku:id__"},"region":{"id":"ed30241c-ed8c-4bb6-9714-61953675d0b4","name":"eu"},"released_at":"2015-03-19T19:48:08Z","re[...]
- request:
    method: get
    uri: https://api.heroku.com/apps/689a5a2c-c5de-4969-a058-f4daad7e4f51/dynos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - ! '"8b4b4935ed3df6446576092054903801"'
      Last-Modified:
      - Tue, 18 Nov 2014 10:59:14 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2353'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: ! '[{"attach_url":null,"command":"node server.js","created_at":"2014-11-18T10:59:14Z","id":"6b7fddba-1e76-49ae-b066-e1c26ad5b49a","name":"web.1","release":{"id":"0a32a674-7df8-4b49-9510-0e4c0c83a5ad","version":3},"size":"1X","state":"idle","type":"web","updated_at":"2014-11-18T10:59:14Z"}]'
  recorded_at: Wed, 25 Mar 2015 16:49:21 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/689a5a2c-c5de-4969-a058-f4daad7e4f51/formation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - ! '"1d620a513fdb0ea696f736b1ad823c77"'
      Last-Modified:
      - Fri, 05 Dec 2014 15:37:46 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2352'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: ! '[{"command":"node server.js","created_at":"2014-11-18T09:51:02Z","id":"26f7af6b-348c-404d-969b-98b26d13054f","type":"web","quantity":1,"size":"1X","updated_at":"2014-11-18T09:52:13Z"}]'
  recorded_at: Wed, 25 Mar 2015 16:49:21 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/689a5a2c-c5de-4969-a058-f4daad7e4f51/buildpack-installations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2351'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: ! '[]'
  recorded_at: Wed, 25 Mar 2015 16:49:22 GMT
[...]
- request:
    method: get
    uri: https://api.heroku.com/apps/e0946358-8ab4-45c5-ab5a-9ee67e937318/releases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - version 1..7
      Content-Type:
      - application/json
      ETag:
      - ! '"6ea353d7b68384f84709109056cb853a"'
      Last-Modified:
      - Thu, 19 Mar 2015 12:48:08 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read-protected write-protected
      RateLimit-Remaining:
      - '2347'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: ! '[{"app":{"id":"e0946358-8ab4-45c5-ab5a-9ee67e937318","name":"paasal"},"created_at":"2015-03-19T18:11:52Z","description":"Initial
        release","id":"f4303f02-ab74-4dcc-bdd5-34ecd1c691ca","slug":null,"updated_at":"2015-03-19T18:11:52Z","user":{"email":"__heroku:user__","id":"__heroku:id__"},"version":1},{"app":{"id":"e0946358-8ab4-45c5-ab5a-9ee67e937318","name":"paasal"},"created_at":"2015-03-19T18:11:53Z","description":"Enable
        Logplex","id":"0999f0e3-2420-49ef-92c6-3b7983dc1027","slug":null,"updated_at":"2015-03-19T18:11:53Z","user":{"email":"__heroku:user__","id":"__heroku:id__"},"version":2},{"app":{"id":"e0946358-8ab4-45c5-ab5a-9ee67e937318","name":"paasal"},"created_at":"2015-03-19T18:44:13Z","description":"Set
        L[...]
[...]
- request:
    method: get
    uri: https://api.heroku.com/apps/0bb04d40-51d7-4907-97ed-0fc2b317371b/buildpack-installations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - ordinal 0..0
      Content-Type:
      - application/json
      ETag:
      - ! '"87d7b85882f94ae872184eafce30ccd8"'
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2344'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: ! '[{"buildpack":{"url":"https://github.com/heroku/heroku-buildpack-ruby"},"ordinal":0}]'
  recorded_at: Wed, 25 Mar 2015 16:49:26 GMT
[...]
- request:
    method: get
    uri: https://api.heroku.com/apps/c928079a-b6fc-4f04-83fc-b6629db14f84/releases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - version 1..2
      Content-Type:
      - application/json
      ETag:
      - ! '"5eb4aaa8dbc07ba312b4759bd4e70931"'
      Last-Modified:
      - Wed, 25 Mar 2015 09:49:09 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read-protected write-protected
      RateLimit-Remaining:
      - '2339'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: ! '[{"app":{"id":"c928079a-b6fc-4f04-83fc-b6629db14f84","name":"paasal-test-app-min-properties"},"created_at":"2015-03-25T16:49:08Z","description":"Initial
        release","id":"b6761103-2253-40b5-b26e-4ffc183b6073","slug":null,"updated_at":"2015-03-25T16:49:08Z","user":{"email":"__heroku:user__","id":"__heroku:id__"},"version":1},{"app":{"id":"c928079a-b6fc-4f04-83fc-b6629db14f84","name":"paasal-test-app-min-properties"},"created_at":"2015-03-25T16:49:09Z","description":"Enable
        Logplex","id":"8c2f5838-849f-445d-944b-61bf0b84c407","slug":null,"updated_at":"2015-03-25T16:49:09Z","user":{"email":"__heroku:user__","id":"__heroku:id__"},"version":2}]'
  recorded_at: Wed, 25 Mar 2015 16:49:29 GMT
recorded_with: VCR 2.9.3
