---
http_interactions:
- request:
    method: post
    uri: https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"allow_tracking":true,"api_key":"__API_KEY__","beta":null,"confirmed":true,"confirmed_at":"2014/11/18
        01:37:21 -0800","created_at":"2014/11/18 01:37:21 -0800","id":"__USER_ID__@users.heroku.com","email":"__heroku:user__","last_login":"2014/11/25
        00:52:59 -0800","name":" ","updated_at":"2015/03/19 09:27:04 -0700","verified":false,"verified_at":null}'
  recorded_at: Thu, 19 Mar 2015 16:28:25 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - name croeck-cloud9..paasal-test-app-min-properties
      Content-Type:
      - application/json
      ETag:
      - '"daae19c7c52c8c90ed246fabe2874ae9"'
      Last-Modified:
      - Thu, 19 Mar 2015 16:28:16 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2032'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"archived_at":null,"buildpack_provided_description":"Node.js","build_stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"created_at":"2014-11-18T10:32:51Z","id":"341b122d-31e9-4949-900e-f3de57b27d6f","git_url":"git@heroku.com:croeck-cloud9.git","maintenance":false,"name":"croeck-cloud9","owner":{"email":"__heroku:user__","id":"__heroku:id__"},"region":{"id":"59accabd-516d-4f0e-83e6-6e3757701145","name":"us"},"released_at":"2014-11-18T12:08:31Z","repo_size":120172544,"slug_size":21859142,"stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"updated_at":"2015-03-01T21:05:21Z","web_url":"https://croeck-cloud9.herokuapp.com/"},{"archived_at":null,"buildpack_provided_description":"Node.js","build_stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"created_at":"2014-11-18T09:49:10Z","id":"689a5a2c-c5de-4969-a058-f4daad7e4f51","git_url":"git@heroku.com:croeck-wordfinder.git","maintenance":false,"name":"croeck-wordfinder","owner":{"email":"__heroku:user__","id":"__heroku:id__"},"region":{"id":"59accabd-516d-4f0e-83e6-6e3757701145","name":"us"},"released_at":"2014[...]
- request:
    method: get
    uri: https://api.heroku.com/apps/341b122d-31e9-4949-900e-f3de57b27d6f/dynos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"3261084d688d40ab96f029944d34fa96"'
      Last-Modified:
      - Tue, 18 Nov 2014 13:25:32 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2031'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"attach_url":null,"command":"npm start","created_at":"2014-11-18T13:25:32Z","id":"e046671e-26a8-4a1f-991e-2c0120e72125","name":"web.1","release":{"id":"bb543b96-4e86-4763-8a90-6a2c925f446e","version":9},"size":"1X","state":"idle","type":"web","updated_at":"2014-11-18T13:25:32Z"}]'
  recorded_at: Thu, 19 Mar 2015 16:28:26 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/341b122d-31e9-4949-900e-f3de57b27d6f/formation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"5a72ee45bf5bc951427e9bd38f887ae8"'
      Last-Modified:
      - Sun, 01 Mar 2015 21:05:21 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2030'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"command":"npm start","created_at":"2014-11-18T10:43:34Z","id":"a279c454-76ac-49db-9bb8-1672ab5b0dee","type":"web","quantity":1,"size":"1X","updated_at":"2014-11-18T10:43:48Z"}]'
  recorded_at: Thu, 19 Mar 2015 16:28:26 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/341b122d-31e9-4949-900e-f3de57b27d6f/buildpack-installations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - ordinal 0..1
      Content-Type:
      - application/json
      ETag:
      - '"b9d03d207a9bacb305378e38fb7e866c"'
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2029'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"buildpack":{"url":"https://github.com/heroku/heroku-buildpack-ruby"},"ordinal":0},{"buildpack":{"url":"https://github.com/heroku/heroku-buildpack-grails"},"ordinal":1}]'
  recorded_at: Thu, 19 Mar 2015 16:28:27 GMT
[...]
- request:
    method: get
    uri: https://api.heroku.com/apps/2b04388f-0b2a-48e1-b7d6-3301afb77c4d/releases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - version 1..2
      Content-Type:
      - application/json
      ETag:
      - '"5eb4aaa8dbc07ba312b4759bd4e70931"'
      Last-Modified:
      - Thu, 19 Mar 2015 09:28:10 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read-protected write-protected
      RateLimit-Remaining:
      - '2020'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"app":{"id":"2b04388f-0b2a-48e1-b7d6-3301afb77c4d","name":"paasal-test-app-all-properties"},"created_at":"2015-03-19T16:28:10Z","description":"Initial
        release","id":"ec58ab12-8a31-416c-b301-ae8deba55ac2","slug":null,"updated_at":"2015-03-19T16:28:10Z","user":{"email":"__heroku:user__","id":"__heroku:id__"},"version":1},{"app":{"id":"2b04388f-0b2a-48e1-b7d6-3301afb77c4d","name":"paasal-test-app-all-properties"},"created_at":"2015-03-19T16:28:10Z","description":"Enable
        Logplex","id":"d7268709-c592-4f67-a836-c2f8fa0fa993","slug":null,"updated_at":"2015-03-19T16:28:10Z","user":{"email":"__heroku:user__","id":"__heroku:id__"},"version":2}]'
  recorded_at: Thu, 19 Mar 2015 16:28:32 GMT
[...]
- request:
    method: get
    uri: https://api.heroku.com/apps/b8f5a84b-6545-44c2-83cd-15daed2b9bc1/releases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - version 1..2
      Content-Type:
      - application/json
      ETag:
      - '"5eb4aaa8dbc07ba312b4759bd4e70931"'
      Last-Modified:
      - Thu, 19 Mar 2015 09:28:15 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read-protected write-protected
      RateLimit-Remaining:
      - '2016'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"app":{"id":"b8f5a84b-6545-44c2-83cd-15daed2b9bc1","name":"paasal-test-app-min-properties"},"created_at":"2015-03-19T16:28:15Z","description":"Initial
        release","id":"388933c4-d4af-4f55-9cd3-940b2c7abaca","slug":null,"updated_at":"2015-03-19T16:28:15Z","user":{"email":"__heroku:user__","id":"__heroku:id__"},"version":1},{"app":{"id":"b8f5a84b-6545-44c2-83cd-15daed2b9bc1","name":"paasal-test-app-min-properties"},"created_at":"2015-03-19T16:28:15Z","description":"Enable
        Logplex","id":"d83fd991-8055-4c3c-99fb-e395ee0f10ef","slug":null,"updated_at":"2015-03-19T16:28:15Z","user":{"email":"__heroku:user__","id":"__heroku:id__"},"version":2}]'
  recorded_at: Thu, 19 Mar 2015 16:28:34 GMT
recorded_with: VCR 2.9.3
