---
http_interactions:
- request:
    method: post
    uri: https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"allow_tracking":true,"api_key":"__API_KEY__","beta":null,"confirmed":true,"confirmed_at":"2014/11/18
        01:37:21 -0800","created_at":"2014/11/18 01:37:21 -0800","id":"__USER_ID__@users.heroku.com","email":"__heroku:user__","last_login":"2014/11/25
        00:52:59 -0800","name":" ","updated_at":"2015/04/06 13:31:08 -0700","verified":false,"verified_at":null}'
  recorded_at: Mon, 06 Apr 2015 20:35:03 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - name dummyname..paasal-test-app-min-properties
      Content-Type:
      - application/json
      ETag:
      - '"1b96317b43e3820713a99b766a284456"'
      Last-Modified:
      - Mon, 06 Apr 2015 20:34:52 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2189'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"archived_at":null,"buildpack_provided_description":"Node.js","build_stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"created_at":"2015-04-02T10:48:52Z","id":"a8de3c80-3688-4f43-bdc9-ada9df6189ba","git_url":"git@heroku.com:dummyname.git","maintenance":false,"name":"dummyname","owner":{"email":"__heroku:user__","id":"__heroku:id__"},"region":{"id":"ed30241c-ed8c-4bb6-9714-61953675d0b4","name":"eu"},"released_at":"2015-04-02T10:49:32Z","repo_size":null,"slug_size":12382227,"stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"updated_at":"2015-04-02T10:49:32Z","web_url":"https://dummyname.herokuapp.com/"},{"archived_at":null,"buildpack_provided_description":"Ruby","build_stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"created_at":"2015-03-19T18:11:52Z","id":"e0946358-8ab4-45c5-ab5a-9ee67e937318","git_url":"git@heroku.com:paasal.git","maintenance":false,"name":"paasal","owner":{"email":"__heroku:user__","id":"__heroku:id__"},"region":{"id":"ed30241c-ed8c-4bb6-9714-61953675d0b4","name":"eu"},"released_at":"2015-03-19T19:48:08Z","repo_size"[...]
- request:
    method: get
    uri: https://api.heroku.com/apps/a8de3c80-3688-4f43-bdc9-ada9df6189ba/dynos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"ac37b2b16bff48ad444257dd411074b3"'
      Last-Modified:
      - Thu, 02 Apr 2015 11:55:15 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2188'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"attach_url":null,"command":"node server.js","created_at":"2015-04-02T11:55:15Z","id":"b2bed28a-9ae0-469f-89c0-980f21a7e93d","name":"web.1","release":{"id":"6969b098-d90d-48fc-8207-ac6a633ccded","version":4},"size":"1X","state":"idle","type":"web","updated_at":"2015-04-02T11:55:15Z"}]'
  recorded_at: Mon, 06 Apr 2015 20:35:05 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/a8de3c80-3688-4f43-bdc9-ada9df6189ba/formation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"e353d0922017e737186e3fe7f366ca3b"'
      Last-Modified:
      - Thu, 02 Apr 2015 10:49:32 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2187'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"command":"node server.js","created_at":"2015-04-02T10:49:32Z","id":"2a703ef5-5560-4da2-92db-1417e7a72cc4","type":"web","quantity":1,"size":"1X","updated_at":"2015-04-02T10:49:32Z"}]'
  recorded_at: Mon, 06 Apr 2015 20:35:06 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/a8de3c80-3688-4f43-bdc9-ada9df6189ba/buildpack-installations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - ordinal 0..0
      Content-Type:
      - application/json
      ETag:
      - '"87d7b85882f94ae872184eafce30ccd8"'
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2186'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"buildpack":{"url":"https://github.com/heroku/heroku-buildpack-nodejs#v63"},"ordinal":0}]'
  recorded_at: Mon, 06 Apr 2015 20:35:06 GMT
[...]
- request:
    method: get
    uri: https://api.heroku.com/apps/e0946358-8ab4-45c5-ab5a-9ee67e937318/releases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - version 1..7
      Content-Type:
      - application/json
      ETag:
      - '"6ea353d7b68384f84709109056cb853a"'
      Last-Modified:
      - Thu, 19 Mar 2015 12:48:08 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read-protected write-protected
      RateLimit-Remaining:
      - '2182'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"app":{"id":"e0946358-8ab4-45c5-ab5a-9ee67e937318","name":"paasal"},"created_at":"2015-03-19T18:11:52Z","description":"Initial
        release","id":"f4303f02-ab74-4dcc-bdd5-34ecd1c691ca","slug":null,"updated_at":"2015-03-19T18:11:52Z","user":{"email":"__heroku:user__","id":"__heroku:id__"},"version":1},{"app":{"id":"e0946358-8ab4-45c5-ab5a-9ee67e937318","name":"paasal"},"created_at":"2015-03-19T18:11:53Z","description":"Enable
        Logplex","id":"0999f0e3-2420-49ef-92c6-3b7983dc1027","slug":null,"updated_at":"2015-03-19T18:11:53Z","user":{"email":"__heroku:user__","id":"__heroku:id__"},"version":2},{"app":{"id":"e0946358-8ab4-45c5-ab5a-9ee67e937318","name":"paasal"},"created_at":"2015-03-19T18:44:13Z","description":"Set
        L[...]
[...]
- request:
    method: get
    uri: https://api.heroku.com/apps/787598df-fb3a-44aa-abb2-2326ecbbda1d/releases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - version 1..2
      Content-Type:
      - application/json
      ETag:
      - '"5eb4aaa8dbc07ba312b4759bd4e70931"'
      Last-Modified:
      - Mon, 06 Apr 2015 13:34:52 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read-protected write-protected
      RateLimit-Remaining:
      - '2174'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"app":{"id":"787598df-fb3a-44aa-abb2-2326ecbbda1d","name":"paasal-test-app-min-properties"},"created_at":"2015-04-06T20:34:51Z","description":"Initial
        release","id":"3e9a5f76-373e-41b9-9299-9e9a4b9aaa54","slug":null,"updated_at":"2015-04-06T20:34:51Z","user":{"email":"__heroku:user__","id":"__heroku:id__"},"version":1},{"app":{"id":"787598df-fb3a-44aa-abb2-2326ecbbda1d","name":"paasal-test-app-min-properties"},"created_at":"2015-04-06T20:34:52Z","description":"Enable
        Logplex","id":"c9e9b3df-8918-400f-8bd8-860616561d65","slug":null,"updated_at":"2015-04-06T20:34:52Z","user":{"email":"__heroku:user__","id":"__heroku:id__"},"version":2}]'
  recorded_at: Mon, 06 Apr 2015 20:35:14 GMT
recorded_with: VCR 2.9.3
