---
http_interactions:
- request:
    method: post
    uri: https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"allow_tracking":true,"api_key":"__API_KEY__","beta":null,"confirmed":true,"confirmed_at":"2014/11/18
        01:37:21 -0800","created_at":"2014/11/18 01:37:21 -0800","id":"__USER_ID__@users.heroku.com","email":"__heroku:user__","last_login":"2014/11/25
        00:52:59 -0800","name":" ","updated_at":"2015/03/19 09:27:04 -0700","verified":false,"verified_at":null}'
  recorded_at: Thu, 19 Mar 2015 16:29:53 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated/domains
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - hostname paasal-test-app-all-updated.herokuapp.com..paasal-test-app-all-updated.herokuapp.com
      Content-Type:
      - application/json
      ETag:
      - '"e053aed708ce285d1a7a1adae4413f37"'
      Last-Modified:
      - Thu, 19 Mar 2015 16:28:37 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '1986'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"app":{"id":"2b04388f-0b2a-48e1-b7d6-3301afb77c4d","name":"paasal-test-app-all-updated"},"created_at":"2015-03-19T16:28:10Z","hostname":"paasal-test-app-all-updated.herokuapp.com","id":"31b7403a-83ab-4be2-9c26-176361a67165","updated_at":"2015-03-19T16:28:37Z"}]'
  recorded_at: Thu, 19 Mar 2015 16:29:53 GMT
recorded_with: VCR 2.9.3
