---
http_interactions:
- request:
    method: post
    uri: https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"allow_tracking":true,"api_key":"__API_KEY__","beta":null,"confirmed":true,"confirmed_at":"2014/11/18
        01:37:21 -0800","created_at":"2014/11/18 01:37:21 -0800","id":"__USER_ID__@users.heroku.com","email":"__heroku:user__","last_login":"2015/04/08
        09:21:45 -0700","name":" ","updated_at":"2015/04/08 09:41:08 -0700","verified":false,"verified_at":null}'
  recorded_at: Wed, 08 Apr 2015 16:50:12 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/app_never_exists_0123456789/config-vars
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - application/json
      RateLimit-Remaining:
      - '2320'
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"resource":"app","id":"not_found","message":"Couldn''t find that app."}'
  recorded_at: Wed, 08 Apr 2015 16:50:13 GMT
recorded_with: VCR 2.9.3
