---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 1b51d73a-84d4-43c6-740f-2571705c13c9
      X-Vcap-Request-Id:
      - f604b1eb-fc04-4795-5b6f-26543a9ac3db::f1afeecc-4628-4883-95fd-6b2bdb3f3991
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Mon, 06 Apr 2015 20:10:36 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - f1468874-779d-4770-53e7-a415d37f2c8a, 9ddfa370-8794-45b4-7b0d-dca5823a0f6c
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"32b988d8-b0dd-4973-bfbd-8b7110455886"}'
  recorded_at: Mon, 06 Apr 2015 20:10:36 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - b595bcef-d8c9-4eba-790c-3fe7d6bf1881
      X-Vcap-Request-Id:
      - 4cf2d335-a59f-4208-78c4-86070769ee11::cf2488d4-8336-4ab7-8a86-5533857f812e
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "4260186e-9e44-413e-994e-1897e6d28513",
                "url": "/v2/apps/4260186e-9e44-413e-994e-1897e6d28513",
                "created_at": "2015-04-06T20:10:26+00:00",
                "updated_at": "2015-04-06T20:10:35+00:00"
              },
              "entity": {
                "name": "paasal-test-app-all-updated",
                "production": false,
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
                "buildpack": "nodejs_buildpack",
                "detected_buildpack": null,
                "environment_json": {
                  "our_test_var_key": "our_test_var_value",
                  "our_test_var_key2": "our_test_var_value2"
                },
                "memory": 256,
                "instances": 1,
                "disk_quota": 1024,
                "state": "STOPPED",
                "version": "60f181b6-4ff9-406a-97e2-31f054bd4e2f",
                "command": null,
                "console": false,
                "debug": null,
                "staging_task_id": null,
                "package_state": "PENDING",
                "health_check_timeout": null,
                "staging_failed_reason": null,
                "docker_image": null,
                "package_updated_at": null,
                "detected_start_command": "",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
                "events_url": "/v2/apps/4260186e-9e44-413e-994e-1897e6d28513/events",
                "service_bindings_url": "/v2/apps/4260186e-9e44-413e-994e-1897e6d28513/service_bindings",
                "routes_url": "/v2/apps/4260186e-9e44-413e-994e-1897e6d28513/routes"
              }
            }
          ]
        }
  recorded_at: Mon, 06 Apr 2015 20:10:37 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/4260186e-9e44-413e-994e-1897e6d28513/env
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 6cda0c5e-5a3b-4be2-6108-e120fbe22125
      X-Vcap-Request-Id:
      - 2ad3d9bb-b608-419e-7118-dc14ab27f7bd::c0fd3a27-f883-490a-87a5-8cf9a1cf6754
    body:
      encoding: UTF-8
      string: |-
        {
          "staging_env_json": {

          },
          "running_env_json": {

          },
          "environment_json": {
            "our_test_var_key": "our_test_var_value",
            "our_test_var_key2": "our_test_var_value2"
          },
          "system_env_json": {
            "VCAP_SERVICES": {

            }
          },
          "application_env_json": {
            "VCAP_APPLICATION": {
              "limits": {
                "mem": 256,
                "disk": 1024,
                "fds": 16384
              },
              "application_version": "60f181b6-4ff9-406a-97e2-31f054bd4e2f",
              "application_name": "paasal-test-app-all-updated",
              "application_uris": [
                "4260186e-9e44-413e-994e-1897e6d28513.10.244.0.34.xip.io"
              ],
              "version": "60f181b6-4ff9-406a-97e2-31f054bd4e2f",
              "name": "paasal-test-app-all-updated",
              "space_name": "development",
              "space_id": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
              "uris": [
                "4260186e-9e44-413e-994e-1897e6d28513.10.244.0.34.xip.io"
              ],
              "users": null
            }
          }
        }
  recorded_at: Mon, 06 Apr 2015 20:10:37 GMT
recorded_with: VCR 2.9.3
