{"http_interactions":[{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["285055cd-bd75-4218-6064-ecb50e360e8f"], "X-Vcap-Request-Id":["225d1972-d197-4ce5-4944-f95763bee6d9::80d189cc-4364-4ecb-b770-33af70931f2b"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"https://login.run.pivotal.io\",\"token_endpoint\":\"https://uaa.run.pivotal.io\",\"min_cli_version\":null,\"min_recommended_cli_version\":null,\"api_version\":\"2.41.0\",\"app_ssh_endpoint\":\"ssh.run.pivotal.io:2222\",\"app_ssh_host_key_fingerprint\":\"e7:13:4e:32:ee:39:62:df:54:41:d7:f7:8b:b2:a7:6b\",\"app_ssh_oauth_client\":\"ssh-proxy\",\"routing_endpoint\":\"https://api.run.pivotal.io/routing\",\"logging_endpoint\":\"wss://loggregator.run.pivotal.io:443\",\"doppler_logging_endpoint\":\"wss://doppler.run.pivotal.io:443\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:41:35 GMT"},{"request":{"method":"post","uri":"https://login.run.pivotal.io/oauth/token?grant_type=password&password=__pivotal:password__&username=__pivotal:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["3b98571a-eff2-462c-5ec5-728eb650abc3"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"cloud_controller.read password.write cloud_controller.write openid uaa.user\",\"jti\":\"c8e840c8-ed13-4df2-91ee-64fe77fbeda4\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:41:37 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/apps?q=name%3Anucleus-test-app-min-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["690c8462-8e05-45cf-6d40-923039d6dfb7"], "X-Vcap-Request-Id":["3fcd9a49-a548-4141-4dfb-b610629dcd1b::84e7ac72-5af3-4f75-ab0c-a7a7cb6cd482"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"1291fd16-6280-4eb3-8e14-9e61fe71bec3\",\n        \"url\": \"/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3\",\n        \"created_at\": \"2015-10-23T00:00:45Z\",\n        \"updated_at\": \"2015-10-23T01:24:24Z\"\n      },\n      \"entity\": {\n        \"name\": \"nucleus-test-app-min-updated\",\n        \"production\": false,\n        \"space_guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"stack_guid\": \"86205f38-84fc-4bc2-b2b8-af7f55669f04\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": \"\",\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_test_var_value\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STARTED\",\n        \"version\": \"1a7868e3-f379-4a92-bec6-037a0f5fc195\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": \"c4f2cd17b31644f9a47891ac517a95d5\",\n        \"package_state\": \"STAGED\",\n        \"health_check_type\": \"port\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"staging_failed_description\": null,\n        \"diego\": true,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-10-23T01:21:26Z\",\n        \"detected_start_command\": \"node server.js\",\n        \"enable_ssh\": true,\n        \"docker_credentials_json\": {\n          \"redacted_message\": \"[PRIVATE DATA HIDDEN]\"\n        },\n        \"space_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"stack_url\": \"/v2/stacks/86205f38-84fc-4bc2-b2b8-af7f55669f04\",\n        \"events_url\": \"/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3/events\",\n        \"service_bindings_url\": \"/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3/service_bindings\",\n        \"routes_url\": \"/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:41:38 GMT"},{"request":{"method":"head","uri":"https://api.run.pivotal.io/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3/download","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":302,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Location":["https://go-cloudfoundry-com-cc-packages.s3.amazonaws.com/12/91/1291fd16-6280-4eb3-8e14-9e61fe71bec3?X-Amz-Expires=3600&X-Amz-Date=20151023T104124Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIE6ZRHCA76CZLWGQ/20151023/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=63b4bf25a23e756e6a3db04489953e674147945a9ab165a80436a6d8ccf6118b"], "X-Cf-Requestid":["c6e61766-6e31-48c2-58a7-1afff696112b"], "X-Vcap-Request-Id":["2c0f5ef8-6b19-497f-6052-24e0b82b54da::3f5da976-53ac-415d-bab4-c8e8b69f8aa8"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:41:39 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3/download","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":302,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Location":["https://go-cloudfoundry-com-cc-packages.s3.amazonaws.com/12/91/1291fd16-6280-4eb3-8e14-9e61fe71bec3?X-Amz-Expires=3600&X-Amz-Date=20151023T104125Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIE6ZRHCA76CZLWGQ/20151023/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=47ce7404e864f71a496f41024af3edb94f147628247ef7dfb7f3884c5fd7cc74"], "X-Cf-Requestid":["0efb4949-9819-4185-4457-7c8ae5af5628"], "X-Vcap-Request-Id":["c2cee92f-685f-48c1-58ae-6b5aa536e558::b800289c-6bc2-4ef6-b614-f1b653a7f889"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:41:40 GMT"}],"recorded_with":"VCR 2.9.3"}