{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["35530c9e-ba56-4645-789e-1c7a948239e7"], "X-Vcap-Request-Id":["62ec4954-798e-4a05-492f-543fd39eacb2::892ac359-afaf-4c0c-b36e-4b4d8168fe75"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:22:13 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["c7166c97-41c5-418e-729d-6c2bb27c4256, 77b41f0a-1186-4be6-5656-6359333a139c"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"5fda045e-ea84-4813-b78e-2db3ee82c5f9\"}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:22:13 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["83515638-006f-4c35-6042-6cde51ff0fbe"], "X-Vcap-Request-Id":["3d14a6d6-8dd6-41c4-4f6a-80732d754602::a96eaf9d-e7b5-4ed4-9493-0753d93c5bca"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"d62578b0-14cb-41dc-bb83-b42ddee55282\",\n        \"url\": \"/v2/apps/d62578b0-14cb-41dc-bb83-b42ddee55282\",\n        \"created_at\": \"2015-04-29T07:21:06+00:00\",\n        \"updated_at\": \"2015-04-29T07:21:56+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_updated_test_var_value\",\n          \"our_test_var_key2\": \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STARTED\",\n        \"version\": \"f34e9504-2b09-40ba-bac5-df6b363633ce\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": \"fcf97c202fab48eebf5a7ea4dc93a6d2\",\n        \"package_state\": \"STAGED\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-04-29T07:21:37+00:00\",\n        \"detected_start_command\": \"node server.js\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/d62578b0-14cb-41dc-bb83-b42ddee55282/events\",\n        \"service_bindings_url\": \"/v2/apps/d62578b0-14cb-41dc-bb83-b42ddee55282/service_bindings\",\n        \"routes_url\": \"/v2/apps/d62578b0-14cb-41dc-bb83-b42ddee55282/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:22:14 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/d62578b0-14cb-41dc-bb83-b42ddee55282/instances/0/files/logs/unknown_id","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":302,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Location":["https://6d1af9602073498d9dc8150f076df6f3.10.244.0.34.xip.io/instance_paths/fe5bdb0e76654551a5b7a3b91a1459e8?hmac=5a77388cef10e9f8ab3130e22b5a176d6f93b8109f968536e0feba0aac2af6e370d992989fd2fd49a758c4cf3d4b7eecb47c8ae74741b4b335cb7eb2a33bed55&path=logs%2Funknown_id&timestamp=1430292134"], "X-Cf-Requestid":["af4238a5-1c03-4839-468c-6d7c365396a5"], "X-Vcap-Request-Id":["2041e4de-8c77-4f9c-43ce-c91c7b193e10::83102b51-93a9-4409-b880-f0d0699532b4"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:22:14 GMT"},{"request":{"method":"get","uri":"https://6d1af9602073498d9dc8150f076df6f3.10.244.0.34.xip.io/instance_paths/fe5bdb0e76654551a5b7a3b91a1459e8?hmac=5a77388cef10e9f8ab3130e22b5a176d6f93b8109f968536e0feba0aac2af6e370d992989fd2fd49a758c4cf3d4b7eecb47c8ae74741b4b335cb7eb2a33bed55&path=logs%2Funknown_id&timestamp=1430292134","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":404,"message":null},"headers":{"Content-Type":["application/json"], "X-Cf-Requestid":["31115a63-b41b-48fc-5947-23dd41ba0a8a"]},"body":{"encoding":"UTF-8","string":"{\"error\":\"Entity not found\"}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:22:14 GMT"}],"recorded_with":"VCR 2.9.3"}