{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["0840772d-3718-46b3-4076-85ff1d9f8cee"], "X-Vcap-Request-Id":["64f34725-4075-4b31-49e6-7d13ca03c2cf::fa8e61a1-dea5-4933-8514-85f4641364f8"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"https://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"min_cli_version\":null,\"min_recommended_cli_version\":null,\"api_version\":\"2.40.0\",\"app_ssh_endpoint\":\"ssh.10.244.0.34.xip.io:2222\",\"app_ssh_host_key_fingerprint\":\"e7:13:4e:32:ee:39:62:df:54:41:d7:f7:8b:b2:a7:6b\",\"app_ssh_oauth_client\":\"ssh-proxy\",\"routing_endpoint\":\"https://api.10.244.0.34.xip.io/routing\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\",\"doppler_logging_endpoint\":\"wss://doppler.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Thu, 15 Oct 2015 10:08:55 GMT"},{"request":{"method":"post","uri":"https://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__heroku:password__&username=__pivotal:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["d5e264a0-4671-49ba-4bbc-54d7f6b31098"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"cloud_controller.read password.write cloud_controller.write openid uaa.user\",\"jti\":\"c98a0229-bc7a-4132-87a5-81db1b0032e8\"}"},"http_version":null},"recorded_at":"Thu, 15 Oct 2015 10:08:56 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["b2a3a2d9-013e-4ebe-73fd-d11917cf6c96"], "X-Vcap-Request-Id":["33d2415d-01ed-4b79-563c-590065b9809b::dcd0cf30-1448-4d8e-bfdc-78c98d672f92"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"a9f0d33c-5d1e-480a-82fa-57c793a7b6a3\",\n        \"url\": \"/v2/apps/a9f0d33c-5d1e-480a-82fa-57c793a7b6a3\",\n        \"created_at\": \"2015-10-15T10:01:17Z\",\n        \"updated_at\": \"2015-10-15T10:07:19Z\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"f0cf573e-1f0b-49e1-adb5-8192e5647c0a\",\n        \"stack_guid\": \"86205f38-84fc-4bc2-b2b8-af7f55669f04\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_updated_test_var_value\",\n          \"our_test_var_key2\": \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STARTED\",\n        \"version\": \"e5606b99-6222-40ad-bbda-89ce68ebe022\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": \"ba31a6cde49843b9ada8b8e01bdec95c\",\n        \"package_state\": \"STAGED\",\n        \"health_check_type\": \"port\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"staging_failed_description\": null,\n        \"diego\": false,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-10-15T10:05:57Z\",\n        \"detected_start_command\": \"node server.js\",\n        \"enable_ssh\": true,\n        \"docker_credentials_json\": {\n          \"redacted_message\": \"[PRIVATE DATA HIDDEN]\"\n        },\n        \"space_url\": \"/v2/spaces/f0cf573e-1f0b-49e1-adb5-8192e5647c0a\",\n        \"stack_url\": \"/v2/stacks/86205f38-84fc-4bc2-b2b8-af7f55669f04\",\n        \"events_url\": \"/v2/apps/a9f0d33c-5d1e-480a-82fa-57c793a7b6a3/events\",\n        \"service_bindings_url\": \"/v2/apps/a9f0d33c-5d1e-480a-82fa-57c793a7b6a3/service_bindings\",\n        \"routes_url\": \"/v2/apps/a9f0d33c-5d1e-480a-82fa-57c793a7b6a3/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Thu, 15 Oct 2015 10:08:57 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/a9f0d33c-5d1e-480a-82fa-57c793a7b6a3/instances/0/files/logs/unknown_id","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":302,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Location":["https://132f527e432147279c94f72e7d392fdb.10.244.0.34.xip.io/instance_paths/3f17dfe5c26e46aca91f484ea2498303?hmac=c1ddf97abda0f60a9355eb1013d853bcf40fa6a2b080d9618c24b6b6c11b4edcbdb37dbc3e7e871ac424a102f749810e3d119c029d18ad973a8ac5a433228bfb&path=logs%2Funknown_id&timestamp=1444903730"], "X-Cf-Requestid":["4d4df97f-c1d1-4f64-4d62-5e142cefdd31"], "X-Vcap-Request-Id":["65bb8a3d-459e-4cb8-7437-ff06030b2942::7ccdb8a9-70bb-4d27-91ff-cf9850c45dfc"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Thu, 15 Oct 2015 10:08:57 GMT"},{"request":{"method":"get","uri":"https://132f527e432147279c94f72e7d392fdb.10.244.0.34.xip.io/instance_paths/3f17dfe5c26e46aca91f484ea2498303?hmac=c1ddf97abda0f60a9355eb1013d853bcf40fa6a2b080d9618c24b6b6c11b4edcbdb37dbc3e7e871ac424a102f749810e3d119c029d18ad973a8ac5a433228bfb&path=logs%2Funknown_id&timestamp=1444903730","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":404,"message":null},"headers":{"Content-Type":["application/json"], "X-Cf-Requestid":["07aef2c4-57ea-4d05-46dc-6b7204144910"]},"body":{"encoding":"UTF-8","string":"{\"error\":\"Entity not found\"}"},"http_version":null},"recorded_at":"Thu, 15 Oct 2015 10:08:58 GMT"}],"recorded_with":"VCR 2.9.3"}