{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["95c05f0a-205f-45f8-72af-c5eaa2f49510"], "X-Vcap-Request-Id":["0aef28de-765d-4c85-45df-9ad78725e186::403c3ebd-6abf-4c8e-bbc0-1397dac4eb27"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:45:03 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["02354145-b5f8-4514-63c8-7926325428f9, 754c876c-738a-4098-5092-221062153228"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"527ce511-9830-4f04-b2c3-8a8f7978b815\"}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:45:03 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["3c702797-c5a1-4eac-6d77-be5da604702d"], "X-Vcap-Request-Id":["30c15b9c-e199-41c7-7b4f-0c37ec3c33be::389a4068-4015-40ce-b156-507bac1748f5"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"9522777b-2037-49ff-841e-63f0f187c6ab\",\n        \"url\": \"/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab\",\n        \"created_at\": \"2015-07-28T12:43:53+00:00\",\n        \"updated_at\": \"2015-07-28T12:44:43+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_updated_test_var_value\",\n          \"our_test_var_key2\": \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STARTED\",\n        \"version\": \"1bd2a677-d189-4fdb-b1a2-558df0cec642\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": \"82582c41e3f945699185ccc3658a3bc1\",\n        \"package_state\": \"STAGED\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-07-28T12:44:25+00:00\",\n        \"detected_start_command\": \"node server.js\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab/events\",\n        \"service_bindings_url\": \"/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab/service_bindings\",\n        \"routes_url\": \"/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:45:03 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab/instances/0/files/logs/unknown_id","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":302,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Location":["https://6d1af9602073498d9dc8150f076df6f3.10.244.0.34.xip.io/instance_paths/ebe05ac9761c4448ba0ed99380295fbb?hmac=9c49e1ab73adb21c81cb0b286f617d14374f7933b775f4e0315232cff13f2b04d5a1aa73686cd698365058bde8fb0ea2f3d9ac40968189baa0a1176644257cd6&path=logs%2Funknown_id&timestamp=1438087503"], "X-Cf-Requestid":["af9e3021-14e9-4739-4241-6eb48733259b"], "X-Vcap-Request-Id":["76468632-9b21-4636-5767-79a0ca4ec125::df0527a2-6da0-4c99-b99d-e6aac2f45e43"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:45:03 GMT"},{"request":{"method":"get","uri":"https://6d1af9602073498d9dc8150f076df6f3.10.244.0.34.xip.io/instance_paths/ebe05ac9761c4448ba0ed99380295fbb?hmac=9c49e1ab73adb21c81cb0b286f617d14374f7933b775f4e0315232cff13f2b04d5a1aa73686cd698365058bde8fb0ea2f3d9ac40968189baa0a1176644257cd6&path=logs%2Funknown_id&timestamp=1438087503","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":404,"message":null},"headers":{"Content-Type":["application/json"], "X-Cf-Requestid":["60334d40-2ae1-46cc-7812-e738fe39adbc"]},"body":{"encoding":"UTF-8","string":"{\"error\":\"Entity not found\"}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:45:03 GMT"}],"recorded_with":"VCR 2.9.3"}