{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["35418da8-29f9-4dbc-6874-4df8ab806249"], "X-Vcap-Request-Id":["a38ba580-a4dd-47cc-772b-68900abd8624::146057bc-f300-422b-bae9-4179d7858f2b"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:21:18 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["0a549992-f483-47d2-4911-5b3345dd772d, d34de23d-91c5-4760-6eb2-66ab8c52e6bc"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"1d3fa8be-edf7-4405-9577-1b10a0df4273\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:21:18 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["f1be6837-6441-4beb-7dca-acd23e0bf1a3"], "X-Vcap-Request-Id":["2a69de5e-3bb4-4281-65a0-eeb9e6861bd2::3267b1fb-ec7d-4db5-b581-20c2cb8e8084"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"6a953469-659c-47e2-8419-e496be82866f\",\n        \"url\": \"/v2/apps/6a953469-659c-47e2-8419-e496be82866f\",\n        \"created_at\": \"2015-06-27T12:13:24+00:00\",\n        \"updated_at\": \"2015-06-27T12:14:18+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_updated_test_var_value\",\n          \"our_test_var_key2\": \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STARTED\",\n        \"version\": \"998ce07e-877e-4200-a12f-ba04c92bbb9a\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": \"a0226b884c2b47e88ee06f04e6353bf7\",\n        \"package_state\": \"STAGED\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-06-27T12:13:55+00:00\",\n        \"detected_start_command\": \"node server.js\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/6a953469-659c-47e2-8419-e496be82866f/events\",\n        \"service_bindings_url\": \"/v2/apps/6a953469-659c-47e2-8419-e496be82866f/service_bindings\",\n        \"routes_url\": \"/v2/apps/6a953469-659c-47e2-8419-e496be82866f/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:21:18 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/6a953469-659c-47e2-8419-e496be82866f/instances/0/files/logs/unknown_id","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":302,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Location":["https://6d1af9602073498d9dc8150f076df6f3.10.244.0.34.xip.io/instance_paths/fa48275c342d4b06b1521198835f8f2d?hmac=b86885f72ee502f3a2426d1762d9293e25bbd77b3dd27529a25dba331daefdf672832d1fbec801e3345e1d3aaa4e5f7b92cb89c73d2026a59d716972cfefa453&path=logs%2Funknown_id&timestamp=1435407325"], "X-Cf-Requestid":["4bb56943-e386-4510-6646-7fbf26d0128f"], "X-Vcap-Request-Id":["69e125fa-0738-459f-7543-c202fdf58872::9ae7ca73-dd6a-4b7a-a2a8-82931998487d"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:21:18 GMT"},{"request":{"method":"get","uri":"https://6d1af9602073498d9dc8150f076df6f3.10.244.0.34.xip.io/instance_paths/fa48275c342d4b06b1521198835f8f2d?hmac=b86885f72ee502f3a2426d1762d9293e25bbd77b3dd27529a25dba331daefdf672832d1fbec801e3345e1d3aaa4e5f7b92cb89c73d2026a59d716972cfefa453&path=logs%2Funknown_id&timestamp=1435407325","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":404,"message":null},"headers":{"Content-Type":["application/json"], "X-Cf-Requestid":["9fb2937d-28fd-4c2c-6144-a31c83809006"]},"body":{"encoding":"UTF-8","string":"{\"error\":\"Entity not found\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:21:18 GMT"}],"recorded_with":"VCR 2.9.3"}