---
http_interactions:
- request:
    method: post
    uri: https://api.cloudcontrol.com/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - POST, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/token"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"token": "__TOKEN__", "expires": "2015-02-15T10:26:07.365585"}'
  recorded_at: Sun, 15 Feb 2015 10:11:07 GMT
- request:
    method: get
    uri: https://api.cloudcontrol.com/app
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/app"
      X-varnish-cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '[{"name": "pawapp1418119722", "buildpack_url": null, "repository":
        "ssh://pawapp1418119722@cloudcontrolled.com/repository.git", "type": {"name":
        "nodejs"}, "owner": {"username": "__cloudcontrol:username__", "first_name":
        "", "last_name": "", "email": "__cloudcontrol:user__", "is_active": true,
        "billing_without_payment_info": false}, "users": [{"username": "__cloudcontrol:username__",
        "email": "__cloudcontrol:user__", "role": ""}], "invitations": [], "date_created":
        "2014-12-09T10:08:42", "date_modified": "2014-12-09T10:08:42", "deployments":
        [{"name": "pawapp1418119722/default", "dep_id": "depx6vees64"}]}, {"name":
        "pawapp1423123905", "buildpack_url": null, "repository": "ssh://pawapp1423123905@cloudcontrolled.com/repository.git",
        "type": {"name": "nodejs"}, "owner": {"username": "__cloudcontrol:username__",
        "first_name": "", "last_name": "", "email": "__cloudcontrol:user__", "is_active":
        true, "billing_without_payment_info": false}, "users": [{"username": "__cloudcontrol:username__",
        "email": "__cloudcontrol:user__", "role": ""}], "invitations": [], "date_created":
        "2015-02-05T08:11:45", "date_modified": "2015-02-05T08:11:45", "deployments":
        [{"name": "pawapp1423123905/default", "dep_id": "depk48wznjj"}]}]'
  recorded_at: Sun, 15 Feb 2015 10:11:07 GMT
- request:
    method: get
    uri: https://api.cloudcontrol.com/app/pawapp1418119722/deployment/default
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - GET, POST, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/app/pawapp1418119722/deployment/default"
      X-varnish-cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"name": "pawapp1418119722/default", "stack": {"name": "pinky"}, "dep_id":
        "depx6vees64", "branch": "ssh://pawapp1418119722@cloudcontrolled.com/repository.git",
        "users": [], "static_files": "(removed)", "billing_account": null, "version":
        "-1", "state": "not deployed", "date_created": "2014-12-09T10:08:43", "date_modified":
        "2014-12-09T10:08:45", "is_default": true, "default_subdomain": "pawapp1418119722.cloudcontrolled.com",
        "min_boxes": 1, "max_boxes": 1, "billed_boxes": {"free_boxes": 336.0, "costs":
        0.0, "until": 1423958400, "boxes": 0.0}, "billed_addons": [{"hours": 336.0,
        "costs": 0.0, "until": 1423958400, "addon": "alias.free"}, {"hours": 336.0,
        "costs": 0.0, "until": 1423958400, "addon": "config.free"}]}'
  recorded_at: Sun, 15 Feb 2015 10:11:08 GMT
- request:
    method: get
    uri: https://api.cloudcontrol.com/app/pawapp1423123905/deployment/default
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - GET, POST, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/app/pawapp1423123905/deployment/default"
      X-varnish-cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"name": "pawapp1423123905/default", "stack": {"name": "pinky"}, "dep_id":
        "depk48wznjj", "branch": "ssh://pawapp1423123905@cloudcontrolled.com/repository.git",
        "users": [], "static_files": "(removed)", "billing_account": null, "version":
        "-1", "state": "not deployed", "date_created": "2015-02-05T08:18:54", "date_modified":
        "2015-02-05T08:18:56", "is_default": true, "default_subdomain": "pawapp1423123905.cloudcontrolled.com",
        "min_boxes": 1, "max_boxes": 1, "billed_boxes": {"until": 1423958400, "boxes":
        0.0, "free_boxes": 231.68, "costs": 0.0}, "billed_addons": [{"until": 1423958400,
        "addon": "alias.free", "hours": 232.0, "costs": 0.0}, {"until": 1423958400,
        "addon": "config.free", "hours": 232.0, "costs": 0.0}]}'
  recorded_at: Sun, 15 Feb 2015 10:11:08 GMT
recorded_with: VCR 2.9.3
