{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["6bb91fc7-de45-45eb-6b73-d21b53fb46f0"], "X-Vcap-Request-Id":["a9a132dc-75df-4522-709f-8191caec28b9::409a2cbe-077b-47c6-9495-8af9d2523bd9"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"https://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"min_cli_version\":null,\"min_recommended_cli_version\":null,\"api_version\":\"2.40.0\",\"app_ssh_endpoint\":\"ssh.10.244.0.34.xip.io:2222\",\"app_ssh_host_key_fingerprint\":\"e7:13:4e:32:ee:39:62:df:54:41:d7:f7:8b:b2:a7:6b\",\"app_ssh_oauth_client\":\"ssh-proxy\",\"routing_endpoint\":\"https://api.10.244.0.34.xip.io/routing\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\",\"doppler_logging_endpoint\":\"wss://doppler.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Thu, 15 Oct 2015 11:30:28 GMT"},{"request":{"method":"post","uri":"https://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__heroku:password__&username=__pivotal:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["2abe2d41-9130-48bc-7aa7-c4c941a32591"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"cloud_controller.read password.write cloud_controller.write openid uaa.user\",\"jti\":\"fdf02bd2-6cda-4140-87ef-835951b20059\"}"},"http_version":null},"recorded_at":"Thu, 15 Oct 2015 11:30:30 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Aapp_never_exists_0123456789","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["a5ba5df5-36f0-4fbb-555b-2dfbc360d624"], "X-Vcap-Request-Id":["ac098c32-a73a-44a0-4a7b-e03302545979::0f939d90-fa99-48e7-8975-d216689e9f3a"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 0,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n\n  ]\n}"},"http_version":null},"recorded_at":"Thu, 15 Oct 2015 11:30:30 GMT"}],"recorded_with":"VCR 2.9.3"}