{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["20a57235-14a0-4221-5318-7746006c0d7f"], "X-Vcap-Request-Id":["2827769e-2df5-4dec-44db-135808a5fa85::a1f0b361-b541-473e-8036-8616958630f6"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"https://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"min_cli_version\":null,\"min_recommended_cli_version\":null,\"api_version\":\"2.40.0\",\"app_ssh_endpoint\":\"ssh.10.244.0.34.xip.io:2222\",\"app_ssh_host_key_fingerprint\":\"e7:13:4e:32:ee:39:62:df:54:41:d7:f7:8b:b2:a7:6b\",\"app_ssh_oauth_client\":\"ssh-proxy\",\"routing_endpoint\":\"https://api.10.244.0.34.xip.io/routing\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\",\"doppler_logging_endpoint\":\"wss://doppler.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Thu, 15 Oct 2015 11:30:31 GMT"},{"request":{"method":"post","uri":"https://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__heroku:password__&username=__pivotal:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["5fdae2bc-aca9-4f58-72b0-98760ba2960f"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"cloud_controller.read password.write cloud_controller.write openid uaa.user\",\"jti\":\"08b0cb28-63fb-48bb-94fe-a660cd82f9ee\"}"},"http_version":null},"recorded_at":"Thu, 15 Oct 2015 11:30:33 GMT"}],"recorded_with":"VCR 2.9.3"}