{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-06-27T09:54:39.349318\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:40:20 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/addon/service_never_exists_0123456789","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":410,"message":null},"headers":{"Allow":["GET, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/addon/service_never_exists_0123456789"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"Gone"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:40:20 GMT"}],"recorded_with":"VCR 2.9.3"}