{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["60d3d10d-c626-4372-6ba4-4129359782f6"], "X-Vcap-Request-Id":["f885e50b-93d6-4efa-6cc8-fc298e19e834::006f9cb2-9052-4b94-9c7e-0f8d5cf15773"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:24 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["9a18cf08-d45c-46c3-4d3e-ef8f6e9a6658, 482521b1-901a-407d-4255-521bc885dae6"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"1c76cfa2-2913-4f81-b404-65e4920ec6c9\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:24 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/spaces","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["452a3dff-0c5b-4922-6aa5-19e2fe41fe1e"], "X-Vcap-Request-Id":["67a2c604-0e27-47f9-7a21-9a7164fc1204::56b88653-3e23-4f64-a3ea-09f551d060cc"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"created_at\": \"2015-03-19T07:21:47+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"name\": \"development\",\n        \"organization_guid\": \"d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n        \"space_quota_definition_guid\": null,\n        \"organization_url\": \"/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n        \"developers_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/developers\",\n        \"managers_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/managers\",\n        \"auditors_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/auditors\",\n        \"apps_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/apps\",\n        \"routes_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/routes\",\n        \"domains_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/domains\",\n        \"service_instances_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/service_instances\",\n        \"app_events_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/app_events\",\n        \"events_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/events\",\n        \"security_groups_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/security_groups\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:24 GMT"},{"request":{"method":"post","uri":"https://api.10.244.0.34.xip.io/v2/apps","body":{"encoding":"UTF-8","string":"{\"space_guid\":\"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\"name\":\"paasal-test-app-min-properties\",\"buildpack\":\"nodejs_buildpack\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":400,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["4e4d5dcf-5118-498c-7bb0-cdf59e489c55"], "X-Vcap-Request-Id":["6e1ea6eb-37bd-42c6-730c-15a1dc7f4fc4::2f60b0d4-2423-4585-973b-e4641ce06365"]},"body":{"encoding":"UTF-8","string":"{\n  \"code\": 100002,\n  \"description\": \"The app name is taken: paasal-test-app-min-properties\",\n  \"error_code\": \"CF-AppNameTaken\"\n}\n"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:24 GMT"}],"recorded_with":"VCR 2.9.3"}