{"http_interactions":[{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["46062f4b-d550-48d6-522b-08b1ce50a90c"], "X-Vcap-Request-Id":["7c0a6e82-c431-4bfd-5777-2b0a65ed600a::a24a959e-92f6-4844-a3cf-acac3b6092a3"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"https://login.run.pivotal.io\",\"token_endpoint\":\"https://uaa.run.pivotal.io\",\"min_cli_version\":null,\"min_recommended_cli_version\":null,\"api_version\":\"2.41.0\",\"app_ssh_endpoint\":\"ssh.run.pivotal.io:2222\",\"app_ssh_host_key_fingerprint\":\"e7:13:4e:32:ee:39:62:df:54:41:d7:f7:8b:b2:a7:6b\",\"app_ssh_oauth_client\":\"ssh-proxy\",\"routing_endpoint\":\"https://api.run.pivotal.io/routing\",\"logging_endpoint\":\"wss://loggregator.run.pivotal.io:443\",\"doppler_logging_endpoint\":\"wss://doppler.run.pivotal.io:443\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:01:16 GMT"},{"request":{"method":"post","uri":"https://login.run.pivotal.io/oauth/token?grant_type=password&password=__pivotal:password__&username=__pivotal:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["203bf7c5-8bfa-4a97-4f1e-970efae82e1a"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"cloud_controller.read password.write cloud_controller.write openid uaa.user\",\"jti\":\"dacb88c3-d94c-4584-89a3-4397baf80065\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:01:18 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/spaces","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["bbd79ab2-5a30-4c20-4baf-d3d33c0894ac"], "X-Vcap-Request-Id":["c7162359-2d47-4278-482d-61ae9833ccb4::a1ff463c-3731-4a30-b649-e605b49daf12"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"created_at\": \"2015-10-22T22:41:00Z\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"name\": \"nucleus\",\n        \"organization_guid\": \"9928cdf8-bf76-4b42-bda4-6b6787883b2e\",\n        \"space_quota_definition_guid\": null,\n        \"allow_ssh\": true,\n        \"organization_url\": \"/v2/organizations/9928cdf8-bf76-4b42-bda4-6b6787883b2e\",\n        \"developers_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/developers\",\n        \"managers_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/managers\",\n        \"auditors_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/auditors\",\n        \"apps_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/apps\",\n        \"routes_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/routes\",\n        \"domains_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/domains\",\n        \"service_instances_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/service_instances\",\n        \"app_events_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/app_events\",\n        \"events_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/events\",\n        \"security_groups_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/security_groups\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:01:19 GMT"},{"request":{"method":"post","uri":"https://api.run.pivotal.io/v2/apps","body":{"encoding":"UTF-8","string":"{\"space_guid\":\"1a13ea3e-d947-4887-8481-e8174f0ed011\",\"name\":\"nucleus-test-app-min-properties\",\"buildpack\":\"nodejs_buildpack\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":400,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["f4b7da57-34cf-44a1-4936-639461874c49"], "X-Vcap-Request-Id":["a3c0eec9-0aff-4a3f-5e4f-29cd975d520e::d4d8e4e7-48b4-4747-ad85-5e07e2bbcd47"]},"body":{"encoding":"UTF-8","string":"{\n  \"code\": 100002,\n  \"description\": \"The app name is taken: nucleus-test-app-min-properties\",\n  \"error_code\": \"CF-AppNameTaken\"\n}\n"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:01:20 GMT"}],"recorded_with":"VCR 2.9.3"}