{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["a63c8cbd-b101-4bb6-5b0e-9470c3cac93e"], "X-Vcap-Request-Id":["c84b71f7-dae6-4805-56f7-dbd0e50fbf29::fe19090b-4c48-4386-9be9-1c5198693908"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:41:21 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["a501197a-89df-4b2c-6989-2346cfafc632, 809bec54-aced-4ead-5806-a184db95a69e"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"3e7fd97c-5cac-4f09-aa7c-06a1d4f8e9db\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:41:21 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["d3b43136-d0e9-4c92-574f-4aa47f48e6ce"], "X-Vcap-Request-Id":["314085f7-3688-4072-529d-75b20d44c874::f20e479e-1595-453a-9a11-68e6026fba7e"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"03a567ca-5b77-4b7c-a73a-a008ca5dad17\",\n        \"url\": \"/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17\",\n        \"created_at\": \"2015-05-14T06:39:23+00:00\",\n        \"updated_at\": \"2015-05-14T06:41:18+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key2\": \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STARTED\",\n        \"version\": \"7ba8d1ca-9b59-4898-9151-0c75c3b62fca\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": \"b903247bfb0b4d28b80977e2a1c4a5c6\",\n        \"package_state\": \"STAGED\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-05-14T06:39:55+00:00\",\n        \"detected_start_command\": \"node server.js\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17/events\",\n        \"service_bindings_url\": \"/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17/service_bindings\",\n        \"routes_url\": \"/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:41:21 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17/service_bindings","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["fef3b898-a14e-4e54-5f4f-ad1970bb50ea"], "X-Vcap-Request-Id":["865b679d-80bd-4f31-4854-93665a3c7e1e::2f500e56-1d6e-4806-bfc7-4b5537a200b5"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 0,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n\n  ]\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:41:21 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17/routes?q=host:03a567ca-5b77-4b7c-a73a-a008ca5dad17&inline-relations-depth=1","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["d8a98ff3-5730-40c3-47ed-2d653a8bab64"], "X-Vcap-Request-Id":["1e9a5e62-82fa-4544-45c7-cc51ec316fca::599d4ba9-e377-4556-957d-20b612b6e0ca"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"ae10e852-60a4-4ad2-b452-82beb14b6f03\",\n        \"url\": \"/v2/routes/ae10e852-60a4-4ad2-b452-82beb14b6f03\",\n        \"created_at\": \"2015-05-14T06:39:23+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"03a567ca-5b77-4b7c-a73a-a008ca5dad17\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"domain\": {\n          \"metadata\": {\n            \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n            \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n            \"created_at\": \"2014-12-05T16:23:46+00:00\",\n            \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n          },\n          \"entity\": {\n            \"name\": \"10.244.0.34.xip.io\"\n          }\n        },\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"space\": {\n          \"metadata\": {\n            \"guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n            \"url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n            \"created_at\": \"2015-03-19T07:21:47+00:00\",\n            \"updated_at\": null\n          },\n          \"entity\": {\n            \"name\": \"development\",\n            \"organization_guid\": \"d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n            \"space_quota_definition_guid\": null,\n            \"organization_url\": \"/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n            \"developers_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/developers\",\n            \"managers_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/managers\",\n            \"auditors_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/auditors\",\n            \"apps_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/apps\",\n            \"routes_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/routes\",\n            \"domains_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/domains\",\n            \"service_instances_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/service_instances\",\n            \"app_events_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/app_events\",\n            \"events_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/events\",\n            \"security_groups_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/security_groups\"\n          }\n        },\n        \"apps_url\": \"/v2/routes/ae10e852-60a4-4ad2-b452-82beb14b6f03/apps\",\n        \"apps\": [\n          {\n            \"metadata\": {\n              \"guid\": \"03a567ca-5b77-4b7c-a73a-a008ca5dad17\",\n              \"url\": \"/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17\",\n              \"created_at\": \"2015-05-14T06:39:23+00:00\",\n              \"updated_at\": \"2015-05-14T06:41:18+00:00\"\n            },\n            \"entity\": {\n              \"name\": \"paasal-test-app-all-updated\",\n              \"production\": false,\n              \"space_guid\": \"d3483f4f-6706-4fe1[...]
{"request":{"method":"delete","uri":"https://api.10.244.0.34.xip.io/v2/routes/ae10e852-60a4-4ad2-b452-82beb14b6f03","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":204,"message":null},"headers":{"X-Cf-Requestid":["f932208d-9b8e-4cdc-72d7-ad68ffc1ee0c"], "X-Vcap-Request-Id":["ec8220a4-e48a-4d4c-524a-a62aad3b573c::4fdc50f2-23aa-490f-a7f1-75e9683f6cb5"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:41:21 GMT"},{"request":{"method":"delete","uri":"https://api.10.244.0.34.xip.io/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":204,"message":null},"headers":{"X-Cf-Requestid":["6749a64f-f5ce-4b7a-5ea7-eb59254e7624"], "X-Vcap-Request-Id":["59e0e426-e376-449d-501a-297681eff613::31175049-d560-4bcb-8db5-5d8aa96716cb"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:41:21 GMT"}],"recorded_with":"VCR 2.9.3"}