{"http_interactions":[{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["02dc2543-0b1a-4fcc-4df4-6b5671f92c99"], "X-Vcap-Request-Id":["c94935db-63ce-48fe-4ea8-5d260319d9ed::40cab8d0-e64d-4b2f-ac6c-d28987064422"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"https://login.run.pivotal.io\",\"token_endpoint\":\"https://uaa.run.pivotal.io\",\"min_cli_version\":null,\"min_recommended_cli_version\":null,\"api_version\":\"2.41.0\",\"app_ssh_endpoint\":\"ssh.run.pivotal.io:2222\",\"app_ssh_host_key_fingerprint\":\"e7:13:4e:32:ee:39:62:df:54:41:d7:f7:8b:b2:a7:6b\",\"app_ssh_oauth_client\":\"ssh-proxy\",\"routing_endpoint\":\"https://api.run.pivotal.io/routing\",\"logging_endpoint\":\"wss://loggregator.run.pivotal.io:443\",\"doppler_logging_endpoint\":\"wss://doppler.run.pivotal.io:443\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:47:26 GMT"},{"request":{"method":"post","uri":"https://login.run.pivotal.io/oauth/token?grant_type=password&password=__pivotal:password__&username=__pivotal:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["f2d082bc-d003-4e46-55be-46e95d119478"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"cloud_controller.read password.write cloud_controller.write openid uaa.user\",\"jti\":\"89c39f18-762c-4522-861f-523d2468c5af\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:47:28 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/apps?q=name%3Anucleus-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["8aadf199-6f9e-4e56-68ed-bf612bd1899d"], "X-Vcap-Request-Id":["8f81035b-4637-47c6-519b-e2d4c5355828::1b8d2b31-010f-49ef-89ab-5f915266aa1f"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"ab451001-c9b9-466f-bdb3-5d548aa168a5\",\n        \"url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5\",\n        \"created_at\": \"2015-10-23T00:00:21Z\",\n        \"updated_at\": \"2015-10-23T10:46:41Z\"\n      },\n      \"entity\": {\n        \"name\": \"nucleus-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"stack_guid\": \"86205f38-84fc-4bc2-b2b8-af7f55669f04\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": \"\",\n        \"environment_json\": {\n          \"our_test_var_key2\": \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STARTED\",\n        \"version\": \"ef8ce982-a5fd-4a9a-ba24-de86978b4a4c\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": \"ebc8c9e5072b4fcb8917dbc382480e2c\",\n        \"package_state\": \"STAGED\",\n        \"health_check_type\": \"port\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"staging_failed_description\": null,\n        \"diego\": true,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-10-23T01:20:56Z\",\n        \"detected_start_command\": \"node server.js\",\n        \"enable_ssh\": true,\n        \"docker_credentials_json\": {\n          \"redacted_message\": \"[PRIVATE DATA HIDDEN]\"\n        },\n        \"space_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"stack_url\": \"/v2/stacks/86205f38-84fc-4bc2-b2b8-af7f55669f04\",\n        \"events_url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/events\",\n        \"service_bindings_url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/service_bindings\",\n        \"routes_url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:47:29 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/service_bindings","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["71da3710-89d2-4d4b-6a5f-ce7f31c6829c"], "X-Vcap-Request-Id":["2b331d33-9cc0-42b5-5b30-abbb5664bfbe::49e9de8e-0723-469d-98bd-e5070e90d518"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 0,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:47:31 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/routes?q=host:ab451001-c9b9-466f-bdb3-5d548aa168a5&inline-relations-depth=1","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["de62e29c-8ada-451b-4d0f-b097ec106c8c"], "X-Vcap-Request-Id":["9a531e59-154c-4274-7f7f-09579d11fc74::161beeed-4254-4ba5-98d2-3beded03573d"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"d683a967-34fa-4691-843e-d6cb5c7e76e3\",\n        \"url\": \"/v2/routes/d683a967-34fa-4691-843e-d6cb5c7e76e3\",\n        \"created_at\": \"2015-10-23T00:00:31Z\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"ab451001-c9b9-466f-bdb3-5d548aa168a5\",\n        \"path\": \"\",\n        \"domain_guid\": \"fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n        \"space_guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"service_instance_guid\": null,\n        \"port\": 0,\n        \"domain_url\": \"/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n        \"domain\": {\n          \"metadata\": {\n            \"guid\": \"fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n            \"url\": \"/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n            \"created_at\": \"2013-05-04T00:29:46Z\",\n            \"updated_at\": null\n          },\n          \"entity\": {\n            \"name\": \"cfapps.io\",\n            \"router_group_guid\": null\n          }\n        },\n        \"space_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"space\": {\n          \"metadata\": {\n            \"guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n            \"url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011\",\n            \"created_at\": \"2015-10-22T22:41:00Z\",\n            \"updated_at\": null\n          },\n          \"entity\": {\n            \"name\": \"nucleus\",\n            \"organization_guid\": \"9928cdf8-bf76-4b42-bda4-6b6787883b2e\",\n            \"space_quota_definition_guid\": null,\n            \"allow_ssh\": true,\n            \"organization_url\": \"/v2/organizations/9928cdf8-bf76-4b42-bda4-6b6787883b2e\",\n            \"developers_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/developers\",\n            \"managers_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/managers\",\n            \"auditors_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/auditors\",\n            \"apps_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/apps\",\n            \"routes_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/routes\",\n            \"domains_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/domains\",\n            \"service_instances_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/service_instances\",\n            \"app_events_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/app_events\",\n            \"events_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/events\",\n            \"security_groups_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/security_groups\"\n          }\n        },\n        \"apps_url\": \"/v2/routes/d683a967-34fa-4691-843e-d6cb5c7e76e3/apps\",\n        \"apps\": [\n          {\n            \"metadata\": {\n              \"guid\": \"ab451001-c9b9-466f-bdb3-5d548aa168a5\",\n              \"url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5\",\n              \"created_at\": \"2015-10-23T00:00:21Z\",\n              \"updated_at\": \"2015-10-23T10:46:41Z\"\n            },\n            \"entity\": {\n              \"name\": \"nucleus-test-app-all-updated\",\n              \"production\": false,\n              \"space_guid\": \"1a13ea3e-d947-4887-8481-e81[...]
{"request":{"method":"delete","uri":"https://api.run.pivotal.io/v2/routes/d683a967-34fa-4691-843e-d6cb5c7e76e3","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":204,"message":null},"headers":{"X-Cf-Requestid":["d5ebbc2c-c503-445b-599f-ca9df4cecf63"], "X-Vcap-Request-Id":["c72627a1-b083-48a3-629b-97574218c7fc::ef6bef5c-bf5a-45eb-a75b-3dc45cefbc17"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:47:33 GMT"},{"request":{"method":"delete","uri":"https://api.run.pivotal.io/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":204,"message":null},"headers":{"X-Cf-Requestid":["17be291f-5f7a-44fd-5b5c-209e36359635"], "X-Vcap-Request-Id":["7b24bc6f-d7d5-4402-5528-fc228bd62c40::14ca35f9-b5b1-41d2-a7d3-adb4aacc63f4"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:47:34 GMT"}],"recorded_with":"VCR 2.9.3"}