{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["7ecaebcb-13f0-4f4a-7087-3e0df5c95fcc"], "X-Vcap-Request-Id":["fc2f4de5-3b95-4966-564f-de6bb1e1e130::cb37465a-0f8e-49c3-ac4d-ec92ff37f4e9"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:45:44 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["eef0a152-1d60-49b3-4d3d-858376f1f3d0, 0fb65c18-1cbc-4046-40fd-7b178bdf4b1d"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"faa15844-18e6-451f-867d-a98fde89fb9a\"}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:45:44 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Anucleus-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["a201de1a-2f9b-4319-4ba8-3d70b7eb4876"], "X-Vcap-Request-Id":["3ac84223-3f12-4760-668c-6b8692c587d7::e09c10ad-ffa6-4e4b-8cc4-954fee1382bf"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"9522777b-2037-49ff-841e-63f0f187c6ab\",\n        \"url\": \"/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab\",\n        \"created_at\": \"2015-07-28T12:43:53+00:00\",\n        \"updated_at\": \"2015-07-28T12:45:42+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"nucleus-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key2\": \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STARTED\",\n        \"version\": \"75829dc9-78d8-4107-a938-346b84427505\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": \"0b6682c340294bc1962f931747db0933\",\n        \"package_state\": \"STAGED\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-07-28T12:44:25+00:00\",\n        \"detected_start_command\": \"node server.js\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab/events\",\n        \"service_bindings_url\": \"/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab/service_bindings\",\n        \"routes_url\": \"/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:45:44 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab/service_bindings","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["642eed41-741f-485c-5c81-d50ae73d30df"], "X-Vcap-Request-Id":["c7941945-c5c7-42a9-53d0-447c79cd61aa::fbc8aa8a-e4f1-476a-a188-64d5cc485a96"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 0,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n\n  ]\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:45:44 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab/routes?q=host:9522777b-2037-49ff-841e-63f0f187c6ab&inline-relations-depth=1","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["61255a42-b50b-4498-76e3-6eccd1142bc2"], "X-Vcap-Request-Id":["929e5482-dd2d-4e0d-5bff-6e0b0bb039f4::0a2e3161-5cdc-4c02-87f8-b431eb90cdde"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"f0b2b33a-7206-48fb-9c9e-01a9bb261c85\",\n        \"url\": \"/v2/routes/f0b2b33a-7206-48fb-9c9e-01a9bb261c85\",\n        \"created_at\": \"2015-07-28T12:43:53+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"9522777b-2037-49ff-841e-63f0f187c6ab\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"domain\": {\n          \"metadata\": {\n            \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n            \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n            \"created_at\": \"2014-12-05T16:23:46+00:00\",\n            \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n          },\n          \"entity\": {\n            \"name\": \"10.244.0.34.xip.io\"\n          }\n        },\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"space\": {\n          \"metadata\": {\n            \"guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n            \"url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n            \"created_at\": \"2015-03-19T07:21:47+00:00\",\n            \"updated_at\": null\n          },\n          \"entity\": {\n            \"name\": \"development\",\n            \"organization_guid\": \"d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n            \"space_quota_definition_guid\": null,\n            \"organization_url\": \"/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n            \"developers_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/developers\",\n            \"managers_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/managers\",\n            \"auditors_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/auditors\",\n            \"apps_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/apps\",\n            \"routes_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/routes\",\n            \"domains_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/domains\",\n            \"service_instances_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/service_instances\",\n            \"app_events_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/app_events\",\n            \"events_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/events\",\n            \"security_groups_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/security_groups\"\n          }\n        },\n        \"apps_url\": \"/v2/routes/f0b2b33a-7206-48fb-9c9e-01a9bb261c85/apps\",\n        \"apps\": [\n          {\n            \"metadata\": {\n              \"guid\": \"9522777b-2037-49ff-841e-63f0f187c6ab\",\n              \"url\": \"/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab\",\n              \"created_at\": \"2015-07-28T12:43:53+00:00\",\n              \"updated_at\": \"2015-07-28T12:45:42+00:00\"\n            },\n            \"entity\": {\n              \"name\": \"nucleus-test-app-all-updated\",\n              \"production\": false,\n              \"space_guid\": \"d3483f4f-6706-4fe[...]
{"request":{"method":"delete","uri":"https://api.10.244.0.34.xip.io/v2/routes/f0b2b33a-7206-48fb-9c9e-01a9bb261c85","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":204,"message":null},"headers":{"X-Cf-Requestid":["bbe24b8d-f4f9-4127-453a-ffe6d2c64195"], "X-Vcap-Request-Id":["9c98cd9e-b3b4-4c59-7e99-2a416f8387cb::1ac45dd9-66d1-4d8e-8cfe-90387ca1de5d"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:45:44 GMT"},{"request":{"method":"delete","uri":"https://api.10.244.0.34.xip.io/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":204,"message":null},"headers":{"X-Cf-Requestid":["67b0b95e-7557-4199-60b2-649c16724073"], "X-Vcap-Request-Id":["2aa2c517-e5aa-4cb0-44c7-914eb8173a53::be253142-8ac2-462a-a997-78faaa6888ab"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:45:45 GMT"}],"recorded_with":"VCR 2.9.3"}