{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/04/24 00:59:17 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 07:59:41 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"b2ebdee4a954b88e095b5b960676348c\""], "Last-Modified":["Fri, 24 Apr 2015 07:46:29 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2394"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"archived_at\":null,\"buildpack_provided_description\":\"Node.js\",\"build_stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"created_at\":\"2015-04-24T07:24:55Z\",\"id\":\"d449a2b1-4b0a-4d78-a1d9-0eb08e7ae8d6\",\"git_url\":\"git@heroku.com:paasal-test-app-all-updated.git\",\"maintenance\":false,\"name\":\"paasal-test-app-all-updated\",\"owner\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"region\":{\"id\":\"59accabd-516d-4f0e-83e6-6e3757701145\",\"name\":\"us\"},\"released_at\":\"2015-04-24T07:42:28Z\",\"repo_size\":2703618,\"slug_size\":12596890,\"stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"updated_at\":\"2015-04-24T07:46:29Z\",\"web_url\":\"https://paasal-test-app-all-updated.herokuapp.com/\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 07:59:42 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/d449a2b1-4b0a-4d78-a1d9-0eb08e7ae8d6/dynos","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"0b20caaac0f0b85f194336646fb9f2cc\""], "Last-Modified":["Fri, 24 Apr 2015 07:44:15 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2393"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"attach_url\":null,\"command\":\"node server.js\",\"created_at\":\"2015-04-24T07:44:15Z\",\"id\":\"5a5e9fb5-121a-497e-a049-b385123ccc31\",\"name\":\"web.1\",\"release\":{\"id\":\"77533c7c-35b9-482f-b85d-1531796571a0\",\"version\":7},\"size\":\"1X\",\"state\":\"up\",\"type\":\"web\",\"updated_at\":\"2015-04-24T07:44:15Z\"}]"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 07:59:43 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/d449a2b1-4b0a-4d78-a1d9-0eb08e7ae8d6/formation","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"b2ebdee4a954b88e095b5b960676348c\""], "Last-Modified":["Fri, 24 Apr 2015 07:46:29 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2392"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"command\":\"node server.js\",\"created_at\":\"2015-04-24T07:42:28Z\",\"id\":\"201e0b61-ac66-41c3-b830-9dee6e91ee38\",\"type\":\"web\",\"quantity\":1,\"size\":\"1X\",\"updated_at\":\"2015-04-24T07:44:11Z\"}]"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 07:59:44 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/d449a2b1-4b0a-4d78-a1d9-0eb08e7ae8d6/buildpack-installations","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["ordinal 0..0"], "Content-Type":["application/json"], "ETag":["\"87d7b85882f94ae872184eafce30ccd8\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2391"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"buildpack\":{\"url\":\"https://github.com/heroku/heroku-buildpack-nodejs\"},\"ordinal\":0}]"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 07:59:45 GMT"},[...]
{"request":{"method":"get","uri":"https://api.heroku.com/account","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"32b0fe23ab16816fc21f8e616b26d5e2\""], "Last-Modified":["Fri, 24 Apr 2015 07:59:17 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global identity"], "RateLimit-Remaining":["2388"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"beta\":false,\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\",\"last_login\":\"2015-04-23T10:07:51Z\",\"name\":\" \",\"two_factor_authentication\":false,\"verified\":true,\"created_at\":\"2014-11-18T09:37:21Z\",\"updated_at\":\"2015-04-24T07:59:17Z\",\"default_organization\":null}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 07:59:48 GMT"},{"request":{"method":"post","uri":"https://api.heroku.com/account/keys","body":{"encoding":"UTF-8","string":"{\"public_key\":\"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDCHgNc4jRSbs6NRwAe4B+uWdmbVVOfOpaQqyq0Xkz28FUr+wg49f3iaUKWSnxJD+rMDdiKTjrM3NyXzW8WFDIT6c/g1Wk1/QOgIL1oly26IR4p0TBJRJrTZj3mrftfeTjln8AB71IcxupsLBGIy6oeWuoEK77WvuHuBKxsacpmfPCXheBKKe1Q354jgoR+P9r16iAOFzGNzfsz95D2dshTB1Pgq8r9KLH0HUWjemi0BqeMjHKtJTpVCw8wPBYlYLtBlg8to/KyiBC0vjNXTkvPZALW+FhHOzgX8QyjVlA7Y5RpHqmWc2lqs34KExr6ykoxY54dL2yvYWH50xF8dpyZF57udWdpknRGNSZfOKz0wRZ2oqR6p/TrkjVXFSjENy0LF7ni8Y6v2BXZ2YPhKRr8aDMaZVtzhbH7yeLSDoPnzptpJXXFyB9FZJodDopMQ7vB1sIM0X/RSgObdbxSJ3wdq2V8cqNC/LPXCycV5uMRIUP/g+X1fjRTVAnBSLDYzXx5WyNFlDgThIEyR6ULCtskMoIxOLlPPAl6gffZ03Cjk2KN3+EEZyKc6KjNoZy2+/fYHdrhDed0LIF7b223E28nKOyWrsoAV1IcUDqsIe95VUtoGS6WCZ+5cOFfkxMTuxn0/Qd+oCBF7tD2sc4Ubo3mGbK0e+yYqE8bPWI/kiPhWw== paasal-2d931510-d99f-494a-8c67-000000000004\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global"], "RateLimit-Remaining":["2387"], "Status":["201 Created"]},"body":{"encoding":"UTF-8","string":"{\"comment\":\"paasal-2d931510-d99f-494a-8c67-000000000004\",\"created_at\":\"2015-04-24T07:59:49Z\",\"email\":\"__heroku:user__\",\"fingerprint\":\"55:9a:cb:b3:bf:24:d7:53:f4:cf:a5:fa:6f:4e:dc:17\",\"id\":\"a97e8e6f-4432-4e87-90e3-d70007cdfdf6\",\"public_key\":\"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDCHgNc4jRSbs6NRwAe4B+uWdmbVVOfOpaQqyq0Xkz28FUr+wg49f3iaUKWSnxJD+rMDdiKTjrM3NyXzW8WFDIT6c/g1Wk1/QOgIL1oly26IR4p0TBJRJrTZj3mrftfeTjln8AB71IcxupsLBGIy6oeWuoEK77WvuHuBKxsacpmfPCXheBKKe1Q354jgoR+P9r16iAOFzGNzfsz95D2dshTB1Pgq8r9KLH0HUWjemi0BqeMjHKtJTpVCw8wPBYlYLtBlg8to/KyiBC0vjNXTkvPZALW+FhHOzgX8QyjVlA7Y5RpHqmWc2lqs34KExr6ykoxY54dL2yvYWH50xF8dpyZF57udWdpknRGNSZfOKz0wRZ2oqR6p/TrkjVXFSjENy0LF7ni8Y6v2BXZ2YPhKRr8aDMaZVtzhbH7yeLSDoPnzptpJXXFyB9FZJodDopMQ7vB1sIM0X/RSgObdbxSJ3wdq2V8cqNC/LPXCycV5uMRIUP/g+X1fjRTVAnBSLDYzXx5WyNFlDgThIEyR6ULCtskMoIxOLlPPAl6gffZ03Cjk2KN3+EEZyKc6KjNoZy2+/fYHdrhDed0LIF7b223E28nKOyWrsoAV1IcUDqsIe95VUtoGS6WCZ+5cOFfkxMTuxn0/Qd+oCBF7tD2sc4Ubo3mGbK0e+yYqE8bPWI/kiPhWw== paasal-2d931510-d99f-494a-8c67-000000000004\",\"updated_at\":\"2015-04-24T07:59:49Z\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 07:59:49 GMT"},{"request":{"method":"delete","uri":"https://api.heroku.com/account/keys/a97e8e6f-4432-4e87-90e3-d70007cdfdf6","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global"], "RateLimit-Remaining":["2399"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"comment[...]
[...]
{"request":{"method":"get","uri":"https://api.heroku.com/apps/d449a2b1-4b0a-4d78-a1d9-0eb08e7ae8d6/buildpack-installations","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["ordinal 0..0"], "Content-Type":["application/json"], "ETag":["\"87d7b85882f94ae872184eafce30ccd8\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2391"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"buildpack\":{\"url\":\"https://github.com/heroku/heroku-buildpack-nodejs\"},\"ordinal\":0}]"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:00:32 GMT"}],"recorded_with":"VCR 2.9.3"}