{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["8cd0f9ea-a846-411b-7721-4da6d300d43b"], "X-Vcap-Request-Id":["f3d35589-bfc7-4045-43c7-881b0edc7f35::99a0f2d8-5923-4566-a361-ce4493c11f00"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:13 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["cefba836-aad3-4107-71bf-7aa36d53af9a, 25a7dbfe-747e-47bd-7f3e-ada4d460ee1a"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"95dc8bd6-b2a4-4592-9f6d-6e4df77276c8\"}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:13 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["68ef8d01-0321-4a7f-4a1a-f9a06981c0e7"], "X-Vcap-Request-Id":["97095195-c788-465a-4801-fcd5733088b5::f0f47c32-29a9-4fca-bc97-b3ec4a136a94"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"d62578b0-14cb-41dc-bb83-b42ddee55282\",\n        \"url\": \"/v2/apps/d62578b0-14cb-41dc-bb83-b42ddee55282\",\n        \"created_at\": \"2015-04-29T07:21:06+00:00\",\n        \"updated_at\": \"2015-04-29T07:21:12+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"e3f643e4-c636-4fb7-b04e-ff26294a41cc\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": null,\n        \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/d62578b0-14cb-41dc-bb83-b42ddee55282/events\",\n        \"service_bindings_url\": \"/v2/apps/d62578b0-14cb-41dc-bb83-b42ddee55282/service_bindings\",\n        \"routes_url\": \"/v2/apps/d62578b0-14cb-41dc-bb83-b42ddee55282/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:13 GMT"},{"request":{"method":"head","uri":"https://api.10.244.0.34.xip.io/v2/apps/d62578b0-14cb-41dc-bb83-b42ddee55282/download","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["7af9808b-ceda-4054-485b-4e04df81f10f"], "X-Vcap-Request-Id":["edf326eb-f930-4127-5b1c-da21bc9178ba::9acca57a-4e82-47fd-8c10-a771a8014f0c"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:13 GMT"}],"recorded_with":"VCR 2.9.3"}