{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/05/20 00:02:10 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:09:23 GMT"},{"request":{"method":"post","uri":"https://api.heroku.com/apps/nucleus-test-app-all-updated/domains","body":{"encoding":"UTF-8","string":"{\"hostname\":\"heroku.adomainthatishopefullynotusedontheplatform.de\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global write write-protected"], "RateLimit-Remaining":["2376"], "Status":["201 Created"]},"body":{"encoding":"UTF-8","string":"{\"app\":{\"id\":\"eabf58cb-478b-4eda-8349-4f98f56625f0\",\"name\":\"nucleus-test-app-all-updated\"},\"created_at\":\"2015-06-27T09:08:44Z\",\"hostname\":\"heroku.adomainthatishopefullynotusedontheplatform.de\",\"id\":\"dbb52e31-84c1-4773-883e-0a0d9b03f818\",\"updated_at\":\"2015-06-27T09:08:44Z\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:09:25 GMT"}],"recorded_with":"VCR 2.9.3"}