{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?password=__heroku:password__&username=__heroku:user__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":false,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/10/08 04:22:08 -0700\",\"created_at\":\"2014/10/08 04:22:08 -0700\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/10/23 02:44:13 -0700\",\"name\":\"stfnklb\",\"updated_at\":\"2015/10/23 02:49:43 -0700\",\"verified\":true,\"verified_at\":\"2015/10/23 02:45:30 -0700\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:03:51 GMT"},{"request":{"method":"post","uri":"https://api.heroku.com/apps/nucleus-app-all-updated/domains","body":{"encoding":"UTF-8","string":"{\"hostname\":\"adomainthatishopefullynotusedontheplatform.de\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global write write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4498"], "Status":["201 Created"]},"body":{"encoding":"CP850","string":"{\"app\":{\"id\":\"11e97ded-c274-4bc9-aa9e-e95cf479e46d\",\"name\":\"nucleus-app-all-updated\"},\"cname\":\"nucleus-app-all-updated.herokuapp.com\",\"created_at\":\"2015-10-23T10:03:36Z\",\"hostname\":\"adomainthatishopefullynotusedontheplatform.de\",\"id\":\"4f14074c-9789-41b0-9605-d479b0f6bc3e\",\"kind\":\"custom\",\"updated_at\":\"2015-10-23T10:03:36Z\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:03:52 GMT"}],"recorded_with":"VCR 2.9.3"}