{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?password=__heroku:password__&username=__heroku:user__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":false,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/10/08 04:22:08 -0700\",\"created_at\":\"2014/10/08 04:22:08 -0700\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/10/22 06:34:50 -0700\",\"name\":\"stfnklb\",\"updated_at\":\"2015/10/22 07:39:34 -0700\",\"verified\":false,\"verified_at\":null}"},"http_version":null},"recorded_at":"Thu, 22 Oct 2015 21:52:33 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/nucleus-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"7f8d9f8e0cfb93180bc719d3b730a8ea\""], "Last-Modified":["Thu, 22 Oct 2015 21:33:03 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4499"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"{\"archived_at\":null,\"buildpack_provided_description\":null,\"build_stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"created_at\":\"2015-10-22T21:25:11Z\",\"id\":\"4befcbc7-4419-429b-b008-30031e2f20e3\",\"git_url\":\"git@heroku.com:nucleus-test-app-all-updated.git\",\"maintenance\":false,\"name\":\"nucleus-test-app-all-updated\",\"owner\":{\"email\":\"__heroku:user__\",\"id\":\"6118a9d1-36ba-482e-8299-449000a2d46d\"},\"region\":{\"id\":\"59accabd-516d-4f0e-83e6-6e3757701145\",\"name\":\"us\"},\"released_at\":\"2015-10-22T21:25:12Z\",\"repo_size\":null,\"slug_size\":null,\"stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"updated_at\":\"2015-10-22T21:33:03Z\",\"web_url\":\"https://nucleus-test-app-all-updated.herokuapp.com/\",\"process_tier\":\"free\"}"},"http_version":null},"recorded_at":"Thu, 22 Oct 2015 21:52:34 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/account","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"83b32439c6a8282ab37e687e6df1c2f6\""], "Last-Modified":["Thu, 22 Oct 2015 14:39:34 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["create-apps global identity"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4498"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"{\"allow_tracking\":false,\"beta\":false,\"email\":\"__heroku:user__\",\"id\":\"6118a9d1-36ba-482e-8299-449000a2d46d\",\"last_login\":\"2015-10-22T13:34:50Z\",\"name\":\"stfnklb\",\"sms_number\":null,\"two_factor_authentication\":false,\"verified\":false,\"created_at\":\"2014-10-08T11:22:08Z\",\"updated_at\":\"2015-10-22T14:39:34Z\",\"suspended_at\":null,\"default_organization\":null}"},"http_version":null},"recorded_at":"Thu, 22 Oct 2015 21:52:35 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/account/keys","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["fingerprint 55:9a:cb:b3:bf:24:d7:53:f4:cf:a5:fa:6f:4e:dc:17..55:9a:cb:b3:bf:24:d7:53:f4:cf:a5:fa:6f:4e:dc:17"], "Content-Type":["application/json"], "ETag":["\"a4b8676f523f2fa16d13c7e462f83d0b\""], "Last-Modified":["Wed, 14 Oct 2015 14:57:13 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4497"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"[{\"comment\":\"nucleus-2d931510-d99f-494a-8c67-000000000003\",\"created_at\":\"2015-10-14T14:57:13Z\",\"email\":\"__heroku:user__\",\"fingerprint\":\"55:9a:cb:b3:bf:24:d7:53:f4:cf:a5:fa:6f:4e:dc:17\",\"id\":\"7c53442f-f9d3-4dec-8f93-c3328e583334\",\"public_key\":\"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDCHgNc4jRSbs6NRwAe4B+uWdmbVVOfOpaQqyq0Xkz28FUr+wg49f3iaUKWSnxJD+rMDdiKTjrM3NyXzW8WFDIT6c/g1Wk1/QOgIL1oly26IR4p0TBJRJrTZj3mrftfeTjln8AB71IcxupsLBGIy6oeWuoEK77WvuHuBKxsacpmfPCXheBKKe1Q354jgoR+P9r16iAOFzGNzfsz95D2dshTB1Pgq8r9KLH0HUWjemi0BqeMjHKtJTpVCw8wPBYlYLtBlg8to/KyiBC0vjNXTkvPZALW+FhHOzgX8QyjVlA7Y5RpHqmWc2lqs34KExr6ykoxY54dL2yvYWH50xF8dpyZF57udWdpknRGNSZfOKz0wRZ2oqR6p/TrkjVXFSjENy0LF7ni8Y6v2BXZ2YPhKRr8aDMaZVtzhbH7yeLSDoPnzptpJXXFyB9FZJodDopMQ7vB1sIM0X/RSgObdbxSJ3wdq2V8cqNC/LPXCycV5uMRIUP/g+X1fjRTVAnBSLDYzXx5WyNFlDgThIEyR6ULCtskMoIxOLlPPAl6gffZ03Cjk2KN3+EEZyKc6KjNoZy2+/fYHdrhDed0LIF7b223E28nKOyWrsoAV1IcUDqsIe95VUtoGS6WCZ+5cOFfkxMTuxn0/Qd+oCBF7tD2sc4Ubo3mGbK0e+yYqE8bPWI/kiPhWw== nucleus-2d931510-d99f-494a-8c67-000000000003\",\"updated_at\":\"2015-10-14T14:57:13Z\"}]"},"http_version":null},"recorded_at":"Thu, 22 Oct 2015 21:52:35 GMT"}],"recorded_with":"VCR 2.9.3"}