{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?password=__heroku:password__&username=__heroku:user__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":false,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/10/08 04:22:08 -0700\",\"created_at\":\"2014/10/08 04:22:08 -0700\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/10/22 06:34:50 -0700\",\"name\":\"stfnklb\",\"updated_at\":\"2015/10/22 07:39:34 -0700\",\"verified\":false,\"verified_at\":null}"},"http_version":null},"recorded_at":"Thu, 22 Oct 2015 21:51:28 GMT"}],"recorded_with":"VCR 2.9.3"}