{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?password=__heroku:password__&username=__heroku:user__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":false,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/10/08 04:22:08 -0700\",\"created_at\":\"2014/10/08 04:22:08 -0700\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/10/23 02:44:13 -0700\",\"name\":\"stfnklb\",\"updated_at\":\"2015/10/23 02:49:43 -0700\",\"verified\":true,\"verified_at\":\"2015/10/23 02:45:30 -0700\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:08:16 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/nucleus-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"510bd96ef5561e9f926e84d8d8365443\""], "Last-Modified":["Fri, 23 Oct 2015 10:04:51 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4497"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"{\"archived_at\":null,\"buildpack_provided_description\":null,\"build_stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"created_at\":\"2015-10-23T09:52:31Z\",\"id\":\"11e97ded-c274-4bc9-aa9e-e95cf479e46d\",\"git_url\":\"git@heroku.com:nucleus-app-all-updated.git\",\"maintenance\":false,\"name\":\"nucleus-app-all-updated\",\"owner\":{\"email\":\"__heroku:user__\",\"id\":\"6118a9d1-36ba-482e-8299-449000a2d46d\"},\"region\":{\"id\":\"59accabd-516d-4f0e-83e6-6e3757701145\",\"name\":\"us\"},\"released_at\":\"2015-10-23T10:04:51Z\",\"repo_size\":null,\"slug_size\":null,\"stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"updated_at\":\"2015-10-23T10:04:51Z\",\"web_url\":\"https://nucleus-app-all-updated.herokuapp.com/\",\"process_tier\":\"free\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:08:17 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/account","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"66f1481a8570524dde34fd347587436e\""], "Last-Modified":["Fri, 23 Oct 2015 09:49:43 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["create-apps global identity"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4496"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"{\"allow_tracking\":false,\"beta\":false,\"email\":\"__heroku:user__\",\"id\":\"6118a9d1-36ba-482e-8299-449000a2d46d\",\"last_login\":\"2015-10-23T09:44:13Z\",\"name\":\"stfnklb\",\"sms_number\":null,\"two_factor_authentication\":false,\"verified\":true,\"created_at\":\"2014-10-08T11:22:08Z\",\"updated_at\":\"2015-10-23T09:49:43Z\",\"suspended_at\":null,\"default_organization\":null}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:08:18 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/account/keys","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["fingerprint 55:9a:cb:b3:bf:24:d7:53:f4:cf:a5:fa:6f:4e:dc:17..55:9a:cb:b3:bf:24:d7:53:f4:cf:a5:fa:6f:4e:dc:17"], "Content-Type":["application/json"], "ETag":["\"a4b8676f523f2fa16d13c7e462f83d0b\""], "Last-Modified":["Wed, 14 Oct 2015 14:57:13 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4495"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"[{\"comment\":\"paasal-2d931510-d99f-494a-8c67-000000000003\",\"created_at\":\"2015-10-14T14:57:13Z\",\"email\":\"__heroku:user__\",\"fingerprint\":\"55:9a:cb:b3:bf:24:d7:53:f4:cf:a5:fa:6f:4e:dc:17\",\"id\":\"7c53442f-f9d3-4dec-8f93-c3328e583334\",\"public_key\":\"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDCHgNc4jRSbs6NRwAe4B+uWdmbVVOfOpaQqyq0Xkz28FUr+wg49f3iaUKWSnxJD+rMDdiKTjrM3NyXzW8WFDIT6c/g1Wk1/QOgIL1oly26IR4p0TBJRJrTZj3mrftfeTjln8AB71IcxupsLBGIy6oeWuoEK77WvuHuBKxsacpmfPCXheBKKe1Q354jgoR+P9r16iAOFzGNzfsz95D2dshTB1Pgq8r9KLH0HUWjemi0BqeMjHKtJTpVCw8wPBYlYLtBlg8to/KyiBC0vjNXTkvPZALW+FhHOzgX8QyjVlA7Y5RpHqmWc2lqs34KExr6ykoxY54dL2yvYWH50xF8dpyZF57udWdpknRGNSZfOKz0wRZ2oqR6p/TrkjVXFSjENy0LF7ni8Y6v2BXZ2YPhKRr8aDMaZVtzhbH7yeLSDoPnzptpJXXFyB9FZJodDopMQ7vB1sIM0X/RSgObdbxSJ3wdq2V8cqNC/LPXCycV5uMRIUP/g+X1fjRTVAnBSLDYzXx5WyNFlDgThIEyR6ULCtskMoIxOLlPPAl6gffZ03Cjk2KN3+EEZyKc6KjNoZy2+/fYHdrhDed0LIF7b223E28nKOyWrsoAV1IcUDqsIe95VUtoGS6WCZ+5cOFfkxMTuxn0/Qd+oCBF7tD2sc4Ubo3mGbK0e+yYqE8bPWI/kiPhWw== paasal-2d931510-d99f-494a-8c67-000000000003\",\"updated_at\":\"2015-10-14T14:57:13Z\"}]"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:08:19 GMT"}],"recorded_with":"VCR 2.9.3"}