---
http_interactions:
- request:
    method: post
    uri: https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"allow_tracking":true,"api_key":"__API_KEY__","beta":null,"confirmed":true,"confirmed_at":"2014/11/18
        01:37:21 -0800","created_at":"2014/11/18 01:37:21 -0800","id":"__USER_ID__@users.heroku.com","email":"__heroku:user__","last_login":"2014/11/25
        00:52:59 -0800","name":" ","updated_at":"2015/03/19 09:37:05 -0700","verified":false,"verified_at":null}'
  recorded_at: Thu, 19 Mar 2015 16:37:47 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated/config-vars
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"ed8bc6dbff7565b37c2451ef5d8499b8"'
      Last-Modified:
      - Thu, 19 Mar 2015 16:37:05 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read-protected write-protected
      RateLimit-Remaining:
      - '1786'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"our_test_var_key":"our_updated_test_var_value","our_test_var_key2":"our_test_var_value2"}'
  recorded_at: Thu, 19 Mar 2015 16:37:48 GMT
- request:
    method: patch
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated/config-vars
    body:
      encoding: UTF-8
      string: '{"our_test_var_key":null}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"ed8bc6dbff7565b37c2451ef5d8499b8"'
      Last-Modified:
      - Thu, 19 Mar 2015 16:37:05 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global write-protected
      RateLimit-Remaining:
      - '1785'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"our_test_var_key2":"our_test_var_value2"}'
  recorded_at: Thu, 19 Mar 2015 16:37:49 GMT
recorded_with: VCR 2.9.3
