{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/04/23 23:26:34 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 07:33:51 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated/domains","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["hostname paasal-test-app-all-updated.herokuapp.com..paasal-test-app-all-updated.herokuapp.com"], "Content-Type":["application/json"], "ETag":["\"bcbfaa51a1047da40c9d7b1ea8e1296c\""], "Last-Modified":["Fri, 24 Apr 2015 07:27:03 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2385"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"app\":{\"id\":\"d449a2b1-4b0a-4d78-a1d9-0eb08e7ae8d6\",\"name\":\"paasal-test-app-all-updated\"},\"created_at\":\"2015-04-24T07:24:55Z\",\"hostname\":\"paasal-test-app-all-updated.herokuapp.com\",\"id\":\"4e645d5c-87fa-4a1e-b4d9-c6153c00eae3\",\"updated_at\":\"2015-04-24T07:27:03Z\"}]"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 07:33:52 GMT"}],"recorded_with":"VCR 2.9.3"}