---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - a3d6933a-d86b-4dcf-4c44-b7b96b8bf6c1
      X-Vcap-Request-Id:
      - b8b25f82-64f2-43e0-4581-e7e1161ba4e4::68f8fbed-0b48-4ea1-960d-dfed74199034
    body:
      encoding: US-ASCII
      string: ! '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Wed, 25 Mar 2015 16:22:30 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=an_invalid_password&username=an_invalid_username
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: 
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="oauth", error="unauthorized", error_description="Authentication
        failed"
      X-Cf-Requestid:
      - f7982d84-ff5e-40f6-5849-b6220665fed8
    body:
      encoding: US-ASCII
      string: ! '{"error":"unauthorized","error_description":"Authentication failed"}'
  recorded_at: Wed, 25 Mar 2015 16:22:30 GMT
recorded_with: VCR 2.9.3
