---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 8f043aa1-3538-4089-5159-6a34b337b15e
      X-Vcap-Request-Id:
      - d3c0e43c-34a7-45b6-7dd3-73f6f0136f68::2b06ee88-4bac-4c45-a384-71263b924088
    body:
      encoding: US-ASCII
      string: ! '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Wed, 25 Mar 2015 16:22:30 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=an_invalid_password&username=an_invalid_username
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: 
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="oauth", error="unauthorized", error_description="Authentication
        failed"
      X-Cf-Requestid:
      - dee25d20-8671-4957-5e5c-5124a83da620
    body:
      encoding: US-ASCII
      string: ! '{"error":"unauthorized","error_description":"Authentication failed"}'
  recorded_at: Wed, 25 Mar 2015 16:22:30 GMT
recorded_with: VCR 2.9.3
