{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["d2d55190-7f66-47a5-7498-d4e608530653"], "X-Vcap-Request-Id":["1a1949ec-6ee8-4757-4066-589324da3c61::2cf346b5-08ee-4d5f-adab-d61a3b35091a"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:29:24 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["c1577f6b-0ff3-47d1-499c-c8e06df3100e, ca7a8034-3a43-4ca1-43dd-79bf6c6b32e2"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"a010d71b-525c-47bd-8ca9-73c3c71472a5\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:29:25 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/services","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["c658e5fe-1e7a-4743-6afe-d0b6dd276e1c"], "X-Vcap-Request-Id":["c4225a09-0551-4ff9-55ee-de647e770b8a::4a236524-d7e1-47af-aa09-f885d980dbfb"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 4,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"created_at\": \"2015-04-14T18:37:40+00:00\",\n        \"updated_at\": \"2015-04-24T08:29:11+00:00\"\n      },\n      \"entity\": {\n        \"label\": \"mongodb\",\n        \"provider\": \"core\",\n        \"url\": \"http://10.244.1.2:44138\",\n        \"description\": \"MongoDB NoSQL database\",\n        \"long_description\": null,\n        \"version\": \"2.2\",\n        \"info_url\": null,\n        \"active\": true,\n        \"bindable\": true,\n        \"unique_id\": \"8f4af9f9-0f29-4957-87a3-1039ce983ede\",\n        \"extra\": \"{\\\"listing\\\":{\\\"imageUrl\\\":null,\\\"blurb\\\":null},\\\"provider\\\":{\\\"name\\\":\\\"Core\\\"}}\",\n        \"tags\": [\n          \"nosql\",\n          \"document\",\n          \"mongodb\"\n        ],\n        \"requires\": [\n\n        ],\n        \"documentation_url\": null,\n        \"service_broker_guid\": null,\n        \"plan_updateable\": false,\n        \"service_plans_url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c/service_plans\"\n      }\n    },\n    {\n      \"metadata\": {\n        \"guid\": \"f1ba64a4-f431-4ebe-8b02-4702e643a36d\",\n        \"url\": \"/v2/services/f1ba64a4-f431-4ebe-8b02-4702e643a36d\",\n        \"created_at\": \"2015-04-14T18:37:41+00:00\",\n        \"updated_at\": \"2015-04-24T08:29:11+00:00\"\n      },\n      \"entity\": {\n        \"label\": \"redis\",\n        \"provider\": \"core\",\n        \"url\": \"http://10.244.1.14:59752[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c/service_plans","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["e4df73c1-01bd-42b2-7c9d-694352ea4551"], "X-Vcap-Request-Id":["bf1dc3cd-8e60-437a-5814-c93f19000371::437e674e-7b16-4229-afe7-57c9df2e70a4"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 2,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"11e51876-0b64-4018-b797-16633d00e471\",\n        \"url\": \"/v2/service_plans/11e51876-0b64-4018-b797-16633d00e471\",\n        \"created_at\": \"2015-04-14T18:37:41+00:00\",\n        \"updated_at\": \"2015-04-24T08:29:11+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"default\",\n        \"free\": true,\n        \"description\": \"Developer, shared VM, 250MB storage, 10 connections\",\n        \"service_guid\": \"5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"extra\": \"\",\n        \"unique_id\": \"default-8f4af9f9-0f29-4957-87a3-1039ce983ede\",\n        \"public\": true,\n        \"active\": true,\n        \"service_url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"service_instances_url\": \"/v2/service_plans/11e51876-0b64-4018-b797-16633d00e471/service_instances\"\n      }\n    },\n    {\n      \"metadata\": {\n        \"guid\": \"2665bc9f-011b-4b37-b3e8-60b67fc4db2e\",\n        \"url\": \"/v2/service_plans/2665bc9f-011b-4b37-b3e8-60b67fc4db2e\",\n        \"created_at\": \"2015-04-19T10:04:50+00:00\",\n        \"updated_at\": \"2015-04-24T08:29:11+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"sandbox\",\n        \"free\": true,\n        \"description\": \"Developer II, shared VM, 250MB storage, 10 connections\",\n        \"service_guid\": \"5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"extra\": \"\",\n        \"unique_id\": \"sandbox-8f4af9f9-0f29-4957-87a3-1039ce983ede\",\n        \"public\": true,\n        \"active\": true,\n        \"service_url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"service_instances_url\": \"/v2/service_plans/2665bc9f-011b-4b37-b3e8-60b67fc4db2e/service_instances\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:29:25 GMT"}],"recorded_with":"VCR 2.9.3"}