{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?password=__heroku:password__&username=__heroku:user__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":false,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/10/08 04:22:08 -0700\",\"created_at\":\"2014/10/08 04:22:08 -0700\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/10/23 02:44:13 -0700\",\"name\":\"stfnklb\",\"updated_at\":\"2015/10/23 02:49:43 -0700\",\"verified\":true,\"verified_at\":\"2015/10/23 02:45:30 -0700\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 09:56:42 GMT"},{"request":{"method":"put","uri":"https://api.heroku.com/apps/nucleus-app-min-updated/buildpack-installations","body":{"encoding":"UTF-8","string":"{\"updates\":[{\"buildpack\":\"https://github.com/heroku/heroku-buildpack-nodejs\"}]}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["ordinal 0..0"], "Content-Type":["application/json"], "ETag":["\"87d7b85882f94ae872184eafce30ccd8\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4499"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"[{\"buildpack\":{\"url\":\"https://github.com/heroku/heroku-buildpack-nodejs\",\"name\":\"https://github.com/heroku/heroku-buildpack-nodejs\"},\"ordinal\":0}]"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 09:56:43 GMT"},{"request":{"method":"patch","uri":"https://api.heroku.com/apps/nucleus-app-min-updated","body":{"encoding":"UTF-8","string":"{}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"f90f99cb942bf448b3688c85afd9a21d\""], "Last-Modified":["Fri, 23 Oct 2015 09:56:27 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4498"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"{\"archived_at\":null,\"buildpack_provided_description\":null,\"build_stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"created_at\":\"2015-10-23T09:53:04Z\",\"id\":\"96c4ac2e-0691-47f0-b80d-173bd529ee3f\",\"git_url\":\"git@heroku.com:nucleus-app-min-updated.git\",\"maintenance\":false,\"name\":\"nucleus-app-min-updated\",\"owner\":{\"email\":\"__heroku:user__\",\"id\":\"6118a9d1-36ba-482e-8299-449000a2d46d\"},\"region\":{\"id\":\"59accabd-516d-4f0e-83e6-6e3757701145\",\"name\":\"us\"},\"released_at\":\"2015-10-23T09:53:05Z\",\"repo_size\":null,\"slug_size\":null,\"stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"updated_at\":\"2015-10-23T09:56:27Z\",\"web_url\":\"https://nucleus-app-min-updated.herokuapp.com/\",\"process_tier\":\"free\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 09:56:44 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/96c4ac2e-0691-47f0-b80d-173bd529ee3f/dynos","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"ec5c5ae13434766108b9afb9a42e6364\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4497"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"[]"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 09:56:48 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/96c4ac2e-0691-47f0-b80d-173bd529ee3f/formation","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"f90f99cb942bf448b3688c85afd9a21d\""], "Last-Modified":["Fri, 23 Oct 2015 09:56:27 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4496"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"[]"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 09:56:49 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/96c4ac2e-0691-47f0-b80d-173bd529ee3f/buildpack-installations","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["ordinal 0..0"], "Content-Type":["application/json"], "ETag":["\"87d7b85882f94ae872184eafce30ccd8\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read-protected write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4495"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"[{\"buildpack\":{\"url\":\"https://github.com/heroku/heroku-buildpack-nodejs\",\"name\":\"https://github.com/heroku/heroku-buildpack-nodejs\"},\"ordinal\":0}]"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 09:56:49 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/96c4ac2e-0691-47f0-b80d-173bd529ee3f/releases","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["version 1..2"], "Content-Type":["application/json"], "ETag":["\"29e1294472a7f32b292c46e45bd6592d\""], "Last-Modified":["Fri, 23 Oct 2015 09:53:05 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read-protected write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4494"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"[{\"app\":{\"id\":\"96c4ac2e-0691-47f0-b80d-173bd529ee3f\",\"name\":\"nucleus-app-min-updated\"},\"created_at\":\"2015-10-23T09:53:04Z\",\"description\":\"Initial release\",\"id\":\"c05a0b04-80cf-40f8-83d1-b60910c70eba\",\"slug\":null,\"updated_at\":\"2015-10-23T09:53:04Z\",\"user\":{\"email\":\"__heroku:user__\",\"id\":\"6118a9d1-36ba-482e-8299-449000a2d46d\"},\"version\":1},{\"app\":{\"id\":\"96c4ac2e-0691-47f0-b80d-173bd529ee3f\",\"name\":\"nucleus-app-min-updated\"},\"created_at\":\"2015-10-23T09:53:05Z\",\"description\":\"Enable Logplex\",\"id\":\"7af52034-03c6-4d13-977e-a71a90becf6b\",\"slug\":null,\"updated_at\":\"2015-10-23T09:53:05Z\",\"user\":{\"email\":\"__heroku:user__\",\"id\":\"6118a9d1-36ba-482e-8299-449000a2d46d\"},\"version\":2}]"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 09:56:50 GMT"}],"recorded_with":"VCR 2.9.3"}