{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["da97ab32-2d06-47bc-4971-a72a1091411d"], "X-Vcap-Request-Id":["20fb2c0b-d767-49bc-548f-a636528ad90d::e5346b53-9c8d-4a48-99b9-a53e3e1fac79"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:26 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["543f1a62-0dd6-430d-5504-fd1f5515f9f6, 1894143a-9da9-4151-62c8-17e2c4b9e2e9"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"d14ead83-acc4-42fe-8858-d00593b65527\"}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:27 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["bbc681a2-473d-47b0-529c-1157f668386b"], "X-Vcap-Request-Id":["0554e0c7-150b-4096-4330-5d514d5a93d1::36a3a9d6-6f48-459b-9ad6-3203c5945f7a"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"d62578b0-14cb-41dc-bb83-b42ddee55282\",\n        \"url\": \"/v2/apps/d62578b0-14cb-41dc-bb83-b42ddee55282\",\n        \"created_at\": \"2015-04-29T07:21:06+00:00\",\n        \"updated_at\": \"2015-04-29T07:21:24+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_updated_test_var_value\",\n          \"our_test_var_key2\": \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"615252af-e21b-43ad-ae0a-cc75d0e42179\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": null,\n        \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/d62578b0-14cb-41dc-bb83-b42ddee55282/events\",\n        \"service_bindings_url\": \"/v2/apps/d62578b0-14cb-41dc-bb83-b42ddee55282/service_bindings\",\n        \"routes_url\": \"/v2/apps/d62578b0-14cb-41dc-bb83-b42ddee55282/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:27 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/services","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["b742d2bf-149a-47bc-62bf-6a5aca22eb04"], "X-Vcap-Request-Id":["ce653dd2-68cd-4016-48e3-21069ba70314::5ee54918-601f-4b31-967f-134adddd9a9c"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 4,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"created_at\": \"2015-04-14T18:37:40+00:00\",\n        \"updated_at\": \"2015-04-29T07:21:02+00:00\"\n      },\n      \"entity\": {\n        \"label\": \"mongodb\",\n        \"provider\": \"core\",\n        \"url\": \"http://10.244.1.2:44138\",\n        \"description\": \"MongoDB NoSQL database\",\n        \"long_description\": null,\n        \"version\": \"2.2\",\n        \"info_url\": null,\n        \"active\": true,\n        \"bindable\": true,\n        \"unique_id\": \"8f4af9f9-0f29-4957-87a3-1039ce983ede\",\n        \"extra\": \"{\\\"listing\\\":{\\\"imageUrl\\\":null,\\\"blurb\\\":null},\\\"provider\\\":{\\\"name\\\":\\\"Core\\\"}}\",\n        \"tags\": [\n          \"nosql\",\n          \"document\",\n          \"mongodb\"\n        ],\n        \"requires\": [\n\n        ],\n        \"documentation_url\": null,\n        \"service_broker_guid\": null,\n        \"plan_updateable\": false,\n        \"service_plans_url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c/service_plans\"\n      }\n    },\n    {\n      \"metadata\": {\n        \"guid\": \"f1ba64a4-f431-4ebe-8b02-4702e643a36d\",\n        \"url\": \"/v2/services/f1ba64a4-f431-4ebe-8b02-4702e643a36d\",\n        \"created_at\": \"2015-04-14T18:37:41+00:00\",\n        \"updated_at\": \"2015-04-29T07:21:02+00:00\"\n      },\n      \"entity\": {\n        \"label\": \"redis\",\n        \"provider\": \"core\",\n        \"url\": \"http://10.244.1.14:59752[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["c029ba29-324e-4ad0-4bc2-bc7e5276884d"], "X-Vcap-Request-Id":["9569d68f-5442-451d-78ae-24bf71e594cc::4c0edb[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c/service_plans","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["99391e75-bddd-4fbe-6622-874bea73224e"], "X-Vcap-Request-Id":["88da15c6-565b-45f5-4546-327cfba1947c::690c9271-d4fd-466b-88d2-233100e0772b"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 2,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"11e51876-0b64-4018-b797-16633d00e471\",\n        \"url\": \"/v2/service_plans/11e51876-0b64-4018-b797-16633d00e471\",\n        \"created_at\": \"2015-04-14T18:37:41+00:00\",\n        \"updated_at\": \"2015-04-29T07:21:02+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"default\",\n        \"free\": true,\n        \"description\": \"Developer, shared VM, 250MB storage, 10 connections\",\n        \"service_guid\": \"5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"extra\": \"\",\n        \"unique_id\": \"default-8f4af9f9-0f29-4957-87a3-1039ce983ede\",\n        \"public\": true,\n        \"active\": true,\n        \"service_url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"service_instances_url\": \"/v2/service_plans/11e51876-0b64-4018-b797-16633d00e471/service_instances\"\n      }\n    },\n    {\n      \"metadata\": {\n        \"guid\": \"2665bc9f-011b-4b37-b3e8-60b67fc4db2e\",\n        \"url\": \"/v2/service_plans/2665bc9f-011b-4b37-b3e8-60b67fc4db2e\",\n        \"created_at\": \"2015-04-19T10:04:50+00:00\",\n        \"updated_at\": \"2015-04-29T07:21:03+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"sandbox\",\n        \"free\": true,\n        \"description\": \"Developer II, shared VM, 250MB storage, 10 connections\",\n        \"service_guid\": \"5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"extra\": \"\",\n        \"unique_id\": \"sandbox-8f4af9f9-0f29-4957-87a3-1039ce983ede\",\n        \"public\": true,\n        \"active\": true,\n        \"service_url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"service_instances_url\": \"/v2/service_plans/2665bc9f-011b-4b37-b3e8-60b67fc4db2e/service_instances\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:27 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/spaces","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["65e96b1f-598b-49af-4fc2-fdd348bc3594"], "X-Vcap-Request-Id":["1d8b0dde-2acb-49e2-55ba-c2fe6e69403e::ca02c55d-63c2-4253-9911-8afb986dd597"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"created_at\": \"2015-03-19T07:21:47+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"name\": \"development\",\n        \"organization_guid\": \"d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n        \"space_quota_definition_guid\": null,\n        \"organization_url\": \"/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n        \"developers_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/developers\",\n        \"managers_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/managers\",\n        \"auditors_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/auditors\",\n        \"apps_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/apps\",\n        \"routes_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/routes\",\n        \"domains_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/domains\",\n        \"service_instances_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/service_instances\",\n        \"app_events_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/app_events\",\n        \"events_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/events\",\n        \"security_groups_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/security_groups\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:27 GMT"},{"request":{"method":"post","uri":"https://api.10.244.0.34.xip.io/v2/service_instances","body":{"encoding":"UTF-8","string":"{\"space_guid\":\"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\"service_plan_guid\":\"11e51876-0b64-4018-b797-16633d00e471\",\"name\":\"mongodb-paasal-test-app-all-updated-paasal\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Location":["/v2/service_instances/9dc75619-9bcd-4713-b3fa-432914b8cddd"], "X-Cf-Requestid":["fe401a92-02fa-4cfd-4eb5-5891c65c32d5"], "X-Vcap-Request-Id":["79da1023-c150-484c-5893-bab8e3a28ca4::c8c54660-6920-47df-9d85-210701aca7ea"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"9dc75619-9bcd-4713-b3fa-432914b8cddd\",\n    \"url\": \"/v2/service_instances/9dc75619-9bcd-4713-b3fa-432914b8cddd\",\n    \"created_at\": \"2015-04-29T07:21:28+00:00\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"name\": \"mongodb-paasal-test-app-all-updated-paasal\",\n    \"credentials\": {\n      \"hostname\": \"10.244.1.82\",\n      \"host\": \"10.244.1.82\",\n      \"port\": 10041,\n      \"name\": \"1baf5985-701c-46c3-b199-38de4549364f\",\n      \"db\": \"db\",\n      \"username\": \"15867278-9e52-4805-8e61-7396ad22fd1a\",\n      \"password\": \"3f9b15f5-40ae-44f3-8984-046a5024ba8c\",\n      \"node_id\": \"mongodb_node_default_0\"\n    },\n    \"service_plan_guid\": \"11e51876-0b64-4018-b797-16633d00e471\",\n    \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n    \"gateway_data\": {\n      \"plan\": \"default\",\n      \"version\": \"2.2\"\n    },\n    \"dashboard_url\": null,\n    \"type\": \"managed_service_instance\",\n    \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n    \"service_plan_url\": \"/v2/service_plans/11e51876-0b64-4018-b797-16633d00e471\",\n    \"service_bindings_url\": \"/v2/service_instances/9dc75619-9bcd-4713-b3fa-432914b8cddd/service_bindings\"\n  }\n}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:28 GMT"},{"request":{"method":"post","uri":"https://api.10.244.0.34.xip.io/v2/service_bindings","body":{"encoding":"UTF-8","string":"{\"service_instance_guid\":\"9dc75619-9bcd-4713-b3fa-432914b8cddd\",\"app_guid\":\"d62578b0-14cb-41dc-bb83-b42ddee55282\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Location":["/v2/service_bindings/bbe61267-8e63-4fbb-851f-963158ba3c92"], "X-Cf-Requestid":["f6e52f7e-2a12-4172-5868-5dcbf6d9543b"], "X-Vcap-Request-Id":["ac604fac-1519-4e6f-5218-1f8d2fed5d54::43daf873-e6bf-495d-81ad-a50d5d1237fe"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"bbe61267-8e63-4fbb-851f-963158ba3c92\",\n    \"url\": \"/v2/service_bindings/bbe61267-8e63-4fbb-851f-963158ba3c92\",\n    \"created_at\": \"2015-04-29T07:21:28+00:00\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"app_guid\": \"d62578b0-14cb-41dc-bb83-b42ddee55282\",\n    \"service_instance_guid\": \"9dc75619-9bcd-4713-b3fa-432914b8cddd\",\n    \"credentials\": {\n      \"hostname\": \"10.244.1.82\",\n      \"host\": \"10.244.1.82\",\n      \"port\": 10041,\n      \"username\": \"8f4a1032-db85-476f-918f-fb4ac09cfdd3\",\n      \"password\": \"5164944e-f5ac-4ca3-8ac2-51029228e7bc\",\n      \"name\": \"1baf5985-701c-46c3-b199-38de4549364f\",\n      \"db\": \"db\",\n      \"url\": \"mongodb://8f4a1032-db85-476f-918f-fb4ac09cfdd3:5164944e-f5ac-4ca3-8ac2-51029228e7bc@10.244.1.82:10041/db\"\n    },\n    \"binding_options\": {\n\n    },\n    \"gateway_data\": {\n      \"plan\": \"default\",\n      \"version\": \"2.2\",\n      \"data\": {\n        \"binding_options\": {\n\n        }\n      }\n    },\n    \"gateway_name\": \"51e48efc-5410-401e-94bc-b81be0303db3\",\n    \"syslog_drain_url\": null,\n    \"app_url\": \"/v2/apps/d62578b0-14cb-41dc-bb83-b42ddee55282\",\n    \"service_instance_url\": \"/v2/service_instances/9dc75619-9bcd-4713-b3fa-432914b8cddd\"\n  }\n}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:28 GMT"},[...]
