{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["569ea253-d697-4e4f-684b-56dc29af8545"], "X-Vcap-Request-Id":["5ea9aefe-90b8-44e2-5f91-0998d8305abf::3225b7c3-a173-4204-ada7-659fc8aff964"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:44 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["31b3c107-0096-4214-4e81-c9f93cc63eea, 2aa0c689-cc20-4841-654f-e8981bdbcf14"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"537b6179-ef51-4d5e-9403-03ae566c8d7f\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:44 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["faa79482-eacc-4856-75e2-20905d7991fa"], "X-Vcap-Request-Id":["af86378c-9e8d-4ac7-7d6a-d7aafe18dab9::909f23c5-9a54-4f8a-97e1-16173aefe14f"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"03a567ca-5b77-4b7c-a73a-a008ca5dad17\",\n        \"url\": \"/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17\",\n        \"created_at\": \"2015-05-14T06:39:23+00:00\",\n        \"updated_at\": \"2015-05-14T06:39:41+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_updated_test_var_value\",\n          \"our_test_var_key2\": \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"3b85cc52-10a3-4d48-aeac-ac9cb895167f\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": null,\n        \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17/events\",\n        \"service_bindings_url\": \"/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17/service_bindings\",\n        \"routes_url\": \"/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:44 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/services","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["8d35bc45-d141-4066-5c6d-69b372fec918"], "X-Vcap-Request-Id":["a94f075a-12e8-4e84-46cc-d9cd9ac7571d::a380fd68-d15b-4372-930d-0bd28c7377c2"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 4,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"created_at\": \"2015-04-14T18:37:40+00:00\",\n        \"updated_at\": \"2015-05-14T06:39:08+00:00\"\n      },\n      \"entity\": {\n        \"label\": \"mongodb\",\n        \"provider\": \"core\",\n        \"url\": \"http://10.244.1.2:44138\",\n        \"description\": \"MongoDB NoSQL database\",\n        \"long_description\": null,\n        \"version\": \"2.2\",\n        \"info_url\": null,\n        \"active\": true,\n        \"bindable\": true,\n        \"unique_id\": \"8f4af9f9-0f29-4957-87a3-1039ce983ede\",\n        \"extra\": \"{\\\"listing\\\":{\\\"imageUrl\\\":null,\\\"blurb\\\":null},\\\"provider\\\":{\\\"name\\\":\\\"Core\\\"}}\",\n        \"tags\": [\n          \"nosql\",\n          \"document\",\n          \"mongodb\"\n        ],\n        \"requires\": [\n\n        ],\n        \"documentation_url\": null,\n        \"service_broker_guid\": null,\n        \"plan_updateable\": false,\n        \"service_plans_url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c/service_plans\"\n      }\n    },\n    {\n      \"metadata\": {\n        \"guid\": \"f1ba64a4-f431-4ebe-8b02-4702e643a36d\",\n        \"url\": \"/v2/services/f1ba64a4-f431-4ebe-8b02-4702e643a36d\",\n        \"created_at\": \"2015-04-14T18:37:41+00:00\",\n        \"updated_at\": \"2015-05-14T06:39:08+00:00\"\n      },\n      \"entity\": {\n        \"label\": \"redis\",\n        \"provider\": \"core\",\n        \"url\": \"http://10.244.1.14:59752[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["db31c4fb-b58f-4c3d-753d-95c5df1299bb"], "X-Vcap-Request-Id":["4eeb23f8-485a-4c88-4549-6a2b84ec080a::ab2c59[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c/service_plans","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["ac8d07fa-f3f0-4631-77b6-3f68a8f7530f"], "X-Vcap-Request-Id":["a1d4d2a9-6317-4cb9-438f-4c2deea64fbb::2f124f05-563f-4375-8396-e62205f51ee7"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 2,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"11e51876-0b64-4018-b797-16633d00e471\",\n        \"url\": \"/v2/service_plans/11e51876-0b64-4018-b797-16633d00e471\",\n        \"created_at\": \"2015-04-14T18:37:41+00:00\",\n        \"updated_at\": \"2015-05-14T06:39:08+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"default\",\n        \"free\": true,\n        \"description\": \"Developer, shared VM, 250MB storage, 10 connections\",\n        \"service_guid\": \"5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"extra\": \"\",\n        \"unique_id\": \"default-8f4af9f9-0f29-4957-87a3-1039ce983ede\",\n        \"public\": true,\n        \"active\": true,\n        \"service_url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"service_instances_url\": \"/v2/service_plans/11e51876-0b64-4018-b797-16633d00e471/service_instances\"\n      }\n    },\n    {\n      \"metadata\": {\n        \"guid\": \"2665bc9f-011b-4b37-b3e8-60b67fc4db2e\",\n        \"url\": \"/v2/service_plans/2665bc9f-011b-4b37-b3e8-60b67fc4db2e\",\n        \"created_at\": \"2015-04-19T10:04:50+00:00\",\n        \"updated_at\": \"2015-05-14T06:39:08+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"sandbox\",\n        \"free\": true,\n        \"description\": \"Developer II, shared VM, 250MB storage, 10 connections\",\n        \"service_guid\": \"5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"extra\": \"\",\n        \"unique_id\": \"sandbox-8f4af9f9-0f29-4957-87a3-1039ce983ede\",\n        \"public\": true,\n        \"active\": true,\n        \"service_url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"service_instances_url\": \"/v2/service_plans/2665bc9f-011b-4b37-b3e8-60b67fc4db2e/service_instances\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:44 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/spaces","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["dd661a5d-9159-4d13-4b22-7c8b25305e4e"], "X-Vcap-Request-Id":["2c92e388-ace6-48b4-7ec7-4d167465a437::ed9820c2-d8d5-4a04-8f47-e5a60c9fa941"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"created_at\": \"2015-03-19T07:21:47+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"name\": \"development\",\n        \"organization_guid\": \"d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n        \"space_quota_definition_guid\": null,\n        \"organization_url\": \"/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n        \"developers_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/developers\",\n        \"managers_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/managers\",\n        \"auditors_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/auditors\",\n        \"apps_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/apps\",\n        \"routes_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/routes\",\n        \"domains_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/domains\",\n        \"service_instances_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/service_instances\",\n        \"app_events_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/app_events\",\n        \"events_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/events\",\n        \"security_groups_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/security_groups\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:44 GMT"},{"request":{"method":"post","uri":"https://api.10.244.0.34.xip.io/v2/service_instances","body":{"encoding":"UTF-8","string":"{\"space_guid\":\"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\"service_plan_guid\":\"11e51876-0b64-4018-b797-16633d00e471\",\"name\":\"mongodb-paasal-test-app-all-updated-paasal\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Location":["/v2/service_instances/c7181815-cd2a-40ed-861d-d24a1a6a9040"], "X-Cf-Requestid":["56e21bdf-551b-4d95-4a46-0135ebc93055"], "X-Vcap-Request-Id":["d9ac5590-30d5-44d3-4044-8b66a50336c4::462b2e9d-9b19-4c09-9d32-464031c5e5c5"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"c7181815-cd2a-40ed-861d-d24a1a6a9040\",\n    \"url\": \"/v2/service_instances/c7181815-cd2a-40ed-861d-d24a1a6a9040\",\n    \"created_at\": \"2015-05-14T06:39:46+00:00\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"name\": \"mongodb-paasal-test-app-all-updated-paasal\",\n    \"credentials\": {\n      \"hostname\": \"10.244.1.82\",\n      \"host\": \"10.244.1.82\",\n      \"port\": 10042,\n      \"name\": \"5291aafe-bc5f-4368-8df7-3f2e60ee9251\",\n      \"db\": \"db\",\n      \"username\": \"494920c5-2ad3-4388-b5d5-5e43bc431543\",\n      \"password\": \"9f16d2c8-718d-4975-90ff-19ef949b3c54\",\n      \"node_id\": \"mongodb_node_default_0\"\n    },\n    \"service_plan_guid\": \"11e51876-0b64-4018-b797-16633d00e471\",\n    \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n    \"gateway_data\": {\n      \"plan\": \"default\",\n      \"version\": \"2.2\"\n    },\n    \"dashboard_url\": null,\n    \"type\": \"managed_service_instance\",\n    \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n    \"service_plan_url\": \"/v2/service_plans/11e51876-0b64-4018-b797-16633d00e471\",\n    \"service_bindings_url\": \"/v2/service_instances/c7181815-cd2a-40ed-861d-d24a1a6a9040/service_bindings\"\n  }\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:46 GMT"},{"request":{"method":"post","uri":"https://api.10.244.0.34.xip.io/v2/service_bindings","body":{"encoding":"UTF-8","string":"{\"service_instance_guid\":\"c7181815-cd2a-40ed-861d-d24a1a6a9040\",\"app_guid\":\"03a567ca-5b77-4b7c-a73a-a008ca5dad17\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Location":["/v2/service_bindings/cb7364b0-bdfc-4011-bc7a-4be82a786266"], "X-Cf-Requestid":["e31aa270-e3bf-4a4f-60fe-4e34184d94e0"], "X-Vcap-Request-Id":["ecaa3a9e-e898-4351-6cf2-97b3509ea5b8::59567b31-99e6-42f1-a322-886119098724"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"cb7364b0-bdfc-4011-bc7a-4be82a786266\",\n    \"url\": \"/v2/service_bindings/cb7364b0-bdfc-4011-bc7a-4be82a786266\",\n    \"created_at\": \"2015-05-14T06:39:46+00:00\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"app_guid\": \"03a567ca-5b77-4b7c-a73a-a008ca5dad17\",\n    \"service_instance_guid\": \"c7181815-cd2a-40ed-861d-d24a1a6a9040\",\n    \"credentials\": {\n      \"hostname\": \"10.244.1.82\",\n      \"host\": \"10.244.1.82\",\n      \"port\": 10042,\n      \"username\": \"2417f893-bf37-4f85-944f-08c15b6e55dc\",\n      \"password\": \"a509ac0c-e4f4-48ad-9c0a-6355d27f9400\",\n      \"name\": \"5291aafe-bc5f-4368-8df7-3f2e60ee9251\",\n      \"db\": \"db\",\n      \"url\": \"mongodb://2417f893-bf37-4f85-944f-08c15b6e55dc:a509ac0c-e4f4-48ad-9c0a-6355d27f9400@10.244.1.82:10042/db\"\n    },\n    \"binding_options\": {\n\n    },\n    \"gateway_data\": {\n      \"plan\": \"default\",\n      \"version\": \"2.2\",\n      \"data\": {\n        \"binding_options\": {\n\n        }\n      }\n    },\n    \"gateway_name\": \"48e80a75-3fe0-4617-a2a1-44d4759f8c57\",\n    \"syslog_drain_url\": null,\n    \"app_url\": \"/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17\",\n    \"service_instance_url\": \"/v2/service_instances/c7181815-cd2a-40ed-861d-d24a1a6a9040\"\n  }\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:46 GMT"},[...]
