---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 8ea6ec06-6fa0-40d8-7ddb-4c52b11040d7
      X-Vcap-Request-Id:
      - 66236964-f848-4323-700b-5d0bb14b5f83::64f5241b-d5fb-45ea-b7d7-33302d87d560
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Thu, 02 Apr 2015 12:40:40 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - 859862bb-1c82-4130-5316-005a291cb0ff, 42f6c799-7a3e-410c-6c04-b02967ace28c
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"4dd8b60a-b1e1-460d-8f41-d661d43f8fa1"}'
  recorded_at: Thu, 02 Apr 2015 12:40:40 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/spaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - b21cb1c6-3ffc-47cb-50db-30710458a732
      X-Vcap-Request-Id:
      - 2345ddcf-81c2-42c7-4c39-eaf714e2c42e::d9cec487-65b6-4aa3-8aeb-bb647c43639b
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "created_at": "2015-03-19T07:21:47+00:00",
                "updated_at": null
              },
              "entity": {
                "name": "development",
                "organization_guid": "d94caddf-45be-4c92-bb2d-62d3a65cbec0",
                "space_quota_definition_guid": null,
                "organization_url": "/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0",
                "developers_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/developers",
                "managers_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/managers",
                "auditors_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/auditors",
                "apps_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/apps",
                "routes_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/routes",
                "domains_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/domains",
                "service_instances_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/service_instances",
                "app_events_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/app_events",
                "events_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/events",
                "security_groups_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/security_groups"
              }
            }
          ]
        }
  recorded_at: Thu, 02 Apr 2015 12:40:40 GMT
- request:
    method: post
    uri: https://api.10.244.0.34.xip.io/v2/apps
    body:
      encoding: UTF-8
      string: '{"space_guid":"d3483f4f-6706-4fe1-ad90-1bd45d50e940","name":"paasal-test-app-all-properties","autoscaled":false,"memory":256,"buildpack":"ruby_buildpack"}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - "/v2/apps/f0295428-234e-4eb6-9d42-a4167c9f990c"
      X-Cf-Requestid:
      - b910fa7c-a73d-41d3-5672-f398a53c52af
      X-Vcap-Request-Id:
      - 181e865c-e3a4-497f-4b02-4fc1e97e2334::d80d3d83-96a7-48c0-827a-251bfb26bba9
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "f0295428-234e-4eb6-9d42-a4167c9f990c",
            "url": "/v2/apps/f0295428-234e-4eb6-9d42-a4167c9f990c",
            "created_at": "2015-04-02T12:32:48+00:00",
            "updated_at": null
          },
          "entity": {
            "name": "paasal-test-app-all-properties",
            "production": false,
            "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
            "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
            "buildpack": "ruby_buildpack",
            "detected_buildpack": null,
            "environment_json": {

            },
            "memory": 256,
            "instances": 1,
            "disk_quota": 1024,
            "state": "STOPPED",
            "version": "0f6f0348-4ec8-47ce-8542-6228da4f11d6",
            "command": null,
            "console": false,
            "debug": null,
            "staging_task_id": null,
            "package_state": "PENDING",
            "health_check_timeout": null,
            "staging_failed_reason": null,
            "docker_image": null,
            "package_updated_at": null,
            "detected_start_command": "",
            "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
            "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
            "events_url": "/v2/apps/f0295428-234e-4eb6-9d42-a4167c9f990c/events",
            "service_bindings_url": "/v2/apps/f0295428-234e-4eb6-9d42-a4167c9f990c/service_bindings",
            "routes_url": "/v2/apps/f0295428-234e-4eb6-9d42-a4167c9f990c/routes"
          }
        }
  recorded_at: Thu, 02 Apr 2015 12:40:40 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/private_domains
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 3bdcbbb2-8a14-4cd1-561e-1bcfae8884e3
      X-Vcap-Request-Id:
      - 4a936a0b-89db-4354-4d22-2ae48efdf108::db28c894-248c-428e-b0fa-abe9fd88e23c
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "a055ee95-7d64-4352-9e5e-7eea55ecf706",
                "url": "/v2/private_domains/a055ee95-7d64-4352-9e5e-7eea55ecf706",
                "created_at": "2015-03-25T16:22:57+00:00",
                "updated_at": null
              },
              "entity": {
                "name": "adomainthatishopefullynotusedontheplatform.de",
                "owning_organization_guid": "d94caddf-45be-4c92-bb2d-62d3a65cbec0",
                "owning_organization_url": "/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0"
              }
            }
          ]
        }
  recorded_at: Thu, 02 Apr 2015 12:40:40 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/shared_domains
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - fc9712c1-113c-4237-4a50-d5bccf6f31ad
      X-Vcap-Request-Id:
      - 815d916c-19ef-4540-7eba-815209bd96b7::bed7b7b8-d181-4bc3-925e-aaf477cf6814
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "url": "/v2/shared_domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "created_at": "2014-12-05T16:23:46+00:00",
                "updated_at": "2015-03-19T07:07:29+00:00"
              },
              "entity": {
                "name": "10.244.0.34.xip.io"
              }
            }
          ]
        }
  recorded_at: Thu, 02 Apr 2015 12:40:40 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 9ce14ab5-85f6-41cb-60ae-569dbe31c5e1
      X-Vcap-Request-Id:
      - 623e5c82-4bda-4c46-4046-a2a5c19621b6::3f3e8ea4-3288-4098-a11e-bd20ef436937
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 298,
          "total_pages": 6,
          "prev_url": null,
          "next_url": "/v2/routes?order-direction=asc&page=2&results-per-page=50",
          "resources": [
            {
              "metadata": {
                "guid": "4ee1f0e2-eb11-4baf-83bb-9101a29aed92",
                "url": "/v2/routes/4ee1f0e2-eb11-4baf-83bb-9101a29aed92",
                "created_at": "2015-03-25T14:01:48+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "e1589864-81d4-4e53-9864-8a88446c718a",
                "domain_guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "domain_url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "apps_url": "/v2/routes/4ee1f0e2-eb11-4baf-83bb-9101a29aed92/apps"
              }
            },
            {
              "metadata": {
                "guid": "a8280d16-c5a4-445e-9f37-e2a8a721f773",
                "url": "/v2/routes/a8280d16-c5a4-445e-9f37-e2a8a721f773",
                "created_at": "2015-03-25T14:01:49+00:00",
              [...]
[...]
- request:
    method: post
    uri: https://api.10.244.0.34.xip.io/v2/routes
    body:
      encoding: UTF-8
      string: '{"domain_guid":"0a7ac015-b059-47d3-b1a2-873a6e370f36","host":"f0295428-234e-4eb6-9d42-a4167c9f990c","space_guid":"d3483f4f-6706-4fe1-ad90-1bd45d50e940"}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - "/v2/routes/579461f3-b818-412c-9bab-03793203f64f"
      X-Cf-Requestid:
      - 05b2f068-0090-44de-6ef3-b881247e4fba
      X-Vcap-Request-Id:
      - a6adb62c-5158-4b5b-7733-ad178f883382::04a892eb-71a2-4b13-9bf1-8283a05935b8
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "579461f3-b818-412c-9bab-03793203f64f",
            "url": "/v2/routes/579461f3-b818-412c-9bab-03793203f64f",
            "created_at": "2015-04-02T12:32:49+00:00",
            "updated_at": null
          },
          "entity": {
            "host": "f0295428-234e-4eb6-9d42-a4167c9f990c",
            "domain_guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
            "domain_url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
            "apps_url": "/v2/routes/579461f3-b818-412c-9bab-03793203f64f/apps"
          }
        }
  recorded_at: Thu, 02 Apr 2015 12:40:40 GMT
- request:
    method: put
    uri: https://api.10.244.0.34.xip.io/v2/apps/f0295428-234e-4eb6-9d42-a4167c9f990c/routes/579461f3-b818-412c-9bab-03793203f64f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - a2c[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/f0295428-234e-4eb6-9d42-a4167c9f990c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 08672096-c2e3-4051-4925-d81688063b0b
      X-Vc[...]
- request:
    method: head
    uri: https://api.10.244.0.34.xip.io/v2/apps/f0295428-234e-4eb6-9d42-a4167c9f990c/download
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - a45e1211-6eb7-4750-5ff3-43c8c5d62c6b
      X-Vcap-Request-Id:
      - 92a18edd-bd2f-40fe-5fef-108c38c28163::732fdcf2-3d9b-4eaa-9997-09b8bbbca51c
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 02 Apr 2015 12:40:41 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/f0295428-234e-4eb6-9d42-a4167c9f990c/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 5e1130df-122c-4304-5be2-6468e74bc106
      X-Vcap-Request-Id:
      - d068850f-8529-416e-6ccc-634dc01525d9::a5f07564-5a77-4cce-9003-0f1696880827
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "579461f3-b818-412c-9bab-03793203f64f",
                "url": "/v2/routes/579461f3-b818-412c-9bab-03793203f64f",
                "created_at": "2015-04-02T12:32:49+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "f0295428-234e-4eb6-9d42-a4167c9f990c",
                "domain_guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "domain_url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "apps_url": "/v2/routes/579461f3-b818-412c-9bab-03793203f64f/apps"
              }
            }
          ]
        }
  recorded_at: Thu, 02 Apr 2015 12:40:41 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 4f6331db-25af-4578-4e46-c0322ec13151
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - b06c4717-b98d-4658-72b5-a41bfbc89ee7::de17f96f-59ba-4660-87e1-cb8f561ce1aa
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Thu, 02 Apr 2015 12:40:41 GMT
recorded_with: VCR 2.9.3
