---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 5224b619-2884-4c42-48c1-4a5aca4eec5e
      X-Vcap-Request-Id:
      - aefc0ed8-63ac-41fa-6aac-265f2bfb58c6::4ea9ec5c-42ad-4192-902e-6ea37908aaef
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Wed, 08 Apr 2015 15:37:26 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - 99b2f6c1-a1a2-4bf0-4c9d-8c8bb0cc3f53, ec62af1d-472c-449a-73b9-23c48e974da8
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"a1df458a-456a-42b7-930e-87feb555c7a8"}'
  recorded_at: Wed, 08 Apr 2015 15:37:26 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/spaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 704c069a-be91-4891-40ff-7767014ceb58
      X-Vcap-Request-Id:
      - 7e15940b-632b-4798-7238-a3000c1ad7a6::43fe8914-a3df-4003-a153-a7ef8abb67cc
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "created_at": "2015-03-19T07:21:47+00:00",
                "updated_at": null
              },
              "entity": {
                "name": "development",
                "organization_guid": "d94caddf-45be-4c92-bb2d-62d3a65cbec0",
                "space_quota_definition_guid": null,
                "organization_url": "/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0",
                "developers_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/developers",
                "managers_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/managers",
                "auditors_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/auditors",
                "apps_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/apps",
                "routes_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/routes",
                "domains_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/domains",
                "service_instances_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/service_instances",
                "app_events_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/app_events",
                "events_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/events",
                "security_groups_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/security_groups"
              }
            }
          ]
        }
  recorded_at: Wed, 08 Apr 2015 15:37:26 GMT
- request:
    method: post
    uri: https://api.10.244.0.34.xip.io/v2/apps
    body:
      encoding: UTF-8
      string: '{"space_guid":"d3483f4f-6706-4fe1-ad90-1bd45d50e940","name":"paasal-test-app-all-properties","autoscaled":false,"memory":256,"buildpack":"nodejs_buildpack"}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - "/v2/apps/277a3488-6b05-4331-83ff-45f182929977"
      X-Cf-Requestid:
      - f5e5b05c-328f-4d2e-4d26-415654cda139
      X-Vcap-Request-Id:
      - 8acead9d-89ca-41f3-44c4-64ec0097ba2f::24ffd0d6-4f8e-40c7-b966-1baf4614ec1c
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "277a3488-6b05-4331-83ff-45f182929977",
            "url": "/v2/apps/277a3488-6b05-4331-83ff-45f182929977",
            "created_at": "2015-04-08T15:37:26+00:00",
            "updated_at": null
          },
          "entity": {
            "name": "paasal-test-app-all-properties",
            "production": false,
            "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
            "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
            "buildpack": "nodejs_buildpack",
            "detected_buildpack": null,
            "environment_json": {

            },
            "memory": 256,
            "instances": 1,
            "disk_quota": 1024,
            "state": "STOPPED",
            "version": "f6b3d49e-93ee-42f7-9cd2-c2ba09945959",
            "command": null,
            "console": false,
            "debug": null,
            "staging_task_id": null,
            "package_state": "PENDING",
            "health_check_timeout": null,
            "staging_failed_reason": null,
            "docker_image": null,
            "package_updated_at": null,
            "detected_start_command": "",
            "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
            "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
            "events_url": "/v2/apps/277a3488-6b05-4331-83ff-45f182929977/events",
            "service_bindings_url": "/v2/apps/277a3488-6b05-4331-83ff-45f182929977/service_bindings",
            "routes_url": "/v2/apps/277a3488-6b05-4331-83ff-45f182929977/routes"
          }
        }
  recorded_at: Wed, 08 Apr 2015 15:37:26 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/private_domains
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 5b85c1d0-d8af-4bce-5415-b396a04f52ae
      X-Vcap-Request-Id:
      - 428ed9e1-b64a-47c8-41d2-94f970509f80::7eb493b3-d83d-4f7a-bbdb-0333c920e059
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "a055ee95-7d64-4352-9e5e-7eea55ecf706",
                "url": "/v2/private_domains/a055ee95-7d64-4352-9e5e-7eea55ecf706",
                "created_at": "2015-03-25T16:22:57+00:00",
                "updated_at": null
              },
              "entity": {
                "name": "adomainthatishopefullynotusedontheplatform.de",
                "owning_organization_guid": "d94caddf-45be-4c92-bb2d-62d3a65cbec0",
                "owning_organization_url": "/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0"
              }
            }
          ]
        }
  recorded_at: Wed, 08 Apr 2015 15:37:26 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/shared_domains
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - d89f08a4-1a86-4bd3-6685-fbb5d60119be
      X-Vcap-Request-Id:
      - c8daf4c5-177c-412f-4d83-e8361155d6f9::4278e1b1-9492-4eaf-af3f-5d380362c28f
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "url": "/v2/shared_domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "created_at": "2014-12-05T16:23:46+00:00",
                "updated_at": "2015-03-19T07:07:29+00:00"
              },
              "entity": {
                "name": "10.244.0.34.xip.io"
              }
            }
          ]
        }
  recorded_at: Wed, 08 Apr 2015 15:37:26 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 5eb24bac-d996-418e-5fda-09d0e5ab7a9a
      X-Vcap-Request-Id:
      - e1cecc9e-acfe-42e5-4baa-14a162a3aa7b::ae1fd004-8074-4ae8-ab04-bc2f569271e9
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 304,
          "total_pages": 7,
          "prev_url": null,
          "next_url": "/v2/routes?order-direction=asc&page=2&results-per-page=50",
          "resources": [
            {
              "metadata": {
                "guid": "4ee1f0e2-eb11-4baf-83bb-9101a29aed92",
                "url": "/v2/routes/4ee1f0e2-eb11-4baf-83bb-9101a29aed92",
                "created_at": "2015-03-25T14:01:48+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "e1589864-81d4-4e53-9864-8a88446c718a",
                "domain_guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "domain_url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "apps_url": "/v2/routes/4ee1f0e2-eb11-4baf-83bb-9101a29aed92/apps"
              }
            },
            {
              "metadata": {
                "guid": "a8280d16-c5a4-445e-9f37-e2a8a721f773",
                "url": "/v2/routes/a8280d16-c5a4-445e-9f37-e2a8a721f773",
                "created_at": "2015-03-25T14:01:49+00:00",
              [...]
[...]
- request:
    method: post
    uri: https://api.10.244.0.34.xip.io/v2/routes
    body:
      encoding: UTF-8
      string: '{"domain_guid":"0a7ac015-b059-47d3-b1a2-873a6e370f36","host":"277a3488-6b05-4331-83ff-45f182929977","space_guid":"d3483f4f-6706-4fe1-ad90-1bd45d50e940"}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - "/v2/routes/1d2eed43-9771-4b03-9232-852a838fd9d7"
      X-Cf-Requestid:
      - 6e7e6e08-e8e5-40d1-42f5-f2f9c5f11110
      X-Vcap-Request-Id:
      - da229f71-dabc-4e32-624b-4f50f8e425ff::c9362052-d25e-482b-b012-f79e6935baa4
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "1d2eed43-9771-4b03-9232-852a838fd9d7",
            "url": "/v2/routes/1d2eed43-9771-4b03-9232-852a838fd9d7",
            "created_at": "2015-04-08T15:37:26+00:00",
            "updated_at": null
          },
          "entity": {
            "host": "277a3488-6b05-4331-83ff-45f182929977",
            "domain_guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
            "domain_url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
            "apps_url": "/v2/routes/1d2eed43-9771-4b03-9232-852a838fd9d7/apps"
          }
        }
  recorded_at: Wed, 08 Apr 2015 15:37:26 GMT
- request:
    method: put
    uri: https://api.10.244.0.34.xip.io/v2/apps/277a3488-6b05-4331-83ff-45f182929977/routes/1d2eed43-9771-4b03-9232-852a838fd9d7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 8fe[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/277a3488-6b05-4331-83ff-45f182929977
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 18a23245-859b-455d-59c0-14cf7da09402
      X-Vcap-Request-Id:
      - d51c45f9-727e-49dd-71d9-d7ebeafd51b2::f1fc6f19-dc39-4bea-b74e-678a643f4540
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "277a3488-6b05-4331-83ff-45f182929977",
            "url": "/v2/apps/277a3488-6b05-4331-83ff-45f182929977",
            "created_at": "2015-04-08T15:37:26+00:00",
            "updated_at": "2015-04-08T15:37:26+00:00"
          },
          "entity": {
            "name": "paasal-test-app-all-properties",
            "production": false,
            "space_g[...]
- request:
    method: head
    uri: https://api.10.244.0.34.xip.io/v2/apps/277a3488-6b05-4331-83ff-45f182929977/download
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - bb5e90e9-9fd0-4d03-6864-019781f4ff77
      X-Vcap-Request-Id:
      - 8414aa13-00b8-422e-5c47-8c19dfd14a79::4cc948c4-2ae4-4aec-989c-72ba9a820831
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 08 Apr 2015 15:37:26 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/277a3488-6b05-4331-83ff-45f182929977/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 3100f3c9-43d3-41bd-7cd1-f9e86a56ec85
      X-Vcap-Request-Id:
      - f02a8d6c-fec4-4a7f-436c-efffef032e55::80ebb212-164c-474d-90aa-4326452abe91
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "1d2eed43-9771-4b03-9232-852a838fd9d7",
                "url": "/v2/routes/1d2eed43-9771-4b03-9232-852a838fd9d7",
                "created_at": "2015-04-08T15:37:26+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "277a3488-6b05-4331-83ff-45f182929977",
                "domain_guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "domain_url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "apps_url": "/v2/routes/1d2eed43-9771-4b03-9232-852a838fd9d7/apps"
              }
            }
          ]
        }
  recorded_at: Wed, 08 Apr 2015 15:37:26 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 8c39e043-5393-4f21-461e-fd7c6a6824f5
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - e69e2bdf-dc34-4711-615d-363eb4cb4b56::ef4ea845-3cf1-4851-9037-e793cca1bdc0
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Wed, 08 Apr 2015 15:37:26 GMT
recorded_with: VCR 2.9.3
