---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 8936e5d5-ac48-4ea6-4a98-af9d47a282a2
      X-Vcap-Request-Id:
      - 72d4601e-389b-4006-52f3-d73ebaf7606c::94e6c97c-faec-4ba0-bdaf-3062866a58e2
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Sat, 04 Apr 2015 12:51:35 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - e12bb9b9-7e0c-42c1-5a1c-0a9085497c51, 320c7a7a-d6e7-42e5-424a-e88d97c5ead4
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"1a342e47-0dc5-4c37-b238-4ee24a766997"}'
  recorded_at: Sat, 04 Apr 2015 12:51:35 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/spaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 198b2758-8e07-428b-5eb8-96d5e3ee9e1f
      X-Vcap-Request-Id:
      - f68fd213-ce17-4a5c-6a70-d9da05b24a5a::5d5af947-e4b0-40fa-ae81-71bcec128ffd
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "created_at": "2015-03-19T07:21:47+00:00",
                "updated_at": null
              },
              "entity": {
                "name": "development",
                "organization_guid": "d94caddf-45be-4c92-bb2d-62d3a65cbec0",
                "space_quota_definition_guid": null,
                "organization_url": "/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0",
                "developers_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/developers",
                "managers_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/managers",
                "auditors_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/auditors",
                "apps_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/apps",
                "routes_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/routes",
                "domains_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/domains",
                "service_instances_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/service_instances",
                "app_events_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/app_events",
                "events_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/events",
                "security_groups_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/security_groups"
              }
            }
          ]
        }
  recorded_at: Sat, 04 Apr 2015 12:51:35 GMT
- request:
    method: post
    uri: https://api.10.244.0.34.xip.io/v2/apps
    body:
      encoding: UTF-8
      string: '{"space_guid":"d3483f4f-6706-4fe1-ad90-1bd45d50e940","name":"paasal-test-app-min-properties","memory":256,"buildpack":"java_buildpack"}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - "/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36"
      X-Cf-Requestid:
      - a8044f8e-bca9-471f-7f8c-6d45a45c46e7
      X-Vcap-Request-Id:
      - 1079494f-7bf4-4682-6ced-f0314357801f::a4a94bd3-fbdb-4b4b-b726-c95a1674141f
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "a5ee1cf3-57ee-457c-87e5-27f479359b36",
            "url": "/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36",
            "created_at": "2015-04-04T12:51:35+00:00",
            "updated_at": null
          },
          "entity": {
            "name": "paasal-test-app-min-properties",
            "production": false,
            "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
            "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
            "buildpack": "java_buildpack",
            "detected_buildpack": null,
            "environment_json": {

            },
            "memory": 256,
            "instances": 1,
            "disk_quota": 1024,
            "state": "STOPPED",
            "version": "2cc1a64f-0c2e-4f7b-83a7-964c19decd9a",
            "command": null,
            "console": false,
            "debug": null,
            "staging_task_id": null,
            "package_state": "PENDING",
            "health_check_timeout": null,
            "staging_failed_reason": null,
            "docker_image": null,
            "package_updated_at": null,
            "detected_start_command": "",
            "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
            "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
            "events_url": "/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36/events",
            "service_bindings_url": "/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36/service_bindings",
            "routes_url": "/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36/routes"
          }
        }
  recorded_at: Sat, 04 Apr 2015 12:51:35 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/private_domains
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 325e6ac3-a2fa-40a0-4024-da7776c3bcdf
      X-Vcap-Request-Id:
      - 56f61e16-26ea-4041-5cd9-34453ef853b6::13c55f7d-642e-4603-9e68-87a7681a2baf
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "a055ee95-7d64-4352-9e5e-7eea55ecf706",
                "url": "/v2/private_domains/a055ee95-7d64-4352-9e5e-7eea55ecf706",
                "created_at": "2015-03-25T16:22:57+00:00",
                "updated_at": null
              },
              "entity": {
                "name": "adomainthatishopefullynotusedontheplatform.de",
                "owning_organization_guid": "d94caddf-45be-4c92-bb2d-62d3a65cbec0",
                "owning_organization_url": "/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0"
              }
            }
          ]
        }
  recorded_at: Sat, 04 Apr 2015 12:51:35 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/shared_domains
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 7f6c557b-d773-47e9-62a3-5679089a3991
      X-Vcap-Request-Id:
      - 6c5697b2-ba3c-47c9-7917-097c9c4f33f5::ac50ed6d-6090-49d8-afc8-bafc66824391
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "url": "/v2/shared_domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "created_at": "2014-12-05T16:23:46+00:00",
                "updated_at": "2015-03-19T07:07:29+00:00"
              },
              "entity": {
                "name": "10.244.0.34.xip.io"
              }
            }
          ]
        }
  recorded_at: Sat, 04 Apr 2015 12:51:35 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 8c8e9bd1-425a-4c37-7c0c-1115cf18a249
      X-Vcap-Request-Id:
      - 99a75eaf-b967-4796-65a3-cbabfcee16bc::eba5437f-0974-4899-bac9-dcb306d29b33
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 301,
          "total_pages": 7,
          "prev_url": null,
          "next_url": "/v2/routes?order-direction=asc&page=2&results-per-page=50",
          "resources": [
            {
              "metadata": {
                "guid": "4ee1f0e2-eb11-4baf-83bb-9101a29aed92",
                "url": "/v2/routes/4ee1f0e2-eb11-4baf-83bb-9101a29aed92",
                "created_at": "2015-03-25T14:01:48+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "e1589864-81d4-4e53-9864-8a88446c718a",
                "domain_guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "domain_url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "apps_url": "/v2/routes/4ee1f0e2-eb11-4baf-83bb-9101a29aed92/apps"
              }
            },
            {
              "metadata": {
                "guid": "a8280d16-c5a4-445e-9f37-e2a8a721f773",
                "url": "/v2/routes/a8280d16-c5a4-445e-9f37-e2a8a721f773",
                "created_at": "2015-03-25T14:01:49+00:00",
              [...]
[...]
- request:
    method: post
    uri: https://api.10.244.0.34.xip.io/v2/routes
    body:
      encoding: UTF-8
      string: '{"domain_guid":"0a7ac015-b059-47d3-b1a2-873a6e370f36","host":"a5ee1cf3-57ee-457c-87e5-27f479359b36","space_guid":"d3483f4f-6706-4fe1-ad90-1bd45d50e940"}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - "/v2/routes/9a49f0c8-0854-4caa-8db7-750f0eec90f6"
      X-Cf-Requestid:
      - d250254b-8ad4-42d6-43ec-bcd4b6d394bb
      X-Vcap-Request-Id:
      - c195f866-9ee0-4895-7cbc-8a03ce6bc154::4450af62-1af7-4e38-b246-35f63e12e22c
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "9a49f0c8-0854-4caa-8db7-750f0eec90f6",
            "url": "/v2/routes/9a49f0c8-0854-4caa-8db7-750f0eec90f6",
            "created_at": "2015-04-04T12:51:35+00:00",
            "updated_at": null
          },
          "entity": {
            "host": "a5ee1cf3-57ee-457c-87e5-27f479359b36",
            "domain_guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
            "domain_url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
            "apps_url": "/v2/routes/9a49f0c8-0854-4caa-8db7-750f0eec90f6/apps"
          }
        }
  recorded_at: Sat, 04 Apr 2015 12:51:35 GMT
- request:
    method: put
    uri: https://api.10.244.0.34.xip.io/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36/routes/9a49f0c8-0854-4caa-8db7-750f0eec90f6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - b36[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - a74c5db3-d23e-4265-43fb-e70100088bfb
      X-Vcap-Request-Id:
      - d9fa9955-f416-41fa-4ecd-305c140e7831::2dcd8ad3-0085-4f95-b3c8-292f2568d16f
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "a5ee1cf3-57ee-457c-87e5-27f479359b36",
            "url": "/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36",
            "created_at": "2015-04-04T12:51:35+00:00",
            "updated_at": "2015-04-04T12:51:36+00:00"
          },
          "entity": {
            "name": "paasal-test-app-min-properties",
            "production": false,
            "space_g[...]
- request:
    method: head
    uri: https://api.10.244.0.34.xip.io/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36/download
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 232ae6a9-dc10-4f0a-7450-7c8c0a593d70
      X-Vcap-Request-Id:
      - 46b491a1-5f14-431b-4df6-14b8001a059a::3f66ca9d-ef17-4570-96ae-097e9e8b2f75
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 04 Apr 2015 12:51:35 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 49c07145-8168-4c52-4e92-0335f324a929
   [...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 3d291919-61f7-4faf-464f-aced32b3bef7
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - f4ad6c24-9f56-40a1-4277-7fb34a67e9bc::7161782e-ae1d-4eb8-97bc-8c0f6b8acfe9
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Sat, 04 Apr 2015 12:51:35 GMT
recorded_with: VCR 2.9.3
