---
http_interactions:
- request:
    method: post
    uri: https://api.cloudcontrol.com/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - POST, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/token"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"token": "__TOKEN__", "expires": "2015-04-08T18:13:59.372774"}'
  recorded_at: Wed, 08 Apr 2015 17:58:59 GMT
- request:
    method: get
    uri: https://api.cloudcontrol.com/app/paasaltestappallproperties13
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - GET, POST, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/app/paasaltestappallproperties13"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"name": "paasaltestappallproperties13", "buildpack_url": null, "repository":
        "ssh://paasaltestappallproperties13@cloudcontrolled.com/repository.git", "type":
        {"name": "nodejs"}, "owner": {"username": "__cloudcontrol:username__", "first_name":
        "", "last_name": "", "email": "__cloudcontrol:user__", "is_active": true,
        "billing_without_payment_info": false}, "users": [{"username": "__cloudcontrol:username__",
        "email": "__cloudcontrol:user__", "role": ""}], "invitations": [], "date_created":
        "2015-04-08T17:54:17", "date_modified": "2015-04-08T17:54:17", "deployments":
        [{"name": "paasaltestappallproperties13/paasal", "dep_id": "dep5r8zdn7j"}]}'
  recorded_at: Wed, 08 Apr 2015 17:59:00 GMT
[...]
- request:
    method: get
    uri: https://api.cloudcontrol.com/app/paasaltestappallproperties13/deployment/paasal/log/access
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/app/paasaltestappallproperties13/deployment/paasal/log/access"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 08 Apr 2015 17:59:01 GMT
- request:
    method: get
    uri: https://api.cloudcontrol.com/app/paasaltestappallproperties13/deployment/paasal/log/error
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/app/paasaltestappallproperties13/deployment/paasal/log/error"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: '[{"time": 1428515790.907651, "type": "info", "message": "Listening
        on port: 27977"}, {"time": 1428515792.443563, "type": "INFO", "message": "*****
        Deployed 34fafe270fad53d4f46c00829fc8732fe4bffb48 *****"}]'
  recorded_at: Wed, 08 Apr 2015 17:59:01 GMT
- request:
    method: get
    uri: https://api.cloudcontrol.com/app/paasaltestappallproperties13/deployment/paasal/log/deploy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/app/paasaltestappallproperties13/deployment/paasal/log/deploy"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: '[{"hostname": "repo-1", "depl_id": "dep5r8zdn7j", "time": 1428515695.778139,
        "level": "INFO", "message": "Initialized deployment dep5r8zdn7j"}, {"hostname":
        "lxc-live-e9npej", "depl_id": "dep5r8zdn7j", "time": 1428515787.652053, "level":
        "INFO", "message": "Deploying ..."}, {"hostname": "lxc-live-e9npej", "depl_id":
        "dep5r8zdn7j", "time": 1428515792.44331, "level": "INFO", "message": "Deployed
        version: 34fafe270fad53d4f46c00829fc8732fe4bffb48"}, {"hostname": "ngx-live-aqfu3s",
        "depl_id": "dep5r8zdn7j", "time": 1428515792.715851, "level": "INFO", "message":
        "Routing requests to new version"}, {"hostname": "lb-live-dm04ms", "depl_id":
        "dep5r8zdn7j", "time": 1428515792.723197, "level": "INFO", "message": "Routing
        requests to new version"}, {"hostname": "ngx-live-xbi1rl", "depl_id": "dep5r8zdn7j",
        "time": 1428515792.767183, "level": "INFO", "message": "Rout[...]
- request:
    method: get
    uri: https://api.cloudcontrol.com/app/paasaltestappallproperties13/deployment/paasal/log/worker
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/app/paasaltestappallproperties13/deployment/paasal/log/worker"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 08 Apr 2015 17:59:02 GMT
[...]
- request:
    method: get
    uri: https://api.cloudcontrol.com/app/paasaltestappallproperties13/deployment/paasal/log/worker
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/app/paasaltestappallproperties13/deployment/paasal/log/worker"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 08 Apr 2015 17:59:11 GMT
recorded_with: VCR 2.9.3
