---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 45a757d4-2ebb-4f3e-5bb5-5b89b3c0c564
      X-Vcap-Request-Id:
      - 09c98d61-0067-4c69-42ed-d28bd47e6502::e2df1cb8-2d15-4765-a594-0e3a8df8973b
    body:
      encoding: US-ASCII
      string: ! '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Wed, 25 Mar 2015 16:22:49 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - 27eff818-0bf5-41d3-77a3-c35d8bd067ef, 6ff6095f-7cfe-444f-5f5c-d1cdc54967c6
    body:
      encoding: US-ASCII
      string: ! '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"5e9a9fe0-59ba-4c06-a1d3-8ecb2e85a68a"}'
  recorded_at: Wed, 25 Mar 2015 16:22:49 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - e3fed875-5723-44ab-50cf-c529e2afea26
      X-Vcap-Request-Id:
      - 2cf5bb98-c391-4b27-4b4a-61593561bfe6::ea48ba21-8c04-4446-9c58-5b60461b7b12
    body:
      encoding: US-ASCII
      string: ! "{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\":
        null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\":
        {\n        \"guid\": \"eb5c7fd1-4985-4065-be56-f5d1cc398dad\",\n        \"url\":
        \"/v2/apps/eb5c7fd1-4985-4065-be56-f5d1cc398dad\",\n        \"created_at\":
        \"2015-03-25T16:22:35+00:00\",\n        \"updated_at\": \"2015-03-25T16:22:48+00:00\"\n
        \     },\n      \"entity\": {\n        \"name\": \"paasal-test-app-all-updated\",\n
        \       \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n
        \       \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\":
        \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\":
        {\n          \"our_test_var_key\": \"our_test_var_value\"\n        },\n        \"memory\":
        256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\":
        \"STOPPED\",\n        \"version\": \"4eb287b6-48be-48ff-9759-268ad8e9fc42\",\n
        \       \"command\": null,\n        \"console\": false,\n        \"debug\":
        null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n
        \       \"health_check_timeout\": null,\n        \"staging_failed_reason\":
        null,\n        \"docker_image\": null,\n        \"package_updated_at\": null,\n
        \       \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n
        \       \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n
        \       \"events_url\": \"/v2/apps/eb5c7fd1-4985-4065-be56-f5d1cc398dad/events\",\n
        \       \"service_bindings_url\": \"/v2/apps/eb5c7fd1-4985-4065-be56-f5d1cc398dad/service_bindings\",\n
        \       \"routes_url\": \"/v2/apps/eb5c7fd1-4985-4065-be56-f5d1cc398dad/routes\"\n
        \     }\n    }\n  ]\n}"
  recorded_at: Wed, 25 Mar 2015 16:22:49 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/eb5c7fd1-4985-4065-be56-f5d1cc398dad/env
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - c6b52536-da10-4239-6f63-570d91ca9ac9
      X-Vcap-Request-Id:
      - 250f415c-1c29-42bd-7b43-ef461c6c64cb::ed595006-1607-4544-b2e1-981f94f052fa
    body:
      encoding: US-ASCII
      string: ! "{\n  \"staging_env_json\": {\n\n  },\n  \"running_env_json\": {\n\n
        \ },\n  \"environment_json\": {\n    \"our_test_var_key\": \"our_test_var_value\"\n
        \ },\n  \"system_env_json\": {\n    \"VCAP_SERVICES\": {\n\n    }\n  },\n
        \ \"application_env_json\": {\n    \"VCAP_APPLICATION\": {\n      \"limits\":
        {\n        \"mem\": 256,\n        \"disk\": 1024,\n        \"fds\": 16384\n
        \     },\n      \"application_version\": \"4eb287b6-48be-48ff-9759-268ad8e9fc42\",\n
        \     \"application_name\": \"paasal-test-app-all-updated\",\n      \"application_uris\":
        [\n        \"eb5c7fd1-4985-4065-be56-f5d1cc398dad.10.244.0.34.xip.io\"\n      ],\n
        \     \"version\": \"4eb287b6-48be-48ff-9759-268ad8e9fc42\",\n      \"name\":
        \"paasal-test-app-all-updated\",\n      \"space_name\": \"development\",\n
        \     \"space_id\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n      \"uris\":
        [\n        \"eb5c7fd1-4985-4065-be56-f5d1cc398dad.10.244.0.34.xip.io\"\n      ],\n
        \     \"users\": null\n    }\n  }\n}"
  recorded_at: Wed, 25 Mar 2015 16:22:49 GMT
[...]
- request:
    method: put
    uri: https://api.10.244.0.34.xip.io/v2/apps/eb5c7fd1-4985-4065-be56-f5d1cc398dad
    body:
      encoding: UTF-8
      string: ! '{"environment_json":{"our_test_var_key":"our_test_var_value","our_test_var_key2":"our_test_var_value2"}}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 540c1ed1-7784-4474-4348-69112d33b3de
      X-Vcap-Request-Id:
      - 3abf54f8-9841-478f-4ab8-cf83d57b366c::940af06c-5396-4c0e-b907-ec0cbdaac74c
    body:
      encoding: US-ASCII
      [...]
