---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 936a190c-4fbd-4ff4-75d9-8b40ad02f6aa
      X-Vcap-Request-Id:
      - 1670ddcc-0398-4e09-71d9-11ae6edd4ce4::f7531f32-872c-4a04-97b8-0358924d3d72
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Thu, 19 Mar 2015 16:36:11 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - cc2ac769-3ac2-48d6-535f-7dc505c44200, 56aa4fb1-5d29-4a88-6fe2-be6e7715956f
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"82ceeb5b-4d54-4767-9d1d-060a0831546b"}'
  recorded_at: Thu, 19 Mar 2015 16:36:12 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/buildpacks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - b36473e7-bf74-4f46-6fa8-97d8259e7b1a
      X-Vcap-Request-Id:
      - 9d2d6546-93a6-483b-6f5f-334ce68dd29e::2ccb1c77-219a-4f9d-8517-c31cacad2857
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 6,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "111634ab-d511-4746-a252-b5fdb15bb51c",
                "url": "/v2/buildpacks/111634ab-d511-4746-a252-b5fdb15bb51c",
                "created_at": "2014-12-05T16:23:50+00:00",
                "updated_at": "2014-12-05T16:23:50+00:00"
              },
              "entity": {
                "name": "java_buildpack",
                "position": 1,
                "enabled": true,
                "locked": false,
                "filename": "java-buildpack-v2.5.zip"
              }
            },
            {
              "metadata": {
                "guid": "5da6e1e2-8134-41cc-9b20-96f40fd6259d",
                "url": "/v2/buildpacks/5da6e1e2-8134-41cc-9b20-96f40fd6259d",
                "created_at": "2014-12-05T16:23:50+00:00",
                "updated_at": "2014-12-05T16:25:05+00:00"
              },
              "entity": {
                "name": "ruby_buildpack",
                "position": 2,
                "enabled"[...]
