{"http_interactions":[{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["64cda9f5-049f-4e5e-65c2-b2df3e917eab"], "X-Vcap-Request-Id":["5c536324-5153-4af4-7131-77461185d43f::c1d7710d-7969-41cb-8cff-b1932dc0b0b8"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"https://login.run.pivotal.io\",\"token_endpoint\":\"https://uaa.run.pivotal.io\",\"min_cli_version\":null,\"min_recommended_cli_version\":null,\"api_version\":\"2.41.0\",\"app_ssh_endpoint\":\"ssh.run.pivotal.io:2222\",\"app_ssh_host_key_fingerprint\":\"e7:13:4e:32:ee:39:62:df:54:41:d7:f7:8b:b2:a7:6b\",\"app_ssh_oauth_client\":\"ssh-proxy\",\"routing_endpoint\":\"https://api.run.pivotal.io/routing\",\"logging_endpoint\":\"wss://loggregator.run.pivotal.io:443\",\"doppler_logging_endpoint\":\"wss://doppler.run.pivotal.io:443\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:05:48 GMT"},{"request":{"method":"post","uri":"https://login.run.pivotal.io/oauth/token?grant_type=password&password=__pivotal:password__&username=__pivotal:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["3c47d774-03d1-497f-6353-dde421816a58"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"cloud_controller.read password.write cloud_controller.write openid uaa.user\",\"jti\":\"1e6fe478-573b-4e0f-b19b-55544af983ab\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:05:50 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/apps?q=name%3Anucleus-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["1d8fe8be-b612-4d9d-7867-623e3b27173b"], "X-Vcap-Request-Id":["1d2ea515-e6d7-43fe-4a8d-543566077181::aa59f726-f40e-4702-b17f-fd42a8a93607"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"ab451001-c9b9-466f-bdb3-5d548aa168a5\",\n        \"url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5\",\n        \"created_at\": \"2015-10-23T00:00:21Z\",\n        \"updated_at\": \"2015-10-23T00:04:58Z\"\n      },\n      \"entity\": {\n        \"name\": \"nucleus-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"stack_guid\": \"86205f38-84fc-4bc2-b2b8-af7f55669f04\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_updated_test_var_value\",\n          \"our_test_var_key2\": \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"4ff4bb5f-4e85-4300-aed9-9be7ea84f7a5\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n        \"health_check_type\": \"port\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"staging_failed_description\": null,\n        \"diego\": true,\n        \"docker_image\": null,\n        \"package_updated_at\": null,\n        \"detected_start_command\": \"\",\n        \"enable_ssh\": true,\n        \"docker_credentials_json\": {\n          \"redacted_message\": \"[PRIVATE DATA HIDDEN]\"\n        },\n        \"space_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"stack_url\": \"/v2/stacks/86205f38-84fc-4bc2-b2b8-af7f55669f04\",\n        \"events_url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/events\",\n        \"service_bindings_url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/service_bindings\",\n        \"routes_url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:05:51 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["82a6e9a0-abee-4cb2-6e5b-586fe5a037a4"], "X-Vcap-Request-Id":["3a29cd30-9880-4707-716c-3bed6f2487ca::405f4c2d-c79d-4310-812f-4a6dfef2d6ba"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"d683a967-34fa-4691-843e-d6cb5c7e76e3\",\n        \"url\": \"/v2/routes/d683a967-34fa-4691-843e-d6cb5c7e76e3\",\n        \"created_at\": \"2015-10-23T00:00:31Z\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"ab451001-c9b9-466f-bdb3-5d548aa168a5\",\n        \"path\": \"\",\n        \"domain_guid\": \"fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n        \"space_guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"service_instance_guid\": null,\n        \"port\": 0,\n        \"domain_url\": \"/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n        \"space_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"apps_url\": \"/v2/routes/d683a967-34fa-4691-843e-d6cb5c7e76e3/apps\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:05:52 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["3cc59b40-7777-4957-5d38-b2ad4ef29f7a"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["6b45966c-b748-4bb2-6a8a-d28b2b2f06a7::a69da3da-008b-4482-994f-9f8b6a5c29d8"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n    \"url\": \"/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n    \"created_at\": \"2013-05-04T00:29:46Z\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"name\": \"cfapps.io\",\n    \"router_group_guid\": null\n  }\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:05:53 GMT"}],"recorded_with":"VCR 2.9.3"}