---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 28c79022-0b79-4018-6427-62f04de0d18c
      X-Vcap-Request-Id:
      - 7692865d-7969-4bff-675c-6520fd8a1121::0b8d6ceb-d1ab-441d-9d82-1fab5b750487
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Sat, 04 Apr 2015 12:53:52 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - 8a706533-6699-4601-6911-126a81567352, 50f315d5-c1a3-4c4d-76a6-6c28d85f8b66
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"61e907e6-49de-4687-ab2c-a75233b742f8"}'
  recorded_at: Sat, 04 Apr 2015 12:53:52 GMT
- request:
    method: delete
    uri: https://api.10.244.0.34.xip.io/v2/apps/paasal-test-app-min-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 5a6a6e0a-afc8-4b5b-6479-b09958b74e31
      X-Vcap-Request-Id:
      - 104a3fbc-33f0-44d0-746c-09bded6aa094::df87a70d-f293-468c-947c-ae103f73e686
    body:
      encoding: UTF-8
      string: |
        {
          "code": 100004,
          "description": "The app name could not be found: paasal-test-app-min-updated",
          "error_code": "CF-AppNotFound"
        }
  recorded_at: Sat, 04 Apr 2015 12:53:52 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - d56d0097-dd4d-4a0f-5a11-2efa535072ce
      X-Vcap-Request-Id:
      - 0142be3e-54db-43fb-73c2-63d5578acd58::ce504265-d808-4be1-bae2-34fcbf6c8485
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "a5ee1cf3-57ee-457c-87e5-27f479359b36",
                "url": "/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36",
                "created_at": "2015-04-04T12:51:35+00:00",
                "updated_at": "2015-04-04T12:53:46+00:00"
              },
              "entity": {
                "name": "paasal-test-app-min-updated",
                "production": false,
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
                "buildpack": "nodejs_buildpack",
                "detected_buildpack": null,
                "environment_json": {
                  "our_test_var_key": "our_test_var_value"
                },
                "memory": 256,
                "instances": 1,
                "disk_quota": 1024,
                "state": "STARTED",
                "version": "8258c1da-af2a-499b-8509-1171461b07d4",
                "command": null,
                "console": false,
                "debug": null,
                "staging_task_id": "4ea43e210ac04990917a587d6868a817",
                "package_state": "PENDING",
                "health_check_timeout": null,
                "staging_failed_reason": null,
                "docker_image": null,
                "package_updated_at": "2015-04-04T12:52:01+00:00",
                "detected_start_command": "node server.js",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
                "events_url": "/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36/events",
                "service_bindings_url": "/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36/service_bindings",
                "routes_url": "/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36/routes"
              }
            }
          ]
        }
  recorded_at: Sat, 04 Apr 2015 12:53:52 GMT
- request:
    method: delete
    uri: https://api.10.244.0.34.xip.io/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: 
    headers:
      X-Cf-Requestid:
      - 0a10b9f6-97b5-4702-736e-89a7474f4f9c
      X-Vcap-Request-Id:
      - 53c77889-dad5-439f-7050-ae52ea2919f3::a00bc747-03df-4d8b-b4b9-16509bf2d859
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 04 Apr 2015 12:53:52 GMT
recorded_with: VCR 2.9.3
