{"http_interactions":[{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["24bbd55b-282f-45ef-7330-2cff103b266c"], "X-Vcap-Request-Id":["75f0ddb9-49d4-42b9-4ba3-238c7e28f746::f08aebd4-ca51-417d-943c-0e04c5c000c2"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"https://login.run.pivotal.io\",\"token_endpoint\":\"https://uaa.run.pivotal.io\",\"min_cli_version\":null,\"min_recommended_cli_version\":null,\"api_version\":\"2.41.0\",\"app_ssh_endpoint\":\"ssh.run.pivotal.io:2222\",\"app_ssh_host_key_fingerprint\":\"e7:13:4e:32:ee:39:62:df:54:41:d7:f7:8b:b2:a7:6b\",\"app_ssh_oauth_client\":\"ssh-proxy\",\"routing_endpoint\":\"https://api.run.pivotal.io/routing\",\"logging_endpoint\":\"wss://loggregator.run.pivotal.io:443\",\"doppler_logging_endpoint\":\"wss://doppler.run.pivotal.io:443\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:45:13 GMT"},{"request":{"method":"post","uri":"https://login.run.pivotal.io/oauth/token?grant_type=password&password=__pivotal:password__&username=__pivotal:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["96ae735b-a25e-4d97-7fc9-4142bc69cff5"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"cloud_controller.read password.write cloud_controller.write openid uaa.user\",\"jti\":\"13fe3038-d720-4c1a-bdbd-70b7a6747529\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:45:14 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/apps?q=name%3Anucleus-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["8122e4df-c07e-457d-6738-1fe4295fec45"], "X-Vcap-Request-Id":["5715a9fa-04e4-45ef-6f94-687341ff3b6f::1de5ec0d-0d37-43f9-b74d-424d5e2f671c"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"ab451001-c9b9-466f-bdb3-5d548aa168a5\",\n        \"url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5\",\n        \"created_at\": \"2015-10-23T00:00:21Z\",\n        \"updated_at\": \"2015-10-23T01:22:49Z\"\n      },\n      \"entity\": {\n        \"name\": \"nucleus-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"stack_guid\": \"86205f38-84fc-4bc2-b2b8-af7f55669f04\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": \"\",\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_updated_test_var_value\",\n          \"our_test_var_key2\": \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STARTED\",\n        \"version\": \"fc937529-7b7d-4495-98fb-4191505193d4\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": \"c9fe2fbfe92f4231a0fd932e2c27efea\",\n        \"package_state\": \"STAGED\",\n        \"health_check_type\": \"port\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"staging_failed_description\": null,\n        \"diego\": true,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-10-23T01:20:56Z\",\n        \"detected_start_command\": \"node server.js\",\n        \"enable_ssh\": true,\n        \"docker_credentials_json\": {\n          \"redacted_message\": \"[PRIVATE DATA HIDDEN]\"\n        },\n        \"space_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"stack_url\": \"/v2/stacks/86205f38-84fc-4bc2-b2b8-af7f55669f04\",\n        \"events_url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/events\",\n        \"service_bindings_url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/service_bindings\",\n        \"routes_url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:45:15 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["9677c271-78f8-4835-401b-99f2fadf55fc"], "X-Vcap-Request-Id":["4ba3912d-8c2a-4f2f-75f8-63890f259ad7::e8a839b9-5659-[...]
{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["ada3abde-01ff-4675-6ed7-4db0c5e0869b"], "X-Vcap-Request-Id":["4e001535-4e4e-461d-5a1f-e987da69bd66::02aa0bd3-f48d-4d42-a85a-25815731fb87"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 3,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"d683a967-34fa-4691-843e-d6cb5c7e76e3\",\n        \"url\": \"/v2/routes/d683a967-34fa-4691-843e-d6cb5c7e76e3\",\n        \"created_at\": \"2015-10-23T00:00:31Z\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"ab451001-c9b9-466f-bdb3-5d548aa168a5\",\n        \"path\": \"\",\n        \"domain_guid\": \"fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n        \"space_guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"service_instance_guid\": null,\n        \"port\": 0,\n        \"domain_url\": \"/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n        \"space_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"apps_url\": \"/v2/routes/d683a967-34fa-4691-843e-d6cb5c7e76e3/apps\"\n      }\n    },\n    {\n      \"metadata\": {\n        \"guid\": \"64c53b75-d1ee-48af-bcbe-57b240518632\",\n        \"url\": \"/v2/routes/64c53b75-d1ee-48af-bcbe-57b240518632\",\n        \"created_at\": \"2015-10-23T00:06:07Z\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"pivotal\",\n        \"path\": \"\",\n        \"domain_guid\": \"941a6da5-a872-4440-8e90-2f9b96efc500\",\n        \"space_guid\": \[...]
{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["003b58c2-c199-4210-53ce-da2c27b68380"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["6b929953-c930-4848-715b-32c8ddcd6e56::df5ceb0b-e91d-40ad-a71e-a2d14a3b6920"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n    \"url\": \"/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n    \"created_at\": \"2013-05-04T00:29:46Z\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"name\": \"cfapps.io\",\n    \"router_group_guid\": null\n  }\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:45:18 GMT"},[...]
{"request":{"method":"head","uri":"https://api.run.pivotal.io/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/download","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":302,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Location":["https://go-cloudfoundry-com-cc-packages.s3.amazonaws.com/ab/45/ab451001-c9b9-466f-bdb3-5d548aa168a5?X-Amz-Expires=3600&X-Amz-Date=20151023T104504Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIE6ZRHCA76CZLWGQ/20151023/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=4862a6331e5391251c6fb870439c0179aa530004b8a0fd7648f36cde7d976dac"], "X-Cf-Requestid":["bf9b7842-9ebb-476f-6a6a-273842b571fc"], "X-Vcap-Request-Id":["21bf8d1a-13af-4f10-693a-5a905457650c::a85557c2-8bbb-4fcb-8553-00987f5402e5"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:45:20 GMT"},{"request":{"method":"post","uri":"https://api.run.pivotal.io/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/restage","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Location":["/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5"], "X-Cf-Requestid":["8b617bbd-a8b7-4f7d-5b65-4f1d36808574"], "X-[...]
[...]
{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["32f83fc4-363b-4700-5d0d-28b6c7172d3c"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["b2f94918-00e9-42f7-626a-7c8a68c83cc4::906d90ed-b078-482e-b5c9-2674373a19a5"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n    \"url\": \"/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n    \"created_at\": \"2013-05-04T00:29:46Z\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"name\": \"cfapps.io\",\n    \"router_group_guid\": null\n  }\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:45:26 GMT"}],"recorded_with":"VCR 2.9.3"}