{"http_interactions":[{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["3c20ffff-5687-45a4-6091-80122a8d3b16"], "X-Vcap-Request-Id":["35e45ee4-dd87-4814-5789-d6c092da99d4::e49dd27b-8148-427c-a1bb-f6d68c4c8de2"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"https://login.run.pivotal.io\",\"token_endpoint\":\"https://uaa.run.pivotal.io\",\"min_cli_version\":null,\"min_recommended_cli_version\":null,\"api_version\":\"2.41.0\",\"app_ssh_endpoint\":\"ssh.run.pivotal.io:2222\",\"app_ssh_host_key_fingerprint\":\"e7:13:4e:32:ee:39:62:df:54:41:d7:f7:8b:b2:a7:6b\",\"app_ssh_oauth_client\":\"ssh-proxy\",\"routing_endpoint\":\"https://api.run.pivotal.io/routing\",\"logging_endpoint\":\"wss://loggregator.run.pivotal.io:443\",\"doppler_logging_endpoint\":\"wss://doppler.run.pivotal.io:443\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:45:05 GMT"},{"request":{"method":"post","uri":"https://login.run.pivotal.io/oauth/token?grant_type=password&password=__pivotal:password__&username=__pivotal:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["d4228470-e548-4bf9-5a1e-1603165706c9"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"cloud_controller.read password.write cloud_controller.write openid uaa.user\",\"jti\":\"e7cb6c18-40fa-46eb-98af-844181042101\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:45:07 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/apps?q=name%3Anucleus-test-app-min-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["ccef4bbe-18a1-4e17-5266-f529e7a35cbb"], "X-Vcap-Request-Id":["834cc607-d255-41a9-4c37-606289bd3de5::3666233e-72ad-43a6-ad7d-b32018dcf85e"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"1291fd16-6280-4eb3-8e14-9e61fe71bec3\",\n        \"url\": \"/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3\",\n        \"created_at\": \"2015-10-23T00:00:45Z\",\n        \"updated_at\": \"2015-10-23T01:24:24Z\"\n      },\n      \"entity\": {\n        \"name\": \"nucleus-test-app-min-updated\",\n        \"production\": false,\n        \"space_guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"stack_guid\": \"86205f38-84fc-4bc2-b2b8-af7f55669f04\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": \"\",\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_test_var_value\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STARTED\",\n        \"version\": \"1a7868e3-f379-4a92-bec6-037a0f5fc195\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": \"c4f2cd17b31644f9a47891ac517a95d5\",\n        \"package_state\": \"STAGED\",\n        \"health_check_type\": \"port\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"staging_failed_description\": null,\n        \"diego\": true,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-10-23T01:21:26Z\",\n        \"detected_start_command\": \"node server.js\",\n        \"enable_ssh\": true,\n        \"docker_credentials_json\": {\n          \"redacted_message\": \"[PRIVATE DATA HIDDEN]\"\n        },\n        \"space_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"stack_url\": \"/v2/stacks/86205f38-84fc-4bc2-b2b8-af7f55669f04\",\n        \"events_url\": \"/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3/events\",\n        \"service_bindings_url\": \"/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3/service_bindings\",\n        \"routes_url\": \"/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:45:08 GMT"},{"request":{"method":"head","uri":"https://api.run.pivotal.io/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3/download","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":302,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Location":["https://go-cloudfoundry-com-cc-packages.s3.amazonaws.com/12/91/1291fd16-6280-4eb3-8e14-9e61fe71bec3?X-Amz-Expires=3600&X-Amz-Date=20151023T104453Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIE6ZRHCA76CZLWGQ/20151023/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=d02fc2aad94723541b46fcac0a8aed5336ae056c49214bb615bf3b256c6b8002"], "X-Cf-Requestid":["2ab96fa7-7c30-4319-644e-ccb8c796a6e3"], "X-Vcap-Request-Id":["60973ffc-ae04-40f8-7da1-18c3049ba7e9::8f879024-1190-43f6-9eb8-ceb01b4556a4"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:45:09 GMT"},{"request":{"method":"post","uri":"https://api.run.pivotal.io/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3/restage","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Location":["/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3"], "X-Cf-Requestid":["65bc789e-1189-44d2-7533-63b6fb0f6c6d"], "X-[...]
{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["2873a339-2b1d-48e2-7775-8f0d24ae194e"], "X-Vcap-Request-Id":["44aeba38-aac0-417d-7c0d-cd3b910205e9::36e6b39d-0f99-4fbb-8b10-813007f17758"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"e962b67c-23ef-46a2-8dde-f6e25598c359\",\n        \"url\": \"/v2/routes/e962b67c-23ef-46a2-8dde-f6e25598c359\",\n        \"created_at\": \"2015-10-23T00:00:53Z\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"1291fd16-6280-4eb3-8e14-9e61fe71bec3\",\n        \"path\": \"\",\n        \"domain_guid\": \"fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n        \"space_guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"service_instance_guid\": null,\n        \"port\": 0,\n        \"domain_url\": \"/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n        \"space_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"apps_url\": \"/v2/routes/e962b67c-23ef-46a2-8dde-f6e25598c359/apps\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:45:11 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["e1472b55-957c-409a-7ae9-6725a3f44ac6"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["bf9b5c7e-20a0-4747-52d9-cecb8cb3759b::035caa60-c479-4a0a-9112-80063d59c332"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n    \"url\": \"/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n    \"created_at\": \"2013-05-04T00:29:46Z\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"name\": \"cfapps.io\",\n    \"router_group_guid\": null\n  }\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:45:12 GMT"}],"recorded_with":"VCR 2.9.3"}