{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/06/27 02:31:47 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:32:38 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/account","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"d83a8e15c696a4e251b896e1cf367b51\""], "Last-Modified":["Sat, 27 Jun 2015 09:31:47 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global identity"], "RateLimit-Remaining":["2343"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"beta\":false,\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\",\"last_login\":\"2015-04-23T10:07:51Z\",\"name\":\" \",\"two_factor_authentication\":false,\"verified\":true,\"created_at\":\"2014-11-18T09:37:21Z\",\"updated_at\":\"2015-06-27T09:31:47Z\",\"default_organization\":null}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:32:38 GMT"}],"recorded_with":"VCR 2.9.3"}