{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?password=__heroku:password__&username=__heroku:user__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":false,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/10/08 04:22:08 -0700\",\"created_at\":\"2014/10/08 04:22:08 -0700\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/10/23 02:44:13 -0700\",\"name\":\"stfnklb\",\"updated_at\":\"2015/10/23 03:35:32 -0700\",\"verified\":true,\"verified_at\":\"2015/10/23 02:45:30 -0700\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:36:11 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/account","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"36b12fb729708611f3e55236d434caee\""], "Last-Modified":["Fri, 23 Oct 2015 10:35:32 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["create-apps global identity"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4494"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"{\"allow_tracking\":false,\"beta\":false,\"email\":\"__heroku:user__\",\"id\":\"6118a9d1-36ba-482e-8299-449000a2d46d\",\"last_login\":\"2015-10-23T09:44:13Z\",\"name\":\"stfnklb\",\"sms_number\":null,\"two_factor_authentication\":false,\"verified\":true,\"created_at\":\"2014-10-08T11:22:08Z\",\"updated_at\":\"2015-10-23T10:35:32Z\",\"suspended_at\":null,\"default_organization\":null}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:36:12 GMT"}],"recorded_with":"VCR 2.9.3"}