---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - ba742735-c7b0-4778-6d2f-1253a5793a67
      X-Vcap-Request-Id:
      - 75b14792-61b5-489f-5607-d8502f37aff2::a80477fe-0177-4f6d-b8d9-185cea810dc0
    body:
      encoding: US-ASCII
      string: ! '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Wed, 25 Mar 2015 16:23:04 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - 3c26fe39-83fb-49ec-4755-894a40f5eeaa, 31b42e74-31e2-417f-67a7-a754823743fe
    body:
      encoding: US-ASCII
      string: ! '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"3e878b9c-992b-48a5-a1d9-cce385654fd4"}'
  recorded_at: Wed, 25 Mar 2015 16:23:04 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 180039e9-7cfd-4a06-6699-609438d1fae0
      X-Vcap-Request-Id:
      - 527456d0-e3f8-48dd-45e9-601df979fbf8::184bb87a-16e7-4ad2-ba06-97a53972b853
    body:
      encoding: US-ASCII
      string: ! "{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\":
        null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\":
        {\n        \"guid\": \"eb5c7fd1-4985-4065-be56-f5d1cc398dad\",\n        \"url\":
        \"/v2/apps/eb5c7fd1-4985-4065-be56-f5d1cc398dad\",\n        \"created_at\":
        \"2015-03-25T16:22:35+00:00\",\n        \"updated_at\": \"2015-03-25T16:22:58+00:00\"\n
        \     },\n      \"entity\": {\n        \"name\": \"paasal-test-app-all-updated\",\n
        \       \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n
        \       \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\":
        \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\":
        {\n          \"our_test_var_key\": \"our_updated_test_var_value\",\n          \"our_test_var_key2\":
        \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\":
        1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\":
        \"62e8a0ae-11c0-4139-8897-66eaedff66bf\",\n        \"command\": null,\n        \"console\":
        false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\":
        \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\":
        null,\n        \"docker_image\": null,\n        \"package_updated_at\": null,\n
        \       \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n
        \       \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n
        \       \"events_url\": \"/v2/apps/eb5c7fd1-4985-4065-be56-f5d1cc398dad/events\",\n
        \       \"service_bindings_url\": \"/v2/apps/eb5c7fd1-4985-4065-be56-f5d1cc398dad/service_bindings\",\n
        \       \"routes_url\": \"/v2/apps/eb5c7fd1-4985-4065-be56-f5d1cc398dad/routes\"\n
        \     }\n    }\n  ]\n}"
  recorded_at: Wed, 25 Mar 2015 16:23:04 GMT
recorded_with: VCR 2.9.3
