{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-04-28T15:58:33.204769\"}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 15:43:33 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappminproperties40","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappminproperties40"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"name\": \"paasaltestappminproperties40\", \"buildpack_url\": null, \"repository\": \"ssh://paasaltestappminproperties40@cloudcontrolled.com/repository.git\", \"type\": {\"name\": \"nodejs\"}, \"owner\": {\"username\": \"__cloudcontrol:username__\", \"first_name\": \"\", \"last_name\": \"\", \"email\": \"__cloudcontrol:user__\", \"is_active\": true, \"billing_without_payment_info\": false}, \"users\": [{\"username\": \"__cloudcontrol:username__\", \"email\": \"__cloudcontrol:user__\", \"role\": \"\"}], \"invitations\": [], \"date_created\": \"2015-04-28T15:39:06\", \"date_modified\": \"2015-04-28T15:39:06\", \"deployments\": [{\"name\": \"paasaltestappminproperties40/paasal\", \"dep_id\": \"depdngdfwvm\"}]}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 15:43:33 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappminproperties40/deployment/paasal","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, PUT, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappminproperties40/deployment/paasal"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"name\": \"paasaltestappminproperties40/paasal\", \"stack\": {\"name\": \"pinky\"}, \"dep_id\": \"depdngdfwvm\", \"branch\": \"ssh://paasaltestappminproperties40@cloudcontrolled.com/repository.git\", \"users\": [], \"static_files\": \"(removed)\", \"billing_account\": null, \"version\": \"c77e11cf71f8899e8683013fcc08691900185e40\", \"state\": \"not deployed\", \"date_created\": \"2015-04-28T15:39:07\", \"date_modified\": \"2015-04-28T15:43:31\", \"is_default\": false, \"default_subdomain\": \"paasal-paasaltestappminproperties40.cloudcontrolled.com\", \"min_boxes\": 1, \"max_boxes\": 1, \"billed_boxes\": {\"until\": 1430235814, \"free_boxes\": 0.0, \"costs\": 0.0, \"boxes\": 0.0}, \"billed_addons\": []}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 15:43:34 GMT"},[...]
{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappminproperties40/deployment/paasal","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, PUT, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappminproperties40/deployment/paasal"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"name\": \"paasaltestappminproperties40/paasal\", \"stack\": {\"name\": \"pinky\"}, \"dep_id\": \"depdngdfwvm\", \"branch\": \"ssh://paasaltestappminproperties40@cloudcontrolled.com/repository.git\", \"users\": [], \"static_files\": \"(removed)\", \"billing_account\": null, \"version\": \"c77e11cf71f8899e8683013fcc08691900185e40\", \"state\": \"deployed\", \"date_created\": \"2015-04-28T15:39:07\", \"date_modified\": \"2015-04-28T15:43:31\", \"is_default\": false, \"default_subdomain\": \"paasal-paasaltestappminproperties40.cloudcontrolled.com\", \"min_boxes\": 1, \"max_boxes\": 1, \"billed_boxes\": {\"until\": 1430235872, \"boxes\": 0.0, \"free_boxes\": 0.0, \"costs\": 0.0}, \"billed_addons\": []}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 15:44:32 GMT"}],"recorded_with":"VCR 2.9.3"}