{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-04-28T15:56:41.602980\"}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 15:41:41 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties40","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties40"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"name\": \"paasaltestappallproperties40\", \"buildpack_url\": null, \"repository\": \"ssh://paasaltestappallproperties40@cloudcontrolled.com/repository.git\", \"type\": {\"name\": \"nodejs\"}, \"owner\": {\"username\": \"__cloudcontrol:username__\", \"first_name\": \"\", \"last_name\": \"\", \"email\": \"__cloudcontrol:user__\", \"is_active\": true, \"billing_without_payment_info\": false}, \"users\": [{\"username\": \"__cloudcontrol:username__\", \"email\": \"__cloudcontrol:user__\", \"role\": \"\"}], \"invitations\": [], \"date_created\": \"2015-04-28T15:39:01\", \"date_modified\": \"2015-04-28T15:39:01\", \"deployments\": [{\"name\": \"paasaltestappallproperties40/paasal\", \"dep_id\": \"depyv5wqzzv\"}]}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 15:41:42 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties40/deployment/paasal","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, PUT, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties40/deployment/paasal"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"name\": \"paasaltestappallproperties40/paasal\", \"stack\": {\"name\": \"pinky\"}, \"dep_id\": \"depyv5wqzzv\", \"branch\": \"ssh://paasaltestappallproperties40@cloudcontrolled.com/repository.git\", \"users\": [], \"static_files\": \"(removed)\", \"billing_account\": null, \"version\": \"a741276222022f29d5155fbb524cfa6c4451d3b0\", \"state\": \"not deployed\", \"date_created\": \"2015-04-28T15:39:02\", \"date_modified\": \"2015-04-28T15:41:39\", \"is_default\": false, \"default_subdomain\": \"paasal-paasaltestappallproperties40.cloudcontrolled.com\", \"min_boxes\": 1, \"max_boxes\": 1, \"billed_boxes\": {\"costs\": 0.0, \"boxes\": 0.0, \"until\": 1430235702, \"free_boxes\": 0.0}, \"billed_addons\": []}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 15:41:42 GMT"},[...]
{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties40/deployment/paasal","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, PUT, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties40/deployment/paasal"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"name\": \"paasaltestappallproperties40/paasal\", \"stack\": {\"name\": \"pinky\"}, \"dep_id\": \"depyv5wqzzv\", \"branch\": \"ssh://paasaltestappallproperties40@cloudcontrolled.com/repository.git\", \"users\": [], \"static_files\": \"(removed)\", \"billing_account\": null, \"version\": \"a741276222022f29d5155fbb524cfa6c4451d3b0\", \"state\": \"deployed\", \"date_created\": \"2015-04-28T15:39:02\", \"date_modified\": \"2015-04-28T15:41:39\", \"is_default\": false, \"default_subdomain\": \"paasal-paasaltestappallproperties40.cloudcontrolled.com\", \"min_boxes\": 1, \"max_boxes\": 1, \"billed_boxes\": {\"boxes\": 0.0, \"until\": 1430235760, \"free_boxes\": 0.0, \"costs\": 0.0}, \"billed_addons\": []}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 15:42:40 GMT"}],"recorded_with":"VCR 2.9.3"}