{"http_interactions":[{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/user","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"9cce4cd6d7387a6cf19e8684074bfc6b\""], "ProxyTime":["D=1011370"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["__openshift-online:id__"]},"body":{"encoding":"UTF-8","string":"{\"api_version\":1.7,\"data\":{\"capabilities\":{\"subaccounts\":false,\"gear_sizes\":[\"small\"],\"plan_upgrade_enabled\":true,\"view_global_teams\":false},\"consumed_gears\":3,\"created_at\":\"2014-10-09T06:16:06Z\",\"currency_cd\":null,\"email\":\"__openshift-online:user__\",\"id\":\"__openshift-online:id__\",\"links\":{\"ADD_KEY\":{\"href\":\"https://openshift.redhat.com/broker/rest/user/keys\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Add new SSH key\",\"required_params\":[{\"description\":\"Name of the key\",\"invalid_options\":[],\"name\":\"name\",\"type\":\"string\",\"valid_options\":[]},{\"description\":\"Type of Key\",\"invalid_options\":[],\"name\":\"type\",\"type\":\"string\",\"valid_options\":[\"ssh-rsa\",\"ssh-dss\",\"ssh-rsa-cert-v01@openssh.com\",\"ssh-dss-cert-v01@openssh.com\",\"ssh-rsa-cert-v00@openssh.com\",\"ssh-dss-cert-v00@openssh.com\"]},{\"description\":\"The key portion of an ssh key (excluding key type and comment)\",\"invalid_options\":[],\"name\":\"content\",\"type\":\"string\",\"valid_options\":[]}]},\"LIST_KEYS\":{\"href\":\"https://openshift.redhat.com/broker/rest/user/keys\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"List SSH keys\",\"required_params\":[]}},\"login\":\"__openshift-online:user__\",\"max_domains\":1,\"max_gears\":3,\"max_teams\":0,\"plan_expiration_date\":null,\"plan_id\":\"free\",\"plan_quantity\":1,\"plan_state\":\"ACTIVE\",\"usage_account_id\":null,\"usage_rates\":{\"prepaid\":false}},\"messages\":[],\"status\":\"ok\",\"supported_api_versions\":[1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7],\"type\":\"user\",\"version\":\"1.7\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 11:10:54 GMT"},{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/domains","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"78ee1f4b4be431697d6b73a099782421\""], "ProxyTime":["D=1880712"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["__openshift-online:id__"]},"body":{"encoding":"UTF-8","string":"{\"api_version\":1.7,\"data\":[{\"allowed_gear_sizes\":[\"small\"],\"available_gears\":0,\"creation_time\":\"2014-10-09T06:18:53Z\",\"id\":\"543628cd4382ecf496000284\",\"links\":{\"GET\":{\"href\":\"https://openshift.redhat.com/broker/rest/domain/roecky\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"Get domain\",\"required_params\":[]},\"ADD_APPLICATION\":{\"href\":\"https://openshift.redhat.com/broker/rest/domain/roecky/applications\",\"method\":\"POST\",\"optional_params\":[{\"default_value\":null,\"description\":\"Array of one or more cartridge names\",\"name\":\"cartridges\",\"type\":\"array\",\"valid_options\":[]},{\"default_value\":false,\"description\":\"Mark application as scalable\",\"name\":\"scale\",\"type\":\"boolean\",\"valid_options\":[true,false]},{\"default_value\":\"small\",\"description\":\"The size of the gear\",\"name\":\"gear_size\",\"type\":\"string\",\"valid_options\":[\"small\"]},{\"default_value\":null,\"description\":\"A URL to a Git source code repository tha[...]
{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/domains/roecky/applications/paasaltestappallproperties","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"e37dd8486756c527a9b11f4ac67aeafb\""], "ProxyTime":["D=855866"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["__openshift-online:id__"]},"body":{"encoding":"UTF-8","string":"{\"api_version\":1.7,\"data\":{\"aliases\":[{\"certificate_added_at\":null,\"has_private_ssl_certificate\":false,\"id\":\"openshift-online.adomainthatishopefullynotusedontheplatform.de\",\"links\":{\"GET\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/558e80864382ec47f1000138/alias/openshift-online.adomainthatishopefullynotusedontheplatform.de\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"Get alias\",\"required_params\":[]},\"UPDATE\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/558e80864382ec47f1000138/alias/openshift-online.adomainthatishopefullynotusedontheplatform.de\",\"method\":\"PUT\",\"optional_params\":[{\"default_value\":null,\"description\":\"Optional passphrase for the private key\",\"name\":\"pass_phrase\",\"type\":\"string\",\"valid_options\":[]}],\"rel\":\"Update alias\",\"required_params\":[{\"description\":\"Content of SSL Certificate\",\"invalid_options\":[],\"name\":\"ssl_certificate\",\"type\":\"string\",\"valid_options\":[]},{\"description\":\"Private key for the certificate.  Required if adding a certificate\",\"invalid_options\":[],\"name\":\"private_key\",\"type\":\"string\",\"valid_options\":[]}]},\"DELETE\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/558e80864382ec47f1000138/alias/openshift-online.adomainthatishopefullynotusedontheplatform.de\",\"method\":\"DELETE\",\"optional_params\":[],\"rel\":\"Delete alias\",\"required_params\":[]}}},{\"certificate_added_at\":null,\"has_private_ssl_certificate\":false,\"id\":\"adomainthatishopefullynotusedontheplatform.de\",\"links\":{\"GET\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/558e80864382ec47f1000138/alias/ad[...]
{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/application/558e80864382ec47f1000138/cartridges","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"34b173292d307637bf4bf08b7b9d432c\""], "ProxyTime":["D=1086134"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["__openshift-online:id__"]},"body":{"encoding":"UTF-8","string":"{\"api_version\":1.7,\"data\":[{\"activation_time\":\"2015-03-02T23:59:40Z\",\"added_time\":\"2015-06-27T10:52:54Z\",\"additional_gear_storage\":0,\"automatic_updates\":true,\"base_gear_storage\":1,\"collocated_with\":[\"nodejs-0.10\"],\"creation_time\":\"2015-03-02T23:59:40Z\",\"current_scale\":1,\"description\":\"Acts as a load balancer for your web cartridge and will automatically scale up to handle incoming traffic. Is automatically added to scaled applications when they are created and cannot be removed or added to an application after the fact.\",\"display_name\":\"Web Load Balancer\",\"gear_profile\":\"small\",\"help_topics\":{},\"license\":\"GPLv2+\",\"license_url\":\"http://www.gnu.org/licenses/gpl-2.0.html\",\"links\":{\"GET\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/558e80864382ec47f1000138/cartridge/haproxy-1.4\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"Get cartridge\",\"required_params\":[]},\"UPDATE\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/558e80864382ec47f1000138/cartridge/haproxy-1.4\",\"method\":\"PUT\",\"optional_params\":[{\"default_value\":null,\"description\":\"Additional filesystem storage in gigabytes on each gear having cartridge haproxy-1.4\",\"name\":\"additional_gear_storage\",\"type\":\"integer\",\"valid_options\":[]},{\"default_value\":null,\"description\":\"Minimum number of gears having cartridge haproxy-1.4\",\"name\":\"scales_from\",\"type\":\"integer\",\"valid_options\":[]},{\"default_value\":null,\"description\":\"Maximum number of gears having cartridge haproxy-1.4\",\"name\":\"scales_to\",\"type\":\"integer\",\"valid_options\":[]}],\"rel\":\"Update cartridge configuration\",\"required_params\":[]},\"STOP\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/558e80864382ec47f1000138/cartridge/haproxy-1.4/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Stop cartridge\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"stop\"]}]},\"START\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/558e80864382ec47f1000138/cartridge/haproxy-1.4/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Start cartridge\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"start\"]}]},\"RESTART\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/558e80864382ec47f1000138/cartridge/haproxy-1.4/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Restart cartridge\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"restart\"]}]},\"RELOAD\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/558e80864382ec47f1000138/cartridge/haproxy-1.4/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Reload cartridge\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"reload\"]}]},\"DELETE\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/558e80864382ec47f1000138/cartridge/haproxy-1.4\",\"method\":\"DELETE\",\"optional_params\":[],\"rel\":\"Delete cartridge\",\"required_params\":[]}},\"maintained_by\":\"redhat\",\"name\":\"haproxy-1.4\",\"properties\":[],\"requires\":[[\"web_framework\"],[\"web_proxy\"]],\"scales_from\":1,\"scales_to\":1,\"scales_with\":\"haproxy-1.4\",\"status_messages\":null,\"supported_scales_from\":1,\"supported_scales_to\":1,\"tags\":[\"web_proxy\",\"scales\",\"embedded\"],\"type\":\"embedded\",\"usage_rates\":[],\"version\":\"1.4\",\"website\":\"http://haproxy.1wt.eu/\"},{\"activation_time\":\"2015-04-13T18:32:33Z\",\"added_time\":\"2015-06-27T10:52:54Z\",\"additional_gear_storage\":0,\"automatic_updates\":true,\"base_gear_storage\":1,\"collocated_with\":[\"haproxy-1.4\"],\"creation_time\":\"2015-04-13T18:32:33Z\",\"current_scale\":1,\"description\":\"Node.js is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications. Node.js is perfect for data-intensive real-time applications that run [...]
