{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-06-27T10:05:19.303936\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:51:00 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties70/deployment/paasal/addon/config.free","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, PUT, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties70/deployment/paasal/addon/config.free"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"addon_option\": {\"name\": \"config.free\"}, \"settings\": {\"CONFIG_VARS\": {\"our_test_var_key\": \"our_updated_test_var_value\", \"our_test_var_key2\": \"our_test_var_value2\"}}}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:51:00 GMT"},{"request":{"method":"put","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties70/deployment/paasal/addon/config.free","body":{"encoding":"UTF-8","string":"{\"addon\":\"config.free\",\"settings\":\"{\\\"our_test_var_key\\\":null}\",\"force\":true}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, PUT, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties70/deployment/paasal/addon/config.free"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"addon_option\": {\"name\": \"config.free\"}, \"settings\": {\"CONFIG_VARS\": {\"our_test_var_key2\": \"our_test_var_value2\"}}}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:51:01 GMT"}],"recorded_with":"VCR 2.9.3"}