{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["1b467d32-873d-4219-7be5-ff350aea79d9"], "X-Vcap-Request-Id":["673757db-d045-4cf7-6e1b-eb453e8932ee::3086907a-0d32-482a-87b4-fa1a29ba04ca"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:49 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["5a6e61a3-8105-44e7-723a-40e75e94fbf2, 50881522-f0a7-4311-69bd-752d507d6271"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"783c186e-41b1-40d6-9fb5-e8826e580457\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:49 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["cd4d5fd4-4cc1-48ae-74a1-f72a318df830"], "X-Vcap-Request-Id":["153b5371-0317-42e3-7da5-0e81862506cc::baf55bec-63c2-4be4-ac7c-ee2fe4645e5c"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"03a567ca-5b77-4b7c-a73a-a008ca5dad17\",\n        \"url\": \"/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17\",\n        \"created_at\": \"2015-05-14T06:39:23+00:00\",\n        \"updated_at\": \"2015-05-14T06:39:41+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_updated_test_var_value\",\n          \"our_test_var_key2\": \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"3b85cc52-10a3-4d48-aeac-ac9cb895167f\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": null,\n        \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17/events\",\n        \"service_bindings_url\": \"/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17/service_bindings\",\n        \"routes_url\": \"/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:49 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/services","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["ecb5e9c8-913d-4f7f-7ac8-392fa189b360"], "X-Vcap-Request-Id":["2a761436-a804-4535-6648-9a3d2a068557::14c33194-4af7-4343-a641-c86ddaf861a0"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 4,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"created_at\": \"2015-04-14T18:37:40+00:00\",\n        \"updated_at\": \"2015-05-14T06:39:08+00:00\"\n      },\n      \"entity\": {\n        \"label\": \"mongodb\",\n        \"provider\": \"core\",\n        \"url\": \"http://10.244.1.2:44138\",\n        \"description\": \"MongoDB NoSQL database\",\n        \"long_description\": null,\n        \"version\": \"2.2\",\n        \"info_url\": null,\n        \"active\": true,\n        \"bindable\": true,\n        \"unique_id\": \"8f4af9f9-0f29-4957-87a3-1039ce983ede\",\n        \"extra\": \"{\\\"listing\\\":{\\\"imageUrl\\\":null,\\\"blurb\\\":null},\\\"provider\\\":{\\\"name\\\":\\\"Core\\\"}}\",\n        \"tags\": [\n          \"nosql\",\n          \"document\",\n          \"mongodb\"\n        ],\n        \"requires\": [\n\n        ],\n        \"documentation_url\": null,\n        \"service_broker_guid\": null,\n        \"plan_updateable\": false,\n        \"service_plans_url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c/service_plans\"\n      }\n    },\n    {\n      \"metadata\": {\n        \"guid\": \"f1ba64a4-f431-4ebe-8b02-4702e643a36d\",\n        \"url\": \"/v2/services/f1ba64a4-f431-4ebe-8b02-4702e643a36d\",\n        \"created_at\": \"2015-04-14T18:37:41+00:00\",\n        \"updated_at\": \"2015-05-14T06:39:08+00:00\"\n      },\n      \"entity\": {\n        \"label\": \"redis\",\n        \"provider\": \"core\",\n        \"url\": \"http://10.244.1.14:59752[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c/service_plans","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["a3b428f0-1be1-4e40-77f6-d1023bc69f10"], "X-Vcap-Request-Id":["e55d2c7c-83c1-41f4-6d48-203ee1c50736::7e12570a-6920-4a51-8840-504caa572d26"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 2,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"11e51876-0b64-4018-b797-16633d00e471\",\n        \"url\": \"/v2/service_plans/11e51876-0b64-4018-b797-16633d00e471\",\n        \"created_at\": \"2015-04-14T18:37:41+00:00\",\n        \"updated_at\": \"2015-05-14T06:39:08+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"default\",\n        \"free\": true,\n        \"description\": \"Developer, shared VM, 250MB storage, 10 connections\",\n        \"service_guid\": \"5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"extra\": \"\",\n        \"unique_id\": \"default-8f4af9f9-0f29-4957-87a3-1039ce983ede\",\n        \"public\": true,\n        \"active\": true,\n        \"service_url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"service_instances_url\": \"/v2/service_plans/11e51876-0b64-4018-b797-16633d00e471/service_instances\"\n      }\n    },\n    {\n      \"metadata\": {\n        \"guid\": \"2665bc9f-011b-4b37-b3e8-60b67fc4db2e\",\n        \"url\": \"/v2/service_plans/2665bc9f-011b-4b37-b3e8-60b67fc4db2e\",\n        \"created_at\": \"2015-04-19T10:04:50+00:00\",\n        \"updated_at\": \"2015-05-14T06:39:08+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"sandbox\",\n        \"free\": true,\n        \"description\": \"Developer II, shared VM, 250MB storage, 10 connections\",\n        \"service_guid\": \"5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"extra\": \"\",\n        \"unique_id\": \"sandbox-8f4af9f9-0f29-4957-87a3-1039ce983ede\",\n        \"public\": true,\n        \"active\": true,\n        \"service_url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"service_instances_url\": \"/v2/service_plans/2665bc9f-011b-4b37-b3e8-60b67fc4db2e/service_instances\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:49 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17/service_bindings?inline-relations-depth=1","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["8c40df99-b7d5-48f6-5e1d-b0de9e9663c3"], "X-Vcap-Request-Id":["158ce1de-6db3-4a6e-5a0e-1c4df8f170f8::523dc8bd-359c-4b8e-aeb5-6cf3e6d142e1"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"cb7364b0-bdfc-4011-bc7a-4be82a786266\",\n        \"url\": \"/v2/service_bindings/cb7364b0-bdfc-4011-bc7a-4be82a786266\",\n        \"created_at\": \"2015-05-14T06:39:46+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"app_guid\": \"03a567ca-5b77-4b7c-a73a-a008ca5dad17\",\n        \"service_instance_guid\": \"c7181815-cd2a-40ed-861d-d24a1a6a9040\",\n        \"credentials\": {\n          \"hostname\": \"10.244.1.82\",\n          \"host\": \"10.244.1.82\",\n          \"port\": 10042,\n          \"username\": \"2417f893-bf37-4f85-944f-08c15b6e55dc\",\n          \"password\": \"a509ac0c-e4f4-48ad-9c0a-6355d27f9400\",\n          \"name\": \"5291aafe-bc5f-4368-8df7-3f2e60ee9251\",\n          \"db\": \"db\",\n          \"url\": \"mongodb://2417f893-bf37-4f85-944f-08c15b6e55dc:a509ac0c-e4f4-48ad-9c0a-6355d27f9400@10.244.1.82:10042/db\"\n        },\n        \"binding_options\": {\n\n        },\n        \"gateway_data\": {\n          \"plan\": \"default\",\n          \"version\": \"2.2\",\n          \"data\": {\n            \"binding_options\": {\n\n            }\n          }\n        },\n        \"gateway_name\": \"48e80a75-3fe0-4617-a2a1-44d4759f8c57\",\n        \"syslog_drain_url\": null,\n        \"app_url\": \"/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17\",\n        \"app\": {\n          \"metadata\": {\n            \"guid\": \"03a567ca-5b77-4b7c-a73a-a008ca5dad17\",\n            \"url\": \"/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17\",\n            \"created_at\": \"2015-05-14T06:39:23+00:00\",\n            \"updated_at\": \"2015-05-14T06:39:41+00:00\"\n          },\n          \"entity\": {\n            \"name\": \"paasal-test-app-all-updated\",\n            \"production\": false,\n            \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n          [...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/service_plans/11e51876-0b64-4018-b797-16633d00e471?inline-relations-depth=1","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["efb962fc-0458-4457-5c94-6530e1164c07"], "X-Vcap-Request-Id":["d68b5a5a-daa4-4a16-5ca4-6e8a5a99f9a6::4d2f1cbf-b8ce-4092-9b9e-42dfb281de8a"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"11e51876-0b64-4018-b797-16633d00e471\",\n    \"url\": \"/v2/service_plans/11e51876-0b64-4018-b797-16633d00e471\",\n    \"created_at\": \"2015-04-14T18:37:41+00:00\",\n    \"updated_at\": \"2015-05-14T06:39:08+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"default\",\n    \"free\": true,\n    \"description\": \"Developer, shared VM, 250MB storage, 10 connections\",\n    \"service_guid\": \"5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n    \"extra\": \"\",\n    \"unique_id\": \"default-8f4af9f9-0f29-4957-87a3-1039ce983ede\",\n    \"public\": true,\n    \"active\": true,\n    \"service_url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n    \"service\": {\n      \"metadata\": {\n        \"guid\": \"5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"created_at\": \"2015-04-14T18:37:40+00:00\",\n        \"updated_at\": \"2015-05-14T06:39:08+00:00\"\n      },\n      \"entity\": {\n        \"label\": \"mongodb\",\n        \"provider\": \"core\",\n        \"url\": \"http://10.244.1.2:44138\",\n        \"description\": \"MongoDB NoSQL database\",\n        \"long_description\": null,\n        \"version\": \"2.2\",\n        \"info_url\": null,\n        \"active\": true,\n        \"bindable\": true,\n        \"unique_id\": \"8f4af9f9-0f29-4957-87a3-1039ce983ede\",\n        \"extra\": \"{\\\"listing\\\":{\\\"imageUrl\\\":null,\\\"blurb\\\":null},\\\"provider\\\":{\\\"name\\\":\\\"Core\\\"}}\",\n        \"tags\": [\n          \"nosql\",\n          \"document\",\n          \"mongodb\"\n        ],\n        \"requires\": [\n\n        ],\n        \"documentation_url\": null,\n        \"service_broker_guid\": null,\n        \"plan_updateable\": false,\n        \"service_plans_url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c/service_plans\"\n      }\n    },\n    \"service_instances_url\": \"/v2/service_plans/11e51876-0b64-4018-b797-16633d00e471/service_instances\",\n    \"service_instances\": [\n      {\n        \"metadata\": {\n          \"guid\": \"0065a8bd-2edb-4e1d-9243-113fd6416b9a\",\n          \"url\": \"/v2/service_instances/0065a8bd-2edb-4e1d-9243-113fd6416b9a\",\n          \"created_at\": \"2015-04-14T18:47:29+00:00\",\n          \"updated_at\": null\n        },\n        \"entity\": {\n          \"name\": \"mongodb\",\n          \"credentials\": {\n            \"hostname\": \"10.244.1.82\",\n            \"host\": \"10.244.1.82\",\n            \"port\": 10003,\n            \"name\": \"2c86272d-8c71-467c-8088-0072c1739ca2\",\n            \"db\": \"db\",\n            \"username\": \"b9d41a61-4bad-4081-894a-e9e2b4699c3d\",\n            \"password\": \"f3c53b08-189e-486a-b54f-3547946f0d0f\",\n            \"node_id\": \"mongodb_node_default_0\"\n          },\n          \"service_plan_guid\": \"11e51876-0b64-4018-b797-16633d00e471\",\n          \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n          \"gateway_data\": {\n            \"plan\": \"default\",\n            \"version\": \"2.2\"\n          },\n          \"dashboard_url\": null,\n          \"type\": \"managed_service_instance\",\n          \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n          \"service_plan_url\": \"/v2/service_plans/11e51876-0b64-4018-b797-16633d00e471\",\n          \"service_bindings_url\": \"/v2/service_instances/0065a8bd-2edb-4e1d-9243-113fd6416b9a/service_bindings\"\n        }\n      },\n      {\n        \"metadata\": {\n          \"guid\": \"c7181815-cd2a-40ed-861d-d24a1a6a9040\",\n          \"url\": \"/v2/service_instances/c7181815-cd2a-40ed-861d-d24a1a6a9040\",\n          \"created_at\": \"2015-05-14T06:39:46+00:00\",\n          \"updated_at\": null\n        },\n        \"entity\[...]
[...]
