{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["addf97b0-5b51-49df-64d1-ca3453fc6398"], "X-Vcap-Request-Id":["e0a10cc6-37d2-4107-5b1c-f713fa45e651::aef741ac-6648-485c-9a9e-4802bbb1e700"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:11 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["a51ee4cd-57bf-4759-5eb1-8ed23f097887, cd10531f-abc3-43c4-5de0-a525ff24e7a3"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"193d2158-192a-43c4-9304-981ea2219c46\"}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:12 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["ff56aced-b548-4b4a-4a0b-446353df8a1a"], "X-Vcap-Request-Id":["1ba144df-f064-4a4a-474a-4435b78c65b4::eddc6104-fdfd-4277-bcf6-7cbc6213fe1b"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"a90a8849-f060-4927-8ddf-7596489393bb\",\n        \"url\": \"/v2/apps/a90a8849-f060-4927-8ddf-7596489393bb\",\n        \"created_at\": \"2015-04-29T07:21:07+00:00\",\n        \"updated_at\": \"2015-04-29T07:21:11+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-min-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"java_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"b04bea6a-121e-4d08-833c-6c8dead896ef\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": null,\n        \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/a90a8849-f060-4927-8ddf-7596489393bb/events\",\n        \"service_bindings_url\": \"/v2/apps/a90a8849-f060-4927-8ddf-7596489393bb/service_bindings\",\n        \"routes_url\": \"/v2/apps/a90a8849-f060-4927-8ddf-7596489393bb/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:12 GMT"},{"request":{"method":"put","uri":"https://api.10.244.0.34.xip.io/v2/apps/a90a8849-f060-4927-8ddf-7596489393bb","body":{"encoding":"UTF-8","string":"{\"buildpack\":\"nodejs_buildpack\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["c9e1bd34-504d-478a-587f-80c4f998850a"], "X-Vcap-Request-Id":["930ee9df-10d0-4[...]
{"request":{"method":"head","uri":"https://api.10.244.0.34.xip.io/v2/apps/a90a8849-f060-4927-8ddf-7596489393bb/download","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["a6437c12-4389-403f-78ce-296339c3ff0e"], "X-Vcap-Request-Id":["20f3f91c-986d-4603-7a72-daaf3e36d5ce::14f87a40-8ce7-4a44-a195-84c2796acf6a"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:12 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/a90a8849-f060-4927-8ddf-7596489393bb/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["6343e7cd-4224-452c-531f-28b1ae0c1e0b"], "X-Vcap-Request-Id":["d3f6a9c8-5df1-4a10-7748-62d6a6dc8874::179cf45e-2b72-4cd9-8607-76ea38287d57"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"23a9c5b5-4b9d-4581-87e8-3e9e4fcf30d8\",\n        \"url\": \"/v2/routes/23a9c5b5-4b9d-4581-87e8-3e9e4fcf30d8\",\n        \"created_at\": \"2015-04-29T07:21:07+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"a90a8849-f060-4927-8ddf-7596489393bb\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/23a9c5b5-4b9d-4581-87e8-3e9e4fcf30d8/apps\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:12 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["b25f5513-8e5d-42c0-5c7b-27cde7087f45"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["d693583c-92cb-4f9e-5848-2ce24a087a50::1e28031a-bb6f-46e2-a8f2-68a968757acd"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:12 GMT"}],"recorded_with":"VCR 2.9.3"}