{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-05-18T19:36:24.482420\"}"},"http_version":null},"recorded_at":"Mon, 18 May 2015 19:21:24 GMT"},{"request":{"method":"put","uri":"https://api.cloudcontrol.com/app/paasaltestappminproperties66/deployment/paasal","body":{"encoding":"UTF-8","string":"{\"min_boxes\":1}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, PUT, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappminproperties66/deployment/paasal"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"name\": \"paasaltestappminproperties66/paasal\", \"stack\": {\"name\": \"pinky\"}, \"dep_id\": \"dep2v6atx7x\", \"branch\": \"ssh://paasaltestappminproperties66@cloudcontrolled.com/repository.git\", \"users\": [], \"static_files\": \"(removed)\", \"billing_account\": null, \"version\": \"e3b1856b16d612944effabbd48bbb7209ae73c9f\", \"state\": \"deploying\", \"date_created\": \"2015-05-18T19:11:49\", \"date_modified\": \"2015-05-18T19:21:25.871050\", \"is_default\": false, \"default_subdomain\": \"paasal-paasaltestappminproperties66.cloudcontrolled.com\", \"min_boxes\": 1, \"max_boxes\": 1, \"billed_boxes\": {\"until\": 1431976886, \"boxes\": 0.0, \"costs\": 0.0, \"free_boxes\": 0.0}, \"billed_addons\": []}"},"http_version":null},"recorded_at":"Mon, 18 May 2015 19:21:26 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappminproperties66","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappminproperties66"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"name\": \"paasaltestappminproperties66\", \"buildpack_url\": null, \"repository\": \"ssh://paasaltestappminproperties66@cloudcontrolled.com/repository.git\", \"type\": {\"name\": \"nodejs\"}, \"owner\": {\"username\": \"__cloudcontrol:username__\", \"first_name\": \"\", \"last_name\": \"\", \"email\": \"__cloudcontrol:user__\", \"is_active\": true, \"billing_without_payment_info\": false}, \"users\": [{\"username\": \"__cloudcontrol:username__\", \"email\": \"__cloudcontrol:user__\", \"role\": \"\"}], \"invitations\": [], \"date_created\": \"2015-05-18T19:11:49\", \"date_modified\": \"2015-05-18T19:11:49\", \"deployments\": [{\"name\": \"paasaltestappminproperties66/paasal\", \"dep_id\": \"dep2v6atx7x\"}]}"},"http_version":null},"recorded_at":"Mon, 18 May 2015 19:21:26 GMT"}],"recorded_with":"VCR 2.9.3"}