{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-06-27T10:04:48.462804\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:50:29 GMT"},{"request":{"method":"put","uri":"https://api.cloudcontrol.com/app/paasaltestappminproperties70/deployment/paasal","body":{"encoding":"UTF-8","string":"{\"min_boxes\":1}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, PUT, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappminproperties70/deployment/paasal"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"name\": \"paasaltestappminproperties70/paasal\", \"stack\": {\"name\": \"pinky\"}, \"dep_id\": \"depnb4ur9j8\", \"branch\": \"ssh://paasaltestappminproperties70@cloudcontrolled.com/repository.git\", \"users\": [], \"static_files\": \"(removed)\", \"billing_account\": null, \"version\": \"16b99580f90cffc8846dd4f382682f3c98cc663f\", \"state\": \"deploying\", \"date_created\": \"2015-06-27T09:39:52\", \"date_modified\": \"2015-06-27T09:49:49.706974\", \"is_default\": false, \"default_subdomain\": \"paasal-paasaltestappminproperties70.cloudcontrolled.com\", \"min_boxes\": 1, \"max_boxes\": 1, \"billed_boxes\": {\"until\": 1435398589, \"boxes\": 0.0, \"free_boxes\": 0.0, \"costs\": 0.0}, \"billed_addons\": []}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:50:30 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappminproperties70","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappminproperties70"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"name\": \"paasaltestappminproperties70\", \"buildpack_url\": null, \"repository\": \"ssh://paasaltestappminproperties70@cloudcontrolled.com/repository.git\", \"type\": {\"name\": \"nodejs\"}, \"owner\": {\"username\": \"__cloudcontrol:username__\", \"first_name\": \"\", \"last_name\": \"\", \"email\": \"__cloudcontrol:user__\", \"is_active\": true, \"billing_without_payment_info\": false}, \"users\": [{\"username\": \"__cloudcontrol:username__\", \"email\": \"__cloudcontrol:user__\", \"role\": \"\"}], \"invitations\": [], \"date_created\": \"2015-06-27T09:39:52\", \"date_modified\": \"2015-06-27T09:39:52\", \"deployments\": [{\"name\": \"paasaltestappminproperties70/paasal\", \"dep_id\": \"depnb4ur9j8\"}]}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:50:31 GMT"}],"recorded_with":"VCR 2.9.3"}