{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-05-14T06:47:55.360229\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:32:55 GMT"},{"request":{"method":"put","uri":"https://api.cloudcontrol.com/app/paasaltestappminproperties62/deployment/paasal","body":{"encoding":"UTF-8","string":"{\"min_boxes\":1}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, PUT, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappminproperties62/deployment/paasal"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"name\": \"paasaltestappminproperties62/paasal\", \"stack\": {\"name\": \"pinky\"}, \"dep_id\": \"depbv32anrn\", \"branch\": \"ssh://paasaltestappminproperties62@cloudcontrolled.com/repository.git\", \"users\": [], \"static_files\": \"(removed)\", \"billing_account\": null, \"version\": \"09a62f28aa00add0103d9bd10547ff3b9c9fe026\", \"state\": \"deploying\", \"date_created\": \"2015-05-14T06:21:30\", \"date_modified\": \"2015-05-14T06:32:56.724078\", \"is_default\": false, \"default_subdomain\": \"paasal-paasaltestappminproperties62.cloudcontrolled.com\", \"min_boxes\": 1, \"max_boxes\": 1, \"billed_boxes\": {\"free_boxes\": 0.0, \"costs\": 0.0, \"boxes\": 0.0, \"until\": 1431585176}, \"billed_addons\": []}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:32:57 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappminproperties62","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappminproperties62"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"name\": \"paasaltestappminproperties62\", \"buildpack_url\": null, \"repository\": \"ssh://paasaltestappminproperties62@cloudcontrolled.com/repository.git\", \"type\": {\"name\": \"nodejs\"}, \"owner\": {\"username\": \"__cloudcontrol:username__\", \"first_name\": \"\", \"last_name\": \"\", \"email\": \"__cloudcontrol:user__\", \"is_active\": true, \"billing_without_payment_info\": false}, \"users\": [{\"username\": \"__cloudcontrol:username__\", \"email\": \"__cloudcontrol:user__\", \"role\": \"\"}], \"invitations\": [], \"date_created\": \"2015-05-14T06:21:29\", \"date_modified\": \"2015-05-14T06:21:29\", \"deployments\": [{\"name\": \"paasaltestappminproperties62/paasal\", \"dep_id\": \"depbv32anrn\"}]}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:32:57 GMT"}],"recorded_with":"VCR 2.9.3"}