{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-06-20T10:21:05.256520\"}"},"http_version":null},"recorded_at":"Sat, 20 Jun 2015 10:06:13 GMT"},{"request":{"method":"put","uri":"https://api.cloudcontrol.com/app/paasaltestappminproperties69/deployment/paasal","body":{"encoding":"UTF-8","string":"{\"min_boxes\":1}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, PUT, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappminproperties69/deployment/paasal"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"name\": \"paasaltestappminproperties69/paasal\", \"stack\": {\"name\": \"pinky\"}, \"dep_id\": \"depwtwjwmqd\", \"branch\": \"ssh://paasaltestappminproperties69@cloudcontrolled.com/repository.git\", \"users\": [], \"static_files\": \"(removed)\", \"billing_account\": null, \"version\": \"23d6d67fcd1594adf0030bb5d93387aaafd04ca9\", \"state\": \"deploying\", \"date_created\": \"2015-06-20T09:53:34\", \"date_modified\": \"2015-06-20T10:06:06.515691\", \"is_default\": false, \"default_subdomain\": \"paasal-paasaltestappminproperties69.cloudcontrolled.com\", \"min_boxes\": 1, \"max_boxes\": 1, \"billed_boxes\": {\"costs\": 0.0, \"free_boxes\": 0.0, \"until\": 1434794766, \"boxes\": 0.0}, \"billed_addons\": []}"},"http_version":null},"recorded_at":"Sat, 20 Jun 2015 10:06:15 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappminproperties69","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappminproperties69"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"name\": \"paasaltestappminproperties69\", \"buildpack_url\": null, \"repository\": \"ssh://paasaltestappminproperties69@cloudcontrolled.com/repository.git\", \"type\": {\"name\": \"nodejs\"}, \"owner\": {\"username\": \"__cloudcontrol:username__\", \"first_name\": \"\", \"last_name\": \"\", \"email\": \"__cloudcontrol:user__\", \"is_active\": true, \"billing_without_payment_info\": false}, \"users\": [{\"username\": \"__cloudcontrol:username__\", \"email\": \"__cloudcontrol:user__\", \"role\": \"\"}], \"invitations\": [], \"date_created\": \"2015-06-20T09:53:33\", \"date_modified\": \"2015-06-20T09:53:33\", \"deployments\": [{\"name\": \"paasaltestappminproperties69/paasal\", \"dep_id\": \"depwtwjwmqd\"}]}"},"http_version":null},"recorded_at":"Sat, 20 Jun 2015 10:06:15 GMT"}],"recorded_with":"VCR 2.9.3"}