{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-10-23T09:37:09.081915\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 09:22:24 GMT"},{"request":{"method":"put","uri":"https://api.cloudcontrol.com/app/nucleusappminproperties2/deployment/nucleus","body":{"encoding":"UTF-8","string":"{\"min_boxes\":1}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, PUT, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/nucleusappminproperties2/deployment/nucleus"], "X-varnish-cache":["MISS"]},"body":{"encoding":"CP850","string":"{\"name\": \"nucleusappminproperties2/nucleus\", \"stack\": {\"name\": \"pinky\"}, \"dep_id\": \"depgc8b9p5j\", \"branch\": \"ssh://nucleusappminproperties2@cloudcontrolled.com/repository.git\", \"users\": [], \"static_files\": \"(removed)\", \"billing_account\": null, \"version\": \"1244a3cea055a6dfce8bde7916a8ae29c5806683\", \"state\": \"deploying\", \"date_created\": \"2015-10-23T09:08:23\", \"date_modified\": \"2015-10-23T09:22:10.085046\", \"is_default\": false, \"default_subdomain\": \"nucleus-nucleusappminproperties2.cloudcontrolled.com\", \"min_boxes\": 1, \"max_boxes\": 1, \"billed_boxes\": {\"boxes\": 0.0, \"costs\": 0.0, \"free_boxes\": 0.0, \"until\": 1445592130}, \"billed_addons\": []}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 09:22:25 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/nucleusappminproperties2","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/nucleusappminproperties2"], "X-varnish-cache":["MISS"]},"body":{"encoding":"CP850","string":"{\"name\": \"nucleusappminproperties2\", \"buildpack_url\": null, \"repository\": \"ssh://nucleusappminproperties2@cloudcontrolled.com/repository.git\", \"type\": {\"name\": \"nodejs\"}, \"owner\": {\"username\": \"uniba\", \"first_name\": \"\", \"last_name\": \"\", \"email\": \"__cloudcontrol:user__\", \"is_active\": true, \"billing_without_payment_info\": false}, \"users\": [{\"username\": \"uniba\", \"email\": \"__cloudcontrol:user__\", \"role\": \"\"}], \"invitations\": [], \"date_created\": \"2015-10-23T09:08:22\", \"date_modified\": \"2015-10-23T09:08:22\", \"deployments\": [{\"name\": \"nucleusappminproperties2/nucleus\", \"dep_id\": \"depgc8b9p5j\"}]}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 09:22:26 GMT"}],"recorded_with":"VCR 2.9.3"}