{"http_interactions":[{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/user","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":401,"message":null},"headers":{"Content-Type":["text/html; charset=utf-8"], "ProxyTime":["D=337932"], "Status":["401"], "WWW-Authenticate":["Basic realm=\"Application\""]},"body":{"encoding":"UTF-8","string":"HTTP Basic: Access denied.\n"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:27:12 GMT"}],"recorded_with":"VCR 2.9.3"}