{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?password=__heroku:password__&username=__heroku:user__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":false,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/10/08 04:22:08 -0700\",\"created_at\":\"2014/10/08 04:22:08 -0700\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/10/23 02:44:13 -0700\",\"name\":\"stfnklb\",\"updated_at\":\"2015/10/23 03:32:36 -0700\",\"verified\":true,\"verified_at\":\"2015/10/23 02:45:30 -0700\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:33:47 GMT"},{"request":{"method":"patch","uri":"https://api.heroku.com/apps/nucleus-app-min-updated/formation","body":{"encoding":"UTF-8","string":"{\"updates\":[{\"process\":\"web\",\"quantity\":1}]}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global write write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4499"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"[{\"app\":{\"id\":\"96c4ac2e-0691-47f0-b80d-173bd529ee3f\",\"name\":\"nucleus-app-min-updated\"},\"command\":\"node server.js\",\"created_at\":\"2015-10-23T10:11:14Z\",\"id\":\"9ee1cabe-6da8-48d8-ae8a-bb18cbdd6f12\",\"type\":\"web\",\"quantity\":1,\"size\":\"Free\",\"updated_at\":\"2015-10-23T10:15:07Z\"}]"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:33:48 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/nucleus-app-min-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"c61d5f89e241e498e9caf4e84c8185d0\""], "Last-Modified":["Fri, 23 Oct 2015 10:32:32 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4498"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"{\"archived_at\":null,\"buildpack_provided_description\":\"Node.js\",\"build_stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"created_at\":\"2015-10-23T09:53:04Z\",\"id\":\"96c4ac2e-0691-47f0-b80d-173bd529ee3f\",\"git_url\":\"git@heroku.com:nucleus-app-min-updated.git\",\"maintenance\":false,\"name\":\"nucleus-app-min-updated\",\"owner\":{\"email\":\"__heroku:user__\",\"id\":\"6118a9d1-36ba-482e-8299-449000a2d46d\"},\"region\":{\"id\":\"59accabd-516d-4f0e-83e6-6e3757701145\",\"name\":\"us\"},\"released_at\":\"2015-10-23T10:31:32Z\",\"repo_size\":2704036,\"slug_size\":14806122,\"stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"updated_at\":\"2015-10-23T10:32:32Z\",\"web_url\":\"https://nucleus-app-min-updated.herokuapp.com/\",\"process_tier\":\"free\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:33:49 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/96c4ac2e-0691-47f0-b80d-173bd529ee3f/dynos","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"0a6bc65f188403476e963d0df6cd7977\""], "Last-Modified":["Fri, 23 Oct 2015 10:31:34 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4497"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"[{\"attach_url\":null,\"command\":\"node server.js\",\"created_at\":\"2015-10-23T10:31:34Z\",\"id\":\"4a6f4f03-fa0c-479b-9bf7-c559d960d789\",\"name\":\"web.1\",\"app\":{\"id\":\"96c4ac2e-0691-47f0-b80d-173bd529ee3f\",\"name\":\"nucleus-app-min-updated\"},\"release\":{\"id\":\"47da127b-194b-49b1-a075-86275e03027c\",\"version\":5},\"size\":\"Free\",\"state\":\"up\",\"type\":\"web\",\"updated_at\":\"2015-10-23T10:31:34Z\"}]"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:33:51 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/96c4ac2e-0691-47f0-b80d-173bd529ee3f/formation","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"c61d5f89e241e498e9caf4e84c8185d0\""], "Last-Modified":["Fri, 23 Oct 2015 10:32:32 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4496"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"[{\"app\":{\"id\":\"96c4ac2e-0691-47f0-b80d-173bd529ee3f\",\"name\":\"nucleus-app-min-updated\"},\"command\":\"node server.js\",\"created_at\":\"2015-10-23T10:11:14Z\",\"id\":\"9ee1cabe-6da8-48d8-ae8a-bb18cbdd6f12\",\"type\":\"web\",\"quantity\":1,\"size\":\"Free\",\"updated_at\":\"2015-10-23T10:15:07Z\"}]"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:33:51 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/96c4ac2e-0691-47f0-b80d-173bd529ee3f/buildpack-installations","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["ordinal 0..0"], "Content-Type":["application/json"], "ETag":["\"87d7b85882f94ae872184eafce30ccd8\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read-protected write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4495"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"[{\"buildpack\":{\"url\":\"https://github.com/heroku/heroku-buildpack-nodejs\",\"name\":\"https://github.com/heroku/heroku-buildpack-nodejs\"},\"ordinal\":0}]"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:33:52 GMT"}],"recorded_with":"VCR 2.9.3"}