{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/04/28 12:53:42 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:54:31 GMT"},{"request":{"method":"patch","uri":"https://api.heroku.com/apps/paasal-test-app-min-updated/formation","body":{"encoding":"UTF-8","string":"{\"updates\":[{\"process\":\"web\",\"quantity\":1}]}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global write write-protected"], "RateLimit-Remaining":["2243"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"command\":\"node server.js\",\"created_at\":\"2015-04-28T19:39:45Z\",\"id\":\"36d954fa-a669-46ea-afdf-b2ce58346826\",\"type\":\"web\",\"quantity\":1,\"size\":\"1X\",\"updated_at\":\"2015-04-28T19:54:32Z\"}]"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:54:32 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/paasal-test-app-min-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"e4781d556d3f95ed6c119c5e042ca2a6\""], "Last-Modified":["Tue, 28 Apr 2015 19:54:32 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2242"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"archived_at\":null,\"buildpack_provided_description\":\"Node.js\",\"build_stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"created_at\":\"2015-04-28T19:27:01Z\",\"id\":\"6481c716-edc6-47fd-b9a6-4fade8409e09\",\"git_url\":\"git@heroku.com:paasal-test-app-min-updated.git\",\"maintenance\":false,\"name\":\"paasal-test-app-min-updated\",\"owner\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"region\":{\"id\":\"59accabd-516d-4f0e-83e6-6e3757701145\",\"name\":\"us\"},\"released_at\":\"2015-04-28T19:52:53Z\",\"repo_size\":2703035,\"slug_size\":12557970,\"stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"updated_at\":\"2015-04-28T19:54:32Z\",\"web_url\":\"https://paasal-test-app-min-updated.herokuapp.com/\"}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:54:32 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/6481c716-edc6-47fd-b9a6-4fade8409e09/dynos","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"c42b075765131beac72bc2966e474ae4\""], "Last-Modified":["Tue, 28 Apr 2015 19:52:59 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2241"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"attach_url\":null,\"command\":\"node server.js\",\"created_at\":\"2015-04-28T19:52:59Z\",\"id\":\"c34fb1b8-d902-47fd-a4f5-5d794495cfac\",\"name\":\"web.1\",\"release\":{\"id\":\"5729a227-e5f6-4200-9e8f-23d5c56e9a1c\",\"version\":5},\"size\":\"1X\",\"state\":\"up\",\"type\":\"web\",\"updated_at\":\"2015-04-28T19:52:59Z\"}]"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:54:33 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/6481c716-edc6-47fd-b9a6-4fade8409e09/formation","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"e4781d556d3f95ed6c119c5e042ca2a6\""], "Last-Modified":["Tue, 28 Apr 2015 19:54:32 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2240"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"command\":\"node server.js\",\"created_at\":\"2015-04-28T19:39:45Z\",\"id\":\"36d954fa-a669-46ea-afdf-b2ce58346826\",\"type\":\"web\",\"quantity\":1,\"size\":\"1X\",\"updated_at\":\"2015-04-28T19:54:32Z\"}]"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:54:33 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/6481c716-edc6-47fd-b9a6-4fade8409e09/buildpack-installations","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["ordinal 0..0"], "Content-Type":["application/json"], "ETag":["\"87d7b85882f94ae872184eafce30ccd8\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2239"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"buildpack\":{\"url\":\"https://github.com/heroku/heroku-buildpack-nodejs\"},\"ordinal\":0}]"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:54:34 GMT"}],"recorded_with":"VCR 2.9.3"}