{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["6b937f6b-1966-4138-42a9-4071441ee2b6"], "X-Vcap-Request-Id":["9198ec7d-dcff-4834-7d7f-372a36dc49cf::9a606682-4636-4f7b-bb0a-e1af5d2cc15e"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:26 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["153639a3-5b41-4bd4-54cb-7de1f7b1796d, 1fa418fb-f31a-49e2-5f64-09e9384f2f01"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"b6994644-47ce-4cf7-a1aa-0124c90da7e5\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:26 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Aapp_never_exists_0123456789","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["c523551d-eb71-4b63-7926-606c0026fbc7"], "X-Vcap-Request-Id":["5fe5d8c3-33bf-4247-6c27-824ca2e4f9e2::7be62edf-fe3e-4e7e-b20d-087167f49777"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 0,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n\n  ]\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:26 GMT"}],"recorded_with":"VCR 2.9.3"}