{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["0794b1c1-ce6f-4ce5-613b-5bc52551592a"], "X-Vcap-Request-Id":["2a0dd2d3-eab4-4e77-4095-a8a014eab575::aaeb1db1-6203-4efa-9b19-169a67982eb1"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:26 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["f57cd858-d798-4cfc-6ad0-5a630d25a5f0, 3e4ad3f3-9f67-47ac-4ee2-70cc4533ef1e"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"d8da4a18-d890-4c2e-9187-6c6d54475a3a\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:26 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-properties","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["8c6546bc-bd84-4ac1-54c3-62030d1ce6ae"], "X-Vcap-Request-Id":["60cfdd8e-ad49-4476-600b-fb751515b096::2bfddea3-edac-48e6-b591-65174f8cf5e4"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"562765db-8c59-4c06-aae7-10076d378aee\",\n        \"url\": \"/v2/apps/562765db-8c59-4c06-aae7-10076d378aee\",\n        \"created_at\": \"2015-05-14T06:39:24+00:00\",\n        \"updated_at\": \"2015-05-14T06:39:24+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-min-properties\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"785bda93-c608-4305-b6c4-d036669859a2\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": null,\n        \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/562765db-8c59-4c06-aae7-10076d378aee/events\",\n        \"service_bindings_url\": \"/v2/apps/562765db-8c59-4c06-aae7-10076d378aee/service_bindings\",\n        \"routes_url\": \"/v2/apps/562765db-8c59-4c06-aae7-10076d378aee/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:26 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/562765db-8c59-4c06-aae7-10076d378aee","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["ce0ea7ce-fe77-4899-6e09-711cb28e44e6"], "X-Vcap-Request-Id":["f2a51bfd-19b4-4809-54a6-dbbb587c8854::62e783b6-9[...]
{"request":{"method":"head","uri":"https://api.10.244.0.34.xip.io/v2/apps/562765db-8c59-4c06-aae7-10076d378aee/download","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["2e029c2f-007b-43f5-7f6f-cc65501c6cd7"], "X-Vcap-Request-Id":["ec963d9c-c60d-48ce-749b-7d23d615695d::d907d3bc-2c77-47fe-acba-c9fec592efaa"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:26 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/562765db-8c59-4c06-aae7-10076d378aee/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["0d46bc8d-147d-46a0-556e-0273a7a04b67"], "X-Vcap-Request-Id":["292e2972-dac1-4aa5-51aa-772bb6c7b244::a744c874-edd3-4127-9a7a-82d02fa4cf9f"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"e00b6d16-4b94-418d-96eb-667e4f8d1c43\",\n        \"url\": \"/v2/routes/e00b6d16-4b94-418d-96eb-667e4f8d1c43\",\n        \"created_at\": \"2015-05-14T06:39:24+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"562765db-8c59-4c06-aae7-10076d378aee\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/e00b6d16-4b94-418d-96eb-667e4f8d1c43/apps\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:26 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["1ed82cc0-2b71-429f-46b6-774b1687e2ce"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["22cf74c0-879b-4dad-6b99-165f1ea09d30::29120300-6b0d-43dc-bfd2-ae04243bb6ab"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:26 GMT"}],"recorded_with":"VCR 2.9.3"}