{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["c39fb724-732e-418b-4d2f-6f8cd5ac3a70"], "X-Vcap-Request-Id":["85281d78-e7a3-4972-505a-8150b00fbf13::7012eb1f-ef4f-41f4-9223-55f7f98afe7f"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:09 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["eb26d2c7-cf0a-478b-7690-f34c4513cb59, 1dbcdef6-b00d-4974-54d2-7d42449bf2d0"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"451a90c5-57b9-4771-982e-23b039e2460c\"}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:09 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-properties","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["15d624fe-e0e4-41ae-559d-263d904c891f"], "X-Vcap-Request-Id":["21c644a1-4555-4282-5fe0-18f178327e80::bd9cd653-7e3e-4498-b0e2-2d35a9644c48"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"a90a8849-f060-4927-8ddf-7596489393bb\",\n        \"url\": \"/v2/apps/a90a8849-f060-4927-8ddf-7596489393bb\",\n        \"created_at\": \"2015-04-29T07:21:07+00:00\",\n        \"updated_at\": \"2015-04-29T07:21:07+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-min-properties\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"b04bea6a-121e-4d08-833c-6c8dead896ef\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": null,\n        \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/a90a8849-f060-4927-8ddf-7596489393bb/events\",\n        \"service_bindings_url\": \"/v2/apps/a90a8849-f060-4927-8ddf-7596489393bb/service_bindings\",\n        \"routes_url\": \"/v2/apps/a90a8849-f060-4927-8ddf-7596489393bb/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:09 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/a90a8849-f060-4927-8ddf-7596489393bb","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["4fb9de5e-d4ae-445d-6610-66ab1851237a"], "X-Vcap-Request-Id":["3b212170-4ea6-418d-6954-4e1b005c0837::d0dacb06-7[...]
{"request":{"method":"head","uri":"https://api.10.244.0.34.xip.io/v2/apps/a90a8849-f060-4927-8ddf-7596489393bb/download","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["05932496-2feb-442d-7647-e4269bfddfa8"], "X-Vcap-Request-Id":["a70af8f1-df69-45f0-67cd-7bddc3cf32b7::b0147be0-c57d-4f0e-977d-5c7a174f5647"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:10 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/a90a8849-f060-4927-8ddf-7596489393bb/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["a27ea0c8-cffd-4fd8-7e39-ec095c32e9dd"], "X-Vcap-Request-Id":["08a4e4de-ce06-49ae-69d2-4f8def5cb10d::12b97de6-6091-41d7-a11c-764cd3ed102b"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"23a9c5b5-4b9d-4581-87e8-3e9e4fcf30d8\",\n        \"url\": \"/v2/routes/23a9c5b5-4b9d-4581-87e8-3e9e4fcf30d8\",\n        \"created_at\": \"2015-04-29T07:21:07+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"a90a8849-f060-4927-8ddf-7596489393bb\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/23a9c5b5-4b9d-4581-87e8-3e9e4fcf30d8/apps\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:10 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["e1a23a4e-0f31-46f9-5cd8-1946e2407ba6"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["fbddaa0e-d71d-4190-41a8-196955904060::33160791-c0df-46f3-a40d-986ef3222c58"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:10 GMT"}],"recorded_with":"VCR 2.9.3"}