{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["f2329a40-8abf-4595-6a02-37e2dbca844d"], "X-Vcap-Request-Id":["87652081-fbb7-4f21-4c49-8afd2dc4188d::4d6b72fd-ad73-406c-b039-93df6e722b79"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:43:56 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["2de5ef80-4c3a-414e-4054-9dddcfad3dec, 5fad9614-62fd-4bfc-7cc9-d0322022948e"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"34d82b31-3ac6-409b-b2d6-bbeaf1cc8236\"}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:43:56 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Anucleus-test-app-min-properties","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["d9766549-865a-4182-7cbe-6f91cdbfcb0a"], "X-Vcap-Request-Id":["df941df5-fe30-461b-56a8-a18fcefedc4a::cddc7960-fe45-4a18-a534-26d08700332f"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"8eb3af60-b711-46e3-958f-2688f74c01d6\",\n        \"url\": \"/v2/apps/8eb3af60-b711-46e3-958f-2688f74c01d6\",\n        \"created_at\": \"2015-07-28T12:43:54+00:00\",\n        \"updated_at\": \"2015-07-28T12:43:54+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"nucleus-test-app-min-properties\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"89c9c11f-b8f1-40aa-814b-8f337dd36bb0\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": null,\n        \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/8eb3af60-b711-46e3-958f-2688f74c01d6/events\",\n        \"service_bindings_url\": \"/v2/apps/8eb3af60-b711-46e3-958f-2688f74c01d6/service_bindings\",\n        \"routes_url\": \"/v2/apps/8eb3af60-b711-46e3-958f-2688f74c01d6/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:43:56 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/8eb3af60-b711-46e3-958f-2688f74c01d6","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["05f09849-c7e3-4056-554e-d0907b3bc323"], "X-Vcap-Request-Id":["3962878c-95ee-408a-5390-bd662c8e5701::14e93c45-e[...]
{"request":{"method":"head","uri":"https://api.10.244.0.34.xip.io/v2/apps/8eb3af60-b711-46e3-958f-2688f74c01d6/download","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["3bb6004a-4116-48e4-40eb-5785e3ee92ab"], "X-Vcap-Request-Id":["2ef560fa-18a3-4eb3-71bd-e3ed7988ee42::92a79396-a7f0-4e78-afcc-c101eba5ed9d"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:43:56 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/8eb3af60-b711-46e3-958f-2688f74c01d6/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["3235138f-b22a-4307-7560-c977feb6d08e"], "X-Vcap-Request-Id":["b9366517-e892-4bac-6635-b62382236f0e::87de78a4-da1a-4301-b10f-4c55fdc88f9c"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"d26f9ff4-2b52-4809-ac3c-8a7a8e247e5d\",\n        \"url\": \"/v2/routes/d26f9ff4-2b52-4809-ac3c-8a7a8e247e5d\",\n        \"created_at\": \"2015-07-28T12:43:54+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"8eb3af60-b711-46e3-958f-2688f74c01d6\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/d26f9ff4-2b52-4809-ac3c-8a7a8e247e5d/apps\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:43:56 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["49d8f853-d517-4ca4-48ac-2a0ec7ead57c"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["8bc6a469-4fcf-4cfd-4242-c8dab128864c::4f7ec6ac-c242-4603-9ec2-2079c8ac1edb"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:43:56 GMT"}],"recorded_with":"VCR 2.9.3"}