{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["da126e9b-066a-45fb-56b4-10cc20c96e61"], "X-Vcap-Request-Id":["c59e8c59-f0e6-41bb-551a-7638e60e6de6::222c69fd-7f14-4963-8128-277b2738bf73"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:30:40 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["6042d222-3630-4ef6-6148-80815fc56c46, 19ba7f33-627f-4513-768f-ae9185d42c1d"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"6fa8e533-0ebf-4907-b994-6f59000f0fb8\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:30:40 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["4e128bb3-ec49-4e27-66a0-b3372cc2542d"], "X-Vcap-Request-Id":["8d93b84f-b66b-4395-6d1d-68ab5e714aed::d34453e8-1647-4179-a689-89c726a85546"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"36352def-b71b-4673-8cde-0a738525b63c\",\n        \"url\": \"/v2/apps/36352def-b71b-4673-8cde-0a738525b63c\",\n        \"created_at\": \"2015-04-24T08:29:26+00:00\",\n        \"updated_at\": \"2015-04-24T08:30:40+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-min-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_test_var_value\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"efeb9f74-cc7a-4b6b-8fa1-3ad4268854e2\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": \"3f3137ce35ec4c5f9581d715c0c0b3e6\",\n        \"package_state\": \"STAGED\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-04-24T08:29:59+00:00\",\n        \"detected_start_command\": \"node server.js\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/36352def-b71b-4673-8cde-0a738525b63c/events\",\n        \"service_bindings_url\": \"/v2/apps/36352def-b71b-4673-8cde-0a738525b63c/service_bindings\",\n        \"routes_url\": \"/v2/apps/36352def-b71b-4673-8cde-0a738525b63c/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:30:40 GMT"},{"request":{"method":"head","uri":"https://api.10.244.0.34.xip.io/v2/apps/36352def-b71b-4673-8cde-0a738525b63c/download","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Etag":["\"5539ff07-20e7d0\""], "Last-Modified":["Fri, 24 Apr 2015 08:29:59 GMT"], "X-Cf-Requestid":["56a25edb-2bfc-4760-6f85-94763751b66d"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:30:40 GMT"},{"request":{"method":"put","uri":"https://api.10.244.0.34.xip.io/v2/apps/36352def-b71b-4673-8cde-0a738525b63c","body":{"encoding":"UTF-8","string":"{\"state\":\"STOPPED\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["59be1d6b-fa49-4a55-6b07-46cb2292c7a0"], "X-Vcap-Request-Id":["d1b49500-122c-4f08-5995-5d99[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/36352def-b71b-4673-8cde-0a738525b63c/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["b0ffa90b-1cf9-4e11-7428-93a0c23d3abe"], "X-Vcap-Request-Id":["f63aaf2a-363f-420e-45f5-c625f8737722::6466827d-9db5-44f2-8463-980b81898ceb"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"d52b5bc1-ccde-4d17-85fb-b81c4afb5ec0\",\n        \"url\": \"/v2/routes/d52b5bc1-ccde-4d17-85fb-b81c4afb5ec0\",\n        \"created_at\": \"2015-04-24T08:29:26+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"36352def-b71b-4673-8cde-0a738525b63c\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/d52b5bc1-ccde-4d17-85fb-b81c4afb5ec0/apps\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:30:40 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["4adf34c1-0aa1-4837-78df-3ce6b15ef9bf"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["2fd2dd9a-a6ea-44d0-5367-ce6e6f074781::0648871e-116a-416c-a6dd-fd6163c52376"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:30:40 GMT"},[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["f6c8b9f9-ebd3-4bb1-63a5-39a8888088c6"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["c1779a32-e57b-4da5-6b7b-1d02cf48cf46::30d68b2d-3d27-4f5e-a4a8-7163795027bf"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:30:40 GMT"}],"recorded_with":"VCR 2.9.3"}