{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/04/28 12:53:42 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:53:58 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated/addons/invalid_service","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":null},"headers":{"Content-Type":["application/json"], "RateLimit-Remaining":["2256"], "Status":["404 Not Found"]},"body":{"encoding":"UTF-8","string":"{\"resource\":\"addon\",\"id\":\"not_found\",\"message\":\"Couldn't find that add-on.\"}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:53:59 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated/addons","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Expansion":["addon_service, plan"], "Content-Range":["name smiling-gently-3961..smiling-gently-3961"], "Content-Type":["application/json"], "ETag":["\"f945c3d849c09d196061c67143234d7e\""], "Last-Modified":["Tue, 28 Apr 2015 19:34:06 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2255"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"config_vars\":[\"MONGOLAB_URI\"],\"created_at\":\"2015-04-28T19:34:03Z\",\"id\":\"ba80111e-2e9d-445e-ae17-ee8537700e97\",\"name\":\"smiling-gently-3961\",\"addon_service\":{\"id\":\"3dfb031f-23f4-4123-856f-5cb95ecdadc9\",\"name\":\"mongolab\"},\"plan\":{\"id\":\"8e6163ec-a935-4738-a0f4-60867f4f86cb\",\"name\":\"mongolab:sandbox\"},\"app\":{\"id\":\"6fdf309b-980d-44fa-a4d0-8661e416ea14\",\"name\":\"paasal-test-app-all-updated\"},\"provider_id\":\"heroku_app36336871\",\"updated_at\":\"2015-04-28T19:34:06Z\",\"web_url\":\"https://addons-sso.heroku.com/apps/paasal-test-app-all-updated/addons/ba80111e-2e9d-445e-ae17-ee8537700e97\"}]"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:53:59 GMT"}],"recorded_with":"VCR 2.9.3"}