{"http_interactions":[{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["69f4c107-5fbb-4bf2-42d6-ac2ca2524c45"], "X-Vcap-Request-Id":["c766f067-9763-4a98-68aa-f1139beb82ec::c8102964-1219-472f-a37d-429327d3ffcf"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"https://login.run.pivotal.io\",\"token_endpoint\":\"https://uaa.run.pivotal.io\",\"min_cli_version\":null,\"min_recommended_cli_version\":null,\"api_version\":\"2.41.0\",\"app_ssh_endpoint\":\"ssh.run.pivotal.io:2222\",\"app_ssh_host_key_fingerprint\":\"e7:13:4e:32:ee:39:62:df:54:41:d7:f7:8b:b2:a7:6b\",\"app_ssh_oauth_client\":\"ssh-proxy\",\"routing_endpoint\":\"https://api.run.pivotal.io/routing\",\"logging_endpoint\":\"wss://loggregator.run.pivotal.io:443\",\"doppler_logging_endpoint\":\"wss://doppler.run.pivotal.io:443\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:06:09 GMT"},{"request":{"method":"post","uri":"https://login.run.pivotal.io/oauth/token?grant_type=password&password=__pivotal:password__&username=__pivotal:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["eb3af763-e1e5-4f77-6278-a1e5d2e06de8"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"cloud_controller.read password.write cloud_controller.write openid uaa.user\",\"jti\":\"e2893126-181b-4ceb-98a4-785494531f64\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:06:10 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/apps?q=name%3Anucleus-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["d1dccef4-8e03-4018-430f-a323c19e117f"], "X-Vcap-Request-Id":["c56e0497-4d90-4c12-636a-d216a05ee694::3e2e8fa6-9073-447f-867a-b2256de1f2e0"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"ab451001-c9b9-466f-bdb3-5d548aa168a5\",\n        \"url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5\",\n        \"created_at\": \"2015-10-23T00:00:21Z\",\n        \"updated_at\": \"2015-10-23T00:04:58Z\"\n      },\n      \"entity\": {\n        \"name\": \"nucleus-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"stack_guid\": \"86205f38-84fc-4bc2-b2b8-af7f55669f04\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_updated_test_var_value\",\n          \"our_test_var_key2\": \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"4ff4bb5f-4e85-4300-aed9-9be7ea84f7a5\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n        \"health_check_type\": \"port\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"staging_failed_description\": null,\n        \"diego\": true,\n        \"docker_image\": null,\n        \"package_updated_at\": null,\n        \"detected_start_command\": \"\",\n        \"enable_ssh\": true,\n        \"docker_credentials_json\": {\n          \"redacted_message\": \"[PRIVATE DATA HIDDEN]\"\n        },\n        \"space_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"stack_url\": \"/v2/stacks/86205f38-84fc-4bc2-b2b8-af7f55669f04\",\n        \"events_url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/events\",\n        \"service_bindings_url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/service_bindings\",\n        \"routes_url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:06:11 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["b2ef5b6c-b86c-496d-5cf5-8049a9777196"], "X-Vcap-Request-Id":["f8c5f1fc-eceb-43c8-7a02-5985b26414d6::96a043da-157c-40d6-9f2e-731471cbb226"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"d683a967-34fa-4691-843e-d6cb5c7e76e3\",\n        \"url\": \"/v2/routes/d683a967-34fa-4691-843e-d6cb5c7e76e3\",\n        \"created_at\": \"2015-10-23T00:00:31Z\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"ab451001-c9b9-466f-bdb3-5d548aa168a5\",\n        \"path\": \"\",\n        \"domain_guid\": \"fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n        \"space_guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"service_instance_guid\": null,\n        \"port\": 0,\n        \"domain_url\": \"/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n        \"space_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"apps_url\": \"/v2/routes/d683a967-34fa-4691-843e-d6cb5c7e76e3/apps\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:06:12 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["64959b8a-97c8-4205-64b8-0f3d87b0c8a0"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["3a0fe5c0-92a2-4f1b-583d-86be437c5855::f9c4a135-b96d-4a01-8882-834f470fcec7"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n    \"url\": \"/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n    \"created_at\": \"2013-05-04T00:29:46Z\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"name\": \"cfapps.io\",\n    \"router_group_guid\": null\n  }\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:06:13 GMT"},[...]
{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/private_domains","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["5b8ecd4a-e94c-4880-4c86-4f4e8c489b1e"], "X-Vcap-Request-Id":["1e22292f-4ec7-4fc2-7d5a-0d1d07c83d61::ca0e7239-5ab9-4eaa-93ce-73c6f0872685"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 0,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:06:15 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/shared_domains","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["019c60e9-9355-4024-5cb4-0125c246989a"], "X-Vcap-Request-Id":["6c2bd67b-0b08-4a32-49da-384fadf0ce46::87167e90-61c0-48e3-8435-44e830d1eee9"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n        \"url\": \"/v2/shared_domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n        \"created_at\": \"2013-05-04T00:29:46Z\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"name\": \"cfapps.io\",\n        \"router_group_guid\": null\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:06:16 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/spaces","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["e5ff8e8c-1ffc-4db2-526a-eecf0f43102b"], "X-Vcap-Request-Id":["3cbcf593-79ab-40d9-6c86-382e2287b4fd::825862d4-4aca-4e32-8e3c-29e5ced9a885"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"created_at\": \"2015-10-22T22:41:00Z\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"name\": \"nucleus\",\n        \"organization_guid\": \"9928cdf8-bf76-4b42-bda4-6b6787883b2e\",\n        \"space_quota_definition_guid\": null,\n        \"allow_ssh\": true,\n        \"organization_url\": \"/v2/organizations/9928cdf8-bf76-4b42-bda4-6b6787883b2e\",\n        \"developers_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/developers\",\n        \"managers_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/managers\",\n        \"auditors_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/auditors\",\n        \"apps_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/apps\",\n        \"routes_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/routes\",\n        \"domains_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/domains\",\n        \"service_instances_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/service_instances\",\n        \"app_events_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/app_events\",\n        \"events_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/events\",\n        \"security_groups_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/security_groups\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:06:17 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["40208bf9-b7a1-4b65-7daa-ee97228ace6d"], "X-Vcap-Request-Id":["076a605a-61b5-4f16-47c2-2837d787b1d3::647d72e5-301[...]
{"request":{"method":"post","uri":"https://api.run.pivotal.io/v2/private_domains","body":{"encoding":"UTF-8","string":"{\"name\":\"adomainthatishopefullynotusedontheplatform.de\",\"owning_organization_guid\":\"9928cdf8-bf76-4b42-bda4-6b6787883b2e\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Location":["/v2/private_domains/941a6da5-a872-4440-8e90-2f9b96efc500"], "X-Cf-Requestid":["e0ea44d1-1c83-4f41-456b-34df25fe4c78"], "X-Vcap-Request-Id":["4adf9c49-2bb0-4aab-7944-56790cb09c65::981023c6-8623-4c52-8b7c-15338584f39b"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"941a6da5-a872-4440-8e90-2f9b96efc500\",\n    \"url\": \"/v2/private_domains/941a6da5-a872-4440-8e90-2f9b96efc500\",\n    \"created_at\": \"2015-10-23T00:06:03Z\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"name\": \"adomainthatishopefullynotusedontheplatform.de\",\n    \"owning_organization_guid\": \"9928cdf8-bf76-4b42-bda4-6b6787883b2e\",\n    \"owning_organization_url\": \"/v2/organizations/9928cdf8-bf76-4b42-bda4-6b6787883b2e\",\n    \"shared_organizations_url\": \"/v2/private_domains/941a6da5-a872-4440-8e90-2f9b96efc500/shared_organizations\"\n  }\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:06:19 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["e15580c1-a810-475f-7e93-08df89d0e2b9"], "X-Vcap-Request-Id":["11627397-e7b8-45c6-580b-81722c770593::1ed66d25-f5d8-4180-8f4c-977ecd41fb0e"]},"body":{"[...]
[...]
{"request":{"method":"put","uri":"https://api.run.pivotal.io/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/routes/64c53b75-d1ee-48af-bcbe-57b240518632","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["9d9e2a64-7772-4fd3-6d48-0bb8ac6cfbff"], "X-Vcap-Request-Id":["0d486a25[...]
{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/domains/941a6da5-a872-4440-8e90-2f9b96efc500","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["be58bc51-7355-450f-7831-7628aaab10e2"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["31cfbb6f-3701-4691-5c3b-439e4942fc0d::18949399-19cb-4c73-af42-17934c80ff65"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"941a6da5-a872-4440-8e90-2f9b96efc500\",\n    \"url\": \"/v2/domains/941a6da5-a872-4440-8e90-2f9b96efc500\",\n    \"created_at\": \"2015-10-23T00:06:03Z\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"name\": \"adomainthatishopefullynotusedontheplatform.de\",\n    \"owning_organization_guid\": \"9928cdf8-bf76-4b42-bda4-6b6787883b2e\",\n    \"owning_organization_url\": \"/v2/organizations/9928cdf8-bf76-4b42-bda4-6b6787883b2e\",\n    \"spaces_url\": \"/v2/domains/941a6da5-a872-4440-8e90-2f9b96efc500/spaces\"\n  }\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:06:24 GMT"}],"recorded_with":"VCR 2.9.3"}