{"http_interactions":[{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["e229d5ae-e394-4b7c-4883-b071e60335ec"], "X-Vcap-Request-Id":["70d1b9b0-bc7d-40d8-770f-4a7e62769a38::c04192da-18d9-4a99-811e-6d944b823a6d"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"https://login.run.pivotal.io\",\"token_endpoint\":\"https://uaa.run.pivotal.io\",\"min_cli_version\":null,\"min_recommended_cli_version\":null,\"api_version\":\"2.41.0\",\"app_ssh_endpoint\":\"ssh.run.pivotal.io:2222\",\"app_ssh_host_key_fingerprint\":\"e7:13:4e:32:ee:39:62:df:54:41:d7:f7:8b:b2:a7:6b\",\"app_ssh_oauth_client\":\"ssh-proxy\",\"routing_endpoint\":\"https://api.run.pivotal.io/routing\",\"logging_endpoint\":\"wss://loggregator.run.pivotal.io:443\",\"doppler_logging_endpoint\":\"wss://doppler.run.pivotal.io:443\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:06:27 GMT"},{"request":{"method":"post","uri":"https://login.run.pivotal.io/oauth/token?grant_type=password&password=__pivotal:password__&username=__pivotal:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["e97b3f8f-5daa-4c44-5569-cf2be1efb3c0"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"cloud_controller.read password.write cloud_controller.write openid uaa.user\",\"jti\":\"b2f5a69d-9a0c-41e8-a760-a604a3532628\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:06:28 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/apps?q=name%3Anucleus-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["5ab412ed-cc74-4774-440b-92d506089747"], "X-Vcap-Request-Id":["905ef214-d960-48c9-62be-a23a5d5862ca::fae15fbe-f8a6-4af1-b6ea-299b889c1037"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"ab451001-c9b9-466f-bdb3-5d548aa168a5\",\n        \"url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5\",\n        \"created_at\": \"2015-10-23T00:00:21Z\",\n        \"updated_at\": \"2015-10-23T00:06:07Z\"\n      },\n      \"entity\": {\n        \"name\": \"nucleus-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"stack_guid\": \"86205f38-84fc-4bc2-b2b8-af7f55669f04\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_updated_test_var_value\",\n          \"our_test_var_key2\": \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"4ff4bb5f-4e85-4300-aed9-9be7ea84f7a5\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n        \"health_check_type\": \"port\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"staging_failed_description\": null,\n        \"diego\": true,\n        \"docker_image\": null,\n        \"package_updated_at\": null,\n        \"detected_start_command\": \"\",\n        \"enable_ssh\": true,\n        \"docker_credentials_json\": {\n          \"redacted_message\": \"[PRIVATE DATA HIDDEN]\"\n        },\n        \"space_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"stack_url\": \"/v2/stacks/86205f38-84fc-4bc2-b2b8-af7f55669f04\",\n        \"events_url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/events\",\n        \"service_bindings_url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/service_bindings\",\n        \"routes_url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:06:29 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["9008532f-0e0a-4456-7add-6431210ca676"], "X-Vcap-Request-Id":["592441e0-2cdb-4201-6bcf-8dcbcd4b44d9::a8db2ae0-5304-47c8-8ec7-cc1d21e2035f"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 2,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"d683a967-34fa-4691-843e-d6cb5c7e76e3\",\n        \"url\": \"/v2/routes/d683a967-34fa-4691-843e-d6cb5c7e76e3\",\n        \"created_at\": \"2015-10-23T00:00:31Z\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"ab451001-c9b9-466f-bdb3-5d548aa168a5\",\n        \"path\": \"\",\n        \"domain_guid\": \"fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n        \"space_guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"service_instance_guid\": null,\n        \"port\": 0,\n        \"domain_url\": \"/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n        \"space_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"apps_url\": \"/v2/routes/d683a967-34fa-4691-843e-d6cb5c7e76e3/apps\"\n      }\n    },\n    {\n      \"metadata\": {\n        \"guid\": \"64c53b75-d1ee-48af-bcbe-57b240518632\",\n        \"url\": \"/v2/routes/64c53b75-d1ee-48af-bcbe-57b240518632\",\n        \"created_at\": \"2015-10-23T00:06:07Z\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"pivotal\",\n        \"path\": \"\",\n        \"domain_guid\": \"941a6da5-a872-4440-8e90-2f9b96efc500\",\n        \"space_guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"service_instance_guid\": null,\n        \"port\": 0,\n        \"domain_url\": \"/v2/domains/941a6da5-a872-4440-8e90-2f9b96efc500\",\n        \"space_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"apps_url\": \"/v2/routes/64c53b75-d1ee-48af-bcbe-57b240518632/apps\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:06:30 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["37e24e90-baff-48c9-45ae-1d1d957da7c6"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["a0ef2503-9d0b-4222-4a39-b5963c0dbad0::afd10667-fbe1-4264-989d-013643255693"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n    \"url\": \"/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n    \"created_at\": \"2013-05-04T00:29:46Z\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"name\": \"cfapps.io\",\n    \"router_group_guid\": null\n  }\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:06:31 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/domains/941a6da5-a872-4440-8e90-2f9b96efc500","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["1c134c2b-21e1-46e9-70c1-114364fcaca2"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["c4895051-4c95-407e-6cb3-d40c61a6aeb2::f08b5821-7958-4e5f-b09c-befe4f9f45c4"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"941a6da5-a872-4440-8e90-2f9b96efc500\",\n    \"url\": \"/v2/domains/941a6da5-a872-4440-8e90-2f9b96efc500\",\n    \"created_at\": \"2015-10-23T00:06:03Z\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"name\": \"adomainthatishopefullynotusedontheplatform.de\",\n    \"owning_organization_guid\": \"9928cdf8-bf76-4b42-bda4-6b6787883b2e\",\n    \"owning_organization_url\": \"/v2/organizations/9928cdf8-bf76-4b42-bda4-6b6787883b2e\",\n    \"spaces_url\": \"/v2/domains/941a6da5-a872-4440-8e90-2f9b96efc500/spaces\"\n  }\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:06:32 GMT"},[...]
{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/private_domains","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["2ca08fae-2003-4547-63df-5aefbc18790a"], "X-Vcap-Request-Id":["f9ea3022-8267-432e-52f4-473a1723115f::f93f7f35-7c38-48dd-ba22-dcf65b64c85a"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"941a6da5-a872-4440-8e90-2f9b96efc500\",\n        \"url\": \"/v2/private_domains/941a6da5-a872-4440-8e90-2f9b96efc500\",\n        \"created_at\": \"2015-10-23T00:06:03Z\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"name\": \"adomainthatishopefullynotusedontheplatform.de\",\n        \"owning_organization_guid\": \"9928cdf8-bf76-4b42-bda4-6b6787883b2e\",\n        \"owning_organization_url\": \"/v2/organizations/9928cdf8-bf76-4b42-bda4-6b6787883b2e\",\n        \"shared_organizations_url\": \"/v2/private_domains/941a6da5-a872-4440-8e90-2f9b96efc500/shared_organizations\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:06:34 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["7057db5a-6795-4988-6a77-0452ac08732c"], "X-Vcap-Request-Id":["9065d112-8f5b-4dfa-6419-81cd47049633::279ad0ea-38e6-4a78-821d-a637f8ddf789"]},"body":{"[...]
{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/spaces","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["b2c916b5-8a88-4623-65e6-ead76c8dc8e0"], "X-Vcap-Request-Id":["34ab7f2d-7609-43de-68ac-626f6b4992a1::a5a06649-5794-4e47-a0e9-707509f546b8"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"created_at\": \"2015-10-22T22:41:00Z\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"name\": \"nucleus\",\n        \"organization_guid\": \"9928cdf8-bf76-4b42-bda4-6b6787883b2e\",\n        \"space_quota_definition_guid\": null,\n        \"allow_ssh\": true,\n        \"organization_url\": \"/v2/organizations/9928cdf8-bf76-4b42-bda4-6b6787883b2e\",\n        \"developers_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/developers\",\n        \"managers_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/managers\",\n        \"auditors_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/auditors\",\n        \"apps_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/apps\",\n        \"routes_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/routes\",\n        \"domains_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/domains\",\n        \"service_instances_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/service_instances\",\n        \"app_events_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/app_events\",\n        \"events_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/events\",\n        \"security_groups_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011/security_groups\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:06:36 GMT"},{"request":{"method":"post","uri":"https://api.run.pivotal.io/v2/routes","body":{"encoding":"UTF-8","string":"{\"domain_guid\":\"941a6da5-a872-4440-8e90-2f9b96efc500\",\"host\":\"\",\"space_guid\":\"1a13ea3e-d947-4887-8481-e8174f0ed011\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Location":["/v2/routes/d7d2126b-de15-4c2b-b624-a290496665e6"], "X-Cf-Requestid":["9411a843-60f3-4482-6c01-cccf8b76088b"], "X-Vcap-Request-Id":["5d784513-390c-4f87-6be6-99e9c67750f6::7971a396-fdbe-4a06-955b-8dec5841bd5a"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"d7d2126b-de15-4c2b-b624-a290496665e6\",\n    \"url\": \"/v2/routes/d7d2126b-de15-4c2b-b624-a290496665e6\",\n    \"created_at\": \"2015-10-23T00:06:21Z\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"host\": \"\",\n    \"path\": \"\",\n    \"domain_guid\": \"941a6da5-a872-4440-8e90-2f9b96efc500\",\n    \"space_guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n    \"service_instance_guid\": null,\n    \"port\": 0,\n    \"domain_url\": \"/v2/domains/941a6da5-a872-4440-8e90-2f9b96efc500\",\n    \"space_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011\",\n    \"apps_url\": \"/v2/routes/d7d2126b-de15-4c2b-b624-a290496665e6/apps\"\n  }\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:06:37 GMT"},{"request":{"method":"put","uri":"https://api.run.pivotal.io/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/routes/d7d2126b-de15-4c2b-b624-a290496665e6","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["3fb2769c-ec14-41bb-513d-af0d8ed282e1"], "X-Vcap-Request-Id":["1e7eb843[...]
{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/domains/941a6da5-a872-4440-8e90-2f9b96efc500","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["d63d10c4-931b-494a-4deb-9eaad5e6cdc4"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["93ee35f5-63c7-4fb5-51c8-16774d2edfa8::5cdef5f8-b39e-4666-bb92-93ef4da601e7"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"941a6da5-a872-4440-8e90-2f9b96efc500\",\n    \"url\": \"/v2/domains/941a6da5-a872-4440-8e90-2f9b96efc500\",\n    \"created_at\": \"2015-10-23T00:06:03Z\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"name\": \"adomainthatishopefullynotusedontheplatform.de\",\n    \"owning_organization_guid\": \"9928cdf8-bf76-4b42-bda4-6b6787883b2e\",\n    \"owning_organization_url\": \"/v2/organizations/9928cdf8-bf76-4b42-bda4-6b6787883b2e\",\n    \"spaces_url\": \"/v2/domains/941a6da5-a872-4440-8e90-2f9b96efc500/spaces\"\n  }\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:06:39 GMT"}],"recorded_with":"VCR 2.9.3"}