---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - ef0a54fc-3707-4ed4-6789-03ae34c32156
      X-Vcap-Request-Id:
      - dc1e8f5d-a98a-4baa-4856-a5459d056dfc::f5900e2e-d1ba-4f1a-8a53-8339867a1a31
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Sat, 04 Apr 2015 12:53:38 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - 9904b9e2-01b5-4323-75e4-a0e8a00bccd0, 03f4bd1a-8e85-41bc-4588-0f5cee6c142b
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"00b0e780-6f32-48aa-a93e-af9628c4dca3"}'
  recorded_at: Sat, 04 Apr 2015 12:53:39 GMT
recorded_with: VCR 2.9.3
