---
http_interactions:
- request:
    method: post
    uri: https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"allow_tracking":true,"api_key":"__API_KEY__","beta":null,"confirmed":true,"confirmed_at":"2014/11/18
        01:37:21 -0800","created_at":"2014/11/18 01:37:21 -0800","id":"__USER_ID__@users.heroku.com","email":"__heroku:user__","last_login":"2014/11/25
        00:52:59 -0800","name":" ","updated_at":"2015/04/02 06:39:42 -0700","verified":false,"verified_at":null}'
  recorded_at: Thu, 02 Apr 2015 13:46:28 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/paasal-test-app-min-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"f20307087a739c9c04beb21bba713aab"'
      Last-Modified:
      - Thu, 02 Apr 2015 13:42:31 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2168'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"archived_at":null,"buildpack_provided_description":"Node.js","build_stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"created_at":"2015-04-02T13:34:54Z","id":"cba033bc-7ca1-4e30-a1ca-4921fd3c59e1","git_url":"git@heroku.com:paasal-test-app-min-updated.git","maintenance":false,"name":"paasal-test-app-min-updated","owner":{"email":"__heroku:user__","id":"__heroku:id__"},"region":{"id":"59accabd-516d-4f0e-83e6-6e3757701145","name":"us"},"released_at":"2015-04-02T13:39:42Z","repo_size":2703856,"slug_size":12381427,"stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"updated_at":"2015-04-02T13:42:31Z","web_url":"https://paasal-test-app-min-updated.herokuapp.com/"}'
  recorded_at: Thu, 02 Apr 2015 13:46:29 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/cba033bc-7ca1-4e30-a1ca-4921fd3c59e1/dynos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"2b22bf180160095626e6f16d02870ebb"'
      Last-Modified:
      - Thu, 02 Apr 2015 13:41:25 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2167'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"attach_url":null,"command":"node server.js","created_at":"2015-04-02T13:41:25Z","id":"9194e6ca-d1e4-4969-8a5a-f4bfbe6b03f0","name":"web.1","release":{"id":"a47f2da1-237f-483d-92f1-ef1683b26cd6","version":4},"size":"1X","state":"up","type":"web","updated_at":"2015-04-02T13:41:25Z"}]'
  recorded_at: Thu, 02 Apr 2015 13:46:30 GMT
recorded_with: VCR 2.9.3
