---
http_interactions:
- request:
    method: post
    uri: https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: US-ASCII
      string: ! '{"allow_tracking":true,"api_key":"__API_KEY__","beta":null,"confirmed":true,"confirmed_at":"2014/11/18
        01:37:21 -0800","created_at":"2014/11/18 01:37:21 -0800","id":"__USER_ID__@users.heroku.com","email":"__heroku:user__","last_login":"2014/11/25
        00:52:59 -0800","name":" ","updated_at":"2015/03/25 09:53:28 -0700","verified":false,"verified_at":null}'
  recorded_at: Wed, 25 Mar 2015 16:56:40 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/paasal-test-app-min-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - ! '"c7f3e6bccba88831f24a2b5c4220acf8"'
      Last-Modified:
      - Wed, 25 Mar 2015 16:56:18 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2177'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: ! '{"archived_at":null,"buildpack_provided_description":"Node.js","build_stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"created_at":"2015-03-25T16:49:08Z","id":"c928079a-b6fc-4f04-83fc-b6629db14f84","git_url":"git@heroku.com:paasal-test-app-min-updated.git","maintenance":false,"name":"paasal-test-app-min-updated","owner":{"email":"__heroku:user__","id":"__heroku:id__"},"region":{"id":"59accabd-516d-4f0e-83e6-6e3757701145","name":"us"},"released_at":"2015-03-25T16:53:28Z","repo_size":2703525,"slug_size":12384674,"stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"updated_at":"2015-03-25T16:56:18Z","web_url":"https://paasal-test-app-min-updated.herokuapp.com/"}'
  recorded_at: Wed, 25 Mar 2015 16:56:41 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/c928079a-b6fc-4f04-83fc-b6629db14f84/dynos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - ! '"a60d3f8c7b59936fa05ff449962d4263"'
      Last-Modified:
      - Wed, 25 Mar 2015 16:55:09 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2176'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: ! '[{"attach_url":null,"command":"node server.js","created_at":"2015-03-25T16:55:09Z","id":"d6acf3fb-7d4c-4c4f-85e1-4d5651114225","name":"web.1","release":{"id":"01ccd2f4-b3b6-4ab7-8f94-157da8769f03","version":4},"size":"1X","state":"up","type":"web","updated_at":"2015-03-25T16:55:09Z"}]'
  recorded_at: Wed, 25 Mar 2015 16:56:42 GMT
recorded_with: VCR 2.9.3
