{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-10-23T09:28:39.546205\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 09:13:55 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/nucleusappallproperties2","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/nucleusappallproperties2"], "X-varnish-cache":["MISS"]},"body":{"encoding":"CP850","string":"{\"name\": \"nucleusappallproperties2\", \"buildpack_url\": null, \"repository\": \"ssh://nucleusappallproperties2@cloudcontrolled.com/repository.git\", \"type\": {\"name\": \"nodejs\"}, \"owner\": {\"username\": \"uniba\", \"first_name\": \"\", \"last_name\": \"\", \"email\": \"__cloudcontrol:user__\", \"is_active\": true, \"billing_without_payment_info\": false}, \"users\": [{\"username\": \"uniba\", \"email\": \"__cloudcontrol:user__\", \"role\": \"\"}], \"invitations\": [], \"date_created\": \"2015-10-23T09:08:15\", \"date_modified\": \"2015-10-23T09:08:15\", \"deployments\": [{\"name\": \"nucleusappallproperties2/nucleus\", \"dep_id\": \"depm5y3dy4k\"}]}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 09:13:55 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/nucleusappallproperties2/deployment/nucleus","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, PUT, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/nucleusappallproperties2/deployment/nucleus"], "X-varnish-cache":["MISS"]},"body":{"encoding":"CP850","string":"{\"name\": \"nucleusappallproperties2/nucleus\", \"stack\": {\"name\": \"pinky\"}, \"dep_id\": \"depm5y3dy4k\", \"branch\": \"ssh://nucleusappallproperties2@cloudcontrolled.com/repository.git\", \"users\": [], \"static_files\": \"(removed)\", \"billing_account\": null, \"version\": \"b6b75520eb2ea08f08c318209b92cab3ba04b1de\", \"state\": \"deployed\", \"date_created\": \"2015-10-23T09:08:16\", \"date_modified\": \"2015-10-23T09:13:14\", \"is_default\": false, \"default_subdomain\": \"nucleus-nucleusappallproperties2.cloudcontrolled.com\", \"min_boxes\": 1, \"max_boxes\": 1, \"billed_boxes\": {\"costs\": 0.0, \"boxes\": 0.0, \"until\": 1445591620, \"free_boxes\": 0.0}, \"billed_addons\": []}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 09:13:55 GMT"},{"request":{"method":"get","uri":"http://nucleus-nucleusappallproperties2.cloudcontrolled.com/","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["text/html; charset=utf-8"], "ETag":["\"-1541606901\""], "x-host":["nucleus-nucleusappallproperties2.cloudcontrolled.com"], "x-url":["/"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"<!DOCTYPE html>\n<html>\n  <head>\n    <title>Word Finder</title>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <script src=\"/public/jquery-1.8.0.js\"></script>\n    <link rel=\"stylesheet\" href=\"/public/bootstrap.css\" />\n    <script src=\"/public/bootstrap.js\"></script>\n    <link rel=\"stylesheet\" href=\"/public/app.css\" />\n  </head>\n  <body>\n    <div class=\"navbar navbar-inverse navbar-fixed-top\">\n      <div class=\"container\">\n        <div class=\"navbar-header\">\n          <button type=\"button\" class=\"navbar-toggle\" data-toggle=\"collapse\" data-target=\".navbar-collapse\">\n            <span class=\"icon-bar\"></span>\n            <span class=\"icon-bar\"></span>\n            <span class=\"icon-bar\"></span>\n          </button>\n          <a class=\"navbar-brand\" href=\"/\">Word Finder</a>\n        </div>\n        <div class=\"collapse navbar-collapse\">\n          <ul class=\"nav navbar-nav\">\n          </ul>\n        </div><!--/.nav-collapse -->\n      </div>\n    </div>\n\n    <div class=\"container\">\n      <div id=\"dashboard\">\n        <div class=\"row\">\n          <h3>Word Finder</h3>\n\n          <p>\n          I took every english word (over 200k words) and built a little app that will help you find words that contain specific characters.\n          </p>\n          <hr/>\n        </div>\n\n\n        <div class=\"row\">\n            <p>Enter a word, use _ and ? as needed (see instructions below)</p>\n          <form method=\"post\" action=\"search\">\n            \n              <input type=\"text\"\n                     class=\"col-md-12\"\n                     name=\"pattern\"\n                     placeholder=\"enter pattern and press\" />\n           \n          </form>\n        </div>\n        <hr/>\n\n\n\n\n          <div class=\"row\">\n            <h3>The underscore</h3>\n\n            <p>\n            Type a word into the text box with the following pattern:\n            </p>\n\n            <pre>\nhe__o\n            </pre>\n\n            <p>\n            And you'll get words such as:\n            </p>\n\n            <pre>\nhello\nhelio\n            </pre>\n          </div>\n\n          <div class=\"row\">\n            <h3>The question mark</h3>\n\n            <p>\n            This character is great for games like What's the Phrase (a knock off of Wheel of Fortune)\n            </p>\n\n            <p>\n            Type a word into the text box with the following pattern:\n            </[...]
