{"http_interactions":[{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["c9f2c5aa-b9af-4aca-5b97-6194f9649654"], "X-Vcap-Request-Id":["c2be15e5-1c19-4aa1-436c-6a37342baa8a::bd265127-2f06-4594-a4d9-81155d1e573a"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"https://login.run.pivotal.io\",\"token_endpoint\":\"https://uaa.run.pivotal.io\",\"min_cli_version\":null,\"min_recommended_cli_version\":null,\"api_version\":\"2.41.0\",\"app_ssh_endpoint\":\"ssh.run.pivotal.io:2222\",\"app_ssh_host_key_fingerprint\":\"e7:13:4e:32:ee:39:62:df:54:41:d7:f7:8b:b2:a7:6b\",\"app_ssh_oauth_client\":\"ssh-proxy\",\"routing_endpoint\":\"https://api.run.pivotal.io/routing\",\"logging_endpoint\":\"wss://loggregator.run.pivotal.io:443\",\"doppler_logging_endpoint\":\"wss://doppler.run.pivotal.io:443\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:46:16 GMT"},{"request":{"method":"post","uri":"https://login.run.pivotal.io/oauth/token?grant_type=password&password=__pivotal:password__&username=__pivotal:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["525eb57a-08e1-4352-5ff3-1b6011922b13"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"cloud_controller.read password.write cloud_controller.write openid uaa.user\",\"jti\":\"b5ae045e-188b-4a25-98ee-b4aa85c1e0f3\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:46:18 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/apps?q=name%3Anucleus-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["f563c8fa-2c17-45a0-4ace-c65fe2f54488"], "X-Vcap-Request-Id":["70837b5d-bae0-4076-6e00-8b640173af39::637bb16c-1d87-4253-9224-6c667a608c8c"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"ab451001-c9b9-466f-bdb3-5d548aa168a5\",\n        \"url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5\",\n        \"created_at\": \"2015-10-23T00:00:21Z\",\n        \"updated_at\": \"2015-10-23T10:45:14Z\"\n      },\n      \"entity\": {\n        \"name\": \"nucleus-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"stack_guid\": \"86205f38-84fc-4bc2-b2b8-af7f55669f04\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": \"\",\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_updated_test_var_value\",\n          \"our_test_var_key2\": \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STARTED\",\n        \"version\": \"ef8ce982-a5fd-4a9a-ba24-de86978b4a4c\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": \"ebc8c9e5072b4fcb8917dbc382480e2c\",\n        \"package_state\": \"STAGED\",\n        \"health_check_type\": \"port\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"staging_failed_description\": null,\n        \"diego\": true,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-10-23T01:20:56Z\",\n        \"detected_start_command\": \"node server.js\",\n        \"enable_ssh\": true,\n        \"docker_credentials_json\": {\n          \"redacted_message\": \"[PRIVATE DATA HIDDEN]\"\n        },\n        \"space_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"stack_url\": \"/v2/stacks/86205f38-84fc-4bc2-b2b8-af7f55669f04\",\n        \"events_url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/events\",\n        \"service_bindings_url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/service_bindings\",\n        \"routes_url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:46:19 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["121df4e6-2e75-472d-45c6-fabce93eeed2"], "X-Vcap-Request-Id":["a1a370c3-3989-43fc-7659-52fde3ad2b2a::58aa8e5f-534f-4b3c-bea2-6d88ecdc1fc2"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 3,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"d683a967-34fa-4691-843e-d6cb5c7e76e3\",\n        \"url\": \"/v2/routes/d683a967-34fa-4691-843e-d6cb5c7e76e3\",\n        \"created_at\": \"2015-10-23T00:00:31Z\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"ab451001-c9b9-466f-bdb3-5d548aa168a5\",\n        \"path\": \"\",\n        \"domain_guid\": \"fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n        \"space_guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"service_instance_guid\": null,\n        \"port\": 0,\n        \"domain_url\": \"/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n        \"space_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"apps_url\": \"/v2/routes/d683a967-34fa-4691-843e-d6cb5c7e76e3/apps\"\n      }\n    },\n    {\n      \"metadata\": {\n        \"guid\": \"64c53b75-d1ee-48af-bcbe-57b240518632\",\n        \"url\": \"/v2/routes/64c53b75-d1ee-48af-bcbe-57b240518632\",\n        \"created_at\": \"2015-10-23T00:06:07Z\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"pivotal\",\n        \"path\": \"\",\n        \"domain_guid\": \"941a6da5-a872-4440-8e90-2f9b96efc500\",\n        \"space_guid\": \[...]
{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["d391f4a1-acdb-4fa2-5b8a-938bf6aa3cf4"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["91f42b81-e7b4-4f7f-5694-423f53c2ece6::ac8b010f-072e-478c-9e62-906c4951e817"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n    \"url\": \"/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n    \"created_at\": \"2013-05-04T00:29:46Z\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"name\": \"cfapps.io\",\n    \"router_group_guid\": null\n  }\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:46:21 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/domains/941a6da5-a872-4440-8e90-2f9b96efc500","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["a63cd311-88b4-4e94-7f66-19e0262dd6d4"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["560bca2c-b8a6-4f38-73e7-46188c9506d9::b70d93ea-b71b-44e2-bdab-444a833498ba"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"941a6da5-a872-4440-8e90-2f9b96efc500\",\n    \"url\": \"/v2/domains/941a6da5-a872-4440-8e90-2f9b96efc500\",\n    \"created_at\": \"2015-10-23T00:06:03Z\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"name\": \"adomainthatishopefullynotusedontheplatform.de\",\n    \"owning_organization_guid\": \"9928cdf8-bf76-4b42-bda4-6b6787883b2e\",\n    \"owning_organization_url\": \"/v2/organizations/9928cdf8-bf76-4b42-bda4-6b6787883b2e\",\n    \"spaces_url\": \"/v2/domains/941a6da5-a872-4440-8e90-2f9b96efc500/spaces\"\n  }\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:46:22 GMT"},[...]
{"request":{"method":"delete","uri":"https://api.run.pivotal.io/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/routes/64c53b75-d1ee-48af-bcbe-57b240518632","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["2a4ba9e0-5dd9-4dc7-4b39-11f17715ec28"], "X-Vcap-Request-Id":["cf9f9[...]
{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/routes/64c53b75-d1ee-48af-bcbe-57b240518632/apps","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["cd780b0d-e9c5-4cb8-71ef-137e191368bd"], "X-Vcap-Request-Id":["ac6f931c-4224-48b9-5a4e-f11c2f2d73c0::155e7674-a910-4863-a5dd-82990f525877"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 0,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:46:26 GMT"},{"request":{"method":"delete","uri":"https://api.run.pivotal.io/v2/routes/64c53b75-d1ee-48af-bcbe-57b240518632","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":204,"message":null},"headers":{"X-Cf-Requestid":["7422e94e-5d38-47e3-777a-a167945887c8"], "X-Vcap-Request-Id":["674aa868-96ae-4c48-485a-6059f4c29b4d::bdbf1753-6bc1-47c1-a149-a0b93c30e3c2"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:46:27 GMT"}],"recorded_with":"VCR 2.9.3"}