{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?password=__heroku:password__&username=__heroku:user__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":false,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/10/08 04:22:08 -0700\",\"created_at\":\"2014/10/08 04:22:08 -0700\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/10/23 02:44:13 -0700\",\"name\":\"stfnklb\",\"updated_at\":\"2015/10/23 03:11:14 -0700\",\"verified\":true,\"verified_at\":\"2015/10/23 02:45:30 -0700\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:19:33 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/nucleus-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"1aab278d687946e04d4aeea42e1c2a18\""], "Last-Modified":["Fri, 23 Oct 2015 10:14:33 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4493"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"{\"archived_at\":null,\"buildpack_provided_description\":\"Node.js\",\"build_stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"created_at\":\"2015-10-23T09:52:31Z\",\"id\":\"11e97ded-c274-4bc9-aa9e-e95cf479e46d\",\"git_url\":\"git@heroku.com:nucleus-app-all-updated.git\",\"maintenance\":false,\"name\":\"nucleus-app-all-updated\",\"owner\":{\"email\":\"__heroku:user__\",\"id\":\"6118a9d1-36ba-482e-8299-449000a2d46d\"},\"region\":{\"id\":\"59accabd-516d-4f0e-83e6-6e3757701145\",\"name\":\"us\"},\"released_at\":\"2015-10-23T10:10:16Z\",\"repo_size\":2703137,\"slug_size\":14794221,\"stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"updated_at\":\"2015-10-23T10:14:33Z\",\"web_url\":\"https://nucleus-app-all-updated.herokuapp.com/\",\"process_tier\":\"free\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:19:34 GMT"},{"request":{"method":"post","uri":"https://api.heroku.com/apps/nucleus-app-all-updated/log-sessions","body":{"encoding":"UTF-8","string":"{\"source\":\"heroku\",\"dyno\":\"router\",\"tail\":false}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4492"], "Status":["201 Created"]},"body":{"encoding":"CP850","string":"{\"created_at\":\"2015-10-23T10:19:19Z\",\"id\":\"485610da-c42d-4ed4-9cc5-d444bb958cca\",\"logplex_url\":\"https://logs-api.heroku.com/sessions/62d1aa32-25e2-449f-bfc5-0040d0cc28b2?srv=1445595559\",\"updated_at\":\"2015-10-23T10:19:19Z\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:19:35 GMT"},{"request":{"method":"get","uri":"https://logs-api.heroku.com/sessions/62d1aa32-25e2-449f-bfc5-0040d0cc28b2?srv=1445595559","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["text/html"]},"body":{"encoding":"UTF-8","string":"2015-10-23T10:18:24.227394+00:00 heroku[router]: at=info method=GET path=\"/\" host=nucleus-app-all-updated.herokuapp.com request_id=f4ca9de3-f65d-407e-a31b-9e00c1c72e57 fwd=\"185.53.41.40\" dyno=web.1 connect=0ms service=35ms status=200 bytes=3471\n"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:19:36 GMT"}],"recorded_with":"VCR 2.9.3"}