{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?password=__heroku:password__&username=__heroku:user__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":false,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/10/08 04:22:08 -0700\",\"created_at\":\"2014/10/08 04:22:08 -0700\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/10/23 02:44:13 -0700\",\"name\":\"stfnklb\",\"updated_at\":\"2015/10/23 02:49:43 -0700\",\"verified\":true,\"verified_at\":\"2015/10/23 02:45:30 -0700\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:07:55 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/nucleus-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"510bd96ef5561e9f926e84d8d8365443\""], "Last-Modified":["Fri, 23 Oct 2015 10:04:51 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4499"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"{\"archived_at\":null,\"buildpack_provided_description\":null,\"build_stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"created_at\":\"2015-10-23T09:52:31Z\",\"id\":\"11e97ded-c274-4bc9-aa9e-e95cf479e46d\",\"git_url\":\"git@heroku.com:nucleus-app-all-updated.git\",\"maintenance\":false,\"name\":\"nucleus-app-all-updated\",\"owner\":{\"email\":\"__heroku:user__\",\"id\":\"6118a9d1-36ba-482e-8299-449000a2d46d\"},\"region\":{\"id\":\"59accabd-516d-4f0e-83e6-6e3757701145\",\"name\":\"us\"},\"released_at\":\"2015-10-23T10:04:51Z\",\"repo_size\":null,\"slug_size\":null,\"stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"updated_at\":\"2015-10-23T10:04:51Z\",\"web_url\":\"https://nucleus-app-all-updated.herokuapp.com/\",\"process_tier\":\"free\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:07:56 GMT"},{"request":{"method":"post","uri":"https://api.heroku.com/apps/nucleus-app-all-updated/log-sessions","body":{"encoding":"UTF-8","string":"{\"source\":\"heroku\",\"dyno\":\"router\",\"tail\":false}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4498"], "Status":["201 Created"]},"body":{"encoding":"CP850","string":"{\"created_at\":\"2015-10-23T10:07:41Z\",\"id\":\"b5c685d2-e73c-43d0-9dcf-e590ddd70dde\",\"logplex_url\":\"https://logs-api.heroku.com/sessions/94ff58fe-4460-448a-bcdd-55e975756730?srv=1445594861\",\"updated_at\":\"2015-10-23T10:07:41Z\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:07:57 GMT"},{"request":{"method":"get","uri":"https://logs-api.heroku.com/sessions/94ff58fe-4460-448a-bcdd-55e975756730?srv=1445594861","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["text/html"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:07:58 GMT"}],"recorded_with":"VCR 2.9.3"}