{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?password=__heroku:password__&username=__heroku:user__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":false,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/10/08 04:22:08 -0700\",\"created_at\":\"2014/10/08 04:22:08 -0700\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/10/14 09:08:29 -0700\",\"name\":\"stfnklb\",\"updated_at\":\"2015/10/14 14:52:03 -0700\",\"verified\":false,\"verified_at\":null}"},"http_version":null},"recorded_at":"Wed, 14 Oct 2015 22:11:53 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"d66d7aad866a88cfac0a2e25e64c6cda\""], "Last-Modified":["Wed, 14 Oct 2015 22:07:16 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4493"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"{\"archived_at\":null,\"buildpack_provided_description\":null,\"build_stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"created_at\":\"2015-10-14T21:59:09Z\",\"id\":\"1611fc68-7d76-495e-a289-dcfcbb351aa4\",\"git_url\":\"git@heroku.com:paasal-test-app-all-updated.git\",\"maintenance\":false,\"name\":\"paasal-test-app-all-updated\",\"owner\":{\"email\":\"__heroku:user__\",\"id\":\"6118a9d1-36ba-482e-8299-449000a2d46d\"},\"region\":{\"id\":\"59accabd-516d-4f0e-83e6-6e3757701145\",\"name\":\"us\"},\"released_at\":\"2015-10-14T22:07:16Z\",\"repo_size\":null,\"slug_size\":null,\"stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"updated_at\":\"2015-10-14T22:07:16Z\",\"web_url\":\"https://paasal-test-app-all-updated.herokuapp.com/\",\"process_tier\":\"free\"}"},"http_version":null},"recorded_at":"Wed, 14 Oct 2015 22:11:54 GMT"},{"request":{"method":"post","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated/log-sessions","body":{"encoding":"UTF-8","string":"{\"source\":\"heroku\",\"dyno\":\"router\",\"tail\":false}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4492"], "Status":["201 Created"]},"body":{"encoding":"CP850","string":"{\"created_at\":\"2015-10-14T22:11:48Z\",\"id\":\"abff7f60-5eba-47ff-b25d-89fdacf8980b\",\"logplex_url\":\"https://logs-api.heroku.com/sessions/eec25cbf-fd0c-4647-8cda-802ca2d3602f?srv=1444860708\",\"updated_at\":\"2015-10-14T22:11:48Z\"}"},"http_version":null},"recorded_at":"Wed, 14 Oct 2015 22:11:55 GMT"},{"request":{"method":"get","uri":"https://logs-api.heroku.com/sessions/eec25cbf-fd0c-4647-8cda-802ca2d3602f?srv=1444860708","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["text/html"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Wed, 14 Oct 2015 22:11:55 GMT"}],"recorded_with":"VCR 2.9.3"}