---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 95429441-5dea-4a7b-589c-8eec5ffa846e
      X-Vcap-Request-Id:
      - 909e532e-ab3e-4c27-6e9c-7f22aadb0cee::7e66bf27-81bf-4da3-9652-df32c72c3854
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Mon, 06 Apr 2015 20:10:24 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - 046c925a-6adc-4d64-6f4c-46fb955d04cd, 87a2906d-8802-4de3-5ceb-e1bad1a359a2
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"c0653380-c1e4-4f40-a9fe-520b657c3870"}'
  recorded_at: Mon, 06 Apr 2015 20:10:24 GMT
recorded_with: VCR 2.9.3
