{"http_interactions":[{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/user","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"9cce4cd6d7387a6cf19e8684074bfc6b\""], "ProxyTime":["D=639949"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["__openshift-online:id__"]},"body":{"encoding":"UTF-8","string":"{\"api_version\":1.7,\"data\":{\"capabilities\":{\"subaccounts\":false,\"gear_sizes\":[\"small\"],\"plan_upgrade_enabled\":true,\"view_global_teams\":false},\"consumed_gears\":3,\"created_at\":\"2014-10-09T06:16:06Z\",\"currency_cd\":null,\"email\":\"__openshift-online:user__\",\"id\":\"__openshift-online:id__\",\"links\":{\"ADD_KEY\":{\"href\":\"https://openshift.redhat.com/broker/rest/user/keys\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Add new SSH key\",\"required_params\":[{\"description\":\"Name of the key\",\"invalid_options\":[],\"name\":\"name\",\"type\":\"string\",\"valid_options\":[]},{\"description\":\"Type of Key\",\"invalid_options\":[],\"name\":\"type\",\"type\":\"string\",\"valid_options\":[\"ssh-rsa\",\"ssh-dss\",\"ssh-rsa-cert-v01@openssh.com\",\"ssh-dss-cert-v01@openssh.com\",\"ssh-rsa-cert-v00@openssh.com\",\"ssh-dss-cert-v00@openssh.com\"]},{\"description\":\"The key portion of an ssh key (excluding key type and comment)\",\"invalid_options\":[],\"name\":\"content\",\"type\":\"string\",\"valid_options\":[]}]},\"LIST_KEYS\":{\"href\":\"https://openshift.redhat.com/broker/rest/user/keys\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"List SSH keys\",\"required_params\":[]}},\"login\":\"__openshift-online:user__\",\"max_domains\":1,\"max_gears\":3,\"max_teams\":0,\"plan_expiration_date\":null,\"plan_id\":\"free\",\"plan_quantity\":1,\"plan_state\":\"ACTIVE\",\"usage_account_id\":null,\"usage_rates\":{\"prepaid\":false}},\"messages\":[],\"status\":\"ok\",\"supported_api_versions\":[1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7],\"type\":\"user\",\"version\":\"1.7\"}"},"http_version":null},"recorded_at":"Sat, 30 May 2015 10:28:31 GMT"},{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/domains","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"46efb352804aaed4d492c5167d9031a4\""], "ProxyTime":["D=615571"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["__openshift-online:id__"]},"body":{"encoding":"UTF-8","string":"{\"api_version\":1.7,\"data\":[{\"allowed_gear_sizes\":[\"small\"],\"available_gears\":0,\"creation_time\":\"2014-10-09T06:18:53Z\",\"id\":\"543628cd4382ecf496000284\",\"links\":{\"GET\":{\"href\":\"https://openshift.redhat.com/broker/rest/domain/roecky\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"Get domain\",\"required_params\":[]},\"ADD_APPLICATION\":{\"href\":\"https://openshift.redhat.com/broker/rest/domain/roecky/applications\",\"method\":\"POST\",\"optional_params\":[{\"default_value\":null,\"description\":\"Array of one or more cartridge names\",\"name\":\"cartridges\",\"type\":\"array\",\"valid_options\":[]},{\"default_value\":false,\"description\":\"Mark application as scalable\",\"name\":\"scale\",\"type\":\"boolean\",\"valid_options\":[true,false]},{\"default_value\":\"small\",\"description\":\"The size of the gear\",\"name\":\"gear_size\",\"type\":\"string\",\"valid_options\":[\"small\"]},{\"default_value\":null,\"description\":\"A URL to a Git source code repository tha[...]
{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/domains/roecky/applications/paasaltestappminproperties","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"5c20ea7df943f982ae26ae5754fafe38\""], "ProxyTime":["D=895135"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["__openshift-online:id__"]},"body":{"encoding":"UTF-8","string":"{\"api_version\":1.7,\"data\":{\"aliases\":[],\"app_url\":\"http://paasaltestappminproperties-roecky.rhcloud.com/\",\"auto_deploy\":false,\"build_job_url\":null,\"building_app\":null,\"building_with\":null,\"creation_time\":\"2015-05-30T10:02:34Z\",\"deployment_branch\":\"master\",\"deployment_type\":\"git\",\"domain_id\":\"roecky\",\"embedded\":{\"haproxy-1.4\":{}},\"framework\":\"nodejs-0.10\",\"gear_count\":1,\"gear_profile\":\"small\",\"git_url\":\"ssh://55698ab94382ec5f2c000123@paasaltestappminproperties-roecky.rhcloud.com/~/git/paasaltestappminproperties.git/\",\"ha\":false,\"health_check_path\":\"health\",\"id\":\"55698ab94382ec5f2c000123\",\"initial_git_url\":null,\"keep_deployments\":2,\"links\":{\"GET\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/55698ab94382ec5f2c000123\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"Get application\",\"required_params\":[]},\"GET_DESCRIPTOR\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/55698ab94382ec5f2c000123/descriptor\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"Get application descriptor\",\"required_params\":[]},\"GET_GEAR_GROUPS\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/55698ab94382ec5f2c000123/gear_groups\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"Get application gear groups\",\"required_params\":[]},\"START\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/55698ab94382ec5f2c000123/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Start application\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"start\"]}]},\"STOP\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/55698ab94382ec5f2c000123/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Stop application\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"stop\"]}]},\"FORCE_STOP\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/55698ab94382ec5f2c000123/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Force stop application\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"force-stop\"]}]},\"RESTART\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/55698ab94382ec5f2c000123/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Restart application\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"restart\"]}]},\"SCALE_UP\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/55698ab94382ec5f2c000123/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Scale up application\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"scale-up\"]}]},\"SCALE_DOWN\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/55698ab94382ec5f2c000123/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Scale down application\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"scale-down\"]}]},\"TIDY\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/55698ab94382ec5f2c000123/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Tidy the application framework\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"tidy\"]}]},\"RELOAD\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/55698ab94382ec5f2c000123/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Reload the application\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"reload\"]}]},\"THREAD_DUMP\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/55698ab94382ec5f2c000123/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Trigger thread dump\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"thread-dump\"]}]},\"ADD_CARTRIDGE\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/55698ab94382ec5f2c000123/cartridges\",\"method\":\"POST\",\"optional_params\":[{\"default_value\":null,\"description\":\"The component to colocate with\",\"name\":\"colocate_with\",\"type\":\"string\",\"valid_options\":[\"haproxy-1.4\",\"nodejs-0.10\"]},{\"default_value\":null,\"description\":\"Minimum number of gears to run the component on.\",\"name\":\"scales_from\",\"type\":\"integer\",\"valid_options\":[]},{\"default_value\":n[...]
{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/application/55698ab94382ec5f2c000123","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"5c20ea7df943f982ae26ae5754fafe38\""], "ProxyTime":["D=1447413"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identit[...]
{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/application/55698ab94382ec5f2c000123/deployments","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"30bb0c68b7827d4cc19b2c43a8fcc36d\""], "ProxyTime":["D=617859"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["__openshift-online:id__"]},"body":{"encoding":"UTF-8","string":"{\"api_version\":1.7,\"data\":[{\"activations\":[\"2015-05-30T10:03:38Z\"],\"created_at\":\"2015-05-30T10:02:40Z\",\"force_clean_build\":false,\"hot_deploy\":false,\"id\":\"514c0e52\",\"ref\":\"master\",\"sha1\":\"eac42a5\"},{\"activations\":[\"2015-05-30T10:22:29Z\",\"2015-05-30T10:27:14Z\"],\"created_at\":\"2015-05-30T10:21:59Z\",\"force_clean_build\":true,\"hot_deploy\":false,\"id\":\"813fba1a\",\"ref\":\"master\",\"sha1\":\"1d8cc86\"}],\"messages\":[{\"exit_code\":0,\"field\":null,\"index\":null,\"severity\":\"info\",\"text\":\"Listing deployments for application paasaltestappminproperties under domain roecky\"}],\"status\":\"ok\",\"supported_api_versions\":[1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7],\"type\":\"deployments\",\"version\":\"1.7\"}"},"http_version":null},"recorded_at":"Sat, 30 May 2015 10:28:38 GMT"},{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/application/55698ab94382ec5f2c000123/gear_groups","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"94220fce6666e2e48c823b85039a4977\""], "ProxyTime":["D=1275992"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["__openshift-online:id__"]},"body":{"encoding":"UTF-8","string":"{\"api_version\":1.7,\"data\":[{\"additional_gear_storage\":0,\"base_gear_storage\":1,\"cartridges\":[{\"name\":\"haproxy-1.4\",\"display_name\":\"Web Load Balancer\",\"tags\":[\"web_proxy\",\"scales\",\"embedded\"]},{\"name\":\"nodejs-0.10\",\"display_name\":\"Node.js 0.10\",\"tags\":[\"service\",\"javascript\",\"nodejs\",\"web_framework\"]}],\"gear_profile\":\"small\",\"gears\":[{\"id\":\"55698ab94382ec5f2c000123\",\"state\":\"stopped\",\"ssh_url\":\"ssh://55698ab94382ec5f2c000123@paasaltestappminproperties-roecky.rhcloud.com\",\"region\":\"aws-us-east-1\",\"zone\":\"aws-us-east-1e\"}],\"id\":\"55698ab94382ec5f2c000125\",\"name\":\"55698ab94382ec5f2c000125\",\"scales_from\":1,\"scales_to\":-1}],\"messages\":[{\"exit_code\":0,\"field\":null,\"index\":null,\"severity\":\"info\",\"text\":\"Showing gear groups for application 'paasaltestappminproperties' with domain 'roecky'\"},{\"exit_code\":0,\"field\":null,\"index\":null,\"severity\":\"result\",\"text\":\"stopped\\n\"}],\"status\":\"ok\",\"supported_api_versions\":[1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7],\"type\":\"gear_groups\",\"version\":\"1.7\"}"},"http_version":null},"recorded_at":"Sat, 30 May 2015 10:28:39 GMT"},{"request":{"method":"post","uri":"https://openshift.redhat.com/broker/rest/application/55698ab94382ec5f2c000123/events","body":{"encoding":"UTF-8","string":"{\"event\":\"stop\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"4cf67e2700cf6619e9c164e57d5275f4\""], "ProxyTime":["D=1740228"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["__openshift-online:id__"]},"body":{"encoding":"UTF-8","string":"{\"api_version\":1[...]
[...]
{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/application/55698ab94382ec5f2c000123/deployments","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"30bb0c68b7827d4cc19b2c43a8fcc36d\""], "ProxyTime":["D=596708"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["__openshift-online:id__"]},"body":{"encoding":"UTF-8","string":"{\"api_version\":1.7,\"data\":[{\"activations\":[\"2015-05-30T10:03:38Z\"],\"created_at\":\"2015-05-30T10:02:40Z\",\"force_clean_build\":false,\"hot_deploy\":false,\"id\":\"514c0e52\",\"ref\":\"master\",\"sha1\":\"eac42a5\"},{\"activations\":[\"2015-05-30T10:22:29Z\",\"2015-05-30T10:27:14Z\"],\"created_at\":\"2015-05-30T10:21:59Z\",\"force_clean_build\":true,\"hot_deploy\":false,\"id\":\"813fba1a\",\"ref\":\"master\",\"sha1\":\"1d8cc86\"}],\"messages\":[{\"exit_code\":0,\"field\":null,\"index\":null,\"severity\":\"info\",\"text\":\"Listing deployments for application paasaltestappminproperties under domain roecky\"}],\"status\":\"ok\",\"supported_api_versions\":[1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7],\"type\":\"deployments\",\"version\":\"1.7\"}"},"http_version":null},"recorded_at":"Sat, 30 May 2015 10:28:51 GMT"}],"recorded_with":"VCR 2.9.3"}