{"http_interactions":[{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/user","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"9cce4cd6d7387a6cf19e8684074bfc6b\""], "ProxyTime":["D=594122"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["__openshift-online:id__"]},"body":{"encoding":"UTF-8","string":"{\"api_version\":1.7,\"data\":{\"capabilities\":{\"subaccounts\":false,\"gear_sizes\":[\"small\"],\"plan_upgrade_enabled\":true,\"view_global_teams\":false},\"consumed_gears\":3,\"created_at\":\"2014-10-09T06:16:06Z\",\"currency_cd\":null,\"email\":\"__openshift-online:user__\",\"id\":\"__openshift-online:id__\",\"links\":{\"ADD_KEY\":{\"href\":\"https://openshift.redhat.com/broker/rest/user/keys\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Add new SSH key\",\"required_params\":[{\"description\":\"Name of the key\",\"invalid_options\":[],\"name\":\"name\",\"type\":\"string\",\"valid_options\":[]},{\"description\":\"Type of Key\",\"invalid_options\":[],\"name\":\"type\",\"type\":\"string\",\"valid_options\":[\"ssh-rsa\",\"ssh-dss\",\"ssh-rsa-cert-v01@openssh.com\",\"ssh-dss-cert-v01@openssh.com\",\"ssh-rsa-cert-v00@openssh.com\",\"ssh-dss-cert-v00@openssh.com\"]},{\"description\":\"The key portion of an ssh key (excluding key type and comment)\",\"invalid_options\":[],\"name\":\"content\",\"type\":\"string\",\"valid_options\":[]}]},\"LIST_KEYS\":{\"href\":\"https://openshift.redhat.com/broker/rest/user/keys\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"List SSH keys\",\"required_params\":[]}},\"login\":\"__openshift-online:user__\",\"max_domains\":1,\"max_gears\":3,\"max_teams\":0,\"plan_expiration_date\":null,\"plan_id\":\"free\",\"plan_quantity\":1,\"plan_state\":\"ACTIVE\",\"usage_account_id\":null,\"usage_rates\":{\"prepaid\":false}},\"messages\":[],\"status\":\"ok\",\"supported_api_versions\":[1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7],\"type\":\"user\",\"version\":\"1.7\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 11:21:35 GMT"},{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/domains","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"78ee1f4b4be431697d6b73a099782421\""], "ProxyTime":["D=777596"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["__openshift-online:id__"]},"body":{"encoding":"UTF-8","string":"{\"api_version\":1.7,\"data\":[{\"allowed_gear_sizes\":[\"small\"],\"available_gears\":0,\"creation_time\":\"2014-10-09T06:18:53Z\",\"id\":\"543628cd4382ecf496000284\",\"links\":{\"GET\":{\"href\":\"https://openshift.redhat.com/broker/rest/domain/roecky\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"Get domain\",\"required_params\":[]},\"ADD_APPLICATION\":{\"href\":\"https://openshift.redhat.com/broker/rest/domain/roecky/applications\",\"method\":\"POST\",\"optional_params\":[{\"default_value\":null,\"description\":\"Array of one or more cartridge names\",\"name\":\"cartridges\",\"type\":\"array\",\"valid_options\":[]},{\"default_value\":false,\"description\":\"Mark application as scalable\",\"name\":\"scale\",\"type\":\"boolean\",\"valid_options\":[true,false]},{\"default_value\":\"small\",\"description\":\"The size of the gear\",\"name\":\"gear_size\",\"type\":\"string\",\"valid_options\":[\"small\"]},{\"default_value\":null,\"description\":\"A URL to a Git source code repository tha[...]
{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/domains/roecky/applications/paasaltestappallproperties","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"e37dd8486756c527a9b11f4ac67aeafb\""], "ProxyTime":["D=667185"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["__openshift-online:id__"]},"body":{"encoding":"UTF-8","string":"{\"api_version\":1.7,\"data\":{\"aliases\":[{\"certificate_added_at\":null,\"has_private_ssl_certificate\":false,\"id\":\"openshift-online.adomainthatishopefullynotusedontheplatform.de\",\"links\":{\"GET\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/558e80864382ec47f1000138/alias/openshift-online.adomainthatishopefullynotusedontheplatform.de\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"Get alias\",\"required_params\":[]},\"UPDATE\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/558e80864382ec47f1000138/alias/openshift-online.adomainthatishopefullynotusedontheplatform.de\",\"method\":\"PUT\",\"optional_params\":[{\"default_value\":null,\"description\":\"Optional passphrase for the private key\",\"name\":\"pass_phrase\",\"type\":\"string\",\"valid_options\":[]}],\"rel\":\"Update alias\",\"required_params\":[{\"description\":\"Content of SSL Certificate\",\"invalid_options\":[],\"name\":\"ssl_certificate\",\"type\":\"string\",\"valid_options\":[]},{\"description\":\"Private key for the certificate.  Required if adding a certificate\",\"invalid_options\":[],\"name\":\"private_key\",\"type\":\"string\",\"valid_options\":[]}]},\"DELETE\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/558e80864382ec47f1000138/alias/openshift-online.adomainthatishopefullynotusedontheplatform.de\",\"method\":\"DELETE\",\"optional_params\":[],\"rel\":\"Delete alias\",\"required_params\":[]}}},{\"certificate_added_at\":null,\"has_private_ssl_certificate\":false,\"id\":\"adomainthatishopefullynotusedontheplatform.de\",\"links\":{\"GET\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/558e80864382ec47f1000138/alias/ad[...]
{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/application/558e80864382ec47f1000138","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"e37dd8486756c527a9b11f4ac67aeafb\""], "ProxyTime":["D=769231"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity[...]
{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/application/558e80864382ec47f1000138/deployments","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"4092494a128d9a1a66ccb081acbfabc1\""], "ProxyTime":["D=877413"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["__openshift-online:id__"]},"body":{"encoding":"UTF-8","string":"{\"api_version\":1.7,\"data\":[{\"activations\":[\"2015-06-27T10:56:43Z\"],\"created_at\":\"2015-06-27T10:53:10Z\",\"force_clean_build\":false,\"hot_deploy\":false,\"id\":\"a1b1f3fb\",\"ref\":\"master\",\"sha1\":\"bb912dd\"},{\"activations\":[\"2015-06-27T11:15:49Z\",\"2015-06-27T11:18:32Z\"],\"created_at\":\"2015-06-27T11:14:38Z\",\"force_clean_build\":true,\"hot_deploy\":false,\"id\":\"898bddaa\",\"ref\":\"master\",\"sha1\":\"b1fd62c\"}],\"messages\":[{\"exit_code\":0,\"field\":null,\"index\":null,\"severity\":\"info\",\"text\":\"Listing deployments for application paasaltestappallproperties under domain roecky\"}],\"status\":\"ok\",\"supported_api_versions\":[1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7],\"type\":\"deployments\",\"version\":\"1.7\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 11:21:41 GMT"},{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/application/558e80864382ec47f1000138/gear_groups","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"daa728e68eab49020c86d84241dc0248\""], "ProxyTime":["D=924870"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["__openshift-online:id__"]},"body":{"encoding":"UTF-8","string":"{\"api_version\":1.7,\"data\":[{\"additional_gear_storage\":0,\"base_gear_storage\":1,\"cartridges\":[{\"name\":\"haproxy-1.4\",\"display_name\":\"Web Load Balancer\",\"tags\":[\"web_proxy\",\"scales\",\"embedded\"]},{\"name\":\"nodejs-0.10\",\"display_name\":\"Node.js 0.10\",\"tags\":[\"service\",\"javascript\",\"nodejs\",\"web_framework\"]}],\"gear_profile\":\"small\",\"gears\":[{\"id\":\"558e80864382ec47f1000138\",\"state\":\"stopped\",\"ssh_url\":\"ssh://558e80864382ec47f1000138@paasaltestappallproperties-roecky.rhcloud.com\",\"region\":\"aws-us-east-1\",\"zone\":\"aws-us-east-1b\"}],\"id\":\"558e80864382ec47f100013a\",\"name\":\"558e80864382ec47f100013a\",\"scales_from\":1,\"scales_to\":-1},{\"additional_gear_storage\":0,\"base_gear_storage\":1,\"cartridges\":[{\"connection_url\":\"mongodb://$OPENSHIFT_MONGODB_DB_HOST:$OPENSHIFT_MONGODB_DB_PORT/\",\"username\":\"admin\",\"password\":\"AHaEUm1iAhQi\",\"database_name\":\"paasaltestappallproperties\",\"name\":\"mongodb-2.4\",\"display_name\":\"MongoDB 2.4\",\"tags\":[\"service\",\"database\",\"nosql\",\"embedded\"]}],\"gear_profile\":\"small\",\"gears\":[{\"id\":\"558e83eb5004464795000044\",\"state\":\"stopped\",\"ssh_url\":\"ssh://558e83eb5004464795000044@558e83eb5004464795000044-roecky.rhcloud.com\",\"region\":\"aws-us-east-1\",\"zone\":\"aws-us-east-1e\"}],\"id\":\"558e83eb5004464795000045\",\"name\":\"558e83eb5004464795000045\",\"scales_from\":1,\"scales_to\":1}],\"messages\":[{\"exit_code\":0,\"field\":null,\"index\":null,\"severity\":\"info\",\"text\":\"Showing gear groups for application 'paasaltestappallproperties' with domain 'roecky'\"},{\"exit_code\":0,\"field\":null,\"index\":null,\"severity\":\"result\",\"text\":\"stopped\\nstopped\\n\"}],\"status\":\"ok\",\"supported_api_versions\":[1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7],\"type\":\"gear_groups\",\"version\":\"1.7\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 11:21:42 GMT"},{"request":{"method":"post","uri":"https://openshift.redhat.com/broker/rest/application/558e80864382ec47f1000138/events","body":{"encoding":"UTF-8","string":"{\"event\":\"stop\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"8a0d681d31b649700161c020c6f64cec\""], "ProxyTime":["D=3769713"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["__openshift-online:id__"]},"body":{"encoding":"UTF-8","string":"{\"api_version\":1[...]
[...]
{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/application/558e80864382ec47f1000138/deployments","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"4092494a128d9a1a66ccb081acbfabc1\""], "ProxyTime":["D=1296995"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["__openshift-online:id__"]},"body":{"encoding":"UTF-8","string":"{\"api_version\":1.7,\"data\":[{\"activations\":[\"2015-06-27T10:56:43Z\"],\"created_at\":\"2015-06-27T10:53:10Z\",\"force_clean_build\":false,\"hot_deploy\":false,\"id\":\"a1b1f3fb\",\"ref\":\"master\",\"sha1\":\"bb912dd\"},{\"activations\":[\"2015-06-27T11:15:49Z\",\"2015-06-27T11:18:32Z\"],\"created_at\":\"2015-06-27T11:14:38Z\",\"force_clean_build\":true,\"hot_deploy\":false,\"id\":\"898bddaa\",\"ref\":\"master\",\"sha1\":\"b1fd62c\"}],\"messages\":[{\"exit_code\":0,\"field\":null,\"index\":null,\"severity\":\"info\",\"text\":\"Listing deployments for application paasaltestappallproperties under domain roecky\"}],\"status\":\"ok\",\"supported_api_versions\":[1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7],\"type\":\"deployments\",\"version\":\"1.7\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 11:21:59 GMT"}],"recorded_with":"VCR 2.9.3"}