{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?password=__heroku:password__&username=__heroku:user__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":false,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/10/08 04:22:08 -0700\",\"created_at\":\"2014/10/08 04:22:08 -0700\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/10/23 02:44:13 -0700\",\"name\":\"stfnklb\",\"updated_at\":\"2015/10/23 02:49:43 -0700\",\"verified\":true,\"verified_at\":\"2015/10/23 02:45:30 -0700\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:04:23 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/nucleus-app-all-updated/domains","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["hostname adomainthatishopefullynotusedontheplatform.de..nucleus-app-all-updated.herokuapp.com"], "Content-Type":["application/json"], "ETag":["\"5004b323099097c066515aaf470be4f2\""], "Last-Modified":["Fri, 23 Oct 2015 10:03:36 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4494"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"[{\"app\":{\"id\":\"11e97ded-c274-4bc9-aa9e-e95cf479e46d\",\"name\":\"nucleus-app-all-updated\"},\"cname\":\"nucleus-app-all-updated.herokuapp.com\",\"created_at\":\"2015-10-23T10:03:36Z\",\"hostname\":\"adomainthatishopefullynotusedontheplatform.de\",\"id\":\"4f14074c-9789-41b0-9605-d479b0f6bc3e\",\"kind\":\"custom\",\"updated_at\":\"2015-10-23T10:03:36Z\"},{\"app\":{\"id\":\"11e97ded-c274-4bc9-aa9e-e95cf479e46d\",\"name\":\"nucleus-app-all-updated\"},\"cname\":\"nucleus-app-all-updated.herokuapp.com\",\"created_at\":\"2015-10-23T10:03:29Z\",\"hostname\":\"heroku.adomainthatishopefullynotusedontheplatform.de\",\"id\":\"20f32bcc-10be-4239-a936-0b19b5ec7e27\",\"kind\":\"custom\",\"updated_at\":\"2015-10-23T10:03:29Z\"},{\"app\":{\"id\":\"11e97ded-c274-4bc9-aa9e-e95cf479e46d\",\"name\":\"nucleus-app-all-updated\"},\"cname\":null,\"created_at\":\"2015-10-23T09:55:17Z\",\"hostname\":\"nucleus-app-all-updated.herokuapp.com\",\"id\":\"8ccdded2-1ec0-4a08-9bea-b45eed66a163\",\"kind\":\"heroku\",\"updated_at\":\"2015-10-23T09:55:17Z\"}]"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:04:24 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/nucleus-app-all-updated/domains/4f14074c-9789-41b0-9605-d479b0f6bc3e","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"b6d0a4dd8c9da96c2de725e2fee8ac8e\""], "Last-Modified":["Fri, 23 Oct 2015 10:03:36 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4493"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"{\"app\":{\"id\":\"11e97ded-c274-4bc9-aa9e-e95cf479e46d\",\"name\":\"nucleus-app-all-updated\"},\"cname\":\"nucleus-app-all-updated.herokuapp.com\",\"created_at\":\"2015-10-23T10:03:36Z\",\"hostname\":\"adomainthatishopefullynotusedontheplatform.de\",\"id\":\"4f14074c-9789-41b0-9605-d479b0f6bc3e\",\"kind\":\"custom\",\"updated_at\":\"2015-10-23T10:03:36Z\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:04:27 GMT"}],"recorded_with":"VCR 2.9.3"}