{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["758e2b85-319e-4e2e-63f8-9c5bd6088cc2"], "X-Vcap-Request-Id":["9e865e47-da30-4145-5b68-a596c27ec3bc::9b75fdfb-8fad-4768-99cf-85280521bbbb"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:42 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["e9a39e10-7a4b-49bf-5db2-b313a95be98b, cb4a51c8-0e42-40b8-5a65-ddf292cfbbf9"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"0e484a78-b8e6-48f9-814d-4404d23611ba\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:42 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["b166c25b-1ba1-4b6a-7e97-4fd0b2350e07"], "X-Vcap-Request-Id":["8ddd70d9-d679-4010-406c-a9f91b2ec7aa::92147f96-6fe5-4b4b-9efa-15afe90b3a07"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"03a567ca-5b77-4b7c-a73a-a008ca5dad17\",\n        \"url\": \"/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17\",\n        \"created_at\": \"2015-05-14T06:39:23+00:00\",\n        \"updated_at\": \"2015-05-14T06:39:41+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_updated_test_var_value\",\n          \"our_test_var_key2\": \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"3b85cc52-10a3-4d48-aeac-ac9cb895167f\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": null,\n        \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17/events\",\n        \"service_bindings_url\": \"/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17/service_bindings\",\n        \"routes_url\": \"/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:42 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["36088285-007a-4f50-471c-f41e4ffc7477"], "X-Vcap-Request-Id":["85d7883f-8d08-48cd-4232-f497d2e58484::44114479-938b-4eb6-a2d8-5d10ed686783"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 3,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"ae10e852-60a4-4ad2-b452-82beb14b6f03\",\n        \"url\": \"/v2/routes/ae10e852-60a4-4ad2-b452-82beb14b6f03\",\n        \"created_at\": \"2015-05-14T06:39:23+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"03a567ca-5b77-4b7c-a73a-a008ca5dad17\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/ae10e852-60a4-4ad2-b452-82beb14b6f03/apps\"\n      }\n    },\n    {\n      \"metadata\": {\n        \"guid\": \"42d1a5d7-49e3-45fb-a37b-61708056d3c3\",\n        \"url\": \"/v2/routes/42d1a5d7-49e3-45fb-a37b-61708056d3c3\",\n        \"created_at\": \"2015-05-14T06:39:40+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"cf-bosh-local\",\n        \"domain_guid\": \"37076f61-480e-4dc3-b301-5b8c8934ce4d\",\n        \"space_guid\": \"d3483f4f-6706[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["a56511ec-e645-4300-604a-650800b103a9"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["1b642af8-8966-4438-6ea5-c2c3631ba340::d4754af0-660a-4c34-8e71-52f4b4f2efe0"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:42 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/37076f61-480e-4dc3-b301-5b8c8934ce4d","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["9e016f4b-e3ea-44e1-54ad-87c1a9046748"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["df601864-3f4b-48a6-6445-962979af2c8b::3a4565d8-9bc5-46dd-a693-8f09e1e0ae00"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"37076f61-480e-4dc3-b301-5b8c8934ce4d\",\n    \"url\": \"/v2/domains/37076f61-480e-4dc3-b301-5b8c8934ce4d\",\n    \"created_at\": \"2015-04-20T09:21:15+00:00\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"name\": \"adomainthatishopefullynotusedontheplatform.de\",\n    \"owning_organization_guid\": \"d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n    \"owning_organization_url\": \"/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n    \"spaces_url\": \"/v2/domains/37076f61-480e-4dc3-b301-5b8c8934ce4d/spaces\"\n  }\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:42 GMT"},[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/37076f61-480e-4dc3-b301-5b8c8934ce4d","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["32f1dbc4-72fe-48ca-67b5-11f233c35a29"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["addce958-ea2e-42e8-6975-f7f14cca825f::d1a75196-817b-465e-8744-1fd9e15466e5"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"37076f61-480e-4dc3-b301-5b8c8934ce4d\",\n    \"url\": \"/v2/domains/37076f61-480e-4dc3-b301-5b8c8934ce4d\",\n    \"created_at\": \"2015-04-20T09:21:15+00:00\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"name\": \"adomainthatishopefullynotusedontheplatform.de\",\n    \"owning_organization_guid\": \"d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n    \"owning_organization_url\": \"/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n    \"spaces_url\": \"/v2/domains/37076f61-480e-4dc3-b301-5b8c8934ce4d/spaces\"\n  }\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:42 GMT"}],"recorded_with":"VCR 2.9.3"}