{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["124e939d-376a-4c39-646f-d0d6323e62ae"], "X-Vcap-Request-Id":["354e50ba-8aef-401e-4d34-f5e3752adf3c::0192b6a2-66e3-4213-adbb-18da4db86747"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:44:12 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["eb5efb38-552c-42f0-4d96-0486015b745c, 2d26e262-4553-40c1-5834-f50806e1b950"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"79938321-6d2d-4513-9316-1f2987d693ee\"}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:44:12 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["419609b3-e894-4065-5574-d3e23bbd4461"], "X-Vcap-Request-Id":["8a929da7-14ef-4cfd-6df1-b9e3cfd657cf::a787c3dc-5829-4212-ba13-fda1d3fc8d78"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"9522777b-2037-49ff-841e-63f0f187c6ab\",\n        \"url\": \"/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab\",\n        \"created_at\": \"2015-07-28T12:43:53+00:00\",\n        \"updated_at\": \"2015-07-28T12:44:11+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_updated_test_var_value\",\n          \"our_test_var_key2\": \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"3e6f30a9-e66a-4e24-a399-377aa60a2a2a\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": null,\n        \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab/events\",\n        \"service_bindings_url\": \"/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab/service_bindings\",\n        \"routes_url\": \"/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:44:12 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["0d0525eb-07ac-4cca-601a-54a1e2a422bf"], "X-Vcap-Request-Id":["2ac164b5-a03d-4265-7c9a-5df104002712::b690c822-4860-4484-add9-38bf960ff607"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 3,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"f0b2b33a-7206-48fb-9c9e-01a9bb261c85\",\n        \"url\": \"/v2/routes/f0b2b33a-7206-48fb-9c9e-01a9bb261c85\",\n        \"created_at\": \"2015-07-28T12:43:53+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"9522777b-2037-49ff-841e-63f0f187c6ab\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/f0b2b33a-7206-48fb-9c9e-01a9bb261c85/apps\"\n      }\n    },\n    {\n      \"metadata\": {\n        \"guid\": \"edd468d2-59e4-4aa4-ae7e-02d2573887d4\",\n        \"url\": \"/v2/routes/edd468d2-59e4-4aa4-ae7e-02d2573887d4\",\n        \"created_at\": \"2015-07-28T12:44:11+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"cf-bosh-local\",\n        \"domain_guid\": \"37076f61-480e-4dc3-b301-5b8c8934ce4d\",\n        \"space_guid\": \"d3483f4f-6706[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["05c879f6-3800-45cd-45e1-1a8d1ee62330"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["3c3ed1c4-0dfd-496d-7e75-40116711c53d::727d344d-b913-4b67-97ef-6cee316da353"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:44:12 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/37076f61-480e-4dc3-b301-5b8c8934ce4d","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["dea44d57-17f1-426d-5e3a-413ed05931bb"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["a60a2bb4-4f0c-4340-5834-e73a2ebedd7e::ca6c2839-90e1-47f4-ab48-2943f3924edd"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"37076f61-480e-4dc3-b301-5b8c8934ce4d\",\n    \"url\": \"/v2/domains/37076f61-480e-4dc3-b301-5b8c8934ce4d\",\n    \"created_at\": \"2015-04-20T09:21:15+00:00\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"name\": \"adomainthatishopefullynotusedontheplatform.de\",\n    \"owning_organization_guid\": \"d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n    \"owning_organization_url\": \"/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n    \"spaces_url\": \"/v2/domains/37076f61-480e-4dc3-b301-5b8c8934ce4d/spaces\"\n  }\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:44:12 GMT"},[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/37076f61-480e-4dc3-b301-5b8c8934ce4d","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["5708a185-f3cf-48e4-4076-3a45f668429d"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["21fc0601-52f9-4aaa-6193-dc18bc27b416::9516fd5b-22b2-4a4d-91fb-3c44f1c65278"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"37076f61-480e-4dc3-b301-5b8c8934ce4d\",\n    \"url\": \"/v2/domains/37076f61-480e-4dc3-b301-5b8c8934ce4d\",\n    \"created_at\": \"2015-04-20T09:21:15+00:00\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"name\": \"adomainthatishopefullynotusedontheplatform.de\",\n    \"owning_organization_guid\": \"d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n    \"owning_organization_url\": \"/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n    \"spaces_url\": \"/v2/domains/37076f61-480e-4dc3-b301-5b8c8934ce4d/spaces\"\n  }\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:44:12 GMT"}],"recorded_with":"VCR 2.9.3"}