{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/04/28 12:55:45 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:45:17 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["name paasal..paasal-test-app-min-properties"], "Content-Type":["application/json"], "ETag":["\"fa82248bf1f4fb88bdfefc1c80008f67\""], "Last-Modified":["Thu, 14 May 2015 06:44:20 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2317"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"archived_at\":null,\"buildpack_provided_description\":\"Ruby\",\"build_stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"created_at\":\"2015-03-19T18:11:52Z\",\"id\":\"e0946358-8ab4-45c5-ab5a-9ee67e937318\",\"git_url\":\"git@heroku.com:paasal.git\",\"maintenance\":false,\"name\":\"paasal\",\"owner\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"region\":{\"id\":\"ed30241c-ed8c-4bb6-9714-61953675d0b4\",\"name\":\"eu\"},\"released_at\":\"2015-04-22T09:54:43Z\",\"repo_size\":null,\"slug_size\":68190645,\"stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"updated_at\":\"2015-05-09T10:56:08Z\",\"web_url\":\"https://paasal.herokuapp.com/\"},{\"archived_at\":null,\"buildpack_provided_description\":null,\"build_stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"created_at\":\"2015-05-14T06:43:58Z\",\"id\":\"1f35201d-1363-4ac1-9b8a-db35bf92e698\",\"git_url\":\"git@heroku.com:paasal-test-app-all-properties.git\",\"maintenance\":false,\"name\":\"paasal-test-app-all-properties\",\"owner\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"region\":{\"id\":\"59accab[...]
{"request":{"method":"get","uri":"https://api.heroku.com/apps/e0946358-8ab4-45c5-ab5a-9ee67e937318/dynos","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"ec5c5ae13434766108b9afb9a42e6364\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2316"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:45:19 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/e0946358-8ab4-45c5-ab5a-9ee67e937318/formation","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"2e7a5ae965596b223912ffe9bd497fa3\""], "Last-Modified":["Sat, 09 May 2015 10:56:08 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2315"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"command\":\"bundle exec rackup -s thin -p $PORT config.ru\",\"created_at\":\"2015-03-19T18:44:14Z\",\"id\":\"93c51887-9c75-4623-83f4-d84bafe07fd9\",\"type\":\"web\",\"quantity\":0,\"size\":\"Free\",\"updated_at\":\"2015-05-09T10:56:08Z\"},{\"command\":\"bundle exec irb\",\"created_at\":\"2015-03-19T18:44:14Z\",\"id\":\"e48db900-d203-4f1f-886f-c7ffae1ae73f\",\"type\":\"console\",\"quantity\":0,\"size\":\"Free\",\"updated_at\":\"2015-05-09T10:56:08Z\"},{\"command\":\"bundle exec rake\",\"created_at\":\"2015-03-19T18:44:14Z\",\"id\":\"9ae7daeb-13fe-41a9-9625-867effaec2c4\",\"type\":\"rake\",\"quantity\":0,\"size\":\"Free\",\"updated_at\":\"2015-05-09T10:56:08Z\"}]"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:45:19 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/e0946358-8ab4-45c5-ab5a-9ee67e937318/buildpack-installations","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2314"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:45:20 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/e0946358-8ab4-45c5-ab5a-9ee67e937318/releases","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["version 1..8"], "Content-Type":["application/json"], "ETag":["\"12dcbead5abfded0ff00934bf0a163be\""], "Last-Modified":["Wed, 22 Apr 2015 09:54:43 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read-protected write-protected"], "RateLimit-Remaining":["2313"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"app\":{\"id\":\"e0946358-8ab4-45c5-ab5a-9ee67e937318\",\"name\":\"paasal\"},\"created_at\":\"2015-03-19T18:11:52Z\",\"description\":\"Initial release\",\"id\":\"f4303f02-ab74-4dcc-bdd5-34ecd1c691ca\",\"slug\":null,\"updated_at\":\"2015-03-19T18:11:52Z\",\"user\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"version\":1},{\"app\":{\"id\":\"e0946358-8ab4-45c5-ab5a-9ee67e937318\",\"name\":\"paasal\"},\"created_at\":\"2015-03-19T18:11:53Z\",\"description\":\"Enable Logplex\",\"id\":\"0999f0e3-2420-49ef-92c6-3b7983dc1027\",\"slug\":null,\"updated_at\":\"2015-03-19T18:11:53Z\",\"user\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"version\":2},{\"app\":{\"id\":\"e0946358-8ab4-45c5-ab5a-9ee67e937318\",\"name\":\"paasal\"},\"created_at\":\"2015-03-19T18:44:13Z\",\"description\":\"Set LANG, RACK_ENV conf[...]
[...]
{"request":{"method":"get","uri":"https://api.heroku.com/apps/1f35201d-1363-4ac1-9b8a-db35bf92e698/buildpack-installations","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["ordinal 0..0"], "Content-Type":["application/json"], "ETag":["\"87d7b85882f94ae872184eafce30ccd8\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2310"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"buildpack\":{\"url\":\"https://github.com/heroku/heroku-buildpack-nodejs\"},\"ordinal\":0}]"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:45:22 GMT"},[...]
{"request":{"method":"get","uri":"https://api.heroku.com/apps/b081fb34-82db-48a5-a995-523e6b975e8e/releases","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["version 1..2"], "Content-Type":["application/json"], "ETag":["\"27ed045faf17b25862629e8968b7cd83\""], "Last-Modified":["Thu, 14 May 2015 06:44:19 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read-protected write-protected"], "RateLimit-Remaining":["2305"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"app\":{\"id\":\"b081fb34-82db-48a5-a995-523e6b975e8e\",\"name\":\"paasal-test-app-min-properties\"},\"created_at\":\"2015-05-14T06:44:19Z\",\"description\":\"Initial release\",\"id\":\"123f1c25-a270-459c-9c43-d97ebd38c805\",\"slug\":null,\"updated_at\":\"2015-05-14T06:44:19Z\",\"user\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"version\":1},{\"app\":{\"id\":\"b081fb34-82db-48a5-a995-523e6b975e8e\",\"name\":\"paasal-test-app-min-properties\"},\"created_at\":\"2015-05-14T06:44:19Z\",\"description\":\"Enable Logplex\",\"id\":\"18c4f8b2-fc0f-42ab-9737-a951dbd3b115\",\"slug\":null,\"updated_at\":\"2015-05-14T06:44:19Z\",\"user\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"version\":2}]"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:45:25 GMT"}],"recorded_with":"VCR 2.9.3"}