{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?password=__heroku:password__&username=__heroku:user__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":false,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/10/08 04:22:08 -0700\",\"created_at\":\"2014/10/08 04:22:08 -0700\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/10/23 02:44:13 -0700\",\"name\":\"stfnklb\",\"updated_at\":\"2015/10/23 02:49:43 -0700\",\"verified\":true,\"verified_at\":\"2015/10/23 02:45:30 -0700\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 09:55:00 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["name nucleus-app-all-properties..nucleus-app-min-properties"], "Content-Type":["application/json"], "ETag":["\"4698fdf7ea65602eb5c2e10627a7668b\""], "Last-Modified":["Fri, 23 Oct 2015 09:53:06 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4494"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"[{\"archived_at\":null,\"buildpack_provided_description\":null,\"build_stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"created_at\":\"2015-10-23T09:52:31Z\",\"id\":\"11e97ded-c274-4bc9-aa9e-e95cf479e46d\",\"git_url\":\"git@heroku.com:nucleus-app-all-properties.git\",\"maintenance\":false,\"name\":\"nucleus-app-all-properties\",\"owner\":{\"email\":\"__heroku:user__\",\"id\":\"6118a9d1-36ba-482e-8299-449000a2d46d\"},\"region\":{\"id\":\"59accabd-516d-4f0e-83e6-6e3757701145\",\"name\":\"us\"},\"released_at\":\"2015-10-23T09:52:33Z\",\"repo_size\":null,\"slug_size\":null,\"stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"updated_at\":\"2015-10-23T09:52:33Z\",\"web_url\":\"https://nucleus-app-all-properties.herokuapp.com/\",\"process_tier\":\"free\"},{\"archived_at\":null,\"buildpack_provided_description\":null,\"build_stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"created_at\":\"2015-10-23T09:53:04Z\",\"id\":\"96c4ac2e-0691-47f0-b80d-173bd529ee3f\",\"git_url\":\"git@heroku.com:nucleus-app-min-properties.git\",\"maintenance\":false,\"name\":\"nucleus-app-min-properties\",\"owner\":{\"email\":\"__heroku:user__\",\"id\":\"6118a9d1-36ba-482e-8299-449000a2d46d\"},\"region\":{\"id\":\"59accabd-516d-4f0e-83e6-6e3757701145\",\"name\":\"us\"},\"released_at\":\"2015-10-23T09:53:05Z\",\"repo_size\":null,\"slug_size\":null,\"stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"updated_at\":\"2015-10-23T09:53:06Z\",\"web_url\":\"https://nucleus-app-min-properties.herokuapp.com/\",\"process_tier\":\"free\"}]"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 09:55:01 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/11e97ded-c274-4bc9-aa9e-e95cf479e46d/dynos","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"ec5c5ae13434766108b9afb9a42e6364\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4493"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"[]"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 09:55:02 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/11e97ded-c274-4bc9-aa9e-e95cf479e46d/formation","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"e14303d95feb73831d4c6cf99ad56d19\""], "Last-Modified":["Fri, 23 Oct 2015 09:52:33 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4492"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"[]"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 09:55:03 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/11e97ded-c274-4bc9-aa9e-e95cf479e46d/buildpack-installations","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["ordinal 0..0"], "Content-Type":["application/json"], "ETag":["\"87d7b85882f94ae872184eafce30ccd8\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read-protected write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4491"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"[{\"buildpack\":{\"url\":\"https://github.com/heroku/heroku-buildpack-nodejs\",\"name\":\"https://github.com/heroku/heroku-buildpack-nodejs\"},\"ordinal\":0}]"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 09:55:04 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/11e97ded-c274-4bc9-aa9e-e95cf479e46d/releases","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["version 1..2"], "Content-Type":["application/json"], "ETag":["\"4d9a4042c8643307d40007e4f2f42b3e\""], "Last-Modified":["Fri, 23 Oct 2015 09:52:33 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read-protected write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4490"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"[{\"app\":{\"id\":\"11e97ded-c274-4bc9-aa9e-e95cf479e46d\",\"name\":\"nucleus-app-all-properties\"},\"created_at\":\"2015-10-23T09:52:31Z\",\"description\":\"Initial release\",\"id\":\"6f8f9e56-1b15-4227-a0d7-8f92ca914f7d\",\"slug\":null,\"updated_at\":\"2015-10-23T09:52:31Z\",\"user\":{\"email\":\"__heroku:user__\",\"id\":\"6118a9d1-36ba-482e-8299-449000a2d46d\"},\"version\":1},{\"app\":{\"id\":\"11e97ded-c274-4bc9-aa9e-e95cf479e46d\",\"name\":\"nucleus-app-all-properties\"},\"created_at\":\"2015-10-23T09:52:33Z\",\"description\":\"Enable Logplex\",\"id\":\"743a7f1d-abd9-4525-adef-08ebe519eb2f\",\"slug\":null,\"updated_at\":\"2015-10-23T09:52:33Z\",\"user\":{\"email\":\"__heroku:user__\",\"id\":\"6118a9d1-36ba-482e-8299-449000a2d46d\"},\"version\":2}]"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 09:55:05 GMT"},[...]
