{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/04/23 23:26:34 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 07:26:25 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["name paasal..paasal-test-app-min-properties"], "Content-Type":["application/json"], "ETag":["\"035c265f25a25dfabe02f866714b5d5a\""], "Last-Modified":["Fri, 24 Apr 2015 07:25:19 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2338"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"archived_at\":null,\"buildpack_provided_description\":\"Ruby\",\"build_stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"created_at\":\"2015-03-19T18:11:52Z\",\"id\":\"e0946358-8ab4-45c5-ab5a-9ee67e937318\",\"git_url\":\"git@heroku.com:paasal.git\",\"maintenance\":false,\"name\":\"paasal\",\"owner\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"region\":{\"id\":\"ed30241c-ed8c-4bb6-9714-61953675d0b4\",\"name\":\"eu\"},\"released_at\":\"2015-04-22T09:54:43Z\",\"repo_size\":null,\"slug_size\":68190645,\"stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"updated_at\":\"2015-04-23T10:08:28Z\",\"web_url\":\"https://paasal.herokuapp.com/\"},{\"archived_at\":null,\"buildpack_provided_description\":null,\"build_stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"created_at\":\"2015-04-24T07:24:55Z\",\"id\":\"d449a2b1-4b0a-4d78-a1d9-0eb08e7ae8d6\",\"git_url\":\"git@heroku.com:paasal-test-app-all-properties.git\",\"maintenance\":false,\"name\":\"paasal-test-app-all-properties\",\"owner\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"region\":{\"id\":\"59accab[...]
{"request":{"method":"get","uri":"https://api.heroku.com/apps/e0946358-8ab4-45c5-ab5a-9ee67e937318/dynos","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"ec5c5ae13434766108b9afb9a42e6364\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2337"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 07:26:28 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/e0946358-8ab4-45c5-ab5a-9ee67e937318/formation","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"94cfff857acc1d976cb2c798d161732f\""], "Last-Modified":["Thu, 23 Apr 2015 10:08:28 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2336"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"command\":\"bundle exec rackup -s thin -p $PORT config.ru\",\"created_at\":\"2015-03-19T18:44:14Z\",\"id\":\"93c51887-9c75-4623-83f4-d84bafe07fd9\",\"type\":\"web\",\"quantity\":0,\"size\":\"1X\",\"updated_at\":\"2015-04-23T10:08:28Z\"},{\"command\":\"bundle exec irb\",\"created_at\":\"2015-03-19T18:44:14Z\",\"id\":\"e48db900-d203-4f1f-886f-c7ffae1ae73f\",\"type\":\"console\",\"quantity\":0,\"size\":\"1X\",\"updated_at\":\"2015-03-19T18:44:14Z\"},{\"command\":\"bundle exec rake\",\"created_at\":\"2015-03-19T18:44:14Z\",\"id\":\"9ae7daeb-13fe-41a9-9625-867effaec2c4\",\"type\":\"rake\",\"quantity\":0,\"size\":\"1X\",\"updated_at\":\"2015-03-19T18:44:14Z\"}]"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 07:26:29 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/e0946358-8ab4-45c5-ab5a-9ee67e937318/buildpack-installations","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2335"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 07:26:30 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/e0946358-8ab4-45c5-ab5a-9ee67e937318/releases","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["version 1..8"], "Content-Type":["application/json"], "ETag":["\"12dcbead5abfded0ff00934bf0a163be\""], "Last-Modified":["Wed, 22 Apr 2015 09:54:43 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read-protected write-protected"], "RateLimit-Remaining":["2334"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"app\":{\"id\":\"e0946358-8ab4-45c5-ab5a-9ee67e937318\",\"name\":\"paasal\"},\"created_at\":\"2015-03-19T18:11:52Z\",\"description\":\"Initial release\",\"id\":\"f4303f02-ab74-4dcc-bdd5-34ecd1c691ca\",\"slug\":null,\"updated_at\":\"2015-03-19T18:11:52Z\",\"user\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"version\":1},{\"app\":{\"id\":\"e0946358-8ab4-45c5-ab5a-9ee67e937318\",\"name\":\"paasal\"},\"created_at\":\"2015-03-19T18:11:53Z\",\"description\":\"Enable Logplex\",\"id\":\"0999f0e3-2420-49ef-92c6-3b7983dc1027\",\"slug\":null,\"updated_at\":\"2015-03-19T18:11:53Z\",\"user\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"version\":2},{\"app\":{\"id\":\"e0946358-8ab4-45c5-ab5a-9ee67e937318\",\"name\":\"paasal\"},\"created_at\":\"2015-03-19T18:44:13Z\",\"description\":\"Set LANG, RACK_ENV conf[...]
[...]
{"request":{"method":"get","uri":"https://api.heroku.com/apps/d449a2b1-4b0a-4d78-a1d9-0eb08e7ae8d6/buildpack-installations","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["ordinal 0..0"], "Content-Type":["application/json"], "ETag":["\"87d7b85882f94ae872184eafce30ccd8\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2331"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"buildpack\":{\"url\":\"https://github.com/heroku/heroku-buildpack-nodejs\"},\"ordinal\":0}]"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 07:26:34 GMT"},[...]
{"request":{"method":"get","uri":"https://api.heroku.com/apps/6d2bd8b3-7f67-4892-bcad-ccfb6da4f947/releases","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["version 1..2"], "Content-Type":["application/json"], "ETag":["\"9c91fc4283a91a43f36e9bba217a3047\""], "Last-Modified":["Fri, 24 Apr 2015 07:25:18 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read-protected write-protected"], "RateLimit-Remaining":["2326"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"app\":{\"id\":\"6d2bd8b3-7f67-4892-bcad-ccfb6da4f947\",\"name\":\"paasal-test-app-min-properties\"},\"created_at\":\"2015-04-24T07:25:18Z\",\"description\":\"Initial release\",\"id\":\"ae13dd4f-d7af-447b-9a4d-531c432374de\",\"slug\":null,\"updated_at\":\"2015-04-24T07:25:18Z\",\"user\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"version\":1},{\"app\":{\"id\":\"6d2bd8b3-7f67-4892-bcad-ccfb6da4f947\",\"name\":\"paasal-test-app-min-properties\"},\"created_at\":\"2015-04-24T07:25:18Z\",\"description\":\"Enable Logplex\",\"id\":\"7f0a0b91-c86a-4f5b-bf85-4a7a1d942263\",\"slug\":null,\"updated_at\":\"2015-04-24T07:25:18Z\",\"user\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"version\":2}]"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 07:26:39 GMT"}],"recorded_with":"VCR 2.9.3"}