---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - c7984e0d-beb1-42ea-55a4-722bcc429dae
      X-Vcap-Request-Id:
      - efe96198-5e1c-4644-7a30-efc0b2bbe456::148de55f-569d-4b09-8087-4bc1d7033632
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Thu, 19 Mar 2015 16:35:14 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - fce52d15-4141-4100-551b-b6adc61da967, fc2bbef1-aea8-421c-4000-35fbbfc2b0c3
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"093e9708-0345-46b3-b539-4253ceba6027"}'
  recorded_at: Thu, 19 Mar 2015 16:35:15 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 42bf1886-026a-41c9-47f5-f17014cf4bdd
      X-Vcap-Request-Id:
      - 7ce40a3d-abba-4f8f-563b-2f5239a6d339::44d8368a-c60d-4b3e-8b0a-948ab15b6dee
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "3e847486-eb74-4210-9f99-cc1c2a2650ef",
                "url": "/v2/apps/3e847486-eb74-4210-9f99-cc1c2a2650ef",
                "created_at": "2015-03-19T16:33:07+00:00",
                "updated_at": "2015-03-19T16:35:13+00:00"
              },
              "entity": {
                "name": "paasal-test-app-min-updated",
                "production": false,
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
                "buildpack": "nodejs_buildpack",
                "detected_buildpack": null,
                "environment_json": {
                  "our_test_var_key": "our_test_var_value"
                },
                "memory": 256,
                "instances": 1,
                "disk_quota": 1024,
                "state": "STARTED",
                "version": "48ef8a2d-53c9-4ad2-89e0-20ce2de22a54",
                "command": null,
                "console": false,
                "debug": null,
                "staging_task_id": "5b443067892d4b8e840ea4a44e9507e4",
                "package_state": "STAGED",
                "health_check_timeout": null,
                "staging_failed_reason": null,
                "docker_image": null,
                "package_updated_at": "2015-03-19T16:33:52+00:00",
                "detected_start_command": "node server.js",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
                "events_url": "/v2/apps/3e847486-eb74-4210-9f99-cc1c2a2650ef/events",
                "service_bindings_url": "/v2/apps/3e847486-eb74-4210-9f99-cc1c2a2650ef/service_bindings",
                "routes_url": "/v2/apps/3e847486-eb74-4210-9f99-cc1c2a2650ef/routes"
              }
            }
          ]
        }
  recorded_at: Thu, 19 Mar 2015 16:35:15 GMT
- request:
    method: head
    uri: https://api.10.244.0.34.xip.io/v2/apps/3e847486-eb74-4210-9f99-cc1c2a2650ef/download
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"550afa70-20e7a0"'
      Last-Modified:
      - Thu, 19 Mar 2015 16:33:52 GMT
      X-Cf-Requestid:
      - 2e248847-38ce-4e81-4989-e739a5768d8a
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 19 Mar 2015 16:35:15 GMT
- request:
    method: put
    uri: https://api.10.244.0.34.xip.io/v2/apps/3e847486-eb74-4210-9f99-cc1c2a2650ef
    body:
      encoding: UTF-8
      string: '{"state":"STOPPED"}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 7a1f60dc-7dfd-431f-73b4-a0a783d[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/3e847486-eb74-4210-9f99-cc1c2a2650ef/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 2162122f-5c47-45c5-4353-edc9114b7983
      X-Vcap-Request-Id:
      - 5d44c8f3-19d7-40d7-4cf5-e90048d8b5c9::e932734a-3307-4f6c-8b9e-8955c8678baa
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "c616eb0b-1b71-47a2-9496-0c4d80db567f",
                "url": "/v2/routes/c616eb0b-1b71-47a2-9496-0c4d80db567f",
                "created_at": "2015-03-19T16:33:08+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "3e847486-eb74-4210-9f99-cc1c2a2650ef",
                "domain_guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "domain_url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "apps_url": "/v2/routes/c616eb0b-1b71-47a2-9496-0c4d80db567f/apps"
              }
            }
          ]
        }
  recorded_at: Thu, 19 Mar 2015 16:35:16 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 5f87e9f8-bfb2-49b5-4af0-5f16ff8828bb
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - 6b7238ec-2db7-4dda-6d08-0bca96c32077::5d0f9547-c22b-4ffb-9d54-30afa34f1917
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Thu, 19 Mar 2015 16:35:16 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 15c95542-652b-4472-4d48-e674e3e512cb
      X-Vcap-Request-Id:
      - e79a1cab-a6b7-44c5-6279-bd6308f94670::7397d701-761c-4b2a-866c-ddc428732179
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "3e847486-eb74-4210-9f99-cc1c2a2650ef",
                "url": "/v2/apps/3e847486-eb74-4210-9f99-cc1c2a2650ef",
                "created_at": "2015-03-19T16:33:07+00:00",
                "updated_at[...]
[...]
- request:
    method: put
    uri: https://api.10.244.0.34.xip.io/v2/apps/3e847486-eb74-4210-9f99-cc1c2a2650ef
    body:
      encoding: UTF-8
      string: '{"state":"STARTED"}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 290e924f-22bf-4bc3-492c-d370a4a6719b
      X-Vcap-Request-Id:
      - c705f2c7-1185-4042-4952-bd309120f1c3::bf00b3f3-6176-4595-9deb-90ebc4193ca8
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "3e847486-eb74-4210-9f99-cc1c2a2650ef",
            "url": "/v2/apps/3e847486-eb74-4210-9f99-cc1c2a2650ef",
            "created_at": "2015-03-19T16:33:07+00:00",
            "updated_at": "2015-03-19T16:35:16+00:00"
          },
          "entity": {
            "name": "paasal-test-app-min-updated",
            "production": false,
            "space_guid[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/3e847486-eb74-4210-9f99-cc1c2a2650ef/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - ec401314-d358-42a8-7990-e0163588efe8
      X-Vcap-Request-Id:
      - b7c29ca4-ac65-4732-4942-d986a1733512::2aac30bb-3a61-4e6d-9e50-cffce55ef997
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "c616eb0b-1b71-47a2-9496-0c4d80db567f",
                "url": "/v2/routes/c616eb0b-1b71-47a2-9496-0c4d80db567f",
                "created_at": "2015-03-19T16:33:08+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "3e847486-eb74-4210-9f99-cc1c2a2650ef",
                "domain_guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "domain_url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "apps_url": "/v2/routes/c616eb0b-1b71-47a2-9496-0c4d80db567f/apps"
              }
            }
          ]
        }
  recorded_at: Thu, 19 Mar 2015 16:35:16 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 9bed6fb4-f7aa-4df3-64bf-f52b4f2f739f
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - a900732a-2ede-470a-42eb-150f3e724401::0b1b6a61-125c-4970-9ff1-10e8fa8a8933
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Thu, 19 Mar 2015 16:35:16 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - dca3fffc-7894-4aa8-6ed7-b810b7ffff0f
      X-Vcap-Request-Id:
      - cb4aba1e-eba0-4a70-652a-30b2ab011ed6::dd9b4257-0d5e-41a5-b2ac-082135f620a2
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "3e847486-eb74-4210-9f99-cc1c2a2650ef",
                "url": "/v2/apps/3e847486-eb74-4210-9f99-cc1c2a2650ef",
                "created_at": "2015-03-19T16:33:07+00:00",
                "updated_at[...]
[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/3e847486-eb74-4210-9f99-cc1c2a2650ef/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 9d60d4c7-e9c0-4b5e-693c-42b4d221dd6f
      X-Vcap-Request-Id:
      - e0e5d329-fff7-4762-660a-3ce0879a035d::82866a75-13a2-425d-9fc9-b87f47e93e44
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "c616eb0b-1b71-47a2-9496-0c4d80db567f",
                "url": "/v2/routes/c616eb0b-1b71-47a2-9496-0c4d80db567f",
                "created_at": "2015-03-19T16:33:08+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "3e847486-eb74-4210-9f99-cc1c2a2650ef",
                "domain_guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "domain_url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "apps_url": "/v2/routes/c616eb0b-1b71-47a2-9496-0c4d80db567f/apps"
              }
            }
          ]
        }
  recorded_at: Thu, 19 Mar 2015 16:35:17 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 1505f54f-cd6f-4fb1-45d2-6451e491b59a
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - af6f9884-b6e5-4398-4ecc-a08724b9daff::d22ecaf6-d790-400e-a644-3b2de2b9a029
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Thu, 19 Mar 2015 16:35:17 GMT
recorded_with: VCR 2.9.3
