---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 00280b0d-f30a-4bd7-5246-0cf9074a32fd
      X-Vcap-Request-Id:
      - 2bf3d985-d81f-4ba2-514c-be8c64981c34::00e15117-ad64-4f7d-98db-4966ce886e85
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Thu, 19 Mar 2015 16:34:34 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - 561a97e3-8a34-4715-58c5-3cb0162b632a, 65b8e551-15d8-467c-6ebd-b41848ff7bf8
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"3841c9d4-cd18-4801-85bb-de0dc94518ba"}'
  recorded_at: Thu, 19 Mar 2015 16:34:34 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 9c1ed702-92be-4c8c-6dbd-1e482f408305
      X-Vcap-Request-Id:
      - 22c08985-7f84-4138-74d4-bdd811f3e50b::91b9d25d-848a-48dd-8305-ab0937e70768
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "2f12c8fe-19b7-4bc2-aeba-062177502ce3",
                "url": "/v2/apps/2f12c8fe-19b7-4bc2-aeba-062177502ce3",
                "created_at": "2015-03-19T16:33:05+00:00",
                "updated_at": "2015-03-19T16:34:33+00:00"
              },
              "entity": {
                "name": "paasal-test-app-all-updated",
                "production": false,
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
                "buildpack": "nodejs_buildpack",
                "detected_buildpack": null,
                "environment_json": {
                  "our_test_var_key": "our_updated_test_var_value",
                  "our_test_var_key2": "our_test_var_value2"
                },
                "memory": 256,
                "instances": 1,
                "disk_quota": 1024,
                "state": "STOPPED",
                "version": "2ca09edd-b2c1-47e7-afd4-c1b352cc8706",
                "command": null,
                "console": false,
                "debug": null,
                "staging_task_id": "e61b1097b0694ac0bc84a9ffc0d0e9fa",
                "package_state": "STAGED",
                "health_check_timeout": null,
                "staging_failed_reason": null,
                "docker_image": null,
                "package_updated_at": "2015-03-19T16:33:47+00:00",
                "detected_start_command": "node server.js",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
                "events_url": "/v2/apps/2f12c8fe-19b7-4bc2-aeba-062177502ce3/events",
                "service_bindings_url": "/v2/apps/2f12c8fe-19b7-4bc2-aeba-062177502ce3/service_bindings",
                "routes_url": "/v2/apps/2f12c8fe-19b7-4bc2-aeba-062177502ce3/routes"
              }
            }
          ]
        }
  recorded_at: Thu, 19 Mar 2015 16:34:34 GMT
- request:
    method: head
    uri: https://api.10.244.0.34.xip.io/v2/apps/2f12c8fe-19b7-4bc2-aeba-062177502ce3/download
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"550afa6b-20e7a0"'
      Last-Modified:
      - Thu, 19 Mar 2015 16:33:47 GMT
      X-Cf-Requestid:
      - feed4476-0bc0-4c53-6ac4-7fbcebeb908c
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 19 Mar 2015 16:34:34 GMT
- request:
    method: put
    uri: https://api.10.244.0.34.xip.io/v2/apps/2f12c8fe-19b7-4bc2-aeba-062177502ce3
    body:
      encoding: UTF-8
      string: '{"state":"STOPPED"}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 0833f0d8-fd30-4819-7a9c-b76f2145f98e
      X-Vcap-Request-Id:
      - e7cbd088-88a7-4adb-7a17-3fe69b2fc3b3::61f504a5-0329-4ea5-a071-a7472132dff6
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "2f12c8fe-19b7-4bc2-aeba-062177502ce3",
            "url": "/v2/apps/2f12c8fe-19b7-4bc2-aeba-062177502ce3",
            "created_at": "2015-03-19T16:33:05+00:00",
            "updated_at": "2015-03-19T16:34:34+00:00"
          },
          "entity": {
            "name": "paasal-test-app-all-updated",
            "production": false,
            "space_guid[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/2f12c8fe-19b7-4bc2-aeba-062177502ce3/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 8f43cdbe-f63d-4663-4409-bebfad0139d1
      X-Vcap-Request-Id:
      - 626c3ab4-3a99-49b9-555e-bffffd8bd0d1::d27ce166-4cbb-4c45-9e86-a21b44855f99
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 3,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "f054f24d-1eb1-40c6-ada4-71f373f401c1",
                "url": "/v2/routes/f054f24d-1eb1-40c6-ada4-71f373f401c1",
                "created_at": "2015-03-19T16:33:06+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "2f12c8fe-19b7-4bc2-aeba-062177502ce3",
                "domain_guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "domain_url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "apps_url": "/v2/routes/f054f24d-1eb1-40c6-ada4-71f373f401c1/apps"
              }
            },
            {
              "metadata": {
                "guid": "8c3c1459-3ee2-4c61-a969-d389af4cd042",
                "url": "/v2/routes/8c3c1459-3ee2-4c61-a969-d389af4cd042",
                "created_at": "2015-03-19T16:33:33+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "cf-bosh-local",
                "domain_guid": "49388e38-4f2e-427a-ab22[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - b76a682d-dd30-4f4c-7084-90ded91c1121
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - f2f7c467-7375-42ee-6723-56e8d389b2eb::6f01e2db-b8ea-4078-a061-2e4718836399
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Thu, 19 Mar 2015 16:34:35 GMT
[...]
- request:
    method: put
    uri: https://api.10.244.0.34.xip.io/v2/apps/2f12c8fe-19b7-4bc2-aeba-062177502ce3
    body:
      encoding: UTF-8
      string: '{"state":"STARTED"}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 20194d1f-db85-430b-58d0-12de699f5f2d
      X-Vcap-Request-Id:
      - b191dd97-1917-4067-7246-dc898e125034::f50645c1-bc00-4243-ad17-aacde660fb2c
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "2f12c8fe-19b7-4bc2-aeba-062177502ce3",
            "url": "/v2/apps/2f12c8fe-19b7-4bc2-aeba-062177502ce3",
            "created_at": "2015-03-19T16:33:05+00:00",
            "updated_at": "2015-03-19T16:34:35+00:00"
          },
          "entity": {
            "name": "paasal-test-app-all-updated",
            "production": false,
            "space_guid[...]
[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 1e209480-fc46-44d8-6815-a9395488f3ac
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - 14ad75bb-5da8-42e9-51bd-ff7cf49b6ee8::b10cbfc2-5bd3-4e9a-a03e-d06c11c49b6d
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Thu, 19 Mar 2015 16:34:35 GMT
recorded_with: VCR 2.9.3
