{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["377220e7-94bf-46ad-430c-be1ef41ccb3d"], "X-Vcap-Request-Id":["c96487b0-3318-4a43-769b-becfd98eae5b::cbc16bbc-16b6-41c4-835f-0f0807f684c6"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"https://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"min_cli_version\":null,\"min_recommended_cli_version\":null,\"api_version\":\"2.41.0\",\"app_ssh_endpoint\":\"ssh.10.244.0.34.xip.io:2222\",\"app_ssh_host_key_fingerprint\":\"e7:13:4e:32:ee:39:62:df:54:41:d7:f7:8b:b2:a7:6b\",\"app_ssh_oauth_client\":\"ssh-proxy\",\"routing_endpoint\":\"https://api.10.244.0.34.xip.io/routing\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\",\"doppler_logging_endpoint\":\"wss://doppler.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Thu, 22 Oct 2015 21:59:00 GMT"},{"request":{"method":"post","uri":"https://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:password__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["633b4775-f5c0-40e4-6702-64008a733848"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"cloud_controller.read password.write cloud_controller.write openid uaa.user\",\"jti\":\"d4a85125-7174-4f19-ba82-4e33e29cc356\"}"},"http_version":null},"recorded_at":"Thu, 22 Oct 2015 21:59:02 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Anucleus-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["f3fc89d4-96f6-4eec-6fdd-9db40d9ca081"], "X-Vcap-Request-Id":["6c96327f-4ef3-42fc-718e-142adea89fa3::56045c0b-d16f-4fdd-a8a1-3f52075b8b74"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 0,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n\n  ]\n}"},"http_version":null},"recorded_at":"Thu, 22 Oct 2015 21:59:04 GMT"}],"recorded_with":"VCR 2.9.3"}