---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - d02a343e-e1f7-4607-5f96-9231e543452f
      X-Vcap-Request-Id:
      - 2d326c7b-4e2b-4d76-516f-2899bd1e1da1::a95d8582-e3ed-475f-a4e4-51232e7e0384
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Thu, 02 Apr 2015 12:42:58 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - b30507e6-12fc-4cb4-6d25-f9f38314c684, 32673142-277a-4265-4eb3-8c1f7e85e5d8
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"fb1e1456-1cd8-4e41-b7d0-e3b09901648d"}'
  recorded_at: Thu, 02 Apr 2015 12:42:59 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 0a16e65a-0eb5-41c8-59b5-32be35b52a20
      X-Vcap-Request-Id:
      - 8c0941da-85c5-49ba-7db1-8b9e8f875078::bbad9aac-c0b0-4f65-a29b-ea7e52889402
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "3397450b-e73a-48cb-a94d-4e7cc4341763",
                "url": "/v2/apps/3397450b-e73a-48cb-a94d-4e7cc4341763",
                "created_at": "2015-04-02T12:32:49+00:00",
                "updated_at": "2015-04-02T12:33:57+00:00"
              },
              "entity": {
                "name": "paasal-test-app-min-updated",
                "production": false,
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
                "buildpack": "nodejs_buildpack",
                "detected_buildpack": null,
                "environment_json": {
                  "our_test_var_key": "our_test_var_value"
                },
                "memory": 256,
                "instances": 1,
                "disk_quota": 1024,
                "state": "STARTED",
                "version": "55e50be6-0beb-4c10-8498-5ed1c20b2b61",
                "command": null,
                "console": false,
                "debug": null,
                "staging_task_id": "1f0189ef90fd4312b1b5c01bdfd6108a",
                "package_state": "STAGED",
                "health_check_timeout": null,
                "staging_failed_reason": null,
                "docker_image": null,
                "package_updated_at": "2015-04-02T12:33:18+00:00",
                "detected_start_command": "node server.js",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
                "events_url": "/v2/apps/3397450b-e73a-48cb-a94d-4e7cc4341763/events",
                "service_bindings_url": "/v2/apps/3397450b-e73a-48cb-a94d-4e7cc4341763/service_bindings",
                "routes_url": "/v2/apps/3397450b-e73a-48cb-a94d-4e7cc4341763/routes"
              }
            }
          ]
        }
  recorded_at: Thu, 02 Apr 2015 12:42:59 GMT
- request:
    method: head
    uri: https://api.10.244.0.34.xip.io/v2/apps/3397450b-e73a-48cb-a94d-4e7cc4341763/download
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"551d370e-20e7a0"'
      Last-Modified:
      - Thu, 02 Apr 2015 12:33:18 GMT
      X-Cf-Requestid:
      - cf963801-a1ae-4008-75e6-5a652d69515a
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 02 Apr 2015 12:42:59 GMT
- request:
    method: post
    uri: https://api.10.244.0.34.xip.io/v2/apps/3397450b-e73a-48cb-a94d-4e7cc4341763/restage
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - "/v2/apps/3397450b-e73a-48cb-a94d-4e7cc4341763"
      X-Cf-Requestid:
      - d8d48474-babe-49b6-5917-8efa60768f2d
      X-Vcap-Request-Id:
      - f143461d-934e-45b9-5ef3-e8154cfd10b7::cdee3d18-698f-4746-8b30-251fda161c19
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "3397450b-e73a-48cb-a94d-4e7cc4341763",
            "url": "/v2/apps/3397450b-e73a-48cb-a94d-4e7cc4341763",
            "created_at": "2015-04-02T12:32:49+00:00",
            "updated_at": "2015-04-02T12:35:07+00:00"
          },
          "entity": {
            "name": "paasal-test-app-min-updated",
            "production": false,
            "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
            "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
            "buildpack": "nodejs_buildpack",
            "detected_buildpack": null,
            "environment_json": {
              "our_test_var_key": "our_test_var_value"
            },
            "memory": 256,
            "instances": 1,
            "disk_quota": 1024,
            "state": "STARTED",
            "version": "8584070e-b84b-433a-8523-649222976428",
            "command": null,
            "console": false,
            "debug": null,
            "staging_task_id": "9c7631f6589f474688389ed9dc4d0d2d",
            "package_state": "PENDING",
            "health_check_timeout": null,
            "staging_failed_reason": null,
            "docker_image": null,
            "package_updated_at": "2015-04-02T12:33:18+00:00",
            "detected_start_command": "node server.js"
          }
        }
  recorded_at: Thu, 02 Apr 2015 12:43:00 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/3397450b-e73a-48cb-a94d-4e7cc4341763/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - f69ac94a-fe02-4184-5977-6f63e65e0d9d
      X-Vcap-Request-Id:
      - 60f76751-d00e-45be-6966-c577af9d8653::e4e49909-17e1-4d6f-9cfe-d5f34f93a0b6
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "19808d13-e553-4a36-b050-e8d554848350",
                "url": "/v2/routes/19808d13-e553-4a36-b050-e8d554848350",
                "created_at": "2015-04-02T12:32:50+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "3397450b-e73a-48cb-a94d-4e7cc4341763",
                "domain_guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "domain_url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "apps_url": "/v2/routes/19808d13-e553-4a36-b050-e8d554848350/apps"
              }
            }
          ]
        }
  recorded_at: Thu, 02 Apr 2015 12:43:00 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 8a158768-8236-4a5d-6d2d-32a3c2f859dc
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - 7dae9e5e-0fd4-4b12-4e73-d169599906db::d596d690-b1b1-43d4-95e4-23e7b65e9826
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Thu, 02 Apr 2015 12:43:00 GMT
recorded_with: VCR 2.9.3
