{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?password=__heroku:password__&username=__heroku:user__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":false,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/10/08 04:22:08 -0700\",\"created_at\":\"2014/10/08 04:22:08 -0700\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/10/23 02:44:13 -0700\",\"name\":\"stfnklb\",\"updated_at\":\"2015/10/23 02:49:43 -0700\",\"verified\":true,\"verified_at\":\"2015/10/23 02:45:30 -0700\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:07:21 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/nucleus-app-all-updated/addons/mongolab","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Expansion":["addon_service, plan"], "Content-Type":["application/json"], "ETag":["\"1660ab1fefe53772f653896035f9be0d\""], "Last-Modified":["Fri, 23 Oct 2015 10:04:51 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4490"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"{\"config_vars\":[\"MONGOLAB_URI\"],\"created_at\":\"2015-10-23T10:04:49Z\",\"id\":\"1df89d35-9aee-4963-a47f-d1cfe17b598a\",\"name\":\"mongolab-perpendicular-1607\",\"addon_service\":{\"id\":\"3dfb031f-23f4-4123-856f-5cb95ecdadc9\",\"name\":\"mongolab\"},\"plan\":{\"id\":\"8e6163ec-a935-4738-a0f4-60867f4f86cb\",\"name\":\"mongolab:sandbox\"},\"app\":{\"id\":\"11e97ded-c274-4bc9-aa9e-e95cf479e46d\",\"name\":\"nucleus-app-all-updated\"},\"provider_id\":\"heroku_cn4zk89v\",\"updated_at\":\"2015-10-23T10:04:51Z\",\"web_url\":\"https://addons-sso.heroku.com/apps/nucleus-app-all-updated/addons/1df89d35-9aee-4963-a47f-d1cfe17b598a\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:07:22 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/addon-services/mongolab/plans/an_invalid_service","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":null},"headers":{"Content-Type":["application/json"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4489"], "Status":["404 Not Found"]},"body":{"encoding":"CP850","string":"{\"resource\":\"addon_plan\",\"id\":\"not_found\",\"message\":\"Couldn't find that add-on plan.\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:07:23 GMT"}],"recorded_with":"VCR 2.9.3"}