{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/04/28 12:55:45 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:53:59 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated/addons/mongolab","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":null},"headers":{"Content-Type":["application/json"], "RateLimit-Remaining":["2368"], "Status":["404 Not Found"]},"body":{"encoding":"UTF-8","string":"{\"resource\":\"addon\",\"id\":\"not_found\",\"message\":\"Couldn't find that add-on.\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:54:00 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated/addons","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Expansion":["addon_service, plan"], "Content-Range":["name soaring-coyly-7298..soaring-coyly-7298"], "Content-Type":["application/json"], "ETag":["\"3f7e3974e04ebe5870af69fd6b8c937d\""], "Last-Modified":["Thu, 14 May 2015 06:52:20 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2367"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"config_vars\":[\"MONGOLAB_URI\"],\"created_at\":\"2015-05-14T06:52:19Z\",\"id\":\"956878cd-7670-44ab-9700-64c3ba07520f\",\"name\":\"soaring-coyly-7298\",\"addon_service\":{\"id\":\"3dfb031f-23f4-4123-856f-5cb95ecdadc9\",\"name\":\"mongolab\"},\"plan\":{\"id\":\"8e6163ec-a935-4738-a0f4-60867f4f86cb\",\"name\":\"mongolab:sandbox\"},\"app\":{\"id\":\"1f35201d-1363-4ac1-9b8a-db35bf92e698\",\"name\":\"paasal-test-app-all-updated\"},\"provider_id\":\"heroku_app36839680\",\"updated_at\":\"2015-05-14T06:52:20Z\",\"web_url\":\"https://addons-sso.heroku.com/apps/paasal-test-app-all-updated/addons/956878cd-7670-44ab-9700-64c3ba07520f\"}]"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:54:01 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated/addons/956878cd-7670-44ab-9700-64c3ba07520f","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Expansion":["addon_service, plan"], "Content-Type":["application/json"], "ETag":["\"5d9860c8d79b1b3ba4f4f8249d972844\""], "Last-Modified":["Thu, 14 May 2015 06:52:20 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2366"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"config_vars\":[\"MONGOLAB_URI\"],\"created_at\":\"2015-05-14T06:52:19Z\",\"id\":\"956878cd-7670-44ab-9700-64c3ba07520f\",\"name\":\"soaring-coyly-7298\",\"addon_service\":{\"id\":\"3dfb031f-23f4-4123-856f-5cb95ecdadc9\",\"name\":\"mongolab\"},\"plan\":{\"id\":\"8e6163ec-a935-4738-a0f4-60867f4f86cb\",\"name\":\"mongolab:sandbox\"},\"app\":{\"id\":\"1f35201d-1363-4ac1-9b8a-db35bf92e698\",\"name\":\"paasal-test-app-all-updated\"},\"provider_id\":\"heroku_app36839680\",\"updated_at\":\"2015-05-14T06:52:20Z\",\"web_url\":\"https://addons-sso.heroku.com/apps/paasal-test-app-all-updated/addons/956878cd-7670-44ab-9700-64c3ba07520f\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:54:01 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/addon-services/mongolab/plans/an_invalid_service","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":null},"headers":{"Content-Type":["application/json"], "RateLimit-Remaining":["2365"], "Status":["404 Not Found"]},"body":{"encoding":"UTF-8","string":"{\"resource\":\"addon_plan\",\"id\":\"not_found\",\"message\":\"Couldn't find that add-on plan.\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:54:02 GMT"}],"recorded_with":"VCR 2.9.3"}