{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-04-24T08:43:04.292165\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:28:04 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappminproperties35","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappminproperties35"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"name\": \"paasaltestappminproperties35\", \"buildpack_url\": null, \"repository\": \"ssh://paasaltestappminproperties35@cloudcontrolled.com/repository.git\", \"type\": {\"name\": \"nodejs\"}, \"owner\": {\"username\": \"__cloudcontrol:username__\", \"first_name\": \"\", \"last_name\": \"\", \"email\": \"__cloudcontrol:user__\", \"is_active\": true, \"billing_without_payment_info\": false}, \"users\": [{\"username\": \"__cloudcontrol:username__\", \"email\": \"__cloudcontrol:user__\", \"role\": \"\"}], \"invitations\": [], \"date_created\": \"2015-04-24T08:27:50\", \"date_modified\": \"2015-04-24T08:27:50\", \"deployments\": [{\"name\": \"paasaltestappminproperties35/paasal\", \"dep_id\": \"dep3y6csbuz\"}]}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:28:05 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappminproperties35/deployment/paasal","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, PUT, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappminproperties35/deployment/paasal"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"name\": \"paasaltestappminproperties35/paasal\", \"stack\": {\"name\": \"pinky\"}, \"dep_id\": \"dep3y6csbuz\", \"branch\": \"ssh://paasaltestappminproperties35@cloudcontrolled.com/repository.git\", \"users\": [], \"static_files\": \"(removed)\", \"billing_account\": null, \"version\": \"-1\", \"state\": \"not deployed\", \"date_created\": \"2015-04-24T08:27:51\", \"date_modified\": \"2015-04-24T08:27:51\", \"is_default\": false, \"default_subdomain\": \"paasal-paasaltestappminproperties35.cloudcontrolled.com\", \"min_boxes\": 1, \"max_boxes\": 1, \"billed_boxes\": {\"costs\": 0.0, \"free_boxes\": 0.0, \"boxes\": 0.0, \"until\": 1429864085}, \"billed_addons\": []}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:28:05 GMT"}],"recorded_with":"VCR 2.9.3"}