{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-10-23T09:24:51.579655\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 09:10:07 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/nucleusappallproperties2/deployment/nucleus/alias","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/nucleusappallproperties2/deployment/nucleus/alias"], "X-varnish-cache":["MISS"]},"body":{"encoding":"CP850","string":"[{\"name\": \"nucleus.nucleusappallproperties2.cloudcontrolapp.com\", \"is_default\": true, \"is_verified\": true}, {\"name\": \"nucleus-nucleusappallproperties2.cloudcontrolapp.com\", \"is_default\": true, \"is_verified\": true}, {\"name\": \"nucleus.nucleusappallproperties2.cloudcontrolled.com\", \"is_default\": true, \"is_verified\": true}, {\"name\": \"nucleus-nucleusappallproperties2.cloudcontrolled.com\", \"is_default\": true, \"is_verified\": true}]"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 09:10:07 GMT"},{"request":{"method":"post","uri":"https://api.cloudcontrol.com/app/nucleusappallproperties2/deployment/nucleus/alias","body":{"encoding":"UTF-8","string":"{\"name\":\"cloudcontrol.adomainthatishopefullynotusedontheplatform.de\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/nucleusappallproperties2/deployment/nucleus/alias"], "X-varnish-cache":["MISS"]},"body":{"encoding":"CP850","string":"{\"name\": \"cloudcontrol.adomainthatishopefullynotusedontheplatform.de\", \"is_default\": false, \"is_verified\": false, \"verification_code\": \"cloudControl-verification: 589e2703925400292847d932058afbb260d4d1901e273e204d650231c7af5bd4\", \"verification_errors\": 0, \"date_created\": \"2015-10-23T09:09:52.346427\", \"date_modified\": \"2015-10-23T09:09:52.346455\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 09:10:07 GMT"}],"recorded_with":"VCR 2.9.3"}