{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-07-28T11:28:40.758608\"}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 11:13:40 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[{\"name\": \"dummyapplication11438072995\", \"buildpack_url\": null, \"repository\": \"ssh://dummyapplication11438072995@cloudcontrolled.com/repository.git\", \"type\": {\"name\": \"nodejs\"}, \"owner\": {\"username\": \"__cloudcontrol:username__\", \"first_name\": \"\", \"last_name\": \"\", \"email\": \"__cloudcontrol:user__\", \"is_active\": true, \"billing_without_payment_info\": false}, \"users\": [{\"username\": \"__cloudcontrol:username__\", \"email\": \"__cloudcontrol:user__\", \"role\": \"\"}], \"invitations\": [], \"date_created\": \"2015-07-28T08:43:16\", \"date_modified\": \"2015-07-28T08:43:16\", \"deployments\": [{\"name\": \"dummyapplication11438072995/paasal\", \"dep_id\": \"deptjzykgyp\"}]}, {\"name\": \"paasaltestappallproperties87\", \"buildpack_url\": null, \"repository\": \"ssh://paasaltestappallproperties87@cloudcontrolled.com/repository.git\", \"type\": {\"name\": \"nodejs\"}, \"owner\": {\"username\": \"__cloudcontrol:username__\", \"first_name\": \"\", \"last_name\": \"\", \"email\": \"__cloudcontrol:user__\", \"is_active\": true, \"billing_without_payment_info\": false}, \"users\": [{\"username\": \"__cloudcontrol:username__\", \"email\": \"__cloudcontr[...]
{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/dummyapplication11438072995/deployment/paasal","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, PUT, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/dummyapplication11438072995/deployment/paasal"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"name\": \"dummyapplication11438072995/paasal\", \"stack\": {\"name\": \"pinky\"}, \"dep_id\": \"deptjzykgyp\", \"branch\": \"ssh://dummyapplication11438072995@cloudcontrolled.com/repository.git\", \"users\": [], \"static_files\": \"(removed)\", \"billing_account\": null, \"version\": \"-1\", \"state\": \"not deployed\", \"date_created\": \"2015-07-28T08:43:17\", \"date_modified\": \"2015-07-28T08:43:17\", \"is_default\": false, \"default_subdomain\": \"paasal-dummyapplication11438072995.cloudcontrolled.com\", \"min_boxes\": 1, \"max_boxes\": 1, \"billed_boxes\": {\"free_boxes\": 0.0, \"costs\": 0.0, \"boxes\": 0.0, \"until\": 1438082021}, \"billed_addons\": []}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 11:13:41 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/user","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/user"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[{\"username\": \"__cloudcontrol:username__\", \"email\": \"__cloudcontrol:user__\"}]"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 11:13:41 GMT"},{"request":{"method":"post","uri":"https://api.cloudcontrol.com/user/__cloudcontrol:username__/key","body":{"encoding":"UTF-8","string":"{\"key\":\"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDCHgNc4jRSbs6NRwAe4B+uWdmbVVOfOpaQqyq0Xkz28FUr+wg49f3iaUKWSnxJD+rMDdiKTjrM3NyXzW8WFDIT6c/g1Wk1/QOgIL1oly26IR4p0TBJRJrTZj3mrftfeTjln8AB71IcxupsLBGIy6oeWuoEK77WvuHuBKxsacpmfPCXheBKKe1Q354jgoR+P9r16iAOFzGNzfsz95D2dshTB1Pgq8r9KLH0HUWjemi0BqeMjHKtJTpVCw8wPBYlYLtBlg8to/KyiBC0vjNXTkvPZALW+FhHOzgX8QyjVlA7Y5RpHqmWc2lqs34KExr6ykoxY54dL2yvYWH50xF8dpyZF57udWdpknRGNSZfOKz0wRZ2oqR6p/TrkjVXFSjENy0LF7ni8Y6v2BXZ2YPhKRr8aDMaZVtzhbH7yeLSDoPnzptpJXXFyB9FZJodDopMQ7vB1sIM0X/RSgObdbxSJ3wdq2V8cqNC/LPXCycV5uMRIUP/g+X1fjRTVAnBSLDYzXx5WyNFlDgThIEyR6ULCtskMoIxOLlPPAl6gffZ03Cjk2KN3+EEZyKc6KjNoZy2+/fYHdrhDed0LIF7b223E28nKOyWrsoAV1IcUDqsIe95VUtoGS6WCZ+5cOFfkxMTuxn0/Qd+oCBF7tD2sc4Ubo3mGbK0e+yYqE8bPWI/kiPhWw== paasal-2d931510-d99f-494a-8c67-000000000002\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/user/__cloudcontrol:username__/key"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"key_id\": \"4cbTUEfMMP\", \"key\": \"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDCHgNc4jRSbs6NRwAe4B+uWdmbVVOfOpaQqyq0Xkz28FUr+wg49f3iaUKWSnxJD+rMDdiKTjrM3NyXzW8WFDIT6c/g1Wk1/QOgIL1oly26IR4p0TBJRJrTZj3mrftfeTjln8AB71IcxupsLBGIy6oeWuoEK77WvuHuBKxsacpmfPCXheBKKe1Q354jgoR+P9r16iAOFzGNzfsz95D2dshTB1Pgq8r9KLH0HUWjemi0BqeMjHKtJTpVCw8wPBYlYLtBlg8to/KyiBC0vjNXTkvPZALW+FhHOzgX8QyjVlA7Y5RpHqmWc2lqs34KExr6ykoxY54dL2yvYWH50xF8dpyZF57udWdpknRGNSZfOKz0wRZ2oqR6p/TrkjVXFSjENy0LF7ni8Y6v2BXZ2YPhKRr8aDMaZVtzhbH7yeLSDoPnzptpJXXFyB9FZJodDopMQ7vB1sIM0X/RSgObdbxSJ3wdq2V8cqNC/LPXCycV5uMRIUP/g+X1fjRTVAnBSLDYzXx5WyNFlDgThIEyR6ULCtskMoIxOLlPPAl6gffZ03Cjk2KN3+EEZyKc6KjNoZy2+/fYHdrhDed0LIF7b223E28nKOyWrsoAV1IcUDqsIe95VUtoGS6WCZ+5cOFfkxMTuxn0/Qd+oCBF7tD2sc4Ubo3mGbK0e+yYqE8bPWI/kiPhWw== paasal-2d931510-d99f-494a-8c67-000000000002\", \"fingerprint\": \"55:9a:cb:b3:bf:24:d7:53:f4:cf:a5:fa:6f:4e:dc:17\"}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 11:13:42 GMT"},{"request":{"method":"delete","uri":"https://api.cloudcontrol.com/user/__cloudcontrol:username__/key/4cbTUEfMMP","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":204,"message":null},"headers":{"Allow":["GET, POST, DELETE, HEAD, OPTIONS"], "x-host":["api.cloudcontrol.com"], "x-url":["/user/__cloudcontrol:username__/key/4cbTUEfMMP"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 11:13:43 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties87/deployment/paasal","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, PUT, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties87/deployment/paasal"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"name\": \"paasaltestappallproperties87/paasal\", \"stack\": {\"name\": \"pinky\"}, \"dep_id\": \"dep9498wapb\", \"branch\": \"ssh://paasaltestappallproperties87@cloudcontrolled.com/repository.git\", \"users\": [], \"static_files\": \"(removed)\", \"billing_account\": null, \"version\": \"-1\", \"state\": \"not deployed\", \"date_created\": \"2015-07-28T11:13:20\", \"date_modified\": \"2015-07-28T11:13:20\", \"is_default\": false, \"default_subdomain\": \"paasal-paasaltestappallproperties87.cloudcontrolled.com\", \"min_boxes\": 1, \"max_boxes\": 1, \"billed_boxes\": {\"free_boxes\": 0.0, \"costs\": 0.0, \"until\": 1438082023, \"boxes\": 0.0}, \"billed_addons\": []}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 11:13:43 GMT"},[...]
{"request":{"method":"delete","uri":"https://api.cloudcontrol.com/user/__cloudcontrol:username__/key/m837jUHc8B","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":204,"message":null},"headers":{"Allow":["GET, POST, DELETE, HEAD, OPTIONS"], "x-host":["api.cloudcontrol.com"], "x-url":["/user/__cloudcontrol:username__/key/m837jUHc8B"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 11:13:45 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappminproperties87/deployment/paasal","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, PUT, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappminproperties87/deployment/paasal"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"name\": \"paasaltestappminproperties87/paasal\", \"stack\": {\"name\": \"pinky\"}, \"dep_id\": \"depr4yjqfv6\", \"branch\": \"ssh://paasaltestappminproperties87@cloudcontrolled.com/repository.git\", \"users\": [], \"static_files\": \"(removed)\", \"billing_account\": null, \"version\": \"-1\", \"state\": \"not deployed\", \"date_created\": \"2015-07-28T11:13:26\", \"date_modified\": \"2015-07-28T11:13:26\", \"is_default\": false, \"default_subdomain\": \"paasal-paasaltestappminproperties87.cloudcontrolled.com\", \"min_boxes\": 1, \"max_boxes\": 1, \"billed_boxes\": {\"free_boxes\": 0.0, \"until\": 1438082026, \"boxes\": 0.0, \"costs\": 0.0}, \"billed_addons\": []}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 11:13:46 GMT"},[...]
{"request":{"method":"delete","uri":"https://api.cloudcontrol.com/user/__cloudcontrol:username__/key/fsARH5jXbD","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":204,"message":null},"headers":{"Allow":["GET, POST, DELETE, HEAD, OPTIONS"], "x-host":["api.cloudcontrol.com"], "x-url":["/user/__cloudcontrol:username__/key/fsARH5jXbD"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 11:13:47 GMT"}],"recorded_with":"VCR 2.9.3"}