{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-04-28T15:54:18.472503\"}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 15:39:18 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[{\"name\": \"dummyapplication11430144561\", \"buildpack_url\": null, \"repository\": \"ssh://dummyapplication11430144561@cloudcontrolled.com/repository.git\", \"type\": {\"name\": \"nodejs\"}, \"owner\": {\"username\": \"__cloudcontrol:username__\", \"first_name\": \"\", \"last_name\": \"\", \"email\": \"__cloudcontrol:user__\", \"is_active\": true, \"billing_without_payment_info\": false}, \"users\": [{\"username\": \"__cloudcontrol:username__\", \"email\": \"__cloudcontrol:user__\", \"role\": \"\"}], \"invitations\": [], \"date_created\": \"2015-04-27T14:22:42\", \"date_modified\": \"2015-04-27T14:22:42\", \"deployments\": [{\"name\": \"dummyapplication11430144561/paasal\", \"dep_id\": \"depks5by22x\"}]}, {\"name\": \"paasaltestappallproperties40\", \"buildpack_url\": null, \"repository\": \"ssh://paasaltestappallproperties40@cloudcontrolled.com/repository.git\", \"type\": {\"name\": \"nodejs\"}, \"owner\": {\"username\": \"__cloudcontrol:username__\", \"first_name\": \"\", \"last_name\": \"\", \"email\": \"__cloudcontrol:user__\", \"is_active\": true, \"billing_without_payment_info\": false}, \"users\": [{\"username\": \"__cloudcontrol:username__\", \"email\": \"__cloudcontr[...]
{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/dummyapplication11430144561/deployment/paasal","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, PUT, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/dummyapplication11430144561/deployment/paasal"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"name\": \"dummyapplication11430144561/paasal\", \"stack\": {\"name\": \"pinky\"}, \"dep_id\": \"depks5by22x\", \"branch\": \"ssh://dummyapplication11430144561@cloudcontrolled.com/repository.git\", \"users\": [], \"static_files\": \"(removed)\", \"billing_account\": null, \"version\": \"33fa03562f822f54d2986023771ee2af0e0115ea\", \"state\": \"idle\", \"date_created\": \"2015-04-27T14:22:43\", \"date_modified\": \"2015-04-27T14:29:01\", \"is_default\": false, \"default_subdomain\": \"paasal-dummyapplication11430144561.cloudcontrolled.com\", \"min_boxes\": 1, \"max_boxes\": 1, \"billed_boxes\": {\"boxes\": 0.0, \"until\": 1430179200, \"free_boxes\": 9.62, \"costs\": 0.0}, \"billed_addons\": [{\"addon\": \"alias.free\", \"until\": 1430179200, \"hours\": 10.0, \"costs\": 0.0}, {\"addon\": \"config.free\", \"until\": 1430179200, \"hours\": 10.0, \"costs\": 0.0}]}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 15:39:19 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties40/deployment/paasal","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, PUT, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties40/deployment/paasal"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"name\": \"paasaltestappallproperties40/paasal\", \"stack\": {\"name\": \"pinky\"}, \"dep_id\": \"depyv5wqzzv\", \"branch\": \"ssh://paasaltestappallproperties40@cloudcontrolled.com/repository.git\", \"users\": [], \"static_files\": \"(removed)\", \"billing_account\": null, \"version\": \"-1\", \"state\": \"not deployed\", \"date_created\": \"2015-04-28T15:39:02\", \"date_modified\": \"2015-04-28T15:39:02\", \"is_default\": false, \"default_subdomain\": \"paasal-paasaltestappallproperties40.cloudcontrolled.com\", \"min_boxes\": 1, \"max_boxes\": 1, \"billed_boxes\": {\"costs\": 0.0, \"free_boxes\": 0.0, \"boxes\": 0.0, \"until\": 1430235560}, \"billed_addons\": []}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 15:39:20 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappminproperties40/deployment/paasal","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, PUT, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappminproperties40/deployment/paasal"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"name\": \"paasaltestappminproperties40/paasal\", \"stack\": {\"name\": \"pinky\"}, \"dep_id\": \"depdngdfwvm\", \"branch\": \"ssh://paasaltestappminproperties40@cloudcontrolled.com/repository.git\", \"users\": [], \"static_files\": \"(removed)\", \"billing_account\": null, \"version\": \"-1\", \"state\": \"not deployed\", \"date_created\": \"2015-04-28T15:39:07\", \"date_modified\": \"2015-04-28T15:39:07\", \"is_default\": false, \"default_subdomain\": \"paasal-paasaltestappminproperties40.cloudcontrolled.com\", \"min_boxes\": 1, \"max_boxes\": 1, \"billed_boxes\": {\"costs\": 0.0, \"boxes\": 0.0, \"until\": 1430235560, \"free_boxes\": 0.0}, \"billed_addons\": []}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 15:39:21 GMT"}],"recorded_with":"VCR 2.9.3"}