---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 8afbeb32-692b-428d-4b00-1554ddcaf076
      X-Vcap-Request-Id:
      - 90b44689-b729-4ff5-64a9-eb397dbc1fbe::a4d9b0f9-bf5d-4771-8060-04ea7537279c
    body:
      encoding: US-ASCII
      string: ! '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Wed, 25 Mar 2015 16:24:32 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - a9057d54-6690-4890-763a-0ed743fc9b51, 4ebf204e-747b-4144-78a0-6e8e8e520c7f
    body:
      encoding: US-ASCII
      string: ! '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"afd335e5-568f-49e5-a14f-af38e7908dd9"}'
  recorded_at: Wed, 25 Mar 2015 16:24:32 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 203f3190-2cda-41f2-665b-cbff502d0e59
      X-Vcap-Request-Id:
      - e7dc4290-1067-4ffe-5664-e29a1f5cdba9::ef35f0e7-3f45-4adc-96a6-be69baf3a394
    body:
      encoding: US-ASCII
      string: ! "{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\":
        null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\":
        {\n        \"guid\": \"f377c6ab-239f-4290-a478-10e97fc601b7\",\n        \"url\":
        \"/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7\",\n        \"created_at\":
        \"2015-03-25T16:22:36+00:00\",\n        \"updated_at\": \"2015-03-25T16:23:10+00:00\"\n
        \     },\n      \"entity\": {\n        \"name\": \"paasal-test-app-min-updated\",\n
        \       \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n
        \       \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\":
        \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\":
        {\n          \"our_test_var_key\": \"our_test_var_value\"\n        },\n        \"memory\":
        256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\":
        \"STOPPED\",\n        \"version\": \"3bac1ce9-50f1-4706-a220-807a3a8a5251\",\n
        \       \"command\": null,\n        \"console\": false,\n        \"debug\":
        null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n
        \       \"health_check_timeout\": null,\n        \"staging_failed_reason\":
        null,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-03-25T16:23:10+00:00\",\n
        \       \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n
        \       \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n
        \       \"events_url\": \"/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7/events\",\n
        \       \"service_bindings_url\": \"/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7/service_bindings\",\n
        \       \"routes_url\": \"/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7/routes\"\n
        \     }\n    }\n  ]\n}"
  recorded_at: Wed, 25 Mar 2015 16:24:32 GMT
- request:
    method: head
    uri: https://api.10.244.0.34.xip.io/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7/download
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - ! '"5512e0ee-20e7a0"'
      Last-Modified:
      - Wed, 25 Mar 2015 16:23:10 GMT
      X-Cf-Requestid:
      - dfee6b0e-c68e-46df-6fe7-8aa0836dc3b6
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 25 Mar 2015 16:24:32 GMT
- request:
    method: put
    uri: https://api.10.244.0.34.xip.io/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7
    body:
      encoding: UTF-8
      string: ! '{"state":"STARTED"}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-App-Staging-Log:
      - https://6d1af9602073498d9dc8150f076df6f3.10.244.0.34.xip.io/staging_tasks/3525e814ec48490b8efb9a2401b4a53c/file_path?hmac=099e03134a99f0add3fed4684be696ee4f2889997b7d8749c7c88ddd539528c2a4eada679bb98e47e358d0c14efd5f520cfd294171a8ad3ce10888231ad39ad2&path=%2Ftmp%2Fstaged%2Flogs%2Fstaging_task.log&timestamp=1427300673
      X-Cf-Requestid:
      - ea6324ad-7eb5-47df-70b5-ad05da05c7f5
      X-Vcap-Request-Id:
      - fc3b7890-01e5-4076-4ca3-c6dad3dab08c::8d2ea7bd-5925-4726-b41f-e1668b9b3f57
    body:
      encoding: US-ASCII
      string: ! "{\n  \"metadata\": {\n    \"guid\": \"f377c6ab-239f-4290-a478-10e97fc601b7\",\n
        \   \"url\": \"/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7\",\n    \"created_at\":
        \"2015-03-25T16:22:36+00:00\",\n    \"updated_at\": \"2015-03-25T16:24:32+00:00\"\n
        \ },\n  \"entity\": {\n    \"name\": \"paasal-test-app-min-updated\",\n    \"production\":
        false,\n    \"space_guid\": \"d3483f4f[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 03da43a7-21be-4efa-47c1-d48746d06293
      X-Vcap-Request-Id:
      - d5aa46df-dc08-4355-5a98-a8f1f97d5642::c4659891-7fdc-4b2e-b9cf-d25854d9c57f
    body:
      encoding: US-ASCII
      string: ! "{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\":
        null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\":
        {\n        \"guid\": \"eb85a060-81dc-48b4-9ff4-6f3638963464\",\n        \"url\":
        \"/v2/routes/eb85a060-81dc-48b4-9ff4-6f3638963464\",\n        \"created_at\":
        \"2015-03-25T16:22:36+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\":
        {\n        \"host\": \"f377c6ab-239f-4290-a478-10e97fc601b7\",\n        \"domain_guid\":
        \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n
        \       \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n
        \       \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n
        \       \"apps_url\": \"/v2/routes/eb85a060-81dc-48b4-9ff4-6f3638963464/apps\"\n
        \     }\n    }\n  ]\n}"
  recorded_at: Wed, 25 Mar 2015 16:24:33 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 65ff638e-7622-47f2-6b38-a4d6a0c2c7da
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - 838783e4-53ba-4ffd-78ba-6b8a5b4800f4::493dd1a6-d9f6-4210-a89c-0b1f84ce6e0b
    body:
      encoding: US-ASCII
      string: ! "{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n
        \   \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\":
        \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n
        \ },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"
  recorded_at: Wed, 25 Mar 2015 16:24:33 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - db1165b1-4d49-4373-7275-8fae5795117d
      X-Vcap-Request-Id:
      - c5b5724b-e70b-429a-7b4f-cb399af7ab38::e1f904f9-c3d4-47ec-add9-8b03194a94bd
    body:
      encoding: US-ASCII
      string: ! "{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\":
        null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\":
        {\n        \"guid\": \"f377c6ab-239f-4290-a478-10e97fc601b7\",\n        \"url\":
        \"/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7\",\n        \"created_at\":
        \"2015-03-25T16:22:36+00:00\",\n        \"updated_at\": \"2015-03-25T16:24:32[...]
[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 246e02e2-8dc0-4875-4494-a0b3b832bd26
      X-Vcap-Request-Id:
      - ccc0d8d7-4991-433d-53ab-dd1c37122b4f::ec5cdc8d-d45d-44b8-9975-e103fbb427fb
    body:
      encoding: US-ASCII
      string: ! "{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\":
        null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\":
        {\n        \"guid\": \"eb85a060-81dc-48b4-9ff4-6f3638963464\",\n        \"url\":
        \"/v2/routes/eb85a060-81dc-48b4-9ff4-6f3638963464\",\n        \"created_at\":
        \"2015-03-25T16:22:36+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\":
        {\n        \"host\": \"f377c6ab-239f-4290-a478-10e97fc601b7\",\n        \"domain_guid\":
        \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n
        \       \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n
        \       \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n
        \       \"apps_url\": \"/v2/routes/eb85a060-81dc-48b4-9ff4-6f3638963464/apps\"\n
        \     }\n    }\n  ]\n}"
  recorded_at: Wed, 25 Mar 2015 16:24:33 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 6e2a9d73-27e9-4f99-5a1e-c0e08af8aa84
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - f960f46c-33f8-479b-7f0b-9368c99f11cf::7346dcde-b4aa-4905-8dd5-2515052a0091
    body:
      encoding: US-ASCII
      string: ! "{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n
        \   \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\":
        \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n
        \ },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"
  recorded_at: Wed, 25 Mar 2015 16:24:33 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 19822da3-82ac-4fd8-6f7c-a7bcf50d2a81
      X-Vcap-Request-Id:
      - ecb65bd5-20fc-43f0-4cd9-f92d135d9b0c::7ca5f383-4b68-4817-9bd4-4878b9fb61a1
    body:
      encoding: US-ASCII
      string: ! "{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\":
        null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\":
        {\n        \"guid\": \"f377c6ab-239f-4290-a478-10e97fc601b7\",\n        \"url\":
        \"/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7\",\n        \"created_at\":
        \"2015-03-25T16:22:36+00:00\",\n        \"updated_at\": \"2015-03-25T16:24:32[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 664e7be1-c82b-47a8-6be9-8d419d87f983
      X-Vcap-Request-Id:
      - a0c1d02a-cc52-4e8f-739d-61502303a102::2e460112-6327-477a-a72e-5d5f8283f809
    body:
      encoding: US-ASCII
      string: ! "{\n  \"metadata\": {\n    \"guid\": \"f377c6ab-239f-4290-a478-10e97fc601b7\",\n
        \   \"url\": \"/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7\",\n    \"created_at\":
        \"2015-03-25T16:22:36+00:00\",\n    \"updated_at\": \"2015-03-25T16:24:32+00:00\"\n
        \ },\n  \"entity\": {\n    \"name\": \"paasal-test-app-min-updated\",\n    \"production\":
        false,\n    \"space_guid\": \"d3483f4f[...]
[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 7ac1491a-64aa-4ffd-75d7-d48c19023279
      X-Vcap-Request-Id:
      - cd4c3e22-092e-4131-7e18-bc931bcb2d54::d2481e1e-8793-4db7-aa93-accdc368aac6
    body:
      encoding: US-ASCII
      string: ! "{\n  \"metadata\": {\n    \"guid\": \"f377c6ab-239f-4290-a478-10e97fc601b7\",\n
        \   \"url\": \"/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7\",\n    \"created_at\":
        \"2015-03-25T16:22:36+00:00\",\n    \"updated_at\": \"2015-03-25T16:24:32+00:00\"\n
        \ },\n  \"entity\": {\n    \"name\": \"paasal-test-app-min-updated\",\n    \"production\":
        false,\n    \"space_guid\": \"d3483f4f[...]
[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 611d2095-cf34-4459-51d7-0e7887b3b56c
      X-Vcap-Request-Id:
      - c882061e-ab03-4a50-7025-846c7f441409::6a3a053d-6d87-4ec2-8f72-6422436c35d5
    body:
      encoding: US-ASCII
      string: ! "{\n  \"metadata\": {\n    \"guid\": \"f377c6ab-239f-4290-a478-10e97fc601b7\",\n
        \   \"url\": \"/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7\",\n    \"created_at\":
        \"2015-03-25T16:22:36+00:00\",\n    \"updated_at\": \"2015-03-25T16:24:32+00:00\"\n
        \ },\n  \"entity\": {\n    \"name\": \"paasal-test-app-min-updated\",\n    \"production\":
        false,\n    \"space_guid\": \"d3483f4f[...]
[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - c104dc14-c9dc-4b19-5ed2-d8a3fa68bf61
      X-Vcap-Request-Id:
      - c3f04778-c41f-42ab-58ac-c7fefdc251a0::d4045a86-43ee-4071-8df0-a13e94345a85
    body:
      encoding: US-ASCII
      string: ! "{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\":
        null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\":
        {\n        \"guid\": \"eb85a060-81dc-48b4-9ff4-6f3638963464\",\n        \"url\":
        \"/v2/routes/eb85a060-81dc-48b4-9ff4-6f3638963464\",\n        \"created_at\":
        \"2015-03-25T16:22:36+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\":
        {\n        \"host\": \"f377c6ab-239f-4290-a478-10e97fc601b7\",\n        \"domain_guid\":
        \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n
        \       \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n
        \       \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n
        \       \"apps_url\": \"/v2/routes/eb85a060-81dc-48b4-9ff4-6f3638963464/apps\"\n
        \     }\n    }\n  ]\n}"
  recorded_at: Wed, 25 Mar 2015 16:24:34 GMT
[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - de1edb13-4938-45f0-68ef-b4be19a21f1c
      X-Vcap-Request-Id:
      - f6bacb28-75b9-4ab1-7c4a-a38998c96937::69fd93b7-4f74-4518-a189-2f5bdae8fa00
    body:
      encoding: US-ASCII
      string: ! "{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\":
        null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\":
        {\n        \"guid\": \"eb85a060-81dc-48b4-9ff4-6f3638963464\",\n        \"url\":
        \"/v2/routes/eb85a060-81dc-48b4-9ff4-6f3638963464\",\n        \"created_at\":
        \"2015-03-25T16:22:36+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\":
        {\n        \"host\": \"f377c6ab-239f-4290-a478-10e97fc601b7\",\n        \"domain_guid\":
        \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n
        \       \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n
        \       \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n
        \       \"apps_url\": \"/v2/routes/eb85a060-81dc-48b4-9ff4-6f3638963464/apps\"\n
        \     }\n    }\n  ]\n}"
  recorded_at: Wed, 25 Mar 2015 16:24:34 GMT
[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 0ac4d440-a682-4135-56fd-81db7db6ddb1
      X-Vcap-Request-Id:
      - ca46d0d5-0407-409d-4d41-2c729a90a948::388f7336-ae0d-43e5-9a63-fca76d1efb5f
    body:
      encoding: US-ASCII
      string: ! "{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\":
        null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\":
        {\n        \"guid\": \"f377c6ab-239f-4290-a478-10e97fc601b7\",\n        \"url\":
        \"/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7\",\n        \"created_at\":
        \"2015-03-25T16:22:36+00:00\",\n        \"updated_at\": \"2015-03-25T16:24:32[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 7007773d-4aea-46c0-688e-c1743fceb805
      X-Vcap-Request-Id:
      - e4b7b59a-b784-466d-7fb4-d35c2e8065f5::dfe5a2fb-63b8-4891-a6ba-6c0fe0a2dab9
    body:
      encoding: US-ASCII
      string: ! "{\n  \"metadata\": {\n    \"guid\": \"f377c6ab-239f-4290-a478-10e97fc601b7\",\n
        \   \"url\": \"/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7\",\n    \"created_at\":
        \"2015-03-25T16:22:36+00:00\",\n    \"updated_at\": \"2015-03-25T16:24:32+00:00\"\n
        \ },\n  \"entity\": {\n    \"name\": \"paasal-test-app-min-updated\",\n    \"production\":
        false,\n    \"space_guid\": \"d3483f4f[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 10105d9c-99c4-46cb-53c1-35915d02bf9f
      X-Vcap-Request-Id:
      - bc31de1f-94b4-4a24-5bae-f8947ee34e6d::9dd28d7d-2103-4bd0-9c49-240b8d87d557
    body:
      encoding: US-ASCII
      string: ! "{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\":
        null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\":
        {\n        \"guid\": \"eb85a060-81dc-48b4-9ff4-6f3638963464\",\n        \"url\":
        \"/v2/routes/eb85a060-81dc-48b4-9ff4-6f3638963464\",\n        \"created_at\":
        \"2015-03-25T16:22:36+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\":
        {\n        \"host\": \"f377c6ab-239f-4290-a478-10e97fc601b7\",\n        \"domain_guid\":
        \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n
        \       \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n
        \       \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n
        \       \"apps_url\": \"/v2/routes/eb85a060-81dc-48b4-9ff4-6f3638963464/apps\"\n
        \     }\n    }\n  ]\n}"
  recorded_at: Wed, 25 Mar 2015 16:24:35 GMT
[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - a3f8434a-0731-46dc-5c83-74d371e340e8
      X-Vcap-Request-Id:
      - e739a295-398f-469b-64d8-4ff73b5542a8::4d2f2041-66c7-4f52-837c-2131aeea4eb4
    body:
      encoding: US-ASCII
      string: ! "{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\":
        null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\":
        {\n        \"guid\": \"eb85a060-81dc-48b4-9ff4-6f3638963464\",\n        \"url\":
        \"/v2/routes/eb85a060-81dc-48b4-9ff4-6f3638963464\",\n        \"created_at\":
        \"2015-03-25T16:22:36+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\":
        {\n        \"host\": \"f377c6ab-239f-4290-a478-10e97fc601b7\",\n        \"domain_guid\":
        \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n
        \       \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n
        \       \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n
        \       \"apps_url\": \"/v2/routes/eb85a060-81dc-48b4-9ff4-6f3638963464/apps\"\n
        \     }\n    }\n  ]\n}"
  recorded_at: Wed, 25 Mar 2015 16:24:35 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 45919d89-9cbb-4f2e-6fa5-637eb42faa76
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - c752490f-fc17-47e1-5d04-97ec95504966::aad8eb12-aa27-4b10-970b-7707ccf24cb5
    body:
      encoding: US-ASCII
      string: ! "{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n
        \   \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\":
        \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n
        \ },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"
  recorded_at: Wed, 25 Mar 2015 16:24:35 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 3422fbde-c5fc-47df-5f3d-bb4bdf29205a
      X-Vcap-Request-Id:
      - c42ce49a-2ec9-43ef-41cb-b3f3d5dfae15::f00db039-12a7-4198-96ec-97e8f1f4201b
    body:
      encoding: US-ASCII
      string: ! "{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\":
        null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\":
        {\n        \"guid\": \"f377c6ab-239f-4290-a478-10e97fc601b7\",\n        \"url\":
        \"/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7\",\n        \"created_at\":
        \"2015-03-25T16:22:36+00:00\",\n        \"updated_at\": \"2015-03-25T16:24:32[...]
[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 20968122-9fbd-4817-5e93-45cfc3c95f1f
      X-Vcap-Request-Id:
      - d86ead87-376f-410f-5b62-12596dde95af::6ac18a2e-e24e-4e39-a779-8b550930f3ba
    body:
      encoding: US-ASCII
      string: ! "{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\":
        null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\":
        {\n        \"guid\": \"eb85a060-81dc-48b4-9ff4-6f3638963464\",\n        \"url\":
        \"/v2/routes/eb85a060-81dc-48b4-9ff4-6f3638963464\",\n        \"created_at\":
        \"2015-03-25T16:22:36+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\":
        {\n        \"host\": \"f377c6ab-239f-4290-a478-10e97fc601b7\",\n        \"domain_guid\":
        \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n
        \       \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n
        \       \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n
        \       \"apps_url\": \"/v2/routes/eb85a060-81dc-48b4-9ff4-6f3638963464/apps\"\n
        \     }\n    }\n  ]\n}"
  recorded_at: Wed, 25 Mar 2015 16:24:36 GMT
[...]
[...]
