---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - c76cb86e-1f65-48f8-7df3-405ea34453bf
      X-Vcap-Request-Id:
      - 793e609e-761f-4ed7-7bb6-230b8869deee::0bfdb341-ef56-4909-a814-ab210399a803
    body:
      encoding: US-ASCII
      string: ! '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Wed, 25 Mar 2015 16:24:46 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - 325e49b6-8246-4d77-7370-3679d26af82b, 013f9653-5070-491d-7717-ce859d0f9227
    body:
      encoding: US-ASCII
      string: ! '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"8a94a53e-5c21-48d4-a6e2-66ff3e07a3b1"}'
  recorded_at: Wed, 25 Mar 2015 16:24:47 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - f8948762-e607-45d5-5b68-af443a803c44
      X-Vcap-Request-Id:
      - fcf12c34-120c-492f-757e-b1a9c67e7b8b::8f9fce5b-7874-49e6-a341-1f73143a2dac
    body:
      encoding: US-ASCII
      string: ! "{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\":
        null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\":
        {\n        \"guid\": \"f377c6ab-239f-4290-a478-10e97fc601b7\",\n        \"url\":
        \"/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7\",\n        \"created_at\":
        \"2015-03-25T16:22:36+00:00\",\n        \"updated_at\": \"2015-03-25T16:24:46+00:00\"\n
        \     },\n      \"entity\": {\n        \"name\": \"paasal-test-app-min-updated\",\n
        \       \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n
        \       \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\":
        \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\":
        {\n          \"our_test_var_key\": \"our_test_var_value\"\n        },\n        \"memory\":
        256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\":
        \"STOPPED\",\n        \"version\": \"7377f5c9-4b2b-4dad-93d6-fa6f8cdedd67\",\n
        \       \"command\": null,\n        \"console\": false,\n        \"debug\":
        null,\n        \"staging_task_id\": \"3525e814ec48490b8efb9a2401b4a53c\",\n
        \       \"package_state\": \"STAGED\",\n        \"health_check_timeout\":
        null,\n        \"staging_failed_reason\": null,\n        \"docker_image\":
        null,\n        \"package_updated_at\": \"2015-03-25T16:23:10+00:00\",\n        \"detected_start_command\":
        \"node server.js\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n
        \       \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n
        \       \"events_url\": \"/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7/events\",\n
        \       \"service_bindings_url\": \"/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7/service_bindings\",\n
        \       \"routes_url\": \"/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7/routes\"\n
        \     }\n    }\n  ]\n}"
  recorded_at: Wed, 25 Mar 2015 16:24:47 GMT
- request:
    method: head
    uri: https://api.10.244.0.34.xip.io/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7/download
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - ! '"5512e0ee-20e7a0"'
      Last-Modified:
      - Wed, 25 Mar 2015 16:23:10 GMT
      X-Cf-Requestid:
      - 5b7d8de2-7862-4e31-4f82-89368914e4de
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 25 Mar 2015 16:24:47 GMT
- request:
    method: put
    uri: https://api.10.244.0.34.xip.io/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7
    body:
      encoding: UTF-8
      string: ! '{"state":"STOPPED"}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - cfc9f9bc-7989-43d1-6390-edc08[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 657c7cfb-c050-4d93-767d-8e1869502b9b
      X-Vcap-Request-Id:
      - 7c3330a2-5b40-42d4-4735-77c17f0d8197::b2755f1c-6968-420f-8911-4613eb67e986
    body:
      encoding: US-ASCII
      string: ! "{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\":
        null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\":
        {\n        \"guid\": \"eb85a060-81dc-48b4-9ff4-6f3638963464\",\n        \"url\":
        \"/v2/routes/eb85a060-81dc-48b4-9ff4-6f3638963464\",\n        \"created_at\":
        \"2015-03-25T16:22:36+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\":
        {\n        \"host\": \"f377c6ab-239f-4290-a478-10e97fc601b7\",\n        \"domain_guid\":
        \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n
        \       \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n
        \       \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n
        \       \"apps_url\": \"/v2/routes/eb85a060-81dc-48b4-9ff4-6f3638963464/apps\"\n
        \     }\n    }\n  ]\n}"
  recorded_at: Wed, 25 Mar 2015 16:24:47 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - aa8167aa-223d-47fd-6e9c-2a98737aae1c
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - 2f3746f1-5fb5-4422-493b-fec75e60fb9e::13548142-6663-41d7-9703-b17d511bffbe
    body:
      encoding: US-ASCII
      string: ! "{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n
        \   \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\":
        \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n
        \ },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"
  recorded_at: Wed, 25 Mar 2015 16:24:47 GMT
[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 1958e5d6-7872-45a8-5a18-cc77c7e235b1
      X-Vcap-Request-Id:
      - c01c81de-c83c-4b1d-67e7-19b1c0119eef::745b341d-afb9-4182-bcda-8605cd0044fe
    body:
      encoding: US-ASCII
      string: ! "{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\":
        null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\":
        {\n        \"guid\": \"eb85a060-81dc-48b4-9ff4-6f3638963464\",\n        \"url\":
        \"/v2/routes/eb85a060-81dc-48b4-9ff4-6f3638963464\",\n        \"created_at\":
        \"2015-03-25T16:22:36+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\":
        {\n        \"host\": \"f377c6ab-239f-4290-a478-10e97fc601b7\",\n        \"domain_guid\":
        \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n
        \       \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n
        \       \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n
        \       \"apps_url\": \"/v2/routes/eb85a060-81dc-48b4-9ff4-6f3638963464/apps\"\n
        \     }\n    }\n  ]\n}"
  recorded_at: Wed, 25 Mar 2015 16:24:47 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 0bb746c4-5aa7-498f-55bb-f851fc42f9c7
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - 981ec4ec-fcdc-4fcb-5af3-b2730ba9b07c::66193007-48b8-4e61-8644-c9fd626a3d95
    body:
      encoding: US-ASCII
      string: ! "{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n
        \   \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\":
        \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n
        \ },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"
  recorded_at: Wed, 25 Mar 2015 16:24:47 GMT
recorded_with: VCR 2.9.3
