---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 75520969-eca9-4fbb-56a6-f9eb88e3833e
      X-Vcap-Request-Id:
      - 2e6add18-15f0-40ae-50c6-279e5b2e40cb::a8507b75-31ef-4fef-a797-4293c644c39c
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Thu, 19 Mar 2015 16:34:31 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - dede347c-0b83-48e0-6314-00b7ed947f59, 9a321a9b-c55b-438a-41b9-cbaf630ed212
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"29c3746a-4b58-426c-8c33-56f8b797e7d7"}'
  recorded_at: Thu, 19 Mar 2015 16:34:32 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 8c0de987-4e6f-4449-78d0-a85770f6adec
      X-Vcap-Request-Id:
      - ebc48811-321b-45be-7ae4-9141ee93662b::6a1c99d2-8018-4867-bbf1-bac8cccecf55
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "2f12c8fe-19b7-4bc2-aeba-062177502ce3",
                "url": "/v2/apps/2f12c8fe-19b7-4bc2-aeba-062177502ce3",
                "created_at": "2015-03-19T16:33:05+00:00",
                "updated_at": "2015-03-19T16:34:30+00:00"
              },
              "entity": {
                "name": "paasal-test-app-all-updated",
                "production": false,
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
                "buildpack": "nodejs_buildpack",
                "detected_buildpack": null,
                "environment_json": {
                  "our_test_var_key": "our_updated_test_var_value",
                  "our_test_var_key2": "our_test_var_value2"
                },
                "memory": 256,
                "instances": 1,
                "disk_quota": 1024,
                "state": "STARTED",
                "version": "2ca09edd-b2c1-47e7-afd4-c1b352cc8706",
                "command": null,
                "console": false,
                "debug": null,
                "staging_task_id": "e61b1097b0694ac0bc84a9ffc0d0e9fa",
                "package_state": "STAGED",
                "health_check_timeout": null,
                "staging_failed_reason": null,
                "docker_image": null,
                "package_updated_at": "2015-03-19T16:33:47+00:00",
                "detected_start_command": "node server.js",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
                "events_url": "/v2/apps/2f12c8fe-19b7-4bc2-aeba-062177502ce3/events",
                "service_bindings_url": "/v2/apps/2f12c8fe-19b7-4bc2-aeba-062177502ce3/service_bindings",
                "routes_url": "/v2/apps/2f12c8fe-19b7-4bc2-aeba-062177502ce3/routes"
              }
            }
          ]
        }
  recorded_at: Thu, 19 Mar 2015 16:34:32 GMT
- request:
    method: head
    uri: https://api.10.244.0.34.xip.io/v2/apps/2f12c8fe-19b7-4bc2-aeba-062177502ce3/download
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"550afa6b-20e7a0"'
      Last-Modified:
      - Thu, 19 Mar 2015 16:33:47 GMT
      X-Cf-Requestid:
      - 50390690-a38c-4402-415e-e3d43644e94f
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 19 Mar 2015 16:34:32 GMT
- request:
    method: put
    uri: https://api.10.244.0.34.xip.io/v2/apps/2f12c8fe-19b7-4bc2-aeba-062177502ce3
    body:
      encoding: UTF-8
      string: '{"state":"STOPPED"}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - fc1fac95-d046-44b5-7ed6-22064ebbb9df
      X-Vcap-Request-Id:
      - cabcc4fb-24fb-494e-4f71-ab4417861d79::069092a4-596d-45c7-ad1e-06ca2850e486
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "2f12c8fe-19b7-4bc2-aeba-062177502ce3",
            "url": "/v2/apps/2f12c8fe-19b7-4bc2-aeba-062177502ce3",
            "created_at": "2015-03-19T16:33:05+00:00",
            "updated_at": "2015-03-19T16:34:32+00:00"
          },
          "entity": {
            "name": "paasal-test-app-all-updated",
            "production": false,
            "space_guid[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/2f12c8fe-19b7-4bc2-aeba-062177502ce3/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 55891ccd-baac-40d7-5e49-aa87d78486ef
      X-Vcap-Request-Id:
      - 185c737a-f803-4010-477c-c49672f910dc::b272cc4b-7881-40fe-9d6d-d2ca041c5458
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 3,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "f054f24d-1eb1-40c6-ada4-71f373f401c1",
                "url": "/v2/routes/f054f24d-1eb1-40c6-ada4-71f373f401c1",
                "created_at": "2015-03-19T16:33:06+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "2f12c8fe-19b7-4bc2-aeba-062177502ce3",
                "domain_guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "domain_url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "apps_url": "/v2/routes/f054f24d-1eb1-40c6-ada4-71f373f401c1/apps"
              }
            },
            {
              "metadata": {
                "guid": "8c3c1459-3ee2-4c61-a969-d389af4cd042",
                "url": "/v2/routes/8c3c1459-3ee2-4c61-a969-d389af4cd042",
                "created_at": "2015-03-19T16:33:33+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "cf-bosh-local",
                "domain_guid": "49388e38-4f2e-427a-ab22[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 53240068-65b6-4c5e-519e-189e661e10bc
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - c01bb26d-af97-42fe-6798-7ee880fc3280::4def382f-9b68-4413-a78a-12340f117fe0
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Thu, 19 Mar 2015 16:34:32 GMT
[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 1b102937-46e6-4f6e-65cb-deadf7bb8094
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - 5f64d362-0c8e-46d3-4e4f-502d12a0653f::27a432a4-553f-49f0-9768-5e808ba27601
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Thu, 19 Mar 2015 16:34:32 GMT
recorded_with: VCR 2.9.3
