{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["21a8618b-0a13-43f6-4387-698ccd850dbf"], "X-Vcap-Request-Id":["b5973bd1-8eb9-4c8e-422d-46e179f5aabc::5463f13d-1fc1-4eb0-b2c7-ab623c921623"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:29:43 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["a6fbc4b3-ea82-4b9a-635c-baace921ed56, bb79c8d7-5bc9-4463-476a-1de468c1ea46"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"76dc5f6f-5938-4822-9563-2a5c1b2bf71d\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:29:43 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["9e169cfc-c65f-46c3-657c-a82709542803"], "X-Vcap-Request-Id":["1473fcb8-ba51-4a59-5fce-79c3ac11091b::5520daab-92fb-456e-b939-b251ee39e4a4"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"b45e0373-49a8-4e70-b38f-76aeae572a16\",\n        \"url\": \"/v2/apps/b45e0373-49a8-4e70-b38f-76aeae572a16\",\n        \"created_at\": \"2015-04-24T08:29:25+00:00\",\n        \"updated_at\": \"2015-04-24T08:29:43+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_updated_test_var_value\",\n          \"our_test_var_key2\": \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"a59f1dfe-5f85-4b79-b618-18585cbdecfa\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": null,\n        \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/b45e0373-49a8-4e70-b38f-76aeae572a16/events\",\n        \"service_bindings_url\": \"/v2/apps/b45e0373-49a8-4e70-b38f-76aeae572a16/service_bindings\",\n        \"routes_url\": \"/v2/apps/b45e0373-49a8-4e70-b38f-76aeae572a16/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:29:43 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/b45e0373-49a8-4e70-b38f-76aeae572a16/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["3c82a95e-da90-4b9c-6c07-b506f6bb49ee"], "X-Vcap-Request-Id":["9b08af33-4672-48ce-7c14-fe6a1c424482::30f3068c-2781-4b10-9486-70cb2ad45641"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 3,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"f7cfe393-0283-43eb-999e-3cfd1ee94446\",\n        \"url\": \"/v2/routes/f7cfe393-0283-43eb-999e-3cfd1ee94446\",\n        \"created_at\": \"2015-04-24T08:29:25+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"b45e0373-49a8-4e70-b38f-76aeae572a16\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/f7cfe393-0283-43eb-999e-3cfd1ee94446/apps\"\n      }\n    },\n    {\n      \"metadata\": {\n        \"guid\": \"6688cd4b-4594-482c-98e0-93a555931379\",\n        \"url\": \"/v2/routes/6688cd4b-4594-482c-98e0-93a555931379\",\n        \"created_at\": \"2015-04-24T08:29:42+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"cf-bosh-local\",\n        \"domain_guid\": \"37076f61-480e-4dc3-b301-5b8c8934ce4d\",\n        \"space_guid\": \"d3483f4f-6706[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["8ec6ddd4-fbd9-4200-4db0-787c7fe62c5f"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["a48cc1f9-fc1b-4bb9-4c6d-0fc5273335ec::aae87535-8671-4deb-9b39-71fbd7b20978"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:29:43 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/37076f61-480e-4dc3-b301-5b8c8934ce4d","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["52f36c7b-43a5-4023-79e5-8341b16ba5d1"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["4350c3d6-053a-4f36-7dcc-d4e2cca339fc::bc56cd9c-3537-49cf-8db4-f6540abf6e9e"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"37076f61-480e-4dc3-b301-5b8c8934ce4d\",\n    \"url\": \"/v2/domains/37076f61-480e-4dc3-b301-5b8c8934ce4d\",\n    \"created_at\": \"2015-04-20T09:21:15+00:00\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"name\": \"adomainthatishopefullynotusedontheplatform.de\",\n    \"owning_organization_guid\": \"d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n    \"owning_organization_url\": \"/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n    \"spaces_url\": \"/v2/domains/37076f61-480e-4dc3-b301-5b8c8934ce4d/spaces\"\n  }\n}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:29:43 GMT"},[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/37076f61-480e-4dc3-b301-5b8c8934ce4d","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["0a4f310e-9f4c-4cbf-47db-cf7b48ebc501"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["8db78ebd-c8a0-4b14-7e31-9d8cf2e1630b::af94c063-37b5-427c-84a7-f71f23e4614a"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"37076f61-480e-4dc3-b301-5b8c8934ce4d\",\n    \"url\": \"/v2/domains/37076f61-480e-4dc3-b301-5b8c8934ce4d\",\n    \"created_at\": \"2015-04-20T09:21:15+00:00\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"name\": \"adomainthatishopefullynotusedontheplatform.de\",\n    \"owning_organization_guid\": \"d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n    \"owning_organization_url\": \"/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n    \"spaces_url\": \"/v2/domains/37076f61-480e-4dc3-b301-5b8c8934ce4d/spaces\"\n  }\n}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:29:44 GMT"}],"recorded_with":"VCR 2.9.3"}