{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/04/24 01:00:25 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:00:44 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated/addons/invalid_service","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":null},"headers":{"Content-Type":["application/json"], "RateLimit-Remaining":["2389"], "Status":["404 Not Found"]},"body":{"encoding":"UTF-8","string":"{\"resource\":\"addon\",\"id\":\"not_found\",\"message\":\"Couldn't find that add-on.\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:00:45 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated/addons","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Expansion":["addon_service, plan"], "Content-Range":["name mongolab..mongolab"], "Content-Type":["application/json"], "ETag":["\"74d3e4c70b36b9be16bcd1a1f8441150\""], "Last-Modified":["Fri, 24 Apr 2015 07:36:15 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2387"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"config_vars\":[\"MONGOLAB_URI\"],\"created_at\":\"2015-04-24T07:36:15Z\",\"id\":\"17e83ec3-f000-4d39-bb2f-0fa5c34660e0\",\"name\":\"mongolab\",\"addon_service\":{\"id\":\"3dfb031f-23f4-4123-856f-5cb95ecdadc9\",\"name\":\"mongolab\"},\"plan\":{\"id\":\"8e6163ec-a935-4738-a0f4-60867f4f86cb\",\"name\":\"mongolab:sandbox\"},\"app\":{\"id\":\"d449a2b1-4b0a-4d78-a1d9-0eb08e7ae8d6\",\"name\":\"paasal-test-app-all-updated\"},\"provider_id\":\"resource9864674@heroku.com\",\"updated_at\":\"2015-04-24T07:36:15Z\",\"web_url\":\"https://addons-sso.heroku.com/apps/paasal-test-app-all-updated/addons/9d9dd5fb-134b-4415-92a0-50d3646ee24b\"}]"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:00:46 GMT"}],"recorded_with":"VCR 2.9.3"}