{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/04/28 12:55:45 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:53:11 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated/addons","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Expansion":["addon_service, plan"], "Content-Range":["name soaring-coyly-7298..soaring-coyly-7298"], "Content-Type":["application/json"], "ETag":["\"3f7e3974e04ebe5870af69fd6b8c937d\""], "Last-Modified":["Thu, 14 May 2015 06:52:20 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2363"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"config_vars\":[\"MONGOLAB_URI\"],\"created_at\":\"2015-05-14T06:52:19Z\",\"id\":\"956878cd-7670-44ab-9700-64c3ba07520f\",\"name\":\"soaring-coyly-7298\",\"addon_service\":{\"id\":\"3dfb031f-23f4-4123-856f-5cb95ecdadc9\",\"name\":\"mongolab\"},\"plan\":{\"id\":\"8e6163ec-a935-4738-a0f4-60867f4f86cb\",\"name\":\"mongolab:sandbox\"},\"app\":{\"id\":\"1f35201d-1363-4ac1-9b8a-db35bf92e698\",\"name\":\"paasal-test-app-all-updated\"},\"provider_id\":\"heroku_app36839680\",\"updated_at\":\"2015-05-14T06:52:20Z\",\"web_url\":\"https://addons-sso.heroku.com/apps/paasal-test-app-all-updated/addons/956878cd-7670-44ab-9700-64c3ba07520f\"}]"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:53:12 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/addon-services/3dfb031f-23f4-4123-856f-5cb95ecdadc9","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"d03a7e1c21d670ee815dc6c323e18af5\""], "Last-Modified":["Thu, 14 May 2015 06:52:20 GMT"], "RateLimit-Remaining":["2362"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"created_at\":\"2011-04-01T06:41:39Z\",\"human_name\":\"MongoLab\",\"id\":\"3dfb031f-23f4-4123-856f-5cb95ecdadc9\",\"name\":\"mongolab\",\"state\":\"ga\",\"updated_at\":\"2015-05-14T06:52:20Z\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:53:12 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/addon-services/3dfb031f-23f4-4123-856f-5cb95ecdadc9/plans","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["name dedicated-cluster-m1..shared-single-small"], "Content-Type":["application/json"], "ETag":["\"b1c7aef3681db1fb4d1e0641d12c852c\""], "Last-Modified":["Fri, 05 Dec 2014 21:29:58 GMT"], "RateLimit-Remaining":["2361"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"created_at\":\"2014-12-05T19:44:24Z\",\"default\":false,\"description\":\"MongoLab Dedicated Cluster M1\",\"human_name\":\"Dedicated Cluster M1\",\"id\":\"643a604c-868a-4bf1-8119-5dd9a4a92b51\",\"name\":\"mongolab:dedicated-cluster-m1\",\"price\":{\"cents\":24000,\"unit\":\"month\"},\"state\":\"ga\",\"updated_at\":\"2014-12-05T21:29:58Z\"},{\"created_at\":\"2014-12-05T19:48:46Z\",\"default\":false,\"description\":\"MongoLab Dedicated Cluster M2\",\"human_name\":\"Dedicated Cluster M2\",\"id\":\"bad337f7-dfba-43d8-ab65-04ee6cc82a65\",\"name\":\"mongolab:dedicated-cluster-m2\",\"price\":{\"cents\":48000,\"unit\":\"month\"},\"state\":\"ga\",\"updated_at\":\"2014-12-05T21:29:58Z\"},{\"created_at\":\"2014-12-05T19:49:51Z\",\"default\":false,\"description\":\"MongoLab [...]
{"request":{"method":"get","uri":"https://api.heroku.com/apps/1f35201d-1363-4ac1-9b8a-db35bf92e698/config-vars","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"c896b17284e1f28943bd95636178b28e\""], "Last-Modified":["Thu, 14 May 2015 06:52:20 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read-protected write-protected"], "RateLimit-Remaining":["2360"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"our_test_var_key\":\"our_updated_test_var_value\",\"our_test_var_key2\":\"our_test_var_value2\",\"MONGOLAB_URI\":\"mongodb://heroku_app36839680:ok9t27o3oc6267hslomeutol69@ds043981.mongolab.com:43981/heroku_app36839680\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:53:14 GMT"}],"recorded_with":"VCR 2.9.3"}