{"http_interactions":[{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["32e2a9b2-1c37-42f3-6ec3-ac2618fff305"], "X-Vcap-Request-Id":["7f3b7f5b-5a18-4bdb-59fb-af4098ed3c64::08dce6e2-cacb-4554-bec0-2e569a31d259"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"https://login.run.pivotal.io\",\"token_endpoint\":\"https://uaa.run.pivotal.io\",\"min_cli_version\":null,\"min_recommended_cli_version\":null,\"api_version\":\"2.41.0\",\"app_ssh_endpoint\":\"ssh.run.pivotal.io:2222\",\"app_ssh_host_key_fingerprint\":\"e7:13:4e:32:ee:39:62:df:54:41:d7:f7:8b:b2:a7:6b\",\"app_ssh_oauth_client\":\"ssh-proxy\",\"routing_endpoint\":\"https://api.run.pivotal.io/routing\",\"logging_endpoint\":\"wss://loggregator.run.pivotal.io:443\",\"doppler_logging_endpoint\":\"wss://doppler.run.pivotal.io:443\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 01:24:11 GMT"},{"request":{"method":"post","uri":"https://login.run.pivotal.io/oauth/token?grant_type=password&password=__pivotal:password__&username=__pivotal:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["9643c10b-a8c3-461a-7a08-6f3db6088287"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"cloud_controller.read password.write cloud_controller.write openid uaa.user\",\"jti\":\"e7a0a924-1d9f-48ed-bb91-d059af7f76d4\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 01:24:13 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/apps?q=name%3Anucleus-test-app-min-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["bc12285f-b712-423a-4bfd-e15c7a6b03d7"], "X-Vcap-Request-Id":["68d055f0-0e6e-4f44-61f6-b639f5f03f32::536403aa-26ec-4250-b781-75c88151fe88"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"1291fd16-6280-4eb3-8e14-9e61fe71bec3\",\n        \"url\": \"/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3\",\n        \"created_at\": \"2015-10-23T00:00:45Z\",\n        \"updated_at\": \"2015-10-23T01:23:51Z\"\n      },\n      \"entity\": {\n        \"name\": \"nucleus-test-app-min-updated\",\n        \"production\": false,\n        \"space_guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"stack_guid\": \"86205f38-84fc-4bc2-b2b8-af7f55669f04\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": \"\",\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_test_var_value\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"2a0ed6ca-fcce-4a15-8ddd-f919729a3571\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": \"c4f2cd17b31644f9a47891ac517a95d5\",\n        \"package_state\": \"STAGED\",\n        \"health_check_type\": \"port\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"staging_failed_description\": null,\n        \"diego\": true,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-10-23T01:21:26Z\",\n        \"detected_start_command\": \"node server.js\",\n        \"enable_ssh\": true,\n        \"docker_credentials_json\": {\n          \"redacted_message\": \"[PRIVATE DATA HIDDEN]\"\n        },\n        \"space_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"stack_url\": \"/v2/stacks/86205f38-84fc-4bc2-b2b8-af7f55669f04\",\n        \"events_url\": \"/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3/events\",\n        \"service_bindings_url\": \"/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3/service_bindings\",\n        \"routes_url\": \"/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 01:24:13 GMT"},{"request":{"method":"head","uri":"https://api.run.pivotal.io/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3/download","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":302,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Location":["https://go-cloudfoundry-com-cc-packages.s3.amazonaws.com/12/91/1291fd16-6280-4eb3-8e14-9e61fe71bec3?X-Amz-Expires=3600&X-Amz-Date=20151023T012359Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIE6ZRHCA76CZLWGQ/20151023/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=2ed6748c00c4b82bafa671fa6178abd033e4bd1cf1fa5d39590f5fb8efe46f5d"], "X-Cf-Requestid":["7815d631-f329-4840-5c6e-d903b53d01c2"], "X-Vcap-Request-Id":["6eea34e8-30ab-4091-4bd7-87d13ac37d8e::28140266-40b6-4188-af61-2d21bd0f1ed8"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 01:24:14 GMT"},{"request":{"method":"put","uri":"https://api.run.pivotal.io/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3","body":{"encoding":"UTF-8","string":"{\"state\":\"STOPPED\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["32712197-1237-43db-50d4-13015088859f"], "X-Vcap-Request-Id":["de5ff6b4-b748-4563-4045-dabb344e[...]
{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/apps/1291fd16-6280-4eb3-8e14-9e61fe71bec3/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["c18ae051-7107-4837-41ce-1982ea7309ca"], "X-Vcap-Request-Id":["c4e6e62e-f3ac-4d3f-4ec0-8dc62b4b8e8d::155c0fa3-4b51-42d7-af4e-aa0e4c222191"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"e962b67c-23ef-46a2-8dde-f6e25598c359\",\n        \"url\": \"/v2/routes/e962b67c-23ef-46a2-8dde-f6e25598c359\",\n        \"created_at\": \"2015-10-23T00:00:53Z\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"1291fd16-6280-4eb3-8e14-9e61fe71bec3\",\n        \"path\": \"\",\n        \"domain_guid\": \"fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n        \"space_guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"service_instance_guid\": null,\n        \"port\": 0,\n        \"domain_url\": \"/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n        \"space_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"apps_url\": \"/v2/routes/e962b67c-23ef-46a2-8dde-f6e25598c359/apps\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 01:24:16 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["89fec68c-06e2-4fbe-6aa6-5a858f851064"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["2d723642-b721-49d9-7d92-c1e80a0a7797::0d11eb71-c0f7-4884-a84e-5099e0bdfc7c"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n    \"url\": \"/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n    \"created_at\": \"2013-05-04T00:29:46Z\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"name\": \"cfapps.io\",\n    \"router_group_guid\": null\n  }\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 01:24:16 GMT"},[...]
{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["d7c69ae4-1f5a-42e6-5c0e-d4bfbe4dfd86"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["cbc0b241-ffbb-46df-4abf-a32f6fb30f79::22413c8e-b973-4be0-8268-1cb5e2e7b756"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n    \"url\": \"/v2/domains/fb6bd89f-2ed9-49d4-9ad1-97951a573135\",\n    \"created_at\": \"2013-05-04T00:29:46Z\",\n    \"updated_at\": null\n  },\n  \"entity\": {\n    \"name\": \"cfapps.io\",\n    \"router_group_guid\": null\n  }\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 01:24:19 GMT"}],"recorded_with":"VCR 2.9.3"}