{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["9aad5db1-e824-469b-7a94-92ff8d42a339"], "X-Vcap-Request-Id":["68f244a0-9572-4498-7fe8-9a6ca6c46c3c::6c2a6f62-c478-4103-8994-f256cf7be622"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:21:12 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["0f81be02-2104-4bb3-7599-5b0b5fab2fdf, 8c8a5065-de32-48bd-49d7-951f5b42e5c2"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"375a5fa6-6082-46c5-85b7-bcbbe6e2d943\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:21:12 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["beae1c7c-adee-4c54-6543-04370dbcdc46"], "X-Vcap-Request-Id":["24f67c60-9e0b-47af-5999-834af789040b::8e50c90b-a6b6-4bbb-89ab-2f44ad050211"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"279b8ee3-07c2-4bef-b47c-992e10e91629\",\n        \"url\": \"/v2/apps/279b8ee3-07c2-4bef-b47c-992e10e91629\",\n        \"created_at\": \"2015-06-27T12:13:25+00:00\",\n        \"updated_at\": \"2015-06-27T12:15:18+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-min-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_test_var_value\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"03c409f7-0487-4ce2-adf6-407140e38e58\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": \"8187faaac9914358824b195cb78ad447\",\n        \"package_state\": \"STAGED\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-06-27T12:13:58+00:00\",\n        \"detected_start_command\": \"node server.js\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/279b8ee3-07c2-4bef-b47c-992e10e91629/events\",\n        \"service_bindings_url\": \"/v2/apps/279b8ee3-07c2-4bef-b47c-992e10e91629/service_bindings\",\n        \"routes_url\": \"/v2/apps/279b8ee3-07c2-4bef-b47c-992e10e91629/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:21:12 GMT"},{"request":{"method":"head","uri":"https://api.10.244.0.34.xip.io/v2/apps/279b8ee3-07c2-4bef-b47c-992e10e91629/download","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Etag":["\"558e9386-20e7d0\""], "Last-Modified":["Sat, 27 Jun 2015 12:13:58 GMT"], "X-Cf-Requestid":["da4971f9-6988-4c62-7940-59fd0928b3fd"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:21:12 GMT"},{"request":{"method":"put","uri":"https://api.10.244.0.34.xip.io/v2/apps/279b8ee3-07c2-4bef-b47c-992e10e91629","body":{"encoding":"UTF-8","string":"{\"state\":\"STOPPED\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["6f43d694-15a8-4e56-41e4-44c72c3cfb19"], "X-Vcap-Request-Id":["99ac337b-59cc-4dec-4983-97c6[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/279b8ee3-07c2-4bef-b47c-992e10e91629/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["2d0c49e9-81dd-4a60-723e-76f4cf7455a5"], "X-Vcap-Request-Id":["5db135ca-afb7-448f-756f-3f3b539018ef::52cb534c-e8f7-4af0-8bdd-b12f18d0fedd"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"f95f35b0-e06a-4338-8286-42d3bf81fb51\",\n        \"url\": \"/v2/routes/f95f35b0-e06a-4338-8286-42d3bf81fb51\",\n        \"created_at\": \"2015-06-27T12:13:25+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"279b8ee3-07c2-4bef-b47c-992e10e91629\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/f95f35b0-e06a-4338-8286-42d3bf81fb51/apps\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:21:12 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["b63e3139-e5ff-4216-658f-8700fb885ade"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["f97a90ee-629c-47af-771c-ae28454062b3::083b09e3-03a2-4b82-9836-0bfb7a33481b"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:21:12 GMT"},[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["89b7a2e9-7c9f-48b4-6c7b-d252b6adf8c2"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["5d8ef1cc-c085-492d-40ca-5487108987db::fb035721-314b-4aec-9a25-ec48eef404ec"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:21:12 GMT"}],"recorded_with":"VCR 2.9.3"}