{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["92eea29c-4f5f-432b-7429-2e01e514ff86"], "X-Vcap-Request-Id":["5d5c4927-78cb-4100-70d9-f77d7522d7b8::311bd51d-e76b-4e3a-9da5-004d46de443a"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:40:13 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["6e7e414e-1a8d-4956-59f0-07f47b25c257, 0255291a-b9cc-42b9-6955-e4d3a6194761"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"e417373d-479b-4dea-a9bd-663b6c82f138\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:40:13 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["aead58a6-83e9-4a23-7bd5-e9bac955be98"], "X-Vcap-Request-Id":["f90225c0-dc3f-41ef-6e2d-4446d20cda31::17e76487-b236-4a1f-b027-69c464c08d5c"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"03a567ca-5b77-4b7c-a73a-a008ca5dad17\",\n        \"url\": \"/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17\",\n        \"created_at\": \"2015-05-14T06:39:23+00:00\",\n        \"updated_at\": \"2015-05-14T06:40:13+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_updated_test_var_value\",\n          \"our_test_var_key2\": \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"6097d411-dc31-4146-a328-9ecc14712905\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": \"57e981ab92034ff7bd5f1406da9108b6\",\n        \"package_state\": \"STAGED\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-05-14T06:39:55+00:00\",\n        \"detected_start_command\": \"node server.js\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17/events\",\n        \"service_bindings_url\": \"/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17/service_bindings\",\n        \"routes_url\": \"/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:40:13 GMT"},{"request":{"method":"head","uri":"https://api.10.244.0.34.xip.io/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17/download","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Etag":["\"5554433b-20e7d0\""], "Last-Modified":["Thu, 14 May 2015 06:39:55 GMT"], "X-Cf-Requestid":["48ac10c1-4311-4193-4f66-b4a913544270"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:40:13 GMT"},{"request":{"method":"put","uri":"https://api.10.244.0.34.xip.io/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17","body":{"encoding":"UTF-8","string":"{\"state\":\"STOPPED\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["343c2650-451a-41ab-48ff-11f6ce0d2694"], "X-Vcap-Request-Id":["d38467f3-13f7-44d2-5189-7aa8[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["63c57de9-856f-4e85-401a-31530b660a88"], "X-Vcap-Request-Id":["080a2064-11b4-4bd3-49b8-56fe3e001d39::fb21cebb-2ee4-4455-801b-3c9c971cfc2e"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 3,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"ae10e852-60a4-4ad2-b452-82beb14b6f03\",\n        \"url\": \"/v2/routes/ae10e852-60a4-4ad2-b452-82beb14b6f03\",\n        \"created_at\": \"2015-05-14T06:39:23+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"03a567ca-5b77-4b7c-a73a-a008ca5dad17\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/ae10e852-60a4-4ad2-b452-82beb14b6f03/apps\"\n      }\n    },\n    {\n      \"metadata\": {\n        \"guid\": \"42d1a5d7-49e3-45fb-a37b-61708056d3c3\",\n        \"url\": \"/v2/routes/42d1a5d7-49e3-45fb-a37b-61708056d3c3\",\n        \"created_at\": \"2015-05-14T06:39:40+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"cf-bosh-local\",\n        \"domain_guid\": \"37076f61-480e-4dc3-b301-5b8c8934ce4d\",\n        \"space_guid\": \"d3483f4f-6706[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["dcd2bfc3-5b4a-4cb6-5e97-8ed0ec50a798"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["1e3d0f30-8ef5-4ddd-6d8e-f154b9472ffb::7ba6bdec-6628-4afd-a929-34d878871943"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:40:13 GMT"},[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["b7f07d92-5b50-4d6a-5545-364fcf8412e5"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["85fae212-f5e0-41c4-7366-a031fd0b5ce9::4f286376-4e68-4981-aae2-15f796db5dbb"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:40:14 GMT"}],"recorded_with":"VCR 2.9.3"}