{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["16b02a2b-921b-47b3-65ee-555e36d13435"], "X-Vcap-Request-Id":["d05f8b1f-cd6c-4a3d-6991-1d76535e5e1a::c9f40bb1-9aed-42cc-affe-e1388c6c7fd7"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:20:09 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["08b33f5b-1756-444c-6845-0d481a9fda1c, 2ee50e99-10f7-4a76-70b6-7834a1ebd29c"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"2bb72f38-77c0-4a89-8923-bdc5a636b75d\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:20:09 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["7450a9ec-08a3-48ec-6777-9c88fb7d3316"], "X-Vcap-Request-Id":["4485fc16-3ffe-4072-533d-3644008cc6b2::d9065345-0e5e-434f-a458-1938dc27aa10"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"6a953469-659c-47e2-8419-e496be82866f\",\n        \"url\": \"/v2/apps/6a953469-659c-47e2-8419-e496be82866f\",\n        \"created_at\": \"2015-06-27T12:13:24+00:00\",\n        \"updated_at\": \"2015-06-27T12:14:16+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_updated_test_var_value\",\n          \"our_test_var_key2\": \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STARTED\",\n        \"version\": \"5e182abf-dae2-4325-a127-e64cd0ecf54a\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": \"a0226b884c2b47e88ee06f04e6353bf7\",\n        \"package_state\": \"STAGED\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-06-27T12:13:55+00:00\",\n        \"detected_start_command\": \"node server.js\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/6a953469-659c-47e2-8419-e496be82866f/events\",\n        \"service_bindings_url\": \"/v2/apps/6a953469-659c-47e2-8419-e496be82866f/service_bindings\",\n        \"routes_url\": \"/v2/apps/6a953469-659c-47e2-8419-e496be82866f/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:20:09 GMT"},{"request":{"method":"head","uri":"https://api.10.244.0.34.xip.io/v2/apps/6a953469-659c-47e2-8419-e496be82866f/download","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Etag":["\"558e9383-20e7d0\""], "Last-Modified":["Sat, 27 Jun 2015 12:13:55 GMT"], "X-Cf-Requestid":["349fe554-8033-4a4b-69a1-7e9fb616fd5d"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:20:09 GMT"},{"request":{"method":"put","uri":"https://api.10.244.0.34.xip.io/v2/apps/6a953469-659c-47e2-8419-e496be82866f","body":{"encoding":"UTF-8","string":"{\"state\":\"STOPPED\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["28569f93-4855-4df7-5932-8ec76f308aac"], "X-Vcap-Request-Id":["3fea4d89-acdc-404d-5c16-5fde[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/6a953469-659c-47e2-8419-e496be82866f/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["455bbc65-172a-4059-45fe-9710cb157a30"], "X-Vcap-Request-Id":["ae85a74c-cc4c-4363-6d6c-b40028134663::aade1fd1-7b0e-450b-b161-cc726aeab73e"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 3,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"add422b5-7a21-415e-91a4-b8319c6c0a1f\",\n        \"url\": \"/v2/routes/add422b5-7a21-415e-91a4-b8319c6c0a1f\",\n        \"created_at\": \"2015-06-27T12:13:24+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"6a953469-659c-47e2-8419-e496be82866f\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/add422b5-7a21-415e-91a4-b8319c6c0a1f/apps\"\n      }\n    },\n    {\n      \"metadata\": {\n        \"guid\": \"3c29d461-c993-4900-9b72-4cc840cc5b89\",\n        \"url\": \"/v2/routes/3c29d461-c993-4900-9b72-4cc840cc5b89\",\n        \"created_at\": \"2015-06-27T12:13:42+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"cf-bosh-local\",\n        \"domain_guid\": \"37076f61-480e-4dc3-b301-5b8c8934ce4d\",\n        \"space_guid\": \"d3483f4f-6706[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["be6d0aaa-9329-4259-457a-59e942fe458b"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["e25e3dbb-16cd-4c84-72fe-fdea5ab9cfd8::389689f2-8482-468d-9850-cd7f20cb79b0"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:20:09 GMT"},[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["652a9cc9-488c-4c79-5658-34bafcb9563b"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["f6e0a709-96ae-4b0d-550b-8d15fc2eddc8::f49f1746-dba7-4b84-9f51-a475d8d52f74"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:20:10 GMT"}],"recorded_with":"VCR 2.9.3"}