{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["bd4aafe1-c220-45fa-4a9d-08cb220c11fd"], "X-Vcap-Request-Id":["21e2bf1b-ab46-4583-4434-e61e5275275c::d410c916-7b13-4a58-82a3-3b2de645f0c8"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:40:29 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["ece7bc26-07f1-4b27-632c-0bc390b701ea, 41b4d646-9e31-4016-78fd-a37e05356d9a"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"c55af116-fabd-4b3e-a230-f13bccca0974\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:40:29 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["5cd4cf64-611c-4362-51e3-625c9693fc75"], "X-Vcap-Request-Id":["576f59d1-50f4-4d03-60ce-ea625ad152ce::630d913b-9ce1-4941-9337-be502fb5073d"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"562765db-8c59-4c06-aae7-10076d378aee\",\n        \"url\": \"/v2/apps/562765db-8c59-4c06-aae7-10076d378aee\",\n        \"created_at\": \"2015-05-14T06:39:24+00:00\",\n        \"updated_at\": \"2015-05-14T06:40:29+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-min-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_test_var_value\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"bf527f26-7b1c-41c6-bc48-a94f0a59532c\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": \"36cae2b4b5254c99800e03861af0da6e\",\n        \"package_state\": \"STAGED\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-05-14T06:39:58+00:00\",\n        \"detected_start_command\": \"node server.js\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/562765db-8c59-4c06-aae7-10076d378aee/events\",\n        \"service_bindings_url\": \"/v2/apps/562765db-8c59-4c06-aae7-10076d378aee/service_bindings\",\n        \"routes_url\": \"/v2/apps/562765db-8c59-4c06-aae7-10076d378aee/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:40:29 GMT"},{"request":{"method":"head","uri":"https://api.10.244.0.34.xip.io/v2/apps/562765db-8c59-4c06-aae7-10076d378aee/download","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Etag":["\"5554433e-20e7d0\""], "Last-Modified":["Thu, 14 May 2015 06:39:58 GMT"], "X-Cf-Requestid":["aa8b328f-515c-419e-7c07-4e0cf38c5919"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:40:29 GMT"},{"request":{"method":"put","uri":"https://api.10.244.0.34.xip.io/v2/apps/562765db-8c59-4c06-aae7-10076d378aee","body":{"encoding":"UTF-8","string":"{\"state\":\"STOPPED\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["9497bdb3-83d1-4507-4e66-bc87239ec8a5"], "X-Vcap-Request-Id":["3e582d92-57c3-4468-6cd2-bc6b[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/562765db-8c59-4c06-aae7-10076d378aee/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["86bfb083-fe4e-4130-5838-2a51dd1b9d66"], "X-Vcap-Request-Id":["fdbd75d0-4567-431a-70af-c6c89fe82ec3::819957e9-8885-4eef-8f81-1278723ef5ba"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"e00b6d16-4b94-418d-96eb-667e4f8d1c43\",\n        \"url\": \"/v2/routes/e00b6d16-4b94-418d-96eb-667e4f8d1c43\",\n        \"created_at\": \"2015-05-14T06:39:24+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"562765db-8c59-4c06-aae7-10076d378aee\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/e00b6d16-4b94-418d-96eb-667e4f8d1c43/apps\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:40:29 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["ac7906a4-4b2c-4c10-4492-787b03ab14f9"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["c2a27d62-2a8f-4666-51b2-9cdecfcf3dab::3ea449b9-2151-4838-8306-58e7a31fdadb"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:40:29 GMT"},[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["ecca9339-0808-46e6-7e56-1b1bb8918f22"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["9c9cb479-2bb3-43f7-7a07-d4088e8953a8::f61d419f-5015-450b-9afc-2c3d92469b7d"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:40:30 GMT"}],"recorded_with":"VCR 2.9.3"}