{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["fc20122a-46cd-42e5-5fc9-a47756919d9a"], "X-Vcap-Request-Id":["d7c364f5-090c-4273-5dd3-bc4c3652d173::32a8ed22-04de-4164-b252-bc5259aa292d"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:44:58 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["5e58fb1c-28ad-4c56-6124-97b83d83b8d0, 9486b173-8ac4-45b3-53e2-cbf03ed2d6df"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"6a887388-42ba-4d9b-8aff-7a1de9e549b7\"}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:44:58 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["f150f3c0-5412-4e25-686e-f1d22b73ba78"], "X-Vcap-Request-Id":["e9d272fc-1900-493e-5a52-e6eb459eb219::ec5d01d0-647d-472f-a2db-ea6ec670c89f"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"8eb3af60-b711-46e3-958f-2688f74c01d6\",\n        \"url\": \"/v2/apps/8eb3af60-b711-46e3-958f-2688f74c01d6\",\n        \"created_at\": \"2015-07-28T12:43:54+00:00\",\n        \"updated_at\": \"2015-07-28T12:44:58+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-min-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_test_var_value\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STARTED\",\n        \"version\": \"c9caff0f-bcce-44b8-8437-8d14b0d54b15\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": \"6935612354ba4acd9006359866c3ad1c\",\n        \"package_state\": \"STAGED\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-07-28T12:44:27+00:00\",\n        \"detected_start_command\": \"node server.js\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/8eb3af60-b711-46e3-958f-2688f74c01d6/events\",\n        \"service_bindings_url\": \"/v2/apps/8eb3af60-b711-46e3-958f-2688f74c01d6/service_bindings\",\n        \"routes_url\": \"/v2/apps/8eb3af60-b711-46e3-958f-2688f74c01d6/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:44:58 GMT"},{"request":{"method":"head","uri":"https://api.10.244.0.34.xip.io/v2/apps/8eb3af60-b711-46e3-958f-2688f74c01d6/download","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Etag":["\"55b7792b-20e7d0\""], "Last-Modified":["Tue, 28 Jul 2015 12:44:27 GMT"], "X-Cf-Requestid":["17519b57-7b8e-49b3-6694-3ab4d5866faf"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:44:58 GMT"},{"request":{"method":"put","uri":"https://api.10.244.0.34.xip.io/v2/apps/8eb3af60-b711-46e3-958f-2688f74c01d6","body":{"encoding":"UTF-8","string":"{\"state\":\"STOPPED\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["247d3d08-7b6e-4ebd-5e3e-f5cdc0bf517e"], "X-Vcap-Request-Id":["99963fa5-b6ae-43d3-6765-6310[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/8eb3af60-b711-46e3-958f-2688f74c01d6/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["f069b664-fe98-48bb-5b2f-d1d83a73662b"], "X-Vcap-Request-Id":["37f8215b-e1fb-4ee6-68a6-00b3b5df4adc::c1427f66-3214-4b1d-9861-e5bd277361b8"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"d26f9ff4-2b52-4809-ac3c-8a7a8e247e5d\",\n        \"url\": \"/v2/routes/d26f9ff4-2b52-4809-ac3c-8a7a8e247e5d\",\n        \"created_at\": \"2015-07-28T12:43:54+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"8eb3af60-b711-46e3-958f-2688f74c01d6\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/d26f9ff4-2b52-4809-ac3c-8a7a8e247e5d/apps\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:44:58 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["2ae280ed-62d1-4bad-7917-7ac9dec53819"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["2f2f0f01-099d-4178-6d15-908e1293827c::797cdca4-b1d5-4cc6-afa1-d8cbdcfa54a1"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:44:58 GMT"},[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["b2468dbc-cbd4-4e94-525f-2f6fbc49cc18"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["c6225ed6-1bd5-4bbe-57e5-9b088e7f74d1::bc0d7291-fdad-4602-8845-99cf134f2620"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:44:59 GMT"}],"recorded_with":"VCR 2.9.3"}