{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-07-28T11:38:16.056318\"}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 11:23:16 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/nucleustestappallproperties87/deployment/nucleus/addon","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/nucleustestappallproperties87/deployment/nucleus/addon"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[{\"addon_option\": {\"name\": \"alias.free\"}, \"settings\": {}}, {\"addon_option\": {\"name\": \"mysqls.free\"}, \"settings\": {\"MYSQLS_USERNAME\": \"dep9498wapb\", \"MYSQLS_HOSTNAME\": \"mysqlsdb.co8hm2var4k9.eu-west-1.rds.amazonaws.com\", \"MYSQLS_PORT\": 3306, \"MYSQLS_PASSWORD\": \"Qkd_EVe5w5AY\", \"MYSQLS_DATABASE\": \"dep9498wapb\"}}, {\"addon_option\": {\"name\": \"config.free\"}, \"settings\": {\"CONFIG_VARS\": {\"our_test_var_key\": \"our_updated_test_var_value\", \"our_test_var_key2\": \"our_test_var_value2\"}}}]"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 11:23:16 GMT"},{"request":{"method":"delete","uri":"https://api.cloudcontrol.com/app/nucleustestappallproperties87/deployment/nucleus/addon/mysqls.free","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":204,"message":null},"headers":{"Allow":["GET, POST, PUT, DELETE, HEAD, OPTIONS"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/nucleustestappallproperties87/deployment/nucleus/addon/mysqls.free"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 11:23:18 GMT"}],"recorded_with":"VCR 2.9.3"}