{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["01c780ec-6bb0-4c5e-477f-8e889172b2b2"], "X-Vcap-Request-Id":["afc6edb4-032b-4853-59e0-82808cdbc520::6951d10d-86e3-4941-a384-ab396a05d708"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:44:18 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["4549940a-bf0e-48a8-5e08-40c366bfe36c, a44ae043-26ad-4edd-64da-45abf8dbd828"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"2060d053-0330-4062-a9da-ad7c1af9e212\"}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:44:18 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["135420bd-37cb-4eb4-78c7-48ebb0537d9b"], "X-Vcap-Request-Id":["141c46da-9ae5-4c39-4ea0-c1d003ade3a1::8d4f1bbf-7a99-43f0-891c-8fc455815ba3"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"9522777b-2037-49ff-841e-63f0f187c6ab\",\n        \"url\": \"/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab\",\n        \"created_at\": \"2015-07-28T12:43:53+00:00\",\n        \"updated_at\": \"2015-07-28T12:44:11+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_updated_test_var_value\",\n          \"our_test_var_key2\": \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"3e6f30a9-e66a-4e24-a399-377aa60a2a2a\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": null,\n        \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab/events\",\n        \"service_bindings_url\": \"/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab/service_bindings\",\n        \"routes_url\": \"/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:44:18 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab/service_bindings?inline-relations-depth=1","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["b80657d2-b001-433c-4c2c-d19716a5eb2a"], "X-Vcap-Request-Id":["c59c8e49-d332-4deb-497d-56a5e9da581c::41afbb91-2b4f-4643-8cd3-cb0900eb5cb5"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"3082953f-ac38-4cb8-91e0-9109f37efb20\",\n        \"url\": \"/v2/service_bindings/3082953f-ac38-4cb8-91e0-9109f37efb20\",\n        \"created_at\": \"2015-07-28T12:44:16+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"app_guid\": \"9522777b-2037-49ff-841e-63f0f187c6ab\",\n        \"service_instance_guid\": \"952fe885-45a8-4821-8cd2-51ed8b55a68d\",\n        \"credentials\": {\n          \"hostname\": \"10.244.1.82\",\n          \"host\": \"10.244.1.82\",\n          \"port\": 10052,\n          \"username\": \"ac6a1cf7-33ec-496c-aa39-18ded2ab82d7\",\n          \"password\": \"6558bf3d-afb4-4fd1-9e9d-32c39f3561fb\",\n          \"name\": \"f75ed374-2db1-425f-8bd7-4f774a5859da\",\n          \"db\": \"db\",\n          \"url\": \"mongodb://ac6a1cf7-33ec-496c-aa39-18ded2ab82d7:6558bf3d-afb4-4fd1-9e9d-32c39f3561fb@10.244.1.82:10052/db\"\n        },\n        \"binding_options\": {\n\n        },\n        \"gateway_data\": {\n          \"plan\": \"default\",\n          \"version\": \"2.2\",\n          \"data\": {\n            \"binding_options\": {\n\n            }\n          }\n        },\n        \"gateway_name\": \"b3fae858-1053-46ee-944a-a2542c29d30a\",\n        \"syslog_drain_url\": null,\n        \"app_url\": \"/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab\",\n        \"app\": {\n          \"metadata\": {\n            \"guid\": \"9522777b-2037-49ff-841e-63f0f187c6ab\",\n            \"url\": \"/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab\",\n            \"created_at\": \"2015-07-28T12:43:53+00:00\",\n            \"updated_at\": \"2015-07-28T12:44:11+00:00\"\n          },\n          \"entity\": {\n            \"name\": \"paasal-test-app-all-updated\",\n            \"production\": false,\n            \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n          [...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/service_plans/11e51876-0b64-4018-b797-16633d00e471?inline-relations-depth=1","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["e82d78bd-cb42-4333-6483-a70bb3fff6e4"], "X-Vcap-Request-Id":["b720efa8-9c76-4b8e-552e-459d0c7dff1b::2bfa1f0c-84ee-4242-b85a-cfff6b8dc2ca"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"11e51876-0b64-4018-b797-16633d00e471\",\n    \"url\": \"/v2/service_plans/11e51876-0b64-4018-b797-16633d00e471\",\n    \"created_at\": \"2015-04-14T18:37:41+00:00\",\n    \"updated_at\": \"2015-07-28T12:44:16+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"default\",\n    \"free\": true,\n    \"description\": \"Developer, shared VM, 250MB storage, 10 connections\",\n    \"service_guid\": \"5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n    \"extra\": \"\",\n    \"unique_id\": \"default-8f4af9f9-0f29-4957-87a3-1039ce983ede\",\n    \"public\": true,\n    \"active\": true,\n    \"service_url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n    \"service\": {\n      \"metadata\": {\n        \"guid\": \"5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"created_at\": \"2015-04-14T18:37:40+00:00\",\n        \"updated_at\": \"2015-07-28T12:44:16+00:00\"\n      },\n      \"entity\": {\n        \"label\": \"mongodb\",\n        \"provider\": \"core\",\n        \"url\": \"http://10.244.1.2:44138\",\n        \"description\": \"MongoDB NoSQL database\",\n        \"long_description\": null,\n        \"version\": \"2.2\",\n        \"info_url\": null,\n        \"active\": true,\n        \"bindable\": true,\n        \"unique_id\": \"8f4af9f9-0f29-4957-87a3-1039ce983ede\",\n        \"extra\": \"{\\\"listing\\\":{\\\"imageUrl\\\":null,\\\"blurb\\\":null},\\\"provider\\\":{\\\"name\\\":\\\"Core\\\"}}\",\n        \"tags\": [\n          \"nosql\",\n          \"document\",\n          \"mongodb\"\n        ],\n        \"requires\": [\n\n        ],\n        \"documentation_url\": null,\n        \"service_broker_guid\": null,\n        \"plan_updateable\": false,\n        \"service_plans_url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c/service_plans\"\n      }\n    },\n    \"service_instances_url\": \"/v2/service_plans/11e51876-0b64-4018-b797-16633d00e471/service_instances\",\n    \"service_instances\": [\n      {\n        \"metadata\": {\n          \"guid\": \"952fe885-45a8-4821-8cd2-51ed8b55a68d\",\n          \"url\": \"/v2/service_instances/952fe885-45a8-4821-8cd2-51ed8b55a68d\",\n          \"created_at\": \"2015-07-28T12:44:16+00:00\",\n          \"updated_at\": null\n        },\n        \"entity\": {\n          \"name\": \"mongodb-paasal-test-app-all-updated-paasal\",\n          \"credentials\": {\n            \"hostname\": \"10.244.1.82\",\n            \"host\": \"10.244.1.82\",\n            \"port\": 10052,\n            \"name\": \"f75ed374-2db1-425f-8bd7-4f774a5859da\",\n            \"db\": \"db\",\n            \"username\": \"d57b782b-bc66-474f-bdc1-7be6bf6c4165\",\n            \"password\": \"b0eccdc7-072a-4231-b237-cb0702614f4f\",\n            \"node_id\": \"mongodb_node_default_0\"\n          },\n          \"service_plan_guid\": \"11e51876-0b64-4018-b797-16633d00e471\",\n          \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n          \"gateway_data\": {\n            \"plan\": \"default\",\n            \"version\": \"2.2\"\n          },\n          \"dashboard_url\": null,\n          \"type\": \"managed_service_instance\",\n          \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n          \"service_plan_url\": \"/v2/service_plans/11e51876-0b64-4018-b797-16633d00e471\",\n          \"service_bindings_url\": \"/v2/service_instances/952fe885-45a8-4821-8cd2-51ed8b55a68d/service_bindings\"\n        }\n      },\n      {\n        \"metadata\": {\n          \"guid\": \"0065a8bd-2edb-4e1d-9243-113fd6416b9a\",\n          \"url\": \"/v2/service_instances/0065a8bd-2edb-4e1d-9243-113fd6416b9a\",\n          \"created_at\": \"2015-04-14T18:47:29+00:00\",\n          \"updated_at\": null\n        },\n        \"entity\[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c/service_plans","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["b845e49a-4f5d-4a2d-4c01-a8d7a7cb3a32"], "X-Vcap-Request-Id":["33bd0f43-ac6d-4892-548f-04d5e7[...]
