{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["fcd10ce7-a150-48e7-6b9b-b3b0681c77a1"], "X-Vcap-Request-Id":["31809a49-495a-4229-5538-40ec7825c10e::c7a5bb34-ed3b-4a78-bd23-b0079e816246"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:19:42 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["92ff0c66-0ca3-49e6-7793-78f0d2ca45f3, 66e3b434-f544-4b1d-7dbc-f99d40836e7e"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"91985946-0dc6-481e-b360-ed07afe813e9\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:19:42 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["993510fd-452e-41e4-5e99-5c9bf8662b19"], "X-Vcap-Request-Id":["a23fe4e7-9788-49d2-4c9f-4f049cca1248::89c7e4e1-337e-4c28-ab70-16926745a552"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"6a953469-659c-47e2-8419-e496be82866f\",\n        \"url\": \"/v2/apps/6a953469-659c-47e2-8419-e496be82866f\",\n        \"created_at\": \"2015-06-27T12:13:24+00:00\",\n        \"updated_at\": \"2015-06-27T12:13:42+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_updated_test_var_value\",\n          \"our_test_var_key2\": \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"5f57d86e-5292-43c5-8e70-cce52d52c7d1\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": null,\n        \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/6a953469-659c-47e2-8419-e496be82866f/events\",\n        \"service_bindings_url\": \"/v2/apps/6a953469-659c-47e2-8419-e496be82866f/service_bindings\",\n        \"routes_url\": \"/v2/apps/6a953469-659c-47e2-8419-e496be82866f/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:19:42 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/6a953469-659c-47e2-8419-e496be82866f/service_bindings?inline-relations-depth=1","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["353c4bc8-420e-4676-6b49-7a22ae016957"], "X-Vcap-Request-Id":["516f4e64-86b8-407c-744b-6215cc28b26d::3b39b500-7761-4c44-8586-64a4e978668c"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"ab094181-0698-4ccf-8a76-1a10ca5aef9d\",\n        \"url\": \"/v2/service_bindings/ab094181-0698-4ccf-8a76-1a10ca5aef9d\",\n        \"created_at\": \"2015-06-27T12:13:47+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"app_guid\": \"6a953469-659c-47e2-8419-e496be82866f\",\n        \"service_instance_guid\": \"00c3827b-9d77-47f5-9cda-e68216bc4fac\",\n        \"credentials\": {\n          \"hostname\": \"10.244.1.82\",\n          \"host\": \"10.244.1.82\",\n          \"port\": 10049,\n          \"username\": \"8c4e2b48-f08e-4c98-b498-73bd9e1caa98\",\n          \"password\": \"bef6c75b-7d4a-4173-beaa-d59edf405bd5\",\n          \"name\": \"6f2fd95a-f3ac-4e8a-b0e3-bdaf79ea1eb2\",\n          \"db\": \"db\",\n          \"url\": \"mongodb://8c4e2b48-f08e-4c98-b498-73bd9e1caa98:bef6c75b-7d4a-4173-beaa-d59edf405bd5@10.244.1.82:10049/db\"\n        },\n        \"binding_options\": {\n\n        },\n        \"gateway_data\": {\n          \"plan\": \"default\",\n          \"version\": \"2.2\",\n          \"data\": {\n            \"binding_options\": {\n\n            }\n          }\n        },\n        \"gateway_name\": \"c04315a6-2053-4fc3-a788-6d27a2b493c6\",\n        \"syslog_drain_url\": null,\n        \"app_url\": \"/v2/apps/6a953469-659c-47e2-8419-e496be82866f\",\n        \"app\": {\n          \"metadata\": {\n            \"guid\": \"6a953469-659c-47e2-8419-e496be82866f\",\n            \"url\": \"/v2/apps/6a953469-659c-47e2-8419-e496be82866f\",\n            \"created_at\": \"2015-06-27T12:13:24+00:00\",\n            \"updated_at\": \"2015-06-27T12:13:42+00:00\"\n          },\n          \"entity\": {\n            \"name\": \"paasal-test-app-all-updated\",\n            \"production\": false,\n            \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n          [...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/service_plans/11e51876-0b64-4018-b797-16633d00e471?inline-relations-depth=1","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["8f69f07f-c8ad-48ba-73c9-6f993373be17"], "X-Vcap-Request-Id":["667c27ef-8b6c-4202-53d4-c7fd8d74c75a::9cf1730e-2b09-43d2-b630-cde214c30a17"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"11e51876-0b64-4018-b797-16633d00e471\",\n    \"url\": \"/v2/service_plans/11e51876-0b64-4018-b797-16633d00e471\",\n    \"created_at\": \"2015-04-14T18:37:41+00:00\",\n    \"updated_at\": \"2015-06-27T12:13:08+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"default\",\n    \"free\": true,\n    \"description\": \"Developer, shared VM, 250MB storage, 10 connections\",\n    \"service_guid\": \"5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n    \"extra\": \"\",\n    \"unique_id\": \"default-8f4af9f9-0f29-4957-87a3-1039ce983ede\",\n    \"public\": true,\n    \"active\": true,\n    \"service_url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n    \"service\": {\n      \"metadata\": {\n        \"guid\": \"5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"created_at\": \"2015-04-14T18:37:40+00:00\",\n        \"updated_at\": \"2015-06-27T12:13:08+00:00\"\n      },\n      \"entity\": {\n        \"label\": \"mongodb\",\n        \"provider\": \"core\",\n        \"url\": \"http://10.244.1.2:44138\",\n        \"description\": \"MongoDB NoSQL database\",\n        \"long_description\": null,\n        \"version\": \"2.2\",\n        \"info_url\": null,\n        \"active\": true,\n        \"bindable\": true,\n        \"unique_id\": \"8f4af9f9-0f29-4957-87a3-1039ce983ede\",\n        \"extra\": \"{\\\"listing\\\":{\\\"imageUrl\\\":null,\\\"blurb\\\":null},\\\"provider\\\":{\\\"name\\\":\\\"Core\\\"}}\",\n        \"tags\": [\n          \"nosql\",\n          \"document\",\n          \"mongodb\"\n        ],\n        \"requires\": [\n\n        ],\n        \"documentation_url\": null,\n        \"service_broker_guid\": null,\n        \"plan_updateable\": false,\n        \"service_plans_url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c/service_plans\"\n      }\n    },\n    \"service_instances_url\": \"/v2/service_plans/11e51876-0b64-4018-b797-16633d00e471/service_instances\",\n    \"service_instances\": [\n      {\n        \"metadata\": {\n          \"guid\": \"0065a8bd-2edb-4e1d-9243-113fd6416b9a\",\n          \"url\": \"/v2/service_instances/0065a8bd-2edb-4e1d-9243-113fd6416b9a\",\n          \"created_at\": \"2015-04-14T18:47:29+00:00\",\n          \"updated_at\": null\n        },\n        \"entity\": {\n          \"name\": \"mongodb\",\n          \"credentials\": {\n            \"hostname\": \"10.244.1.82\",\n            \"host\": \"10.244.1.82\",\n            \"port\": 10003,\n            \"name\": \"2c86272d-8c71-467c-8088-0072c1739ca2\",\n            \"db\": \"db\",\n            \"username\": \"b9d41a61-4bad-4081-894a-e9e2b4699c3d\",\n            \"password\": \"f3c53b08-189e-486a-b54f-3547946f0d0f\",\n            \"node_id\": \"mongodb_node_default_0\"\n          },\n          \"service_plan_guid\": \"11e51876-0b64-4018-b797-16633d00e471\",\n          \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n          \"gateway_data\": {\n            \"plan\": \"default\",\n            \"version\": \"2.2\"\n          },\n          \"dashboard_url\": null,\n          \"type\": \"managed_service_instance\",\n          \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n          \"service_plan_url\": \"/v2/service_plans/11e51876-0b64-4018-b797-16633d00e471\",\n          \"service_bindings_url\": \"/v2/service_instances/0065a8bd-2edb-4e1d-9243-113fd6416b9a/service_bindings\"\n        }\n      },\n      {\n        \"metadata\": {\n          \"guid\": \"00c3827b-9d77-47f5-9cda-e68216bc4fac\",\n          \"url\": \"/v2/service_instances/00c3827b-9d77-47f5-9cda-e68216bc4fac\",\n          \"created_at\": \"2015-06-27T12:13:47+00:00\",\n          \"updated_at\": null\n        },\n        \"entity\[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c/service_plans","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["2d1d6485-d8ec-4bb4-7576-dd6df387f1ea"], "X-Vcap-Request-Id":["7b9592ea-1d76-4e82-4dd9-8eb4cc[...]
