{"http_interactions":[{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["ee84b242-7c25-4afe-5ff6-1550c8eab23c"], "X-Vcap-Request-Id":["74b42d7e-f27c-4c57-6c4a-a887cb86bf4b::592267f4-f5b9-4547-ab23-33fe3954bc2f"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"https://login.run.pivotal.io\",\"token_endpoint\":\"https://uaa.run.pivotal.io\",\"min_cli_version\":null,\"min_recommended_cli_version\":null,\"api_version\":\"2.41.0\",\"app_ssh_endpoint\":\"ssh.run.pivotal.io:2222\",\"app_ssh_host_key_fingerprint\":\"e7:13:4e:32:ee:39:62:df:54:41:d7:f7:8b:b2:a7:6b\",\"app_ssh_oauth_client\":\"ssh-proxy\",\"routing_endpoint\":\"https://api.run.pivotal.io/routing\",\"logging_endpoint\":\"wss://loggregator.run.pivotal.io:443\",\"doppler_logging_endpoint\":\"wss://doppler.run.pivotal.io:443\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:08:36 GMT"},{"request":{"method":"post","uri":"https://login.run.pivotal.io/oauth/token?grant_type=password&password=__pivotal:password__&username=__pivotal:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["11f89e6f-f7ed-4043-7037-660ac13d7dd4"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"cloud_controller.read password.write cloud_controller.write openid uaa.user\",\"jti\":\"6c2d2952-42ea-4195-9ba6-58f27f07a988\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:08:37 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/apps?q=name%3Anucleus-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["07348d6f-a649-4fed-596a-e4beb1935241"], "X-Vcap-Request-Id":["099b336c-081b-4716-57ff-e8a2c8b343cb::4ec88b34-7b34-4699-98ac-92a4a4e1470d"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"ab451001-c9b9-466f-bdb3-5d548aa168a5\",\n        \"url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5\",\n        \"created_at\": \"2015-10-23T00:00:21Z\",\n        \"updated_at\": \"2015-10-23T00:06:22Z\"\n      },\n      \"entity\": {\n        \"name\": \"nucleus-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"stack_guid\": \"86205f38-84fc-4bc2-b2b8-af7f55669f04\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_updated_test_var_value\",\n          \"our_test_var_key2\": \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"4ff4bb5f-4e85-4300-aed9-9be7ea84f7a5\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n        \"health_check_type\": \"port\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"staging_failed_description\": null,\n        \"diego\": true,\n        \"docker_image\": null,\n        \"package_updated_at\": null,\n        \"detected_start_command\": \"\",\n        \"enable_ssh\": true,\n        \"docker_credentials_json\": {\n          \"redacted_message\": \"[PRIVATE DATA HIDDEN]\"\n        },\n        \"space_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"stack_url\": \"/v2/stacks/86205f38-84fc-4bc2-b2b8-af7f55669f04\",\n        \"events_url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/events\",\n        \"service_bindings_url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/service_bindings\",\n        \"routes_url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:08:38 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/service_bindings?inline-relations-depth=1","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["579c3318-6c6f-4864-5d92-3d30b3449843"], "X-Vcap-Request-Id":["5e34278f-f559-4c73-65d8-acf4de4336eb::bac42191-d6bb-45d4-83fb-919cac5a5bda"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"d643003d-9d80-43b8-bc97-38a551023154\",\n        \"url\": \"/v2/service_bindings/d643003d-9d80-43b8-bc97-38a551023154\",\n        \"created_at\": \"2015-10-23T00:07:45Z\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"app_guid\": \"ab451001-c9b9-466f-bdb3-5d548aa168a5\",\n        \"service_instance_guid\": \"7e76432d-3903-4290-b3c6-3e2d5dd312bb\",\n        \"credentials\": {\n          \"uri\": \"mongodb://CloudFoundry_oo5plgib_bh762a8k_o5pqq86p:uNn4dJ4zXpfAdG_c59GiQmeFnIvi4X7v@ds037617.mongolab.com:37617/CloudFoundry_oo5plgib_bh762a8k\"\n        },\n        \"binding_options\": {\n\n        },\n        \"gateway_data\": null,\n        \"gateway_name\": \"\",\n        \"syslog_drain_url\": null,\n        \"app_url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5\",\n        \"app\": {\n          \"metadata\": {\n            \"guid\": \"ab451001-c9b9-466f-bdb3-5d548aa168a5\",\n            \"url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5\",\n            \"created_at\": \"2015-10-23T00:00:21Z\",\n            \"updated_at\": \"2015-10-23T00:06:22Z\"\n          },\n          \"entity\": {\n            \"name\": \"nucleus-test-app-all-updated\",\n            \"production\": false,\n            \"space_guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n            \"stack[...]
{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/service_plans/da7bbb98-b4cd-489f-972d-729acad1f091?inline-relations-depth=1","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["b7c80c9b-6792-4bcd-7ba2-256e0576d5f3"], "X-Vcap-Request-Id":["d4be80f8-0991-40d1-7ed9-847872a6d11a::4f1052a8-ce28-43c6-8058-6424bcc3dd5b"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"da7bbb98-b4cd-489f-972d-729acad1f091\",\n    \"url\": \"/v2/service_plans/da7bbb98-b4cd-489f-972d-729acad1f091\",\n    \"created_at\": \"2015-01-19T21:16:32Z\",\n    \"updated_at\": \"2015-10-02T21:14:06Z\"\n  },\n  \"entity\": {\n    \"name\": \"sandbox\",\n    \"free\": true,\n    \"description\": \"0.5 GB\",\n    \"service_guid\": \"c72eba27-c3f6-4ccb-b2fb-0a74e8ce0a25\",\n    \"extra\": \"{\\\"displayName\\\":\\\"Sandbox\\\",\\\"bullets\\\":[\\\"Storage 496 MB\\\",\\\"Backups to MongoLab's S3 bucket or your own (on-demand or scheduled for per-run fee)\\\",\\\"Continuous monitoring, 24/7\\\",\\\"Email support (support@mongolab.com)\\\",\\\"MongoDB/database expert advice\\\",\\\"Standard driver and REST API support\\\",\\\"Web-based management tools\\\"],\\\"costs\\\":[{\\\"amount\\\":{\\\"usd\\\":0},\\\"unit\\\":\\\"MONTHLY\\\"}]}\",\n    \"unique_id\": \"0c6c0c4a-adb0-49e3-baf0-64e4ffda13fe\",\n    \"public\": true,\n    \"active\": true,\n    \"service_url\": \"/v2/services/c72eba27-c3f6-4ccb-b2fb-0a74e8ce0a25\",\n    \"service\": {\n      \"metadata\": {\n        \"guid\": \"c72eba27-c3f6-4ccb-b2fb-0a74e8ce0a25\",\n        \"url\": \"/v2/services/c72eba27-c3f6-4ccb-b2fb-0a74e8ce0a25\",\n        \"created_at\": \"2015-01-19T21:16:29Z\",\n        \"updated_at\": \"2015-10-02T21:14:04Z\"\n      },\n      \"entity\": {\n        \"label\": \"mongolab\",\n        \"provider\": null,\n        \"url\": null,\n        \"description\": \"Fully-managed MongoDB-as-a-Service\",\n        \"long_description\": null,\n        \"version\": null,\n        \"info_url\": null,\n        \"active\": true,\n        \"bindable\": true,\n        \"unique_id\": \"6213a86a-ae52-11e3-ac06-22000a1dd446\",\n        \"extra\": \"{\\\"displayName\\\":\\\"MongoLab\\\",\\\"imageUrl\\\":\\\"https://d3bql97l1ytoxn.cloudfront.net/app_resources/5819/thumbs_64/img6550303712996248098.png\\\",\\\"longDescription\\\":\\\"MongoLab is a fully-managed MongoDB Database-as-a-Service (DBaaS)\\\\nplatform that automates the operational aspects of running MongoDB in\\\\nthe cloud.\\\",\\\"providerDisplayName\\\":\\\"MongoLab\\\",\\\"documentationUrl\\\":\\\"http://docs.run.pivotal.io/marketplace/services/mongolab.html\\\",\\\"supportUrl\\\":\\\"https://support.mongolab.com/\\\"}\",\n        \"tags\": [\n          \"Data Store\",\n          \"document\",\n          \"mongodb\"\n        ],\n        \"requires\": [\n\n        ],\n        \"documentation_url\": null,\n        \"service_broker_guid\": \"bb6733db-3bdc-4d6d-bc5a-63e9bbc1f4de\",\n        \"plan_updateable\": true,\n        \"service_plans_url\": \"/v2/services/c72eba27-c3f6-4ccb-b2fb-0a74e8ce0a25/service_plans\"\n      }\n    },\n    \"service_instances_url\": \"/v2/service_plans/da7bbb98-b4cd-489f-972d-729acad1f091/service_instances\",\n    \"service_instances\": [\n      {\n        \"metadata\": {\n          \"guid\": \"7e76432d-3903-4290-b3c6-3e2d5dd312bb\",\n          \"url\": \"/v2/service_instances/7e76432d-3903-4290-b3c6-3e2d5dd312bb\",\n          \"created_at\": \"2015-10-23T00:07:43Z\",\n          \"updated_at\": null\n        },\n        \"entity\": {\n          \"name\": \"mongolab-nucleus-test-app-all-updated-nucleus\",\n          \"credentials\": {\n\n          },\n          \"service_plan_guid\": \"da7bbb98-b4cd-489f-972d-729acad1f091\",\n          \"space_guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n          \"gateway_data\": null,\n          \"dashboard_url\": \"https://cloudfoundry.appdirect.com/api/custom/cloudfoundry/v2/sso/start?serviceUuid=7e76432d-3903-4290-b3c6-3e2d5dd312bb\",\n          \"type\": \"managed_service_instance\",\n          \"last_operation\": {\n            \"type\": \"create\",\n            \"state\": \"succeeded\",\n            \"description\": \"\",\n            \"updated_at\": null,\n            \"created_at\": \"2015-10-23T00:07:43Z\"\n          },\n          \"tags\": [\n\n          ],\n          \"space_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011\",\n          \"service_plan_url\": \"/v2/service_plans/da7bbb98-b4cd-489f-972d-729acad1f091\",\n          \"service_bindings_url\": \"/v2/service_instances/7e76432d-3903-4290-b3c6-3e2d5dd312bb/service_bindings\",\n          \"service_keys_url\": \"/v2/service_instances/7e76432d-3903-4290-b3c6-3e2d5dd312bb/service_keys\",\n          \"routes_url\": \"/v2/service_instances/7e76432d-3903-4290-b3c6-3e2d5dd312bb/routes\"\n        }\n      }\n    ]\n  }\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 00:08:40 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/services/c72eba27-c3f6-4ccb-b2fb-0a74e8ce0a25/service_plans","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["755b7f5f-6aef-43ad-7ef1-d9befbc9b0fd"], "X-Vcap-Request-Id":["0b9c34a5-b810-4bd2-5860-b6f9cb3b47[...]
