{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["ad50a308-37d2-4d7a-5b5f-21f8d7c8cd00"], "X-Vcap-Request-Id":["dad0e8ea-fc43-4ff0-59ad-e12445c5fce1::92e47edd-77fb-4521-bebb-7812389a5acf"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:48 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["60cdd514-5c40-4126-6af7-8c406a7a5ebb, d3c411c1-2170-48e6-5643-c2c780746b8e"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"23b17d00-bab9-4ddb-ad94-514e90d3ad7f\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:48 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["258df5d3-cb0f-465d-58df-1710ff5d5af2"], "X-Vcap-Request-Id":["39448092-1861-4e3c-5a66-2ca7e2866a01::b066c785-6b31-494a-8917-e038e07fca94"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"03a567ca-5b77-4b7c-a73a-a008ca5dad17\",\n        \"url\": \"/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17\",\n        \"created_at\": \"2015-05-14T06:39:23+00:00\",\n        \"updated_at\": \"2015-05-14T06:39:41+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_updated_test_var_value\",\n          \"our_test_var_key2\": \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"3b85cc52-10a3-4d48-aeac-ac9cb895167f\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": null,\n        \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17/events\",\n        \"service_bindings_url\": \"/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17/service_bindings\",\n        \"routes_url\": \"/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:48 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17/service_bindings?inline-relations-depth=1","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["666b618b-77ad-414c-487a-eca2d2016e4e"], "X-Vcap-Request-Id":["d0fd9b78-2dcc-438a-693f-82f5db8bbaf9::2418f3a1-e76f-4785-90d9-5294d41567ed"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"cb7364b0-bdfc-4011-bc7a-4be82a786266\",\n        \"url\": \"/v2/service_bindings/cb7364b0-bdfc-4011-bc7a-4be82a786266\",\n        \"created_at\": \"2015-05-14T06:39:46+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"app_guid\": \"03a567ca-5b77-4b7c-a73a-a008ca5dad17\",\n        \"service_instance_guid\": \"c7181815-cd2a-40ed-861d-d24a1a6a9040\",\n        \"credentials\": {\n          \"hostname\": \"10.244.1.82\",\n          \"host\": \"10.244.1.82\",\n          \"port\": 10042,\n          \"username\": \"2417f893-bf37-4f85-944f-08c15b6e55dc\",\n          \"password\": \"a509ac0c-e4f4-48ad-9c0a-6355d27f9400\",\n          \"name\": \"5291aafe-bc5f-4368-8df7-3f2e60ee9251\",\n          \"db\": \"db\",\n          \"url\": \"mongodb://2417f893-bf37-4f85-944f-08c15b6e55dc:a509ac0c-e4f4-48ad-9c0a-6355d27f9400@10.244.1.82:10042/db\"\n        },\n        \"binding_options\": {\n\n        },\n        \"gateway_data\": {\n          \"plan\": \"default\",\n          \"version\": \"2.2\",\n          \"data\": {\n            \"binding_options\": {\n\n            }\n          }\n        },\n        \"gateway_name\": \"48e80a75-3fe0-4617-a2a1-44d4759f8c57\",\n        \"syslog_drain_url\": null,\n        \"app_url\": \"/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17\",\n        \"app\": {\n          \"metadata\": {\n            \"guid\": \"03a567ca-5b77-4b7c-a73a-a008ca5dad17\",\n            \"url\": \"/v2/apps/03a567ca-5b77-4b7c-a73a-a008ca5dad17\",\n            \"created_at\": \"2015-05-14T06:39:23+00:00\",\n            \"updated_at\": \"2015-05-14T06:39:41+00:00\"\n          },\n          \"entity\": {\n            \"name\": \"paasal-test-app-all-updated\",\n            \"production\": false,\n            \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n          [...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/service_plans/11e51876-0b64-4018-b797-16633d00e471?inline-relations-depth=1","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["b93e89ac-50c2-4282-5bbb-4a39a4df2a3d"], "X-Vcap-Request-Id":["de3ac730-8711-4877-4881-2546f128c7a0::9b3b5d6c-5deb-4579-8453-57e2bb43458a"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"11e51876-0b64-4018-b797-16633d00e471\",\n    \"url\": \"/v2/service_plans/11e51876-0b64-4018-b797-16633d00e471\",\n    \"created_at\": \"2015-04-14T18:37:41+00:00\",\n    \"updated_at\": \"2015-05-14T06:39:08+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"default\",\n    \"free\": true,\n    \"description\": \"Developer, shared VM, 250MB storage, 10 connections\",\n    \"service_guid\": \"5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n    \"extra\": \"\",\n    \"unique_id\": \"default-8f4af9f9-0f29-4957-87a3-1039ce983ede\",\n    \"public\": true,\n    \"active\": true,\n    \"service_url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n    \"service\": {\n      \"metadata\": {\n        \"guid\": \"5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"created_at\": \"2015-04-14T18:37:40+00:00\",\n        \"updated_at\": \"2015-05-14T06:39:08+00:00\"\n      },\n      \"entity\": {\n        \"label\": \"mongodb\",\n        \"provider\": \"core\",\n        \"url\": \"http://10.244.1.2:44138\",\n        \"description\": \"MongoDB NoSQL database\",\n        \"long_description\": null,\n        \"version\": \"2.2\",\n        \"info_url\": null,\n        \"active\": true,\n        \"bindable\": true,\n        \"unique_id\": \"8f4af9f9-0f29-4957-87a3-1039ce983ede\",\n        \"extra\": \"{\\\"listing\\\":{\\\"imageUrl\\\":null,\\\"blurb\\\":null},\\\"provider\\\":{\\\"name\\\":\\\"Core\\\"}}\",\n        \"tags\": [\n          \"nosql\",\n          \"document\",\n          \"mongodb\"\n        ],\n        \"requires\": [\n\n        ],\n        \"documentation_url\": null,\n        \"service_broker_guid\": null,\n        \"plan_updateable\": false,\n        \"service_plans_url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c/service_plans\"\n      }\n    },\n    \"service_instances_url\": \"/v2/service_plans/11e51876-0b64-4018-b797-16633d00e471/service_instances\",\n    \"service_instances\": [\n      {\n        \"metadata\": {\n          \"guid\": \"0065a8bd-2edb-4e1d-9243-113fd6416b9a\",\n          \"url\": \"/v2/service_instances/0065a8bd-2edb-4e1d-9243-113fd6416b9a\",\n          \"created_at\": \"2015-04-14T18:47:29+00:00\",\n          \"updated_at\": null\n        },\n        \"entity\": {\n          \"name\": \"mongodb\",\n          \"credentials\": {\n            \"hostname\": \"10.244.1.82\",\n            \"host\": \"10.244.1.82\",\n            \"port\": 10003,\n            \"name\": \"2c86272d-8c71-467c-8088-0072c1739ca2\",\n            \"db\": \"db\",\n            \"username\": \"b9d41a61-4bad-4081-894a-e9e2b4699c3d\",\n            \"password\": \"f3c53b08-189e-486a-b54f-3547946f0d0f\",\n            \"node_id\": \"mongodb_node_default_0\"\n          },\n          \"service_plan_guid\": \"11e51876-0b64-4018-b797-16633d00e471\",\n          \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n          \"gateway_data\": {\n            \"plan\": \"default\",\n            \"version\": \"2.2\"\n          },\n          \"dashboard_url\": null,\n          \"type\": \"managed_service_instance\",\n          \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n          \"service_plan_url\": \"/v2/service_plans/11e51876-0b64-4018-b797-16633d00e471\",\n          \"service_bindings_url\": \"/v2/service_instances/0065a8bd-2edb-4e1d-9243-113fd6416b9a/service_bindings\"\n        }\n      },\n      {\n        \"metadata\": {\n          \"guid\": \"c7181815-cd2a-40ed-861d-d24a1a6a9040\",\n          \"url\": \"/v2/service_instances/c7181815-cd2a-40ed-861d-d24a1a6a9040\",\n          \"created_at\": \"2015-05-14T06:39:46+00:00\",\n          \"updated_at\": null\n        },\n        \"entity\[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c/service_plans","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["2916a082-d0ad-4fd0-700b-41d6e157f557"], "X-Vcap-Request-Id":["f435f4df-5e52-4cc3-4c6c-fa3239[...]
