{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["220739ea-8c9d-419b-58c5-c7584414ee71"], "X-Vcap-Request-Id":["16dcea25-9ed9-4eeb-565a-95dbbbf792e8::70ffec38-1db1-4739-9d5b-b171a64fe8e5"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:21:14 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["15334997-0a7e-4d14-5cfc-06ba8744abb8, 02d6021a-5a2b-47cf-4e51-8fc96d6ab530"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"008ce963-f381-487f-9f3b-ae99f5c616ff\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:21:15 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["5c090aba-42a1-4813-5a72-9aab149b7673"], "X-Vcap-Request-Id":["4b8f3ae1-fc30-4995-647b-67d0109d7ca3::c40ca8be-bafa-4c1a-88c7-0822c3b77483"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"279b8ee3-07c2-4bef-b47c-992e10e91629\",\n        \"url\": \"/v2/apps/279b8ee3-07c2-4bef-b47c-992e10e91629\",\n        \"created_at\": \"2015-06-27T12:13:25+00:00\",\n        \"updated_at\": \"2015-06-27T12:15:20+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-min-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_test_var_value\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STARTED\",\n        \"version\": \"20c8716d-5bac-4f6e-b4a0-ec223f7c0776\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": \"8187faaac9914358824b195cb78ad447\",\n        \"package_state\": \"STAGED\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-06-27T12:13:58+00:00\",\n        \"detected_start_command\": \"node server.js\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/279b8ee3-07c2-4bef-b47c-992e10e91629/events\",\n        \"service_bindings_url\": \"/v2/apps/279b8ee3-07c2-4bef-b47c-992e10e91629/service_bindings\",\n        \"routes_url\": \"/v2/apps/279b8ee3-07c2-4bef-b47c-992e10e91629/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:21:15 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/279b8ee3-07c2-4bef-b47c-992e10e91629","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["004a3825-631a-4cea-4eff-24810c606757"], "X-Vcap-Request-Id":["1fcd2565-6119-47ac-4ac3-09d79e6bcdc2::8f949873-f[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/279b8ee3-07c2-4bef-b47c-992e10e91629/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["fd1514cd-c13e-4eff-522d-f469829dce98"], "X-Vcap-Request-Id":["e71a2292-f706-4bd4-79d2-820fe9b4e514::e2958a59-45b5-420b-bb43-bf78e0a346e3"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"f95f35b0-e06a-4338-8286-42d3bf81fb51\",\n        \"url\": \"/v2/routes/f95f35b0-e06a-4338-8286-42d3bf81fb51\",\n        \"created_at\": \"2015-06-27T12:13:25+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"279b8ee3-07c2-4bef-b47c-992e10e91629\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/f95f35b0-e06a-4338-8286-42d3bf81fb51/apps\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:21:15 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["6f37fad5-beb3-4000-5043-9f305e199083"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["4fd08c0b-2410-4575-6304-da9eefdc4d42::ecac9be5-8bfe-4fc7-bdba-4826697f4378"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:21:15 GMT"},{"request":{"method":"get","uri":"http://279b8ee3-07c2-4bef-b47c-992e10e91629.10.244.0.34.xip.io/","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":404,"message":null},"headers":{"Content-Type":["text/plain; charset=utf-8"], "X-Cf-Requestid":["4e65c001-db28-4d28-6019-d8f5850a20ca"], "X-Cf-Routererror":["unknown_route"]},"body":{"encoding":"UTF-8","string":"404 Not Found: Requested route ('279b8ee3-07c2-4bef-b47c-992e10e91629.10.244.0.34.xip.io:80') does not exist.\n"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:21:15 GMT"},[...]
{"request":{"method":"get","uri":"http://279b8ee3-07c2-4bef-b47c-992e10e91629.10.244.0.34.xip.io/","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["text/html; charset=utf-8"], "Etag":["\"-1541606901\""], "X-Cf-Requestid":["0491e262-f410-42db-78b7-0fee7dbf4b33"]},"body":{"encoding":"UTF-8","string":"<!DOCTYPE html>\n<html>\n  <head>\n    <title>Word Finder</title>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <script src=\"/public/jquery-1.8.0.js\"></script>\n    <link rel=\"stylesheet\" href=\"/public/bootstrap.css\" />\n    <script src=\"/public/bootstrap.js\"></script>\n    <link rel=\"stylesheet\" href=\"/public/app.css\" />\n  </head>\n  <body>\n    <div class=\"navbar navbar-inverse navbar-fixed-top\">\n      <div class=\"container\">\n        <div class=\"navbar-header\">\n          <button type=\"button\" class=\"navbar-toggle\" data-toggle=\"collapse\" data-target=\".navbar-collapse\">\n            <span class=\"icon-bar\"></span>\n            <span class=\"icon-bar\"></span>\n            <span class=\"icon-bar\"></span>\n          </button>\n          <a class=\"navbar-brand\" href=\"/\">Word Finder</a>\n        </div>\n        <div class=\"collapse navbar-collapse\">\n          <ul class=\"nav navbar-nav\">\n          </ul>\n        </div><!--/.nav-collapse -->\n      </div>\n    </div>\n\n    <div class=\"container\">\n      <div id=\"dashboard\">\n        <div class=\"row\">\n          <h3>Word Finder</h3>\n\n          <p>\n          I took every english word (over 200k words) and built a little app that will help you find words that contain specific characters.\n          </p>\n          <hr/>\n        </div>\n\n\n        <div class=\"row\">\n            <p>Enter a word, use _ and ? as needed (see instructions below)</p>\n          <form method=\"post\" action=\"search\">\n            \n              <input type=\"text\"\n                     class=\"col-md-12\"\n                     name=\"pattern\"\n                     placeholder=\"enter pattern and press\" />\n           \n          </form>\n        </div>\n        <hr/>\n\n\n\n\n          <div class=\"row\">\n            <h3>The underscore</h3>\n\n            <p>\n            Type a word into the text box with the following pattern:\n            </p>\n\n            <pre>\nhe__o\n            </pre>\n\n            <p>\n            And you'll get words such as:\n            </p>\n\n            <pre>\nhello\nhelio\n            </pre>\n          </div>\n\n          <div class=\"row\">\n            <h3>The question mark</h3>\n\n            <p>\n            This character is great for games like What's the Phrase (a knock off of Wheel of Fortune)\n            </p>\n\n            <p>\n            Type a word into the text box with the following pattern:\n            </[...]
[...]
