{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["65235609-7885-4856-5d01-9bcd87188354"], "X-Vcap-Request-Id":["e1078615-b89e-4950-60ab-479071b216ff::d91884d9-f1e7-4ab4-8723-8d0919c69bb8"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:44:08 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["d3c6e04b-a5ae-4f74-5de1-a6eda777df36, c8f47271-f98e-4b2b-4879-0d18c8c2db94"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"17414106-681f-43ff-a2f3-82665a492505\"}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:44:08 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Aapp_never_exists_0123456789","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["033e40b8-5dbd-4dec-77af-54e26e587aab"], "X-Vcap-Request-Id":["eee00820-cbe3-4838-5491-08bd6f34a700::f7ceaac6-8e05-435f-abb3-b2ad48978c41"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 0,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n\n  ]\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:44:08 GMT"}],"recorded_with":"VCR 2.9.3"}