---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - aa3a60d9-7024-4247-45ab-54e0ebe40ee8
      X-Vcap-Request-Id:
      - d35e56c3-626a-4f41-5c85-5544223908e4::849b329d-d102-491d-8605-560acd99150b
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Mon, 06 Apr 2015 20:10:42 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - 97135145-2598-45db-530d-18ce870ff6ba, d1babf4d-10d3-44d4-45fc-16f6d303b287
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"a3f9cd3c-8003-43f7-a13f-8b2ff3722727"}'
  recorded_at: Mon, 06 Apr 2015 20:10:42 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 08279c8b-3cbd-42f9-416c-44950c4e6878
      X-Vcap-Request-Id:
      - 10057f5d-04ae-4947-5012-6cdc8a843e49::e16a7fb7-e3b5-4bd0-85f1-8e62c3561d56
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "4260186e-9e44-413e-994e-1897e6d28513",
                "url": "/v2/apps/4260186e-9e44-413e-994e-1897e6d28513",
                "created_at": "2015-04-06T20:10:26+00:00",
                "updated_at": "2015-04-06T20:10:42+00:00"
              },
              "entity": {
                "name": "paasal-test-app-all-updated",
                "production": false,
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
                "buildpack": "nodejs_buildpack",
                "detected_buildpack": null,
                "environment_json": {
                  "our_test_var_key": "our_updated_test_var_value",
                  "our_test_var_key2": "our_test_var_value2"
                },
                "memory": 256,
                "instances": 1,
                "disk_quota": 1024,
                "state": "STOPPED",
                "version": "47f81d73-62c5-4d02-a45a-47830be9768a",
                "command": null,
                "console": false,
                "debug": null,
                "staging_task_id": null,
                "package_state": "PENDING",
                "health_check_timeout": null,
                "staging_failed_reason": null,
                "docker_image": null,
                "package_updated_at": null,
                "detected_start_command": "",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
                "events_url": "/v2/apps/4260186e-9e44-413e-994e-1897e6d28513/events",
                "service_bindings_url": "/v2/apps/4260186e-9e44-413e-994e-1897e6d28513/service_bindings",
                "routes_url": "/v2/apps/4260186e-9e44-413e-994e-1897e6d28513/routes"
              }
            }
          ]
        }
  recorded_at: Mon, 06 Apr 2015 20:10:42 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/4260186e-9e44-413e-994e-1897e6d28513/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - eb12de21-92aa-4437-5bce-bd65faef8b2e
      X-Vcap-Request-Id:
      - 4af612e3-f6f0-44a8-5655-353f9fffc8e0::7084cb8a-7425-4518-989a-d37074705583
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 2,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "88627a1c-38e9-4304-8198-653c45230d00",
                "url": "/v2/routes/88627a1c-38e9-4304-8198-653c45230d00",
                "created_at": "2015-04-06T20:10:26+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "4260186e-9e44-413e-994e-1897e6d28513",
                "domain_guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "domain_url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "apps_url": "/v2/routes/88627a1c-38e9-4304-8198-653c45230d00/apps"
              }
            },
            {
              "metadata": {
                "guid": "3454cd3d-280b-436a-ab5b-6e0b773c3817",
                "url": "/v2/routes/3454cd3d-280b-436a-ab5b-6e0b773c3817",
                "created_at": "2015-04-06T20:10:42+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "cf-bosh-local",
                "domain_guid": "a055ee95-7d64-4352-9e5e-7eea55ecf706",
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "domain_url": "/v2/domains/a055ee95-7d64-4352-9e5e-7eea55ecf706",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "apps_url": "/v2/routes/3454cd3d-280b-436a-ab5b-6e0b773c3817/apps"
              }
            }
          ]
        }
  recorded_at: Mon, 06 Apr 2015 20:10:42 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 393a4a38-a531-4a6d-470e-45099e587750
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - 55045e73-7d52-4375-560e-cf599fa43b18::c58e920e-5c97-4862-b0d1-e6609178ff55
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Mon, 06 Apr 2015 20:10:42 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/a055ee95-7d64-4352-9e5e-7eea55ecf706
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - a7fc25da-2612-42ee-77e9-594403f68aaa
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - 39cb36dd-b1c7-49d9-742f-766222355484::5f197f88-e2ae-4bee-9741-c0160fe86cda
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "a055ee95-7d64-4352-9e5e-7eea55ecf706",
            "url": "/v2/domains/a055ee95-7d64-4352-9e5e-7eea55ecf706",
            "created_at": "2015-03-25T16:22:57+00:00",
            "updated_at": null
          },
          "entity": {
            "name": "adomainthatishopefullynotusedontheplatform.de",
            "owning_organization_guid": "d94caddf-45be-4c92-bb2d-62d3a65cbec0",
            "owning_organization_url": "/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0",
            "spaces_url": "/v2/domains/a055ee95-7d64-4352-9e5e-7eea55ecf706/spaces"
          }
        }
  recorded_at: Mon, 06 Apr 2015 20:10:42 GMT
[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/private_domains
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 4647abc9-d116-4b24-62cf-6fd2656c7315
      X-Vcap-Request-Id:
      - 40e4949f-28f7-411b-4090-1e7a74667ed5::21422341-8ff1-4585-b9fa-73404bdb3054
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "a055ee95-7d64-4352-9e5e-7eea55ecf706",
                "url": "/v2/private_domains/a055ee95-7d64-4352-9e5e-7eea55ecf706",
                "created_at": "2015-03-25T16:22:57+00:00",
                "updated_at": null
              },
              "entity": {
                "name": "adomainthatishopefullynotusedontheplatform.de",
                "owning_organization_guid": "d94caddf-45be-4c92-bb2d-62d3a65cbec0",
                "owning_organization_url": "/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0"
              }
            }
          ]
        }
  recorded_at: Mon, 06 Apr 2015 20:10:42 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 49d7c1dc-d810-496f-566f-56759d0643ab
      X-Vcap-Request-Id:
      - d2afcd52-5f00-41c3-64a5-f4dadee47d61::4dcfa576-ecc7-4eba-a6e6-fc1de13fff3c
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 305,
          "total_pages": 7,
          "prev_url": null,
          "next_url": "/v2/routes?order-direction=asc&page=2&results-per-page=50",
          "resources": [
            {
              "metadata": {
                "guid": "4ee1f0e2-eb11-4baf-83bb-9101a29aed92",
                "url": "/v2/routes/4ee1f0e2-eb11-4baf-83bb-9101a29aed92",
                "created_at[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/spaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 461ea273-1d58-4406-5910-e74978ede254
      X-Vcap-Request-Id:
      - b19ddf86-6842-4854-6bb2-0e1ad8715c6a::48d91990-949d-4d8d-81da-257c0f29f28c
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "created_at": "2015-03-19T07:21:47+00:00",
                "updated_at": null
              },
              "entity": {
                "name": "development",
                "organization_guid": "d94caddf-45be-4c92-bb2d-62d3a65cbec0",
                "space_quota_definition_guid": null,
                "organization_url": "/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0",
                "developers_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/developers",
                "managers_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/managers",
                "auditors_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/auditors",
                "apps_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/apps",
                "routes_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/routes",
                "domains_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/domains",
                "service_instances_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/service_instances",
                "app_events_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/app_events",
                "events_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/events",
                "security_groups_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/security_groups"
              }
            }
          ]
        }
  recorded_at: Mon, 06 Apr 2015 20:10:42 GMT
- request:
    method: post
    uri: https://api.10.244.0.34.xip.io/v2/routes
    body:
      encoding: UTF-8
      string: '{"domain_guid":"a055ee95-7d64-4352-9e5e-7eea55ecf706","host":"","space_guid":"d3483f4f-6706-4fe1-ad90-1bd45d50e940"}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - "/v2/routes/b3c8b2d4-44de-44ea-ba9c-bffa001c1809"
      X-Cf-Requestid:
      - b7509392-603c-4b9d-644f-a8be4ca7cbe2
      X-Vcap-Request-Id:
      - 20585cf5-827b-450d-73ba-aa98fd7dede6::a1a6a023-deea-483c-b434-e0d6b58e3ddb
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "b3c8b2d4-44de-44ea-ba9c-bffa001c1809",
            "url": "/v2/routes/b3c8b2d4-44de-44ea-ba9c-bffa001c1809",
            "created_at": "2015-04-06T20:10:43+00:00",
            "updated_at": null
          },
          "entity": {
            "host": "",
            "domain_guid": "a055ee95-7d64-4352-9e5e-7eea55ecf706",
            "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
            "domain_url": "/v2/domains/a055ee95-7d64-4352-9e5e-7eea55ecf706",
            "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
            "apps_url": "/v2/routes/b3c8b2d4-44de-44ea-ba9c-bffa001c1809/apps"
          }
        }
  recorded_at: Mon, 06 Apr 2015 20:10:43 GMT
- request:
    method: put
    uri: https://api.10.244.0.34.xip.io/v2/apps/4260186e-9e44-413e-994e-1897e6d28513/routes/b3c8b2d4-44de-44ea-ba9c-bffa001c1809
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 50b3eded-7dbf-46a2-7a1b-4f69724b0db6
      X-Vcap-Request-Id:
      - e71bb7d8-7acc-4490-7531-cf560bd0e97e::8b968e39-2ce4-4f1b-924e-0e736d480147
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "4260186e-9e44-413e-994e-1897e6d28513",
            "url": "/v2/apps/4260186e-9e44-413e-994e-1897e6d28513",
            "created_at": "2015-04-06T20:10:26+00:00",
            "updated_at": "2015-04-06T20:10:43+00:00"
          },
          "entity": {
            "name": "paasal-test-app-all-updated",
            "production": false,
            "space_guid[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/a055ee95-7d64-4352-9e5e-7eea55ecf706
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - b79f07c4-9c02-410d-5959-5b3a5df2e543
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - 6236d926-02f5-4fe6-602d-ac245dd9708c::54d41a9b-1374-4a25-99ad-fef3b8e61c4b
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "a055ee95-7d64-4352-9e5e-7eea55ecf706",
            "url": "/v2/domains/a055ee95-7d64-4352-9e5e-7eea55ecf706",
            "created_at": "2015-03-25T16:22:57+00:00",
            "updated_at": null
          },
          "entity": {
            "name": "adomainthatishopefullynotusedontheplatform.de",
            "owning_organization_guid": "d94caddf-45be-4c92-bb2d-62d3a65cbec0",
            "owning_organization_url": "/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0",
            "spaces_url": "/v2/domains/a055ee95-7d64-4352-9e5e-7eea55ecf706/spaces"
          }
        }
  recorded_at: Mon, 06 Apr 2015 20:10:43 GMT
recorded_with: VCR 2.9.3
