---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 78f8f50b-fd58-43d5-6413-f73a97322199
      X-Vcap-Request-Id:
      - 18b0d335-9894-4b09-59d2-df4d5328947e::4c57c087-7732-4083-add8-88c33f13157d
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Thu, 19 Mar 2015 16:33:53 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - a6f03ad9-5afa-4f8b-7629-02fca03c2087, 7ed86b99-b003-4c06-79cf-d3c3971a2ed1
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"6693ea57-0fd2-4857-ac0a-8517cc72b896"}'
  recorded_at: Thu, 19 Mar 2015 16:33:54 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 12d63a31-2dcc-4c43-5935-d8bcf5f6b5b4
      X-Vcap-Request-Id:
      - abb018f2-81ab-4ea7-6c6e-1138b3a608b7::32299a4b-af8c-40ac-a0b9-31ebe7f78739
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "3e847486-eb74-4210-9f99-cc1c2a2650ef",
                "url": "/v2/apps/3e847486-eb74-4210-9f99-cc1c2a2650ef",
                "created_at": "2015-03-19T16:33:07+00:00",
                "updated_at": "2015-03-19T16:33:52+00:00"
              },
              "entity": {
                "name": "paasal-test-app-min-updated",
                "production": false,
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
                "buildpack": "nodejs_buildpack",
                "detected_buildpack": null,
                "environment_json": {
                  "our_test_var_key": "our_test_var_value"
                },
                "memory": 256,
                "instances": 1,
                "disk_quota": 1024,
                "state": "STOPPED",
                "version": "4fd39646-df0e-4c2d-a250-64ed209da923",
                "command": null,
                "console": false,
                "debug": null,
                "staging_task_id": null,
                "package_state": "PENDING",
                "health_check_timeout": null,
                "staging_failed_reason": null,
                "docker_image": null,
                "package_updated_at": "2015-03-19T16:33:52+00:00",
                "detected_start_command": "",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
                "events_url": "/v2/apps/3e847486-eb74-4210-9f99-cc1c2a2650ef/events",
                "service_bindings_url": "/v2/apps/3e847486-eb74-4210-9f99-cc1c2a2650ef/service_bindings",
                "routes_url": "/v2/apps/3e847486-eb74-4210-9f99-cc1c2a2650ef/routes"
              }
            }
          ]
        }
  recorded_at: Thu, 19 Mar 2015 16:33:54 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/3e847486-eb74-4210-9f99-cc1c2a2650ef
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 2ead283c-2c29-48e2-5861-c0a70ea0a28d
      X-Vc[...]
- request:
    method: head
    uri: https://api.10.244.0.34.xip.io/v2/apps/3e847486-eb74-4210-9f99-cc1c2a2650ef/download
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"550afa70-20e7a0"'
      Last-Modified:
      - Thu, 19 Mar 2015 16:33:52 GMT
      X-Cf-Requestid:
      - 54fa3819-a541-4b10-4f8f-0504aa7df56a
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 19 Mar 2015 16:33:54 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/3e847486-eb74-4210-9f99-cc1c2a2650ef/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 895108bb-3df9-4634-787d-633cfd8211ff
      X-Vcap-Request-Id:
      - 95c7f0c3-09a8-478e-5244-3df1bc6ef409::6273910a-7318-4298-b287-973e8c590dee
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "c616eb0b-1b71-47a2-9496-0c4d80db567f",
                "url": "/v2/routes/c616eb0b-1b71-47a2-9496-0c4d80db567f",
                "created_at": "2015-03-19T16:33:08+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "3e847486-eb74-4210-9f99-cc1c2a2650ef",
                "domain_guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "domain_url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "apps_url": "/v2/routes/c616eb0b-1b71-47a2-9496-0c4d80db567f/apps"
              }
            }
          ]
        }
  recorded_at: Thu, 19 Mar 2015 16:33:55 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 29d8763f-91b3-4088-604f-e18783c73cec
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - 88965b22-0920-4f01-7449-d9843afabbca::0a85fed3-e510-4341-ab8c-30d3155f6205
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Thu, 19 Mar 2015 16:33:55 GMT
recorded_with: VCR 2.9.3
