{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-05-14T06:48:28.794731\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:33:28 GMT"},{"request":{"method":"delete","uri":"https://api.cloudcontrol.com/app/app_never_exists_0123456789/deployment/paasal/alias/adomainthatishopefullynotusedontheplatform.de","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":410,"message":null},"headers":{"Allow":["GET, POST, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/app_never_exists_0123456789/deployment/paasal/alias/adomainthatishopefullynotusedontheplatform.de"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"Gone"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:33:29 GMT"}],"recorded_with":"VCR 2.9.3"}