{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-05-14T06:48:26.232164\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:33:26 GMT"},{"request":{"method":"delete","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties62/deployment/paasal/alias/unknown_domain","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":410,"message":null},"headers":{"Allow":["GET, POST, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties62/deployment/paasal/alias/unknown_domain"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"Gone"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:33:26 GMT"}],"recorded_with":"VCR 2.9.3"}