---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - b6e50c98-1021-42d9-51e8-93c04409ed4b
      X-Vcap-Request-Id:
      - d6c1c18d-aba0-43e3-573c-d7cac2303f61::635c6188-9599-4296-89d4-ae3292aa501c
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Wed, 08 Apr 2015 15:38:44 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - 883fd405-6cc7-4b8e-4ca2-ac8892d80876, e8c89623-17fe-4ff2-6719-ea88daf9f922
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"d4843158-2849-4748-9a8c-8a721e3b86a0"}'
  recorded_at: Wed, 08 Apr 2015 15:38:44 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - ae72dca6-2332-4899-4337-9cc381a4cdcc
      X-Vcap-Request-Id:
      - 28f4da40-6065-4ad2-4973-052694256a82::42ab80bc-4e9e-4e9e-961f-b56a6ce9a6b6
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "277a3488-6b05-4331-83ff-45f182929977",
                "url": "/v2/apps/277a3488-6b05-4331-83ff-45f182929977",
                "created_at": "2015-04-08T15:37:26+00:00",
                "updated_at": "2015-04-08T15:38:13+00:00"
              },
              "entity": {
                "name": "paasal-test-app-all-updated",
                "production": false,
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
                "buildpack": "nodejs_buildpack",
                "detected_buildpack": null,
                "environment_json": {
                  "our_test_var_key": "our_updated_test_var_value",
                  "our_test_var_key2": "our_test_var_value2"
                },
                "memory": 256,
                "instances": 1,
                "disk_quota": 1024,
                "state": "STARTED",
                "version": "fa02549f-637e-4ba2-8e80-7adb077f6088",
                "command": null,
                "console": false,
                "debug": null,
                "staging_task_id": "2337cd1c6bd04422b2ad55911e008d55",
                "package_state": "STAGED",
                "health_check_timeout": null,
                "staging_failed_reason": null,
                "docker_image": null,
                "package_updated_at": "2015-04-08T15:37:53+00:00",
                "detected_start_command": "node server.js",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
                "events_url": "/v2/apps/277a3488-6b05-4331-83ff-45f182929977/events",
                "service_bindings_url": "/v2/apps/277a3488-6b05-4331-83ff-45f182929977/service_bindings",
                "routes_url": "/v2/apps/277a3488-6b05-4331-83ff-45f182929977/routes"
              }
            }
          ]
        }
  recorded_at: Wed, 08 Apr 2015 15:38:44 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/277a3488-6b05-4331-83ff-45f182929977/instances/0/files/logs/unknown_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 302
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://6d1af9602073498d9dc8150f076df6f3.10.244.0.34.xip.io/instance_paths/98108b5cc8e04d4c955ced39eeeb7c6d?hmac=c1908ddf843ce1c613e4929c06d5e9f1d9ee34e98ac9970c28be3a4916d3fd3f0b19a98925bef89bd7dc2044742b8a29a4b7f47cb8d2edda74ae59de766b3dc4&path=logs%2Funknown_id&timestamp=1428507525
      X-Cf-Requestid:
      - d7e1b2f9-42ae-44f7-57d3-bca68493a657
      X-Vcap-Request-Id:
      - 82fe507e-09f8-4da4-6013-39bfcaafc376::438ece4d-97d7-4f85-a1d4-547a4e0c69db
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 08 Apr 2015 15:38:44 GMT
- request:
    method: get
    uri: https://6d1af9602073498d9dc8150f076df6f3.10.244.0.34.xip.io/instance_paths/98108b5cc8e04d4c955ced39eeeb7c6d?hmac=c1908ddf843ce1c613e4929c06d5e9f1d9ee34e98ac9970c28be3a4916d3fd3f0b19a98925bef89bd7dc2044742b8a29a4b7f47cb8d2edda74ae59de766b3dc4&path=logs%2Funknown_id&timestamp=1428507525
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - application/json
      X-Cf-Requestid:
      - 81e35748-ef95-414f-4ab2-4857ed08bd5e
    body:
      encoding: UTF-8
      string: '{"error":"Entity not found"}'
  recorded_at: Wed, 08 Apr 2015 15:38:44 GMT
recorded_with: VCR 2.9.3
