---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 9140aca3-5f4d-4a8e-6c20-8866a39bb90d
      X-Vcap-Request-Id:
      - 9ca7603f-7149-4d46-7c78-ac74b61233fc::031c586c-ae5c-47a3-92f9-382cdcdb764c
    body:
      encoding: US-ASCII
      string: ! '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Wed, 25 Mar 2015 16:22:50 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - 619e3ab7-c3e9-4735-4cb6-ad94f2842cf4, 4140bf63-99c3-440a-6b60-d561b1e242ce
    body:
      encoding: US-ASCII
      string: ! '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"e65474ef-a7a3-4116-b6dd-00e768d145f2"}'
  recorded_at: Wed, 25 Mar 2015 16:22:50 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - cd4f6366-7125-4f09-78f4-d25288991d3a
      X-Vcap-Request-Id:
      - e8f83cf1-f3b8-4ee8-5746-1d9cd163b678::6d34c9d0-3774-4060-8544-ad2c2d44adf3
    body:
      encoding: US-ASCII
      string: ! "{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\":
        null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\":
        {\n        \"guid\": \"eb5c7fd1-4985-4065-be56-f5d1cc398dad\",\n        \"url\":
        \"/v2/apps/eb5c7fd1-4985-4065-be56-f5d1cc398dad\",\n        \"created_at\":
        \"2015-03-25T16:22:35+00:00\",\n        \"updated_at\": \"2015-03-25T16:22:49+00:00\"\n
        \     },\n      \"entity\": {\n        \"name\": \"paasal-test-app-all-updated\",\n
        \       \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n
        \       \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\":
        \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\":
        {\n          \"our_test_var_key\": \"our_test_var_value\",\n          \"our_test_var_key2\":
        \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\":
        1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\":
        \"4eb287b6-48be-48ff-9759-268ad8e9fc42\",\n        \"command\": null,\n        \"console\":
        false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\":
        \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\":
        null,\n        \"docker_image\": null,\n        \"package_updated_at\": null,\n
        \       \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n
        \       \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n
        \       \"events_url\": \"/v2/apps/eb5c7fd1-4985-4065-be56-f5d1cc398dad/events\",\n
        \       \"service_bindings_url\": \"/v2/apps/eb5c7fd1-4985-4065-be56-f5d1cc398dad/service_bindings\",\n
        \       \"routes_url\": \"/v2/apps/eb5c7fd1-4985-4065-be56-f5d1cc398dad/routes\"\n
        \     }\n    }\n  ]\n}"
  recorded_at: Wed, 25 Mar 2015 16:22:50 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/eb5c7fd1-4985-4065-be56-f5d1cc398dad/env
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 99497251-8cae-4b6e-4fcf-5b9677aeaeaa
      X-Vcap-Request-Id:
      - 5826f559-be90-4c27-7e98-61d2f44ab8d8::aed6d984-b006-4362-8ddc-4a9e8caf3a34
    body:
      encoding: US-ASCII
      string: ! "{\n  \"staging_env_json\": {\n\n  },\n  \"running_env_json\": {\n\n
        \ },\n  \"environment_json\": {\n    \"our_test_var_key\": \"our_test_var_value\",\n
        \   \"our_test_var_key2\": \"our_test_var_value2\"\n  },\n  \"system_env_json\":
        {\n    \"VCAP_SERVICES\": {\n\n    }\n  },\n  \"application_env_json\": {\n
        \   \"VCAP_APPLICATION\": {\n      \"limits\": {\n        \"mem\": 256,\n
        \       \"disk\": 1024,\n        \"fds\": 16384\n      },\n      \"application_version\":
        \"4eb287b6-48be-48ff-9759-268ad8e9fc42\",\n      \"application_name\": \"paasal-test-app-all-updated\",\n
        \     \"application_uris\": [\n        \"eb5c7fd1-4985-4065-be56-f5d1cc398dad.10.244.0.34.xip.io\"\n
        \     ],\n      \"version\": \"4eb287b6-48be-48ff-9759-268ad8e9fc42\",\n      \"name\":
        \"paasal-test-app-all-updated\",\n      \"space_name\": \"development\",\n
        \     \"space_id\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n      \"uris\":
        [\n        \"eb5c7fd1-4985-4065-be56-f5d1cc398dad.10.244.0.34.xip.io\"\n      ],\n
        \     \"users\": null\n    }\n  }\n}"
  recorded_at: Wed, 25 Mar 2015 16:22:50 GMT
recorded_with: VCR 2.9.3
