---
http_interactions:
- request:
    method: post
    uri: https://api.cloudcontrol.com/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - POST, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/token"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"token": "__TOKEN__", "expires": "2015-04-08T18:19:39.252972"}'
  recorded_at: Wed, 08 Apr 2015 18:04:39 GMT
- request:
    method: get
    uri: https://api.cloudcontrol.com/app/paasaltestappallproperties13/deployment
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/app/paasaltestappallproperties13/deployment"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: '[{"name": "paasaltestappallproperties13/paasal", "dep_id": "dep5r8zdn7j"}]'
  recorded_at: Wed, 08 Apr 2015 18:04:39 GMT
- request:
    method: delete
    uri: https://api.cloudcontrol.com/app/paasaltestappallproperties13/deployment/paasal
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: 
    headers:
      Allow:
      - GET, POST, PUT, DELETE, HEAD, OPTIONS
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/app/paasaltestappallproperties13/deployment/paasal"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 08 Apr 2015 18:04:41 GMT
- request:
    method: delete
    uri: https://api.cloudcontrol.com/app/paasaltestappallproperties13
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: 
    headers:
      Allow:
      - GET, POST, DELETE, HEAD, OPTIONS
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/app/paasaltestappallproperties13"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 08 Apr 2015 18:04:42 GMT
recorded_with: VCR 2.9.3
