{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/04/28 12:22:32 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:35:17 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated/addons/mongolab","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":null},"headers":{"Content-Type":["application/json"], "RateLimit-Remaining":["2307"], "Status":["404 Not Found"]},"body":{"encoding":"UTF-8","string":"{\"resource\":\"addon\",\"id\":\"not_found\",\"message\":\"Couldn't find that add-on.\"}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:35:18 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated/addons","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Expansion":["addon_service, plan"], "Content-Range":["name smiling-gently-3961..smiling-gently-3961"], "Content-Type":["application/json"], "ETag":["\"f945c3d849c09d196061c67143234d7e\""], "Last-Modified":["Tue, 28 Apr 2015 19:34:06 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2306"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"config_vars\":[\"MONGOLAB_URI\"],\"created_at\":\"2015-04-28T19:34:03Z\",\"id\":\"ba80111e-2e9d-445e-ae17-ee8537700e97\",\"name\":\"smiling-gently-3961\",\"addon_service\":{\"id\":\"3dfb031f-23f4-4123-856f-5cb95ecdadc9\",\"name\":\"mongolab\"},\"plan\":{\"id\":\"8e6163ec-a935-4738-a0f4-60867f4f86cb\",\"name\":\"mongolab:sandbox\"},\"app\":{\"id\":\"6fdf309b-980d-44fa-a4d0-8661e416ea14\",\"name\":\"paasal-test-app-all-updated\"},\"provider_id\":\"heroku_app36336871\",\"updated_at\":\"2015-04-28T19:34:06Z\",\"web_url\":\"https://addons-sso.heroku.com/apps/paasal-test-app-all-updated/addons/ba80111e-2e9d-445e-ae17-ee8537700e97\"}]"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:35:19 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated/addons/ba80111e-2e9d-445e-ae17-ee8537700e97","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Expansion":["addon_service, plan"], "Content-Type":["application/json"], "ETag":["\"b991c8d4dee2dc3dc207d8f8ce0e2bc1\""], "Last-Modified":["Tue, 28 Apr 2015 19:34:06 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2305"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"config_vars\":[\"MONGOLAB_URI\"],\"created_at\":\"2015-04-28T19:34:03Z\",\"id\":\"ba80111e-2e9d-445e-ae17-ee8537700e97\",\"name\":\"smiling-gently-3961\",\"addon_service\":{\"id\":\"3dfb031f-23f4-4123-856f-5cb95ecdadc9\",\"name\":\"mongolab\"},\"plan\":{\"id\":\"8e6163ec-a935-4738-a0f4-60867f4f86cb\",\"name\":\"mongolab:sandbox\"},\"app\":{\"id\":\"6fdf309b-980d-44fa-a4d0-8661e416ea14\",\"name\":\"paasal-test-app-all-updated\"},\"provider_id\":\"heroku_app36336871\",\"updated_at\":\"2015-04-28T19:34:06Z\",\"web_url\":\"https://addons-sso.heroku.com/apps/paasal-test-app-all-updated/addons/ba80111e-2e9d-445e-ae17-ee8537700e97\"}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:35:19 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/addon-services/3dfb031f-23f4-4123-856f-5cb95ecdadc9","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"447997ec1652b470a537eaf95a77019a\""], "Last-Modified":["Tue, 28 Apr 2015 19:35:13 GMT"], "RateLimit-Remaining":["2304"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"created_at\":\"2011-04-01T06:41:39Z\",\"human_name\":\"MongoLab\",\"id\":\"3dfb031f-23f4-4123-856f-5cb95ecdadc9\",\"name\":\"mongolab\",\"state\":\"ga\",\"updated_at\":\"2015-04-28T19:35:13Z\"}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:35:20 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/addon-services/3dfb031f-23f4-4123-856f-5cb95ecdadc9/plans","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["name dedicated-cluster-m1..shared-single-small"], "Content-Type":["application/json"], "ETag":["\"b1c7aef3681db1fb4d1e0641d12c852c\""], "Last-Modified":["Fri, 05 Dec 2014 21:29:58 GMT"], "RateLimit-Remaining":["2303"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"created_at\":\"2014-12-05T19:44:24Z\",\"default\":false,\"description\":\"MongoLab Dedicated Cluster M1\",\"human_name\":\"Dedicated Cluster M1\",\"id\":\"643a604c-868a-4bf1-8119-5dd9a4a92b51\",\"name\":\"mongolab:dedicated-cluster-m1\",\"price\":{\"cents\":24000,\"unit\":\"month\"},\"state\":\"ga\",\"updated_at\":\"2014-12-05T21:29:58Z\"},{\"created_at\":\"2014-12-05T19:48:46Z\",\"default\":false,\"description\":\"MongoLab Dedicated Cluster M2\",\"human_name\":\"Dedicated Cluster M2\",\"id\":\"bad337f7-dfba-43d8-ab65-04ee6cc82a65\",\"name\":\"mongolab:dedicated-cluster-m2\",\"price\":{\"cents\":48000,\"unit\":\"month\"},\"state\":\"ga\",\"updated_at\":\"2014-12-05T21:29:58Z\"},{\"created_at\":\"2014-12-05T19:49:51Z\",\"default\":false,\"description\":\"MongoLab [...]
{"request":{"method":"get","uri":"https://api.heroku.com/apps/6fdf309b-980d-44fa-a4d0-8661e416ea14/config-vars","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"128b79508faf07485da501a0f5d02b37\""], "Last-Modified":["Tue, 28 Apr 2015 19:34:06 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read-protected write-protected"], "RateLimit-Remaining":["2302"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"our_test_var_key\":\"our_updated_test_var_value\",\"our_test_var_key2\":\"our_test_var_value2\",\"MONGOLAB_URI\":\"mongodb://heroku_app36336871:2ao860usl2rml1hh0983hsmcf0@ds031832.mongolab.com:31832/heroku_app36336871\"}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:35:21 GMT"}],"recorded_with":"VCR 2.9.3"}