{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["2c30758c-3837-461b-5be4-7507ac58254c"], "X-Vcap-Request-Id":["f0aff1c6-201e-4e12-5a09-1ddc103ddc8c::783ebb58-871d-4f73-8188-905aa28d01da"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:44:05 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["449b8866-14a8-493a-6ffa-212db7f0382b, d984f2d3-a55c-4155-5d6d-322b4a591bef"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"45b533d0-f968-42e0-8ddf-b63edc9fbed4\"}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:44:05 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Anucleus-test-app-min-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["addd6661-3614-4a56-66e9-10068e74485e"], "X-Vcap-Request-Id":["dcfd1124-1723-45ad-7ac3-02931400f457::e0ab27e2-8d49-4a12-8012-d86e650e00a2"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"8eb3af60-b711-46e3-958f-2688f74c01d6\",\n        \"url\": \"/v2/apps/8eb3af60-b711-46e3-958f-2688f74c01d6\",\n        \"created_at\": \"2015-07-28T12:43:54+00:00\",\n        \"updated_at\": \"2015-07-28T12:43:58+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"nucleus-test-app-min-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"89c9c11f-b8f1-40aa-814b-8f337dd36bb0\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": null,\n        \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/8eb3af60-b711-46e3-958f-2688f74c01d6/events\",\n        \"service_bindings_url\": \"/v2/apps/8eb3af60-b711-46e3-958f-2688f74c01d6/service_bindings\",\n        \"routes_url\": \"/v2/apps/8eb3af60-b711-46e3-958f-2688f74c01d6/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:44:05 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/8eb3af60-b711-46e3-958f-2688f74c01d6/env","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["2143c966-1348-42c6-5daf-33ba5ac7b0cc"], "X-Vcap-Request-Id":["be49f729-b2b4-4220-6adf-1d6d43b78f1f::6db6b308-2fc1-4fd0-8103-fef3378fff09"]},"body":{"encoding":"UTF-8","string":"{\n  \"staging_env_json\": {\n\n  },\n  \"running_env_json\": {\n\n  },\n  \"environment_json\": {\n\n  },\n  \"system_env_json\": {\n    \"VCAP_SERVICES\": {\n\n    }\n  },\n  \"application_env_json\": {\n    \"VCAP_APPLICATION\": {\n      \"limits\": {\n        \"mem\": 256,\n        \"disk\": 1024,\n        \"fds\": 16384\n      },\n      \"application_version\": \"89c9c11f-b8f1-40aa-814b-8f337dd36bb0\",\n      \"application_name\": \"nucleus-test-app-min-updated\",\n      \"application_uris\": [\n        \"8eb3af60-b711-46e3-958f-2688f74c01d6.10.244.0.34.xip.io\"\n      ],\n      \"version\": \"89c9c11f-b8f1-40aa-814b-8f337dd36bb0\",\n      \"name\": \"nucleus-test-app-min-updated\",\n      \"space_name\": \"development\",\n      \"space_id\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n      \"uris\": [\n        \"8eb3af60-b711-46e3-958f-2688f74c01d6.10.244.0.34.xip.io\"\n      ],\n      \"users\": null\n    }\n  }\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:44:05 GMT"},[...]
{"request":{"method":"put","uri":"https://api.10.244.0.34.xip.io/v2/apps/8eb3af60-b711-46e3-958f-2688f74c01d6","body":{"encoding":"UTF-8","string":"{\"environment_json\":{\"our_test_var_key\":\"our_test_var_value\"}}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["52753cf6-5f31-4f7e-5556-8e9022ae6914"], "X-Vcap-Request-Id":["aac1a625-fb62-4513-4e0a-8e734d1a756d::119f09a7-abac-4d21-a6f2-c207afeb32d1"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"8eb3af60-b711-46e3-958[...]
