{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["0101e7a9-80ce-498d-4652-40b52dc0189b"], "X-Vcap-Request-Id":["b3a3e247-c375-4746-46c5-c40ff2644709::d2bf304a-b691-438d-b6b2-5813e99417b1"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:17 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["e51c9e99-8607-4a2b-4c64-56db7801b25a, 51ec6f55-9908-402e-6346-fd4bd8162ad8"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"4e615216-710f-4da4-ab55-0ebdd55116b6\"}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:17 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["9aebacf5-40ce-41bc-6410-4b4be168c189"], "X-Vcap-Request-Id":["d7b12f5f-6f61-4412-5e27-89408ef191c4::e3930df1-c682-4fed-aca8-5922228d7954"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"a90a8849-f060-4927-8ddf-7596489393bb\",\n        \"url\": \"/v2/apps/a90a8849-f060-4927-8ddf-7596489393bb\",\n        \"created_at\": \"2015-04-29T07:21:07+00:00\",\n        \"updated_at\": \"2015-04-29T07:21:12+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-min-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"b04bea6a-121e-4d08-833c-6c8dead896ef\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": null,\n        \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/a90a8849-f060-4927-8ddf-7596489393bb/events\",\n        \"service_bindings_url\": \"/v2/apps/a90a8849-f060-4927-8ddf-7596489393bb/service_bindings\",\n        \"routes_url\": \"/v2/apps/a90a8849-f060-4927-8ddf-7596489393bb/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:17 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/a90a8849-f060-4927-8ddf-7596489393bb/env","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["c5cd2199-9095-4515-6f40-c4794753f81a"], "X-Vcap-Request-Id":["654d3fc9-e8e7-42fc-4ae0-d8e46fc10b0c::5b7e029a-aa1c-456f-88ba-f2b6ec5087c0"]},"body":{"encoding":"UTF-8","string":"{\n  \"staging_env_json\": {\n\n  },\n  \"running_env_json\": {\n\n  },\n  \"environment_json\": {\n\n  },\n  \"system_env_json\": {\n    \"VCAP_SERVICES\": {\n\n    }\n  },\n  \"application_env_json\": {\n    \"VCAP_APPLICATION\": {\n      \"limits\": {\n        \"mem\": 256,\n        \"disk\": 1024,\n        \"fds\": 16384\n      },\n      \"application_version\": \"b04bea6a-121e-4d08-833c-6c8dead896ef\",\n      \"application_name\": \"paasal-test-app-min-updated\",\n      \"application_uris\": [\n        \"a90a8849-f060-4927-8ddf-7596489393bb.10.244.0.34.xip.io\"\n      ],\n      \"version\": \"b04bea6a-121e-4d08-833c-6c8dead896ef\",\n      \"name\": \"paasal-test-app-min-updated\",\n      \"space_name\": \"development\",\n      \"space_id\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n      \"uris\": [\n        \"a90a8849-f060-4927-8ddf-7596489393bb.10.244.0.34.xip.io\"\n      ],\n      \"users\": null\n    }\n  }\n}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:17 GMT"},[...]
{"request":{"method":"put","uri":"https://api.10.244.0.34.xip.io/v2/apps/a90a8849-f060-4927-8ddf-7596489393bb","body":{"encoding":"UTF-8","string":"{\"environment_json\":{\"our_test_var_key\":\"our_test_var_value\"}}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["218fc043-fd51-4278-66a9-3d211ce38334"], "X-Vcap-Request-Id":["39c07ed6-0550-4301-525f-f9467c087e90::78df40ed-5315-464e-897a-3c2a4c7e7410"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"a90a8849-f060-4927-8dd[...]
