{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/06/27 02:15:08 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:19:06 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/paasal-test-app-min-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"7a3b97d0a1a840a96ee8c642ed3afa45\""], "Last-Modified":["Sat, 27 Jun 2015 09:18:12 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2286"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"archived_at\":null,\"buildpack_provided_description\":\"Node.js\",\"build_stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"created_at\":\"2015-06-27T09:01:19Z\",\"id\":\"2d7ececc-e5d8-46ca-b78b-ab910da3df36\",\"git_url\":\"git@heroku.com:paasal-test-app-min-updated.git\",\"maintenance\":true,\"name\":\"paasal-test-app-min-updated\",\"owner\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"region\":{\"id\":\"59accabd-516d-4f0e-83e6-6e3757701145\",\"name\":\"us\"},\"released_at\":\"2015-06-27T09:15:04Z\",\"repo_size\":2702992,\"slug_size\":12838721,\"stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"updated_at\":\"2015-06-27T09:18:12Z\",\"web_url\":\"https://paasal-test-app-min-updated.herokuapp.com/\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:19:07 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/2d7ececc-e5d8-46ca-b78b-ab910da3df36/dynos","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"d5508c0154f3f37f3e6090e726899d06\""], "Last-Modified":["Sat, 27 Jun 2015 09:17:36 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2285"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"attach_url\":null,\"command\":\"node server.js\",\"created_at\":\"2015-06-27T09:17:36Z\",\"id\":\"f0932a81-a970-4693-b7a0-04934ba4d8db\",\"name\":\"web.1\",\"app\":{\"id\":\"2d7ececc-e5d8-46ca-b78b-ab910da3df36\",\"name\":\"paasal-test-app-min-updated\"},\"release\":{\"id\":\"08d275e2-8443-4741-a04e-11c3d7bcb6ff\",\"version\":4},\"size\":\"Free\",\"state\":\"up\",\"type\":\"web\",\"updated_at\":\"2015-06-27T09:17:36Z\"}]"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:19:07 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/2d7ececc-e5d8-46ca-b78b-ab910da3df36/formation","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"7a3b97d0a1a840a96ee8c642ed3afa45\""], "Last-Modified":["Sat, 27 Jun 2015 09:18:12 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2284"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"app\":{\"id\":\"2d7ececc-e5d8-46ca-b78b-ab910da3df36\",\"name\":\"paasal-test-app-min-updated\"},\"command\":\"node server.js\",\"created_at\":\"2015-06-27T09:15:04Z\",\"id\":\"775ebd3b-c20a-4f68-a480-5a92b0f4ac1a\",\"type\":\"web\",\"quantity\":1,\"size\":\"Free\",\"updated_at\":\"2015-06-27T09:17:28Z\"}]"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:19:08 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/2d7ececc-e5d8-46ca-b78b-ab910da3df36/buildpack-installations","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["ordinal 0..0"], "Content-Type":["application/json"], "ETag":["\"87d7b85882f94ae872184eafce30ccd8\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2283"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"buildpack\":{\"url\":\"https://github.com/heroku/heroku-buildpack-nodejs\"},\"ordinal\":0}]"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:19:08 GMT"},{"request":{"method":"patch","uri":"https://api.heroku.com/apps/paasal-test-app-min-updated/formation","body":{"encoding":"UTF-8","string":"{\"updates\":[{\"process\":\"worker\",\"quantity\":0}]}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":null},"headers":{"Content-Type":["application/json"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global write write-protected"], "RateLimit-Remaining":["2282"], "Status":["404 Not Found"]},"body":{"encoding":"UTF-8","string":"{\"resource\":\"dyno_type\",\"id\":\"not_found\",\"message\":\"No such process type worker defined in Procfile.\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:19:09 GMT"},[...]
{"request":{"method":"get","uri":"https://api.heroku.com/apps/2d7ececc-e5d8-46ca-b78b-ab910da3df36/buildpack-installations","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["ordinal 0..0"], "Content-Type":["application/json"], "ETag":["\"87d7b85882f94ae872184eafce30ccd8\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2274"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"buildpack\":{\"url\":\"https://github.com/heroku/heroku-buildpack-nodejs\"},\"ordinal\":0}]"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:19:14 GMT"}],"recorded_with":"VCR 2.9.3"}