{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/04/28 12:39:46 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:42:33 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/paasal-test-app-min-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"615fb65bfb8bc20b498161e75704ff59\""], "Last-Modified":["Tue, 28 Apr 2015 19:39:56 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2254"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"archived_at\":null,\"buildpack_provided_description\":\"Node.js\",\"build_stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"created_at\":\"2015-04-28T19:27:01Z\",\"id\":\"6481c716-edc6-47fd-b9a6-4fade8409e09\",\"git_url\":\"git@heroku.com:paasal-test-app-min-updated.git\",\"maintenance\":false,\"name\":\"paasal-test-app-min-updated\",\"owner\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"region\":{\"id\":\"59accabd-516d-4f0e-83e6-6e3757701145\",\"name\":\"us\"},\"released_at\":\"2015-04-28T19:39:45Z\",\"repo_size\":2703035,\"slug_size\":12570919,\"stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"updated_at\":\"2015-04-28T19:39:56Z\",\"web_url\":\"https://paasal-test-app-min-updated.herokuapp.com/\"}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:42:33 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/6481c716-edc6-47fd-b9a6-4fade8409e09/dynos","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"ec5c5ae13434766108b9afb9a42e6364\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2253"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:42:34 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/6481c716-edc6-47fd-b9a6-4fade8409e09/formation","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"615fb65bfb8bc20b498161e75704ff59\""], "Last-Modified":["Tue, 28 Apr 2015 19:39:56 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2252"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"command\":\"node server.js\",\"created_at\":\"2015-04-28T19:39:45Z\",\"id\":\"36d954fa-a669-46ea-afdf-b2ce58346826\",\"type\":\"web\",\"quantity\":0,\"size\":\"1X\",\"updated_at\":\"2015-04-28T19:39:47Z\"}]"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:42:34 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/6481c716-edc6-47fd-b9a6-4fade8409e09/buildpack-installations","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["ordinal 0..0"], "Content-Type":["application/json"], "ETag":["\"87d7b85882f94ae872184eafce30ccd8\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2251"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"buildpack\":{\"url\":\"https://github.com/heroku/heroku-buildpack-nodejs\"},\"ordinal\":0}]"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:42:35 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/6481c716-edc6-47fd-b9a6-4fade8409e09/releases","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["version 1..4"], "Content-Type":["application/json"], "ETag":["\"be25be1941758d5af0ed9789442b0174\""], "Last-Modified":["Tue, 28 Apr 2015 19:39:45 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read-protected write-protected"], "RateLimit-Remaining":["2250"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"app\":{\"id\":\"6481c716-edc6-47fd-b9a6-4fade8409e09\",\"name\":\"paasal-test-app-min-updated\"},\"created_at\":\"2015-04-28T19:27:01Z\",\"description\":\"Initial release\",\"id\":\"fd977491-86ef-48f2-98d1-75789cea6133\",\"slug\":null,\"updated_at\":\"2015-04-28T19:27:01Z\",\"user\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"version\":1},{\"app\":{\"id\":\"6481c716-edc6-47fd-b9a6-4fade8409e09\",\"name\":\"paasal-test-app-min-updated\"},\"created_at\":\"2015-04-28T19:27:02Z\",\"description\":\"Enable Logplex\",\"id\":\"d94c51dd-6bcc-469b-bfac-5d576cd2ac24\",\"slug\":null,\"updated_at\":\"2015-04-28T19:27:02Z\",\"user\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"version\":2},{\"app\":{\"id\":\"6481c716-edc6-47fd-b9a6-4fade8409e09\",\"name\":\"paasal-test-app-min-updated\"},\"created_at\":\"2015-04-28T19:31:51Z\",\"description\":\"Set our_test_var_key config vars\",\"id\":\"fac75e93-8a73-4834-9909-a1b207ef53d8\",\"slug\":null,\"updated_at\":\"2015-04-28T19:31:51Z\",\"user\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"version\":3},{\"app\":{\"id\":\"6481c716-edc6-47fd-b9a6-4fade8409e09\",\"name\":\"paasal-test-app-min-updated\"},\"created_at\":\"2015-04-28T19:39:45Z\",\"description\":\"Deploy 4d866c1\",\"id\":\"b13f22b6-cb6c-4607-9758-f9804069097b\",\"slug\":{\"id\":\"903c7754-c480-47c6-a25d-271a3f6437b7\"},\"updated_at\":\"2015-04-28T19:39:45Z\",\"user\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"version\":4}]"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:42:36 GMT"},{"request":{"method":"patch","uri":"https://api.heroku.com/apps/paasal-test-app-min-updated/formation","body":{"encoding":"UTF-8","string":"{\"updates\":[{\"process\":\"web\",\"quantity\":1}]}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global write write-protected"], "RateLimit-Remaining":["2249"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"command\":\"node server.js\",\"created_at\":\"2015-04-28T19:39:45Z\",\"id\":\"36d954fa-a669-46ea-afdf-b2ce58346826\",\"type\":\"web\",\"quantity\":1,\"size\":\"1X\",\"updated_at\":\"2015-04-28T19:42:36Z\"}]"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:42:36 GMT"},{"request":{"method":"patch","uri":"https://api.heroku.com/apps/paasal-test-app-min-updated/formation","body":{"encoding":"UTF-8","string":"{\"updates\":[{\"process\":\"worker\",\"quantity\":1}]}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":null},"headers":{"Content-Type":["application/json"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global write write-protected"], "RateLimit-Remaining":["2248"], "Status":["404 Not Found"]},"body":{"encoding":"UTF-8","string":"{\"resource\":\"dyno_type\",\"id\":\"not_found\",\"message\":\"No such process type worker defined in Procfile.\"}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:42:37 GMT"},[...]
{"request":{"method":"get","uri":"https://api.heroku.com/apps/6481c716-edc6-47fd-b9a6-4fade8409e09/dynos","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"dd65692f773536be530cf1cf6efd3a1a\""], "Last-Modified":["Tue, 28 Apr 2015 19:42:37 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2246"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"attach_url\":null,\"command\":\"node server.js\",\"created_at\":\"2015-04-28T19:42:37Z\",\"id\":\"c34fb1b8-d902-47fd-a4f5-5d794495cfac\",\"name\":\"web.1\",\"release\":{\"id\":\"b13f22b6-cb6c-4607-9758-f9804069097b\",\"version\":4},\"size\":\"1X\",\"state\":\"starting\",\"type\":\"web\",\"updated_at\":\"2015-04-28T19:42:37Z\"}]"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:42:38 GMT"},[...]
{"request":{"method":"get","uri":"https://api.heroku.com/apps/6481c716-edc6-47fd-b9a6-4fade8409e09/buildpack-installations","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["ordinal 0..0"], "Content-Type":["application/json"], "ETag":["\"87d7b85882f94ae872184eafce30ccd8\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2256"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"buildpack\":{\"url\":\"https://github.com/heroku/heroku-buildpack-nodejs\"},\"ordinal\":0}]"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:42:44 GMT"}],"recorded_with":"VCR 2.9.3"}