{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?password=__heroku:password__&username=__heroku:user__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":false,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/10/08 04:22:08 -0700\",\"created_at\":\"2014/10/08 04:22:08 -0700\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/10/23 02:44:13 -0700\",\"name\":\"stfnklb\",\"updated_at\":\"2015/10/23 03:11:14 -0700\",\"verified\":true,\"verified_at\":\"2015/10/23 02:45:30 -0700\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:11:59 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/nucleus-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"d6c39eb6a5d174b5757dd84acfac85e6\""], "Last-Modified":["Fri, 23 Oct 2015 10:11:18 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4494"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"{\"archived_at\":null,\"buildpack_provided_description\":\"Node.js\",\"build_stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"created_at\":\"2015-10-23T09:52:31Z\",\"id\":\"11e97ded-c274-4bc9-aa9e-e95cf479e46d\",\"git_url\":\"git@heroku.com:nucleus-app-all-updated.git\",\"maintenance\":false,\"name\":\"nucleus-app-all-updated\",\"owner\":{\"email\":\"__heroku:user__\",\"id\":\"6118a9d1-36ba-482e-8299-449000a2d46d\"},\"region\":{\"id\":\"59accabd-516d-4f0e-83e6-6e3757701145\",\"name\":\"us\"},\"released_at\":\"2015-10-23T10:10:16Z\",\"repo_size\":2703137,\"slug_size\":14794221,\"stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"updated_at\":\"2015-10-23T10:11:18Z\",\"web_url\":\"https://nucleus-app-all-updated.herokuapp.com/\",\"process_tier\":\"free\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:12:00 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/11e97ded-c274-4bc9-aa9e-e95cf479e46d/dynos","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"ec5c5ae13434766108b9afb9a42e6364\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4493"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"[]"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:12:01 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/11e97ded-c274-4bc9-aa9e-e95cf479e46d/formation","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"d6c39eb6a5d174b5757dd84acfac85e6\""], "Last-Modified":["Fri, 23 Oct 2015 10:11:18 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4492"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"[{\"app\":{\"id\":\"11e97ded-c274-4bc9-aa9e-e95cf479e46d\",\"name\":\"nucleus-app-all-updated\"},\"command\":\"node server.js\",\"created_at\":\"2015-10-23T10:10:16Z\",\"id\":\"776d17ed-22d7-46bc-860e-7f1ea40c04e3\",\"type\":\"web\",\"quantity\":0,\"size\":\"Free\",\"updated_at\":\"2015-10-23T10:10:18Z\"}]"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:12:02 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/11e97ded-c274-4bc9-aa9e-e95cf479e46d/buildpack-installations","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["ordinal 0..0"], "Content-Type":["application/json"], "ETag":["\"87d7b85882f94ae872184eafce30ccd8\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read-protected write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4491"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"[{\"buildpack\":{\"url\":\"https://github.com/heroku/heroku-buildpack-nodejs\",\"name\":\"https://github.com/heroku/heroku-buildpack-nodejs\"},\"ordinal\":0}]"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:12:03 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/11e97ded-c274-4bc9-aa9e-e95cf479e46d/releases","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["version 1..7"], "Content-Type":["application/json"], "ETag":["\"1680e45008e6137c2fb2ce6822447cc2\""], "Last-Modified":["Fri, 23 Oct 2015 10:10:16 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read-protected write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4490"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"[{\"app\":{\"id\":\"11e97ded-c274-4bc9-aa9e-e95cf479e46d\",\"name\":\"nucleus-app-all-updated\"},\"created_at\":\"2015-10-23T09:52:31Z\",\"description\":\"Initial release\",\"id\":\"6f8f9e56-1b15-4227-a0d7-8f92ca914f7d\",\"slug\":null,\"updated_at\":\"2015-10-23T09:52:31Z\",\"user\":{\"email\":\"__heroku:user__\",\"id\":\"6118a9d1-36ba-482e-8299-449000a2d46d\"},\"version\":1},{\"app\":{\"id\":\"11e97ded-c274-4bc9-aa9e-e95cf479e46d\",\"name\":\"nucleus-app-all-updated\"},\"created_at\":\"2015-10-23T09:52:33Z\",\"description\":\"Enable Logplex\",\"id\":\"743a7f1d-abd9-4525-adef-08ebe519eb2f\",\"slug\":null,\"updated_at\":\"2015-10-23T09:52:33Z\",\"user\":{\"email\":\"__heroku:user__\",\"id\":\"6118a9d1-36ba-482e-8299-449000a2d46d\"},\"version\":2},{\"app\":{\"id\":\"11e97ded-c274-4bc9-aa9e-e95cf479e46d\",\"name\":\"nucleus-app-all-updated\"},\"created_at\":\"2015-10[...]
{"request":{"method":"patch","uri":"https://api.heroku.com/apps/nucleus-app-all-updated/formation","body":{"encoding":"UTF-8","string":"{\"updates\":[{\"process\":\"web\",\"quantity\":1}]}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global write write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4489"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"[{\"app\":{\"id\":\"11e97ded-c274-4bc9-aa9e-e95cf479e46d\",\"name\":\"nucleus-app-all-updated\"},\"command\":\"node server.js\",\"created_at\":\"2015-10-23T10:10:16Z\",\"id\":\"776d17ed-22d7-46bc-860e-7f1ea40c04e3\",\"type\":\"web\",\"quantity\":1,\"size\":\"Free\",\"updated_at\":\"2015-10-23T10:11:49Z\"}]"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:12:05 GMT"},{"request":{"method":"patch","uri":"https://api.heroku.com/apps/nucleus-app-all-updated/formation","body":{"encoding":"UTF-8","string":"{\"updates\":[{\"process\":\"worker\",\"quantity\":1}]}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":null},"headers":{"Content-Type":["application/json"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global write write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4488"], "Status":["404 Not Found"]},"body":{"encoding":"CP850","string":"{\"resource\":\"formation\",\"id\":\"not_found\",\"message\":\"Couldn't find that formation.\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:12:06 GMT"},[...]
{"request":{"method":"get","uri":"https://api.heroku.com/apps/11e97ded-c274-4bc9-aa9e-e95cf479e46d/dynos","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"f7b0e7c2d34b580dc12a7459c02ba500\""], "Last-Modified":["Fri, 23 Oct 2015 10:11:53 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4486"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"[{\"attach_url\":null,\"command\":\"node server.js\",\"created_at\":\"2015-10-23T10:11:53Z\",\"id\":\"ebbdd286-c451-4820-9de1-7a934045af9e\",\"name\":\"web.1\",\"app\":{\"id\":\"11e97ded-c274-4bc9-aa9e-e95cf479e46d\",\"name\":\"nucleus-app-all-updated\"},\"release\":{\"id\":\"c63fa4c6-e41e-4682-ba30-b2002cfb547a\",\"version\":7},\"size\":\"Free\",\"state\":\"up\",\"type\":\"web\",\"updated_at\":\"2015-10-23T10:11:53Z\"}]"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:12:08 GMT"},[...]
{"request":{"method":"get","uri":"https://api.heroku.com/apps/11e97ded-c274-4bc9-aa9e-e95cf479e46d/buildpack-installations","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["ordinal 0..0"], "Content-Type":["application/json"], "ETag":["\"87d7b85882f94ae872184eafce30ccd8\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read-protected write-protected"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4480"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"[{\"buildpack\":{\"url\":\"https://github.com/heroku/heroku-buildpack-nodejs\",\"name\":\"https://github.com/heroku/heroku-buildpack-nodejs\"},\"ordinal\":0}]"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 10:12:16 GMT"}],"recorded_with":"VCR 2.9.3"}