{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/06/27 02:15:08 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:16:05 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"118934b1992a6ca4a6611f444a7ee558\""], "Last-Modified":["Sat, 27 Jun 2015 09:15:02 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2373"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"archived_at\":null,\"buildpack_provided_description\":\"Node.js\",\"build_stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"created_at\":\"2015-06-27T09:00:57Z\",\"id\":\"eabf58cb-478b-4eda-8349-4f98f56625f0\",\"git_url\":\"git@heroku.com:paasal-test-app-all-updated.git\",\"maintenance\":false,\"name\":\"paasal-test-app-all-updated\",\"owner\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"region\":{\"id\":\"59accabd-516d-4f0e-83e6-6e3757701145\",\"name\":\"us\"},\"released_at\":\"2015-06-27T09:14:02Z\",\"repo_size\":2703009,\"slug_size\":12853333,\"stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"updated_at\":\"2015-06-27T09:15:02Z\",\"web_url\":\"https://paasal-test-app-all-updated.herokuapp.com/\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:16:05 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/eabf58cb-478b-4eda-8349-4f98f56625f0/dynos","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"ec5c5ae13434766108b9afb9a42e6364\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2372"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:16:06 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/eabf58cb-478b-4eda-8349-4f98f56625f0/formation","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"118934b1992a6ca4a6611f444a7ee558\""], "Last-Modified":["Sat, 27 Jun 2015 09:15:02 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2371"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"app\":{\"id\":\"eabf58cb-478b-4eda-8349-4f98f56625f0\",\"name\":\"paasal-test-app-all-updated\"},\"command\":\"node server.js\",\"created_at\":\"2015-06-27T09:14:02Z\",\"id\":\"50c15d7e-ca96-49be-9c3f-11c90788b78a\",\"type\":\"web\",\"quantity\":0,\"size\":\"Free\",\"updated_at\":\"2015-06-27T09:14:04Z\"}]"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:16:06 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/eabf58cb-478b-4eda-8349-4f98f56625f0/buildpack-installations","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["ordinal 0..0"], "Content-Type":["application/json"], "ETag":["\"87d7b85882f94ae872184eafce30ccd8\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2370"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"buildpack\":{\"url\":\"https://github.com/heroku/heroku-buildpack-nodejs\"},\"ordinal\":0}]"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:16:07 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/eabf58cb-478b-4eda-8349-4f98f56625f0/releases","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["version 1..7"], "Content-Type":["application/json"], "ETag":["\"f780c01bd81a14bd0c3a5289d59d4f89\""], "Last-Modified":["Sat, 27 Jun 2015 09:14:02 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read-protected write-protected"], "RateLimit-Remaining":["2369"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"app\":{\"id\":\"eabf58cb-478b-4eda-8349-4f98f56625f0\",\"name\":\"paasal-test-app-all-updated\"},\"created_at\":\"2015-06-27T09:00:57Z\",\"description\":\"Initial release\",\"id\":\"0d49f88b-a73d-4098-a46e-396b2947e9ef\",\"slug\":null,\"updated_at\":\"2015-06-27T09:00:57Z\",\"user\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"version\":1},{\"app\":{\"id\":\"eabf58cb-478b-4eda-8349-4f98f56625f0\",\"name\":\"paasal-test-app-all-updated\"},\"created_at\":\"2015-06-27T09:00:58Z\",\"description\":\"Enable Logplex\",\"id\":\"1329e97a-23d8-4d3c-a700-9de899fc4355\",\"slug\":null,\"updated_at\":\"2015-06-27T09:00:58Z\",\"user\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"version\":2},{\"app\":{\"id\":\"eabf58cb-478b-4eda-8349-4f98f56625f0\",\"name\":\"paasal-test-app-all-updated\"},\"created_at\":\"2015-06-27T09:06:39Z\"[...]
{"request":{"method":"patch","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated/formation","body":{"encoding":"UTF-8","string":"{\"updates\":[{\"process\":\"web\",\"quantity\":1}]}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global write write-protected"], "RateLimit-Remaining":["2368"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"app\":{\"id\":\"eabf58cb-478b-4eda-8349-4f98f56625f0\",\"name\":\"paasal-test-app-all-updated\"},\"command\":\"node server.js\",\"created_at\":\"2015-06-27T09:14:02Z\",\"id\":\"50c15d7e-ca96-49be-9c3f-11c90788b78a\",\"type\":\"web\",\"quantity\":1,\"size\":\"Free\",\"updated_at\":\"2015-06-27T09:15:27Z\"}]"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:16:08 GMT"},{"request":{"method":"patch","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated/formation","body":{"encoding":"UTF-8","string":"{\"updates\":[{\"process\":\"worker\",\"quantity\":1}]}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":null},"headers":{"Content-Type":["application/json"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global write write-protected"], "RateLimit-Remaining":["2367"], "Status":["404 Not Found"]},"body":{"encoding":"UTF-8","string":"{\"resource\":\"dyno_type\",\"id\":\"not_found\",\"message\":\"No such process type worker defined in Procfile.\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:16:09 GMT"},[...]
{"request":{"method":"get","uri":"https://api.heroku.com/apps/eabf58cb-478b-4eda-8349-4f98f56625f0/dynos","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"8297214821245ec4d3bb43733d73cc08\""], "Last-Modified":["Sat, 27 Jun 2015 09:15:28 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2365"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"attach_url\":null,\"command\":\"node server.js\",\"created_at\":\"2015-06-27T09:15:28Z\",\"id\":\"af82fc5d-0bab-4ecb-9a03-5ac0d3a2d433\",\"name\":\"web.1\",\"app\":{\"id\":\"eabf58cb-478b-4eda-8349-4f98f56625f0\",\"name\":\"paasal-test-app-all-updated\"},\"release\":{\"id\":\"c9e92bfe-462f-43c1-baab-42ca5adce474\",\"version\":7},\"size\":\"Free\",\"state\":\"starting\",\"type\":\"web\",\"updated_at\":\"2015-06-27T09:15:28Z\"}]"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:16:10 GMT"},[...]
{"request":{"method":"get","uri":"https://api.heroku.com/apps/eabf58cb-478b-4eda-8349-4f98f56625f0/buildpack-installations","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["ordinal 0..0"], "Content-Type":["application/json"], "ETag":["\"87d7b85882f94ae872184eafce30ccd8\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2359"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"buildpack\":{\"url\":\"https://github.com/heroku/heroku-buildpack-nodejs\"},\"ordinal\":0}]"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:16:14 GMT"}],"recorded_with":"VCR 2.9.3"}