{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/04/24 00:43:46 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 07:52:27 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"b2ebdee4a954b88e095b5b960676348c\""], "Last-Modified":["Fri, 24 Apr 2015 07:46:29 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2335"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"archived_at\":null,\"buildpack_provided_description\":\"Node.js\",\"build_stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"created_at\":\"2015-04-24T07:24:55Z\",\"id\":\"d449a2b1-4b0a-4d78-a1d9-0eb08e7ae8d6\",\"git_url\":\"git@heroku.com:paasal-test-app-all-updated.git\",\"maintenance\":false,\"name\":\"paasal-test-app-all-updated\",\"owner\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"region\":{\"id\":\"59accabd-516d-4f0e-83e6-6e3757701145\",\"name\":\"us\"},\"released_at\":\"2015-04-24T07:42:28Z\",\"repo_size\":2703618,\"slug_size\":12596890,\"stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"updated_at\":\"2015-04-24T07:46:29Z\",\"web_url\":\"https://paasal-test-app-all-updated.herokuapp.com/\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 07:52:28 GMT"},[...]
{"request":{"method":"post","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated/log-sessions","body":{"encoding":"UTF-8","string":"{\"source\":\"heroku\",\"dyno\":\"api\",\"tail\":false}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2333"], "Status":["201 Created"]},"body":{"encoding":"UTF-8","string":"{\"created_at\":\"2015-04-24T07:52:30Z\",\"id\":\"337ecf96-c5ca-43e8-8fc5-fff3f3d79ef1\",\"logplex_url\":\"https://logplex.heroku.com/sessions/d212eb77-b1cb-41c5-aa49-97663786360b?srv=1429861950\",\"updated_at\":\"2015-04-24T07:52:30Z\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 07:52:30 GMT"},{"request":{"method":"get","uri":"https://logplex.heroku.com/sessions/d212eb77-b1cb-41c5-aa49-97663786360b?srv=1429861950","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["text/html"]},"body":{"encoding":"UTF-8","string":"2015-04-24T07:44:35.324954+00:00 heroku[api]: Set maintenance mode off by __heroku:user__\n2015-04-24T07:44:57.776931+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-04-24T07:45:20.058037+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-04-24T07:45:41.974281+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-04-24T07:45:52.441819+00:00 heroku[api]: Set maintenance mode off by __heroku:user__\n2015-04-24T07:46:21.784946+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-04-24T07:46:29.990317+00:00 heroku[api]: Set maintenance mode off by __heroku:user__\n"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 07:52:31 GMT"},[...]
{"request":{"method":"get","uri":"https://logplex.heroku.com/sessions/75057673-fbcc-42cb-b80b-77cf9c09f8a1?srv=1429861959","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["text/html"]},"body":{"encoding":"UTF-8","string":"2015-04-24T07:44:15.113596+00:00 heroku[web.1]: State changed from starting to up\n2015-04-24T07:44:35.324954+00:00 heroku[api]: Set maintenance mode off by __heroku:user__\n2015-04-24T07:44:57.776931+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-04-24T07:45:20.058037+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-04-24T07:45:41.974281+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-04-24T07:45:52.441819+00:00 heroku[api]: Set maintenance mode off by __heroku:user__\n2015-04-24T07:46:21.784946+00:00 heroku[api]: Set maintenance mode on by __heroku:user__\n2015-04-24T07:46:29.990317+00:00 heroku[api]: Set maintenance mode off by __heroku:user__\n2015-04-24T07:49:47.136197+00:00 heroku[router]: at=info method=GET path=\"/\" host=paasal-test-app-all-updated.herokuapp.com request_id=fa57aa88-0ab5-4412-9f28-3b84c8586714 fwd=\"188.193.127.6\" dyno=web.1 connect=0ms service=28ms status=200 bytes=3471\n"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 07:52:52 GMT"}],"recorded_with":"VCR 2.9.3"}