{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-04-24T08:52:11.688580\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:37:11 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties35/deployment/paasal/addon","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties35/deployment/paasal/addon"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[{\"addon_option\": {\"name\": \"alias.free\"}, \"settings\": {}}, {\"addon_option\": {\"name\": \"mysqls.free\"}, \"settings\": {\"MYSQLS_DATABASE\": \"depeah4tcva\", \"MYSQLS_USERNAME\": \"depeah4tcva\", \"MYSQLS_PASSWORD\": \"mvECy__1RJaS\", \"MYSQLS_PORT\": 3306, \"MYSQLS_HOSTNAME\": \"mysqlsdb.co8hm2var4k9.eu-west-1.rds.amazonaws.com\"}}, {\"addon_option\": {\"name\": \"config.free\"}, \"settings\": {\"CONFIG_VARS\": {\"our_test_var_key\": \"our_updated_test_var_value\", \"our_test_var_key2\": \"our_test_var_value2\"}}}]"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:37:12 GMT"}],"recorded_with":"VCR 2.9.3"}