---
http_interactions:
- request:
    method: post
    uri: https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"allow_tracking":true,"api_key":"__API_KEY__","beta":null,"confirmed":true,"confirmed_at":"2014/11/18
        01:37:21 -0800","created_at":"2014/11/18 01:37:21 -0800","id":"__USER_ID__@users.heroku.com","email":"__heroku:user__","last_login":"2015/04/08
        09:21:45 -0700","name":" ","updated_at":"2015/04/08 09:41:08 -0700","verified":false,"verified_at":null}'
  recorded_at: Wed, 08 Apr 2015 16:47:48 GMT
- request:
    method: get
    uri: https://api.heroku.com/regions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - name eu..us
      Content-Type:
      - application/json
      ETag:
      - '"2ec0b8af8efc327bfd1883a15aa73f08"'
      Last-Modified:
      - Thu, 19 Sep 2013 01:29:12 GMT
      RateLimit-Remaining:
      - '2395'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"created_at":"2013-09-19T01:29:12Z","description":"Europe","id":"ed30241c-ed8c-4bb6-9714-61953675d0b4","name":"eu","updated_at":"2013-09-19T01:29:12Z"},{"created_at":"2012-11-21T21:44:16Z","description":"United
        States","id":"59accabd-516d-4f0e-83e6-6e3757701145","name":"us","updated_at":"2013-04-05T10:13:06Z"}]'
  recorded_at: Wed, 08 Apr 2015 16:47:49 GMT
- request:
    method: post
    uri: https://api.heroku.com/apps
    body:
      encoding: UTF-8
      string: '{"name":"paasal-test-app-all-properties","region":"59accabd-516d-4f0e-83e6-6e3757701145"}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json
      Location:
      - https://paasal-test-app-all-properties.herokuapp.com/
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global write write-protected
      RateLimit-Remaining:
      - '2394'
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"archived_at":null,"buildpack_provided_description":null,"build_stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"created_at":"2015-04-08T16:47:50Z","id":"1aeedf64-e713-40fc-bc75-c745db7c05cd","git_url":"git@heroku.com:paasal-test-app-all-properties.git","maintenance":false,"name":"paasal-test-app-all-properties","owner":{"email":"__heroku:user__","id":"__heroku:id__"},"region":{"id":"59accabd-516d-4f0e-83e6-6e3757701145","name":"us"},"released_at":"2015-04-08T16:47:50Z","repo_size":null,"slug_size":null,"stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"updated_at":"2015-04-08T16:47:50Z","web_url":"https://paasal-test-app-all-properties.herokuapp.com/"}'
  recorded_at: Wed, 08 Apr 2015 16:47:50 GMT
- request:
    method: put
    uri: https://api.heroku.com/apps/1aeedf64-e713-40fc-bc75-c745db7c05cd/buildpack-installations
    body:
      encoding: UTF-8
      string: '{"updates":[{"buildpack":"https://github.com/heroku/heroku-buildpack-nodejs"}]}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - ordinal 0..0
      Content-Type:
      - application/json
      ETag:
      - '"87d7b85882f94ae872184eafce30ccd8"'
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global write write-protected
      RateLimit-Remaining:
      - '2393'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"buildpack":{"url":"https://github.com/heroku/heroku-buildpack-nodejs"},"ordinal":0}]'
  recorded_at: Wed, 08 Apr 2015 16:47:51 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/1aeedf64-e713-40fc-bc75-c745db7c05cd/dynos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"ec5c5ae13434766108b9afb9a42e6364"'
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2392'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 08 Apr 2015 16:47:52 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/1aeedf64-e713-40fc-bc75-c745db7c05cd/formation
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"c2888fe26787baec146e22a041ae5d71"'
      Last-Modified:
      - Wed, 08 Apr 2015 16:47:51 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2391'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 08 Apr 2015 16:47:52 GMT
[...]
- request:
    method: get
    uri: https://api.heroku.com/apps/1aeedf64-e713-40fc-bc75-c745db7c05cd/releases
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Range:
      - version 1..2
      Content-Type:
      - application/json
      ETag:
      - '"5eb4aaa8dbc07ba312b4759bd4e70931"'
      Last-Modified:
      - Wed, 08 Apr 2015 09:47:50 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read-protected write-protected
      RateLimit-Remaining:
      - '2389'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '[{"app":{"id":"1aeedf64-e713-40fc-bc75-c745db7c05cd","name":"paasal-test-app-all-properties"},"created_at":"2015-04-08T16:47:50Z","description":"Initial
        release","id":"65ab212a-8878-4f20-ae33-ea8e20adb53d","slug":null,"updated_at":"2015-04-08T16:47:50Z","user":{"email":"__heroku:user__","id":"__heroku:id__"},"version":1},{"app":{"id":"1aeedf64-e713-40fc-bc75-c745db7c05cd","name":"paasal-test-app-all-properties"},"created_at":"2015-04-08T16:47:50Z","description":"Enable
        Logplex","id":"ffcf5a25-967b-4422-9e62-33b76f647ced","slug":null,"updated_at":"2015-04-08T16:47:50Z","user":{"email":"__heroku:user__","id":"__heroku:id__"},"version":2}]'
  recorded_at: Wed, 08 Apr 2015 16:47:54 GMT
recorded_with: VCR 2.9.3
