{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/04/24 01:00:25 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:01:03 GMT"},{"request":{"method":"patch","uri":"https://api.heroku.com/apps/paasal-test-app-min-updated/formation","body":{"encoding":"UTF-8","string":"{\"updates\":[{\"process\":\"web\",\"quantity\":2}]}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global write write-protected"], "RateLimit-Remaining":["2380"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"command\":\"node server.js\",\"created_at\":\"2015-04-24T07:43:44Z\",\"id\":\"97cbe871-f7f3-4b06-91c6-fc968338ca4c\",\"type\":\"web\",\"quantity\":2,\"size\":\"1X\",\"updated_at\":\"2015-04-24T08:01:04Z\"}]"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:01:04 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/paasal-test-app-min-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"bfa302cc3af735927999477b7aa5f6d0\""], "Last-Modified":["Fri, 24 Apr 2015 08:01:04 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2379"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"archived_at\":null,\"buildpack_provided_description\":\"Node.js\",\"build_stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"created_at\":\"2015-04-24T07:25:18Z\",\"id\":\"6d2bd8b3-7f67-4892-bcad-ccfb6da4f947\",\"git_url\":\"git@heroku.com:paasal-test-app-min-updated.git\",\"maintenance\":false,\"name\":\"paasal-test-app-min-updated\",\"owner\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"region\":{\"id\":\"59accabd-516d-4f0e-83e6-6e3757701145\",\"name\":\"us\"},\"released_at\":\"2015-04-24T07:59:16Z\",\"repo_size\":2704483,\"slug_size\":12562585,\"stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"updated_at\":\"2015-04-24T08:01:04Z\",\"web_url\":\"https://paasal-test-app-min-updated.herokuapp.com/\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:01:05 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/6d2bd8b3-7f67-4892-bcad-ccfb6da4f947/dynos","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"451f53a7ecd5674047048cfd61ea50b5\""], "Last-Modified":["Fri, 24 Apr 2015 08:01:04 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2378"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"attach_url\":null,\"command\":\"node server.js\",\"created_at\":\"2015-04-24T07:59:40Z\",\"id\":\"5b95ea57-adb4-4d73-a20d-e73e2df738f0\",\"name\":\"web.1\",\"release\":{\"id\":\"575de944-bd40-4632-a854-53f83ca00f8c\",\"version\":5},\"size\":\"1X\",\"state\":\"up\",\"type\":\"web\",\"updated_at\":\"2015-04-24T07:59:40Z\"},{\"attach_url\":null,\"command\":\"node server.js\",\"created_at\":\"2015-04-24T08:01:04Z\",\"id\":\"581e4ade-58aa-4bbf-b631-2af8bd4538b2\",\"name\":\"web.2\",\"release\":{\"id\":\"575de944-bd40-4632-a854-53f83ca00f8c\",\"version\":5},\"size\":\"1X\",\"state\":\"starting\",\"type\":\"web\",\"updated_at\":\"2015-04-24T08:01:04Z\"}]"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:01:06 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/6d2bd8b3-7f67-4892-bcad-ccfb6da4f947/formation","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"bfa302cc3af735927999477b7aa5f6d0\""], "Last-Modified":["Fri, 24 Apr 2015 08:01:04 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2377"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"command\":\"node server.js\",\"created_at\":\"2015-04-24T07:43:44Z\",\"id\":\"97cbe871-f7f3-4b06-91c6-fc968338ca4c\",\"type\":\"web\",\"quantity\":2,\"size\":\"1X\",\"updated_at\":\"2015-04-24T08:01:04Z\"}]"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:01:07 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/6d2bd8b3-7f67-4892-bcad-ccfb6da4f947/buildpack-installations","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["ordinal 0..0"], "Content-Type":["application/json"], "ETag":["\"87d7b85882f94ae872184eafce30ccd8\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2376"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"buildpack\":{\"url\":\"https://github.com/heroku/heroku-buildpack-nodejs\"},\"ordinal\":0}]"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:01:08 GMT"}],"recorded_with":"VCR 2.9.3"}