---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - f6d6e8e3-4e52-45ae-64f1-77a7fdeb0946
      X-Vcap-Request-Id:
      - 78c25605-9c56-40eb-7fb2-2426ce9c65c3::6dd2e466-196e-4fcc-a83c-0b6368bf62f9
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Sat, 04 Apr 2015 12:52:01 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - 561a7f2a-692c-40a8-7898-d175678c6ace, 595afcc8-f44d-4e80-79c4-0e6e9fc335eb
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"19aa303a-258e-481a-ba06-9d4dab8bbd3c"}'
  recorded_at: Sat, 04 Apr 2015 12:52:01 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - f3bb5e34-7ce4-40fb-6692-6ae78984994d
      X-Vcap-Request-Id:
      - 8637576b-32c6-4653-4a8e-ef7819441acd::0d205f53-09c3-4869-a3df-004e129a36f7
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "a5ee1cf3-57ee-457c-87e5-27f479359b36",
                "url": "/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36",
                "created_at": "2015-04-04T12:51:35+00:00",
                "updated_at": "2015-04-04T12:52:01+00:00"
              },
              "entity": {
                "name": "paasal-test-app-min-updated",
                "production": false,
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
                "buildpack": "nodejs_buildpack",
                "detected_buildpack": null,
                "environment_json": {
                  "our_test_var_key": "our_test_var_value"
                },
                "memory": 256,
                "instances": 1,
                "disk_quota": 1024,
                "state": "STOPPED",
                "version": "85a1c6d8-856a-4864-8642-9bc90e80f678",
                "command": null,
                "console": false,
                "debug": null,
                "staging_task_id": null,
                "package_state": "PENDING",
                "health_check_timeout": null,
                "staging_failed_reason": null,
                "docker_image": null,
                "package_updated_at": "2015-04-04T12:52:01+00:00",
                "detected_start_command": "",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
                "events_url": "/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36/events",
                "service_bindings_url": "/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36/service_bindings",
                "routes_url": "/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36/routes"
              }
            }
          ]
        }
  recorded_at: Sat, 04 Apr 2015 12:52:01 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 3221f485-4b00-48e6-7571-986520e4c762
      X-Vcap-Request-Id:
      - b9ec2186-f426-4be3-7952-346fb6f0aece::8c76bdc8-dc3c-4e62-986e-dee5e01bb13c
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "a5ee1cf3-57ee-457c-87e5-27f479359b36",
            "url": "/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36",
            "created_at": "2015-04-04T12:51:35+00:00",
            "updated_at": "2015-04-04T12:52:01+00:00"
          },
          "entity": {
            "name": "paasal-test-app-min-updated",
            "production": false,
            "space_guid[...]
- request:
    method: head
    uri: https://api.10.244.0.34.xip.io/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36/download
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"551fde71-20e7a0"'
      Last-Modified:
      - Sat, 04 Apr 2015 12:52:01 GMT
      X-Cf-Requestid:
      - c6c92998-9199-4363-5ebf-5dd55998888b
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 04 Apr 2015 12:52:01 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/a5ee1cf3-57ee-457c-87e5-27f479359b36/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 9ff042bf-02cf-4112-5bbb-836ffeda15e2
      X-Vcap-Request-Id:
      - 2bb79efc-c4ec-4999-65e5-ddc46a661cfb::36c995d5-9af8-461d-aab1-5dd0c0ea3949
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "9a49f0c8-0854-4caa-8db7-750f0eec90f6",
                "url": "/v2/routes/9a49f0c8-0854-4caa-8db7-750f0eec90f6",
                "created_at": "2015-04-04T12:51:35+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "a5ee1cf3-57ee-457c-87e5-27f479359b36",
                "domain_guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "domain_url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "apps_url": "/v2/routes/9a49f0c8-0854-4caa-8db7-750f0eec90f6/apps"
              }
            }
          ]
        }
  recorded_at: Sat, 04 Apr 2015 12:52:01 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - baa7346a-4ae3-4fca-5ce7-580cce95bab5
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - 08e4fe4f-e516-4bb1-5c5e-1f571f769001::ce8fb9bc-e50e-4bdc-be11-c30adf2f446c
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Sat, 04 Apr 2015 12:52:02 GMT
recorded_with: VCR 2.9.3
