---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - aa3bdf7a-005b-41c4-7349-ec57e7f8e162
      X-Vcap-Request-Id:
      - 7a75b55b-fa1c-4d23-77b9-18f614f0a25a::37703521-6b38-4647-9cc1-46a94404d60a
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Mon, 06 Apr 2015 20:12:47 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - 24331261-3d9e-48bb-7de2-6dd7768c4f71, 2ff2626b-b7fc-4708-5dbd-a144b4ab8d2c
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"b94483f1-9569-482e-94f0-180236a2025b"}'
  recorded_at: Mon, 06 Apr 2015 20:12:47 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 1d7d23c7-6de1-40bc-711e-6cc52c921400
      X-Vcap-Request-Id:
      - eb747dfa-9213-4ca2-530c-d9598feabaf7::9685763f-5c71-40af-9984-ff31f9295e3e
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "51ff2e84-e992-48ea-9e28-b85b13e2f46b",
                "url": "/v2/apps/51ff2e84-e992-48ea-9e28-b85b13e2f46b",
                "created_at": "2015-04-06T20:10:26+00:00",
                "updated_at": "2015-04-06T20:12:41+00:00"
              },
              "entity": {
                "name": "paasal-test-app-min-updated",
                "production": false,
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
                "buildpack": "nodejs_buildpack",
                "detected_buildpack": null,
                "environment_json": {
                  "our_test_var_key": "our_test_var_value"
                },
                "memory": 256,
                "instances": 1,
                "disk_quota": 1024,
                "state": "STARTED",
                "version": "215f4333-c960-489f-af66-684afecb8af9",
                "command": null,
                "console": false,
                "debug": null,
                "staging_task_id": "58e56a2778bb46c4801ba889c914feb0",
                "package_state": "STAGED",
                "health_check_timeout": null,
                "staging_failed_reason": null,
                "docker_image": null,
                "package_updated_at": "2015-04-06T20:10:52+00:00",
                "detected_start_command": "node server.js",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
                "events_url": "/v2/apps/51ff2e84-e992-48ea-9e28-b85b13e2f46b/events",
                "service_bindings_url": "/v2/apps/51ff2e84-e992-48ea-9e28-b85b13e2f46b/service_bindings",
                "routes_url": "/v2/apps/51ff2e84-e992-48ea-9e28-b85b13e2f46b/routes"
              }
            }
          ]
        }
  recorded_at: Mon, 06 Apr 2015 20:12:48 GMT
- request:
    method: head
    uri: https://api.10.244.0.34.xip.io/v2/apps/51ff2e84-e992-48ea-9e28-b85b13e2f46b/download
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"5522e84c-20e7a0"'
      Last-Modified:
      - Mon, 06 Apr 2015 20:10:52 GMT
      X-Cf-Requestid:
      - 31e48300-db4c-47ee-4f2b-f18aa054dced
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 06 Apr 2015 20:12:48 GMT
- request:
    method: post
    uri: https://api.10.244.0.34.xip.io/v2/apps/51ff2e84-e992-48ea-9e28-b85b13e2f46b/restage
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - "/v2/apps/51ff2e84-e992-48ea-9e28-b85b13e2f46b"
      X-Cf-Requestid:
      - f4d08446-8c63-42f4-5183-d440e8a411eb
      X-Vcap-Request-Id:
      - 8e19267a-9d8a-4034-4077-f0421bca069e::f0cd5b7a-7a90-47f9-983f-af7c1c347abc
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "51ff2e84-e992-48ea-9e28-b85b13e2f46b",
            "url": "/v2/apps/51ff2e84-e992-48ea-9e28-b85b13e2f46b",
            "created_at": "2015-04-06T20:10:26+00:00",
  [...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/51ff2e84-e992-48ea-9e28-b85b13e2f46b/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 4b365b3d-510d-4466-7584-cd7eb439af2d
      X-Vcap-Request-Id:
      - db8d8f61-7d0b-4318-6d7c-f95e1bebb438::12b6926e-d5d3-41ff-8a02-64af5c3c70e7
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "1446e061-04e1-42d7-a196-68101af48030",
                "url": "/v2/routes/1446e061-04e1-42d7-a196-68101af48030",
                "created_at": "2015-04-06T20:10:27+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "51ff2e84-e992-48ea-9e28-b85b13e2f46b",
                "domain_guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "domain_url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "apps_url": "/v2/routes/1446e061-04e1-42d7-a196-68101af48030/apps"
              }
            }
          ]
        }
  recorded_at: Mon, 06 Apr 2015 20:12:48 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 6e25e9a9-25ff-40dd-4e0a-c302d636a492
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - 99f11dc1-a033-47dc-7153-d08a1bd24167::33df4fd5-1111-4539-8241-03d1a354452f
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Mon, 06 Apr 2015 20:12:48 GMT
recorded_with: VCR 2.9.3
