---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 81bbb020-b66d-493f-4bb5-ad55c5e47916
      X-Vcap-Request-Id:
      - cbab1aa3-fcc3-4a8a-7711-06c8043f003a::0ecf47cb-9670-48e9-bfc8-0c5cdfae8a2a
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Mon, 06 Apr 2015 20:11:35 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - e010ca7c-9f46-442b-5750-2ec5b5aa9bee, 64c56367-77c1-4c45-64c6-1ffe2de9c519
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"fbd707ef-2d37-472f-b6fe-5c79a7c2e02e"}'
  recorded_at: Mon, 06 Apr 2015 20:11:35 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 28c82498-cd06-4878-47dc-cd2ff4759281
      X-Vcap-Request-Id:
      - e807fe0c-e9b4-4b92-70d9-9a42260b7f52::2c0e1334-8201-49ef-b48f-6577c39a47b3
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "4260186e-9e44-413e-994e-1897e6d28513",
                "url": "/v2/apps/4260186e-9e44-413e-994e-1897e6d28513",
                "created_at": "2015-04-06T20:10:26+00:00",
                "updated_at": "2015-04-06T20:11:10+00:00"
              },
              "entity": {
                "name": "paasal-test-app-all-updated",
                "production": false,
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
                "buildpack": "nodejs_buildpack",
                "detected_buildpack": null,
                "environment_json": {
                  "our_test_var_key": "our_updated_test_var_value",
                  "our_test_var_key2": "our_test_var_value2"
                },
                "memory": 256,
                "instances": 1,
                "disk_quota": 1024,
                "state": "STARTED",
                "version": "846b6757-bd7f-401e-9af3-2d0278b62053",
                "command": null,
                "console": false,
                "debug": null,
                "staging_task_id": "9bfd2faca6f948fd8ce149c4a8433ec5",
                "package_state": "STAGED",
                "health_check_timeout": null,
                "staging_failed_reason": null,
                "docker_image": null,
                "package_updated_at": "2015-04-06T20:10:49+00:00",
                "detected_start_command": "node server.js",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
                "events_url": "/v2/apps/4260186e-9e44-413e-994e-1897e6d28513/events",
                "service_bindings_url": "/v2/apps/4260186e-9e44-413e-994e-1897e6d28513/service_bindings",
                "routes_url": "/v2/apps/4260186e-9e44-413e-994e-1897e6d28513/routes"
              }
            }
          ]
        }
  recorded_at: Mon, 06 Apr 2015 20:11:35 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/4260186e-9e44-413e-994e-1897e6d28513/instances/0/files/logs/unknown_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 302
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://6d1af9602073498d9dc8150f076df6f3.10.244.0.34.xip.io/instance_paths/683c6b4f92834df4bc1e0f73417f369c?hmac=63b0f991ef1df87df4da66d5e5e5ffd94d25e3339025a7cf1f607f88682f0902d2b3f5fcf1b3d3d208e749235fe093e2316414ab8412b7eaf61f4313fbaee385&path=logs%2Funknown_id&timestamp=1428351095
      X-Cf-Requestid:
      - 0c31ed02-556d-4fe1-50ab-22a6f9d89957
      X-Vcap-Request-Id:
      - 83a417d0-3877-4785-5282-72b7149d8bcf::e0b06917-eaf2-4158-babf-6a30a78cae71
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 06 Apr 2015 20:11:35 GMT
- request:
    method: get
    uri: https://6d1af9602073498d9dc8150f076df6f3.10.244.0.34.xip.io/instance_paths/683c6b4f92834df4bc1e0f73417f369c?hmac=63b0f991ef1df87df4da66d5e5e5ffd94d25e3339025a7cf1f607f88682f0902d2b3f5fcf1b3d3d208e749235fe093e2316414ab8412b7eaf61f4313fbaee385&path=logs%2Funknown_id&timestamp=1428351095
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - application/json
      X-Cf-Requestid:
      - 47c24e6d-c07a-4e9a-5eb2-3bcadc81a683
    body:
      encoding: UTF-8
      string: '{"error":"Entity not found"}'
  recorded_at: Mon, 06 Apr 2015 20:11:35 GMT
recorded_with: VCR 2.9.3
