---
http_interactions:
- request:
    method: post
    uri: https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"allow_tracking":true,"api_key":"__API_KEY__","beta":null,"confirmed":true,"confirmed_at":"2014/11/18
        01:37:21 -0800","created_at":"2014/11/18 01:37:21 -0800","id":"__USER_ID__@users.heroku.com","email":"__heroku:user__","last_login":"2015/04/08
        09:21:45 -0700","name":" ","updated_at":"2015/04/08 09:52:47 -0700","verified":false,"verified_at":null}'
  recorded_at: Wed, 08 Apr 2015 16:57:00 GMT
- request:
    method: get
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"048eba43730949d9f0f3c6867ab8100d"'
      Last-Modified:
      - Wed, 08 Apr 2015 16:54:17 GMT
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2195'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"archived_at":null,"buildpack_provided_description":"Node.js","build_stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"created_at":"2015-04-08T16:47:50Z","id":"1aeedf64-e713-40fc-bc75-c745db7c05cd","git_url":"git@heroku.com:paasal-test-app-all-updated.git","maintenance":false,"name":"paasal-test-app-all-updated","owner":{"email":"__heroku:user__","id":"__heroku:id__"},"region":{"id":"59accabd-516d-4f0e-83e6-6e3757701145","name":"us"},"released_at":"2015-04-08T16:51:49Z","repo_size":2703438,"slug_size":12559799,"stack":{"id":"f9f9cbd7-2970-41ef-8db5-3df7123b041f","name":"cedar-14"},"updated_at":"2015-04-08T16:54:17Z","web_url":"https://paasal-test-app-all-updated.herokuapp.com/"}'
  recorded_at: Wed, 08 Apr 2015 16:57:01 GMT
[...]
- request:
    method: post
    uri: https://api.heroku.com/apps/paasal-test-app-all-updated/log-sessions
    body:
      encoding: UTF-8
      string: '{"source":"heroku","dyno":"api","tail":false}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json
      Oauth-Scope:
      - global
      Oauth-Scope-Accepted:
      - global read read-protected write write-protected
      RateLimit-Remaining:
      - '2193'
      Status:
      - 201 Created
    body:
      encoding: UTF-8
      string: '{"created_at":"2015-04-08T16:57:02Z","id":"f723adae-43e9-4c17-98ba-070d37f28936","logplex_url":"https://logplex.heroku.com/sessions/77aaa5d8-a2c5-4c86-9815-550ddfc62154?srv=1428512222","updated_at":"2015-04-08T16:57:02Z"}'
  recorded_at: Wed, 08 Apr 2015 16:57:02 GMT
- request:
    method: get
    uri: https://logplex.heroku.com/sessions/77aaa5d8-a2c5-4c86-9815-550ddfc62154?srv=1428512222
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: |
        2015-04-08T16:53:17.128871+00:00 heroku[api]: Set maintenance mode off by __heroku:user__
        2015-04-08T16:53:28.515384+00:00 heroku[api]: Set maintenance mode on by __heroku:user__
        2015-04-08T16:53:39.980766+00:00 heroku[api]: Set maintenance mode on by __heroku:user__
        2015-04-08T16:53:51.323594+00:00 heroku[api]: Set maintenance mode on by __heroku:user__
        2015-04-08T16:53:58.181602+00:00 heroku[api]: Set maintenance mode off by __heroku:user__
        2015-04-08T16:54:10.331859+00:00 heroku[api]: Set maintenance mode on by __heroku:user__
        2015-04-08T16:54:17.164186+00:00 heroku[api]: Set maintenance mode off by __heroku:user__
  recorded_at: Wed, 08 Apr 2015 16:57:03 GMT
[...]
- request:
    method: get
    uri: https://logplex.heroku.com/sessions/130617c1-83bc-4976-85c5-b747a8672843?srv=1428512229
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: |
        2015-04-08T16:53:05.456170+00:00 heroku[web.1]: State changed from starting to up
        2015-04-08T16:53:17.128871+00:00 heroku[api]: Set maintenance mode off by __heroku:user__
        2015-04-08T16:53:28.515384+00:00 heroku[api]: Set maintenance mode on by __heroku:user__
        2015-04-08T16:53:39.980766+00:00 heroku[api]: Set maintenance mode on by __heroku:user__
        2015-04-08T16:53:51.323594+00:00 heroku[api]: Set maintenance mode on by __heroku:user__
        2015-04-08T16:53:58.181602+00:00 heroku[api]: Set maintenance mode off by __heroku:user__
        2015-04-08T16:54:10.331859+00:00 heroku[api]: Set maintenance mode on by __heroku:user__
        2015-04-08T16:54:17.164186+00:00 heroku[api]: Set maintenance mode off by __heroku:user__
        2015-04-08T16:56:06.094993+00:00 heroku[router]: at=info method=GET path="/" host=paasal-test-app-all-updated.herokuapp.com request_id=c470a461-fd4c-4768-b4b9-263b8c425135 fwd="188.193.127.6" dyno=web.1 connect=2ms service=50ms status=200 bytes=3570
  recorded_at: Wed, 08 Apr 2015 16:57:20 GMT
recorded_with: VCR 2.9.3
