{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/04/23 23:26:34 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 07:20:08 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/addon-services","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["name adept-scale..ziggeo"], "Content-Type":["application/json"], "ETag":["\"006665802d840283bb3da83fda896c6e\""], "Last-Modified":["Fri, 24 Apr 2015 07:20:08 GMT"], "RateLimit-Remaining":["2397"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"created_at\":\"2012-07-10T21:58:55Z\",\"human_name\":\"Adept Scale\",\"id\":\"a91d6243-1bfe-4442-9647-af37ed30552c\",\"name\":\"adept-scale\",\"state\":\"ga\",\"updated_at\":\"2015-04-24T04:08:36Z\"},{\"created_at\":\"2012-02-27T15:18:39Z\",\"human_name\":\"Adminium\",\"id\":\"abaa82f2-882e-4b85-b0fb-b7f7f86b6306\",\"name\":\"adminium\",\"state\":\"ga\",\"updated_at\":\"2015-04-23T22:46:16Z\"},{\"created_at\":\"2011-12-30T21:12:51Z\",\"human_name\":\"Airbrake Bug Tracker\",\"id\":\"b9db6d7d-e7f8-4f97-9704-84e12104c902\",\"name\":\"airbrake\",\"state\":\"ga\",\"updated_at\":\"2015-04-23T22:33:21Z\"},{\"created_at\":\"2013-10-14T20:42:49Z\",\"hum[...]
{"request":{"method":"get","uri":"https://api.heroku.com/addon-services/a91d6243-1bfe-4442-9647-af37ed30552c/plans","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["name battleship..skiff"], "Content-Type":["application/json"], "ETag":["\"c2b6cfbc1b034e8312c0273fe10b93c8\""], "Last-Modified":["Wed, 18 Jun 2014 17:13:24 GMT"], "RateLimit-Remaining":["2396"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"created_at\":\"2013-08-05T20:50:40Z\",\"default\":false,\"description\":\"Adept Scale Battleship\",\"human_name\":\"Battleship\",\"id\":\"f6c32637-6e8c-4d4d-96cf-61596adff093\",\"name\":\"adept-scale:battleship\",\"price\":{\"cents\":14400,\"unit\":\"month\"},\"state\":\"ga\",\"updated_at\":\"2014-06-18T17:13:24Z\"},{\"created_at\":\"2013-08-05T20:50:40Z\",\"default\":false,\"description\":\"Adept Scale Corvette\",\"human_name\":\"Corvette\",\"id\":\"0234aa69-bb32-4149-b3c2-ad300a69f3db\",\"name\":\"adept-scale:corvette\",\"price\":{\"cents\":3600,\"unit\":\"month\"},\"state\":\"ga\",\"updated_at\":\"2014-06-18T17:13:24Z\"},{\"created_at\":\"2013-08-05T20:50:40Z\",\"default\":false,\"description\":\"Adept Scale Cruiser\",\"human_name\":\"C[...]
[...]
{"request":{"method":"get","uri":"https://api.heroku.com/addon-services/9c68a92e-898c-4c79-b5c1-6ab8bae24155/plans","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["name test..test"], "Content-Type":["application/json"], "ETag":["\"90465ef51b673479a95eb76d9cafd378\""], "Last-Modified":["Thu, 30 Oct 2014 15:25:18 GMT"], "RateLimit-Remaining":["2288"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"created_at\":\"2014-08-28T18:19:31Z\",\"default\":true,\"description\":\"Ziggeo Test\",\"human_name\":\"Test\",\"id\":\"a863601a-3bac-4ed0-9a83-bb4d9305e7d4\",\"name\":\"ziggeo:test\",\"price\":{\"cents\":0,\"unit\":\"month\"},\"state\":\"beta\",\"updated_at\":\"2014-10-30T15:25:18Z\"}]"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 07:22:20 GMT"}],"recorded_with":"VCR 2.9.3"}