{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?password=__heroku:password__&username=__heroku:user__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":false,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/10/08 04:22:08 -0700\",\"created_at\":\"2014/10/08 04:22:08 -0700\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/10/23 02:44:13 -0700\",\"name\":\"stfnklb\",\"updated_at\":\"2015/10/23 02:45:30 -0700\",\"verified\":true,\"verified_at\":\"2015/10/23 02:45:30 -0700\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 09:46:38 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/addon-services","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["name adept-scale..ziggeo"], "Content-Type":["application/json"], "ETag":["\"10fc6ad1740663ef3f911ec8c4498225\""], "Last-Modified":["Thu, 22 Oct 2015 18:32:14 GMT"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4490"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"[{\"cli_plugin_name\":\"heroku-adept-scale\",\"created_at\":\"2012-07-10T21:58:55Z\",\"human_name\":\"Adept Scale\",\"id\":\"a91d6243-1bfe-4442-9647-af37ed30552c\",\"name\":\"adept-scale\",\"state\":\"ga\",\"supports_multiple_installations\":false,\"supports_sharing\":false,\"updated_at\":\"2015-09-24T21:01:39Z\"},{\"cli_plugin_name\":null,\"created_at\":\"2012-02-27T15:18:39Z\",\"human_name\":\"Adminium\",\"id\":\"abaa82f2-882e-4b85-b0fb-b7f7f86b6306\",\"name\":\"adminium\",\"state\":\"ga\",\"supports_multiple_installations\":false,\"supports_sharing\":false,\"updated_at\":\"2015-09-24T18:27:37Z\"},{\"cli_plugin_name\":null,\"created_at\":\"2011-12-30T21:12:51Z\",\"human_name\":\"Airbrake Bug Tracker\",\"id\":\"b9db6d7d-e7f8-4f97-9704-84e12104c902\",\"name\"[...]
{"request":{"method":"get","uri":"https://api.heroku.com/addon-services/a91d6243-1bfe-4442-9647-af37ed30552c/plans","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["name battleship..skiff"], "Content-Type":["application/json"], "ETag":["\"c2b6cfbc1b034e8312c0273fe10b93c8\""], "Last-Modified":["Wed, 18 Jun 2014 17:13:24 GMT"], "RateLimit-Multiplier":["1"], "RateLimit-Remaining":["4489"], "Status":["200 OK"]},"body":{"encoding":"CP850","string":"[{\"created_at\":\"2013-08-05T20:50:40Z\",\"default\":false,\"description\":\"Adept Scale Battleship\",\"human_name\":\"Battleship\",\"id\":\"f6c32637-6e8c-4d4d-96cf-61596adff093\",\"name\":\"adept-scale:battleship\",\"price\":{\"cents\":14400,\"unit\":\"month\"},\"state\":\"ga\",\"updated_at\":\"2014-06-18T17:13:24Z\"},{\"created_at\":\"2013-08-05T20:50:40Z\",\"default\":false,\"description\":\"Adept Scale Corvette\",\"human_name\":\"Corvette\",\"id\":\"0234aa69-bb32-4149-b3c2-ad300a69f3db\",\"name\":\"adept-scale:corvette\",\"price\":{\"cents\":3600,\"unit\":\"month\"},\"state\":\"ga\",\"updated_at\":\"2014-06-18T17:13:24Z\"},{\"created_at\":\"2013-08-05T20:50:40Z\",\"default\":false,\"description\":\"Adept Scale Cruiser\",\"human_name\":\"C[...]
[...]
