{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["55da1e10-7d7e-43b4-68ea-7688770807d9"], "X-Vcap-Request-Id":["5d9c57b2-264f-4014-7220-52407caf1a79::1ddcb51e-22bf-4746-b88d-766c3aa25d53"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:43:56 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["6b11975b-c0a4-41f9-6db5-1415e0a1e4fb, c0202f49-8123-437a-60bf-01d3e65746fc"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"e72ce478-9d8f-4a3b-8bc3-beec1e24105b\"}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:43:57 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["4463497a-c7ef-4c4f-737e-e611abbd909b"], "X-Vcap-Request-Id":["fa5649e3-1f7f-4948-564c-19c172a4437f::fde97ad6-5666-4101-8e6e-6d348c532abf"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 3,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"59cc1d25-7dfa-4644-bc66-3fa03c73d492\",\n        \"url\": \"/v2/apps/59cc1d25-7dfa-4644-bc66-3fa03c73d492\",\n        \"created_at\": \"2015-07-28T12:39:19+00:00\",\n        \"updated_at\": \"2015-07-28T12:40:59+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"dummyapplication1u\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"mykey\": \"myvalue\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"cb80863d-a099-4a7e-a7e9-b9392ff18985\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-07-28T12:40:59+00:00\",\n        \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/59cc1d25-7dfa-4644-bc66-3fa03c73d492/events\",\n        \"service_bindings_url\": \"/v2/apps/59cc1d25-7dfa-4644-bc66-3fa03c73d492/service_bindings\",\n        \"routes_url\": \"/v2/apps/59cc1d25-7dfa-4644-bc66-3fa03c73d492/routes\"\n      }\n    },\n    {\n      \"metadata\": {\n        \"guid\": \"9522777b-2037-49ff-841e-63f0f187c6ab\",\n        \"url\": \"/v2/apps/9522777b-2037-49ff-841e-63f0f187c6ab\",\n        \"created_at\": \"2015-07-28T12:43:53+00:00\",\n        \"updated_at\": \"2015-07-28T12:43:53+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-all-properties\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-[...]
{"request":{"method":"head","uri":"https://api.10.244.0.34.xip.io/v2/apps/59cc1d25-7dfa-4644-bc66-3fa03c73d492/download","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Etag":["\"55b7785b-20e7d0\""], "Last-Modified":["Tue, 28 Jul 2015 12:40:59 GMT"], "X-Cf-Requestid":["0ae48b16-811e-4c7d-6ea6-0ef9dce94ca4"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:43:57 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/59cc1d25-7dfa-4644-bc66-3fa03c73d492/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["df5b9837-6216-4376-631d-20ae39c507af"], "X-Vcap-Request-Id":["584157a3-8343-4536-79fe-27f25feaa97a::7302ad23-4ab2-4a4f-bfb3-e459ed04bc4f"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"e4e85bf9-bd4e-4af9-9a13-d7b395d9d566\",\n        \"url\": \"/v2/routes/e4e85bf9-bd4e-4af9-9a13-d7b395d9d566\",\n        \"created_at\": \"2015-07-28T12:39:19+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"59cc1d25-7dfa-4644-bc66-3fa03c73d492\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/e4e85bf9-bd4e-4af9-9a13-d7b395d9d566/apps\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:43:57 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["d726ffea-4818-42f3-4039-21d4fcecefb1"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["ea50dc70-ef40-4380-5574-dc05b2cda2a5::c050264a-a8bc-4015-ae6c-f0b93ce08afd"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:43:57 GMT"},[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["8b161197-0b04-4d24-7959-ad8f2da665e8"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["59fc21b3-41f7-436d-6e28-d5ff6be7c92a::1be3146d-0ac4-49b4-bee1-753374355497"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 12:43:57 GMT"}],"recorded_with":"VCR 2.9.3"}