---
http_interactions:
- request:
    method: post
    uri: https://api.cloudcontrol.com/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - POST, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/token"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"token": "__TOKEN__", "expires": "2015-04-08T18:18:08.421803"}'
  recorded_at: Wed, 08 Apr 2015 18:03:08 GMT
- request:
    method: get
    uri: https://api.cloudcontrol.com/app/paasaltestappallproperties13
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - GET, POST, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/app/paasaltestappallproperties13"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"name": "paasaltestappallproperties13", "buildpack_url": null, "repository":
        "ssh://paasaltestappallproperties13@cloudcontrolled.com/repository.git", "type":
        {"name": "nodejs"}, "owner": {"username": "__cloudcontrol:username__", "first_name":
        "", "last_name": "", "email": "__cloudcontrol:user__", "is_active": true,
        "billing_without_payment_info": false}, "users": [{"username": "__cloudcontrol:username__",
        "email": "__cloudcontrol:user__", "role": ""}], "invitations": [], "date_created":
        "2015-04-08T17:54:17", "date_modified": "2015-04-08T17:54:17", "deployments":
        [{"name": "paasaltestappallproperties13/paasal", "dep_id": "dep5r8zdn7j"}]}'
  recorded_at: Wed, 08 Apr 2015 18:03:08 GMT
- request:
    method: get
    uri: https://api.cloudcontrol.com/app/paasaltestappallproperties13/deployment/paasal
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - GET, POST, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/app/paasaltestappallproperties13/deployment/paasal"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"name": "paasaltestappallproperties13/paasal", "stack": {"name": "pinky"},
        "dep_id": "dep5r8zdn7j", "branch": "ssh://paasaltestappallproperties13@cloudcontrolled.com/repository.git",
        "users": [], "static_files": "(removed)", "billing_account": null, "version":
        "34fafe270fad53d4f46c00829fc8732fe4bffb48", "state": "deployed", "date_created":
        "2015-04-08T17:54:18", "date_modified": "2015-04-08T17:56:28", "is_default":
        false, "default_subdomain": "paasal-paasaltestappallproperties13.cloudcontrolled.com",
        "min_boxes": 1, "max_boxes": 1, "billed_boxes": {"boxes": 0.0, "until": 1428516189,
        "free_boxes": 0.0, "costs": 0.0}, "billed_addons": []}'
  recorded_at: Wed, 08 Apr 2015 18:03:09 GMT
[...]
- request:
    method: get
    uri: https://api.cloudcontrol.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/user"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: '[{"username": "__cloudcontrol:username__", "email": "__cloudcontrol:user__"}]'
  recorded_at: Wed, 08 Apr 2015 18:03:10 GMT
[...]
- request:
    method: get
    uri: https://api.cloudcontrol.com/app/paasaltestappallproperties13/deployment/paasal
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - GET, POST, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/app/paasaltestappallproperties13/deployment/paasal"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"name": "paasaltestappallproperties13/paasal", "stack": {"name": "pinky"},
        "dep_id": "dep5r8zdn7j", "branch": "ssh://paasaltestappallproperties13@cloudcontrolled.com/repository.git",
        "users": [], "static_files": "(removed)", "billing_account": null, "version":
        "528c5736460d766655c306c42f9d98a4e2622b73", "state": "deploying", "date_created":
        "2015-04-08T17:54:18", "date_modified": "2015-04-08T18:03:54", "is_default":
        false, "default_subdomain": "paasal-paasaltestappallproperties13.cloudcontrolled.com",
        "min_boxes": 1, "max_boxes": 1, "billed_boxes": {"boxes": 0.0, "until": 1428516236,
        "free_boxes": 0.0, "costs": 0.0}, "billed_addons": []}'
  recorded_at: Wed, 08 Apr 2015 18:03:56 GMT
recorded_with: VCR 2.9.3
