---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 1a3ddd9f-2392-49a6-59fd-659e7591228b
      X-Vcap-Request-Id:
      - d129819c-de9c-436d-6f45-50de33e6d537::0c5034fa-2a3d-4363-bd09-3b6208e7597b
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Thu, 02 Apr 2015 12:40:50 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - 3125e894-ee2f-4392-74c6-291d17d421cd, 46152d04-7c8c-4991-4f3e-17f1b5db63db
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"c0f1f742-251c-4efb-b564-a156ade7f865"}'
  recorded_at: Thu, 02 Apr 2015 12:40:51 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 964ac130-4e9a-43da-67c6-5e214c3a179a
      X-Vcap-Request-Id:
      - 93b574c3-2f47-4bc7-4449-8392a75ae0e7::032061d9-5866-4d00-ae68-1cf9f2722fde
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "f0295428-234e-4eb6-9d42-a4167c9f990c",
                "url": "/v2/apps/f0295428-234e-4eb6-9d42-a4167c9f990c",
                "created_at": "2015-04-02T12:32:48+00:00",
                "updated_at": "2015-04-02T12:32:58+00:00"
              },
              "entity": {
                "name": "paasal-test-app-all-updated",
                "production": false,
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
                "buildpack": "nodejs_buildpack",
                "detected_buildpack": null,
                "environment_json": {
                  "our_test_var_key": "our_test_var_value"
                },
                "memory": 256,
                "instances": 1,
                "disk_quota": 1024,
                "state": "STOPPED",
                "version": "44738c02-08df-4ede-995f-e9cd9b99bf7a",
                "command": null,
                "console": false,
                "debug": null,
                "staging_task_id": null,
                "package_state": "PENDING",
                "health_check_timeout": null,
                "staging_failed_reason": null,
                "docker_image": null,
                "package_updated_at": null,
                "detected_start_command": "",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
                "events_url": "/v2/apps/f0295428-234e-4eb6-9d42-a4167c9f990c/events",
                "service_bindings_url": "/v2/apps/f0295428-234e-4eb6-9d42-a4167c9f990c/service_bindings",
                "routes_url": "/v2/apps/f0295428-234e-4eb6-9d42-a4167c9f990c/routes"
              }
            }
          ]
        }
  recorded_at: Thu, 02 Apr 2015 12:40:51 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/f0295428-234e-4eb6-9d42-a4167c9f990c/env
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 3da51937-7fab-4b55-765b-2264fd916546
      X-Vcap-Request-Id:
      - f5027c6f-d432-4497-4b2a-dd55aedb4d77::cdb5a63a-178e-40cb-8d73-996e5bb2ae45
    body:
      encoding: UTF-8
      string: |-
        {
          "staging_env_json": {

          },
          "running_env_json": {

          },
          "environment_json": {
            "our_test_var_key": "our_test_var_value"
          },
          "system_env_json": {
            "VCAP_SERVICES": {

            }
          },
          "application_env_json": {
            "VCAP_APPLICATION": {
              "limits": {
                "mem": 256,
                "disk": 1024,
                "fds": 16384
              },
              "application_version": "44738c02-08df-4ede-995f-e9cd9b99bf7a",
              "application_name": "paasal-test-app-all-updated",
              "application_uris": [
                "f0295428-234e-4eb6-9d42-a4167c9f990c.10.244.0.34.xip.io"
              ],
              "version": "44738c02-08df-4ede-995f-e9cd9b99bf7a",
              "name": "paasal-test-app-all-updated",
              "space_name": "development",
              "space_id": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
              "uris": [
                "f0295428-234e-4eb6-9d42-a4167c9f990c.10.244.0.34.xip.io"
              ],
              "users": null
            }
          }
        }
  recorded_at: Thu, 02 Apr 2015 12:40:51 GMT
[...]
- request:
    method: put
    uri: https://api.10.244.0.34.xip.io/v2/apps/f0295428-234e-4eb6-9d42-a4167c9f990c
    body:
      encoding: UTF-8
      string: '{"environment_json":{"our_test_var_key":"our_test_var_value","our_test_var_key2":"our_test_var_value2"}}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 28dc44e9-5c94-4bbd-6225-d858d00a1764
      X-Vcap-Request-Id:
      - 99b9aaed-1da6-4691-55d2-ad4dc04eee9f::20a6247c-7ebb-48df-a932-45d1aac04f5f
    body:
      encoding: UTF-8
      str[...]
