---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - b16f3d58-07aa-473f-57b7-b16d066e882d
      X-Vcap-Request-Id:
      - 6ad4eb84-e0c0-4fd6-47b4-bd88b51be4ab::e0a490df-b1e7-4479-bd5b-cb8f9e4b110c
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Wed, 08 Apr 2015 15:38:40 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - e16bfcb5-874f-4a86-6000-e14e5d5325d9, 9b43aaa2-bb1a-4bbf-7a9f-ff00df2073cd
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"20841804-b9c4-420c-8f4e-61a818c35a70"}'
  recorded_at: Wed, 08 Apr 2015 15:38:41 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - d4e1b875-accb-4926-59c3-65f51eff3dde
      X-Vcap-Request-Id:
      - fe5d0d3e-6218-4a77-5455-6fcc67c2a845::87b5550a-5720-49f0-b173-fe2d910186d5
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "6cb4c2ab-46c3-4ec0-9682-23dfb8669d4e",
                "url": "/v2/apps/6cb4c2ab-46c3-4ec0-9682-23dfb8669d4e",
                "created_at": "2015-04-08T15:37:27+00:00",
                "updated_at": "2015-04-08T15:38:40+00:00"
              },
              "entity": {
                "name": "paasal-test-app-min-updated",
                "production": false,
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
                "buildpack": "nodejs_buildpack",
                "detected_buildpack": null,
                "environment_json": {
                  "our_test_var_key": "our_test_var_value"
                },
                "memory": 256,
                "instances": 1,
                "disk_quota": 1024,
                "state": "STARTED",
                "version": "ee4203eb-7a53-4b42-a890-1ff07d6a6e15",
                "command": null,
                "console": false,
                "debug": null,
                "staging_task_id": "56d43e336298472e933336519c6b612e",
                "package_state": "STAGED",
                "health_check_timeout": null,
                "staging_failed_reason": null,
                "docker_image": null,
                "package_updated_at": "2015-04-08T15:37:56+00:00",
                "detected_start_command": "node server.js",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
                "events_url": "/v2/apps/6cb4c2ab-46c3-4ec0-9682-23dfb8669d4e/events",
                "service_bindings_url": "/v2/apps/6cb4c2ab-46c3-4ec0-9682-23dfb8669d4e/service_bindings",
                "routes_url": "/v2/apps/6cb4c2ab-46c3-4ec0-9682-23dfb8669d4e/routes"
              }
            }
          ]
        }
  recorded_at: Wed, 08 Apr 2015 15:38:41 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/6cb4c2ab-46c3-4ec0-9682-23dfb8669d4e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - d985df1d-1b2d-4e6c-5769-3fabccd9917b
      X-Vc[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/6cb4c2ab-46c3-4ec0-9682-23dfb8669d4e/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 81bbbf55-65f2-4469-5b8c-fbac139e6414
      X-Vcap-Request-Id:
      - 22ceec79-c7eb-4f0e-6ad3-51402432f2d5::3de71ddd-fbb5-4a18-9da6-f16819d01ef7
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "aaaa56a1-1d88-46a5-b197-1b7d71366f83",
                "url": "/v2/routes/aaaa56a1-1d88-46a5-b197-1b7d71366f83",
                "created_at": "2015-04-08T15:37:27+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "6cb4c2ab-46c3-4ec0-9682-23dfb8669d4e",
                "domain_guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "domain_url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "apps_url": "/v2/routes/aaaa56a1-1d88-46a5-b197-1b7d71366f83/apps"
              }
            }
          ]
        }
  recorded_at: Wed, 08 Apr 2015 15:38:41 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 8c6898bb-95b4-4ec5-44b1-dc5756952052
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - 753fddae-2737-40c5-64e1-1c01802949af::03b905d7-9de7-4640-a03f-f1e28270a490
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Wed, 08 Apr 2015 15:38:41 GMT
- request:
    method: get
    uri: http://6cb4c2ab-46c3-4ec0-9682-23dfb8669d4e.10.244.0.34.xip.io/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Cf-Requestid:
      - afff2cd9-a1c1-4a33-6a0b-eb0f9c3413bc
      X-Cf-Routererror:
      - unknown_route
    body:
      encoding: UTF-8
      string: |
        404 Not Found: Requested route ('6cb4c2ab-46c3-4ec0-9682-23dfb8669d4e.10.244.0.34.xip.io:80') does not exist.
  recorded_at: Wed, 08 Apr 2015 15:38:41 GMT
[...]
- request:
    method: get
    uri: http://6cb4c2ab-46c3-4ec0-9682-23dfb8669d4e.10.244.0.34.xip.io/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - '"300543841"'
      X-Cf-Requestid:
      - 65977f2d-eb31-4b7b-60d5-0b16719b41d4
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<html>\n  <head>\n    <title>Word Finder</title>\n
        \   <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n
        \   <script src=\"/public/jquery-1.8.0.js\"></script>\n    <script src=\"/socket.io/socket.io.js\"></script>\n
        \   <script src=\"/public/hollywood.js\"></script>\n    <link rel=\"stylesheet\"
        href=\"/public/bootstrap.css\" />\n    <script src=\"/public/bootstrap.js\"></script>\n
        \   <link rel=\"stylesheet\" href=\"/public/app.css\" />\n  </head>\n  <body>\n
        \   <div class=\"navbar navbar-inverse navbar-fixed-top\">\n      <div class=\"container\">\n
        \       <div class=\"navbar-header\">\n          <button type=\"button\" class=\"navbar-toggle\"
        data-toggle=\"collapse\" data-target=\".navbar-collapse\">\n            <span
        class=\"icon-bar\"></span>\n            <span class=\"icon-bar\"></span>\n
        \           <span class=\"icon-bar\"></span>\n          </button>\n          <a
        class=\"navbar-brand\" href=\"/\">Word Finder</a>\n        </div>\n        <div
        class=\"collapse navbar-collapse\">\n          <ul class=\"nav navbar-nav\">\n
        \         </ul>\n        </div><!--/.nav-collapse -->\n      </div>\n    </div>\n\n
        \   <div class=\"container\">\n      <div id=\"dashboard\">\n        <div
        class=\"row\">\n          <h3>Word Finder</h3>\n\n          <p>\n          I
        took every english word (over 200k words) and built a little app that will
        help you find words that contain specific characters.\n          </p>\n          <hr/>\n
        \       </div>\n\n\n        <div class=\"row\">\n            <p>Enter a word,
        use _ and ? as needed (see instructions below)</p>\n          <form method=\"post\"
        action=\"search\">\n            \n              <input type=\"text\"\n                     class=\"col-md-12\"\n
        \                    name=\"pattern\"\n                     placeholder=\"enter
        pattern and press\" />\n           \n          </form>\n        </div>\n        <hr/>\n\n\n\n\n
        \         <div class=\"row\">\n            <h3>The underscore</h3>\n\n            <p>\n
        \           Type a word into the text box with the following pattern:\n            </p>\n\n
        \           <pre>\nhe__o\n            </pre>\n\n            <p>\n            And
        you'll get words such as:\n            </p>\n\n            <pre>\nhello\nhelio\n
        \           </pre>\n          </div>\n\n          <div class=\"row\">\n            <h3>The
        question mark</h3>\n\n            <p>\n            This character is great
        for games like What's the Phrase (a knock off of Wheel of Fortune)\n            </p>\n\n
        \           <p>\n            Type a word into the text box with the following
        pattern:\n            </p>\n\n            <pre>\nst???\n            </pre>\n\n
        \           <p>\n            and you'll get words such as:\n            </p>\n\n
        \           <pre>\nstack\nstade\nstaff\nstage\nstagy\n            </pre>\n\n
        \           <p>\n            but you wont get words like\n            </p>\n\n
        \           <pre>\nstart\n            </pre>\n\n            <p>\n            because
        the `t` would already be visible (in What's the Phrase), and you would have
        typed:\n            </p>\n\n            <pre>\nst??t\n            </pre>\n\n
        \         </div>\n          <div class=\"row\">\n            <h3>I know regex</h3>\n\n
        \           <p>\n                The behaviors above will be overriden if
        you prefix and suffix your phrase with <code>/</code>, example:\n            </p>\n\n
        \           <pre>/boo/</pre>\n\n            <p>\n                Will give
        you all words that contain <code>boo</code>.\n            </p>\n          </div>\n
        \       </div>\n      </div>\n    </body>\n</html>\n\n"
  recorded_at: Wed, 08 Apr 2015 15:38:42 GMT
[...]
