---
http_interactions:
- request:
    method: post
    uri: https://api.cloudcontrol.com/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - POST, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/token"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"token": "__TOKEN__", "expires": "2015-04-08T18:11:29.234838"}'
  recorded_at: Wed, 08 Apr 2015 17:56:29 GMT
- request:
    method: get
    uri: https://api.cloudcontrol.com/app/paasaltestappminproperties13/deployment/paasal
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - GET, POST, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/app/paasaltestappminproperties13/deployment/paasal"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"name": "paasaltestappminproperties13/paasal", "stack": {"name": "pinky"},
        "dep_id": "deph9tffrvp", "branch": "ssh://paasaltestappminproperties13@cloudcontrolled.com/repository.git",
        "users": [], "static_files": "(removed)", "billing_account": null, "version":
        "-1", "state": "not deployed", "date_created": "2015-04-08T17:54:23", "date_modified":
        "2015-04-08T17:54:23", "is_default": false, "default_subdomain": "paasal-paasaltestappminproperties13.cloudcontrolled.com",
        "min_boxes": 1, "max_boxes": 1, "billed_boxes": {"free_boxes": 0.0, "boxes":
        0.0, "until": 1428515789, "costs": 0.0}, "billed_addons": []}'
  recorded_at: Wed, 08 Apr 2015 17:56:29 GMT
- request:
    method: get
    uri: https://api.cloudcontrol.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/user"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: '[{"username": "__cloudcontrol:username__", "email": "__cloudcontrol:user__"}]'
  recorded_at: Wed, 08 Apr 2015 17:56:30 GMT
- request:
    method: put
    uri: https://api.cloudcontrol.com/app/paasaltestappminproperties13/deployment/paasal
    body:
      encoding: UTF-8
      string: '{"version":"-1"}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - GET, POST, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/app/paasaltestappminproperties13/deployment/paasal"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"name": "paasaltestappminproperties13/paasal", "stack": {"name": "pinky"},
        "dep_id": "deph9tffrvp", "branch": "ssh://paasaltestappminproperties13@cloudcontrolled.com/repository.git",
        "users": [], "static_files": "(removed)", "billing_account": null, "version":
        "2fecc963d0e7a31b1cdd1f06901f1efe644026c2", "state": "not deployed", "date_created":
        "2015-04-08T17:54:23", "date_modified": "2015-04-08T17:57:27.298345", "is_default":
        false, "default_subdomain": "paasal-paasaltestappminproperties13.cloudcontrolled.com",
        "min_boxes": 1, "max_boxes": 1, "billed_boxes": {"boxes": 0.0, "until": 1428515847,
        "free_boxes": 0.0, "costs": 0.0}, "billed_addons": []}'
  recorded_at: Wed, 08 Apr 2015 17:57:27 GMT
recorded_with: VCR 2.9.3
