{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-10-14T09:46:58.615651\"}"},"http_version":null},"recorded_at":"Wed, 14 Oct 2015 09:32:04 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties87","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties87"], "X-varnish-cache":["MISS"]},"body":{"encoding":"CP850","string":"{\"name\": \"paasaltestappallproperties87\", \"buildpack_url\": null, \"repository\": \"ssh://paasaltestappallproperties87@cloudcontrolled.com/repository.git\", \"type\": {\"name\": \"nodejs\"}, \"owner\": {\"username\": \"uniba\", \"first_name\": \"\", \"last_name\": \"\", \"email\": \"__cloudcontrol:user__\", \"is_active\": true, \"billing_without_payment_info\": false}, \"users\": [{\"username\": \"uniba\", \"email\": \"__cloudcontrol:user__\", \"role\": \"\"}], \"invitations\": [], \"date_created\": \"2015-10-14T09:04:53\", \"date_modified\": \"2015-10-14T09:04:53\", \"deployments\": [{\"name\": \"paasaltestappallproperties87/paasal\", \"dep_id\": \"depzt4qqf3u\"}]}"},"http_version":null},"recorded_at":"Wed, 14 Oct 2015 09:32:04 GMT"}],"recorded_with":"VCR 2.9.3"}