{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["f172e7f7-caec-4163-5777-0595627bf041"], "X-Vcap-Request-Id":["b5e0d9f3-5fee-4bec-781d-b5a7c72d9082::49145c56-cc52-462b-8114-d3896f6040fe"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:22:53 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["4e7524b9-f9f9-4136-7692-17768b07a5ee, 489b97f8-bd53-47d2-7a8b-19fcae756cc1"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"776f0a3e-8381-4dfa-abdd-a0d3ff919afe\"}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:22:53 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Aapp_never_exists_0123456789","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["9a2df068-3ede-43d0-6b50-65b3ef016ae7"], "X-Vcap-Request-Id":["327fca4c-8dcf-4dcb-60bb-6c4e246117d9::112c2cc6-5153-4d85-a769-479c03bcb49f"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 0,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n\n  ]\n}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:22:53 GMT"}],"recorded_with":"VCR 2.9.3"}