{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["44d7d571-2edc-4345-49d4-30040cb23132"], "X-Vcap-Request-Id":["deb8957e-12d6-4f8d-58a8-400cb8ba678e::a63278a7-d3b4-4ccf-a36f-273d276579c4"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:29:21 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=an_invalid_password&username=an_invalid_username","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":401,"message":null},"headers":{"Content-Type":["application/json"], "Www-Authenticate":["Bearer realm=\"oauth\", error=\"unauthorized\", error_description=\"Authentication failed\""], "X-Cf-Requestid":["5b303369-f4be-4f84-5910-cea65fd2a14c"]},"body":{"encoding":"UTF-8","string":"{\"error\":\"unauthorized\",\"error_description\":\"Authentication failed\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:29:22 GMT"}],"recorded_with":"VCR 2.9.3"}