{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["8bed4685-a2b0-4d6f-6abb-37e5328a5599"], "X-Vcap-Request-Id":["8d6f8843-01a0-43e1-7480-460012f269f8::08a05e1e-288b-4f89-8734-c2d1e76c18f9"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:03 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=an_invalid_password&username=an_invalid_username","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":401,"message":null},"headers":{"Content-Type":["application/json"], "Www-Authenticate":["Bearer realm=\"oauth\", error=\"unauthorized\", error_description=\"Authentication failed\""], "X-Cf-Requestid":["e32ec9c9-1f67-4534-4214-3a20dfed5612"]},"body":{"encoding":"UTF-8","string":"{\"error\":\"unauthorized\",\"error_description\":\"Authentication failed\"}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:03 GMT"}],"recorded_with":"VCR 2.9.3"}