---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 80085c4b-7881-44e5-643c-e5c4dad9356c
      X-Vcap-Request-Id:
      - e03c9371-258b-4583-4fa7-ae36042c6e5e::b0bb1c71-163b-4383-99fb-36fb0ba24b22
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Mon, 06 Apr 2015 20:10:23 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=an_invalid_password&username=an_invalid_username
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: 
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="oauth", error="unauthorized", error_description="Authentication
        failed"
      X-Cf-Requestid:
      - c86c4589-c6f6-41c6-7b93-aab9005d2350
    body:
      encoding: UTF-8
      string: '{"error":"unauthorized","error_description":"Authentication failed"}'
  recorded_at: Mon, 06 Apr 2015 20:10:23 GMT
recorded_with: VCR 2.9.3
