{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["ca53f0a0-db2c-4248-48f0-b564bba1276b"], "X-Vcap-Request-Id":["f0bd5010-cbb2-449a-4f8f-dc152cbd1e79::0530683b-3f5f-4397-89cf-47054a0a4fbf"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:20 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=an_invalid_password&username=an_invalid_username","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":401,"message":null},"headers":{"Content-Type":["application/json"], "Www-Authenticate":["Bearer realm=\"oauth\", error=\"unauthorized\", error_description=\"Authentication failed\""], "X-Cf-Requestid":["5b9c6453-44b5-4320-64d2-0b6de8db595c"]},"body":{"encoding":"UTF-8","string":"{\"error\":\"unauthorized\",\"error_description\":\"Authentication failed\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:39:20 GMT"}],"recorded_with":"VCR 2.9.3"}