---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 5cd18089-1504-49af-6fd8-82c088128aa9
      X-Vcap-Request-Id:
      - b4fed520-df59-4389-748f-3f97fc041f02::8f40a7df-5952-4223-a45f-d2307b098a72
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Wed, 08 Apr 2015 15:37:22 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=an_invalid_password&username=an_invalid_username
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 401
      message: 
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer realm="oauth", error="unauthorized", error_description="Authentication
        failed"
      X-Cf-Requestid:
      - 490a9419-1eb4-47ee-6269-fb0c79cf9afc
    body:
      encoding: UTF-8
      string: '{"error":"unauthorized","error_description":"Authentication failed"}'
  recorded_at: Wed, 08 Apr 2015 15:37:23 GMT
recorded_with: VCR 2.9.3
