---
http_interactions:
- request:
    method: post
    uri: https://api.cloudcontrol.com/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - POST, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/token"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"token": "__TOKEN__", "expires": "2015-04-08T18:10:27.425569"}'
  recorded_at: Wed, 08 Apr 2015 17:55:27 GMT
- request:
    method: get
    uri: https://api.cloudcontrol.com/app/paasaltestappallproperties13/deployment/paasal
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - GET, POST, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/app/paasaltestappallproperties13/deployment/paasal"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"name": "paasaltestappallproperties13/paasal", "stack": {"name": "pinky"},
        "dep_id": "dep5r8zdn7j", "branch": "ssh://paasaltestappallproperties13@cloudcontrolled.com/repository.git",
        "users": [], "static_files": "(removed)", "billing_account": null, "version":
        "-1", "state": "not deployed", "date_created": "2015-04-08T17:54:18", "date_modified":
        "2015-04-08T17:54:18", "is_default": false, "default_subdomain": "paasal-paasaltestappallproperties13.cloudcontrolled.com",
        "min_boxes": 1, "max_boxes": 1, "billed_boxes": {"boxes": 0.0, "until": 1428515728,
        "free_boxes": 0.0, "costs": 0.0}, "billed_addons": []}'
  recorded_at: Wed, 08 Apr 2015 17:55:28 GMT
- request:
    method: get
    uri: https://api.cloudcontrol.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/user"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: '[{"username": "__cloudcontrol:username__", "email": "__cloudcontrol:user__"}]'
  recorded_at: Wed, 08 Apr 2015 17:55:28 GMT
recorded_with: VCR 2.9.3
