---
http_interactions:
- request:
    method: post
    uri: https://api.cloudcontrol.com/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - POST, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/token"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"token": "__TOKEN__", "expires": "2015-04-08T18:17:17.169081"}'
  recorded_at: Wed, 08 Apr 2015 18:02:17 GMT
- request:
    method: get
    uri: https://api.cloudcontrol.com/app/paasaltestappminproperties13/deployment/paasal
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - GET, POST, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/app/paasaltestappminproperties13/deployment/paasal"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"name": "paasaltestappminproperties13/paasal", "stack": {"name": "pinky"},
        "dep_id": "deph9tffrvp", "branch": "ssh://paasaltestappminproperties13@cloudcontrolled.com/repository.git",
        "users": [], "static_files": "(removed)", "billing_account": null, "version":
        "2fecc963d0e7a31b1cdd1f06901f1efe644026c2", "state": "deployed", "date_created":
        "2015-04-08T17:54:23", "date_modified": "2015-04-08T18:01:53", "is_default":
        false, "default_subdomain": "paasal-paasaltestappminproperties13.cloudcontrolled.com",
        "min_boxes": 1, "max_boxes": 1, "billed_boxes": {"boxes": 0.0, "until": 1428516137,
        "free_boxes": 0.0, "costs": 0.0}, "billed_addons": []}'
  recorded_at: Wed, 08 Apr 2015 18:02:17 GMT
recorded_with: VCR 2.9.3
