{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-07-28T11:29:55.763911\"}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 11:14:55 GMT"},{"request":{"method":"post","uri":"https://api.cloudcontrol.com/app/nucleustestappallproperties87/deployment/nucleus/addon","body":{"encoding":"UTF-8","string":"{\"addon\":\"mysqls.free\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":409,"message":null},"headers":{"Allow":["GET, POST, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/nucleustestappallproperties87/deployment/nucleus/addon"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"Conflict/Duplicate {\"addon\": \"This Addon already exists.\"}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 11:14:56 GMT"}],"recorded_with":"VCR 2.9.3"}