{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-04-28T15:55:18.744196\"}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 15:40:18 GMT"},{"request":{"method":"post","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties40/deployment/paasal/addon","body":{"encoding":"UTF-8","string":"{\"addon\":\"mysqls.invalid_plan_id\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":400,"message":null},"headers":{"Allow":["GET, POST, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties40/deployment/paasal/addon"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"Bad Request {\"addon\": \"This is not a valid addon option.\"}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 15:40:19 GMT"}],"recorded_with":"VCR 2.9.3"}