---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 63081579-3d4e-4209-603f-4d49ebe189db
      X-Vcap-Request-Id:
      - 16d0a708-86c2-40b8-729c-0dd16c0c1b5e::bd94e96f-4924-447b-a9fa-6f5945c83cd6
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Thu, 02 Apr 2015 12:43:07 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - a7096349-e1dd-446a-7b0f-c7e60148731c, 08429fe1-480a-4d9c-408d-ec861384e756
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"c9e6157e-b1d6-4f93-a3c6-a572dba6662b"}'
  recorded_at: Thu, 02 Apr 2015 12:43:07 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/buildpacks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 81a72c24-32f2-4909-740e-7db6aa37ece0
      X-Vcap-Request-Id:
      - 96d81f04-8b0c-4792-5e32-1cc4404a1d93::d91854fc-1e1e-446c-a1d3-712458cb21b0
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 6,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "111634ab-d511-4746-a252-b5fdb15bb51c",
                "url": "/v2/buildpacks/111634ab-d511-4746-a252-b5fdb15bb51c",
                "created_at": "2014-12-05T16:23:50+00:00",
                "updated_at": "2014-12-05T16:23:50+00:00"
              },
              "entity": {
                "name": "java_buildpack",
                "position": 1,
                "enabled": true,
                "locked": false,
                "filename": "java-buildpack-v2.5.zip"
              }
            },
            {
              "metadata": {
                "guid": "5da6e1e2-8134-41cc-9b20-96f40fd6259d",
                "url": "/v2/buildpacks/5da6e1e2-8134-41cc-9b20-96f40fd6259d",
                "created_at": "2014-12-05T16:23:50+00:00",
                "updated_at": "2014-12-05T16:25:05+00:00"
              },
              "entity": {
                "name": "ruby_buildpack",
                "position": 2,
                "enabled"[...]
