{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/05/13 23:58:10 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 07:02:44 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/paasal-test-app-min-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"a6573c5590d3d3e023c623db34c989c5\""], "Last-Modified":["Thu, 14 May 2015 07:02:24 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2257"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"archived_at\":null,\"buildpack_provided_description\":\"Node.js\",\"build_stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"created_at\":\"2015-05-14T06:44:19Z\",\"id\":\"b081fb34-82db-48a5-a995-523e6b975e8e\",\"git_url\":\"git@heroku.com:paasal-test-app-min-updated.git\",\"maintenance\":false,\"name\":\"paasal-test-app-min-updated\",\"owner\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"region\":{\"id\":\"59accabd-516d-4f0e-83e6-6e3757701145\",\"name\":\"us\"},\"released_at\":\"2015-05-14T06:58:09Z\",\"repo_size\":2702821,\"slug_size\":12589587,\"stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"updated_at\":\"2015-05-14T07:02:24Z\",\"web_url\":\"https://paasal-test-app-min-updated.herokuapp.com/\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 07:02:44 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/b081fb34-82db-48a5-a995-523e6b975e8e/dynos","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"6410242849df99cb349eca5ba9016646\""], "Last-Modified":["Thu, 14 May 2015 07:00:59 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2256"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"attach_url\":null,\"command\":\"node server.js\",\"created_at\":\"2015-05-14T07:00:59Z\",\"id\":\"e067a1c5-811a-4c8f-817b-73d23b2c2c75\",\"name\":\"web.1\",\"release\":{\"id\":\"8d46e52e-cda7-4978-867d-604e642e878a\",\"version\":4},\"size\":\"1X\",\"state\":\"up\",\"type\":\"web\",\"updated_at\":\"2015-05-14T07:00:59Z\"}]"},"http_version":null},"recorded_at":"Thu, 14 May 2015 07:02:45 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/b081fb34-82db-48a5-a995-523e6b975e8e/formation","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"a6573c5590d3d3e023c623db34c989c5\""], "Last-Modified":["Thu, 14 May 2015 07:02:24 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2255"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"command\":\"node server.js\",\"created_at\":\"2015-05-14T06:58:09Z\",\"id\":\"6a58f887-d2f8-4716-ac89-3e4e75c711f0\",\"type\":\"web\",\"quantity\":1,\"size\":\"1X\",\"updated_at\":\"2015-05-14T07:00:48Z\"}]"},"http_version":null},"recorded_at":"Thu, 14 May 2015 07:02:45 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/b081fb34-82db-48a5-a995-523e6b975e8e/buildpack-installations","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["ordinal 0..0"], "Content-Type":["application/json"], "ETag":["\"87d7b85882f94ae872184eafce30ccd8\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2254"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"buildpack\":{\"url\":\"https://github.com/heroku/heroku-buildpack-nodejs\"},\"ordinal\":0}]"},"http_version":null},"recorded_at":"Thu, 14 May 2015 07:02:46 GMT"},{"request":{"method":"patch","uri":"https://api.heroku.com/apps/paasal-test-app-min-updated/formation","body":{"encoding":"UTF-8","string":"{\"updates\":[{\"process\":\"worker\",\"quantity\":0}]}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":null},"headers":{"Content-Type":["application/json"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global write write-protected"], "RateLimit-Remaining":["2253"], "Status":["404 Not Found"]},"body":{"encoding":"UTF-8","string":"{\"resource\":\"dyno_type\",\"id\":\"not_found\",\"message\":\"No such process type worker defined in Procfile.\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 07:02:47 GMT"},[...]
{"request":{"method":"get","uri":"https://api.heroku.com/apps/b081fb34-82db-48a5-a995-523e6b975e8e/buildpack-installations","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["ordinal 0..0"], "Content-Type":["application/json"], "ETag":["\"87d7b85882f94ae872184eafce30ccd8\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2256"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"buildpack\":{\"url\":\"https://github.com/heroku/heroku-buildpack-nodejs\"},\"ordinal\":0}]"},"http_version":null},"recorded_at":"Thu, 14 May 2015 07:02:57 GMT"}],"recorded_with":"VCR 2.9.3"}