{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["63d1654e-6631-47ed-7214-0a56cdff9117"], "X-Vcap-Request-Id":["70c4c83a-f6e5-4a9f-4086-aa06e7c73ac0::cadf555e-239a-4f7f-bdca-59e71000f5f1"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:19:15 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["2bd145c1-3175-4aec-5b84-ab7b53c14b40, 7362c1c8-1868-4af0-6ee1-1bcc1ce07ebc"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"090c3857-1f98-4c51-a87b-ecf1a8149f59\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 12:19:15 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/services?inline-relations-depth=1","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["81ea76da-a0e5-4d60-5b26-4583d4fb2b5c"], "X-Vcap-Request-Id":["0695e2ef-046f-44b0-681b-7c6857ee664a::49ead865-df4c-4da9-8763-73f5a0250223"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 4,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"created_at\": \"2015-04-14T18:37:40+00:00\",\n        \"updated_at\": \"2015-06-27T12:13:08+00:00\"\n      },\n      \"entity\": {\n        \"label\": \"mongodb\",\n        \"provider\": \"core\",\n        \"url\": \"http://10.244.1.2:44138\",\n        \"description\": \"MongoDB NoSQL database\",\n        \"long_description\": null,\n        \"version\": \"2.2\",\n        \"info_url\": null,\n        \"active\": true,\n        \"bindable\": true,\n        \"unique_id\": \"8f4af9f9-0f29-4957-87a3-1039ce983ede\",\n        \"extra\": \"{\\\"listing\\\":{\\\"imageUrl\\\":null,\\\"blurb\\\":null},\\\"provider\\\":{\\\"name\\\":\\\"Core\\\"}}\",\n        \"tags\": [\n          \"nosql\",\n          \"document\",\n          \"mongodb\"\n        ],\n        \"requires\": [\n\n        ],\n        \"documentation_url\": null,\n        \"service_broker_guid\": null,\n        \"plan_updateable\": false,\n        \"service_plans_url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c/service_plans\",\n        \"service_plans\": [\n          {\n            \"metadata\": {\n              \"guid\": \"11e51876-0b64-4018-b797-16633d00e471\",\n              \"url\": \"/v2/service_plans/11e51876-0b64-4018-b797-16633d00e471\",\n              \"created_at\": \"2015-04-14T18:37:41+00:00\",\n              \"updated_at\": \"2015-06-27T12:13:08+00:00\"\n            },\n            \"entity\": {\n              \"name\": \"default\",\n              \"free\": true,\n              \"description\": \"Developer, shared VM, 250MB storage, 10 connections\",\n              \"service_guid\": \"5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n              \"extra\": \"\",\n              \"unique_id\": \"default-8f4af9f9-0f29-4957-87a3-1039ce983ede\",\n              \"public\": true,\n              \"active\": true,\n              \"service_url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n              \"service_instances_url\": \"/v2/service_plans/11e51876-0b64-4018-b797-16633d00e471/service_instances\"\n            }\n          },\n          {\n            \"metadata\": {\n              \"guid\": \"2665bc9f-011b-4b37-b3e8-60b67fc4db2e\",\n              \"url\": \"/v2/service_plans/2665bc9f-011b-4b37-b3e8-60b67fc4db2e\",\n              \"created_at\": \"2015-04-19T10:04:50+00:00\",\n              \"updated_at\": \"2015-06-27T12:13:08+00:00\"\n            },\n            \"entity\": {\n              \"name\": \"sandbox[...]
