{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["3e7bbadc-f1a2-411f-4b9b-1f22ab49c853"], "X-Vcap-Request-Id":["b6986b96-01e8-47c7-703d-302e2c89086a::6e58265f-a9a3-46db-87dd-c231378affcf"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:04 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["3eb18aaa-e7ba-40b4-4f96-2f9900b32cc8, 8ea08058-5fdd-4ba7-71b3-fd844a2ecb63"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"72861f9f-9520-4d52-99a6-9598b9c55ac0\"}"},"http_version":null},"recorded_at":"Wed, 29 Apr 2015 07:21:04 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/services?inline-relations-depth=1","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["1f1db4a1-9165-43e4-6aad-5532e30570d2"], "X-Vcap-Request-Id":["6a3a058c-3ee1-488c-4ff5-df26a972d875::cf5df50a-de24-426a-9a31-14c5adef9d95"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 4,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n        \"created_at\": \"2015-04-14T18:37:40+00:00\",\n        \"updated_at\": \"2015-04-29T07:21:02+00:00\"\n      },\n      \"entity\": {\n        \"label\": \"mongodb\",\n        \"provider\": \"core\",\n        \"url\": \"http://10.244.1.2:44138\",\n        \"description\": \"MongoDB NoSQL database\",\n        \"long_description\": null,\n        \"version\": \"2.2\",\n        \"info_url\": null,\n        \"active\": true,\n        \"bindable\": true,\n        \"unique_id\": \"8f4af9f9-0f29-4957-87a3-1039ce983ede\",\n        \"extra\": \"{\\\"listing\\\":{\\\"imageUrl\\\":null,\\\"blurb\\\":null},\\\"provider\\\":{\\\"name\\\":\\\"Core\\\"}}\",\n        \"tags\": [\n          \"nosql\",\n          \"document\",\n          \"mongodb\"\n        ],\n        \"requires\": [\n\n        ],\n        \"documentation_url\": null,\n        \"service_broker_guid\": null,\n        \"plan_updateable\": false,\n        \"service_plans_url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c/service_plans\",\n        \"service_plans\": [\n          {\n            \"metadata\": {\n              \"guid\": \"11e51876-0b64-4018-b797-16633d00e471\",\n              \"url\": \"/v2/service_plans/11e51876-0b64-4018-b797-16633d00e471\",\n              \"created_at\": \"2015-04-14T18:37:41+00:00\",\n              \"updated_at\": \"2015-04-29T07:21:02+00:00\"\n            },\n            \"entity\": {\n              \"name\": \"default\",\n              \"free\": true,\n              \"description\": \"Developer, shared VM, 250MB storage, 10 connections\",\n              \"service_guid\": \"5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n              \"extra\": \"\",\n              \"unique_id\": \"default-8f4af9f9-0f29-4957-87a3-1039ce983ede\",\n              \"public\": true,\n              \"active\": true,\n              \"service_url\": \"/v2/services/5c71dedf-ecbe-4454-be88-d5feb101ee9c\",\n              \"service_instances_url\": \"/v2/service_plans/11e51876-0b64-4018-b797-16633d00e471/service_instances\"\n            }\n          },\n          {\n            \"metadata\": {\n              \"guid\": \"2665bc9f-011b-4b37-b3e8-60b67fc4db2e\",\n              \"url\": \"/v2/service_plans/2665bc9f-011b-4b37-b3e8-60b67fc4db2e\",\n              \"created_at\": \"2015-04-19T10:04:50+00:00\",\n              \"updated_at\": \"2015-04-29T07:21:03+00:00\"\n            },\n            \"entity\": {\n              \"name\": \"sandbox[...]
