{"http_interactions":[{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["ebc24600-ff88-4568-69ca-c435cdeb83e4"], "X-Vcap-Request-Id":["beb536ca-540b-450b-45ff-92421c1c89c6::6a85120b-48e9-4fe9-86f6-8cf1b1f11083"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"https://login.run.pivotal.io\",\"token_endpoint\":\"https://uaa.run.pivotal.io\",\"min_cli_version\":null,\"min_recommended_cli_version\":null,\"api_version\":\"2.41.0\",\"app_ssh_endpoint\":\"ssh.run.pivotal.io:2222\",\"app_ssh_host_key_fingerprint\":\"e7:13:4e:32:ee:39:62:df:54:41:d7:f7:8b:b2:a7:6b\",\"app_ssh_oauth_client\":\"ssh-proxy\",\"routing_endpoint\":\"https://api.run.pivotal.io/routing\",\"logging_endpoint\":\"wss://loggregator.run.pivotal.io:443\",\"doppler_logging_endpoint\":\"wss://doppler.run.pivotal.io:443\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 09:07:21 GMT"},{"request":{"method":"post","uri":"https://login.run.pivotal.io/oauth/token?grant_type=password&password=__pivotal:password__&username=__pivotal:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["73da730a-951c-4653-58fd-f1bb547c7674"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"cloud_controller.read password.write cloud_controller.write openid uaa.user\",\"jti\":\"aad1dd7d-a0dc-4505-b217-aa8b14a08029\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 09:07:23 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/apps?q=name%3Anucleus-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["b355e94b-8a40-41f0-727f-1f9d18132418"], "X-Vcap-Request-Id":["0c56f3e1-54d1-4708-595d-09e80ba339fb::f2c55e88-58a9-4ac7-bdb3-62cc13fca6a6"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"ab451001-c9b9-466f-bdb3-5d548aa168a5\",\n        \"url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5\",\n        \"created_at\": \"2015-10-23T00:00:21Z\",\n        \"updated_at\": \"2015-10-23T01:22:49Z\"\n      },\n      \"entity\": {\n        \"name\": \"nucleus-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"stack_guid\": \"86205f38-84fc-4bc2-b2b8-af7f55669f04\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": \"\",\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_updated_test_var_value\",\n          \"our_test_var_key2\": \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STARTED\",\n        \"version\": \"fc937529-7b7d-4495-98fb-4191505193d4\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": \"c9fe2fbfe92f4231a0fd932e2c27efea\",\n        \"package_state\": \"STAGED\",\n        \"health_check_type\": \"port\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"staging_failed_description\": null,\n        \"diego\": true,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-10-23T01:20:56Z\",\n        \"detected_start_command\": \"node server.js\",\n        \"enable_ssh\": true,\n        \"docker_credentials_json\": {\n          \"redacted_message\": \"[PRIVATE DATA HIDDEN]\"\n        },\n        \"space_url\": \"/v2/spaces/1a13ea3e-d947-4887-8481-e8174f0ed011\",\n        \"stack_url\": \"/v2/stacks/86205f38-84fc-4bc2-b2b8-af7f55669f04\",\n        \"events_url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/events\",\n        \"service_bindings_url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/service_bindings\",\n        \"routes_url\": \"/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 09:07:24 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/instances/0/files/logs/unknown_id","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":400,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["3a796881-e293-439d-7bdd-a7212abbab78"], "X-Vcap-Request-Id":["cf3c5b94-5374-42be-4109-ed5c7b3bba9a::4bd62dcd-e9f1-47a8-8633-10d3c85d966c"]},"body":{"encoding":"UTF-8","string":"{\n  \"code\": 190001,\n  \"description\": \"File error: Request failed for app: nucleus-test-app-all-updated, instance: 0 and path: logs/unknown_id as the instance is not found.\",\n  \"error_code\": \"CF-FileError\"\n}\n"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 09:07:27 GMT"},{"request":{"method":"get","uri":"https://api.run.pivotal.io/v2/apps/ab451001-c9b9-466f-bdb3-5d548aa168a5/instances/0/files/logs/unknown_id","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":400,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["547bbbdd-4a1c-4279-6c6a-448a0261f10c"], "X-Vcap-Request-Id":["f9fa9522-c44b-45a3-5d2b-fbd3ec7ece7f::c33c74ec-c8eb-447e-a817-ef1688436e5b"]},"body":{"encoding":"UTF-8","string":"{\n  \"code\": 190001,\n  \"description\": \"File error: Request failed for app: nucleus-test-app-all-updated, instance: 0 and path: logs/unknown_id as the instance is not found.\",\n  \"error_code\": \"CF-FileError\"\n}\n"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 09:07:30 GMT"}],"recorded_with":"VCR 2.9.3"}