{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/05/14 00:12:30 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 07:13:02 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"35833cacd2532a53f82d46f096a43dfe\""], "Last-Modified":["Thu, 14 May 2015 07:00:25 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2348"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"archived_at\":null,\"buildpack_provided_description\":\"Node.js\",\"build_stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"created_at\":\"2015-05-14T06:43:58Z\",\"id\":\"1f35201d-1363-4ac1-9b8a-db35bf92e698\",\"git_url\":\"git@heroku.com:paasal-test-app-all-updated.git\",\"maintenance\":false,\"name\":\"paasal-test-app-all-updated\",\"owner\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"region\":{\"id\":\"59accabd-516d-4f0e-83e6-6e3757701145\",\"name\":\"us\"},\"released_at\":\"2015-05-14T06:57:00Z\",\"repo_size\":2703079,\"slug_size\":12590393,\"stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"updated_at\":\"2015-05-14T07:00:25Z\",\"web_url\":\"https://paasal-test-app-all-updated.herokuapp.com/\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 07:13:03 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/1f35201d-1363-4ac1-9b8a-db35bf92e698/dynos","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"b2883ea21a7d08d08171ece04c3c4d27\""], "Last-Modified":["Thu, 14 May 2015 06:58:38 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2347"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"attach_url\":null,\"command\":\"node server.js\",\"created_at\":\"2015-05-14T06:58:38Z\",\"id\":\"d88c55fb-813f-46d3-9dc0-581923882f62\",\"name\":\"web.1\",\"release\":{\"id\":\"7d24b592-4580-46ce-8c34-56dd9a5b0848\",\"version\":7},\"size\":\"1X\",\"state\":\"up\",\"type\":\"web\",\"updated_at\":\"2015-05-14T06:58:38Z\"}]"},"http_version":null},"recorded_at":"Thu, 14 May 2015 07:13:03 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/1f35201d-1363-4ac1-9b8a-db35bf92e698/formation","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"35833cacd2532a53f82d46f096a43dfe\""], "Last-Modified":["Thu, 14 May 2015 07:00:25 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2346"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"command\":\"node server.js\",\"created_at\":\"2015-05-14T06:57:00Z\",\"id\":\"9838ca94-10f3-44f4-95a0-3f7813577865\",\"type\":\"web\",\"quantity\":1,\"size\":\"1X\",\"updated_at\":\"2015-05-14T06:58:31Z\"}]"},"http_version":null},"recorded_at":"Thu, 14 May 2015 07:13:04 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/1f35201d-1363-4ac1-9b8a-db35bf92e698/buildpack-installations","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["ordinal 0..0"], "Content-Type":["application/json"], "ETag":["\"87d7b85882f94ae872184eafce30ccd8\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2345"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"buildpack\":{\"url\":\"https://github.com/heroku/heroku-buildpack-nodejs\"},\"ordinal\":0}]"},"http_version":null},"recorded_at":"Thu, 14 May 2015 07:13:04 GMT"},[...]
{"request":{"method":"get","uri":"https://api.heroku.com/account","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"ea037e1a0115f00eff2062dec0cd354e\""], "Last-Modified":["Thu, 14 May 2015 07:12:30 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global identity"], "RateLimit-Remaining":["2342"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"beta\":false,\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\",\"last_login\":\"2015-04-23T10:07:51Z\",\"name\":\" \",\"two_factor_authentication\":false,\"verified\":true,\"created_at\":\"2014-11-18T09:37:21Z\",\"updated_at\":\"2015-05-14T07:12:30Z\",\"default_organization\":null}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 07:13:06 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/account/keys","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"3b3b2a0a868487749ef91aa15ff9aa13\""], "Last-Modified":["Thu, 14 May 2015 07:12:30 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global"], "RateLimit-Remaining":["2341"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Thu, 14 May 2015 07:13:07 GMT"},{"request":{"method":"post","uri":"https://api.heroku.com/account/keys","body":{"encoding":"UTF-8","string":"{\"public_key\":\"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDCHgNc4jRSbs6NRwAe4B+uWdmbVVOfOpaQqyq0Xkz28FUr+wg49f3iaUKWSnxJD+rMDdiKTjrM3NyXzW8WFDIT6c/g1Wk1/QOgIL1oly26IR4p0TBJRJrTZj3mrftfeTjln8AB71IcxupsLBGIy6oeWuoEK77WvuHuBKxsacpmfPCXheBKKe1Q354jgoR+P9r16iAOFzGNzfsz95D2dshTB1Pgq8r9KLH0HUWjemi0BqeMjHKtJTpVCw8wPBYlYLtBlg8to/KyiBC0vjNXTkvPZALW+FhHOzgX8QyjVlA7Y5RpHqmWc2lqs34KExr6ykoxY54dL2yvYWH50xF8dpyZF57udWdpknRGNSZfOKz0wRZ2oqR6p/TrkjVXFSjENy0LF7ni8Y6v2BXZ2YPhKRr8aDMaZVtzhbH7yeLSDoPnzptpJXXFyB9FZJodDopMQ7vB1sIM0X/RSgObdbxSJ3wdq2V8cqNC/LPXCycV5uMRIUP/g+X1fjRTVAnBSLDYzXx5WyNFlDgThIEyR6ULCtskMoIxOLlPPAl6gffZ03Cjk2KN3+EEZyKc6KjNoZy2+/fYHdrhDed0LIF7b223E28nKOyWrsoAV1IcUDqsIe95VUtoGS6WCZ+5cOFfkxMTuxn0/Qd+oCBF7tD2sc4Ubo3mGbK0e+yYqE8bPWI/kiPhWw== paasal-2d931510-d99f-494a-8c67-000000000004\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global"], "RateLimit-Remaining":["2340"], "Status":["201 Created"]},"body":{"encoding":"UTF-8","string":"{\"comment\":\"paasal-2d931510-d99f-494a-8c67-000000000004\",\"created_at\":\"2015-05-14T07:13:07Z\",\"email\":\"__heroku:user__\",\"fingerprint\":\"55:9a:cb:b3:bf:24:d7:53:f4:cf:a5:fa:6f:4e:dc:17\",\"id\":\"ae34119d-84ca-4d00-9d8b-96a8888da97b\",\"public_key\":\"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDCHgNc4jRSbs6NRwAe4B+uWdmbVVOfOpaQqyq0Xkz28FUr+wg49f3iaUKWSnxJD+rMDdiKTjrM3NyXzW8WFDIT6c/g1Wk1/QOgIL1oly26IR4p0TBJRJrTZj3mrftfeTjln8AB71IcxupsLBGIy6oeWuoEK77WvuHuBKxsacpmfPCXheBKKe1Q354jgoR+P9r16iAOFzGNzfsz95D2dshTB1Pgq8r9KLH0HUWjemi0BqeMjHKtJTpVCw8wPBYlYLtBlg8to/KyiBC0vjNXTkvPZALW+FhHOzgX8QyjVlA7Y5RpHqmWc2lqs34KExr6ykoxY54dL2yvYWH50xF8dpyZF57udWdpknRGNSZfOKz0wRZ2oqR6p/TrkjVXFSjENy0LF7ni8Y6v2BXZ2YPhKRr8aDMaZVtzhbH7yeLSDoPnzptpJXXFyB9FZJodDopMQ7vB1sIM0X/RSgObdbxSJ3wdq2V8cqNC/LPXCycV5uMRIUP/g+X1fjRTVAnBSLDYzXx5WyNFlDgThIEyR6ULCtskMoIxOLlPPAl6gffZ03Cjk2KN3+EEZyKc6KjNoZy2+/fYHdrhDed0LIF7b223E28nKOyWrsoAV1IcUDqsIe95VUtoGS6WCZ+5cOFfkxMTuxn0/Qd+oCBF7tD2sc4Ubo3mGbK0e+yYqE8bPWI/kiPhWw== paasal-2d931510-d99f-494a-8c67-000000000004\",\"updated_at\":\"2015-05-14T07:13:07Z\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 07:13:08 GMT"},{"request":{"method":"delete","uri":"https://api.heroku.com/account/keys/ae34119d-84ca-4d00-9d8b-96a8888da97b","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global"], "RateLimit-Remaining":["2328"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"comment[...]
[...]
{"request":{"method":"get","uri":"https://api.heroku.com/apps/1f35201d-1363-4ac1-9b8a-db35bf92e698/buildpack-installations","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["ordinal 0..0"], "Content-Type":["application/json"], "ETag":["\"87d7b85882f94ae872184eafce30ccd8\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2320"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"buildpack\":{\"url\":\"https://github.com/heroku/heroku-buildpack-nodejs\"},\"ordinal\":0}]"},"http_version":null},"recorded_at":"Thu, 14 May 2015 07:13:45 GMT"}],"recorded_with":"VCR 2.9.3"}