{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/06/27 02:28:54 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:29:58 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/nucleus-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"86678f2d4b68abb07c10156562106ffe\""], "Last-Modified":["Sat, 27 Jun 2015 09:17:07 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2342"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"archived_at\":null,\"buildpack_provided_description\":\"Node.js\",\"build_stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"created_at\":\"2015-06-27T09:00:57Z\",\"id\":\"eabf58cb-478b-4eda-8349-4f98f56625f0\",\"git_url\":\"git@heroku.com:nucleus-test-app-all-updated.git\",\"maintenance\":false,\"name\":\"nucleus-test-app-all-updated\",\"owner\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"region\":{\"id\":\"59accabd-516d-4f0e-83e6-6e3757701145\",\"name\":\"us\"},\"released_at\":\"2015-06-27T09:14:02Z\",\"repo_size\":2703009,\"slug_size\":12853333,\"stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"updated_at\":\"2015-06-27T09:17:07Z\",\"web_url\":\"https://nucleus-test-app-all-updated.herokuapp.com/\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:29:59 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/eabf58cb-478b-4eda-8349-4f98f56625f0/dynos","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"fcf4a6d4038e1ef660d5917445041e77\""], "Last-Modified":["Sat, 27 Jun 2015 09:15:31 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2341"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"attach_url\":null,\"command\":\"node server.js\",\"created_at\":\"2015-06-27T09:15:31Z\",\"id\":\"af82fc5d-0bab-4ecb-9a03-5ac0d3a2d433\",\"name\":\"web.1\",\"app\":{\"id\":\"eabf58cb-478b-4eda-8349-4f98f56625f0\",\"name\":\"nucleus-test-app-all-updated\"},\"release\":{\"id\":\"c9e92bfe-462f-43c1-baab-42ca5adce474\",\"version\":7},\"size\":\"Free\",\"state\":\"up\",\"type\":\"web\",\"updated_at\":\"2015-06-27T09:15:31Z\"}]"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:29:59 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/eabf58cb-478b-4eda-8349-4f98f56625f0/formation","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"86678f2d4b68abb07c10156562106ffe\""], "Last-Modified":["Sat, 27 Jun 2015 09:17:07 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2340"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"app\":{\"id\":\"eabf58cb-478b-4eda-8349-4f98f56625f0\",\"name\":\"nucleus-test-app-all-updated\"},\"command\":\"node server.js\",\"created_at\":\"2015-06-27T09:14:02Z\",\"id\":\"50c15d7e-ca96-49be-9c3f-11c90788b78a\",\"type\":\"web\",\"quantity\":1,\"size\":\"Free\",\"updated_at\":\"2015-06-27T09:15:27Z\"}]"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:30:00 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/eabf58cb-478b-4eda-8349-4f98f56625f0/buildpack-installations","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["ordinal 0..0"], "Content-Type":["application/json"], "ETag":["\"87d7b85882f94ae872184eafce30ccd8\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2339"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"buildpack\":{\"url\":\"https://github.com/heroku/heroku-buildpack-nodejs\"},\"ordinal\":0}]"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:30:01 GMT"},[...]
{"request":{"method":"get","uri":"https://api.heroku.com/account","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"ef77d3d7194016aba052a8d95a038a6a\""], "Last-Modified":["Sat, 27 Jun 2015 09:28:54 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global identity"], "RateLimit-Remaining":["2336"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"beta\":false,\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\",\"last_login\":\"2015-04-23T10:07:51Z\",\"name\":\" \",\"two_factor_authentication\":false,\"verified\":true,\"created_at\":\"2014-11-18T09:37:21Z\",\"updated_at\":\"2015-06-27T09:28:54Z\",\"default_organization\":null}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:30:03 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/account/keys","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"ee1c20a9056cd1c1cd97f6167395598f\""], "Last-Modified":["Sat, 27 Jun 2015 09:28:54 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global"], "RateLimit-Remaining":["2335"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:30:03 GMT"},{"request":{"method":"post","uri":"https://api.heroku.com/account/keys","body":{"encoding":"UTF-8","string":"{\"public_key\":\"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDCHgNc4jRSbs6NRwAe4B+uWdmbVVOfOpaQqyq0Xkz28FUr+wg49f3iaUKWSnxJD+rMDdiKTjrM3NyXzW8WFDIT6c/g1Wk1/QOgIL1oly26IR4p0TBJRJrTZj3mrftfeTjln8AB71IcxupsLBGIy6oeWuoEK77WvuHuBKxsacpmfPCXheBKKe1Q354jgoR+P9r16iAOFzGNzfsz95D2dshTB1Pgq8r9KLH0HUWjemi0BqeMjHKtJTpVCw8wPBYlYLtBlg8to/KyiBC0vjNXTkvPZALW+FhHOzgX8QyjVlA7Y5RpHqmWc2lqs34KExr6ykoxY54dL2yvYWH50xF8dpyZF57udWdpknRGNSZfOKz0wRZ2oqR6p/TrkjVXFSjENy0LF7ni8Y6v2BXZ2YPhKRr8aDMaZVtzhbH7yeLSDoPnzptpJXXFyB9FZJodDopMQ7vB1sIM0X/RSgObdbxSJ3wdq2V8cqNC/LPXCycV5uMRIUP/g+X1fjRTVAnBSLDYzXx5WyNFlDgThIEyR6ULCtskMoIxOLlPPAl6gffZ03Cjk2KN3+EEZyKc6KjNoZy2+/fYHdrhDed0LIF7b223E28nKOyWrsoAV1IcUDqsIe95VUtoGS6WCZ+5cOFfkxMTuxn0/Qd+oCBF7tD2sc4Ubo3mGbK0e+yYqE8bPWI/kiPhWw== nucleus-2d931510-d99f-494a-8c67-000000000004\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global"], "RateLimit-Remaining":["2334"], "Status":["201 Created"]},"body":{"encoding":"UTF-8","string":"{\"comment\":\"nucleus-2d931510-d99f-494a-8c67-000000000004\",\"created_at\":\"2015-06-27T09:29:23Z\",\"email\":\"__heroku:user__\",\"fingerprint\":\"55:9a:cb:b3:bf:24:d7:53:f4:cf:a5:fa:6f:4e:dc:17\",\"id\":\"5f2a6648-e8fa-441f-947e-048ebdd6221d\",\"public_key\":\"ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDCHgNc4jRSbs6NRwAe4B+uWdmbVVOfOpaQqyq0Xkz28FUr+wg49f3iaUKWSnxJD+rMDdiKTjrM3NyXzW8WFDIT6c/g1Wk1/QOgIL1oly26IR4p0TBJRJrTZj3mrftfeTjln8AB71IcxupsLBGIy6oeWuoEK77WvuHuBKxsacpmfPCXheBKKe1Q354jgoR+P9r16iAOFzGNzfsz95D2dshTB1Pgq8r9KLH0HUWjemi0BqeMjHKtJTpVCw8wPBYlYLtBlg8to/KyiBC0vjNXTkvPZALW+FhHOzgX8QyjVlA7Y5RpHqmWc2lqs34KExr6ykoxY54dL2yvYWH50xF8dpyZF57udWdpknRGNSZfOKz0wRZ2oqR6p/TrkjVXFSjENy0LF7ni8Y6v2BXZ2YPhKRr8aDMaZVtzhbH7yeLSDoPnzptpJXXFyB9FZJodDopMQ7vB1sIM0X/RSgObdbxSJ3wdq2V8cqNC/LPXCycV5uMRIUP/g+X1fjRTVAnBSLDYzXx5WyNFlDgThIEyR6ULCtskMoIxOLlPPAl6gffZ03Cjk2KN3+EEZyKc6KjNoZy2+/fYHdrhDed0LIF7b223E28nKOyWrsoAV1IcUDqsIe95VUtoGS6WCZ+5cOFfkxMTuxn0/Qd+oCBF7tD2sc4Ubo3mGbK0e+yYqE8bPWI/kiPhWw== nucleus-2d931510-d99f-494a-8c67-000000000004\",\"updated_at\":\"2015-06-27T09:29:23Z\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:30:04 GMT"},{"request":{"method":"delete","uri":"https://api.heroku.com/account/keys/5f2a6648-e8fa-441f-947e-048ebdd6221d","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global"], "RateLimit-Remaining":["2342"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"comment[...]
[...]
{"request":{"method":"get","uri":"https://api.heroku.com/apps/eabf58cb-478b-4eda-8349-4f98f56625f0/buildpack-installations","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["ordinal 0..0"], "Content-Type":["application/json"], "ETag":["\"87d7b85882f94ae872184eafce30ccd8\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2334"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"buildpack\":{\"url\":\"https://github.com/heroku/heroku-buildpack-nodejs\"},\"ordinal\":0}]"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:30:35 GMT"}],"recorded_with":"VCR 2.9.3"}