---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 4daa6225-40e5-488a-5bb2-74db3b71bc17
      X-Vcap-Request-Id:
      - f71afac7-a503-4aa6-51bc-a9f38fc9f04d::48af7ed5-6948-4645-8c09-97b8cf498bbf
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Thu, 02 Apr 2015 12:40:51 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - 71a6b27c-c82f-4f5c-7dd2-9b34c14e3ab6, 6865aec7-233c-4be4-6364-e038bbb4ae89
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"e9758538-d224-4153-b3d0-6c269876fa49"}'
  recorded_at: Thu, 02 Apr 2015 12:40:51 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - bbe0fd22-57d4-4955-6404-f770d4c62f06
      X-Vcap-Request-Id:
      - ec6d601e-54a9-41bc-6b1b-3a82f4b4cbfc::077fa7e8-a4d3-4faa-9e5e-0efc98547b9a
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "3397450b-e73a-48cb-a94d-4e7cc4341763",
                "url": "/v2/apps/3397450b-e73a-48cb-a94d-4e7cc4341763",
                "created_at": "2015-04-02T12:32:49+00:00",
                "updated_at": "2015-04-02T12:32:52+00:00"
              },
              "entity": {
                "name": "paasal-test-app-min-updated",
                "production": false,
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
                "buildpack": "nodejs_buildpack",
                "detected_buildpack": null,
                "environment_json": {

                },
                "memory": 256,
                "instances": 1,
                "disk_quota": 1024,
                "state": "STOPPED",
                "version": "2b3d7a37-19dc-4a68-b6db-4b9ec53e6a71",
                "command": null,
                "console": false,
                "debug": null,
                "staging_task_id": null,
                "package_state": "PENDING",
                "health_check_timeout": null,
                "staging_failed_reason": null,
                "docker_image": null,
                "package_updated_at": null,
                "detected_start_command": "",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
                "events_url": "/v2/apps/3397450b-e73a-48cb-a94d-4e7cc4341763/events",
                "service_bindings_url": "/v2/apps/3397450b-e73a-48cb-a94d-4e7cc4341763/service_bindings",
                "routes_url": "/v2/apps/3397450b-e73a-48cb-a94d-4e7cc4341763/routes"
              }
            }
          ]
        }
  recorded_at: Thu, 02 Apr 2015 12:40:51 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/3397450b-e73a-48cb-a94d-4e7cc4341763/env
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 449cfdc4-ecce-4ed9-4d7a-8c4a32d4e4cb
      X-Vcap-Request-Id:
      - 1920a620-d45f-4b74-7934-b170a329c693::b6ddf847-8c78-47da-a99a-a88032b853a9
    body:
      encoding: UTF-8
      string: |-
        {
          "staging_env_json": {

          },
          "running_env_json": {

          },
          "environment_json": {

          },
          "system_env_json": {
            "VCAP_SERVICES": {

            }
          },
          "application_env_json": {
            "VCAP_APPLICATION": {
              "limits": {
                "mem": 256,
                "disk": 1024,
                "fds": 16384
              },
              "application_version": "2b3d7a37-19dc-4a68-b6db-4b9ec53e6a71",
              "application_name": "paasal-test-app-min-updated",
              "application_uris": [
                "3397450b-e73a-48cb-a94d-4e7cc4341763.10.244.0.34.xip.io"
              ],
              "version": "2b3d7a37-19dc-4a68-b6db-4b9ec53e6a71",
              "name": "paasal-test-app-min-updated",
              "space_name": "development",
              "space_id": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
              "uris": [
                "3397450b-e73a-48cb-a94d-4e7cc4341763.10.244.0.34.xip.io"
              ],
              "users": null
            }
          }
        }
  recorded_at: Thu, 02 Apr 2015 12:40:51 GMT
[...]
- request:
    method: put
    uri: https://api.10.244.0.34.xip.io/v2/apps/3397450b-e73a-48cb-a94d-4e7cc4341763
    body:
      encoding: UTF-8
      string: '{"environment_json":{"our_test_var_key":"our_test_var_value"}}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - d19885c3-21ba-40f8-56d9-89644b76c5a4
      X-Vcap-Request-Id:
      - fc68db0a-34e6-4831-44eb-d58e2082847f::838b2425-4b4c-4de7-93cf-c038d21a083c
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "3397450b-e73a-48cb-a94d-4e7cc4341763",
            "url": "/v2/apps/3397450b-e73a-48cb-a94d-4e7cc4341763",
            "created_at": "2015-04-02T12:32:49+00:00",
            "updated_at": "2015-04-02T12:33:00+00:00"
          },
          "entity": {
            "name": "paasal-test-app-min-updated",
            "production": false,
            "space_guid[...]
