---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - acaf18bf-8321-47d4-64ed-01ef5d1fb70a
      X-Vcap-Request-Id:
      - 7d3c95f7-dd68-4cbd-5143-543247b661ea::8b4b2ae6-2345-4c18-9246-35a2f226b164
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Sat, 04 Apr 2015 12:51:43 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - f5e8f928-5331-4910-4e37-8badaba1cad9, 4c984ed9-4b12-485b-6a4c-d1e96e805de2
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"8d0961b6-0157-4c96-a759-bf90694eb5f9"}'
  recorded_at: Sat, 04 Apr 2015 12:51:43 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 30b8088b-e38f-4154-626f-1ff1fb61ccb9
      X-Vcap-Request-Id:
      - 0cd8fa52-19d2-4db4-42f6-0fb8fb8b5cc9::8aa2108f-a171-45a6-a1c9-455f260a5092
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "b81d8252-71f0-474c-a005-632338336c01",
                "url": "/v2/apps/b81d8252-71f0-474c-a005-632338336c01",
                "created_at": "2015-04-04T12:51:35+00:00",
                "updated_at": "2015-04-04T12:51:38+00:00"
              },
              "entity": {
                "name": "paasal-test-app-all-updated",
                "production": false,
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
                "buildpack": "nodejs_buildpack",
                "detected_buildpack": null,
                "environment_json": {

                },
                "memory": 256,
                "instances": 1,
                "disk_quota": 1024,
                "state": "STOPPED",
                "version": "5494f18f-bcd8-4905-99ed-2f4f96573c30",
                "command": null,
                "console": false,
                "debug": null,
                "staging_task_id": null,
                "package_state": "PENDING",
                "health_check_timeout": null,
                "staging_failed_reason": null,
                "docker_image": null,
                "package_updated_at": null,
                "detected_start_command": "",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
                "events_url": "/v2/apps/b81d8252-71f0-474c-a005-632338336c01/events",
                "service_bindings_url": "/v2/apps/b81d8252-71f0-474c-a005-632338336c01/service_bindings",
                "routes_url": "/v2/apps/b81d8252-71f0-474c-a005-632338336c01/routes"
              }
            }
          ]
        }
  recorded_at: Sat, 04 Apr 2015 12:51:44 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/b81d8252-71f0-474c-a005-632338336c01/env
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 978922e2-5f10-4608-676f-5cd300aed7d5
      X-Vcap-Request-Id:
      - b9e2e19e-2b8f-46a8-5f44-6452d7b950cc::75e0b837-2b1d-4aa2-8efb-4c8efc6b5070
    body:
      encoding: UTF-8
      string: |-
        {
          "staging_env_json": {

          },
          "running_env_json": {

          },
          "environment_json": {

          },
          "system_env_json": {
            "VCAP_SERVICES": {

            }
          },
          "application_env_json": {
            "VCAP_APPLICATION": {
              "limits": {
                "mem": 256,
                "disk": 1024,
                "fds": 16384
              },
              "application_version": "5494f18f-bcd8-4905-99ed-2f4f96573c30",
              "application_name": "paasal-test-app-all-updated",
              "application_uris": [
                "b81d8252-71f0-474c-a005-632338336c01.10.244.0.34.xip.io"
              ],
              "version": "5494f18f-bcd8-4905-99ed-2f4f96573c30",
              "name": "paasal-test-app-all-updated",
              "space_name": "development",
              "space_id": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
              "uris": [
                "b81d8252-71f0-474c-a005-632338336c01.10.244.0.34.xip.io"
              ],
              "users": null
            }
          }
        }
  recorded_at: Sat, 04 Apr 2015 12:51:44 GMT
[...]
- request:
    method: put
    uri: https://api.10.244.0.34.xip.io/v2/apps/b81d8252-71f0-474c-a005-632338336c01
    body:
      encoding: UTF-8
      string: '{"environment_json":{"our_test_var_key":"our_test_var_value"}}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - c3b24016-0600-48b6-62c9-d80bb8094364
      X-Vcap-Request-Id:
      - a73a3c9e-68af-49dd-58c4-b85c3e730057::fe10ec19-ad53-451f-aea1-1c6c5c567e77
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "b81d8252-71f0-474c-a005-632338336c01",
            "url": "/v2/apps/b81d8252-71f0-474c-a005-632338336c01",
            "created_at": "2015-04-04T12:51:35+00:00",
            "updated_at": "2015-04-04T12:51:44+00:00"
          },
          "entity": {
            "name": "paasal-test-app-all-updated",
            "production": false,
            "space_guid[...]
