---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - bda4b201-f440-434a-7655-3c32056d290a
      X-Vcap-Request-Id:
      - 158c9df3-b0fc-40e1-4786-ca22e5bb0cac::263bbb02-91e5-4401-a42c-9ff4b73a8e10
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Mon, 06 Apr 2015 20:10:36 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - 1a0daa94-c232-4f40-60c6-dd31604b22c8, 99dd7202-b272-41f6-75c4-5feae4fb4774
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"07a1f73f-0e3b-473f-ae10-235c9a27bab0"}'
  recorded_at: Mon, 06 Apr 2015 20:10:36 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 5ca5625a-2087-4723-7ec5-dffddd55f492
      X-Vcap-Request-Id:
      - f9171fba-a09f-4397-7151-b9fae852bb46::197ded8a-b28f-46df-8f78-0d9213df8b9f
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "51ff2e84-e992-48ea-9e28-b85b13e2f46b",
                "url": "/v2/apps/51ff2e84-e992-48ea-9e28-b85b13e2f46b",
                "created_at": "2015-04-06T20:10:26+00:00",
                "updated_at": "2015-04-06T20:10:29+00:00"
              },
              "entity": {
                "name": "paasal-test-app-min-updated",
                "production": false,
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
                "buildpack": "nodejs_buildpack",
                "detected_buildpack": null,
                "environment_json": {

                },
                "memory": 256,
                "instances": 1,
                "disk_quota": 1024,
                "state": "STOPPED",
                "version": "6db701a3-adc2-4d06-875d-cf4ec91131cd",
                "command": null,
                "console": false,
                "debug": null,
                "staging_task_id": null,
                "package_state": "PENDING",
                "health_check_timeout": null,
                "staging_failed_reason": null,
                "docker_image": null,
                "package_updated_at": null,
                "detected_start_command": "",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
                "events_url": "/v2/apps/51ff2e84-e992-48ea-9e28-b85b13e2f46b/events",
                "service_bindings_url": "/v2/apps/51ff2e84-e992-48ea-9e28-b85b13e2f46b/service_bindings",
                "routes_url": "/v2/apps/51ff2e84-e992-48ea-9e28-b85b13e2f46b/routes"
              }
            }
          ]
        }
  recorded_at: Mon, 06 Apr 2015 20:10:36 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/51ff2e84-e992-48ea-9e28-b85b13e2f46b/env
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 3a690dd4-9dd7-4765-5ff9-38c0b8aafb6a
      X-Vcap-Request-Id:
      - ae5a4248-ffa0-4a7b-4802-e38dde4bb856::d679456a-0016-418b-94d8-abe16209d838
    body:
      encoding: UTF-8
      string: |-
        {
          "staging_env_json": {

          },
          "running_env_json": {

          },
          "environment_json": {

          },
          "system_env_json": {
            "VCAP_SERVICES": {

            }
          },
          "application_env_json": {
            "VCAP_APPLICATION": {
              "limits": {
                "mem": 256,
                "disk": 1024,
                "fds": 16384
              },
              "application_version": "6db701a3-adc2-4d06-875d-cf4ec91131cd",
              "application_name": "paasal-test-app-min-updated",
              "application_uris": [
                "51ff2e84-e992-48ea-9e28-b85b13e2f46b.10.244.0.34.xip.io"
              ],
              "version": "6db701a3-adc2-4d06-875d-cf4ec91131cd",
              "name": "paasal-test-app-min-updated",
              "space_name": "development",
              "space_id": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
              "uris": [
                "51ff2e84-e992-48ea-9e28-b85b13e2f46b.10.244.0.34.xip.io"
              ],
              "users": null
            }
          }
        }
  recorded_at: Mon, 06 Apr 2015 20:10:36 GMT
[...]
- request:
    method: put
    uri: https://api.10.244.0.34.xip.io/v2/apps/51ff2e84-e992-48ea-9e28-b85b13e2f46b
    body:
      encoding: UTF-8
      string: '{"environment_json":{"our_test_var_key":"our_test_var_value"}}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - d0baf731-15b8-4c8c-5da8-79b757662112
      X-Vcap-Request-Id:
      - 0a6c8143-7080-48b3-452b-f20da2d19985::8deb89ef-1520-4ba4-bf75-b4648ac344c2
    body:
      encoding: UTF-8
      stri[...]
