---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 22fd5a40-9478-438a-784c-04487171c0cf
      X-Vcap-Request-Id:
      - 3a83a316-d1b7-4ee5-55a1-b0cc3d519875::6b7d25d1-1888-4864-8f65-9945beda7ca5
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Wed, 08 Apr 2015 15:37:34 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - aa43487f-1370-43c7-5c98-9f364524199e, c6552d9e-687d-4a88-5e78-edd0ebf6e2ed
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"2ab11d3a-ac41-4dd6-a754-597be890e644"}'
  recorded_at: Wed, 08 Apr 2015 15:37:34 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 59832047-e1fd-4af2-62c0-25c26a01aa4a
      X-Vcap-Request-Id:
      - 9bf51769-68d2-40f5-5b2a-8347a0694fbf::558cabf0-a66e-4cf1-8abe-b972ed8d8b9d
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "277a3488-6b05-4331-83ff-45f182929977",
                "url": "/v2/apps/277a3488-6b05-4331-83ff-45f182929977",
                "created_at": "2015-04-08T15:37:26+00:00",
                "updated_at": "2015-04-08T15:37:31+00:00"
              },
              "entity": {
                "name": "paasal-test-app-all-updated",
                "production": false,
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
                "buildpack": "nodejs_buildpack",
                "detected_buildpack": null,
                "environment_json": {

                },
                "memory": 256,
                "instances": 1,
                "disk_quota": 1024,
                "state": "STOPPED",
                "version": "2861efa0-db29-40d6-b599-002f56d7b2e1",
                "command": null,
                "console": false,
                "debug": null,
                "staging_task_id": null,
                "package_state": "PENDING",
                "health_check_timeout": null,
                "staging_failed_reason": null,
                "docker_image": null,
                "package_updated_at": null,
                "detected_start_command": "",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
                "events_url": "/v2/apps/277a3488-6b05-4331-83ff-45f182929977/events",
                "service_bindings_url": "/v2/apps/277a3488-6b05-4331-83ff-45f182929977/service_bindings",
                "routes_url": "/v2/apps/277a3488-6b05-4331-83ff-45f182929977/routes"
              }
            }
          ]
        }
  recorded_at: Wed, 08 Apr 2015 15:37:34 GMT
- request:
    method: head
    uri: https://api.10.244.0.34.xip.io/v2/apps/277a3488-6b05-4331-83ff-45f182929977/download
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 16b7cb62-11c1-433e-4571-fab6a8ea1563
      X-Vcap-Request-Id:
      - 08ae6e24-3b39-466c-6f9f-d9c721167e84::d986bbb5-7963-4ed7-a136-8272fb910cf3
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 08 Apr 2015 15:37:34 GMT
recorded_with: VCR 2.9.3
