---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 668a153f-6324-497d-4148-9e59c024a011
      X-Vcap-Request-Id:
      - 6f80358b-bf6f-4209-7a6f-7bc3f6c07c3d::628ca855-c88d-4087-948b-2ef13a1a48a7
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Thu, 02 Apr 2015 12:43:02 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - 13493974-d87f-48a6-7ab9-487e9232f233, fe62fa84-6cba-4748-5705-af8e4104b6d9
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"2d8ff886-d29a-4624-a7b0-41a4a4ae6465"}'
  recorded_at: Thu, 02 Apr 2015 12:43:02 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - ef65b32f-bb25-4057-765a-4050adf4e7d6
      X-Vcap-Request-Id:
      - 259a0b30-b629-4807-7d61-7e252437e469::3eca524e-1df2-476c-af82-2b2d097dece1
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "f0295428-234e-4eb6-9d42-a4167c9f990c",
                "url": "/v2/apps/f0295428-234e-4eb6-9d42-a4167c9f990c",
                "created_at": "2015-04-02T12:32:48+00:00",
                "updated_at": "2015-04-02T12:35:10+00:00"
              },
              "entity": {
                "name": "paasal-test-app-all-updated",
                "production": false,
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
                "buildpack": "nodejs_buildpack",
                "detected_buildpack": null,
                "environment_json": {
                  "our_test_var_key": "our_updated_test_var_value",
                  "our_test_var_key2": "our_test_var_value2"
                },
                "memory": 256,
                "instances": 1,
                "disk_quota": 1024,
                "state": "STARTED",
                "version": "dca72da8-cd7a-409e-8abd-0a983da90824",
                "command": null,
                "console": false,
                "debug": null,
                "staging_task_id": "12e80993eba2431891a574f6f66360e5",
                "package_state": "PENDING",
                "health_check_timeout": null,
                "staging_failed_reason": null,
                "docker_image": null,
                "package_updated_at": "2015-04-02T12:33:15+00:00",
                "detected_start_command": "node server.js",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
                "events_url": "/v2/apps/f0295428-234e-4eb6-9d42-a4167c9f990c/events",
                "service_bindings_url": "/v2/apps/f0295428-234e-4eb6-9d42-a4167c9f990c/service_bindings",
                "routes_url": "/v2/apps/f0295428-234e-4eb6-9d42-a4167c9f990c/routes"
              }
            }
          ]
        }
  recorded_at: Thu, 02 Apr 2015 12:43:02 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/f0295428-234e-4eb6-9d42-a4167c9f990c/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - ea32f0de-3b5e-4a51-4b85-fec80e322f12
      X-Vcap-Request-Id:
      - 8ae32456-6a81-4cb4-5563-f2b1760d41f4::d344005a-bfe0-43f5-9b6c-631fa99e291b
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 2,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "579461f3-b818-412c-9bab-03793203f64f",
                "url": "/v2/routes/579461f3-b818-412c-9bab-03793203f64f",
                "created_at": "2015-04-02T12:32:49+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "f0295428-234e-4eb6-9d42-a4167c9f990c",
                "domain_guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "domain_url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "apps_url": "/v2/routes/579461f3-b818-412c-9bab-03793203f64f/apps"
              }
            },
            {
              "metadata": {
                "guid": "afbe1d4a-21ed-4202-813f-b2ae65e37a9a",
                "url": "/v2/routes/afbe1d4a-21ed-4202-813f-b2ae65e37a9a",
                "created_at": "2015-04-02T12:33:07+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "",
                "domain_guid": "a055ee95-7d64-4352-9e5e-7eea55ecf706",
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "domain_url": "/v2/domains/a055ee95-7d64-4352-9e5e-7eea55ecf706",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "apps_url": "/v2/routes/afbe1d4a-21ed-4202-813f-b2ae65e37a9a/apps"
              }
            }
          ]
        }
  recorded_at: Thu, 02 Apr 2015 12:43:02 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 868152e9-42f6-4470-7b34-ef1f19a5bdc1
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - e6ebd551-c273-4806-6d07-dfe2ff79ecc2::6ed7cf11-0ff7-4fbd-bc76-670b4dc92bf5
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Thu, 02 Apr 2015 12:43:03 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/a055ee95-7d64-4352-9e5e-7eea55ecf706
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 62862ab8-4993-4214-7cdc-90aec9d2cd44
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - 2cebddec-8599-4260-6fe5-eaa4c884d55c::66ffa5c0-b230-49ab-97be-8c92644eb09a
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "a055ee95-7d64-4352-9e5e-7eea55ecf706",
            "url": "/v2/domains/a055ee95-7d64-4352-9e5e-7eea55ecf706",
            "created_at": "2015-03-25T16:22:57+00:00",
            "updated_at": null
          },
          "entity": {
            "name": "adomainthatishopefullynotusedontheplatform.de",
            "owning_organization_guid": "d94caddf-45be-4c92-bb2d-62d3a65cbec0",
            "owning_organization_url": "/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0",
            "spaces_url": "/v2/domains/a055ee95-7d64-4352-9e5e-7eea55ecf706/spaces"
          }
        }
  recorded_at: Thu, 02 Apr 2015 12:43:03 GMT
[...]
- request:
    method: delete
    uri: https://api.10.244.0.34.xip.io/v2/apps/f0295428-234e-4eb6-9d42-a4167c9f990c/routes/afbe1d4a-21ed-4202-813f-b2ae65e37a9a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 58a0c6f2-a8f8-4c18-61b5-853e2f12601d
      X-Vcap-Request-Id:
      - f3b24c03-da28-442d-43d1-091ecc629be7::11be8282-eaef-4be2-a974-9f6be5e69aa8
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "f0295428-234e-4eb6-9d42-a4167c9f990c",
            "url": "/v2/apps/f0295428-234e-4eb6-9d42-a4167c9f990c",
            "created_at": "2015-04-02T12:32:48+00:00",
            "updated_at": "2015-04-02T12:35:11+00:00"
          },
          "entity": {
            "name": "paasal-test-app-all-updated",
            "production": false,
            "space_guid[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/routes/afbe1d4a-21ed-4202-813f-b2ae65e37a9a/apps
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 30b41e97-a278-4890-5031-77837638373a
      X-Vcap-Request-Id:
      - 76e11e9c-ad89-4cac-7d8d-1aab139dd873::04487e99-05dc-49d7-b844-12f35faa5f94
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 0,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [

          ]
        }
  recorded_at: Thu, 02 Apr 2015 12:43:03 GMT
- request:
    method: delete
    uri: https://api.10.244.0.34.xip.io/v2/routes/afbe1d4a-21ed-4202-813f-b2ae65e37a9a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: 
    headers:
      X-Cf-Requestid:
      - 0cc329ff-ec2f-4cc4-7a3d-5589a31b75ec
      X-Vcap-Request-Id:
      - ef1c9b00-99f7-4389-538f-d91d4d0766e1::a56fac3e-b357-48ca-9a69-95a4c24ced5b
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 02 Apr 2015 12:43:03 GMT
recorded_with: VCR 2.9.3
