---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 6ee9a7c8-6cf1-4419-5e7d-30b06bd4aa28
      X-Vcap-Request-Id:
      - dbba7e54-6243-418b-5e02-9f5f71cfc845::e033e5b9-4876-4cd9-9415-e7f3481b38d6
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Mon, 06 Apr 2015 20:12:54 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - a019333f-690a-4412-55f8-07cf488860a7, 9890fdc5-27af-4a8a-6f48-47ebedc85025
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"92be69b9-bf85-41a1-a615-7ea6a6003841"}'
  recorded_at: Mon, 06 Apr 2015 20:12:55 GMT
- request:
    method: delete
    uri: https://api.10.244.0.34.xip.io/v2/apps/app_never_exists_0123456789
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 40991a67-87b2-41e0-7115-cb8c4491de61
      X-Vcap-Request-Id:
      - cf710c37-e5ba-4a8c-7c32-07033458f7ef::9f7abae4-e2cd-4665-bb09-9fdd79363340
    body:
      encoding: UTF-8
      string: |
        {
          "code": 100004,
          "description": "The app name could not be found: app_never_exists_0123456789",
          "error_code": "CF-AppNotFound"
        }
  recorded_at: Mon, 06 Apr 2015 20:12:55 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Aapp_never_exists_0123456789
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - caff7bd3-670d-4238-643e-af5140284493
      X-Vcap-Request-Id:
      - 552719b7-b017-427a-6330-5accf1d07508::27ba09f3-3569-4f8b-b86f-e5df15fe2529
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 0,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [

          ]
        }
  recorded_at: Mon, 06 Apr 2015 20:12:55 GMT
recorded_with: VCR 2.9.3
