---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 6364423d-c17b-4805-51b5-99b01864585e
      X-Vcap-Request-Id:
      - f9222ec3-2a5b-4b9e-54cb-3f9d0cf7bffd::d3d2666a-82ec-4f2a-a113-a4e0bbe30c68
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Thu, 02 Apr 2015 12:43:06 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - 5e5fe6c0-26d7-4dee-5254-22b472f34b49, 5bc51d2a-bd72-4645-48d5-ee4f12e2b45e
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"64fa4644-e377-4720-9499-1952b568298b"}'
  recorded_at: Thu, 02 Apr 2015 12:43:06 GMT
- request:
    method: delete
    uri: https://api.10.244.0.34.xip.io/v2/apps/app_never_exists_0123456789
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 17a91254-270d-4072-7b07-c03188c0d4ef
      X-Vcap-Request-Id:
      - eb581db5-67fc-46c0-4a56-f127b7182c2a::4008c58f-bc64-4e9e-ae2a-6997a49c82cc
    body:
      encoding: UTF-8
      string: |
        {
          "code": 100004,
          "description": "The app name could not be found: app_never_exists_0123456789",
          "error_code": "CF-AppNotFound"
        }
  recorded_at: Thu, 02 Apr 2015 12:43:06 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Aapp_never_exists_0123456789
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 5b195e5f-9533-4f50-727c-0beae1463c26
      X-Vcap-Request-Id:
      - 948be5c3-38ed-46f4-6465-4a66a2d2a99d::e7345533-009c-48c2-83e5-c2c13b8e52e6
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 0,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [

          ]
        }
  recorded_at: Thu, 02 Apr 2015 12:43:06 GMT
recorded_with: VCR 2.9.3
