---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - ae0cecc1-71a1-46f5-4a54-dc344b371911
      X-Vcap-Request-Id:
      - fb84dc0d-11f0-4720-7d9f-87fe5ad78919::e9418210-cf59-4b2a-a5a2-3318e3b66b71
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Sat, 04 Apr 2015 12:53:53 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - 68a67244-8f40-4139-5e13-5615e46dc313, a25d1098-26bc-4341-4cf2-9fb56b43b46b
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"a7fa73ac-cdb9-4fd9-83e7-eb49d98ea8ac"}'
  recorded_at: Sat, 04 Apr 2015 12:53:53 GMT
- request:
    method: delete
    uri: https://api.10.244.0.34.xip.io/v2/apps/app_never_exists_0123456789
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 0aa58139-6486-4e58-6c6a-772eac364333
      X-Vcap-Request-Id:
      - ab0dbf48-7bb7-460a-56b1-3b6913246b12::ae95f108-73fb-4437-b95e-f623fd54f716
    body:
      encoding: UTF-8
      string: |
        {
          "code": 100004,
          "description": "The app name could not be found: app_never_exists_0123456789",
          "error_code": "CF-AppNotFound"
        }
  recorded_at: Sat, 04 Apr 2015 12:53:53 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Aapp_never_exists_0123456789
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 37ce1608-30a6-4155-7cff-6a78e33cf319
      X-Vcap-Request-Id:
      - 6ed5327a-2f1d-4b57-5216-0835cb63a590::457acf19-8fa6-44b1-8ea2-402f079ff351
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 0,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [

          ]
        }
  recorded_at: Sat, 04 Apr 2015 12:53:53 GMT
recorded_with: VCR 2.9.3
