---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - fdac7e22-c8df-4b4c-66c9-3287547ec6b4
      X-Vcap-Request-Id:
      - f27fd69f-b0ba-4df4-53bd-a0c0ad653966::b9e4dd6d-69fd-495c-b5b0-5c788e1dec97
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Sat, 04 Apr 2015 12:53:49 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - 3ba90ef1-dff5-4ad8-410f-648d5bf73210, 30370f16-6ef0-4765-4789-588ff7449dc6
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"5f304365-e589-4088-9f17-a11bb23daf8b"}'
  recorded_at: Sat, 04 Apr 2015 12:53:50 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 51644a99-a2f9-460b-4002-878b1d25f122
      X-Vcap-Request-Id:
      - eb18d920-627f-4677-4780-bf5691976ebb::a8451613-b6f0-41a6-9431-b2a2f9fb71eb
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "b81d8252-71f0-474c-a005-632338336c01",
                "url": "/v2/apps/b81d8252-71f0-474c-a005-632338336c01",
                "created_at": "2015-04-04T12:51:35+00:00",
                "updated_at": "2015-04-04T12:53:49+00:00"
              },
              "entity": {
                "name": "paasal-test-app-all-updated",
                "production": false,
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
                "buildpack": "nodejs_buildpack",
                "detected_buildpack": null,
                "environment_json": {
                  "our_test_var_key": "our_updated_test_var_value",
                  "our_test_var_key2": "our_test_var_value2"
                },
                "memory": 256,
                "instances": 1,
                "disk_quota": 1024,
                "state": "STARTED",
                "version": "07c2a6f5-b760-4591-be01-8fe15c60e6cd",
                "command": null,
                "console": false,
                "debug": null,
                "staging_task_id": "3d68a610e4544b959829f7913bfaf8c9",
                "package_state": "PENDING",
                "health_check_timeout": null,
                "staging_failed_reason": null,
                "docker_image": null,
                "package_updated_at": "2015-04-04T12:51:58+00:00",
                "detected_start_command": "node server.js",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
                "events_url": "/v2/apps/b81d8252-71f0-474c-a005-632338336c01/events",
                "service_bindings_url": "/v2/apps/b81d8252-71f0-474c-a005-632338336c01/service_bindings",
                "routes_url": "/v2/apps/b81d8252-71f0-474c-a005-632338336c01/routes"
              }
            }
          ]
        }
  recorded_at: Sat, 04 Apr 2015 12:53:50 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/b81d8252-71f0-474c-a005-632338336c01/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - fb38f886-b9df-4f1a-6723-a4d50e502378
      X-Vcap-Request-Id:
      - 3751b334-8b8b-4cf4-731c-c44f585a9fab::336004a0-de5b-4879-8a6c-977286423d66
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 2,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "17e45bd4-5255-47b8-94a8-c7d7fc247c5d",
                "url": "/v2/routes/17e45bd4-5255-47b8-94a8-c7d7fc247c5d",
                "created_at": "2015-04-04T12:51:35+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "b81d8252-71f0-474c-a005-632338336c01",
                "domain_guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "domain_url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "apps_url": "/v2/routes/17e45bd4-5255-47b8-94a8-c7d7fc247c5d/apps"
              }
            },
            {
              "metadata": {
                "guid": "2d342497-319a-44e5-810c-3e73b192e749",
                "url": "/v2/routes/2d342497-319a-44e5-810c-3e73b192e749",
                "created_at": "2015-04-04T12:51:51+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "",
                "domain_guid": "a055ee95-7d64-4352-9e5e-7eea55ecf706",
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "domain_url": "/v2/domains/a055ee95-7d64-4352-9e5e-7eea55ecf706",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "apps_url": "/v2/routes/2d342497-319a-44e5-810c-3e73b192e749/apps"
              }
            }
          ]
        }
  recorded_at: Sat, 04 Apr 2015 12:53:50 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 0eab1353-aa41-4e88-70af-658e83b9336f
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - e2f9129a-788d-412a-56d7-9f94d2951df5::f07e72f3-40ab-41c7-93a6-c15e35e2e81c
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Sat, 04 Apr 2015 12:53:50 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/a055ee95-7d64-4352-9e5e-7eea55ecf706
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - d9174af8-a804-4b95-6919-1adafa5983c1
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - b9fa5db2-eb55-4142-67cf-4261e7ca085d::c374a22e-e173-4837-9c22-780f28531f38
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "a055ee95-7d64-4352-9e5e-7eea55ecf706",
            "url": "/v2/domains/a055ee95-7d64-4352-9e5e-7eea55ecf706",
            "created_at": "2015-03-25T16:22:57+00:00",
            "updated_at": null
          },
          "entity": {
            "name": "adomainthatishopefullynotusedontheplatform.de",
            "owning_organization_guid": "d94caddf-45be-4c92-bb2d-62d3a65cbec0",
            "owning_organization_url": "/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0",
            "spaces_url": "/v2/domains/a055ee95-7d64-4352-9e5e-7eea55ecf706/spaces"
          }
        }
  recorded_at: Sat, 04 Apr 2015 12:53:50 GMT
[...]
- request:
    method: delete
    uri: https://api.10.244.0.34.xip.io/v2/apps/b81d8252-71f0-474c-a005-632338336c01/routes/2d342497-319a-44e5-810c-3e73b192e749
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - f3d9f76a-7fbf-4f35-4e0b-115655694414
      X-Vcap-Request-Id:
      - e98759da-a756-4485-780c-671ada72de7f::225cbd88-b529-4d3d-a611-7bd7a55a4eec
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "b81d8252-71f0-474c-a005-632338336c01",
            "url": "/v2/apps/b81d8252-71f0-474c-a005-632338336c01",
            "created_at": "2015-04-04T12:51:35+00:00",
            "updated_at": "2015-04-04T12:53:50+00:00"
          },
          "entity": {
            "name": "paasal-test-app-all-updated",
            "production": false,
            "space_guid[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/routes/2d342497-319a-44e5-810c-3e73b192e749/apps
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - e9254c6d-5d2e-4456-4bab-8e68f941b318
      X-Vcap-Request-Id:
      - e0383dd8-1c42-4173-6540-e6325288557d::6b07eb4d-c388-4ffc-b254-296492a46179
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 0,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [

          ]
        }
  recorded_at: Sat, 04 Apr 2015 12:53:50 GMT
- request:
    method: delete
    uri: https://api.10.244.0.34.xip.io/v2/routes/2d342497-319a-44e5-810c-3e73b192e749
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: 
    headers:
      X-Cf-Requestid:
      - 9546793c-2574-485c-5e9a-abbb88ad9800
      X-Vcap-Request-Id:
      - c9daf0b4-a0dc-4234-5ec4-e3acf98cb39e::db00f483-236c-4e0c-b677-ba4e1132a260
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 04 Apr 2015 12:53:50 GMT
recorded_with: VCR 2.9.3
