---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - fe056b9d-472e-48ad-791b-1660c6c2d4dd
      X-Vcap-Request-Id:
      - e9013ead-b852-4356-6278-25a8e43aab1e::14e7118d-cab9-4a28-8811-e1b49bd48e75
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Mon, 06 Apr 2015 20:10:44 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - 13fc3131-ee46-497d-4a2a-efdbea8074d0, 4bfd63ac-d415-439a-52ba-e245ff40c804
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"47ae75f8-a7f9-43f0-868c-71369c078508"}'
  recorded_at: Mon, 06 Apr 2015 20:10:44 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 0cb4e7ed-1c42-4438-49d1-87a04664e8af
      X-Vcap-Request-Id:
      - 8b30ad03-0f33-4a31-4f61-0e9fc0ff8154::65394d28-6fb2-45be-a3e7-9c385062d764
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "4260186e-9e44-413e-994e-1897e6d28513",
                "url": "/v2/apps/4260186e-9e44-413e-994e-1897e6d28513",
                "created_at": "2015-04-06T20:10:26+00:00",
                "updated_at": "2015-04-06T20:10:43+00:00"
              },
              "entity": {
                "name": "paasal-test-app-all-updated",
                "production": false,
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
                "buildpack": "nodejs_buildpack",
                "detected_buildpack": null,
                "environment_json": {
                  "our_test_var_key": "our_updated_test_var_value",
                  "our_test_var_key2": "our_test_var_value2"
                },
                "memory": 256,
                "instances": 1,
                "disk_quota": 1024,
                "state": "STOPPED",
                "version": "899fa6ef-23da-4c25-993e-842345ff251d",
                "command": null,
                "console": false,
                "debug": null,
                "staging_task_id": null,
                "package_state": "PENDING",
                "health_check_timeout": null,
                "staging_failed_reason": null,
                "docker_image": null,
                "package_updated_at": null,
                "detected_start_command": "",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
                "events_url": "/v2/apps/4260186e-9e44-413e-994e-1897e6d28513/events",
                "service_bindings_url": "/v2/apps/4260186e-9e44-413e-994e-1897e6d28513/service_bindings",
                "routes_url": "/v2/apps/4260186e-9e44-413e-994e-1897e6d28513/routes"
              }
            }
          ]
        }
  recorded_at: Mon, 06 Apr 2015 20:10:44 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/4260186e-9e44-413e-994e-1897e6d28513/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - c9f78795-6a60-4810-5e37-0e0d19b7c083
      X-Vcap-Request-Id:
      - ea69f81a-95cc-42f1-5418-e24e8ee4017c::4cd89ad9-fdf0-48cb-9c4c-3b0a02ead289
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 3,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "88627a1c-38e9-4304-8198-653c45230d00",
                "url": "/v2/routes/88627a1c-38e9-4304-8198-653c45230d00",
                "created_at": "2015-04-06T20:10:26+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "4260186e-9e44-413e-994e-1897e6d28513",
                "domain_guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "domain_url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "apps_url": "/v2/routes/88627a1c-38e9-4304-8198-653c45230d00/apps"
              }
            },
            {
              "metadata": {
                "guid": "3454cd3d-280b-436a-ab5b-6e0b773c3817",
                "url": "/v2/routes/3454cd3d-280b-436a-ab5b-6e0b773c3817",
                "created_at": "2015-04-06T20:10:42+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "cf-bosh-local",
                "domain_guid": "a055ee95-7d64-4352-9e5e[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - c18fb300-3069-4443-5f1d-e41249331f40
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - e71cbaa0-ffbb-4c21-4f67-f97afbddc020::11ef4cb1-fe0c-435f-af1f-b60cd2b10698
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Mon, 06 Apr 2015 20:10:44 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/a055ee95-7d64-4352-9e5e-7eea55ecf706
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 27259ddb-1a58-486d-6396-f0b6d2c051ff
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - 119e1929-d537-4c88-6f96-38a75c718d65::8b0591db-9e5d-4117-980a-960f829cb428
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "a055ee95-7d64-4352-9e5e-7eea55ecf706",
            "url": "/v2/domains/a055ee95-7d64-4352-9e5e-7eea55ecf706",
            "created_at": "2015-03-25T16:22:57+00:00",
            "updated_at": null
          },
          "entity": {
            "name": "adomainthatishopefullynotusedontheplatform.de",
            "owning_organization_guid": "d94caddf-45be-4c92-bb2d-62d3a65cbec0",
            "owning_organization_url": "/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0",
            "spaces_url": "/v2/domains/a055ee95-7d64-4352-9e5e-7eea55ecf706/spaces"
          }
        }
  recorded_at: Mon, 06 Apr 2015 20:10:44 GMT
[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 8c252a11-3727-4b99-4724-b10fb9862dfe
      X-Vcap-Request-Id:
      - d5e7bee3-9922-4731-4184-0c0d5bd865d8::4a3c40c3-8ddd-4924-a46d-70b33ba61258
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "4260186e-9e44-413e-994e-1897e6d28513",
                "url": "/v2/apps/4260186e-9e44-413e-994e-1897e6d28513",
                "created_at": "2015-04-06T20:10:26+00:00",
                "updated_at[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/4260186e-9e44-413e-994e-1897e6d28513/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - e805d790-2bb5-4c5e-6e8c-2460e38488f0
      X-Vcap-Request-Id:
      - e0aa8149-f719-4a6f-6c64-4563efb1b778::358afa30-abf4-4af4-8a1a-0431f5455e2e
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 3,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "88627a1c-38e9-4304-8198-653c45230d00",
                "url": "/v2/routes/88627a1c-38e9-4304-8198-653c45230d00",
                "created_at": "2015-04-06T20:10:26+00:00",
                "updated_[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/a055ee95-7d64-4352-9e5e-7eea55ecf706
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 2dcbff9e-aa33-4b37-5470-23aaf1e7038c
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - da971fa6-6cef-479f-416b-d119c4cbb11b::3f0e7b1c-8ec9-4fb8-9a8c-915b27dbca50
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "a055ee95-7d64-4352-9e5e-7eea55ecf706",
            "url": "/v2/domains/a055ee95-7d64-4352-9e5e-7eea55ecf706",
            "created_at": "2015-03-25T16:22:57+00:00",
            "updated_at": null
          },
          "entity": {
            "name": "adomainthatishopefullynotusedontheplatform.de",
            "owning_organization_guid": "d94caddf-45be-4c92-bb2d-62d3a65cbec0",
            "owning_organization_url": "/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0",
            "spaces_url": "/v2/domains/a055ee95-7d64-4352-9e5e-7eea55ecf706/spaces"
          }
        }
  recorded_at: Mon, 06 Apr 2015 20:10:44 GMT
recorded_with: VCR 2.9.3
