---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 31277cf9-03ac-4ed6-556a-86a823a9b30d
      X-Vcap-Request-Id:
      - 87c8937f-1b04-4ed4-66b5-24e45ea50303::2879ad71-a576-42dd-8981-faba8f0b04d0
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Sat, 04 Apr 2015 12:52:42 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - a76ce84a-2720-4246-4497-0ce6d8ff4903, e8d13a12-7c5e-483b-6149-47e74ddb5260
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"51597eed-d093-4103-878f-8c1463326a4f"}'
  recorded_at: Sat, 04 Apr 2015 12:52:42 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 6de410e3-e7b4-4c14-73a9-c05a294041bf
      X-Vcap-Request-Id:
      - 70efd0d7-923b-47f3-71bb-897893416b39::2cb0b2fc-4b7c-4b2d-b435-ffd4652c0ea6
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "b81d8252-71f0-474c-a005-632338336c01",
                "url": "/v2/apps/b81d8252-71f0-474c-a005-632338336c01",
                "created_at": "2015-04-04T12:51:35+00:00",
                "updated_at": "2015-04-04T12:52:17+00:00"
              },
              "entity": {
                "name": "paasal-test-app-all-updated",
                "production": false,
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
                "buildpack": "nodejs_buildpack",
                "detected_buildpack": null,
                "environment_json": {
                  "our_test_var_key": "our_updated_test_var_value",
                  "our_test_var_key2": "our_test_var_value2"
                },
                "memory": 256,
                "instances": 1,
                "disk_quota": 1024,
                "state": "STARTED",
                "version": "60122cd0-86b0-4d56-9c09-0cc6c86aa798",
                "command": null,
                "console": false,
                "debug": null,
                "staging_task_id": "7fe53ab07760457688d010a0b5521060",
                "package_state": "STAGED",
                "health_check_timeout": null,
                "staging_failed_reason": null,
                "docker_image": null,
                "package_updated_at": "2015-04-04T12:51:58+00:00",
                "detected_start_command": "node server.js",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
                "events_url": "/v2/apps/b81d8252-71f0-474c-a005-632338336c01/events",
                "service_bindings_url": "/v2/apps/b81d8252-71f0-474c-a005-632338336c01/service_bindings",
                "routes_url": "/v2/apps/b81d8252-71f0-474c-a005-632338336c01/routes"
              }
            }
          ]
        }
  recorded_at: Sat, 04 Apr 2015 12:52:42 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/b81d8252-71f0-474c-a005-632338336c01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 2c925ef8-2ed9-4735-4d01-3a9c060269e0
      X-Vc[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/b81d8252-71f0-474c-a005-632338336c01/instances/0/files/logs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 302
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://6d1af9602073498d9dc8150f076df6f3.10.244.0.34.xip.io/instance_paths/ed13069afc6f49bfad733e55769fe78f?hmac=4f9645aa65b506783541792483cf741eacfcabc65ec6d334dafc268e40139c74158cf87ac68e61090ebd0d7d22361a30b5071e9e5730b38e758c829f9a134a66&path=logs&timestamp=1428151962
      X-Cf-Requestid:
      - 2ded65ae-ee2b-4811-7411-43e159ac2602
      X-Vcap-Request-Id:
      - 7a669dfc-099d-4e2d-641d-f0a4cb980b14::22b01de2-b01b-424f-8153-2860e2c68da8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 04 Apr 2015 12:52:42 GMT
- request:
    method: get
    uri: https://6d1af9602073498d9dc8150f076df6f3.10.244.0.34.xip.io/instance_paths/ed13069afc6f49bfad733e55769fe78f?hmac=4f9645aa65b506783541792483cf741eacfcabc65ec6d334dafc268e40139c74158cf87ac68e61090ebd0d7d22361a30b5071e9e5730b38e758c829f9a134a66&path=logs&timestamp=1428151962
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - text/plain
      X-Cf-Requestid:
      - 2f98a268-f6b4-4a67-5a94-cc51d872a092
    body:
      encoding: UTF-8
      string: |
        staging_task.log                          1.3K
  recorded_at: Sat, 04 Apr 2015 12:52:42 GMT
recorded_with: VCR 2.9.3
