---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 54acbb9d-76d1-4d65-78fe-82dea6c5788b
      X-Vcap-Request-Id:
      - 0fd91f0e-4618-4613-5fd9-91156612d93b::ecc6a150-b35d-4812-b27e-f418134e2413
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Sat, 04 Apr 2015 12:51:53 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - d3a5b185-1fea-44a2-5ec4-6c9deff8586e, 43a100aa-8de0-4b8a-6771-87495a51649b
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"ac39592b-56e5-4d19-93d4-33bfde1ca09a"}'
  recorded_at: Sat, 04 Apr 2015 12:51:53 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 8608b1f1-0110-4fdf-6abd-3b675aabb2db
      X-Vcap-Request-Id:
      - f3a9d682-09dc-4713-47cf-c87527825654::f8f87551-ba77-4ab1-93fa-45c5169fa79d
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "b81d8252-71f0-474c-a005-632338336c01",
                "url": "/v2/apps/b81d8252-71f0-474c-a005-632338336c01",
                "created_at": "2015-04-04T12:51:35+00:00",
                "updated_at": "2015-04-04T12:51:51+00:00"
              },
              "entity": {
                "name": "paasal-test-app-all-updated",
                "production": false,
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
                "buildpack": "nodejs_buildpack",
                "detected_buildpack": null,
                "environment_json": {
                  "our_test_var_key": "our_updated_test_var_value",
                  "our_test_var_key2": "our_test_var_value2"
                },
                "memory": 256,
                "instances": 1,
                "disk_quota": 1024,
                "state": "STOPPED",
                "version": "9772cb7e-1bbc-4ab6-a4da-c2b7c6f00e9f",
                "command": null,
                "console": false,
                "debug": null,
                "staging_task_id": null,
                "package_state": "PENDING",
                "health_check_timeout": null,
                "staging_failed_reason": null,
                "docker_image": null,
                "package_updated_at": null,
                "detected_start_command": "",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
                "events_url": "/v2/apps/b81d8252-71f0-474c-a005-632338336c01/events",
                "service_bindings_url": "/v2/apps/b81d8252-71f0-474c-a005-632338336c01/service_bindings",
                "routes_url": "/v2/apps/b81d8252-71f0-474c-a005-632338336c01/routes"
              }
            }
          ]
        }
  recorded_at: Sat, 04 Apr 2015 12:51:53 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/b81d8252-71f0-474c-a005-632338336c01/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - d7830588-ebbd-4e42-653b-e00e50ce4b01
      X-Vcap-Request-Id:
      - 44ca717b-ad9e-40c1-4066-017f970bf21e::e855c546-0645-4691-b12a-a9a32a17640a
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 3,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "17e45bd4-5255-47b8-94a8-c7d7fc247c5d",
                "url": "/v2/routes/17e45bd4-5255-47b8-94a8-c7d7fc247c5d",
                "created_at": "2015-04-04T12:51:35+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "b81d8252-71f0-474c-a005-632338336c01",
                "domain_guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "domain_url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "apps_url": "/v2/routes/17e45bd4-5255-47b8-94a8-c7d7fc247c5d/apps"
              }
            },
            {
              "metadata": {
                "guid": "df3c1312-cb7e-4714-8c7a-926af45b82b3",
                "url": "/v2/routes/df3c1312-cb7e-4714-8c7a-926af45b82b3",
                "created_at": "2015-04-04T12:51:51+00:00",
                "updated_at": null
              },
              "entity": {
                "host": "cf-bosh-local",
                "domain_guid": "a055ee95-7d64-4352-9e5e[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 15d81c0f-ba45-48f5-6f57-ab6e67b926d4
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - 5f5fda2c-49db-4201-4136-846fd351ede8::3d4dc6e1-a946-49b2-92ae-6210ad34329c
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "url": "/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36",
            "created_at": "2014-12-05T16:23:46+00:00",
            "updated_at": "2015-03-19T07:07:29+00:00"
          },
          "entity": {
            "name": "10.244.0.34.xip.io"
          }
        }
  recorded_at: Sat, 04 Apr 2015 12:51:53 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/a055ee95-7d64-4352-9e5e-7eea55ecf706
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 26b92a91-88df-46ee-65d7-e41c2c73498d
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - 513e1d23-1e4f-46cf-7987-3586d6dbdc27::925f009e-aac2-4800-829b-07a6c04f06ae
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "a055ee95-7d64-4352-9e5e-7eea55ecf706",
            "url": "/v2/domains/a055ee95-7d64-4352-9e5e-7eea55ecf706",
            "created_at": "2015-03-25T16:22:57+00:00",
            "updated_at": null
          },
          "entity": {
            "name": "adomainthatishopefullynotusedontheplatform.de",
            "owning_organization_guid": "d94caddf-45be-4c92-bb2d-62d3a65cbec0",
            "owning_organization_url": "/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0",
            "spaces_url": "/v2/domains/a055ee95-7d64-4352-9e5e-7eea55ecf706/spaces"
          }
        }
  recorded_at: Sat, 04 Apr 2015 12:51:53 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/a055ee95-7d64-4352-9e5e-7eea55ecf706
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - bd3d5ee3-6fcd-4cf7-4ae3-b29f1d7277b8
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - fd41353b-cfc9-4001-6abc-27a1e70f494b::4d457699-b4d6-452a-bb24-91932e770e90
    body:
      encoding: UTF-8
      string: |-
        {
          "metadata": {
            "guid": "a055ee95-7d64-4352-9e5e-7eea55ecf706",
            "url": "/v2/domains/a055ee95-7d64-4352-9e5e-7eea55ecf706",
            "created_at": "2015-03-25T16:22:57+00:00",
            "updated_at": null
          },
          "entity": {
            "name": "adomainthatishopefullynotusedontheplatform.de",
            "owning_organization_guid": "d94caddf-45be-4c92-bb2d-62d3a65cbec0",
            "owning_organization_url": "/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0",
            "spaces_url": "/v2/domains/a055ee95-7d64-4352-9e5e-7eea55ecf706/spaces"
          }
        }
  recorded_at: Sat, 04 Apr 2015 12:51:53 GMT
recorded_with: VCR 2.9.3
