---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - cb7d409f-bff5-4142-5bf8-321a7b6c399e
      X-Vcap-Request-Id:
      - 446ad9f0-38d7-468a-728a-64afa28409f6::949d1046-708f-4ad4-b4a9-7b834d2702f1
    body:
      encoding: UTF-8
      string: '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Mon, 06 Apr 2015 20:11:33 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - a44de2e8-0769-437c-4ba3-5d2a4590f45a, 00c806b0-6602-48a6-43fc-e641ad59213b
    body:
      encoding: UTF-8
      string: '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"a5d2ffce-836a-4bd6-989c-b6359a6ee318"}'
  recorded_at: Mon, 06 Apr 2015 20:11:34 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 378878ea-3c49-4e09-5b13-4ad4a210a013
      X-Vcap-Request-Id:
      - 2f53834d-d0d1-458c-750c-a956ac058f5c::e4bfbedd-2498-45c8-bfe6-2f90b1899488
    body:
      encoding: UTF-8
      string: |-
        {
          "total_results": 1,
          "total_pages": 1,
          "prev_url": null,
          "next_url": null,
          "resources": [
            {
              "metadata": {
                "guid": "4260186e-9e44-413e-994e-1897e6d28513",
                "url": "/v2/apps/4260186e-9e44-413e-994e-1897e6d28513",
                "created_at": "2015-04-06T20:10:26+00:00",
                "updated_at": "2015-04-06T20:11:10+00:00"
              },
              "entity": {
                "name": "paasal-test-app-all-updated",
                "production": false,
                "space_guid": "d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_guid": "b4d24013-b385-4db1-a171-b4e151a87c46",
                "buildpack": "nodejs_buildpack",
                "detected_buildpack": null,
                "environment_json": {
                  "our_test_var_key": "our_updated_test_var_value",
                  "our_test_var_key2": "our_test_var_value2"
                },
                "memory": 256,
                "instances": 1,
                "disk_quota": 1024,
                "state": "STARTED",
                "version": "846b6757-bd7f-401e-9af3-2d0278b62053",
                "command": null,
                "console": false,
                "debug": null,
                "staging_task_id": "9bfd2faca6f948fd8ce149c4a8433ec5",
                "package_state": "STAGED",
                "health_check_timeout": null,
                "staging_failed_reason": null,
                "docker_image": null,
                "package_updated_at": "2015-04-06T20:10:49+00:00",
                "detected_start_command": "node server.js",
                "space_url": "/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940",
                "stack_url": "/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46",
                "events_url": "/v2/apps/4260186e-9e44-413e-994e-1897e6d28513/events",
                "service_bindings_url": "/v2/apps/4260186e-9e44-413e-994e-1897e6d28513/service_bindings",
                "routes_url": "/v2/apps/4260186e-9e44-413e-994e-1897e6d28513/routes"
              }
            }
          ]
        }
  recorded_at: Mon, 06 Apr 2015 20:11:34 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/4260186e-9e44-413e-994e-1897e6d28513
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 7cece66f-5a6b-4c5f-43eb-4928b84aef66
      X-Vc[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/4260186e-9e44-413e-994e-1897e6d28513/instances/0/files/logs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 302
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - https://6d1af9602073498d9dc8150f076df6f3.10.244.0.34.xip.io/instance_paths/683c6b4f92834df4bc1e0f73417f369c?hmac=41d01ec65f5e5157ce8cf37077369c8a44a66b7abae0c1a966748fe1e4d9678ab2ded6ce59804b78082077dd9173974dd4b4e8a2f6c718264450bd60e7dfd7e3&path=logs&timestamp=1428351094
      X-Cf-Requestid:
      - a0ad51c9-9f71-411d-6664-edff4a925d61
      X-Vcap-Request-Id:
      - f5d4910c-ffc0-4961-66e0-d329d9e54a5a::5863d28a-172e-467a-9149-166de88c5fb2
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 06 Apr 2015 20:11:34 GMT
- request:
    method: get
    uri: https://6d1af9602073498d9dc8150f076df6f3.10.244.0.34.xip.io/instance_paths/683c6b4f92834df4bc1e0f73417f369c?hmac=41d01ec65f5e5157ce8cf37077369c8a44a66b7abae0c1a966748fe1e4d9678ab2ded6ce59804b78082077dd9173974dd4b4e8a2f6c718264450bd60e7dfd7e3&path=logs&timestamp=1428351094
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - text/plain
      X-Cf-Requestid:
      - bc00dd44-4ff9-4f25-6dbb-274922be53b2
    body:
      encoding: UTF-8
      string: |
        staging_task.log                          1.3K
  recorded_at: Mon, 06 Apr 2015 20:11:34 GMT
recorded_with: VCR 2.9.3
