{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/04/28 12:39:46 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:44:52 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/paasal-test-app-min-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"29d7cd3d6fdee9f3dc77dcd7fa4dc2e7\""], "Last-Modified":["Tue, 28 Apr 2015 19:44:21 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2208"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"archived_at\":null,\"buildpack_provided_description\":\"Node.js\",\"build_stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"created_at\":\"2015-04-28T19:27:01Z\",\"id\":\"6481c716-edc6-47fd-b9a6-4fade8409e09\",\"git_url\":\"git@heroku.com:paasal-test-app-min-updated.git\",\"maintenance\":false,\"name\":\"paasal-test-app-min-updated\",\"owner\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"region\":{\"id\":\"59accabd-516d-4f0e-83e6-6e3757701145\",\"name\":\"us\"},\"released_at\":\"2015-04-28T19:39:45Z\",\"repo_size\":2703035,\"slug_size\":12570919,\"stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"updated_at\":\"2015-04-28T19:44:21Z\",\"web_url\":\"https://paasal-test-app-min-updated.herokuapp.com/\"}"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:44:53 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/6481c716-edc6-47fd-b9a6-4fade8409e09/dynos","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"d1421d64a0095baa15270aae73bea94f\""], "Last-Modified":["Tue, 28 Apr 2015 19:42:41 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2207"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"attach_url\":null,\"command\":\"node server.js\",\"created_at\":\"2015-04-28T19:42:41Z\",\"id\":\"c34fb1b8-d902-47fd-a4f5-5d794495cfac\",\"name\":\"web.1\",\"release\":{\"id\":\"b13f22b6-cb6c-4607-9758-f9804069097b\",\"version\":4},\"size\":\"1X\",\"state\":\"up\",\"type\":\"web\",\"updated_at\":\"2015-04-28T19:42:41Z\"}]"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:44:53 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/6481c716-edc6-47fd-b9a6-4fade8409e09/formation","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"29d7cd3d6fdee9f3dc77dcd7fa4dc2e7\""], "Last-Modified":["Tue, 28 Apr 2015 19:44:21 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2206"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"command\":\"node server.js\",\"created_at\":\"2015-04-28T19:39:45Z\",\"id\":\"36d954fa-a669-46ea-afdf-b2ce58346826\",\"type\":\"web\",\"quantity\":1,\"size\":\"1X\",\"updated_at\":\"2015-04-28T19:42:36Z\"}]"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:44:54 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/6481c716-edc6-47fd-b9a6-4fade8409e09/buildpack-installations","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["ordinal 0..0"], "Content-Type":["application/json"], "ETag":["\"87d7b85882f94ae872184eafce30ccd8\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2205"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"buildpack\":{\"url\":\"https://github.com/heroku/heroku-buildpack-nodejs\"},\"ordinal\":0}]"},"http_version":null},"recorded_at":"Tue, 28 Apr 2015 19:44:54 GMT"},{"request":{"method":"get","uri":"https://paasal-test-app-min-updated.herokuapp.com/","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["text/html; charset=utf-8"], "Etag":["\"-1541606901\""]},"body":{"encoding":"UTF-8","string":"<!DOCTYPE html>\n<html>\n  <head>\n    <title>Word Finder</title>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <script src=\"/public/jquery-1.8.0.js\"></script>\n    <link rel=\"stylesheet\" href=\"/public/bootstrap.css\" />\n    <script src=\"/public/bootstrap.js\"></script>\n    <link rel=\"stylesheet\" href=\"/public/app.css\" />\n  </head>\n  <body>\n    <div class=\"navbar navbar-inverse navbar-fixed-top\">\n      <div class=\"container\">\n        <div class=\"navbar-header\">\n          <button type=\"button\" class=\"navbar-toggle\" data-toggle=\"collapse\" data-target=\".navbar-collapse\">\n            <span class=\"icon-bar\"></span>\n            <span class=\"icon-bar\"></span>\n            <span class=\"icon-bar\"></span>\n          </button>\n          <a class=\"navbar-brand\" href=\"/\">Word Finder</a>\n        </div>\n        <div class=\"collapse navbar-collapse\">\n          <ul class=\"nav navbar-nav\">\n          </ul>\n        </div><!--/.nav-collapse -->\n      </div>\n    </div>\n\n    <div class=\"container\">\n      <div id=\"dashboard\">\n        <div class=\"row\">\n          <h3>Word Finder</h3>\n\n          <p>\n          I took every english word (over 200k words) and built a little app that will help you find words that contain specific characters.\n          </p>\n          <hr/>\n        </div>\n\n\n        <div class=\"row\">\n            <p>Enter a word, use _ and ? as needed (see instructions below)</p>\n          <form method=\"post\" action=\"search\">\n            \n              <input type=\"text\"\n                     class=\"col-md-12\"\n                     name=\"pattern\"\n                     placeholder=\"enter pattern and press\" />\n           \n          </form>\n        </div>\n        <hr/>\n\n\n\n\n          <div class=\"row\">\n            <h3>The underscore</h3>\n\n            <p>\n            Type a word into the text box with the following pattern:\n            </p>\n\n            <pre>\nhe__o\n            </pre>\n\n            <p>\n            And you'll get words such as:\n            </p>\n\n            <pre>\nhello\nhelio\n            </pre>\n          </div>\n\n          <div class=\"row\">\n            <h3>The question mark</h3>\n\n            <p>\n            This character is great for games like What's the Phrase (a knock off of Wheel of Fortune)\n            </p>\n\n            <p>\n            Type a word into the text box with the following pattern:\n            </[...]
[...]
