{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-06-27T10:01:17.145024\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:46:58 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties70","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties70"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"name\": \"paasaltestappallproperties70\", \"buildpack_url\": null, \"repository\": \"ssh://paasaltestappallproperties70@cloudcontrolled.com/repository.git\", \"type\": {\"name\": \"nodejs\"}, \"owner\": {\"username\": \"__cloudcontrol:username__\", \"first_name\": \"\", \"last_name\": \"\", \"email\": \"__cloudcontrol:user__\", \"is_active\": true, \"billing_without_payment_info\": false}, \"users\": [{\"username\": \"__cloudcontrol:username__\", \"email\": \"__cloudcontrol:user__\", \"role\": \"\"}], \"invitations\": [], \"date_created\": \"2015-06-27T09:39:44\", \"date_modified\": \"2015-06-27T09:39:44\", \"deployments\": [{\"name\": \"paasaltestappallproperties70/paasal\", \"dep_id\": \"depw4abttwv\"}]}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:46:58 GMT"},[...]
{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties70/deployment/paasal/log/access","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties70/deployment/paasal/log/access"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:46:59 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties70/deployment/paasal/log/error","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties70/deployment/paasal/log/error"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[{\"message\": \"Detected 512 MB available memory, 512 MB limit per process (WEB_MEMORY)\", \"time\": 1435398283.907378, \"type\": \"info\"}, {\"message\": \"Recommending WEB_CONCURRENCY=1\", \"time\": 1435398283.907401, \"type\": \"info\"}, {\"message\": \"Listening on IP: 0.0.0.0\", \"time\": 1435398284.286457, \"type\": \"info\"}, {\"message\": \"Listening on port: 22213\", \"time\": 1435398284.287979, \"type\": \"info\"}, {\"message\": \"***** Deployed 0f0ab9fd5a4120fe1d2cb3a948be73f9b0bf6ec1 *****\", \"time\": 1435398285.931412, \"type\": \"INFO\"}]"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:46:59 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties70/deployment/paasal/log/deploy","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties70/deployment/paasal/log/deploy"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[{\"level\": \"INFO\", \"time\": 1435398011.933769, \"message\": \"Initialized deployment depw4abttwv\", \"depl_id\": \"depw4abttwv\", \"hostname\": \"repo-1\"}, {\"level\": \"INFO\", \"time\": 1435398281.644661, \"message\": \"Deploying ...\", \"depl_id\": \"depw4abttwv\", \"hostname\": \"lxc-live-9peblu\"}, {\"level\": \"INFO\", \"time\": 1435398285.931208, \"message\": \"Deployed version: 0f0ab9fd5a4120fe1d2cb3a948be73f9b0bf6ec1\", \"depl_id\": \"depw4abttwv\", \"hostname\": \"lxc-live-9peblu\"}, {\"level\": \"INFO\", \"time\": 1435398286.089482, \"message\": \"Routing requests to new version\", \"depl_id\": \"depw4abttwv\", \"hostname\"[...]
{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties70/deployment/paasal/log/worker","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties70/deployment/paasal/log/worker"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:47:00 GMT"},[...]
{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties70/deployment/paasal/log/worker","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties70/deployment/paasal/log/worker"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:47:09 GMT"}],"recorded_with":"VCR 2.9.3"}