{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-07-28T11:34:35.729097\"}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 11:19:35 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties87","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties87"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"name\": \"paasaltestappallproperties87\", \"buildpack_url\": null, \"repository\": \"ssh://paasaltestappallproperties87@cloudcontrolled.com/repository.git\", \"type\": {\"name\": \"nodejs\"}, \"owner\": {\"username\": \"__cloudcontrol:username__\", \"first_name\": \"\", \"last_name\": \"\", \"email\": \"__cloudcontrol:user__\", \"is_active\": true, \"billing_without_payment_info\": false}, \"users\": [{\"username\": \"__cloudcontrol:username__\", \"email\": \"__cloudcontrol:user__\", \"role\": \"\"}], \"invitations\": [], \"date_created\": \"2015-07-28T11:13:19\", \"date_modified\": \"2015-07-28T11:13:19\", \"deployments\": [{\"name\": \"paasaltestappallproperties87/paasal\", \"dep_id\": \"dep9498wapb\"}]}"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 11:19:36 GMT"},[...]
{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties87/deployment/paasal/log/access","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties87/deployment/paasal/log/access"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 11:19:36 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties87/deployment/paasal/log/error","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties87/deployment/paasal/log/error"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[{\"type\": \"info\", \"message\": \"Listening on IP: 0.0.0.0\", \"time\": 1438082280.958966}, {\"type\": \"info\", \"message\": \"Listening on port: 25354\", \"time\": 1438082280.959551}, {\"type\": \"INFO\", \"message\": \"***** Deployed 985966283ff8c1d47aab432d03d00bae9c8ed55b *****\", \"time\": 1438082282.600281}]"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 11:19:37 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties87/deployment/paasal/log/deploy","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties87/deployment/paasal/log/deploy"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[{\"depl_id\": \"dep9498wapb\", \"message\": \"Initialized deployment dep9498wapb\", \"hostname\": \"repo-live-f6nde9\", \"time\": 1438082004.466939, \"level\": \"INFO\"}, {\"depl_id\": \"dep9498wapb\", \"message\": \"Deploying ...\", \"hostname\": \"lxc-live-f9ykrv\", \"time\": 1438082278.688255, \"level\": \"INFO\"}, {\"depl_id\": \"dep9498wapb\", \"message\": \"Deployed version: 985966283ff8c1d47aab432d03d00bae9c8ed55b\", \"hostname\": \"lxc-live-f9ykrv\", \"time\": 1438082282.600058, \"level\": \"INFO\"}, {\"depl_id\": \"dep9498wapb\", \"message\": \"Routing requests to new version\", \"hostname\": \"ngx-live-c6hdpr\", \"time\": 1438082282.802048, [...]
{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties87/deployment/paasal/log/worker","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties87/deployment/paasal/log/worker"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 11:19:37 GMT"},[...]
{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties87/deployment/paasal/log/worker","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties87/deployment/paasal/log/worker"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Tue, 28 Jul 2015 11:19:44 GMT"}],"recorded_with":"VCR 2.9.3"}