{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-10-23T09:31:51.781764\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 09:17:07 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/nucleusappallproperties2","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/nucleusappallproperties2"], "X-varnish-cache":["MISS"]},"body":{"encoding":"CP850","string":"{\"name\": \"nucleusappallproperties2\", \"buildpack_url\": null, \"repository\": \"ssh://nucleusappallproperties2@cloudcontrolled.com/repository.git\", \"type\": {\"name\": \"nodejs\"}, \"owner\": {\"username\": \"uniba\", \"first_name\": \"\", \"last_name\": \"\", \"email\": \"__cloudcontrol:user__\", \"is_active\": true, \"billing_without_payment_info\": false}, \"users\": [{\"username\": \"uniba\", \"email\": \"__cloudcontrol:user__\", \"role\": \"\"}], \"invitations\": [], \"date_created\": \"2015-10-23T09:08:15\", \"date_modified\": \"2015-10-23T09:08:15\", \"deployments\": [{\"name\": \"nucleusappallproperties2/nucleus\", \"dep_id\": \"depm5y3dy4k\"}]}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 09:17:07 GMT"},[...]
{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/nucleusappallproperties2/deployment/nucleus/log/access","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/nucleusappallproperties2/deployment/nucleus/log/access"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 09:17:08 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/nucleusappallproperties2/deployment/nucleus/log/error","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/nucleusappallproperties2/deployment/nucleus/log/error"], "X-varnish-cache":["MISS"]},"body":{"encoding":"CP850","string":"[{\"time\": 1445591596.738576, \"type\": \"info\", \"message\": \"Listening on IP: 0.0.0.0\"}, {\"time\": 1445591596.739163, \"type\": \"info\", \"message\": \"Listening on port: 17784\"}, {\"time\": 1445591597.37447, \"type\": \"INFO\", \"message\": \"***** Deployed b6b75520eb2ea08f08c318209b92cab3ba04b1de *****\"}]"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 09:17:08 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/nucleusappallproperties2/deployment/nucleus/log/deploy","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/nucleusappallproperties2/deployment/nucleus/log/deploy"], "X-varnish-cache":["MISS"]},"body":{"encoding":"CP850","string":"[{\"level\": \"INFO\", \"message\": \"Initialized deployment depm5y3dy4k\", \"hostname\": \"repo-live-f6nde9\", \"depl_id\": \"depm5y3dy4k\", \"time\": 1445591301.350262}, {\"level\": \"INFO\", \"message\": \"Deploying ...\", \"hostname\": \"lxc-live-tk64j8\", \"depl_id\": \"depm5y3dy4k\", \"time\": 1445591594.475676}, {\"level\": \"INFO\", \"message\": \"Deployed version: b6b75520eb2ea08f08c318209b92cab3ba04b1de\", \"hostname\": \"lxc-live-tk64j8\", \"depl_id\": \"depm5y3dy4k\", \"time\": 1445591597.374263}, {\"level\": \"INFO\", \"message\": \"Routing requests to new version\", \"hostname\": \"lb-live-egdk5x\", \"d[...]
{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/nucleusappallproperties2/deployment/nucleus/log/worker","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/nucleusappallproperties2/deployment/nucleus/log/worker"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 09:17:09 GMT"},[...]
{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/nucleusappallproperties2/deployment/nucleus/log/worker","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/nucleusappallproperties2/deployment/nucleus/log/worker"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 09:17:15 GMT"}],"recorded_with":"VCR 2.9.3"}