{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-05-14T06:43:50.742522\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:28:50 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties62","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties62"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"name\": \"paasaltestappallproperties62\", \"buildpack_url\": null, \"repository\": \"ssh://paasaltestappallproperties62@cloudcontrolled.com/repository.git\", \"type\": {\"name\": \"nodejs\"}, \"owner\": {\"username\": \"__cloudcontrol:username__\", \"first_name\": \"\", \"last_name\": \"\", \"email\": \"__cloudcontrol:user__\", \"is_active\": true, \"billing_without_payment_info\": false}, \"users\": [{\"username\": \"__cloudcontrol:username__\", \"email\": \"__cloudcontrol:user__\", \"role\": \"\"}], \"invitations\": [], \"date_created\": \"2015-05-14T06:21:18\", \"date_modified\": \"2015-05-14T06:21:18\", \"deployments\": [{\"name\": \"paasaltestappallproperties62/paasal\", \"dep_id\": \"depfc24r2a6\"}]}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:28:51 GMT"},[...]
{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties62/deployment/paasal/log/access","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties62/deployment/paasal/log/access"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:28:52 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties62/deployment/paasal/log/error","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties62/deployment/paasal/log/error"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[{\"time\": 1431584822.992631, \"message\": \"Listening on IP: 0.0.0.0\", \"type\": \"info\"}, {\"time\": 1431584822.99323, \"message\": \"Listening on port: 28719\", \"type\": \"info\"}, {\"time\": 1431584824.372893, \"message\": \"***** Deployed 770b5647f68f07bbd31f6154ee338a2a9d892ab2 *****\", \"type\": \"INFO\"}]"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:28:52 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties62/deployment/paasal/log/deploy","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties62/deployment/paasal/log/deploy"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[{\"level\": \"INFO\", \"time\": 1431584511.581547, \"depl_id\": \"depfc24r2a6\", \"message\": \"Initialized deployment depfc24r2a6\", \"hostname\": \"repo-1\"}, {\"level\": \"INFO\", \"depl_id\": \"depfc24r2a6\", \"time\": 1431584819.403647, \"message\": \"Deploying ...\", \"hostname\": \"lxc-live-ecdmnr\"}, {\"level\": \"INFO\", \"depl_id\": \"depfc24r2a6\", \"time\": 1431584824.37259, \"message\": \"Deployed version: 770b5647f68f07bbd31f6154ee338a2a9d892ab2\", \"hostname\": \"lxc-live-ecdmnr\"}, {\"level\": \"INFO\", \"depl_id\": \"depfc24r2a6\", \"time\": 1431584824.560745, \"message\": \"Routing requests to new version\", \"hostname\":[...]
{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties62/deployment/paasal/log/worker","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties62/deployment/paasal/log/worker"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:28:53 GMT"},[...]
{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties62/deployment/paasal/log/worker","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties62/deployment/paasal/log/worker"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:29:05 GMT"}],"recorded_with":"VCR 2.9.3"}