{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-06-20T10:16:41.498922\"}"},"http_version":null},"recorded_at":"Sat, 20 Jun 2015 10:01:49 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties69","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties69"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"name\": \"paasaltestappallproperties69\", \"buildpack_url\": null, \"repository\": \"ssh://paasaltestappallproperties69@cloudcontrolled.com/repository.git\", \"type\": {\"name\": \"nodejs\"}, \"owner\": {\"username\": \"__cloudcontrol:username__\", \"first_name\": \"\", \"last_name\": \"\", \"email\": \"__cloudcontrol:user__\", \"is_active\": true, \"billing_without_payment_info\": false}, \"users\": [{\"username\": \"__cloudcontrol:username__\", \"email\": \"__cloudcontrol:user__\", \"role\": \"\"}], \"invitations\": [], \"date_created\": \"2015-06-20T09:53:26\", \"date_modified\": \"2015-06-20T09:53:26\", \"deployments\": [{\"name\": \"paasaltestappallproperties69/paasal\", \"dep_id\": \"depundfuet4\"}]}"},"http_version":null},"recorded_at":"Sat, 20 Jun 2015 10:01:50 GMT"},[...]
{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties69/deployment/paasal/log/access","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties69/deployment/paasal/log/access"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Sat, 20 Jun 2015 10:01:50 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties69/deployment/paasal/log/error","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties69/deployment/paasal/log/error"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[{\"message\": \"Detected 512 MB available memory, 512 MB limit per process (WEB_MEMORY)\", \"time\": 1434794441.361286, \"type\": \"info\"}, {\"message\": \"Recommending WEB_CONCURRENCY=1\", \"time\": 1434794441.361333, \"type\": \"info\"}, {\"message\": \"Listening on IP: 0.0.0.0\", \"time\": 1434794441.736212, \"type\": \"info\"}, {\"message\": \"Listening on port: 11607\", \"time\": 1434794441.736968, \"type\": \"info\"}, {\"message\": \"***** Deployed 9a07122bce29bbb8713dd30c1959ee5040a3e465 *****\", \"time\": 1434794443.380467, \"type\": \"INFO\"}]"},"http_version":null},"recorded_at":"Sat, 20 Jun 2015 10:01:51 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties69/deployment/paasal/log/deploy","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties69/deployment/paasal/log/deploy"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[{\"message\": \"Initialized deployment depundfuet4\", \"hostname\": \"repo-1\", \"depl_id\": \"depundfuet4\", \"level\": \"INFO\", \"time\": 1434794036.45661}, {\"message\": \"Deploying ...\", \"hostname\": \"lxc-live-1bjazj\", \"depl_id\": \"depundfuet4\", \"level\": \"INFO\", \"time\": 1434794439.418824}, {\"message\": \"Deployed version: 9a07122bce29bbb8713dd30c1959ee5040a3e465\", \"hostname\": \"lxc-live-1bjazj\", \"depl_id\": \"depundfuet4\", \"level\": \"INFO\", \"time\": 1434794443.380257}, {\"message\": \"Routing requests to new version\", \"hostname\": \"lb-live-fzgtjt\", \"depl_id\": \"depundfuet4\", \"[...]
{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties69/deployment/paasal/log/worker","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties69/deployment/paasal/log/worker"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Sat, 20 Jun 2015 10:01:51 GMT"},[...]
{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties69/deployment/paasal/log/worker","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties69/deployment/paasal/log/worker"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Sat, 20 Jun 2015 10:01:59 GMT"}],"recorded_with":"VCR 2.9.3"}