---
http_interactions:
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 9b1a7aca-94e7-4dc0-671e-544a1dd3b4f2
      X-Vcap-Request-Id:
      - 0dd3a281-20ee-4eb5-5f7c-5565e8015e6a::55e767c4-feab-4816-a750-5eaa5e5502d5
    body:
      encoding: US-ASCII
      string: ! '{"name":"vcap","build":"2222","support":"http://support.cloudfoundry.com","version":2,"description":"Cloud
        Foundry sponsored by Pivotal","authorization_endpoint":"http://login.10.244.0.34.xip.io","token_endpoint":"https://uaa.10.244.0.34.xip.io","api_version":"2.18.0","logging_endpoint":"wss://loggregator.10.244.0.34.xip.io:443"}'
  recorded_at: Wed, 25 Mar 2015 16:22:36 GMT
- request:
    method: post
    uri: http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Cf-Requestid:
      - f70d1526-23f5-4c05-548d-f7ce17475c8e, 8c45be9d-7352-4718-65f3-8dda0e69e633
    body:
      encoding: US-ASCII
      string: ! '{"access_token":"__ACCESS_TOKEN__","token_type":"bearer","refresh_token":"__REFRESH_TOKEN__","expires_in":599,"scope":"scim.userids
        cloud_controller.write password.write openid cloud_controller.read","jti":"7b07f66a-0844-464c-8fd7-5c92bc608b33"}'
  recorded_at: Wed, 25 Mar 2015 16:22:36 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/spaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 8f359fec-0b6c-404a-75b8-b21428d13aaf
      X-Vcap-Request-Id:
      - 99f286ae-f65d-4c56-48bd-161600b0a122::a47e83b8-e684-4b41-9ae4-049caec62ca6
    body:
      encoding: US-ASCII
      string: ! "{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\":
        null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\":
        {\n        \"guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"url\":
        \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"created_at\":
        \"2015-03-19T07:21:47+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\":
        {\n        \"name\": \"development\",\n        \"organization_guid\": \"d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n
        \       \"space_quota_definition_guid\": null,\n        \"organization_url\":
        \"/v2/organizations/d94caddf-45be-4c92-bb2d-62d3a65cbec0\",\n        \"developers_url\":
        \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/developers\",\n        \"managers_url\":
        \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/managers\",\n        \"auditors_url\":
        \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/auditors\",\n        \"apps_url\":
        \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/apps\",\n        \"routes_url\":
        \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/routes\",\n        \"domains_url\":
        \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/domains\",\n        \"service_instances_url\":
        \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/service_instances\",\n        \"app_events_url\":
        \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/app_events\",\n        \"events_url\":
        \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/events\",\n        \"security_groups_url\":
        \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940/security_groups\"\n      }\n
        \   }\n  ]\n}"
  recorded_at: Wed, 25 Mar 2015 16:22:36 GMT
- request:
    method: post
    uri: https://api.10.244.0.34.xip.io/v2/apps
    body:
      encoding: UTF-8
      string: ! '{"space_guid":"d3483f4f-6706-4fe1-ad90-1bd45d50e940","name":"paasal-test-app-min-properties","memory":256,"buildpack":"java_buildpack"}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - /v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7
      X-Cf-Requestid:
      - 91b90f98-9627-4204-6df1-e6d6b23358ee
      X-Vcap-Request-Id:
      - 36a53df7-4a2a-4ed4-6301-e388e4884624::07a27657-611a-4d2e-9dd1-9bde4a1a76bf
    body:
      encoding: US-ASCII
      string: ! "{\n  \"metadata\": {\n    \"guid\": \"f377c6ab-239f-4290-a478-10e97fc601b7\",\n
        \   \"url\": \"/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7\",\n    \"created_at\":
        \"2015-03-25T16:22:36+00:00\",\n    \"updated_at\": null\n  },\n  \"entity\":
        {\n    \"name\": \"paasal-test-app-min-properties\",\n    \"production\":
        false,\n    \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n    \"stack_guid\":
        \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n    \"buildpack\": \"java_buildpack\",\n
        \   \"detected_buildpack\": null,\n    \"environment_json\": {\n\n    },\n
        \   \"memory\": 256,\n    \"instances\": 1,\n    \"disk_quota\": 1024,\n    \"state\":
        \"STOPPED\",\n    \"version\": \"ae31c94f-8e6b-475c-adb3-2061cd0eedef\",\n
        \   \"command\": null,\n    \"console\": false,\n    \"debug\": null,\n    \"staging_task_id\":
        null,\n    \"package_state\": \"PENDING\",\n    \"health_check_timeout\":
        null,\n    \"staging_failed_reason\": null,\n    \"docker_image\": null,\n
        \   \"package_updated_at\": null,\n    \"detected_start_command\": \"\",\n
        \   \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n
        \   \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n
        \   \"events_url\": \"/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7/events\",\n
        \   \"service_bindings_url\": \"/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7/service_bindings\",\n
        \   \"routes_url\": \"/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7/routes\"\n
        \ }\n}"
  recorded_at: Wed, 25 Mar 2015 16:22:36 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/private_domains
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 822b7138-76db-4d75-618e-fe849583d24f
      X-Vcap-Request-Id:
      - 918ba588-7b96-4e2c-61ba-361c721f323c::83886af6-ca2f-49f3-bfaa-351418f461fa
    body:
      encoding: US-ASCII
      string: ! "{\n  \"total_results\": 0,\n  \"total_pages\": 1,\n  \"prev_url\":
        null,\n  \"next_url\": null,\n  \"resources\": [\n\n  ]\n}"
  recorded_at: Wed, 25 Mar 2015 16:22:36 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/shared_domains
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - da0c04c8-9ff0-4ad1-6312-02f9d12b6356
      X-Vcap-Request-Id:
      - e3526d76-a26b-4c47-4a6c-cd955b3518b8::35a5d22b-6863-4372-8683-3bec56102a6e
    body:
      encoding: US-ASCII
      string: ! "{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\":
        null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\":
        {\n        \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"url\":
        \"/v2/shared_domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"created_at\":
        \"2014-12-05T16:23:46+00:00\",\n        \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n
        \     },\n      \"entity\": {\n        \"name\": \"10.244.0.34.xip.io\"\n
        \     }\n    }\n  ]\n}"
  recorded_at: Wed, 25 Mar 2015 16:22:36 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - c7b6e926-2f40-435e-58ac-f7f7a1d9fa32
      X-Vcap-Request-Id:
      - 51dde62f-aa34-43ea-6679-d0886be5d988::9ba19b60-59ae-4442-9cec-ce5215f2b89b
    body:
      encoding: US-ASCII
      string: ! "{\n  \"total_results\": 67,\n  \"total_pages\": 2,\n  \"prev_url\":
        null,\n  \"next_url\": \"/v2/routes?order-direction=asc&page=2&results-per-page=50\",\n
        \ \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"4ee1f0e2-eb11-4baf-83bb-9101a29aed92\",\n
        \       \"url\": \"/v2/routes/4ee1f0e2-eb11-4baf-83bb-9101a29aed92\",\n        \"created_at\":
        \"2015-03-25T14:01:48+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\":
        {\n        \"host\": \"e1589864-81d4-4e53-9864-8a88446c718a\",\n        \"domain_guid\":
        \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n
        \       \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n
        \       \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n
        \       \"apps_url\": \"/v2/routes/4ee1f0e2-eb11-4baf-83bb-9101a29aed92/apps\"\n
        \     }\n    },\n    {\n      \"metadata\": {\n        \"guid\": \"a8280d16-c5a4-445e-9f37-e2a8a721f773\",\n
        \       \"url\": \"/v2/routes/a8280d16-c5a4-445e-9f37-e2a8a721f773\",\n        \"created_at\":
        \"2015-03-25T14:01:49+00:00\",\n        [...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/spaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 661d3b12-8e5d-4bed-4c28-ef4d3d6fddf3
      X-Vcap-Request-Id:
      - a628e8a8-1bbc-4a3e-7807-97100feb2574::79244f21-649b-40a6-b0d3-fb925dc47742
    body:
      encoding: US-ASCII
      string: ! "{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\":
        null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\":
        {\n        \"guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"url\":
        \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"created_at\":
        \"2015-03-19T07:21:47+00:00\",\n        \"updated_at\": null\n      },\n   [...]
[...]
- request:
    method: put
    uri: https://api.10.244.0.34.xip.io/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7/routes/eb85a060-81dc-48b4-9ff4-6f3638963464
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 763[...]
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - f1dd9eea-e548-4bd6-4359-c775d6f871a2
      X-Vc[...]
- request:
    method: head
    uri: https://api.10.244.0.34.xip.io/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7/download
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 33b4649f-740b-459b-7236-7c4e800a4f64
      X-Vcap-Request-Id:
      - fd62fd95-2757-4c5b-701b-4fd01c67f820::eae735fb-3742-4b07-a176-c5858a8992a1
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Wed, 25 Mar 2015 16:22:37 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/apps/f377c6ab-239f-4290-a478-10e97fc601b7/routes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 6a70142b-56be-45d9-5e99-28e72e5c2f75
      X-Vcap-Request-Id:
      - e97cce51-9244-4d07-6705-810241ef54e1::6c0a138a-a750-4573-9092-6c9eb1f88076
    body:
      encoding: US-ASCII
      string: ! "{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\":
        null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\":
        {\n        \"guid\": \"eb85a060-81dc-48b4-9ff4-6f3638963464\",\n        \"url\":
        \"/v2/routes/eb85a060-81dc-48b4-9ff4-6f3638963464\",\n        \"created_at\":
        \"2015-03-25T16:22:36+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\":
        {\n        \"host\": \"f377c6ab-239f-4290-a478-10e97fc601b7\",\n        \"domain_guid\":
        \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n
        \       \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n
        \       \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n
        \       \"apps_url\": \"/v2/routes/eb85a060-81dc-48b4-9ff4-6f3638963464/apps\"\n
        \     }\n    }\n  ]\n}"
  recorded_at: Wed, 25 Mar 2015 16:22:37 GMT
- request:
    method: get
    uri: https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Basic:
      - Y2Y6
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cf-Requestid:
      - 6a69568e-4dd0-4f92-422a-ef4475fca0ec
      X-Cf-Warnings:
      - Endpoint+deprecated
      X-Vcap-Request-Id:
      - 4bf89d3e-5fe3-4468-6305-bdbedcde800f::d23dd6d1-cb9c-45c3-b2d9-05841059ad5e
    body:
      encoding: US-ASCII
      string: ! "{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n
        \   \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\":
        \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n
        \ },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"
  recorded_at: Wed, 25 Mar 2015 16:22:37 GMT
recorded_with: VCR 2.9.3
