{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-04-24T08:42:44.018590\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:27:44 GMT"},{"request":{"method":"post","uri":"https://api.cloudcontrol.com/app","body":{"encoding":"UTF-8","string":"{\"repository_type\":\"git\",\"name\":\"paasaltestappallproperties35\",\"autoscaled\":false,\"type\":\"nodejs\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"name\": \"paasaltestappallproperties35\", \"buildpack_url\": null, \"repository\": \"ssh://paasaltestappallproperties35@cloudcontrolled.com/repository.git\", \"type\": {\"name\": \"nodejs\"}, \"owner\": {\"username\": \"__cloudcontrol:username__\", \"first_name\": \"\", \"last_name\": \"\", \"email\": \"__cloudcontrol:user__\", \"is_active\": true, \"billing_without_payment_info\": false}, \"users\": [{\"username\": \"__cloudcontrol:username__\", \"email\": \"__cloudcontrol:user__\", \"role\": \"\"}], \"invitations\": [], \"date_created\": \"2015-04-24T08:27:44.736920\", \"date_modified\": \"2015-04-24T08:27:44.739005\", \"deployments\": []}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:27:45 GMT"},{"request":{"method":"post","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties35/deployment","body":{"encoding":"UTF-8","string":"{\"name\":\"paasal\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties35/deployment"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"name\": \"paasaltestappallproperties35/paasal\", \"stack\": {\"name\": \"pinky\"}, \"dep_id\": \"depeah4tcva\", \"branch\": \"ssh://paasaltestappallproperties35@cloudcontrolled.com/repository.git\", \"users\": [], \"static_files\": \"(removed)\", \"billing_account\": null, \"version\": \"-1\", \"state\": \"not deployed\", \"date_created\": \"2015-04-24T08:27:45.712724\", \"date_modified\": \"2015-04-24T08:27:45.712753\", \"is_default\": false, \"default_subdomain\": \"paasal-paasaltestappallproperties35.cloudcontrolled.com\", \"min_boxes\": 1, \"max_boxes\": 1, \"billed_boxes\": {\"costs\": 0.0, \"boxes\": 0.0, \"free_boxes\": 0.0, \"until\": 1429864066}, \"billed_addons\": []}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:27:46 GMT"},{"request":{"method":"post","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties35/deployment/paasal/addon","body":{"encoding":"UTF-8","string":"{\"addon\":\"config.free\",\"options\":\"{\\\"paasal-initialized\\\": \\\"true\\\"}\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties35/deployment/paasal/addon"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"addon_option\": {\"name\": \"config.free\"}, \"settings\": {\"CONFIG_VARS\": {\"paasal-initialized\": \"true\"}}}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:27:47 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties35/deployment/paasal/addon/config.free","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, PUT, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties35/deployment/paasal/addon/config.free"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"addon_option\": {\"name\": \"config.free\"}, \"settings\": {\"CONFIG_VARS\": {\"paasal-initialized\": \"true\"}}}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:27:48 GMT"},{"request":{"method":"put","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties35/deployment/paasal/addon/config.free","body":{"encoding":"UTF-8","string":"{\"addon\":\"config.free\",\"settings\":\"{\\\"paasal-initialized\\\":null}\",\"force\":true}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, PUT, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties35/deployment/paasal/addon/config.free"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"addon_option\": {\"name\": \"config.free\"}, \"settings\": {\"CONFIG_VARS\": {}}}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:27:48 GMT"}],"recorded_with":"VCR 2.9.3"}