{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-10-23T09:38:19.917678\"}"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 09:23:35 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/nucleusappminproperties2/deployment","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/nucleusappminproperties2/deployment"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[{\"name\": \"nucleusappminproperties2/nucleus\", \"dep_id\": \"depgc8b9p5j\"}]"},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 09:23:35 GMT"},{"request":{"method":"delete","uri":"https://api.cloudcontrol.com/app/nucleusappminproperties2/deployment/nucleus","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":204,"message":null},"headers":{"Allow":["GET, POST, PUT, DELETE, HEAD, OPTIONS"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/nucleusappminproperties2/deployment/nucleus"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 09:23:36 GMT"},{"request":{"method":"delete","uri":"https://api.cloudcontrol.com/app/nucleusappminproperties2","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":204,"message":null},"headers":{"Allow":["GET, POST, DELETE, HEAD, OPTIONS"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/nucleusappminproperties2"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Fri, 23 Oct 2015 09:23:37 GMT"}],"recorded_with":"VCR 2.9.3"}