---
http_interactions:
- request:
    method: post
    uri: https://api.cloudcontrol.com/token
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - POST, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/token"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"token": "__TOKEN__", "expires": "2015-04-08T18:09:17.041700"}'
  recorded_at: Wed, 08 Apr 2015 17:54:17 GMT
- request:
    method: post
    uri: https://api.cloudcontrol.com/app
    body:
      encoding: UTF-8
      string: '{"repository_type":"git","name":"paasaltestappallproperties13","autoscaled":false,"type":"nodejs"}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/app"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"name": "paasaltestappallproperties13", "buildpack_url": null, "repository":
        "ssh://paasaltestappallproperties13@cloudcontrolled.com/repository.git", "type":
        {"name": "nodejs"}, "owner": {"username": "__cloudcontrol:username__", "first_name":
        "", "last_name": "", "email": "__cloudcontrol:user__", "is_active": true,
        "billing_without_payment_info": false}, "users": [{"username": "__cloudcontrol:username__",
        "email": "__cloudcontrol:user__", "role": ""}], "invitations": [], "date_created":
        "2015-04-08T17:54:17.634101", "date_modified": "2015-04-08T17:54:17.636398",
        "deployments": []}'
  recorded_at: Wed, 08 Apr 2015 17:54:18 GMT
- request:
    method: post
    uri: https://api.cloudcontrol.com/app/paasaltestappallproperties13/deployment
    body:
      encoding: UTF-8
      string: '{"name":"paasal"}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/app/paasaltestappallproperties13/deployment"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"name": "paasaltestappallproperties13/paasal", "stack": {"name": "pinky"},
        "dep_id": "dep5r8zdn7j", "branch": "ssh://paasaltestappallproperties13@cloudcontrolled.com/repository.git",
        "users": [], "static_files": "(removed)", "billing_account": null, "version":
        "-1", "state": "not deployed", "date_created": "2015-04-08T17:54:18.569113",
        "date_modified": "2015-04-08T17:54:18.569134", "is_default": false, "default_subdomain":
        "paasal-paasaltestappallproperties13.cloudcontrolled.com", "min_boxes": 1,
        "max_boxes": 1, "billed_boxes": {"boxes": 0.0, "free_boxes": 0.0, "until":
        1428515659, "costs": 0.0}, "billed_addons": []}'
  recorded_at: Wed, 08 Apr 2015 17:54:19 GMT
- request:
    method: post
    uri: https://api.cloudcontrol.com/app/paasaltestappallproperties13/deployment/paasal/addon
    body:
      encoding: UTF-8
      string: '{"addon":"config.free","options":"{\"paasal-initialized\": \"true\"}"}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/app/paasaltestappallproperties13/deployment/paasal/addon"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"addon_option": {"name": "config.free"}, "settings": {"CONFIG_VARS":
        {"paasal-initialized": "true"}}}'
  recorded_at: Wed, 08 Apr 2015 17:54:20 GMT
- request:
    method: get
    uri: https://api.cloudcontrol.com/app/paasaltestappallproperties13/deployment/paasal/addon/config.free
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - GET, POST, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/app/paasaltestappallproperties13/deployment/paasal/addon/config.free"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"addon_option": {"name": "config.free"}, "settings": {"CONFIG_VARS":
        {"paasal-initialized": "true"}}}'
  recorded_at: Wed, 08 Apr 2015 17:54:20 GMT
- request:
    method: put
    uri: https://api.cloudcontrol.com/app/paasaltestappallproperties13/deployment/paasal/addon/config.free
    body:
      encoding: UTF-8
      string: '{"addon":"config.free","settings":"{\"paasal-initialized\":null}","force":true}'
    headers:
      Authorization:
      - __AUTHORIZATION__
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      Allow:
      - GET, POST, PUT, DELETE, HEAD, OPTIONS
      Content-Type:
      - application/json
      x-host:
      - api.cloudcontrol.com
      x-url:
      - "/app/paasaltestappallproperties13/deployment/paasal/addon/config.free"
      X-varnish-cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"addon_option": {"name": "config.free"}, "settings": {"CONFIG_VARS":
        {}}}'
  recorded_at: Wed, 08 Apr 2015 17:54:21 GMT
recorded_with: VCR 2.9.3
