{"http_interactions":[{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/user","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"9cce4cd6d7387a6cf19e8684074bfc6b\""], "ProxyTime":["D=646116"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["__openshift-online:id__"]},"body":{"encoding":"UTF-8","string":"{\"api_version\":1.7,\"data\":{\"capabilities\":{\"subaccounts\":false,\"gear_sizes\":[\"small\"],\"plan_upgrade_enabled\":true,\"view_global_teams\":false},\"consumed_gears\":3,\"created_at\":\"2014-10-09T06:16:06Z\",\"currency_cd\":null,\"email\":\"__openshift-online:user__\",\"id\":\"__openshift-online:id__\",\"links\":{\"ADD_KEY\":{\"href\":\"https://openshift.redhat.com/broker/rest/user/keys\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Add new SSH key\",\"required_params\":[{\"description\":\"Name of the key\",\"invalid_options\":[],\"name\":\"name\",\"type\":\"string\",\"valid_options\":[]},{\"description\":\"Type of Key\",\"invalid_options\":[],\"name\":\"type\",\"type\":\"string\",\"valid_options\":[\"ssh-rsa\",\"ssh-dss\",\"ssh-rsa-cert-v01@openssh.com\",\"ssh-dss-cert-v01@openssh.com\",\"ssh-rsa-cert-v00@openssh.com\",\"ssh-dss-cert-v00@openssh.com\"]},{\"description\":\"The key portion of an ssh key (excluding key type and comment)\",\"invalid_options\":[],\"name\":\"content\",\"type\":\"string\",\"valid_options\":[]}]},\"LIST_KEYS\":{\"href\":\"https://openshift.redhat.com/broker/rest/user/keys\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"List SSH keys\",\"required_params\":[]}},\"login\":\"__openshift-online:user__\",\"max_domains\":1,\"max_gears\":3,\"max_teams\":0,\"plan_expiration_date\":null,\"plan_id\":\"free\",\"plan_quantity\":1,\"plan_state\":\"ACTIVE\",\"usage_account_id\":null,\"usage_rates\":{\"prepaid\":false}},\"messages\":[],\"status\":\"ok\",\"supported_api_versions\":[1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7],\"type\":\"user\",\"version\":\"1.7\"}"},"http_version":null},"recorded_at":"Sat, 20 Jun 2015 09:04:17 GMT"},{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/domains","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"78ee1f4b4be431697d6b73a099782421\""], "ProxyTime":["D=737307"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["__openshift-online:id__"]},"body":{"encoding":"UTF-8","string":"{\"api_version\":1.7,\"data\":[{\"allowed_gear_sizes\":[\"small\"],\"available_gears\":0,\"creation_time\":\"2014-10-09T06:18:53Z\",\"id\":\"543628cd4382ecf496000284\",\"links\":{\"GET\":{\"href\":\"https://openshift.redhat.com/broker/rest/domain/roecky\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"Get domain\",\"required_params\":[]},\"ADD_APPLICATION\":{\"href\":\"https://openshift.redhat.com/broker/rest/domain/roecky/applications\",\"method\":\"POST\",\"optional_params\":[{\"default_value\":null,\"description\":\"Array of one or more cartridge names\",\"name\":\"cartridges\",\"type\":\"array\",\"valid_options\":[]},{\"default_value\":false,\"description\":\"Mark application as scalable\",\"name\":\"scale\",\"type\":\"boolean\",\"valid_options\":[true,false]},{\"default_value\":\"small\",\"description\":\"The size of the gear\",\"name\":\"gear_size\",\"type\":\"string\",\"valid_options\":[\"small\"]},{\"default_value\":null,\"description\":\"A URL to a Git source code repository tha[...]
{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/domains/roecky/applications/paasaltestappminproperties","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"7402726bc4bc5aa68637e86123831621\""], "ProxyTime":["D=755496"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["__openshift-online:id__"]},"body":{"encoding":"UTF-8","string":"{\"api_version\":1.7,\"data\":{\"aliases\":[],\"app_url\":\"http://paasaltestappminproperties-roecky.rhcloud.com/\",\"auto_deploy\":false,\"build_job_url\":null,\"building_app\":null,\"building_with\":null,\"creation_time\":\"2015-06-20T08:30:46Z\",\"deployment_branch\":\"master\",\"deployment_type\":\"git\",\"domain_id\":\"roecky\",\"embedded\":{\"haproxy-1.4\":{}},\"framework\":\"nodejs-0.10\",\"gear_count\":1,\"gear_profile\":\"small\",\"git_url\":\"ssh://558524b5500446e7c3000071@paasaltestappminproperties-roecky.rhcloud.com/~/git/paasaltestappminproperties.git/\",\"ha\":false,\"health_check_path\":\"health\",\"id\":\"558524b5500446e7c3000071\",\"initial_git_url\":null,\"keep_deployments\":2,\"links\":{\"GET\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/558524b5500446e7c3000071\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"Get application\",\"required_params\":[]},\"GET_DESCRIPTOR\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/558524b5500446e7c3000071/descriptor\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"Get application descriptor\",\"required_params\":[]},\"GET_GEAR_GROUPS\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/558524b5500446e7c3000071/gear_groups\",\"method\":\"GET\",\"optional_params\":[],\"rel\":\"Get application gear groups\",\"required_params\":[]},\"START\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/558524b5500446e7c3000071/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Start application\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"start\"]}]},\"STOP\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/558524b5500446e7c3000071/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Stop application\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"stop\"]}]},\"FORCE_STOP\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/558524b5500446e7c3000071/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Force stop application\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"force-stop\"]}]},\"RESTART\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/558524b5500446e7c3000071/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Restart application\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"restart\"]}]},\"SCALE_UP\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/558524b5500446e7c3000071/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Scale up application\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"scale-up\"]}]},\"SCALE_DOWN\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/558524b5500446e7c3000071/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Scale down application\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"scale-down\"]}]},\"TIDY\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/558524b5500446e7c3000071/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Tidy the application framework\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"tidy\"]}]},\"RELOAD\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/558524b5500446e7c3000071/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Reload the application\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"reload\"]}]},\"THREAD_DUMP\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/558524b5500446e7c3000071/events\",\"method\":\"POST\",\"optional_params\":[],\"rel\":\"Trigger thread dump\",\"required_params\":[{\"description\":\"event\",\"invalid_options\":[],\"name\":\"event\",\"type\":\"string\",\"valid_options\":[\"thread-dump\"]}]},\"ADD_CARTRIDGE\":{\"href\":\"https://openshift.redhat.com/broker/rest/application/558524b5500446e7c3000071/cartridges\",\"method\":\"POST\",\"optional_params\":[{\"default_value\":null,\"description\":\"The component to colocate with\",\"name\":\"colocate_with\",\"type\":\"string\",\"valid_options\":[\"haproxy-1.4\",\"nodejs-0.10\"]},{\"default_value\":null,\"description\":\"Minimum number of gears to run the component on.\",\"name\":\"scales_from\",\"type\":\"integer\",\"valid_options\":[]},{\"default_value\":n[...]
{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/application/558524b5500446e7c3000071","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"7402726bc4bc5aa68637e86123831621\""], "ProxyTime":["D=871124"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity[...]
{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/application/558524b5500446e7c3000071/deployments","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"507df8a34398c88a4a019e56ac7be677\""], "ProxyTime":["D=856997"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["__openshift-online:id__"]},"body":{"encoding":"UTF-8","string":"{\"api_version\":1.7,\"data\":[{\"activations\":[\"2015-06-20T08:34:26Z\"],\"created_at\":\"2015-06-20T08:30:56Z\",\"force_clean_build\":false,\"hot_deploy\":false,\"id\":\"bc281b48\",\"ref\":\"master\",\"sha1\":\"2811710\"},{\"activations\":[\"2015-06-20T08:50:34Z\",\"2015-06-20T08:56:42Z\"],\"created_at\":\"2015-06-20T08:48:51Z\",\"force_clean_build\":true,\"hot_deploy\":false,\"id\":\"3c41dd3f\",\"ref\":\"master\",\"sha1\":\"decdd14\"}],\"messages\":[{\"exit_code\":0,\"field\":null,\"index\":null,\"severity\":\"info\",\"text\":\"Listing deployments for application paasaltestappminproperties under domain roecky\"}],\"status\":\"ok\",\"supported_api_versions\":[1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7],\"type\":\"deployments\",\"version\":\"1.7\"}"},"http_version":null},"recorded_at":"Sat, 20 Jun 2015 09:04:23 GMT"},{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/application/558524b5500446e7c3000071/gear_groups","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"54b54900bd12dc6d3f55688279b40ed8\""], "ProxyTime":["D=805728"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["__openshift-online:id__"]},"body":{"encoding":"UTF-8","string":"{\"api_version\":1.7,\"data\":[{\"additional_gear_storage\":0,\"base_gear_storage\":1,\"cartridges\":[{\"name\":\"haproxy-1.4\",\"display_name\":\"Web Load Balancer\",\"tags\":[\"web_proxy\",\"scales\",\"embedded\"]},{\"name\":\"nodejs-0.10\",\"display_name\":\"Node.js 0.10\",\"tags\":[\"service\",\"javascript\",\"nodejs\",\"web_framework\"]}],\"gear_profile\":\"small\",\"gears\":[{\"id\":\"558524b5500446e7c3000071\",\"state\":\"started\",\"ssh_url\":\"ssh://558524b5500446e7c3000071@paasaltestappminproperties-roecky.rhcloud.com\",\"region\":\"aws-us-east-1\",\"zone\":\"aws-us-east-1c\"}],\"id\":\"558524b5500446e7c3000073\",\"name\":\"558524b5500446e7c3000073\",\"scales_from\":1,\"scales_to\":-1}],\"messages\":[{\"exit_code\":0,\"field\":null,\"index\":null,\"severity\":\"info\",\"text\":\"Showing gear groups for application 'paasaltestappminproperties' with domain 'roecky'\"},{\"exit_code\":0,\"field\":null,\"index\":null,\"severity\":\"result\",\"text\":\"started\\n\"}],\"status\":\"ok\",\"supported_api_versions\":[1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7],\"type\":\"gear_groups\",\"version\":\"1.7\"}"},"http_version":null},"recorded_at":"Sat, 20 Jun 2015 09:04:24 GMT"},[...]
{"request":{"method":"post","uri":"https://openshift.redhat.com/broker/rest/user/keys","body":{"encoding":"UTF-8","string":"{\"name\":\"paasal-2d931510-d99f-494a-8c67-000000000003\",\"type\":\"ssh-rsa\",\"content\":\"AAAAB3NzaC1yc2EAAAADAQABAAACAQDCHgNc4jRSbs6NRwAe4B+uWdmbVVOfOpaQqyq0Xkz28FUr+wg49f3iaUKWSnxJD+rMDdiKTjrM3NyXzW8WFDIT6c/g1Wk1/QOgIL1oly26IR4p0TBJRJrTZj3mrftfeTjln8AB71IcxupsLBGIy6oeWuoEK77WvuHuBKxsacpmfPCXheBKKe1Q354jgoR+P9r16iAOFzGNzfsz95D2dshTB1Pgq8r9KLH0HUWjemi0BqeMjHKtJTpVCw8wPBYlYLtBlg8to/KyiBC0vjNXTkvPZALW+FhHOzgX8QyjVlA7Y5RpHqmWc2lqs34KExr6ykoxY54dL2yvYWH50xF8dpyZF57udWdpknRGNSZfOKz0wRZ2oqR6p/TrkjVXFSjENy0LF7ni8Y6v2BXZ2YPhKRr8aDMaZVtzhbH7yeLSDoPnzptpJXXFyB9FZJodDopMQ7vB1sIM0X/RSgObdbxSJ3[...]
{"request":{"method":"delete","uri":"https://openshift.redhat.com/broker/rest/user/keys/paasal-2d931510-d99f-494a-8c67-000000000003","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":404,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ProxyTime":["D=885197"], "Status":["404"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["__openshift-online:id__"]},"body":{"encoding":"UTF-8","string":"{\"api_version\":1.7,\"data\":null,\"messages\":[{\"exit_code\":118,\"field\":null,\"index\":null,\"severity\":\"error\",\"text\":\"User ssh key 'paasal-2d931510-d99f-494a-8c67-000000000003' not found.\"}],\"status\":\"not_found\",\"supported_api_versions\":[1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7],\"type\":null,\"version\":\"1.7\"}"},"http_version":null},"recorded_at":"Sat, 20 Jun 2015 09:05:02 GMT"},[...]
{"request":{"method":"get","uri":"https://openshift.redhat.com/broker/rest/application/558524b5500446e7c3000071/deployments","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json; charset=utf-8"], "ETag":["\"ae3c4d8fd4264be740c9a3a53955acd5\""], "ProxyTime":["D=698143"], "Status":["200"], "X-OAuth-Scopes":["session"], "X-OpenShift-Identity":["__openshift-online:user__"], "X-OpenShift-Identity-Id":["__openshift-online:id__"]},"body":{"encoding":"UTF-8","string":"{\"api_version\":1.7,\"data\":[{\"activations\":[\"2015-06-20T08:50:34Z\",\"2015-06-20T08:56:42Z\"],\"created_at\":\"2015-06-20T08:48:51Z\",\"force_clean_build\":true,\"hot_deploy\":false,\"id\":\"3c41dd3f\",\"ref\":\"master\",\"sha1\":\"decdd14\"},{\"activations\":[\"2015-06-20T09:06:40Z\"],\"created_at\":\"2015-06-20T09:05:02Z\",\"force_clean_build\":true,\"hot_deploy\":false,\"id\":\"a58b0b06\",\"ref\":\"master\",\"sha1\":\"75733e4\"}],\"messages\":[{\"exit_code\":0,\"field\":null,\"index\":null,\"severity\":\"info\",\"text\":\"Listing deployments for application paasaltestappminproperties under domain roecky\"}],\"status\":\"ok\",\"supported_api_versions\":[1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7],\"type\":\"deployments\",\"version\":\"1.7\"}"},"http_version":null},"recorded_at":"Sat, 20 Jun 2015 09:06:59 GMT"}],"recorded_with":"VCR 2.9.3"}