{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-06-20T10:13:06.011738\"}"},"http_version":null},"recorded_at":"Sat, 20 Jun 2015 09:58:14 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties69/deployment/paasal/addon","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties69/deployment/paasal/addon"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[{\"addon_option\": {\"name\": \"alias.free\"}, \"settings\": {}}, {\"addon_option\": {\"name\": \"mysqls.free\"}, \"settings\": {\"MYSQLS_PORT\": 3306, \"MYSQLS_PASSWORD\": \"HQUDwK7D7qs_\", \"MYSQLS_USERNAME\": \"depundfuet4\", \"MYSQLS_DATABASE\": \"depundfuet4\", \"MYSQLS_HOSTNAME\": \"mysqlsdb.co8hm2var4k9.eu-west-1.rds.amazonaws.com\"}}, {\"addon_option\": {\"name\": \"config.free\"}, \"settings\": {\"CONFIG_VARS\": {\"our_test_var_key\": \"our_updated_test_var_value\", \"our_test_var_key2\": \"our_test_var_value2\"}}}]"},"http_version":null},"recorded_at":"Sat, 20 Jun 2015 09:58:14 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties69/deployment/paasal/addon/mysqls.free","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, PUT, DELETE, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties69/deployment/paasal/addon/mysqls.free"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"addon_option\": {\"name\": \"mysqls.free\"}, \"settings\": {\"MYSQLS_DATABASE\": \"depundfuet4\", \"MYSQLS_PASSWORD\": \"HQUDwK7D7qs_\", \"MYSQLS_PORT\": 3306, \"MYSQLS_USERNAME\": \"depundfuet4\", \"MYSQLS_HOSTNAME\": \"mysqlsdb.co8hm2var4k9.eu-west-1.rds.amazonaws.com\"}}"},"http_version":null},"recorded_at":"Sat, 20 Jun 2015 09:58:15 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/addon/mysqls","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/addon/mysqls"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"name\": \"mysqls\", \"stage\": \"public\", \"options\": [{\"name\": \"mysqls.free\", \"thirty_days_price\": \"0.00\", \"price_is_per_box\": false}, {\"name\": \"mysqls.512mb\", \"thirty_days_price\": \"3.90\", \"price_is_per_box\": false}, {\"name\": \"mysqls.20gb\", \"thirty_days_price\": \"12.90\", \"price_is_per_box\": false}]}"},"http_version":null},"recorded_at":"Sat, 20 Jun 2015 09:58:15 GMT"}],"recorded_with":"VCR 2.9.3"}