{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/05/20 00:02:10 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:01:59 GMT"},{"request":{"method":"post","uri":"https://api.heroku.com/apps","body":{"encoding":"UTF-8","string":"{\"name\":\"paasal-test-app-min-properties\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json"], "Location":["https://paasal-test-app-min-properties.herokuapp.com/"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global write write-protected"], "RateLimit-Remaining":["2324"], "Status":["201 Created"]},"body":{"encoding":"UTF-8","string":"{\"archived_at\":null,\"buildpack_provided_description\":null,\"build_stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"created_at\":\"2015-06-27T09:01:19Z\",\"id\":\"2d7ececc-e5d8-46ca-b78b-ab910da3df36\",\"git_url\":\"git@heroku.com:paasal-test-app-min-properties.git\",\"maintenance\":false,\"name\":\"paasal-test-app-min-properties\",\"owner\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"region\":{\"id\":\"59accabd-516d-4f0e-83e6-6e3757701145\",\"name\":\"us\"},\"released_at\":\"2015-06-27T09:01:19Z\",\"repo_size\":null,\"slug_size\":null,\"stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"updated_at\":\"2015-06-27T09:01:19Z\",\"web_url\":\"https://paasal-test-app-min-properties.herokuapp.com/\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:02:00 GMT"},{"request":{"method":"put","uri":"https://api.heroku.com/apps/2d7ececc-e5d8-46ca-b78b-ab910da3df36/buildpack-installations","body":{"encoding":"UTF-8","string":"{\"updates\":[{\"buildpack\":\"https://github.com/heroku/heroku-buildpack-nodejs\"}]}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["ordinal 0..0"], "Content-Type":["application/json"], "ETag":["\"87d7b85882f94ae872184eafce30ccd8\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global write write-protected"], "RateLimit-Remaining":["2323"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"buildpack\":{\"url\":\"https://github.com/heroku/heroku-buildpack-nodejs\"},\"ordinal\":0}]"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:02:02 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/2d7ececc-e5d8-46ca-b78b-ab910da3df36/dynos","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"ec5c5ae13434766108b9afb9a42e6364\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2322"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:02:03 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/2d7ececc-e5d8-46ca-b78b-ab910da3df36/formation","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"fc1eaed859b131d3e1df62a5e698584a\""], "Last-Modified":["Sat, 27 Jun 2015 09:01:21 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2321"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:02:03 GMT"},[...]
{"request":{"method":"get","uri":"https://api.heroku.com/apps/2d7ececc-e5d8-46ca-b78b-ab910da3df36/releases","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["version 1..2"], "Content-Type":["application/json"], "ETag":["\"4bcf6d1cf79b8c3a06c402abf292f420\""], "Last-Modified":["Sat, 27 Jun 2015 09:01:19 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read-protected write-protected"], "RateLimit-Remaining":["2319"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"app\":{\"id\":\"2d7ececc-e5d8-46ca-b78b-ab910da3df36\",\"name\":\"paasal-test-app-min-properties\"},\"created_at\":\"2015-06-27T09:01:19Z\",\"description\":\"Initial release\",\"id\":\"fa7eb9cd-4a8f-444a-a751-30e58d3ac973\",\"slug\":null,\"updated_at\":\"2015-06-27T09:01:19Z\",\"user\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"version\":1},{\"app\":{\"id\":\"2d7ececc-e5d8-46ca-b78b-ab910da3df36\",\"name\":\"paasal-test-app-min-properties\"},\"created_at\":\"2015-06-27T09:01:19Z\",\"description\":\"Enable Logplex\",\"id\":\"c68ce6f4-6fac-4bed-b34b-44bafdf305f0\",\"slug\":null,\"updated_at\":\"2015-06-27T09:01:19Z\",\"user\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"version\":2}]"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:02:05 GMT"}],"recorded_with":"VCR 2.9.3"}