{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/04/28 12:55:45 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:43:57 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/regions","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["name eu..us"], "Content-Type":["application/json"], "ETag":["\"2ec0b8af8efc327bfd1883a15aa73f08\""], "Last-Modified":["Thu, 19 Sep 2013 01:29:12 GMT"], "RateLimit-Remaining":["2318"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"created_at\":\"2013-09-19T01:29:12Z\",\"description\":\"Europe\",\"id\":\"ed30241c-ed8c-4bb6-9714-61953675d0b4\",\"name\":\"eu\",\"updated_at\":\"2013-09-19T01:29:12Z\"},{\"created_at\":\"2012-11-21T21:44:16Z\",\"description\":\"United States\",\"id\":\"59accabd-516d-4f0e-83e6-6e3757701145\",\"name\":\"us\",\"updated_at\":\"2013-04-05T10:13:06Z\"}]"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:43:58 GMT"},{"request":{"method":"post","uri":"https://api.heroku.com/apps","body":{"encoding":"UTF-8","string":"{\"name\":\"paasal-test-app-all-properties\",\"region\":\"59accabd-516d-4f0e-83e6-6e3757701145\"}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":201,"message":null},"headers":{"Content-Type":["application/json"], "Location":["https://paasal-test-app-all-properties.herokuapp.com/"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global write write-protected"], "RateLimit-Remaining":["2317"], "Status":["201 Created"]},"body":{"encoding":"UTF-8","string":"{\"archived_at\":null,\"buildpack_provided_description\":null,\"build_stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"created_at\":\"2015-05-14T06:43:58Z\",\"id\":\"1f35201d-1363-4ac1-9b8a-db35bf92e698\",\"git_url\":\"git@heroku.com:paasal-test-app-all-properties.git\",\"maintenance\":false,\"name\":\"paasal-test-app-all-properties\",\"owner\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"region\":{\"id\":\"59accabd-516d-4f0e-83e6-6e3757701145\",\"name\":\"us\"},\"released_at\":\"2015-05-14T06:43:58Z\",\"repo_size\":null,\"slug_size\":null,\"stack\":{\"id\":\"f9f9cbd7-2970-41ef-8db5-3df7123b041f\",\"name\":\"cedar-14\"},\"updated_at\":\"2015-05-14T06:43:58Z\",\"web_url\":\"https://paasal-test-app-all-properties.herokuapp.com/\"}"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:43:58 GMT"},{"request":{"method":"put","uri":"https://api.heroku.com/apps/1f35201d-1363-4ac1-9b8a-db35bf92e698/buildpack-installations","body":{"encoding":"UTF-8","string":"{\"updates\":[{\"buildpack\":\"https://github.com/heroku/heroku-buildpack-nodejs\"}]}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["ordinal 0..0"], "Content-Type":["application/json"], "ETag":["\"87d7b85882f94ae872184eafce30ccd8\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global write write-protected"], "RateLimit-Remaining":["2316"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"buildpack\":{\"url\":\"https://github.com/heroku/heroku-buildpack-nodejs\"},\"ordinal\":0}]"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:43:59 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/1f35201d-1363-4ac1-9b8a-db35bf92e698/dynos","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"ec5c5ae13434766108b9afb9a42e6364\""], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2315"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:44:00 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/1f35201d-1363-4ac1-9b8a-db35bf92e698/formation","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"a0e4a996f7fe721998c3433fda304f1a\""], "Last-Modified":["Thu, 14 May 2015 06:43:59 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read read-protected write write-protected"], "RateLimit-Remaining":["2314"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[]"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:44:00 GMT"},[...]
{"request":{"method":"get","uri":"https://api.heroku.com/apps/1f35201d-1363-4ac1-9b8a-db35bf92e698/releases","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Range":["version 1..2"], "Content-Type":["application/json"], "ETag":["\"c4d71362cba9c718e47fe671ee4e7c53\""], "Last-Modified":["Thu, 14 May 2015 06:43:58 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read-protected write-protected"], "RateLimit-Remaining":["2312"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"[{\"app\":{\"id\":\"1f35201d-1363-4ac1-9b8a-db35bf92e698\",\"name\":\"paasal-test-app-all-properties\"},\"created_at\":\"2015-05-14T06:43:58Z\",\"description\":\"Initial release\",\"id\":\"e63f4d1a-f0c0-4e09-bbb9-0a7a50ac86fd\",\"slug\":null,\"updated_at\":\"2015-05-14T06:43:58Z\",\"user\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"version\":1},{\"app\":{\"id\":\"1f35201d-1363-4ac1-9b8a-db35bf92e698\",\"name\":\"paasal-test-app-all-properties\"},\"created_at\":\"2015-05-14T06:43:58Z\",\"description\":\"Enable Logplex\",\"id\":\"868a1ff1-7b13-41ad-878a-8bee6b10aff1\",\"slug\":null,\"updated_at\":\"2015-05-14T06:43:58Z\",\"user\":{\"email\":\"__heroku:user__\",\"id\":\"__heroku:id__\"},\"version\":2}]"},"http_version":null},"recorded_at":"Thu, 14 May 2015 06:44:01 GMT"}],"recorded_with":"VCR 2.9.3"}