{"http_interactions":[{"request":{"method":"post","uri":"https://api.cloudcontrol.com/token","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["POST, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/token"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"{\"token\": \"__TOKEN__\", \"expires\": \"2015-05-18T19:28:38.159693\"}"},"http_version":null},"recorded_at":"Mon, 18 May 2015 19:13:38 GMT"},{"request":{"method":"get","uri":"https://api.cloudcontrol.com/app/paasaltestappallproperties66/deployment/paasal/alias","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Allow":["GET, POST, HEAD, OPTIONS"], "Content-Type":["application/json"], "x-host":["api.cloudcontrol.com"], "x-url":["/app/paasaltestappallproperties66/deployment/paasal/alias"], "X-varnish-cache":["MISS"]},"body":{"encoding":"UTF-8","string":"[{\"name\": \"paasal.paasaltestappallproperties66.cloudcontrolapp.com\", \"is_default\": true, \"is_verified\": true}, {\"name\": \"paasal-paasaltestappallproperties66.cloudcontrolapp.com\", \"is_default\": true, \"is_verified\": true}, {\"name\": \"paasal.paasaltestappallproperties66.cloudcontrolled.com\", \"is_default\": true, \"is_verified\": true}, {\"name\": \"paasal-paasaltestappallproperties66.cloudcontrolled.com\", \"is_default\": true, \"is_verified\": true}, {\"name\": \"cloudcontrol.adomainthatishopefullynotusedontheplatform.de\", \"is_default\": false, \"is_verified\": false}, {\"name\": \"adomainthatishopefullynotusedontheplatform.de\", \"is_default\": false, \"is_verified\": false}]"},"http_version":null},"recorded_at":"Mon, 18 May 2015 19:13:38 GMT"}],"recorded_with":"VCR 2.9.3"}