{"http_interactions":[{"request":{"method":"post","uri":"https://api.heroku.com/login?username=__heroku:user__&password=__heroku:password__","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"allow_tracking\":true,\"api_key\":\"__API_KEY__\",\"beta\":null,\"confirmed\":true,\"confirmed_at\":\"2014/11/18 01:37:21 -0800\",\"created_at\":\"2014/11/18 01:37:21 -0800\",\"id\":\"__USER_ID__@users.heroku.com\",\"email\":\"__heroku:user__\",\"last_login\":\"2015/04/23 03:07:51 -0700\",\"name\":\" \",\"updated_at\":\"2015/06/27 02:29:50 -0700\",\"verified\":true,\"verified_at\":\"2015/04/13 09:46:27 -0700\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:32:01 GMT"},{"request":{"method":"get","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated/config-vars","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"ef77dfb190fe75ce7037e2a771851c3f\""], "Last-Modified":["Sat, 27 Jun 2015 09:30:19 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global read-protected write-protected"], "RateLimit-Remaining":["2333"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"our_test_var_key\":\"our_updated_test_var_value\",\"our_test_var_key2\":\"our_test_var_value2\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:32:02 GMT"},{"request":{"method":"patch","uri":"https://api.heroku.com/apps/paasal-test-app-all-updated/config-vars","body":{"encoding":"UTF-8","string":"{\"our_test_var_key\":null}"},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json"], "ETag":["\"ef77dfb190fe75ce7037e2a771851c3f\""], "Last-Modified":["Sat, 27 Jun 2015 09:30:19 GMT"], "Oauth-Scope":["global"], "Oauth-Scope-Accepted":["global write-protected"], "RateLimit-Remaining":["2332"], "Status":["200 OK"]},"body":{"encoding":"UTF-8","string":"{\"our_test_var_key2\":\"our_test_var_value2\"}"},"http_version":null},"recorded_at":"Sat, 27 Jun 2015 09:32:03 GMT"}],"recorded_with":"VCR 2.9.3"}