{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["89624bd7-ecb6-4131-7522-58c868883003"], "X-Vcap-Request-Id":["f27d698c-ee0c-4c83-626e-1a661c22686e::163829bc-ea76-4dd3-a4c7-9e811cecce71"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:29:57 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["222b2abc-2b79-475c-7e84-f9e861218518, 6a76c7f7-504d-4a82-4fa6-e3f62005643b"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"f54cbe68-bdf2-4312-9eca-ded1818a6aa2\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:29:57 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-all-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["2b7a1d22-ebc7-4729-6489-2d01e401fffe"], "X-Vcap-Request-Id":["311e4443-979d-467e-7e4d-6599a6bf29cd::a72e82f1-bfe6-4c04-ac91-9de081d3b002"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"b45e0373-49a8-4e70-b38f-76aeae572a16\",\n        \"url\": \"/v2/apps/b45e0373-49a8-4e70-b38f-76aeae572a16\",\n        \"created_at\": \"2015-04-24T08:29:25+00:00\",\n        \"updated_at\": \"2015-04-24T08:29:57+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-all-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_updated_test_var_value\",\n          \"our_test_var_key2\": \"our_test_var_value2\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"a59f1dfe-5f85-4b79-b618-18585cbdecfa\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-04-24T08:29:57+00:00\",\n        \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/b45e0373-49a8-4e70-b38f-76aeae572a16/events\",\n        \"service_bindings_url\": \"/v2/apps/b45e0373-49a8-4e70-b38f-76aeae572a16/service_bindings\",\n        \"routes_url\": \"/v2/apps/b45e0373-49a8-4e70-b38f-76aeae572a16/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:29:57 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/b45e0373-49a8-4e70-b38f-76aeae572a16","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["7ef647eb-6657-4b51-6032-1730ec733517"], "X-Vcap-Request-Id":["e044c8c2-bd98-48e9-5d5c-ee792055e62d::08ba5642-7[...]
{"request":{"method":"head","uri":"https://api.10.244.0.34.xip.io/v2/apps/b45e0373-49a8-4e70-b38f-76aeae572a16/download","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Etag":["\"5539ff05-20e7d0\""], "Last-Modified":["Fri, 24 Apr 2015 08:29:57 GMT"], "X-Cf-Requestid":["9537169c-8281-462d-6231-fe2f7228cbbb"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:29:57 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/b45e0373-49a8-4e70-b38f-76aeae572a16/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["1ecddef0-60f9-4722-70f3-5b17d0d41a4c"], "X-Vcap-Request-Id":["c32737a3-98f0-4641-55b8-2f4fdf0f6fab::c634257a-ce5f-42ad-b23e-0baa5c224c7b"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 3,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"f7cfe393-0283-43eb-999e-3cfd1ee94446\",\n        \"url\": \"/v2/routes/f7cfe393-0283-43eb-999e-3cfd1ee94446\",\n        \"created_at\": \"2015-04-24T08:29:25+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"b45e0373-49a8-4e70-b38f-76aeae572a16\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/f7cfe393-0283-43eb-999e-3cfd1ee94446/apps\"\n      }\n    },\n    {\n      \"metadata\": {\n        \"guid\": \"6688cd4b-4594-482c-98e0-93a555931379\",\n        \"url\": \"/v2/routes/6688cd4b-4594-482c-98e0-93a555931379\",\n        \"created_at\": \"2015-04-24T08:29:42+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"cf-bosh-local\",\n        \"domain_guid\": \"37076f61-480e-4dc3-b301-5b8c8934ce4d\",\n        \"space_guid\": \"d3483f4f-6706[...]
{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["28a54878-2754-48ab-5cf7-b9f1bc73dc22"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["1689c547-767c-421e-43ce-02852cdc1316::0645c802-12d3-4b52-b6bf-3d0e2fb8fb31"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:29:57 GMT"}],"recorded_with":"VCR 2.9.3"}