{"http_interactions":[{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/info","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["66ee531d-c946-46cd-74d9-5b2b8ca52d91"], "X-Vcap-Request-Id":["70e714ef-6a3e-424b-611b-6fb57064c2f6::bd166abe-73bd-46fc-9d00-a9e5e0f21dd6"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"vcap\",\"build\":\"2222\",\"support\":\"http://support.cloudfoundry.com\",\"version\":2,\"description\":\"Cloud Foundry sponsored by Pivotal\",\"authorization_endpoint\":\"http://login.10.244.0.34.xip.io\",\"token_endpoint\":\"https://uaa.10.244.0.34.xip.io\",\"api_version\":\"2.18.0\",\"logging_endpoint\":\"wss://loggregator.10.244.0.34.xip.io:443\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:30:00 GMT"},{"request":{"method":"post","uri":"http://login.10.244.0.34.xip.io/oauth/token?grant_type=password&password=__cf-bosh-local:user__&username=__cf-bosh-local:user__","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=UTF-8"], "X-Cf-Requestid":["a78c557e-4ac9-4b9b-68ff-e40e61172a6f, 721ece5f-e51e-4f64-4993-b18e3260fa18"]},"body":{"encoding":"UTF-8","string":"{\"access_token\":\"__ACCESS_TOKEN__\",\"token_type\":\"bearer\",\"refresh_token\":\"__REFRESH_TOKEN__\",\"expires_in\":599,\"scope\":\"scim.userids cloud_controller.write password.write openid cloud_controller.read\",\"jti\":\"c8469ff2-ae58-4f35-a226-943f964303a9\"}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:30:00 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps?q=name%3Apaasal-test-app-min-updated","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["7d6da78c-74b4-468a-473e-f4f65b33c069"], "X-Vcap-Request-Id":["83d02916-ae83-43c4-62fd-aabe947d41e0::66d93c96-fdfe-4dee-bbb5-bbdad790e758"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"36352def-b71b-4673-8cde-0a738525b63c\",\n        \"url\": \"/v2/apps/36352def-b71b-4673-8cde-0a738525b63c\",\n        \"created_at\": \"2015-04-24T08:29:26+00:00\",\n        \"updated_at\": \"2015-04-24T08:29:59+00:00\"\n      },\n      \"entity\": {\n        \"name\": \"paasal-test-app-min-updated\",\n        \"production\": false,\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_guid\": \"b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"buildpack\": \"nodejs_buildpack\",\n        \"detected_buildpack\": null,\n        \"environment_json\": {\n          \"our_test_var_key\": \"our_test_var_value\"\n        },\n        \"memory\": 256,\n        \"instances\": 1,\n        \"disk_quota\": 1024,\n        \"state\": \"STOPPED\",\n        \"version\": \"221ea7b0-31bb-4d3c-ba41-5ee7e1244814\",\n        \"command\": null,\n        \"console\": false,\n        \"debug\": null,\n        \"staging_task_id\": null,\n        \"package_state\": \"PENDING\",\n        \"health_check_timeout\": null,\n        \"staging_failed_reason\": null,\n        \"docker_image\": null,\n        \"package_updated_at\": \"2015-04-24T08:29:59+00:00\",\n        \"detected_start_command\": \"\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"stack_url\": \"/v2/stacks/b4d24013-b385-4db1-a171-b4e151a87c46\",\n        \"events_url\": \"/v2/apps/36352def-b71b-4673-8cde-0a738525b63c/events\",\n        \"service_bindings_url\": \"/v2/apps/36352def-b71b-4673-8cde-0a738525b63c/service_bindings\",\n        \"routes_url\": \"/v2/apps/36352def-b71b-4673-8cde-0a738525b63c/routes\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:30:00 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/36352def-b71b-4673-8cde-0a738525b63c","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["ef184cc0-42c8-4e27-45c5-b28f77694261"], "X-Vcap-Request-Id":["9087b2e5-4b85-4f86-4d18-40ae83c2621d::671d574a-0[...]
{"request":{"method":"head","uri":"https://api.10.244.0.34.xip.io/v2/apps/36352def-b71b-4673-8cde-0a738525b63c/download","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "Etag":["\"5539ff07-20e7d0\""], "Last-Modified":["Fri, 24 Apr 2015 08:29:59 GMT"], "X-Cf-Requestid":["9d9ff3b7-ca57-4dbd-5131-455f04af048e"]},"body":{"encoding":"UTF-8","string":""},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:30:00 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/apps/36352def-b71b-4673-8cde-0a738525b63c/routes","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["84c9a5b1-65eb-4ff7-4115-1ab1ab73d452"], "X-Vcap-Request-Id":["37e02e94-0255-4c44-5917-0b945f14e178::7a0d7e4f-2e4c-43d0-bd38-bfdf2411e66b"]},"body":{"encoding":"UTF-8","string":"{\n  \"total_results\": 1,\n  \"total_pages\": 1,\n  \"prev_url\": null,\n  \"next_url\": null,\n  \"resources\": [\n    {\n      \"metadata\": {\n        \"guid\": \"d52b5bc1-ccde-4d17-85fb-b81c4afb5ec0\",\n        \"url\": \"/v2/routes/d52b5bc1-ccde-4d17-85fb-b81c4afb5ec0\",\n        \"created_at\": \"2015-04-24T08:29:26+00:00\",\n        \"updated_at\": null\n      },\n      \"entity\": {\n        \"host\": \"36352def-b71b-4673-8cde-0a738525b63c\",\n        \"domain_guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_guid\": \"d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"domain_url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n        \"space_url\": \"/v2/spaces/d3483f4f-6706-4fe1-ad90-1bd45d50e940\",\n        \"apps_url\": \"/v2/routes/d52b5bc1-ccde-4d17-85fb-b81c4afb5ec0/apps\"\n      }\n    }\n  ]\n}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:30:00 GMT"},{"request":{"method":"get","uri":"https://api.10.244.0.34.xip.io/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36","body":{"encoding":"US-ASCII","string":""},"headers":{"Authorization":["__AUTHORIZATION__"], "Basic":["Y2Y6"], "Content-Type":["application/json"]}},"response":{"status":{"code":200,"message":null},"headers":{"Content-Type":["application/json;charset=utf-8"], "X-Cf-Requestid":["22b27a86-6cf4-4c27-4d45-e8eb6b65d4fd"], "X-Cf-Warnings":["Endpoint+deprecated"], "X-Vcap-Request-Id":["d6c75214-060c-4d5b-4481-9e73027a9252::e3423e08-3a38-4a84-be29-22e9533feb21"]},"body":{"encoding":"UTF-8","string":"{\n  \"metadata\": {\n    \"guid\": \"0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"url\": \"/v2/domains/0a7ac015-b059-47d3-b1a2-873a6e370f36\",\n    \"created_at\": \"2014-12-05T16:23:46+00:00\",\n    \"updated_at\": \"2015-03-19T07:07:29+00:00\"\n  },\n  \"entity\": {\n    \"name\": \"10.244.0.34.xip.io\"\n  }\n}"},"http_version":null},"recorded_at":"Fri, 24 Apr 2015 08:30:00 GMT"}],"recorded_with":"VCR 2.9.3"}